Repository IgniteUI/igniteui-angular, pull requests merged in 2018-10, with the labels that each got.

#2665 style(chip) remove chip margin from component and add it to the sample
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  src/app/chips/chips.sample.css
Labels: chips, samples, styling, theme, version: 6.1.x

#2666 style(chip) remove chip margin from component and add it to the sample
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  src/app/chips/chips.sample.css
Labels: chips, styling, theme, version: 6.2.x

#2661 igxIcon - Introduce support for custom SVG icons
  CHANGELOG.md
  projects/igniteui-angular/src/lib/avatar/avatar.component.html
  projects/igniteui-angular/src/lib/badge/badge.component.html
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup-content.component.html
  projects/igniteui-angular/src/lib/calendar/calendar.component.html
  projects/igniteui-angular/src/lib/carousel/carousel.component.html
  projects/igniteui-angular/src/lib/chips/README.md
  projects/igniteui-angular/src/lib/chips/chip.component.html
  projects/igniteui-angular/src/lib/chips/chip.spec.ts
  projects/igniteui-angular/src/lib/chips/chips-area.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/core/styles/components/icon/_icon-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon/_icon-theme.scss
  projects/igniteui-angular/src/lib/grid/grid-toolbar.component.html
  projects/igniteui-angular/src/lib/grid/grid.component.html
  projects/igniteui-angular/src/lib/grid/groupby-row.component.html
  projects/igniteui-angular/src/lib/icon/README.md
  projects/igniteui-angular/src/lib/icon/icon.component.html
  projects/igniteui-angular/src/lib/icon/icon.component.ts
  projects/igniteui-angular/src/lib/icon/icon.service.spec.ts
  projects/igniteui-angular/src/lib/icon/icon.service.ts
  projects/igniteui-angular/src/lib/icon/index.ts
  projects/igniteui-angular/src/lib/input-group/README.md
  projects/igniteui-angular/src/lib/navbar/navbar.component.html
  projects/igniteui-angular/src/lib/navbar/navbar.component.ts
  projects/igniteui-angular/src/lib/navigation-drawer/README.md
  projects/igniteui-angular/src/lib/tabbar/tab.component.html
  projects/igniteui-angular/src/lib/tabs/tab-item.component.html
  projects/igniteui-angular/src/lib/tabs/tabs.component.html
  src/app/app.component.html
  src/app/bottomnav/bottomnav.sample.html
  src/app/button/button.sample.html
  src/app/card/card.sample.html
  src/app/chips/chips.sample.html
  src/app/icon/icon.sample.html
  src/app/icon/icon.sample.ts
  src/app/input-group/input-group.sample.html
  src/app/list-panning/list-panning.sample.html
  src/app/list-performance/list-performance.sample.html
  src/app/list/list.sample.html
  src/app/navbar/navbar.sample.html
  src/app/pageHeading/pageHeading.template.html
  src/app/progressbar/progressbar.sample.html
  src/app/tabs/tabs.sample.html
  src/assets/svg/filtering/contains.svg
  src/assets/svg/filtering/does_not_contain.svg
  src/assets/svg/filtering/does_not_equal.svg
  src/assets/svg/filtering/ends_with.svg
  src/assets/svg/filtering/equals.svg
  src/assets/svg/filtering/is_empty.svg
  src/assets/svg/filtering/starts_with.svg
  src/index.html
Labels: icon, status: verified, version: 6.2.x

#2674 feat(drag/drop): Expose drop data for the igxDrop directive. #2629
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/dragdrop/dragdrop.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/dragdrop/dragdrop.directive.ts
  projects/igniteui-angular/src/lib/directives/dragdrop/dragdrop.spec.ts
Labels: drag-drop, feature, status: verified, version: 6.2.x

#2679 Implement Azure Pipelines in 6.1.x branch
  azure-pipelines.yml
  gulpfile.js
  package-lock.json
  package.json
  projects/igniteui-angular/karma.azure.conf.js
  projects/igniteui-angular/src/lib/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.component.spec.ts
Labels: build, status: verified

#2676 Keeping time portion when selecting date
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: status: verified, version: 6.2.x

#2678 Keeping time portion when selecting date (6.1.x)
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: status: verified, version: 6.1.x

#2684 Add missing docs for tooltip classes
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
Labels: status: verified, tooltip, version: 6.2.x

#2658 Add more information regarding cancelling the default igxDrop directive drop logic.
  projects/igniteui-angular/src/lib/directives/dragdrop/README.md
  projects/igniteui-angular/src/lib/directives/dragdrop/dragdrop.directive.ts
Labels: documentation, drag-drop

#2693 feat(input-group): make the input group display density sensitive
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: input-group, theme, version: 6.2.x

#2689 style(nav-bar): update left/right margins to match direct children #2688
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
Labels: nav-bar, status: verified, styling, version: 6.2.x

#2695 Add support in IgxIconService to cache SVG icons from text
  projects/igniteui-angular/src/lib/icon/icon.service.spec.ts
  projects/igniteui-angular/src/lib/icon/icon.service.ts
Labels: icon, status: verified

#2698 refactor(themes): allow igx-theme to build from a preset of component themes
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/_ocean-blue.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-midnight.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/midnight/_index.scss
Labels: refactoring, status: verified, theme

#2699 [DO NOT MERGE] build(demos): switch to hmr for the demos app
  angular.json
  gulpfile.js
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  src/app/app.component.ts
  src/app/drop-down/drop-down.sample.scss
  src/app/overlay/overlay-animation.sample.scss
  src/app/pageHeading/pageHeading.styles.scss
  src/app/styleguide/colors/color.sample.scss
  src/environments/environment.hmr.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/hmr.ts
  src/index.html
  src/main.ts
  src/styles/igniteui-theme.scss
  src/tsconfig.app.json
  tsconfig.json
Labels: build, demos, refactoring, version: 6.2.x

#2702 replace using of toDateString with getTime in calendar
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
  projects/igniteui-angular/src/lib/calendar/calendar.directives.ts
  projects/igniteui-angular/src/lib/calendar/calendar.ts
  projects/igniteui-angular/src/lib/grid/grid-filtering-ui.spec.ts
Labels: calendar, enhancement, status: verified, version: 6.1.x

#2686 docs(exporters): adding API typedoc
  projects/igniteui-angular/src/lib/services/csv/csv-exporter-options.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-options.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/services/exporter-common/exporter-options-base.ts
Labels: exporters, status: verified, version: 6.2.x

#2694 Fix icons in tooltip demo
  src/app/tooltip/tooltip.sample.html
Labels: status: verified, tooltip, version: 6.2.x

#2708 docs(readme): update instructions for running the demos app
  README.md
Labels: build, documentation

#2643 Adding the "hideGroupedColumns" igxGrid input
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grid/README.md
  projects/igniteui-angular/src/lib/grid/column.component.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grid/grid.groupby.spec.ts
  src/app/grid-groupby/grid-groupby.sample.css
  src/app/grid-groupby/grid-groupby.sample.html
  src/app/grid-groupby/grid-groupby.sample.ts
Labels: feature-request, grid, groupby, status: verified, version: 6.2.x

#2690 replace toLocaleDateString in calendar with Intl.DateTimeFormat
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
Labels: calendar, enhancement, status: verified, version: 6.2.x

#2710 Migrations for IgxIconComponent breaking changes
  .vscode/launch.json
  projects/igniteui-angular/migrations/common/UpdateChanges.spec.ts
  projects/igniteui-angular/migrations/common/UpdateChanges.ts
  projects/igniteui-angular/migrations/common/schema/binding.schema.json
  projects/igniteui-angular/migrations/common/schema/index.ts
  projects/igniteui-angular/migrations/update-6_2/changes/inputs.json
  projects/igniteui-angular/migrations/update-6_2/index.spec.ts
  projects/igniteui-angular/migrations/update-6_2/index.ts
  projects/igniteui-angular/src/lib/icon/icon.component.html
  projects/igniteui-angular/src/lib/icon/icon.component.ts
Labels: icon, migrations, status: verified

#2716 docs(icon): Update the Changelog (#2613)
  CHANGELOG.md
Labels: documentation, icon

#2696 Fixing async issues in searching tests.
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.spec.ts
Labels: global-search, severity: high, status: verified, tests

#2677 IxgGrid keyboard navigation improvements
  package-lock.json
  projects/igniteui-angular/src/lib/chips/chip.spec.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grid/cell.component.ts
  projects/igniteui-angular/src/lib/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grid/column-moving.spec.ts
  projects/igniteui-angular/src/lib/grid/column.component.ts
  projects/igniteui-angular/src/lib/grid/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grid/grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.common.ts
  projects/igniteui-angular/src/lib/grid/grid.component.html
  projects/igniteui-angular/src/lib/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grid/groupby-row.component.html
  projects/igniteui-angular/src/lib/grid/groupby-row.component.ts
  projects/igniteui-angular/src/lib/grid/row.component.html
  projects/igniteui-angular/src/lib/grid/row.component.ts
  projects/igniteui-angular/src/lib/test-utils/helper-utils.spec.ts
Labels: grid, keyboard-navigation, status: verified, version: 6.2.x

#2721 Small refactoring for icon migrations
  projects/igniteui-angular/migrations/common/UpdateChanges.ts
Labels: icon, status: verified

#2727 Call detectChanges and clear summaries synchronously
  projects/igniteui-angular/src/lib/grid/api.service.ts
  projects/igniteui-angular/src/lib/grid/grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
Labels: grid, status: verified, version: 6.1.x

#2726 Call detectChanges and clear summaries synchronously
  projects/igniteui-angular/src/lib/grid/api.service.ts
  projects/igniteui-angular/src/lib/grid/grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
Labels: grid, status: verified, version: 6.2.x

#2731 Set condition, when reseting filter expression
  projects/igniteui-angular/src/lib/grid/grid-filtering-expression.component.ts
Labels: grid, status: verified, version: 6.2.x

#2724 fix(selection): accept 0 as itemID
  projects/igniteui-angular/src/lib/core/selection.spec.ts
  projects/igniteui-angular/src/lib/core/selection.ts
Labels: selection, status: verified, version: 6.1.x

#2725 fix(selection): accept 0 as itemID
  projects/igniteui-angular/src/lib/core/selection.spec.ts
  projects/igniteui-angular/src/lib/core/selection.ts
Labels: selection, status: verified, version: 6.2.x

#2704 feat(typedoc theme): allow shell localization typedoc theme
  extras/docs/themes/typedoc/src/partials/breadcrumb.hbs
  extras/docs/themes/typedoc/src/partials/member.declaration.hbs
  extras/docs/themes/typedoc/src/partials/member.signature.body.hbs
  extras/docs/themes/typedoc/src/partials/member.sources.hbs
  extras/docs/themes/typedoc/src/templates/reflection.hbs
Labels: status: verified, theme, typedoc, version: 6.2.x

#2668 Docs - IgxExpansionPanel - Remove unnecessary exports from public_api
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.directives.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.module.ts
  projects/igniteui-angular/src/lib/expansion-panel/index.ts
Labels: expansion-panel, status: awaiting-test, version: 6.2.x

#2715 fix(button-theme): adjust the background color for all states
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  src/app/button/button.sample.html
  src/styles/igniteui-theme.scss
Labels: button-theme, status: verified, version: 6.2.x

#2741 chore(*): Updating node version for travis
  .travis.yml
  projects/igniteui-angular/karma.azure.conf.js
  projects/igniteui-angular/karma.conf.js
Labels: build, tests, travis-ci, version: 6.2.x

#2719 Variable Heights implementation
  CHANGELOG.md
  package-lock.json
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/directives/for-of/virtual.helper.component.ts
  projects/igniteui-angular/src/lib/grid/README.md
  projects/igniteui-angular/src/lib/grid/cell.component.ts
  projects/igniteui-angular/src/lib/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grid/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grid/row.component.ts
  src/app/gird-cell-styling/grid-cell-styling.sample.scss
  src/app/grid-performance/grid-performance.sample.html
  src/app/grid-remote-virtualization/grid-remote-virtualization.sample.ts
  src/app/virtual-for-directive/virtual-for.sample.html
  src/app/virtual-for-directive/virtual-for.sample.ts
Labels: feature, status: verified, version: 6.2.x, virtualization

#2739 Remove default classes applied to prefix and suffix so they can be used in multiple component. Style them specifically.
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/chip.spec.ts
  projects/igniteui-angular/src/lib/chips/chips.module.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/directives/prefix/prefix.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/prefix/prefix.directive.ts
  projects/igniteui-angular/src/lib/directives/suffix/suffix.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/suffix/suffix.directive.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
Labels: chips, input-group, status: verified, version: 6.2.x

#2748 Implement Display Density DI Token
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/chip.spec.ts
  projects/igniteui-angular/src/lib/core/displayDensity.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grid/grid-summary.component.ts
  projects/igniteui-angular/src/lib/grid/grid-toolbar.component.ts
  projects/igniteui-angular/src/lib/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
  projects/igniteui-angular/src/lib/input-group/input-group.directive.spec.ts
  src/app/app.module.ts
  src/app/grid-groupby/grid-groupby.sample.html
  src/app/grid-groupby/grid-groupby.sample.ts
  src/app/grid-toolbar/grid-toolbar.sample.ts
  src/app/input-group/input-group-child.sample.html
  src/app/input-group/input-group-child.sample.ts
  src/app/input-group/input-group.sample.css
  src/app/input-group/input-group.sample.html
Labels: input-group, status: verified, version: 6.2.x

#2743 feat(shell-gen): update typedoc versions and expose shell gen cmd
  extras/template/strings/shell-strings.json
  gulpfile.js
  package-lock.json
  package.json
Labels: documentation, status: verified, typedoc, version: 6.2.x

#2713 Refactor chips so that they can be easier to style.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/chips/README.md
  projects/igniteui-angular/src/lib/chips/chip.component.html
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/chip.spec.ts
  projects/igniteui-angular/src/lib/chips/chips-area.component.ts
  projects/igniteui-angular/src/lib/chips/chips-area.spec.ts
  projects/igniteui-angular/src/lib/chips/chips.module.ts
  projects/igniteui-angular/src/lib/chips/connector.directive.spec.ts
  projects/igniteui-angular/src/lib/chips/connector.directive.ts
  projects/igniteui-angular/src/lib/chips/index.ts
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/directives/dragdrop/dragdrop.directive.ts
  projects/igniteui-angular/src/lib/grid/grid.component.html
  projects/igniteui-angular/src/lib/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grid/grid.groupby.spec.ts
  src/app/chips/chips.sample.css
  src/app/chips/chips.sample.html
  src/app/chips/chips.sample.scss
  src/app/chips/chips.sample.ts
  src/assets/images/avatar/23.jpg
  src/assets/images/avatar/24.jpg
Labels: chips, status: verified, version: 6.2.x

#2753 Demonstrate display density factory method
  src/app/app.module.ts
Labels: display-density, status: verified, version: 6.2.x

#2761 chore(*): Fixing a test for grid empty messages
  projects/igniteui-angular/src/lib/grid/grid.component.spec.ts
Labels: tests, version: 6.2.x

#2723 replace using of toDateString with getTime in calendar
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
  projects/igniteui-angular/src/lib/calendar/calendar.directives.ts
  projects/igniteui-angular/src/lib/calendar/calendar.ts
  projects/igniteui-angular/src/lib/grid/grid-filtering-ui.spec.ts
Labels: calendar, enhancement, status: verified, version: 6.2.x

#2755 Remove outlet from date-picker in edit template
  projects/igniteui-angular/src/lib/grid/cell.component.html
Labels: cell-editing, grid, status: verified, version: 6.2.x

#2737 docs(igxOverlay): update README.md for scroll strategies
  projects/igniteui-angular/src/lib/services/overlay/README.md
  projects/igniteui-angular/src/lib/services/overlay/scroll/README.md
Labels: documentation, overlay, squash-merge, status: verified, version: 6.2.x

#2744 fix(grid-toolbar): update toolbar to use outlets for dropdowns
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grid/grid-toolbar.component.ts
  projects/igniteui-angular/src/lib/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.component.html
  projects/igniteui-angular/src/lib/grid/grid.component.ts
Labels: grid, grid-toolbar, status: verified, styling, version: 6.2.x

#2759 Adding type for groupingExpressions
  projects/igniteui-angular/src/lib/grid/grid.component.ts
Labels: grid, groupby, status: verified, version: 6.1.x

#2768 Changing the sorting for Multi Column Headers sorting tests
  projects/igniteui-angular/src/lib/grid/column-group.spec.ts
Labels: multi-column-headers, refactoring, sorting, tests, version: 6.2.x

#2769 Changing the sorting for Multi Column Headers sorting tests
  projects/igniteui-angular/src/lib/grid/column-group.spec.ts
Labels: multi-column-headers, sorting, tests, version: 6.1.x

#2760 Adding type for groupingExpressions
  projects/igniteui-angular/src/lib/grid/grid.component.ts
Labels: grid, groupby, status: verified, version: 6.2.x

#2779 Extract dropdown element indexes in a deterministic way
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: combo, tests, version: 6.2.x

#2772 chore(*): Fixing a test for grid empty messages
  projects/igniteui-angular/src/lib/grid/grid.component.spec.ts
Labels: grid, tests, version: 6.1.x

#2781 Extract dropdown element indexes in a deterministic way
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: combo, tests, version: 6.1.x

#2738 Add new keyboard navigation tests
  projects/igniteui-angular/src/lib/grid/cell.component.ts
  projects/igniteui-angular/src/lib/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grid/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grid/grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.component.html
  projects/igniteui-angular/src/lib/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grid/grid.groupby.spec.ts
Labels: enhancement, grid, status: verified, tests, version: 6.2.x

#2782 Grid Keyboard navigation improvements
  projects/igniteui-angular/src/lib/grid/cell.component.ts
  projects/igniteui-angular/src/lib/grid/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grid/grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grid/groupby-row.component.ts
  projects/igniteui-angular/src/lib/grid/row.component.ts
  src/app/grid-cellEditing/grid-cellEditing.component.html
  src/app/grid-cellEditing/grid-cellEditing.component.ts
  src/app/grid-groupby/grid-groupby.sample.html
  src/app/grid-groupby/grid-groupby.sample.ts
  src/app/grid-performance/grid-performance.sample.html
Labels: grid, keyboard-navigation, status: verified, version: 6.2.x

#2794 Dkamburov/fixing 2607
  projects/igniteui-angular/src/lib/chips/chips-area.component.ts
  projects/igniteui-angular/src/lib/directives/dragdrop/dragdrop.directive.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
Labels: version: 6.2.x

#2784 chore(gulp): Update gulp in order to build typedoc en local
  gulpfile.js
  package.json
Labels: npm, status: verified, typedoc, version: 6.2.x

#2771 Input group improvements
  projects/igniteui-angular/src/lib/core/displayDensity.ts
  projects/igniteui-angular/src/lib/input-group/README.md
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
  projects/igniteui-angular/src/lib/input-group/input-group.directive.spec.ts
  src/app/input-group/input-group.sample.html
Labels: input-group, status: verified, version: 6.2.x

#2786 Fix sorting and groupby expression not syncing when there are already sorted columns.
  projects/igniteui-angular/src/lib/chips/chips-area.component.ts
  projects/igniteui-angular/src/lib/directives/dragdrop/dragdrop.directive.ts
  projects/igniteui-angular/src/lib/grid/api.service.ts
  projects/igniteui-angular/src/lib/grid/grid.component.html
  projects/igniteui-angular/src/lib/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grid/grid.groupby.spec.ts
Labels: groupby, sorting, status: verified, version: 6.1.x

#2770 Fix chip area not taking into account custom classes set as an attribute.
  projects/igniteui-angular/src/lib/chips/chips-area.component.ts
  projects/igniteui-angular/src/lib/chips/chips-area.spec.ts
Labels: chips, status: verified, version: 6.2.x

#2787 Fix sorting and groupby expressions not syncing when there are already sorted columns.
  projects/igniteui-angular/src/lib/grid/api.service.ts
  projects/igniteui-angular/src/lib/grid/grid.groupby.spec.ts
Labels: groupby, sorting, status: verified, version: 6.2.x

#2809 Translated shell strings.
  extras/template/strings/shell-strings.json
Labels: documentation, status: localized, status: verified, typedoc, version: 6.2.x

#2808 test(Exporters): #2530 Adding .spec to test files.
  projects/igniteui-angular/src/lib/services/excel/jszip-helper.spec.ts
  projects/igniteui-angular/src/lib/services/excel/jszip-verification-wrapper.spec.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/components-declarations.spec.ts
Labels: exporters, tests, version: 6.1.x

#2802 Make onOpening and onClosing events of igxDropDown cancelable, #2798
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
  projects/igniteui-angular/src/lib/drop-down/README.md
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.html
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/services/overlay/README.md
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
  projects/igniteui-angular/src/lib/services/overlay/utilities.ts
Labels: combo, dropdown, overlay, status: verified, toggle, version: 6.2.x

#2752 new group row selection styles
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grid/groupby-row.component.html
Labels: status: verified, theme, version: 6.2.x

#2706 feat(toggle-action): set `overlaySettings` position target if empty
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/position/connected-positioning-strategy.ts
Labels: status: verified, toggle, version: 6.2.x

#2777 fix(drop-down): Added a new event argument to onSelection #2031
  CHANGELOG.md
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  src/app/drop-down/drop-down.sample.html
  src/app/drop-down/drop-down.sample.ts
Labels: drag-drop, status: verified, version: 6.2.x

#2816 #2411 add default z-index to overlay wrapper
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-theme.scss
Labels: overlay, status: verified, styling, version: 6.2.x

#2807 test(Exporters): #2530 Adding .spec to test files.
  projects/igniteui-angular/src/lib/services/excel/jszip-helper.spec.ts
  projects/igniteui-angular/src/lib/services/excel/jszip-verification-wrapper.spec.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/components-declarations.spec.ts
Labels: exporters, tests, version: 6.2.x

#2812 Adding takeUntil and removeEventListeners where needed
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
  projects/igniteui-angular/src/lib/grid/column-hiding.component.ts
  projects/igniteui-angular/src/lib/grid/grid-header.component.ts
  projects/igniteui-angular/src/lib/grid/grid.common.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
Labels: refactoring, version: 6.2.x

#2824 Theme engine fix
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
Labels: status: verified, theme, version: 6.2.x

#2819 fix(*): Added a note in change log, exported display density enums #2748
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/density.ts
  projects/igniteui-angular/src/public_api.ts
Labels: input-group, status: verified, version: 6.2.x

#2813 fix(*): IE11 related visual fixes
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/radio/radio.component.ts
  projects/igniteui-angular/src/lib/switch/switch.component.ts
Labels: checkbox, input-group, radio-button, status: verified, switch, version: 6.2.x

#2830 Resize overlay on grid resize
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid.common.ts
Labels: grid, row-editing, status: verified, version: 6.2.x

#2832 Don't allow editing on deleted row
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: batch-editing, grid, row-editing, status: verified, version: 6.2.x

#2842 Add z-index to paging in order to be top of the row editor overlay
  projects/igniteui-angular/src/lib/core/styles/components/grid-paginator/_grid-paginator-theme.scss
Labels: grid, row-editing, status: verified, version: 6.2.x

#2834 Add documentation in source code, #2735
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
  projects/igniteui-angular/src/lib/services/overlay/position/IPositionStrategy.ts
  projects/igniteui-angular/src/lib/services/overlay/scroll/IScrollStrategy.ts
Labels: documentation, overlay, status: verified, version: 6.2.x

#2839 Fix - Row Edit - Row Edit properly updates data entry
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: row-editing, status: verified, version: 6.2.x

#2826 feat(igxFocus): allow igxFocus to work with custom editors #2456
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.spec.ts
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/core/edit-provider.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/directives/focus/focus.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/focus/focus.directive.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/radio/radio.component.spec.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
  projects/igniteui-angular/src/lib/switch/switch.component.spec.ts
  projects/igniteui-angular/src/lib/switch/switch.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: cell-editing, grid, status: verified, version: 6.2.x

#2825 fix(grid): fixing cause for startIndex to become negative #2800 #2795
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-base-components.spec.ts
Labels: grid, paging, status: verified, version: 6.2.x, virtualization

#2648 Fixing the onGroupingDone event #2645 #2644 #2711
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/grid/grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  src/app/grid-groupby/grid-groupby.sample.html
  src/app/grid-groupby/grid-groupby.sample.ts
Labels: grid, groupby, status: verified, version: 6.2.x

#2843 refactor(themes): bring roundness to material design spec
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
Labels: button-group, card, modal-dialog, status: verified, theme

#2827 Hide/show row editing dialog with group collapse
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/row.component.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: grid, row-editing, status: verified, version: 6.2.x

#2849 chore(*): Adding bug fixes to the Changelog
  CHANGELOG.md
Labels: documentation, version: 6.1.x

#2815 Allow editing of dates in grid with transactions, #2811
  projects/igniteui-angular/src/lib/core/utils.spec.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/services/transaction/base-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-transaction.spec.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-transaction.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: grid, status: verified, version: 6.2.x

#2840 Fix - Row Edit - Grouping properly closes row edit
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: row-editing, status: verified, version: 6.2.x

#2846 style(dark-green-theme): Adding styles for banner dark green theme
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/dark-green/_components-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/dark-green/_index.scss
Labels: dark-green-theme, row-editing, status: verified, theme

#2822 Refactor - IgxGrid - Remove unnecessary check in KeyHandler
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid.rowEdit.directive.ts
Labels: grid, keyboard-navigation, status: verified, version: 6.2.x

#2850 chore(*): Adding bug fixes to the Changelog
  CHANGELOG.md
Labels: documentation, version: 6.2.x

#2851 refactor(demos): update the demos app to allow for theme switching
  projects/igniteui-angular/src/lib/core/styles/themes/presets/dark-green/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-dark-green.scss
  src/app/app.component.html
  src/app/pageHeading/pageHeading.styles.scss
  src/assets/images/rsrcs/igniteui-angular_logo-light.svg
  src/assets/images/rsrcs/igniteui-angular_logo.svg
  src/index.html
  src/styles/_app-layout.scss
  src/styles/_app-palettes.scss
  src/styles/_mixins.scss
  src/styles/igniteui-theme.scss
Labels: dark-green-theme, demos, theme

#2854 feat(row-edit): add separate overlay template directives #566
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid-common.module.ts
  projects/igniteui-angular/src/lib/grids/grid.rowEdit.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  src/app/grid-row-edit/grid-row-edit-sample.component.html
  src/app/grid-row-edit/grid-row-edit-sample.component.ts
Labels: grid, row-editing, status: verified

#2818 Removed any type and added more descriptive types in GridComponent.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: grid, status: verified, version: 6.2.x

#2856 Update deselectRange method
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
Labels: calendar, status: verified, version: 6.1.x

#2855 Update deselectRange method
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
  src/app/calendar/calendar.sample.html
Labels: calendar, status: verified, version: 6.2.x

#2865 IgxGrid KB navigation improvements
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
  src/app/grid-groupby/grid-groupby.sample.html
  src/app/grid-groupby/grid-groupby.sample.ts
Labels: grid, groupby, keyboard-navigation, status: verified, version: 6.2.x

#2863 Grid row editing performance improvements
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid-common.pipes.ts
Labels: grid, row-editing, status: verified

#2866 Enable row editing overlay open animation
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: grid, row-editing, status: verified, version: 6.2.x

#2861 Fix - Transaction - Dates are properly compared when adding transaction
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, row-editing, status: verified, version: 6.2.x

#2871 Add support for first-class functions for older versions of Sass
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
Labels: status: verified

#2872 Feat - Transaction - Add canRedo / canUndo properties
  projects/igniteui-angular/src/lib/services/transaction/base-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-transaction.spec.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/transaction.ts
Labels: grid, status: verified, version: 6.2.x

#2870 fix(drop-down): ISelectionEventArgs now extends CancelableEventArgs #…
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
Labels: status: verified

#2879 #2874 exit row edit when selecting cell in deleted row
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/row.component.ts
  src/app/grid-row-edit/data.ts
Labels: grid, row-editing, status: verified, version: 6.2.x

#2859 feat(grid): expose input to set custom sort strategy per column #2734
  CHANGELOG.md
  projects/igniteui-angular/src/lib/data-operations/sorting-expression.interface.ts
  projects/igniteui-angular/src/lib/data-operations/sorting-strategy.ts
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.directives.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
Labels: grid, sorting, status: verified

#2888 chore(gulp-typedoc): expose command which builds en doc from the repo
  gulpfile.js
  package.json
Labels: documentation, status: verified, typedoc, version: 6.2.x

#2885 IE11 doesn't support Array.includes - fix #2868
  projects/igniteui-angular/src/lib/grids/grid/grid-api.service.ts
Labels: grid, groupby, status: verified

#2892 feat(grid): expose input to set sort strategy 6.1.x #2734
  CHANGELOG.md
  projects/igniteui-angular/src/lib/data-operations/sorting-expression.interface.ts
  projects/igniteui-angular/src/lib/data-operations/sorting-strategy.ts
  projects/igniteui-angular/src/lib/grid/api.service.ts
  projects/igniteui-angular/src/lib/grid/column.component.ts
  projects/igniteui-angular/src/lib/grid/grid-header.component.ts
  projects/igniteui-angular/src/lib/grid/grid.common.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.pipes.ts
Labels: status: verified, version: 6.1.x

#2894 [Inertia] - adding check for direction so mixed wheel deltas (MAC) work correctly
  projects/igniteui-angular/src/lib/directives/for-of/display.container.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.ts
Labels: status: verified, version: 6.1.x, virtualization

#2895 [Inertia] - adding check for direction so mixed wheel deltas (MAC) work correctly - MASTER
  projects/igniteui-angular/src/lib/directives/for-of/display.container.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.ts
Labels: status: verified, version: 6.2.x, virtualization

#2896 Change row editing default text
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
Labels: grid, row-editing, status: verified, version: 6.2.x
