Repository IgniteUI/igniteui-angular, pull requests merged in 2018-05, with the labels that each got.

#1213 Update igxMask readme file
  src/directives/mask/README.md
Labels: documentation, mask-editor, version: 5.3.x

#1214 Update igxMask readme file
  src/directives/mask/README.md
Labels: documentation, mask-editor, version: 5.4.x

#1215 do not match null and undefined when filtering by false
  src/data-operations/filtering-condition.ts
  src/grid/grid-filtering-ui.spec.ts
  src/grid/grid-filtering.spec.ts
Labels: filter-ui, grid, status: verified, version: 5.4.x

#1211 fix(grid): do not match null and undefined when filtering by false #1052
  src/data-operations/filtering-condition.ts
  src/grid/grid-filtering-ui.spec.ts
  src/grid/grid-filtering.spec.ts
Labels: filter-ui, grid, status: verified, version: 5.3.x

#1219 Preserve the set width in %
  src/grid/grid.component.spec.ts
  src/grid/grid.component.ts
Labels: grid, status: verified, version: 5.4.x

#1223 Preserve the set width in %
  src/grid/grid.component.spec.ts
  src/grid/grid.component.ts
Labels: grid, status: verified, version: 5.3.x

#1216 fix(igxGrid): Detect changes for width before recalculating height. #1202
  src/grid/grid.component.ts
Labels: grid, status: verified, version: 5.3.x

#1217 fix(igxGrid): Detect changes for width before recalculating height.
  src/grid/grid.component.ts
Labels: grid, status: verified, version: 5.4.x

#1220 Valid sorting icon when sorting using the grid API
  src/grid/grid-header.component.ts
  src/grid/grid.sorting.spec.ts
Labels: grid, status: verified, version: 5.4.x

#1222 Valid sorting icon when sorting using the grid API (5.3.x)
  src/grid/grid-header.component.ts
  src/grid/grid.sorting.spec.ts
Labels: grid, status: verified, version: 5.3.x

#1227 Fix Enabling summaries during runtime when igxGrid doesn't have height specified
  src/grid/grid-summary.spec.ts
  src/grid/grid.component.ts
Labels: grid, status: verified, summaries, version: 5.3.x

#1226 Fix Enabling summaries during runtime when igxGrid doesn't have height specified - master
  src/grid/grid-summary.spec.ts
  src/grid/grid.component.ts
Labels: grid, status: verified, summaries, version: 5.4.x

#1195 fix(igxGridFiltering): not possible to interact correctly with calendar
  src/grid/grid-filtering-ui.spec.ts
  src/grid/grid-filtering.component.html
  src/grid/grid-filtering.component.ts
Labels: filter-ui, grid, status: verified, version: 5.3.x

#1229 onRowSelectionChange cancelable - 1218
  src/core/selection.ts
  src/grid/grid-selection.spec.ts
Labels: grid, row-selection, status: verified, version: 5.3.x

#1253 V slavov/on row selection change cancelable 1218 master
  src/core/selection.ts
  src/grid/grid-selection.spec.ts
Labels: grid, row-selection, status: verified, version: 5.4.x

#1247 Add tests for keyboard navigtaion.
  src/grid/cell.spec.ts
Labels: grid, tests

#1252 Filtering icon highlighting when using the API
  src/grid/grid-filtering.component.ts
  src/grid/grid-filtering.spec.ts
Labels: status: verified, version: 5.3.x

#1235 fix(igGrid): Misalignment when resize a column and then scroll horizontally. #1169
  src/grid/grid.component.html
  src/grid/row.component.html
Labels: grid, resizing, status: verified, version: 5.4.x

#1248 Filtering icon highlighting when using the API
  src/grid/grid-filtering.component.ts
  src/grid/grid-filtering.spec.ts
Labels: filter-ui, grid, status: verified, version: 5.4.x

#1266 fix(pinning): Adding unpinned area min width limitation - master. #1129
  src/grid/grid.component.ts
  src/grid/grid.pinning.spec.ts
Labels: grid, pinning, status: verified, version: 5.4.x

#1231 Fix igxForOf startIndex is not being updated before calculating chunk size.
  src/directives/for-of/for_of.directive.ts
  src/grid/grid-summary.spec.ts
Labels: grid, status: verified, version: 5.3.x, virtualization

#1236 fix(grid): Evaluate the filtering condition before filtering #1224
  CHANGELOG.md
  src/grid/column.component.ts
  src/grid/grid-filtering-ui.spec.ts
  src/grid/grid-filtering.component.html
  src/grid/grid-filtering.component.ts
  src/grid/grid-filtering.spec.ts
  src/grid/grid.component.html
  src/grid/grid.component.ts
Labels: filter-ui, grid, status: verified, version: 5.3.x

#1244 fix(grid): Evaluate the filtering condition before filtering #1224
  CHANGELOG.md
  src/grid/column.component.ts
  src/grid/grid-filtering-ui.spec.ts
  src/grid/grid-filtering.component.html
  src/grid/grid-filtering.component.ts
  src/grid/grid.component.html
  src/grid/grid.component.ts
Labels: filter-ui, grid, status: verified, version: 5.4.x

#1225 enhancement(igxFor): Adding setter for ngForTrackBy. Track changes in horizontal item’s width prop by default.
  src/directives/for-of/for_of.directive.ts
Labels: enhancement, status: verified, version: 5.4.x, virtualization

#1264 igxDialog - add ability for title and actions customization
  CHANGELOG.md
  src/dialog/README.md
  src/dialog/dialog-content.component.html
  src/dialog/dialog.component.spec.ts
  src/dialog/dialog.component.ts
  src/dialog/dialog.directives.ts
Labels: feature, modal-dialog, status: verified, version: 5.3.x

#1189 Set type of buttons to be 'button'
  src/dialog/dialog-content.component.html
Labels: modal-dialog, status: in-development, version: 5.3.x

#1267 igxDialog - add ability for title and actions customization
  CHANGELOG.md
  src/dialog/README.md
  src/dialog/dialog-content.component.html
  src/dialog/dialog.component.spec.ts
  src/dialog/dialog.component.ts
  src/dialog/dialog.directives.ts
Labels: feature, modal-dialog, status: verified, version: 5.4.x

#1272 When filter and edit the column that is filtered by the value persists onto the row below
  src/grid/grid-filtering.spec.ts
  src/grid/grid.component.spec.ts
  src/grid/grid.component.ts
Labels: filter-ui, grid, status: verified, version: 5.3.x

#1273 When filter and edit the column that is filtered by the value persists onto the row below
  src/grid/grid-filtering.spec.ts
  src/grid/grid.component.spec.ts
  src/grid/grid.component.ts
Labels: filter-ui, grid, status: verified, version: 6.0.x

#1278 Set type of buttons to be 'button'
  src/dialog/dialog-content.component.html
Labels: modal-dialog, status: verified

#1250 fix(igxGridCellComponent): no indication when cell in edit mode
  src/core/styles/components/grid/_grid-component.scss
  src/core/styles/components/grid/_grid-theme.scss
  src/grid/cell.component.ts
  src/grid/cell.spec.ts
Labels: grid, status: verified, version: 5.3.x

#1289 fix(igxgrid): reset button must be active if filtering is applied #1263
  src/grid/grid-filtering-ui.spec.ts
  src/grid/grid-filtering.component.ts
Labels: status: verified

#1288 fix(igxgrid): Reset button must be active if filtering is applied #1263
  src/grid/grid-filtering-ui.spec.ts
  src/grid/grid-filtering.component.ts
Labels: status: verified

#1249 fix(igxGridCellComponent): no indication when cell in edit mode
  src/core/styles/components/grid/_grid-component.scss
  src/core/styles/components/grid/_grid-theme.scss
  src/grid/cell.component.ts
  src/grid/cell.spec.ts
Labels: grid, status: verified, version: 6.0.x

#1281 docs(general): Adding fixed bugs in version 5.3.1 to the Changelog
  CHANGELOG.md
Labels: documentation, version: 5.3.x

#1300 chore(changelog): move dblclick event in the newly created section 6.0.0
  CHANGELOG.md
Labels: status: verified

#1296 refactor(grid): display empty grid message when no data
  src/core/styles/components/grid/_grid-component.scss
  src/core/styles/components/grid/_grid-theme.scss
  src/grid/grid-filtering-ui.spec.ts
  src/grid/grid.component.html
  src/grid/grid.component.ts
Labels: grid, status: verified, version: 6.0.x

#1301 fix(igxGrid): Columns not displayed on screen maximize #1283
  src/directives/for-of/for_of.directive.ts
  src/grid/grid.component.spec.ts
Labels: status: verified, version: 5.3.x

#1321 Add All option to the filter UI for boolean columns #1286 - master
  CHANGELOG.md
  src/grid/grid-filtering-ui.spec.ts
  src/grid/grid-filtering.component.html
  src/grid/grid-filtering.component.ts
Labels: grid, status: verified, version: 6.0.x

#1302 fix(igxGrid): Columns not displayed on screen maximize #1283
  src/directives/for-of/for_of.directive.ts
  src/grid/grid.component.spec.ts
Labels: grid, status: verified, version: 6.0.x

#1313 fixes to grid selection
  demos/app/grid-selection/sample.component.html
  demos/app/grid-selection/sample.component.ts
  src/grid/grid-selection.spec.ts
  src/grid/grid.component.ts
Labels: row-selection, status: verified, version: 5.3.x

#1319 refactor(grid): focus input after opening the filtering UI #1290
  src/grid/grid-filtering-ui.spec.ts
  src/grid/grid-filtering.component.html
  src/grid/grid-filtering.component.ts
Labels: filter-ui, grid, status: verified, version: 5.3.x

#1331 Remove grid dependency from the exporters
  src/services/csv/csv-exporter.ts
  src/services/excel/excel-exporter.ts
  src/services/exporter-common/base-export-service.ts
Labels: enhancement, exporters, status: verified, version: 6.0.x

#1332 docs(themes): updated sassdoc for v6
  src/core/styles/base/utilities/_mixins.scss
  src/core/styles/components/avatar/_avatar-theme.scss
  src/core/styles/components/badge/_badge-theme.scss
  src/core/styles/components/bottom-nav/_bottom-nav-theme.scss
  src/core/styles/components/button-group/_button-group-theme.scss
  src/core/styles/components/button/_button-theme.scss
  src/core/styles/components/calendar/_calendar-theme.scss
  src/core/styles/components/carousel/_carousel-theme.scss
  src/core/styles/components/checkbox/_checkbox-theme.scss
  src/core/styles/components/dialog/_dialog-theme.scss
  src/core/styles/components/grid-filtering/_grid-filtering-theme.scss
  src/core/styles/components/grid-paginator/_grid-paginator-theme.scss
  src/core/styles/components/grid-summary/_grid-summary-theme.scss
  src/core/styles/components/grid/_grid-theme.scss
  src/core/styles/components/icon/_icon-theme.scss
  src/core/styles/components/navbar/_navbar-theme.scss
  src/core/styles/components/progress/_progress-theme.scss
  src/core/styles/components/radio/_radio-theme.scss
  src/core/styles/components/ripple/_ripple-theme.scss
  src/core/styles/components/slider/_slider-theme.scss
  src/core/styles/components/snackbar/_snackbar-theme.scss
  src/core/styles/components/switch/_switch-theme.scss
  src/core/styles/components/tabs/_tabs-theme.scss
  src/core/styles/components/time-picker/_time-picker-theme.scss
  src/core/styles/components/toast/_toast-theme.scss
Labels: documentation, status: verified, theme, version: 6.0.x

#1328 fix(package-lock): update natives package manually
  demos/package-lock.json
  package-lock.json
Labels: status: verified, version: 6.0.x

#1337 fix(package-lock): update natives package manually
  demos/package-lock.json
  package-lock.json
Labels: status: verified, version: 5.3.x

#1324 refactor(grid): focus input after opening the filtering UI #1290
  src/grid/grid-filtering.component.html
  src/grid/grid-filtering.component.ts
Labels: filter-ui, grid, status: verified, version: 6.0.x

#1336 fix(igxDatePicker): notify ngModel for updated value through API metho
  src/date-picker/date-picker.component.spec.ts
  src/date-picker/date-picker.component.ts
Labels: date-picker, status: verified, version: 5.3.x

#1335 fix(igxDatePicker): notify ngModel for updated value through API metho
  src/date-picker/date-picker.component.spec.ts
  src/date-picker/date-picker.component.ts
Labels: date-picker, status: verified, version: 6.0.x

#1344 fix(themes): button background and text have the same color
  src/core/styles/components/grid-filtering/_grid-filtering-theme.scss
Labels: filter-ui, status: verified, theme, version: 6.0.x

#1333 fix(themes): wrong colors in light variant themes
  demos/app/input/sample.component.html
  src/core/styles/components/checkbox/_checkbox-theme.scss
  src/core/styles/components/input/_input-group-theme.scss
  src/core/styles/components/radio/_radio-theme.scss
  src/core/styles/components/slider/_slider-theme.scss
  src/core/styles/components/switch/_switch-theme.scss
Labels: checkbox, radio-button, status: verified, switch, theme, version: 6.0.x

#1343 Fix - Sort icon on a table object is not cleared when exporting second time or later
  src/core/utils.ts
  src/services/excel/excel-exporter-grid.spec.ts
  src/services/exporter-common/base-export-service.ts
  src/services/exporter-common/components-declarations.ts
Labels: excel-exporter, status: verified, version: 6.0.x

#1358 Support for keyboard navigation in carousel
  src/carousel/carousel.component.html
  src/carousel/carousel.component.spec.ts
  src/carousel/carousel.component.ts
Labels: status: verified, version: 5.3.x

#1359 fix(carousel): support for keyboard navigation #1139
  src/carousel/carousel.component.html
  src/carousel/carousel.component.spec.ts
  src/carousel/carousel.component.ts
Labels: carousel, status: verified, version: 6.1.x

#1365 fix(progressbar): when accpet string progress should remain the same
  src/progressbar/circularbar.component.spec.ts
  src/progressbar/linearbar.component.spec.ts
  src/progressbar/progressbar.component.ts
Labels: status: verified, version: 5.3.x

#1363 fix(progressbar): progress works both with string and numeric values
  src/progressbar/circularbar.component.spec.ts
  src/progressbar/linearbar.component.spec.ts
  src/progressbar/progressbar.component.ts
Labels: status: verified, version: 6.0.x

#1389 Add demo samples styling
  .gitignore
  src/app/app.component.css
  src/app/avatar/avatar.sample.css
  src/app/badge/badge.sample.css
  src/app/bottomnav/bottomnav.sample.css
  src/app/button/button.sample.css
  src/app/card/card.sample.css
  src/app/date-picker/date-picker.sample.css
  src/app/dialog/dialog.sample.css
  src/app/grid-column-pinning/grid-column-pinning.sample.css
  src/app/grid-column-resizing/grid-column-resizing.sample.css
  src/app/grid-selection/grid-selection.sample.css
  src/app/grid/grid.sample.css
  src/app/icon/icon.sample.css
  src/app/input-group/input-group.sample.css
  src/app/input/input.sample.css
  src/app/layout/layout.sample.css
  src/app/list-performance/list-performance.sample.css
  src/app/list/list.sample.css
  src/app/mask/mask.sample.css
  src/app/navbar/navbar.sample.css
  src/app/navdrawer/navdrawer.sample.css
  src/app/pageHeading/pageHeading.styles.css
  src/app/progressbar/progressbar.sample.css
  src/app/ripple/ripple.sample.css
  src/app/snackbar/snackbar.sample.css
  src/app/styleguide/colors/color.sample.css
  src/app/styleguide/shadows/shadows.sample.css
  src/app/styleguide/typography/typography.sample.css
  src/app/tabs/tabs.sample.css
  src/app/time-picker/time-picker.sample.css
  src/app/toast/toast.sample.css
  src/assets/preloader.css
  src/styles.css
Labels: demos, version: 6.0.x

#1381 refactor(card-demo): replace card images
  demos/app/card/sample.component.html
  demos/app/card/sample.component.ts
  demos/images/card/avatars/alicia_keys.jpg
  demos/images/card/avatars/rupert_stadler.jpg
  demos/images/card/media/audi.jpg
  demos/images/card/media/audi_tt.jpg
  demos/images/card/media/here_media.jpg
  demos/images/card/media/monuments.jpg
  demos/images/card/media/ny.jpg
  demos/images/card/media/the_red_ice_forest.jpg
  demos/images/card/media/yosemite.jpg
Labels: card, status: verified

#1377 Fix extra white space when hiding summaries in certain situations.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grid/grid-summary.spec.ts
Labels: status: verified, version: 6.0.x, virtualization

#1361 fix(avatar): accept other than 1:1 ratio images and fix roundShape bug
  projects/igniteui-angular/src/lib/avatar/avatar.component.html
  projects/igniteui-angular/src/lib/avatar/avatar.component.spec.ts
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  src/app/avatar/avatar.sample.html
Labels: avatar, feature, status: verified, version: 6.0.x

#1373 fix(igxFor): add additional check igxForOf.length #1349
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: status: verified, version: 6.0.x, virtualization

#1403 refactor(demos): Remove demo stuff left after merge
  demos/app/card/sample.component.ts
  src/app/card/card.sample.ts
  src/assets/images/card/media/audi.jpg
  src/assets/images/card/media/audi_tt.jpg
Labels: demos, version: 6.0.x

#1379 feat(groupby): Paging integration with two pipes
  demos/app/grid-groupby/sample.component.css
  demos/app/grid-groupby/sample.component.html
  demos/app/grid-groupby/sample.component.ts
  demos/app/grid-groupby/sample.module.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.spec.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/data-operations/groupby-record.interface.ts
  projects/igniteui-angular/src/lib/data-operations/sorting-strategy.spec.ts
  projects/igniteui-angular/src/lib/data-operations/sorting-strategy.ts
  projects/igniteui-angular/src/lib/data-operations/test-util/data-generator.ts
  projects/igniteui-angular/src/lib/grid/grid.component.html
  projects/igniteui-angular/src/lib/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.module.ts
  projects/igniteui-angular/src/lib/grid/grid.pipes.ts
  projects/igniteui-angular/src/public_api.ts
Labels: groupby, version: 6.1.x

#1401 Add "searchable" option to igx-column API docs
  projects/igniteui-angular/src/lib/grid/README.md
Labels: documentation, status: verified, version: 6.0.x

#1391 Fix for #1388
  projects/igniteui-angular/src/lib/tabbar/tabbar.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs-group.component.ts
Labels: bottom-nav, status: verified, tabs, version: 6.0.x

#1412 docs(igxBadge): Add api docs for igxBadge
  projects/igniteui-angular/src/lib/badge/badge.component.ts
Labels: badge, documentation, version: 6.0.x

#1402 fix(igxGrid, igxGridSummary): Errors thrown when passed undefined data
  projects/igniteui-angular/src/lib/grid/api.service.ts
  projects/igniteui-angular/src/lib/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grid/grid-summary.ts
  projects/igniteui-angular/src/lib/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
Labels: grid, status: verified, summaries, version: 6.0.x

#1416 Drop down implementation
  CHANGELOG.md
  package-lock.json
  projects/igniteui-angular/src/lib/core/selection.ts
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/directives/toggle/README.md
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
  projects/igniteui-angular/src/lib/drop-down/README.md
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.component.html
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.component.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.html
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/grid/grid-filtering.component.html
  projects/igniteui-angular/src/public_api.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/drop-down/drop-down.sample.css
  src/app/drop-down/drop-down.sample.html
  src/app/drop-down/drop-down.sample.ts
  src/app/routing.ts
  src/app/shared/shared.module.ts
Labels: dropdown, feature, version: 6.1.x
