Repository IgniteUI/igniteui-angular, pull requests merged in 2018-08, with the labels that each got.

#2208 Refactor pinning test that uses setTimeout.
  projects/igniteui-angular/src/lib/grid/grid.pinning.spec.ts
Labels: pinning, tests, version: 6.2.x

#2125 test(Search): #2056 Optimized global search tests.
  projects/igniteui-angular/src/lib/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-base-components.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
  projects/igniteui-angular/src/lib/test-utils/template-strings.spec.ts
Labels: global-search, status: verified, tests, version: 6.2.x

#2180 Update tests with new approach linearbar, circularbar and Toggle [MASTER]
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.spec.ts
  projects/igniteui-angular/src/lib/progressbar/circularbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/linearbar.component.spec.ts
Labels: circular-progress, progress-bar, status: verified, tests, toggle, version: 6.2.x

#2166 Fix search tests in 6.1.x.
  projects/igniteui-angular/src/lib/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-base-components.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
  projects/igniteui-angular/src/lib/test-utils/template-strings.spec.ts
Labels: global-search, tests, version: 6.1.x

#2214 chore(*): Merging 6.1.x into master
  CHANGELOG.md
  projects/igniteui-angular/src/lib/carousel/carousel.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/dialog/dialog.component.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.spec.ts
  projects/igniteui-angular/src/lib/drop-down/README.md
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.component.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grid/column-pinning.spec.ts
  projects/igniteui-angular/src/lib/grid/column.component.ts
  projects/igniteui-angular/src/lib/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grid/groupby-row.component.ts
  projects/igniteui-angular/src/lib/radio/radio.component.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/snackbar/snackbar.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/helper-utils.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/toast/toast.component.spec.ts
  src/app/drop-down/drop-down.sample.html
  src/app/drop-down/drop-down.sample.ts
  src/app/virtual-for-directive/virtual-for.sample.html
  src/app/virtual-for-directive/virtual-for.sample.ts
Labels: version: 6.2.x

#2218 Update carousel tests to use UIInteractions
  projects/igniteui-angular/src/lib/carousel/carousel.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: carousel, enhancement, status: verified, tests, version: 6.1.x

#2187 refactor carousel tests
  projects/igniteui-angular/src/lib/carousel/carousel.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: carousel, status: verified, tests, version: 6.2.x

#2220 Update tests with new approach linearbar, circularbar and Toggle
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.spec.ts
  projects/igniteui-angular/src/lib/progressbar/circularbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/linearbar.component.spec.ts
Labels: circular-progress, progress-bar, status: verified, toggle, version: 6.1.x

#2223 fix(igxGrid): Cell and header style classes
  projects/igniteui-angular/src/lib/grid/cell.component.ts
  projects/igniteui-angular/src/lib/grid/grid-header.component.ts
  projects/igniteui-angular/src/lib/grid/grid.pinning.spec.ts
  projects/igniteui-angular/tsconfig.lib.json
Labels: grid, status: verified, version: 6.1.x

#2224 fix(igxGrid): Cell and header style classes
  projects/igniteui-angular/src/lib/grid/cell.component.ts
  projects/igniteui-angular/src/lib/grid/grid-header.component.ts
  projects/igniteui-angular/src/lib/grid/grid.pinning.spec.ts
  projects/igniteui-angular/tsconfig.lib.json
Labels: grid, status: verified, version: 6.2.x

#2239 Update paging tests to use templates from test-utils
  projects/igniteui-angular/src/lib/grid/grid.pagination.spec.ts
Labels: enhancement, grid, paging, status: verified, tests, version: 6.2.x

#2240 Update paging tests to use templates from test-utils
  projects/igniteui-angular/src/lib/grid/grid.pagination.spec.ts
Labels: enhancement, grid, paging, status: verified, tests, version: 6.1.x

#2226 Change 'doesNotEqual' logic
  projects/igniteui-angular/src/lib/data-operations/filtering-condition.ts
Labels: grid, status: verified, version: 6.1.x

#2225 Change 'doesNotEqual' logic
  projects/igniteui-angular/src/lib/data-operations/filtering-condition.ts
Labels: grid, status: verified, version: 6.2.x

#2206 #1981 Nav drawer height use only 100% from styles
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.spec.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.ts
Labels: enhancement, nav-drawer, status: verified, version: 6.1.x

#2219 Add isSelected setter to igxDropDownItemBase, #2061
  CHANGELOG.md
  projects/igniteui-angular/src/lib/drop-down/README.md
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
Labels: dropdown, feature, status: verified, version: 6.1.x

#2207 #1981 Nav drawer height use only 100% from styles
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.spec.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.ts
Labels: enhancement, nav-drawer, status: verified, version: 6.2.x

#2081 Add isSelected setter to igxDropDownItemBase, #2061
  CHANGELOG.md
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
Labels: dropdown, feature, status: verified, version: 6.2.x

#2232 test(grid): changes to the sorting tests describe suit #2230
  projects/igniteui-angular/src/lib/grid/grid.sorting.spec.ts
Labels: version: 6.1.x

#2198 Add a null check for the _moveColumns method
  projects/igniteui-angular/src/lib/grid/grid.component.ts
Labels: global-search, grid, status: verified, version: 6.1.x

#2176 Cell - Key Navigation - Rework Tab / Shift + Tab handlers
  projects/igniteui-angular/src/lib/grid/cell.component.ts
  projects/igniteui-angular/src/lib/grid/grid-selection.spec.ts
Labels: grid, keyboard-navigation, selection, status: verified, version: 6.2.x

#2177 Cell - Key Navigation - Rework Tab / Shift + Tab handlers
  projects/igniteui-angular/src/lib/grid/cell.component.ts
  projects/igniteui-angular/src/lib/grid/grid-selection.spec.ts
Labels: grid, keyboard-navigation, selection, status: verified, version: 6.1.x

#2209 Grid Selection demo - change the remote data URL and trigger change detection
  src/app/grid-selection/grid-selection.sample.css
  src/app/grid-selection/grid-selection.sample.html
  src/app/grid-selection/grid-selection.sample.ts
  src/app/shared/remote.service.ts
Labels: demos, grid, status: verified, version: 6.1.x

#2205 Grid Selection demo - change the remote data URL and trigger change detection
  src/app/grid-selection/grid-selection.sample.css
  src/app/grid-selection/grid-selection.sample.html
  src/app/grid-selection/grid-selection.sample.ts
  src/app/shared/remote.service.ts
Labels: demos, grid, status: verified, version: 6.2.x

#2277 Combo - Add Item - Do not fire on Keydown.Space
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
Labels: combo, status: verified, version: 6.2.x

#2282 Remove Space key from Keyboard Navigation section in combo README
  projects/igniteui-angular/src/lib/combo/README.md
Labels: combo, documentation

#2236 test(grid): changes to the sorting tests describe suit
  projects/igniteui-angular/src/lib/grid/grid.sorting.spec.ts
Labels: status: verified, version: 6.2.x

#2259 Grid summaries test enhancements
  projects/igniteui-angular/src/lib/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: status: verified, summaries, version: 6.1.x

#2231 Refresh filter dialog on 'opening' event instead of on 'opened'
  projects/igniteui-angular/src/lib/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grid/grid-filtering.component.html
  projects/igniteui-angular/src/lib/grid/grid-filtering.component.ts
Labels: filter-ui, grid, status: verified, version: 6.2.x

#2235 Refresh filter dialog on 'opening' event instead of on 'opened' - 6.1.x
  projects/igniteui-angular/src/lib/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grid/grid-filtering.component.html
  projects/igniteui-angular/src/lib/grid/grid-filtering.component.ts
Labels: filter-ui, grid, status: verified, version: 6.1.x

#2244 Grid column and column group tests refactoring
  projects/igniteui-angular/src/lib/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grid/column.spec.ts
Labels: refactoring, status: verified, tests, version: 6.1.x

#2258 Summary Tests enhancements
  projects/igniteui-angular/src/lib/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: enhancement, status: verified, summaries, tests, version: 6.2.x

#2247 Adding documentation to IgxGridCellComponent.
  projects/igniteui-angular/src/lib/combo/README.md
  projects/igniteui-angular/src/lib/grid/cell.component.ts
  projects/igniteui-angular/src/lib/grid/grid-toolbar.component.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
Labels: documentation, grid, status: verified, version: 6.1.x

#2273 Adding documentation to the IgxFilteringExpressionTree
  projects/igniteui-angular/src/lib/data-operations/filtering-expressions-tree.ts
  projects/igniteui-angular/src/lib/grid/column-chooser-item-base.ts
  projects/igniteui-angular/src/lib/grid/grid-filtering-expression.component.ts
  projects/igniteui-angular/src/lib/grid/grid-filtering.component.ts
  projects/igniteui-angular/src/lib/grid/grid-header.component.ts
  projects/igniteui-angular/src/lib/grid/grid-summary.component.ts
  projects/igniteui-angular/src/lib/grid/grid.pipes.ts
Labels: documentation, grid, status: verified

#2243 Grid column and column group tests refactoring
  projects/igniteui-angular/src/lib/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grid/column.spec.ts
Labels: refactoring, status: verified, tests, version: 6.2.x

#2087 Fix grid not checking if initially pinned columns exceed the minimum unpinned area
  projects/igniteui-angular/src/lib/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grid/grid.pinning.spec.ts
Labels: pinning, status: verified, version: 6.1.x

#2261 Make 'selectedIndex' an Input
  CHANGELOG.md
  projects/igniteui-angular/src/lib/tabs/tabs-group.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.ts
Labels: status: verified, tabs, version: 6.1.x

#2312 fix(igxGrid): Fixing keyboard navigation with Grouping.
  projects/igniteui-angular/src/lib/grid/groupby-row.component.ts
Labels: grid, groupby, status: verified, version: 6.2.x

#2311 fix(igxGrid): Fixing keyboard navigation with Grouping.
  projects/igniteui-angular/src/lib/grid/groupby-row.component.ts
Labels: grid, groupby, status: verified, version: 6.1.x

#2260 Make 'selectedIndex' an Input
  CHANGELOG.md
  projects/igniteui-angular/src/lib/tabs/tabs-group.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.ts
Labels: status: verified, tabs, version: 6.2.x

#2271 Combo - Add Item - Do not fire on Keydown.Space - 6.1.x
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
Labels: combo, status: verified, version: 6.1.x

#2267 Update Combo Docs link in README.md
  README.md
Labels: combo, documentation

#2291 fix(igxFor): Fix for scenarios where there a large scroll area at whi…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: status: verified, version: 6.1.x, virtualization

#2292 fix(igxFor): Fix for scenarios where there a large scroll area at whi…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: status: verified, version: 6.2.x, virtualization

#2279 fix(igxGrid): Adding polyfill for IE for Object.entries.
  CHANGELOG.md
  src/polyfills.ts
Labels: browser: ie-11, grid, status: verified, version: 6.2.x

#2278 fix(igxGrid): Adding polyfill for IE for Object.entries.
  CHANGELOG.md
  src/polyfills.ts
Labels: browser: ie-11, grid, status: verified, version: 6.1.x

#2299 Fixed paging to non-existent pages
  projects/igniteui-angular/src/lib/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grid/grid.pagination.spec.ts
Labels: status: verified, version: 6.1.x

#2297 Fixed paging to non-existent pages
  projects/igniteui-angular/src/lib/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grid/grid.pagination.spec.ts
Labels: status: verified, version: 6.2.x

#2088 Fix grid not checking if initially pinned columns exceed the minimum unpinned area
  projects/igniteui-angular/src/lib/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grid/grid.pinning.spec.ts
Labels: pinning, status: verified, version: 6.2.x

#2237 Selection service refactor using Set
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/combo/combo-item.component.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/core/selection.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/grid/cell.component.ts
  projects/igniteui-angular/src/lib/grid/grid.common.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grid/groupby-row.component.ts
Labels: combo, dropdown, row-selection, selection, status: verified, version: 6.1.x

#2324 chore(tabs): Fixed disabled initial value to false
  projects/igniteui-angular/src/lib/tabs/tabs-group.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
Labels: status: verified, tabs, version: 6.2.x

#2234 Grid - Cell Navigation - Align Top cell to header on KeyUp - 6.1.x
  projects/igniteui-angular/src/lib/grid/grid.component.ts
Labels: grid, keyboard-navigation, status: verified, version: 6.1.x

#2269 fix(carousel): fixing issue when a slide is shown after it gets removed
  projects/igniteui-angular/src/lib/carousel/carousel.component.spec.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
Labels: carousel, status: verified, version: 6.2.x

#2262 Implemented test optimizations for NavBar, SnackBar and Toast components.
  projects/igniteui-angular/src/lib/navbar/navbar.component.spec.ts
  projects/igniteui-angular/src/lib/snackbar/snackbar.component.spec.ts
  projects/igniteui-angular/src/lib/toast/toast.component.spec.ts
Labels: enhancement, nav-bar, snackbar, status: verified, tests, toast, version: 6.2.x

#2298 fix(carousel): fixing issue when a slide is shown after it gets removed
  projects/igniteui-angular/src/lib/carousel/carousel.component.spec.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
Labels: carousel, status: verified, version: 6.1.x

#2304 datePicker tests enhancements
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: date-picker, enhancement, status: verified, tests, version: 6.2.x

#2327 circular and linear bars - prevent progress exceeding, smooth update when operate with big nums
  projects/igniteui-angular/src/lib/progressbar/circularbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/linearbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
Labels: circular-progress, progress-bar, status: verified, version: 6.2.x

#2323 chore(tabs): Fixed disabled initial value to false
  projects/igniteui-angular/src/lib/tabs/tabs-group.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
Labels: status: verified, tabs, version: 6.1.x

#2275 Selection service refactor using Set
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/combo/combo-item.component.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/core/selection.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/grid/cell.component.ts
  projects/igniteui-angular/src/lib/grid/grid.common.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grid/groupby-row.component.ts
Labels: combo, dropdown, row-selection, selection, status: verified, version: 6.2.x

#2286 Fix column width calculations when there are hidden columns
  projects/igniteui-angular/src/lib/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grid/column.component.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
Labels: grid, status: verified, version: 6.1.x

#2284 Fix column width calculations when there are hidden columns
  projects/igniteui-angular/src/lib/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grid/column.component.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
Labels: grid, status: verified, version: 6.2.x

#2229 Combo test refactoring
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: combo, refactoring, tests

#2325 Combo tests refactoring
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: combo, refactoring, tests

#2342 Fixed sample test data to use factory functions ...
  projects/igniteui-angular/src/lib/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grid/column-pinning.spec.ts
  projects/igniteui-angular/src/lib/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-base-components.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/helper-utils.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
  projects/igniteui-angular/src/lib/test-utils/template-strings.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: enhancement, tests, version: 6.2.x

#2341 Fixed sample test data to use factory functions ...
  projects/igniteui-angular/src/lib/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grid/column-pinning.spec.ts
  projects/igniteui-angular/src/lib/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-base-components.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/helper-utils.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
  projects/igniteui-angular/src/lib/test-utils/template-strings.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: enhancement, severity: high, tests, version: 6.1.x

#2252 Reduce the number of MutationObservers we are using in the IgxTextHighlightDirective
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
  projects/igniteui-angular/src/lib/grid/cell.component.ts
Labels: global-search, grid, status: verified, version: 6.2.x

#2335 chore(tabs): Fixed API docs typo
  projects/igniteui-angular/src/lib/tabs/tabs.component.ts
Labels: status: verified, tabs, version: 6.2.x

#2333 Add getter and setter for combo's data property - 6.1.x
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
Labels: combo, status: verified, version: 6.1.x

#2179 Add new igxOverlay integration tests. Adding fakeAsync.
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
Labels: overlay, tests, version: 6.1.x

#2210 Refactor most of the keyboard navigation tests inside the cell spec to not use setTimeout.
  projects/igniteui-angular/src/lib/grid/cell.spec.ts
Labels: keyboard-navigation, tests, version: 6.1.x

#2322 Create FilteringExpressionTree internally
  projects/igniteui-angular/src/lib/grid/grid-filtering-expression.component.html
  projects/igniteui-angular/src/lib/grid/grid-filtering-expression.component.ts
  projects/igniteui-angular/src/lib/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
Labels: filter-ui, grid, status: verified, version: 6.2.x

#2356 6.1.x - Expose column auto size API feature request
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grid/column.component.ts
  projects/igniteui-angular/src/lib/grid/grid-header.component.html
  projects/igniteui-angular/src/lib/grid/grid-header.component.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/template-strings.spec.ts
Labels: grid, resizing, status: verified, version: 6.1.x

#2183 Expose column auto size API feature request
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grid/column.component.ts
  projects/igniteui-angular/src/lib/grid/grid-header.component.html
  projects/igniteui-angular/src/lib/grid/grid-header.component.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/template-strings.spec.ts
Labels: grid, resizing, status: verified, version: 6.2.x

#2360 Refactor logic for Boolean filter
  projects/igniteui-angular/src/lib/grid/grid-filtering.component.ts
Labels: grid, status: verified, version: 6.2.x

#2336 circular and linear bars - prevent progress exceeding, smooth update when operate with big nums
  projects/igniteui-angular/src/lib/progressbar/circularbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/common.spec.ts
  projects/igniteui-angular/src/lib/progressbar/linearbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
Labels: circular-progress, progress-bar, status: verified, version: 6.1.x

#2347 circular and linear bars - prevent progress exceeding, smooth update when operate with big nums [MASTER]
  projects/igniteui-angular/src/lib/progressbar/circularbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/common.spec.ts
  projects/igniteui-angular/src/lib/progressbar/linearbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
Labels: circular-progress, progress-bar, status: awaiting-test, version: 6.2.x

#2354 Clear summaries later
  projects/igniteui-angular/src/lib/grid/grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
Labels: filter-ui, grid, status: verified, summaries, version: 6.2.x

#2340 feat(circularbar): add text to be displayed in the circular bar #2308
  CHANGELOG.md
  projects/igniteui-angular/src/lib/progressbar/circularbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
  projects/igniteui-angular/src/lib/progressbar/templates/circular-bar.component.html
Labels: circular-progress, status: verified, version: 6.2.x

#2339 feat(circular-bar): set text to display inside the circular bar #2308
  CHANGELOG.md
  projects/igniteui-angular/src/lib/progressbar/circularbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
  projects/igniteui-angular/src/lib/progressbar/templates/circular-bar.component.html
Labels: circular-progress, status: verified, version: 6.1.x

#2365 update changelog with progressbar step input description
  CHANGELOG.md
Labels: progress-bar, version: 6.1.x

#2353 fixing list item's panning speed
  projects/igniteui-angular/src/lib/list/list-item.component.ts
Labels: list, status: verified, version: 6.1.x

#2364 update changelog with progressbar step input description
  CHANGELOG.md
Labels: progress-bar, version: 6.2.x

#2272 add new paging tests 6.1.x
  projects/igniteui-angular/src/lib/grid/grid.pagination.spec.ts
Labels: enhancement, grid, paging, status: verified, tests, version: 6.1.x

#2270 Add new paging tests 6.2.x
  projects/igniteui-angular/src/lib/grid/grid.pagination.spec.ts
Labels: enhancement, grid, paging, status: verified, tests, version: 6.2.x

#2358 fix(igxGrid): default render target for grids with no height #2313
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
Labels: grid, status: verified, version: 6.1.x

#2359 fix(igxGrid): default render target for grids with no height #2313
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
Labels: grid, status: verified, version: 6.2.x

#2352 fixing list item's panning speed
  projects/igniteui-angular/src/lib/list/list-item.component.ts
Labels: list, status: verified, version: 6.2.x

#2254 Added documentation and snippets to the IgxGridRowComponent
  projects/igniteui-angular/src/lib/grid/row.component.ts
Labels: documentation, grid, status: verified, version: 6.2.x

#2346 Added documentation and snippets to IgxToggleDirective.
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
Labels: documentation, status: verified, toggle, version: 6.1.x

#2381 Rework some of the flickering tests for IgxTimePickerComponent
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
Labels: tests, time-picker, version: 6.1.x

#2217 slider test enhancements 6.1.x
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
Labels: enhancement, slider, status: verified, tests, version: 6.1.x

#2355 Add new igxOverlay integration tests. Adding fakeAsync.
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
Labels: overlay, tests, version: 6.2.x

#2330 Add templating functionality to the IgxButtonGroup
  CHANGELOG.md
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup-content.component.html
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
  src/app/buttonGroup/buttonGroup.sample.html
Labels: button, button-group, enhancement, status: verified, version: 6.2.x

#2344 Added documentation and snippets to the IgxLayoutDirective and IgxFlexDirective
  projects/igniteui-angular/src/lib/directives/layout/layout.directive.ts
Labels: documentation, status: verified, version: 6.2.x

#2363 #2274 add Overlay setting for attach target, IgxOverlayOutletDirective
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/toggle/README.md
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
  projects/igniteui-angular/src/lib/services/overlay/README.md
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
  projects/igniteui-angular/src/lib/services/overlay/utilities.ts
  src/app/drop-down/drop-down.sample.css
  src/app/drop-down/drop-down.sample.html
  src/app/drop-down/drop-down.sample.scss
  src/app/drop-down/drop-down.sample.ts
Labels: enhancement, overlay, status: verified, toggle, version: 6.2.x

#2216 slider test enhancements 6.2.x
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
Labels: enhancement, slider, tests, version: 6.2.x

#2399 chore(*): Refactoring horizontal navigation tests.
  projects/igniteui-angular/src/lib/grid/cell.spec.ts
Labels: tests, version: 6.1.x

#2395 Remove discardPeriodicTasks() calls inside tests.
  projects/igniteui-angular/src/lib/directives/dragdrop/dragdrop.directive.spec.ts
  projects/igniteui-angular/src/lib/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.pinning.spec.ts
Labels: grid, tests, version: 6.1.x

#2389 Refactoring kb navigation tests and reusing code between different specs.
  projects/igniteui-angular/src/lib/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/test-utils/helper-utils.spec.ts
Labels: tests, version: 6.1.x

#2211 Refactor most of the keyboard navigation tests inside the cell spec to not use setTimeout.
  projects/igniteui-angular/src/lib/grid/cell.spec.ts
Labels: keyboard-navigation, tests, version: 6.2.x

#2379 Rework some of the flickering tests for IgxTimePickerComponent
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
Labels: status: verified, tests, time-picker, version: 6.2.x

#2415 Combo home/end navigation
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: combo, status: verified, version: 6.2.x

#2414 Combo home/end navigation
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: combo, status: verified, version: 6.1.x

#2406 Fixing flickering combo test
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: combo, tests, version: 6.2.x

#2407 Fixing flickering combo test
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: combo, tests

#2375 line-height cut-off the letters in some browsers
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
Labels: status: verified, tabs, version: 6.1.x

#2083 chore(chip): Add chip dev sample for moving from one chiparea to another
  src/app/chips/chips.sample.css
  src/app/chips/chips.sample.html
  src/app/chips/chips.sample.ts
Labels: chips, demos, status: verified, version: 6.2.x

#2412 fix(chip): #2383 set chip as selected through API if selectable is false
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/chips-area.spec.ts
Labels: chips, status: verified, version: 6.1.x

#2419 Fix rearrange chips is not working correctly.
  projects/igniteui-angular/src/lib/chips/chips-area.component.ts
  projects/igniteui-angular/src/lib/chips/chips-area.spec.ts
Labels: chips, status: verified, version: 6.1.x

#2417 Input group disabled
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
  projects/igniteui-angular/src/lib/input-group/input-group.directive.spec.ts
Labels: input, input-group, status: verified, version: 6.1.x

#2380 fix(ColumnHiding): #2351 Added string values to ColumnDisplayOrder enum values.
  projects/igniteui-angular/src/lib/grid/column-chooser-base.ts
Labels: grid-toolbar, status: verified, version: 6.1.x

#2408 fix(chip): #2383 set chip as selected through API if selectable is false
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/chips-area.spec.ts
Labels: chips, status: verified, version: 6.2.x

#2309 Added documentation and code snippets for IgxTextHighlightDirective
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
Labels: documentation, global-search, status: verified, version: 6.2.x

#2367 fix(pickers): give display property to date and time picker hosts
  package-lock.json
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: date-picker, status: verified, time-picker, version: 6.2.x

#2418 Input group disabled
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
  projects/igniteui-angular/src/lib/input-group/input-group.directive.spec.ts
Labels: input, input-group, status: verified, version: 6.2.x

#2429 fix(chip): #2378 Expose an input property to set chip as selected
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/chips-area.spec.ts
Labels: chips, status: awaiting-test, version: 6.1.x

#2405 fix(chip): #2378 Expose an input property to set chip as selected
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/chips-area.spec.ts
Labels: chips, status: verified, version: 6.2.x

#2397 Reapply the search upon exiting edit mode
  projects/igniteui-angular/src/lib/grid/api.service.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
Labels: global-search, grid, status: verified, version: 6.2.x

#2398 Reapply the search upon exiting edit mode
  projects/igniteui-angular/src/lib/grid/api.service.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
Labels: global-search, grid, status: verified, version: 6.1.x

#2396 Remove discardPeriodicTasks() calls inside tests.
  projects/igniteui-angular/src/lib/directives/dragdrop/dragdrop.directive.spec.ts
  projects/igniteui-angular/src/lib/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.pinning.spec.ts
Labels: grid, tests, version: 6.2.x

#2400 chore(*): Refactoring horizontal navigation tests.
  projects/igniteui-angular/src/lib/grid/cell.spec.ts
Labels: tests, version: 6.2.x

#2393 Refactoring kb navigation tests and reusing code between different specs
  projects/igniteui-angular/src/lib/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/test-utils/helper-utils.spec.ts
Labels: tests, version: 6.2.x

#2436 Added documentation and code snippets to IgxTextSelectionDirective
  projects/igniteui-angular/src/lib/directives/text-selection/text-selection.directive.ts
Labels: documentation, status: verified, version: 6.1.x

#2349 6.1.x - IgxTextHighlightDirective - docs
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
Labels: documentation, status: verified, version: 6.1.x

#2427 fix(filter-ui): #2411 filter dialog is not displayed with Z-index igx…
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grid/grid-filtering.component.ts
  projects/igniteui-angular/src/lib/grid/grid.component.html
  projects/igniteui-angular/src/lib/grid/grid.component.ts
Labels: filter-ui, status: verified, version: 6.2.x

#2382 #2334 Nav drawer - don't update pin on window resize if width is the same
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.spec.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.ts
Labels: enhancement, nav-drawer, status: verified

#2443 IgxCombo - Selection - Override Selection through onSelectionChange emit - 6.1
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
Labels: combo, selection, status: verified, version: 6.1.x

#2442 IgxCombo - Selection - Override Selection through onSelectionChange emit - 6.2
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
Labels: combo, selection, status: verified, version: 6.2.x

#2283 Refactor igxForOf tests(6.1.x)
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
Labels: refactoring, tests, version: 6.1.x

#2317 Added documentation and code snippets to the IgxTextSelectionDirective
  projects/igniteui-angular/src/lib/directives/text-selection/text-selection.directive.ts
Labels: documentation, status: verified, version: 6.2.x

#2371 fix(list): list items appear above overlay
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
Labels: list, status: verified, version: 6.2.x

#2285 Refactor igxForOf tests
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
Labels: refactoring, tests, version: 6.2.x

#2431 IgxToggle - Readme - Fix misaligned API table
  projects/igniteui-angular/src/lib/directives/toggle/README.md
Labels: status: verified, toggle, version: 6.2.x

#2376 fix(ColumnHiding): #2351 Added string values to ColumnDisplayOrder enum values.
  projects/igniteui-angular/src/lib/grid/column-chooser-base.ts
Labels: grid-toolbar, status: verified, version: 6.2.x

#2390 Add 'exactMatch' option to grid-search API and highlight directive
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/text-highlight/README.md
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
  projects/igniteui-angular/src/lib/grid/README.md
  projects/igniteui-angular/src/lib/grid/cell.component.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grid/grid.search.spec.ts
Labels: global-search, grid, status: verified, version: 6.2.x

#2432 Fix scrolling using touch on Edge and IE scrolls the page but not the content
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: status: verified, version: 6.1.x, virtualization

#2433 Fix scrolling using touch on Edge and IE scrolls the page but not the content.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: status: verified, version: 6.2.x, virtualization

#2453 chore(*): Removing duplicated functions and using the ones from the t…
  projects/igniteui-angular/src/lib/chips/chip.spec.ts
  projects/igniteui-angular/src/lib/chips/chips-area.spec.ts
  projects/igniteui-angular/src/lib/grid/grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.groupby.spec.ts
Labels: tests, version: 6.1.x

#2455 chore(*): Removing duplicated functions and using the ones from the t…
  projects/igniteui-angular/src/lib/chips/chip.spec.ts
  projects/igniteui-angular/src/lib/chips/chips-area.spec.ts
  projects/igniteui-angular/src/lib/grid/grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.groupby.spec.ts
Labels: tests, version: 6.2.x

#2112 feat(typography): implement typography functions and mixins to the material spec
  .stylelintrc.json
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_mixins.scss
  projects/igniteui-angular/src/lib/core/styles/components/bottom-nav/_bottom-nav-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/column-hiding/_column-hiding-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-summary/_grid-summary-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/snackbar/_snackbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/core/styles/typography/README.md
  projects/igniteui-angular/src/lib/core/styles/typography/_base.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_index.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_variables.scss
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/snackbar/snackbar.component.html
  src/app/avatar/avatar.sample.html
  src/app/buttonGroup/buttonGroup.sample.html
  src/app/calendar/calendar.sample.html
  src/app/calendar/calendar.sample.scss
  src/app/calendar/calendar.sample.ts
  src/app/card/card.sample.html
  src/app/combo/combo.sample.css
  src/app/combo/combo.sample.html
  src/app/grid-column-moving/grid-column-moving.sample.css
  src/app/grid-column-moving/grid-column-moving.sample.html
  src/app/grid-column-pinning/grid-column-pinning.sample.css
  src/app/grid-column-pinning/grid-column-pinning.sample.html
  src/app/input/input.sample.css
  src/app/input/input.sample.html
  src/app/pageHeading/pageHeading.template.html
  src/index.html
  src/styles/_app-layout.scss
  src/styles/igniteui-theme.scss
Labels: feature, status: verified, typography, version: 6.2.x

#2450 Update Cell/Row outside the view ---6.1.x
  projects/igniteui-angular/src/lib/grid/api.service.ts
  projects/igniteui-angular/src/lib/grid/cell.component.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grid/grid.crud.spec.ts
  projects/igniteui-angular/src/lib/grid/row.component.ts
  src/app/grid-cellEditing/grid-cellEditing.component.html
  src/app/grid-cellEditing/grid-cellEditing.component.ts
Labels: grid, status: verified

#2448 Tabs and TimePicker tests reworked
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
Labels: status: verified, tabs, tests, time-picker

#2458 test(grid): improving component spec file [6.1.x]
  projects/igniteui-angular/src/lib/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.initialization.spec.ts
Labels: grid, refactoring, tests, version: 6.1.x

#2459 test(grid): improving component spec file [master]
  projects/igniteui-angular/src/lib/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grid/grid.initialization.spec.ts
Labels: grid, refactoring, tests, version: 6.2.x

#2438 Implement functionality to retemplate time and date pickers
  CHANGELOG.md
  projects/igniteui-angular/src/lib/date-picker/README.md
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/time-picker/README.md
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.directives.ts
  src/app/date-picker/date-picker.sample.html
  src/app/time-picker/time-picker.sample.html
Labels: date-picker, status: verified, time-picker, version: 6.2.x

#2468 Rename selector to 'igx-date-picker'
  CHANGELOG.md
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-6_2/changes/selectors.json
  projects/igniteui-angular/migrations/update-6_2/index.spec.ts
  projects/igniteui-angular/migrations/update-6_2/index.ts
  projects/igniteui-angular/src/lib/date-picker/README.md
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/grid/cell.component.html
  projects/igniteui-angular/src/lib/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grid/grid-filtering-expression.component.html
  src/app/date-picker/date-picker.sample.html
Labels: date-picker, status: verified, version: 6.2.x

#2449 Formatting the RoadMap
  ROADMAP.md
Labels: documentation

#2445 Update Cell/Row outside the view
  projects/igniteui-angular/src/lib/grid/api.service.ts
  projects/igniteui-angular/src/lib/grid/cell.component.ts
  projects/igniteui-angular/src/lib/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grid/grid.crud.spec.ts
  projects/igniteui-angular/src/lib/grid/row.component.ts
  src/app/grid-cellEditing/grid-cellEditing.component.html
  src/app/grid-cellEditing/grid-cellEditing.component.ts
Labels: grid, status: verified, version: 6.2.x

#2476 Check if the provided elementeRef has parentElement before attache the hook
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
Labels: overlay, status: verified, version: 6.2.x

#2472 Always use date from value
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: status: verified, time-picker, version: 6.1.x
