Repository IgniteUI/igniteui-angular, pull requests merged in 2018-04, with the labels that each got.

#825 Input directives
  .gitignore
  CHANGELOG.md
  demos/app/app.component.ts
  demos/app/app.module.ts
  demos/app/app.routing.ts
  demos/app/dialog/sample.component.css
  demos/app/dialog/sample.component.html
  demos/app/dialog/sample.module.ts
  demos/app/directives/mask/sample.component.html
  demos/app/directives/mask/sample.module.ts
  demos/app/grid-summaries/sample.module.ts
  demos/app/grid/sample.component.html
  demos/app/grid/sample.module.ts
  demos/app/icon/sample.component.ts
  demos/app/icon/sample.module.ts
  demos/app/input-group/input-group.component.css
  demos/app/input-group/input-group.component.html
  demos/app/input-group/input-group.component.ts
  demos/app/input-group/sample.module.ts
  demos/app/input/sample.component.html
  demos/app/input/sample.module.ts
  demos/app/list-performance/sample.component.html
  demos/app/list-performance/sample.component.ts
  demos/app/list-performance/sample.module.ts
  demos/app/list/sample.component.html
  demos/app/list/sample.component.ts
  demos/app/list/sample.module.ts
  demos/style/igniteui-theme.scss
  src/core/styles/components/input/_input-component.scss
  src/core/styles/components/input/_input-group-component.scss
  src/core/styles/components/input/_input-group-theme.scss
  src/core/styles/components/input/_input-theme.scss
  src/core/styles/themes/_core.scss
  src/core/styles/themes/_index.scss
  src/date-picker/date-picker.component.html
  src/date-picker/date-picker.component.spec.ts
  src/date-picker/date-picker.component.ts
  src/directives/hint/hint.directive.spec.ts
  src/directives/hint/hint.directive.ts
  src/directives/input/input.directive.spec.ts
  src/directives/input/input.directive.ts
  src/directives/label/label.directive.ts
  src/directives/mask/mask.directive.spec.ts
  src/directives/mask/mask.directive.ts
  src/directives/prefix/prefix.directive.spec.ts
  src/directives/prefix/prefix.directive.ts
  src/directives/suffix/suffix.directive.spec.ts
  src/directives/suffix/suffix.directive.ts
  src/grid/cell.component.html
  src/grid/grid-filtering.component.html
  src/grid/grid-filtering.spec.ts
  src/grid/grid-summary.component.html
  src/grid/index.ts
  src/input-group/input-group.component.html
  src/input-group/input-group.component.ts
  src/input-group/input-group.directive.spec.ts
  src/main.ts
  src/time-picker/time-picker.component.html
  src/time-picker/time-picker.component.spec.ts
  src/time-picker/time-picker.component.ts
Labels: input, input-group, status: verified, version: 5.3.x

#875 #851 new formatViews description of use
  src/calendar/calendar.component.ts
Labels: documentation, enhancement, version: 5.2.x

#886 test(igxCalendar): Fixing hanging unit tests
  .travis.yml
  src/calendar/calendar.component.spec.ts
Labels: build, calendar, tests

#810 feat(events): Event args types and refactoring
  CHANGELOG.md
  demos/package-lock.json
  package-lock.json
  package.json
  src/buttonGroup/buttonGroup.component.ts
  src/carousel/carousel.component.spec.ts
  src/carousel/carousel.component.ts
  src/checkbox/README.md
  src/checkbox/checkbox.component.ts
  src/date-picker/date-picker.component.spec.ts
  src/date-picker/date-picker.component.ts
  src/dialog/dialog.component.spec.ts
  src/dialog/dialog.component.ts
  src/directives/for-of/for_of.directive.ts
  src/grid/api.service.ts
  src/grid/cell.component.ts
  src/grid/cell.spec.ts
  src/grid/grid-filtering.component.ts
  src/grid/grid-header.component.ts
  src/grid/grid.component.ts
  src/grid/grid.crud.spec.ts
  src/grid/grid.pinning.spec.ts
  src/grid/row.component.ts
  src/list/list.component.ts
  src/navbar/navbar.component.ts
  src/navigation-drawer/navigation-drawer.component.spec.ts
  src/navigation-drawer/navigation-drawer.component.ts
  src/progressbar/progressbar.component.ts
  src/radio/radio.component.ts
  src/slider/slider.component.ts
  src/snackbar/snackbar.component.ts
  src/switch/switch.component.ts
  src/tabbar/tabbar.component.ts
  src/time-picker/time-picker.component.ts
  src/toast/toast.component.ts
Labels: enhancement, status: verified, version: 5.3.x

#883 Component comments... 3rd times the charm?
  src/avatar/avatar.component.ts
  src/badge/badge.component.ts
  src/buttonGroup/buttonGroup.component.ts
  src/calendar/calendar.component.ts
  src/card/card.component.ts
  src/carousel/carousel.component.ts
  src/checkbox/checkbox.component.ts
  src/date-picker/date-picker.component.ts
  src/dialog/dialog.component.ts
  src/grid/column.component.ts
  src/grid/grid.component.ts
  src/icon/icon.component.ts
  src/list/list.component.ts
  src/navbar/navbar.component.ts
  src/navigation-drawer/navigation-drawer.component.ts
  src/radio/radio.component.ts
  src/slider/slider.component.ts
  src/snackbar/snackbar.component.ts
  src/switch/switch.component.ts
  src/tabbar/tabbar.component.ts
  src/toast/toast.component.ts
Labels: documentation, status: verified

#834 Add container moving depending on scroll position for igxVirtFor when scrolling small amounts.
  CHANGELOG.md
  demos/app/virtual-for-directive/sample.component.html
  src/core/styles/components/_common/_igx-display-container.scss
  src/core/styles/components/_common/_igx-vhelper.scss
  src/core/styles/components/grid-summary/_grid-summary-component.scss
  src/core/styles/components/grid-summary/_grid-summary-theme.scss
  src/core/styles/components/grid/_grid-component.scss
  src/core/styles/components/grid/_grid-theme.scss
  src/directives/for-of/README.md
  src/directives/for-of/for_of.directive.spec.ts
  src/directives/for-of/for_of.directive.ts
  src/grid/cell.component.ts
  src/grid/grid-header.component.ts
  src/grid/grid-summary.component.ts
  src/grid/grid.pinning.spec.ts
  src/grid/row.component.ts
Labels: enhancement, grid, status: verified, virtualization

#871 Exposing igxGrid option for default column width
  src/grid/README.md
  src/grid/column.spec.ts
  src/grid/grid.component.ts
Labels: status: verified, version: 5.3.x, virtualization

#870 fix: Adding/removing columns from the grid
  src/grid/column.component.ts
  src/grid/column.spec.ts
  src/grid/grid.component.ts
Labels: grid, status: verified, version: 5.3.x

#874 #823 Change implementation of formatOptions/formatViews
  .travis.yml
  src/calendar/calendar.component.spec.ts
  src/calendar/calendar.component.ts
  src/date-picker/date-picker.component.ts
Labels: calendar, date-picker, status: verified, version: 5.2.x

#865 Fix for issue #841- Handling browser's height limitations. 5.2.x
  src/core/styles/components/_common/_igx-vhelper.scss
  src/directives/for-of/for_of.directive.spec.ts
  src/directives/for-of/for_of.directive.ts
Labels: status: verified, version: 5.2.x, virtualization

#869 Call preventDefault and stopPropagation in the wheel event handler
  .stylelintrc.json
  src/time-picker/time-picker.component.spec.ts
  src/time-picker/time-picker.component.ts
  src/time-picker/time-picker.directives.ts
Labels: status: verified, time-picker, version: 5.3.x

#843 igxGrid Exporters
  CHANGELOG.md
  demos/app/grid/sample.component.html
  demos/app/grid/sample.component.ts
  demos/app/grid/sample.module.ts
  gulpfile.js
  package.json
  src/main.ts
  src/services/csv/char-separated-value-data.ts
  src/services/csv/csv-exporter-grid.spec.ts
  src/services/csv/csv-exporter-options.ts
  src/services/csv/csv-exporter.spec.ts
  src/services/csv/csv-exporter.ts
  src/services/csv/csv-verification-wrapper.ts
  src/services/excel/excel-elements-factory.ts
  src/services/excel/excel-enums.ts
  src/services/excel/excel-exporter-grid.spec.ts
  src/services/excel/excel-exporter-options.ts
  src/services/excel/excel-exporter.spec.ts
  src/services/excel/excel-exporter.ts
  src/services/excel/excel-files.ts
  src/services/excel/excel-folders.ts
  src/services/excel/excel-interfaces.ts
  src/services/excel/excel-strings.ts
  src/services/excel/jszip-helper.ts
  src/services/excel/jszip-verification-wrapper.ts
  src/services/excel/test-data.service.ts
  src/services/excel/worksheet-data-dictionary.ts
  src/services/excel/worksheet-data.ts
  src/services/exporter-common/base-export-service.ts
  src/services/exporter-common/components-declarations.ts
  src/services/exporter-common/export-utilities.ts
  src/services/exporter-common/exporter-options-base.ts
  src/services/exporter-common/test-methods.ts
  tslint.json
Labels: exporters, feature, grid, status: verified, version: 5.3.x

#901 create hooks dir if not exist
  gulpfile.js
Labels: status: verified

#905 feat(radio): add label positioning, ripple, accessibility
  CHANGELOG.md
  demos/app/input/sample.component.css
  demos/app/input/sample.component.html
  demos/app/input/sample.component.ts
  package-lock.json
  src/core/styles/components/radio/_radio-component.scss
  src/core/styles/components/radio/_radio-theme.scss
  src/radio/README.md
  src/radio/radio.component.html
  src/radio/radio.component.spec.ts
  src/radio/radio.component.ts
Labels: feature, radio-button, status: verified, version: 5.3.x

#904 Fix(grid): fix using keyboard navigation down shifts grid content up #888
  src/directives/for-of/for_of.directive.ts
  src/grid/cell.component.ts
Labels: bug, grid, status: verified, version: 5.3.x, virtualization

#908 fix(igxGrid): Header height is not taken into account
  demos/app/input/sample.component.html
  src/grid/grid.component.ts
Labels: bug, grid, severity: high, status: in-test

#906 Allow all messages that start with "merge"
  .hooks/scripts/validate.js
Labels: status: verified

#909 prevent copying of git hook scripts when CI runs
  gulpfile.js
Labels: status: verified

#914 fix(demos) after radio button refactor merge
  demos/app/input/sample.component.css
  demos/app/input/sample.component.html
  demos/package-lock.json
Labels: demos, status: verified

#902 Fix(igxFor): Swipe scrolling in the grid does not work horizontally #890
  src/directives/for-of/for_of.directive.spec.ts
  src/directives/for-of/for_of.directive.ts
Labels: bug, status: verified, version: 5.3.x, virtualization

#910 Fix(igxGrid): In IE11 scrolling right to the last cell with the keybo…
  src/grid/cell.component.ts
  src/grid/cell.spec.ts
Labels: status: verified

#917 Nav drawer auto-pin and test fixes
  demos/app/app.component.ts
  src/navigation-drawer/navigation-drawer.component.spec.ts
  src/navigation-drawer/navigation-drawer.component.ts
Labels: nav-drawer, version: 5.3.x

#898 fix(igxGrid): Filtering dropdown animation flickers
  src/grid/grid-filtering.component.ts
  src/grid/grid-filtering.spec.ts
Labels: bug, grid, severity: low, status: verified, version: 5.3.x

#913 Ddavidkov/fix export statements
  src/main.ts
  src/services/index.ts
  tsconfig-aot.json
  webpack-umd.config.ts
Labels: exporters, status: verified, version: 5.3.x

#916 Fixed Igx-Grid-Header alignment
  src/core/styles/components/grid/_grid-theme.scss
  src/grid/grid-header.component.ts
Labels: status: verified

#847 feat(igx-grid): add primaryKey to grid, #805
  CHANGELOG.md
  demos/app/grid/sample.component.html
  demos/app/grid/sample.component.ts
  src/grid/api.service.ts
  src/grid/grid-selection.spec.ts
  src/grid/grid.component.html
  src/grid/grid.component.ts
  src/grid/row.component.ts
Labels: feature, grid, status: verified, version: 5.3.x

#919 igxAutoFocus and igxAutoSelection implementation and integration
  CHANGELOG.md
  demos/app/grid/sample.component.ts
  demos/app/grid/sample.module.ts
  src/directives/focus/focus.directive.spec.ts
  src/directives/focus/focus.directive.ts
  src/directives/text-selection/text-selection.directive.spec.ts
  src/directives/text-selection/text-selection.directive.ts
  src/grid/cell.component.html
  src/grid/cell.component.ts
  src/grid/index.ts
  src/main.ts
Labels: status: in-test, version: 5.3.x

#926 docs(igxFor): modifying changelog and readme for new requirements #768
  CHANGELOG.md
  src/directives/for-of/README.md
Labels: documentation, version: 5.3.x, virtualization

#938 trigger text selection when element is focused
  src/directives/text-selection/text-selection.directive.spec.ts
  src/directives/text-selection/text-selection.directive.ts
Labels: status: verified

#937 Updating the Roadmap with completed Items
  ROADMAP.md
Labels: documentation, status: verified, version: 5.3.x

#941 Fix the demos not building
  demos/app/grid/sample.component.ts
  demos/app/grid/sample.module.ts
  demos/package.json
  src/services/index.ts
Labels: status: verified

#922 feat(switch): add label positioning, ripple, and accessibility
  CHANGELOG.md
  demos/app/grid/sample.component.html
  demos/app/input/sample.component.css
  demos/app/input/sample.component.html
  demos/app/input/sample.component.ts
  src/core/styles/components/switch/_switch-component.scss
  src/core/styles/components/switch/_switch-theme.scss
  src/switch/README.md
  src/switch/switch.component.html
  src/switch/switch.component.spec.ts
  src/switch/switch.component.ts
Labels: feature, status: verified, switch, version: 5.3.x

#943 #929 Changing ng-template into *ngIf
  src/carousel/carousel.component.html
  src/carousel/carousel.component.spec.ts
Labels: carousel, status: verified, version: 5.3.x

#944 fix(grid-filtering): fix input display issues
  src/core/styles/components/grid-filtering/_grid-filtering-component.scss
  src/core/styles/components/grid-filtering/_grid-filtering-theme.scss
  src/grid/grid-filtering.component.html
Labels: bug, status: verified, version: 5.3.x

#960 Mvenkov/row selection tests
  src/grid/grid-selection.spec.ts
Labels: tests

#958 Emit onCellClick event when you click into cell
  CHANGELOG.md
  src/grid/README.md
  src/grid/cell.component.ts
  src/grid/cell.spec.ts
  src/grid/grid.component.ts
Labels: grid, status: verified, version: 5.3.x

#964 Add onContextMenu output to emit the clicked cell
  CHANGELOG.md
  README.md
  angularDocs.nuspec
  src/grid/README.md
  src/grid/cell.component.ts
  src/grid/grid.component.ts
Labels: enhancement, grid, status: verified, version: 5.3.x

#970 refactor(hooks): refactor git hooks scripts
  .hooks/scripts/common.js
  .hooks/scripts/templateValidators/default-style-validator.js
  .hooks/scripts/utils/issue-validator.js
  .hooks/scripts/utils/line-limits.js
  .hooks/scripts/validate.js
  gulpfile.js
Labels: status: verified

#817 igxGrid - deferred column resizing feature
  demos/app/avatar/sample.component.html
  demos/app/avatar/sample.module.ts
  demos/app/grid-column-pinning/sample.component.html
  demos/app/grid-performance/sample.component.html
  src/directives/dragdrop/dragdrop.directive.spec.ts
  src/directives/dragdrop/dragdrop.directive.ts
  src/grid/column-resizing.spec.ts
  src/grid/column.component.ts
  src/grid/grid-header.component.html
  src/grid/grid-header.component.ts
  src/grid/grid-summary.component.ts
  src/grid/grid.common.ts
  src/grid/grid.component.html
  src/grid/grid.component.ts
  src/grid/index.ts
  tslint.json
Labels: enhancement, grid, status: verified, version: 5.3.x

#880 igxGrid remote virtualization implementation and dev sample.
  CHANGELOG.md
  demos/app/app.component.ts
  demos/app/app.module.ts
  demos/app/app.routing.ts
  demos/app/grid-remote-virtualization/sample.component.css
  demos/app/grid-remote-virtualization/sample.component.html
  demos/app/grid-remote-virtualization/sample.component.ts
  demos/app/grid-remote-virtualization/sample.module.ts
  demos/app/virtual-for-directive/sample.component.html
  src/directives/for-of/for_of.directive.spec.ts
  src/directives/for-of/for_of.directive.ts
  src/grid/cell.component.ts
  src/grid/grid.component.html
  src/grid/grid.component.ts
  src/grid/grid.initialization.spec.ts
Labels: enhancement, grid, status: verified, version: 5.3.x, virtualization

#971 Fix list class host bindings
  src/list/list.component.spec.ts
  src/list/list.component.ts
Labels: list, status: verified, version: 5.3.x

#962 Deprecate tabbar's selector `igx-tab-bar`
  CHANGELOG.md
  demos/app/tabbar/sample.component.html
  demos/app/tabbar/sample.component.ts
  demos/app/tabbar/sample.module.ts
  demos/style/igniteui-theme.scss
  src/core/deprecateDecorators.ts
  src/core/styles/components/slider/_slider-theme.scss
  src/core/styles/components/snackbar/_snackbar-theme.scss
  src/core/styles/components/switch/_switch-theme.scss
  src/core/styles/components/tabbar/_tabbar-component.scss
  src/core/styles/components/tabbar/_tabbar-theme.scss
  src/core/styles/themes/_index.scss
  src/tabbar/README.md
  src/tabbar/tab-bar-content.component.html
  src/tabbar/tabbar.component.spec.ts
  src/tabbar/tabbar.component.ts
Labels: bottom-nav, status: verified

#879 igxGrid Row selection
  CHANGELOG.md
  demos/app/app.component.ts
  demos/app/app.module.ts
  demos/app/app.routing.ts
  demos/app/grid-column-pinning/sample.component.html
  demos/app/grid-performance/sample.component.html
  demos/app/grid-selection/sample.component.css
  demos/app/grid-selection/sample.component.html
  demos/app/grid-selection/sample.component.ts
  demos/app/grid-selection/sample.module.ts
  demos/app/grid-selection/sample.service.ts
  demos/app/grid/sample.component.html
  src/core/selection.ts
  src/core/styles/components/grid/_grid-component.scss
  src/core/styles/components/grid/_grid-theme.scss
  src/grid/README.md
  src/grid/api.service.ts
  src/grid/cell.component.ts
  src/grid/grid-selection.spec.ts
  src/grid/grid.component.html
  src/grid/grid.component.ts
  src/grid/grid.pipes.ts
  src/grid/index.ts
  src/grid/row.component.html
  src/grid/row.component.ts
Labels: status: verified, version: 5.3.x

#945 Sboykova/tabs control
  CHANGELOG.md
  demos/app/app.component.ts
  demos/app/app.module.ts
  demos/app/app.routing.ts
  demos/app/tabs/sample.component.css
  demos/app/tabs/sample.component.html
  demos/app/tabs/sample.component.ts
  demos/app/tabs/sample.module.ts
  demos/app/tabs/template.html
  demos/style/igniteui-theme.scss
  src/core/styles/components/tabs/_tabs-component.scss
  src/core/styles/components/tabs/_tabs-theme.scss
  src/core/styles/themes/_core.scss
  src/core/styles/themes/_index.scss
  src/main.ts
  src/tabs/README.md
  src/tabs/tab-item.component.html
  src/tabs/tab-item.component.ts
  src/tabs/tabs-group.component.html
  src/tabs/tabs-group.component.ts
  src/tabs/tabs.component.html
  src/tabs/tabs.component.spec.ts
  src/tabs/tabs.component.ts
  src/tabs/tabs.directives.ts
Labels: status: verified, tabs, version: 5.3.x

#946 Excel export enhancements
  src/services/csv/char-separated-value-data.ts
  src/services/csv/csv-exporter-grid.spec.ts
  src/services/csv/csv-exporter.spec.ts
  src/services/csv/csv-verification-wrapper.ts
  src/services/excel/excel-exporter-grid.spec.ts
  src/services/excel/excel-exporter-options.ts
  src/services/excel/excel-exporter.spec.ts
  src/services/excel/excel-exporter.ts
  src/services/excel/excel-files.ts
  src/services/excel/excel-folders.ts
  src/services/excel/excel-strings.ts
  src/services/excel/jszip-helper.ts
  src/services/excel/test-data.service.ts
  src/services/excel/worksheet-data-dictionary.ts
  src/services/excel/worksheet-data.ts
  src/services/exporter-common/base-export-service.ts
  src/services/exporter-common/components-declarations.ts
  src/services/exporter-common/export-utilities.ts
  src/services/exporter-common/exporter-options-base.ts
Labels: excel-exporter, status: verified, version: 5.3.x

#957 fix(grid):display horizontal scrollbar container only when needed
  src/grid/grid.component.html
  src/grid/grid.component.ts
  src/grid/grid.initialization.spec.ts
Labels: grid, status: verified, version: 5.3.x

#977 docs(igxFor): deprecating igxforremote for real #880
  src/directives/for-of/for_of.directive.ts
Labels: documentation, enhancement, status: verified, version: 5.3.x, virtualization

#950 feat: add focused styles for checkbox, radio, and switch
  src/checkbox/checkbox.component.ts
  src/core/styles/base/animations/generic/_scale.scss
  src/core/styles/components/checkbox/_checkbox-component.scss
  src/core/styles/components/checkbox/_checkbox-theme.scss
  src/core/styles/components/radio/_radio-component.scss
  src/core/styles/components/radio/_radio-theme.scss
  src/core/styles/components/switch/_switch-component.scss
  src/core/styles/components/switch/_switch-theme.scss
  src/radio/radio.component.ts
  src/switch/switch.component.ts
Labels: checkbox, feature, radio-button, status: verified, switch, version: 5.3.x

#982 Adding ARIA tests for the Selection
  src/grid/grid-selection.spec.ts
Labels: status: verified, tests, version: 5.3.x

#985 Add test for grid's onContextMenu output
  src/grid/cell.spec.ts
Labels: grid, status: verified, tests, version: 5.3.x

#975 fix(grid-summary): make grid summary value visible when is in small cell
  src/core/styles/components/grid-summary/_grid-summary-theme.scss
Labels: bug, grid, status: verified, styling, summaries, version: 5.3.x

#989 Increasing coverage of Csv exporter
  src/services/csv/char-separated-value-data.ts
Labels: exporters, refactoring, status: verified, version: 5.3.x

#955 fix: rtl support and disabled label color fixes
  src/core/styles/components/checkbox/_checkbox-component.scss
  src/core/styles/components/checkbox/_checkbox-theme.scss
  src/core/styles/components/radio/_radio-theme.scss
  src/core/styles/components/switch/_switch-theme.scss
Labels: bug, checkbox, radio-button, status: verified, switch, version: 5.3.x

#974 fix(igxGrid): resolving width calc issue #969
  src/grid/cell.component.ts
  src/grid/cell.spec.ts
Labels: bug, pinning, status: verified, version: 5.3.x

#924 Fixed grid summaries with remote data
  src/grid/grid-summary.spec.ts
  src/grid/grid-summary.ts
  src/grid/grid.component.html
  src/grid/grid.component.ts
Labels: grid, status: verified, summaries, version: 5.3.x

#1000 Pinning and Row selection
  src/grid/cell.component.ts
  src/grid/grid-selection.spec.ts
Labels: grid, status: verified, version: 5.3.x

#994 style(tabs): Fixing fixed width tabs and redesign the demo page
  demos/app/tabs/sample.component.css
  demos/app/tabs/sample.component.html
  src/core/styles/components/tabs/_tabs-theme.scss
Labels: status: verified, styling, tabs, version: 5.3.x

#949 feat: add required property to checkbox, radio, and switch
  CHANGELOG.md
  src/checkbox/README.md
  src/checkbox/checkbox.component.html
  src/checkbox/checkbox.component.spec.ts
  src/checkbox/checkbox.component.ts
  src/radio/README.md
  src/radio/radio.component.html
  src/radio/radio.component.spec.ts
  src/radio/radio.component.ts
  src/switch/README.md
  src/switch/switch.component.html
  src/switch/switch.component.spec.ts
  src/switch/switch.component.ts
Labels: checkbox, feature, radio-button, status: verified, switch, version: 5.3.x

#998 Summaries misaligned when row selectors enabled
  src/grid/grid-selection.spec.ts
  src/grid/grid.component.html
  src/grid/grid.component.ts
Labels: grid, status: verified, version: 5.3.x

#990 Close toggle when onpush
  src/directives/toggle/toggle.directive.spec.ts
  src/directives/toggle/toggle.directive.ts
Labels: status: verified, toggle, version: 5.3.x

#999 Tabs bugfixes
  src/tabs/README.md
  src/tabs/tabs.component.spec.ts
  src/tabs/tabs.component.ts
  src/tabs/tabs.directives.ts
Labels: bug, status: verified, tabs

#1002 fix(selection-controls): don't set input focus on label click
  src/checkbox/checkbox.component.ts
  src/radio/radio.component.ts
  src/switch/switch.component.ts
Labels: checkbox, radio-button, status: verified, switch, version: 5.3.x

#1003 Add HostListener for resize to update selector width
  src/tabs/tab-item.component.ts
  src/tabs/tabs.component.spec.ts
Labels: bug, status: verified, tabs, version: 5.3.x

#1006 Cell selection is lost after sorting
  src/grid/cell.component.ts
  src/grid/grid-selection.spec.ts
Labels: grid, status: verified, version: 5.3.x

#1007 fix(igxGrid): Filtering dialog overlapping with pinned columns
  src/grid/grid-header.component.ts
  src/grid/grid.pinning.spec.ts
Labels: bug, grid, status: verified, version: 5.3.x

#1011 Add a separate demo for column resizing
  demos/app/app.component.ts
  demos/app/app.module.ts
  demos/app/app.routing.ts
  demos/app/grid-column-pinning/sample.component.html
  demos/app/grid-column-resizing/sample.component.css
  demos/app/grid-column-resizing/sample.component.html
  demos/app/grid-column-resizing/sample.component.ts
  demos/app/grid-column-resizing/sample.module.ts
  demos/app/grid-performance/sample.component.html
  src/grid/column-resizing.spec.ts
  src/grid/grid-header.component.ts
Labels: demos, grid, status: verified, version: 5.3.x

#1028 Bug fix #178
  src/tabs/tabs.component.ts
Labels: bug, status: verified, tabs

#1021 Summaries calculated on filteredData result
  README.md
  ROADMAP.md
  src/grid/api.service.ts
  src/grid/grid-filtering.component.ts
  src/grid/grid-summary.component.ts
  src/grid/grid-summary.spec.ts
  src/grid/grid.component.ts
Labels: status: verified, summaries, version: 5.3.x

#1033 fix(themes): fixes regression issues in various component themes
  demos/app/list-performance/sample.component.css
  demos/app/list-performance/sample.component.html
  src/core/styles/base/_normalize.scss
  src/core/styles/components/_common/_igx-display-container.scss
  src/core/styles/components/_common/_igx-vhelper.scss
  src/core/styles/components/checkbox/_checkbox-theme.scss
  src/core/styles/components/grid/_grid-theme.scss
  src/core/styles/components/radio/_radio-theme.scss
  src/core/styles/components/switch/_switch-theme.scss
Labels: grid, status: verified, styling, theme, version: 5.3.x

#1012 [igxDatePicker] set the focus into the dialog when calendar appears
  src/date-picker/date-picker.component.ts
  src/dialog/dialog-content.component.html
  src/dialog/dialog.component.spec.ts
  src/dialog/dialog.component.ts
Labels: date-picker, status: verified, version: 5.3.x

#1009 refactor(grid): add column resizing themability
  src/core/styles/components/grid/_grid-component.scss
  src/core/styles/components/grid/_grid-theme.scss
  src/grid/grid-header.component.html
Labels: grid, status: verified, version: 5.3.x

#1017 Fix for #965 - adding change detection for ngModel bound templates in igxGrid
  src/grid/cell.component.ts
  src/grid/grid-selection.spec.ts
  src/grid/grid.component.ts
Labels: grid, status: verified, version: 5.3.x

#1040 corrected typo in calendar readme
  src/calendar/README.md
Labels: calendar, documentation, status: verified, version: 5.3.x

#1046 Edit grid selection section in changelog
  CHANGELOG.md
Labels: documentation, grid, status: verified

#1041 fix(grid): remove cursor resize from handle
  src/core/styles/components/grid/_grid-theme.scss
Labels: grid, status: verified, version: 5.3.x

#1024 fix(avatar): unable to add css classes to avatar instances
  src/avatar/avatar.component.html
  src/avatar/avatar.component.ts
Labels: avatar, status: verified, version: 5.3.x

#1029 fix(tabs): fix z-index browser discrepancies
  demos/app/tabs/sample.component.css
  demos/app/tabs/sample.component.html
  demos/style/igniteui-theme.scss
  src/core/styles/components/navbar/_navbar-theme.scss
Labels: status: verified, styling, tabs, version: 5.3.x

#1049 Grid header alignment
  src/core/styles/components/_common/_igx-display-container.scss
  src/core/styles/components/_common/_igx-vhelper.scss
  src/core/styles/components/grid/_grid-theme.scss
  src/grid/grid.component.html
  src/grid/grid.component.spec.ts
Labels: grid, status: verified, version: 5.3.x

#1048 fix(igxGrid): Column duplication when pinnning/unpinning
  src/grid/column.component.ts
  src/grid/grid.component.ts
  src/grid/grid.pinning.spec.ts
Labels: grid, status: verified, version: 5.3.x

#1047 [igxCalendar] Leave the focus onto the selected date
  src/calendar/calendar.component.html
  src/calendar/calendar.component.spec.ts
  src/calendar/calendar.component.ts
Labels: calendar, status: verified, version: 5.3.x

#1064 Cell Selection on Arrow Up - rework
  src/grid/cell.component.ts
Labels: grid, status: verified, version: 5.3.x

#1051 fix(grid-summaries): fix summaries width
  src/core/styles/components/grid-summary/_grid-summary-component.scss
  src/core/styles/components/grid-summary/_grid-summary-theme.scss
  src/grid/grid-summary.component.ts
Labels: grid, status: verified, styling, summaries, version: 5.3.x

#1055 refactor(grid): update sort icon in column header
  src/core/styles/components/grid-filtering/_grid-filtering-theme.scss
  src/core/styles/components/grid/_grid-component.scss
  src/core/styles/components/grid/_grid-theme.scss
  src/grid/column-resizing.spec.ts
  src/grid/grid-header.component.html
  src/grid/grid-header.component.ts
Labels: feature, grid, status: verified, version: 5.3.x

#1065 Header checkbox
  src/grid/grid-selection.spec.ts
  src/grid/grid.component.ts
Labels: grid, status: verified, version: 5.3.x

#1073 Don't focus the selected tab on init
  src/tabs/tabs-group.component.ts
  src/tabs/tabs.component.ts
Labels: status: verified, tabs, version: 5.3.x

#1081 fix(grid-filtering): Push the filtering menu below the grid header
  src/core/styles/components/grid-filtering/_grid-filtering-theme.scss
Labels: filter-ui, grid, status: verified, version: 5.3.x

#1085 Fixing broken API table
  src/grid/README.md
Labels: documentation, grid, version: 5.3.x

#1082 Ensure smooth vertical scrolling
  src/directives/for-of/for_of.directive.spec.ts
  src/directives/for-of/for_of.directive.ts
  src/grid/cell.component.ts
  src/tabs/tabs.component.spec.ts
Labels: grid, status: verified, virtualization

#1094 Expose reflow() method so it can be called publicly.
  src/grid/README.md
  src/grid/grid.component.ts
Labels: status: verified, version: 5.3.x

#1097 fix(grid): grid cells appear on top of overlayed items
  src/core/styles/components/_common/_igx-display-container.scss
Labels: grid, status: verified, version: 5.3.x

#1095 Column resizing rework
  src/grid/column-resizing.spec.ts
  src/grid/column.component.ts
  src/grid/grid-header.component.html
  src/grid/grid-header.component.ts
Labels: enhancement, grid, status: verified, version: 5.3.x

#1099 fix(datePicker): set readonly on datePicker input Closes: #1098
  src/date-picker/date-picker.component.html
Labels: date-picker, status: verified, version: 5.3.x

#1101 Update the changelog to properly target the changes made by renaming IgxTabBarComponent
  CHANGELOG.md
Labels: bottom-nav, documentation, status: verified

#1102 docs(igxGrid): Update Grid Readme.md
  src/grid/README.md
Labels: documentation, grid, status: verified, version: 5.3.x

#1090 test(igxGrid): Test grid default width and initially set column width…
  src/grid/grid.component.spec.ts
Labels: tests, version: 5.3.x

#1103 Tests for issue 1054
  src/grid/grid.component.spec.ts
Labels: tests, version: 5.3.x

#1092 feat(themes): add mixins for generating css classes from color palette
  demos/style/igniteui-theme.scss
  src/core/styles/base/utilities/_mixins.scss
Labels: feature, status: verified, theme, version: 5.3.x

#1074 feat(igxGrid): Auto sizing of the grid dimensions
  karma.conf.ts
  src/directives/for-of/for_of.directive.ts
  src/grid/column-resizing.spec.ts
  src/grid/grid-selection.spec.ts
  src/grid/grid.component.spec.ts
  src/grid/grid.component.ts
  test.css
Labels: grid, status: verified, version: 5.3.x

#1112 feat(themes): add theming utilities
  CHANGELOG.md
  src/core/styles/base/_index.scss
  src/core/styles/themes/_core.scss
  src/core/styles/themes/_index.scss
  src/core/styles/themes/_utilities.scss
Labels: status: verified, theme, version: 5.3.x

#1110 Make pinned column resizing works with % width set on grid
  src/grid/grid.component.ts
Labels: enhancement, grid, status: verified, version: 5.3.x

#1117 Uncomment test check due to being already fixed in PR #1084.
  src/grid/grid.component.spec.ts
Labels: tests

#1123 Improve Row selection performance
  src/core/selection.ts
  src/grid/grid.component.ts
Labels: Row Selection, grid, refactoring, status: verified, version: 5.3.x

#1128 Remove duplicate HostBindings
  demos/app/grid-performance/sample.component.html
  src/grid/row.component.ts
Labels: Row Selection, grid, refactoring, status: verified, version: 5.3.x

#1122 #1121 igx-datepicker expose onClose event
  CHANGELOG.md
  demos/app/date-picker/sample.component.html
  demos/app/date-picker/sample.component.ts
  src/date-picker/date-picker.component.spec.ts
  src/date-picker/date-picker.component.ts
Labels: status: verified, version: 5.3.x

#1113 fix(dialog): dialog overlay appears below grid elements
  src/core/styles/components/_common/_igx-vhelper.scss
  src/core/styles/components/dialog/_dialog-theme.scss
Labels: modal-dialog, status: verified, version: 5.3.x

#1142 #1111 dialog overlay appears below grid elements
  src/core/styles/components/_common/_igx-vhelper.scss
  src/core/styles/components/dialog/_dialog-theme.scss
Labels: modal-dialog, version: 5.3.x

#1141 fix(igxGrid): Setting grid height to null should force the grid to gr…
  src/grid/grid.component.spec.ts
  src/grid/grid.component.ts
Labels: status: verified, version: 5.3.x

#1146 docs(general): Fixing README.md broken inks
  README.md
Labels: documentation

#1155 Mark disabled property as Input
  src/directives/input/input.directive.spec.ts
  src/directives/input/input.directive.ts
Labels: date-picker, input, status: verified, time-picker

#1116 Adjust cell navigation on arrow up
  src/grid/cell.component.ts
Labels: bug, grid, status: verified, version: 5.3.x

#1140 Fix grid not recalculating its heights when performing actions like resizing.
  src/grid/column-resizing.spec.ts
  src/grid/grid-header.component.ts
Labels: grid, status: verified, version: 5.3.x

#1156 Add onRowSelectionChange event to grid README
  src/grid/README.md
Labels: documentation, status: verified

#1134 fix(igxForOf): Fix bottom row being cut when the display container is not virtual #1131
  src/core/styles/components/_common/_igx-display-container.scss
Labels: grid, status: verified, version: 5.3.x, virtualization

#1158 Add back row selection API to readme
  src/grid/README.md
Labels: documentation

#1165 test(igxCalendar): prevent spewing up errors from calendar tests
  src/calendar/calendar.component.spec.ts
Labels: status: verified

#1171 caret can't be moved in a editing cell
  src/grid/cell.component.ts
  src/grid/cell.spec.ts
  src/grid/grid.common.ts
Labels: grid, status: verified, version: 5.3.x

#1163 Do not filter on not unary conditions if no value
  README.md
  src/grid/grid-filtering-ui.spec.ts
  src/grid/grid-filtering.component.html
  src/grid/grid-filtering.component.ts
  src/grid/grid-filtering.spec.ts
Labels: filter-ui, grid, status: verified, version: 5.3.x

#1173 Remove console log
  src/grid/grid-selection.spec.ts
Labels: tests

#1157 fix(igxGrid): Keyboard navigation should work in grid with remote vir…
  src/directives/for-of/for_of.directive.ts
  src/grid/cell.component.ts
Labels: grid, status: verified, version: 5.3.x, virtualization

#1170 deleteRow first deselects the chosen row
  src/grid/grid-selection.spec.ts
  src/grid/grid.component.ts
Labels: grid, status: verified, version: 5.3.x

#1176 fix(igxGridCellComponent): remove stopImmediatePropagation function
  src/grid/cell.component.ts
  src/grid/grid.common.ts
Labels: status: verified, version: 5.2.x, version: 5.3.x

#1160 Optimize resize directive to improve the slow performance in IE/Edge
  src/grid/column-resizing.spec.ts
  src/grid/grid-header.component.html
  src/grid/grid-header.component.ts
  src/grid/grid.common.ts
Labels: enhancement, grid, status: verified, version: 5.3.x

#1172 fix(igGrid): Columns are not sized correctly when some of them are left without width. #1143
  src/grid/grid.component.spec.ts
  src/grid/grid.component.ts
Labels: status: verified, version: 5.3.x

#1188 fix(igxForOf): Fix cells being misaligned when resetting filter from empty result #1178
  src/directives/for-of/for_of.directive.spec.ts
  src/directives/for-of/for_of.directive.ts
Labels: grid, status: verified, version: 5.3.x

#1196 docs(general): Updating CONTRIBUTING.md with some new statuses
  .github/CONTRIBUTING.md
Labels: documentation, version: 5.3.x

#1192 chore(igxGrid): Adding basic igxGrid virtualization + navigation tests.
  src/grid/cell.spec.ts
Labels: tests, version: 5.3.x

#1200 Merging 5.3.x into master
  .github/CONTRIBUTING.md
  src/directives/for-of/for_of.directive.spec.ts
  src/directives/for-of/for_of.directive.ts
  src/grid/cell.spec.ts
  src/grid/column-resizing.spec.ts
  src/grid/grid-header.component.html
  src/grid/grid-header.component.ts
  src/grid/grid.common.ts
  src/grid/grid.component.spec.ts
  src/grid/grid.component.ts
Labels: status: verified, version: 5.4.x

#864 Fix for issue #841 - Handling browser's height limitations.
  src/directives/for-of/README.md
  src/directives/for-of/for_of.directive.ts
  src/grid/cell.component.ts
Labels: status: verified, version: 5.4.x, virtualization

#1174 fix(igxFor): ensuring correct state on size changes #1136
  src/directives/for-of/for_of.directive.ts
Labels: status: verified, version: 5.3.x, virtualization

#1205 chore(demos): Updating demos packages - master
  package-lock.json
  package.json
Labels: version: 5.4.x

#1181 fix(igGrid): Misalignment when resize a column and then scroll horizontally. #1169
  src/grid/grid.component.html
  src/grid/row.component.html
Labels: grid, resizing, status: verified, version: 5.3.x

#1199 fix(igxFor): ensuring correct state on size changes #1136 (master)
  src/directives/for-of/for_of.directive.ts
Labels: status: verified, version: 5.4.x, virtualization
