Repository IgniteUI/igniteui-angular, pull requests merged in 2019-02, with the labels that each got.

#3782 refactor(themes): remove dead theme code and register new themes
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-filtering/_grid-filtering-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-filtering/_grid-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-component.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
Labels: banner, circular-progress, filter-ui, progress-bar, status: verified, theme, time-picker, version: 7.2.x

#3783 refactor(themes): remove dead theme code and register new themes
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-filtering/_grid-filtering-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-filtering/_grid-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-component.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
Labels: banner, circular-progress, progress-bar, status: verified, styling, theme, time-picker, version: 7.1.x

#3790 build(api-themes): install source-map and build themes target es2017
  gulpfile.js
  package-lock.json
  package.json
Labels: build, documentation, sassdoc, status: verified, typedoc, version: 7.2.x

#3804 fix(api-dropdown): set latest verison by the default
  extras/docs/themes/sassdoc/assets/js/versioning/tag-versions.req.js
  extras/docs/themes/typedoc/src/assets/js/src/versioning/tag-versions.req.js
Labels: documentation, sassdoc, status: verified, typedoc, version: 6.2.x

#3805 fix(api-dropdown): set latest verison by the default
  extras/docs/themes/sassdoc/assets/js/versioning/tag-versions.req.js
  extras/docs/themes/typedoc/src/assets/js/src/versioning/tag-versions.req.js
Labels: documentation, sassdoc, status: verified, typedoc, version: 7.0.x

#3807 fix(api-dropdown): set latest verison by the default
  extras/docs/themes/sassdoc/assets/js/versioning/tag-versions.req.js
  extras/docs/themes/typedoc/src/assets/js/src/versioning/tag-versions.req.js
Labels: documentation, sassdoc, status: verified, typedoc, version: 7.2.x

#3806 fix(api-dropdown): set latest verison by the default
  extras/docs/themes/sassdoc/assets/js/versioning/tag-versions.req.js
  extras/docs/themes/typedoc/src/assets/js/src/versioning/tag-versions.req.js
Labels: documentation, sassdoc, status: verified, typedoc, version: 7.1.x

#3765 fix(Input): #3641 Don't mark not forms control invalid initially.
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
Labels: input, status: verified

#3648 #3641 Required inputs shouldn't be validated initially.
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: date-picker, status: verified, time-picker, version: 7.1.x

#3801 fix(search): Searching at the formatted cell data #3753
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
Labels: global-search, grid, status: verified, tree-grid, version: 7.1.x

#3802 fix(search): Searching at the formatted cell data #3753
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
Labels: global-search, grid, status: verified, tree-grid, version: 7.2.x

#3792 fix(Hiding): #3764 Hide from UI columns whose disableHiding=true.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/column-hiding.component.html
  projects/igniteui-angular/src/lib/grids/column-hiding.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
Labels: feature, grid, hiding, status: verified, version: 7.1.x

#3778 fix(grid): filtering row is not aligned to the left in IE11
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: filtering, grid, status: verified, theme, version: 7.2.x

#3773 fix(Hiding): #3764 Hide from UI columns whose disableHiding=true.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/column-hiding.component.html
  projects/igniteui-angular/src/lib/grids/column-hiding.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
Labels: grid, hiding, status: verified, version: 7.2.x

#3748 Add requestAnimationFrame for focusing filter row's input
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
Labels: browser: ie-11, filter-ui, grid, status: verified, version: 7.1.x

#3749 Add requestAnimationFrame for focusing filter row's input
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
Labels: browser: ie-11, filter-ui, grid, status: verified, version: 7.2.x

#3784 Changing collapse icon for IgxTreeGrid - master
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/test-utils/tree-grid-functions.spec.ts
Labels: status: verified, tree-grid, version: 7.2.x

#3785 Changing collapse icon for IgxTreeGrid - 7.1.x
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/test-utils/tree-grid-functions.spec.ts
Labels: status: verified, tree-grid, version: 7.1.x

#3786 Changing collapse icon for IgxTreeGrid - 6.2.x
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/test-utils/tree-grid-functions.spec.ts
Labels: status: verified, tree-grid, version: 6.2.x

#3793 refreshSearch when a column is hidden - 7.1.x
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/grid-search-box/grid-search-box.component.css
  src/app/grid-search-box/grid-search-box.component.html
  src/app/grid-search-box/grid-search-box.component.ts
  src/app/grid-search/grid-search.sample.css
  src/app/grid-search/grid-search.sample.html
  src/app/grid-search/grid-search.sample.ts
  src/app/routing.ts
Labels: global-search, grid, status: verified, version: 7.1.x

#3798 refreshSearch when a column is hidden
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
Labels: global-search, grid, status: verified, version: 7.2.x

#3825 fix(api-dropdown): sass dropdown optimization and version reverse
  extras/docs/themes/sassdoc/assets/js/versioning/tag-versions.req.js
  extras/docs/themes/sassdoc/views/index.hbs
  extras/docs/themes/typedoc/src/assets/js/src/versioning/tag-versions.req.js
  gulpfile.js
Labels: documentation, sassdoc, status: verified, typedoc, version: 6.2.x

#3826 fix(api-dropdown): sass dropdown optimization and version reverse
  extras/docs/themes/sassdoc/assets/js/versioning/tag-versions.req.js
  extras/docs/themes/sassdoc/views/index.hbs
  extras/docs/themes/typedoc/src/assets/js/src/versioning/tag-versions.req.js
  gulpfile.js
Labels: documentation, sassdoc, status: verified, typedoc, version: 7.0.x

#3827 fix(api-dropdown): sass dropdown optimization and version reverse
  extras/docs/themes/sassdoc/assets/js/versioning/tag-versions.req.js
  extras/docs/themes/sassdoc/views/index.hbs
  extras/docs/themes/typedoc/src/assets/js/src/versioning/tag-versions.req.js
  gulpfile.js
Labels: documentation, sassdoc, status: verified, typedoc, version: 7.1.x

#3795 Changed expand/colapse icons to be same as in the hierarchical grid. (Master)
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.html
Labels: grid, groupby, status: verified, version: 7.2.x

#3796 Changed expand/colapse icons to be same as in the hierarchical grid. (6.2.x)
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.html
Labels: grid, groupby, status: verified, version: 6.2.x

#3797 Changed expand/colapse icons to be same as in the hierarchical grid. (7.1.x)
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.html
Labels: grid, groupby, status: verified, version: 7.1.x

#3818 Wait until data is changed when scrolling to a different page
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
Labels: global-search, grid, status: verified, tree-grid, version: 7.2.x

#3838 fix(api-dropdown): change option links and diversify the sessionStorage
  extras/docs/themes/sassdoc/assets/js/versioning/tag-versions.req.js
  extras/docs/themes/typedoc/src/assets/js/src/versioning/tag-versions.req.js
Labels: documentation, sassdoc, status: verified, typedoc, version: 6.2.x

#3837 fix(api-dropdown): change option links and diversify the sessionStorage
  extras/docs/themes/sassdoc/assets/js/versioning/tag-versions.req.js
  extras/docs/themes/typedoc/src/assets/js/src/versioning/tag-versions.req.js
Labels: documentation, sassdoc, status: verified, typedoc, version: 7.0.x

#3836 fix(api-dropdown): change option links and diversify the sessionStorage
  extras/docs/themes/sassdoc/assets/js/versioning/tag-versions.req.js
  extras/docs/themes/typedoc/src/assets/js/src/versioning/tag-versions.req.js
Labels: documentation, sassdoc, status: verified, typedoc, version: 7.1.x

#3835 fix(api-dropdown): change option links and diversify the sessionStorage
  extras/docs/themes/sassdoc/assets/js/versioning/tag-versions.req.js
  extras/docs/themes/typedoc/src/assets/js/src/versioning/tag-versions.req.js
Labels: documentation, sassdoc, status: verified, typedoc, version: 7.2.x

#3646 Sorting styles improvemants
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/grid-header.component.html
  projects/igniteui-angular/src/lib/grids/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  src/app/grid-column-moving/grid-column-moving.sample.html
  src/app/grid-column-moving/grid-column-moving.sample.ts
Labels: refactoring, sorting, status: verified, styling, version: 7.2.x

#3848 Ie dropdown rendering
  extras/docs/themes/sassdoc/assets/js/versioning/tag-versions.req.js
  extras/docs/themes/typedoc/src/assets/js/src/versioning/tag-versions.req.js
Labels: browser: ie-11, documentation, sassdoc, status: verified, typedoc, version: 7.2.x

#3849 IЕ dropdown rendering 6.2.x
  extras/docs/themes/sassdoc/assets/js/versioning/tag-versions.req.js
  extras/docs/themes/typedoc/src/assets/js/src/versioning/tag-versions.req.js
Labels: browser: ie-11, documentation, sassdoc, status: verified, typedoc, version: 6.2.x

#3850 IE dropdown rendering 7.1.x
  extras/docs/themes/sassdoc/assets/js/versioning/tag-versions.req.js
  extras/docs/themes/typedoc/src/assets/js/src/versioning/tag-versions.req.js
Labels: browser: ie-11, documentation, sassdoc, status: verified, typedoc, version: 7.1.x

#3851 IE dropdown rendering 7.0.x
  extras/docs/themes/sassdoc/assets/js/versioning/tag-versions.req.js
  extras/docs/themes/typedoc/src/assets/js/src/versioning/tag-versions.req.js
Labels: browser: ie-11, documentation, sassdoc, status: verified, typedoc, version: 7.0.x

#3853 Postion component wrapper on exact pixel location 7.1.x
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/position/connected-positioning-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/elastic-position-strategy.ts
Labels: overlay, status: verified, version: 7.1.x

#3852 Postion component wrapper on exact pixel location
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/position/connected-positioning-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/elastic-position-strategy.ts
Labels: overlay, status: verified, version: 7.2.x

#3866 fix(svg-container): fix missing classes for svg icon container
  projects/igniteui-angular/src/lib/core/styles/components/icon/_icon-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon/_icon-theme.scss
Labels: icon, styling, theme, version: 7.2.x

#3822 Reposition correctly element after its size was changed
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-theme.scss
  projects/igniteui-angular/src/lib/services/overlay/README.md
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
  projects/igniteui-angular/src/lib/services/overlay/position/IPositionStrategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/auto-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/base-fit-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/connected-positioning-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/elastic-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/global-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/utilities.ts
  projects/igniteui-angular/test.css
  src/app/overlay/overlay.sample.css
  src/app/overlay/overlay.sample.html
  src/app/overlay/overlay.sample.ts
Labels: overlay, status: verified, version: 7.2.x

#3867 refactor(functions): remove duplicated functions
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
Labels: refactoring, status: verified, theme, version: 7.1.x

#3844 Add expand/collapse with Alt + Arrow Up/Down.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-keyBoardNav.spec.ts
Labels: groupby, keyboard-navigation, status: verified, tree-grid, version: 7.1.x

#3845 Add expand/collapse with Alt + Arrow Up/Down.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-keyBoardNav.spec.ts
Labels: groupby, keyboard-navigation, status: verified, tree-grid, version: 7.2.x

#3843 Add expand/collapse with Alt + Arrow Up/Down.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-keyBoardNav.spec.ts
Labels: groupby, keyboard-navigation, status: verified, tree-grid, version: 6.2.x

#3865 Outlined buttons
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button.scss
  projects/igniteui-angular/src/lib/directives/button/README.md
  src/app/button/button.sample.html
Labels: button-theme, feature, status: verified, theme, version: 7.2.x

#3871 style(linear-bar): Fix text alignment
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/progressbar/templates/linear-bar.component.html
  src/app/progressbar/progressbar.sample.html
  src/app/progressbar/progressbar.sample.ts
Labels: progress-bar, status: verified, styling, version: 7.2.x

#3864 Add browser event to overlay onClosing arguments
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.common.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/services/index.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
  projects/igniteui-angular/src/lib/services/overlay/utilities.ts
  projects/igniteui-angular/src/public_api.ts
Labels: overlay, status: verified, version: 7.2.x

#3882 fix(hGrid): Fixing circular dependencies #3880
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-cell.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
Labels: hierarchical-grid, status: verified, version: 7.2.x

#3886 feat(expansion-panel): ArrowDown/ArrowUp toggle handler on header
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel-header.component.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.spec.ts
Labels: expansion-panel, status: verified, version: 7.2.x

#3611 feat(igx-autocomplete): add igxAutocomplete directive #3585
  CHANGELOG.md
  README.md
  projects/igniteui-angular/src/lib/combo/README.md
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/README.md
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down-group.component.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/autocomplete/autocomplete.sample.css
  src/app/autocomplete/autocomplete.sample.html
  src/app/autocomplete/autocomplete.sample.ts
  src/app/routing.ts
  src/app/shared/shared.module.ts
Labels: autocomplete, feature, squash-merge, status: verified, version: 7.2.x

#3858 Build typedoc doc 7.0.x
  extras/docs/themes/typedoc/src/assets/js/src/theme.ts
  gulpfile.js
Labels: documentation, status: verified, typedoc, version: 7.0.x

#3859 Build typedoc doc 6.2.x
  extras/docs/themes/typedoc/src/assets/js/src/theme.ts
  gulpfile.js
Labels: documentation, status: verified, typedoc, version: 6.2.x

#3857 Build typedoc doc 7.1.x
  extras/docs/themes/typedoc/src/assets/js/src/theme.ts
  gulpfile.js
Labels: documentation, status: verified, typedoc, version: 7.1.x

#3875 fix(hgrid): changing template directive selector for hgrid #3870
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
Labels: hierarchical-grid, status: verified, version: 7.2.x

#3873 fix(HierarchicalGrid): Fix and test for #3872.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: hierarchical-grid, status: verified, version: 7.2.x

#3869 fix(hgrid): adding foreign key #3868
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/README.md
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
Labels: hierarchical-grid, status: verified, version: 7.2.x

#3889 fix(api-docs-dropdown): do the selection based on the current url location
  extras/docs/themes/sassdoc/assets/js/versioning/tag-versions.req.js
  extras/docs/themes/typedoc/src/assets/js/src/versioning/tag-versions.req.js
Labels: documentation, sassdoc, status: verified, typedoc, version: 6.2.x

#3891 fix(api-docs-dropdown): do the selection based on the current url location
  extras/docs/themes/sassdoc/assets/js/versioning/tag-versions.req.js
  extras/docs/themes/typedoc/src/assets/js/src/versioning/tag-versions.req.js
Labels: documentation, sassdoc, status: verified, typedoc, version: 7.1.x

#3856 Build typedoc doc mac master
  extras/docs/themes/typedoc/src/assets/js/src/theme.ts
  gulpfile.js
Labels: documentation, status: verified, typedoc, version: 7.2.x

#3893 fix(api-docs-dropdown): do the selection based on the current url location
  extras/docs/themes/sassdoc/assets/js/versioning/tag-versions.req.js
  extras/docs/themes/typedoc/src/assets/js/src/versioning/tag-versions.req.js
  gulpfile.js
Labels: documentation, sassdoc, status: verified, typedoc, version: 7.0.x

#3892 fix(api-docs-dropdown): do the selection based on the current url location
  extras/docs/themes/sassdoc/assets/js/versioning/tag-versions.req.js
  extras/docs/themes/typedoc/src/assets/js/src/versioning/tag-versions.req.js
Labels: documentation, sassdoc, status: verified, typedoc, version: 7.2.x

#3812 fix(drop-down): Calling open() only on a collapsed toggle #3810
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/dialog/dialog.component.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
  projects/igniteui-angular/src/lib/services/overlay/utilities.ts
  src/app/drop-down/drop-down.sample.html
  src/app/drop-down/drop-down.sample.ts
Labels: dropdown, status: verified, version: 7.1.x

#3900 Making added rows unexpandable, fixing template #3879
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.ts
  projects/igniteui-angular/src/lib/grids/row.component.ts
Labels: hierarchical-grid, row-editing, status: verified, version: 7.2.x

#3898 fix(igxGrid): Restore focused group after toggle is complete (instead…
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
Labels: grid, status: verified, version: 7.2.x

#3896 Fix hierarchical grid scrolling to bottom when expanding row.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
Labels: hierarchical-grid, status: verified, version: 7.2.x, virtualization

#3903 fix(api-docs-dropdown): change prod jp json link which holds the versions
  extras/docs/themes/config.json
Labels: documentation, sassdoc, status: verified, typedoc, version: 6.2.x

#3904 fix(api-docs-dropdown): change prod jp json link which holds the versions
  extras/docs/themes/config.json
Labels: documentation, sassdoc, status: verified, typedoc, version: 7.0.x

#3905 fix(api-docs-dropdown): change prod jp json link which holds the versions
  extras/docs/themes/config.json
Labels: documentation, sassdoc, status: verified, typedoc, version: 7.1.x

#3906 fix(api-docs-dropdown): change prod jp json link which holds the versions
  extras/docs/themes/config.json
Labels: documentation, sassdoc, status: verified, typedoc, version: 7.2.x

#3811 fix(drop-down): Calling open() only on a collapsed toggle #3810
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/dialog/dialog.component.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
  projects/igniteui-angular/src/lib/services/overlay/utilities.ts
  src/app/drop-down/drop-down.sample.html
  src/app/drop-down/drop-down.sample.ts
Labels: dropdown, squash-merge, status: verified, version: 7.2.x

#3919 Improve autocomplete description in changelog
  CHANGELOG.md
  src/app/autocomplete/autocomplete.sample.html
Labels: autocomplete, demos, documentation, status: verified

#3570 feat(igxSelect): Add IgxSelect component
  CHANGELOG.md
  README.md
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
  projects/igniteui-angular/src/lib/directives/label/label.directive.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down-group.component.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/select/README.md
  projects/igniteui-angular/src/lib/select/select-item.component.ts
  projects/igniteui-angular/src/lib/select/select-navigation.directive.ts
  projects/igniteui-angular/src/lib/select/select-positioning-strategy.ts
  projects/igniteui-angular/src/lib/select/select.common.ts
  projects/igniteui-angular/src/lib/select/select.component.html
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/routing.ts
  src/app/select/select.sample.html
  src/app/select/select.sample.scss
  src/app/select/select.sample.ts
  src/app/shared/shared.module.ts
Labels: select, squash-merge, status: verified, version: 7.2.x

#3855 Calendar - expose views as separate components + advanced KB navigation
  CHANGELOG.md
  projects/igniteui-angular/src/lib/calendar/README.md
  projects/igniteui-angular/src/lib/calendar/calendar.component.html
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
  projects/igniteui-angular/src/lib/calendar/calendar.directives.ts
  projects/igniteui-angular/src/lib/calendar/calendar.module.ts
  projects/igniteui-angular/src/lib/calendar/calendar.ts
  projects/igniteui-angular/src/lib/calendar/days-view/day-item.component.html
  projects/igniteui-angular/src/lib/calendar/days-view/day-item.component.ts
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.html
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.ts
  projects/igniteui-angular/src/lib/calendar/index.ts
  projects/igniteui-angular/src/lib/calendar/months-view/months-view.component.html
  projects/igniteui-angular/src/lib/calendar/months-view/months-view.component.ts
  projects/igniteui-angular/src/lib/calendar/years-view/years-view.component.html
  projects/igniteui-angular/src/lib/calendar/years-view/years-view.component.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/month-picker/README.md
  projects/igniteui-angular/src/lib/month-picker/month-picker.component.html
  projects/igniteui-angular/src/lib/month-picker/month-picker.component.spec.ts
  projects/igniteui-angular/src/lib/month-picker/month-picker.component.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/calendar-views/calendar-views.sample.html
  src/app/calendar-views/calendar-views.sample.scss
  src/app/calendar-views/calendar-views.sample.ts
  src/app/routing.ts
  src/app/shared/shared.module.ts
Labels: calendar, enhancement, squash-merge, status: verified, version: 7.2.x

#3920 Remove overflow - auto from wrapper element, #3876
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-theme.scss
Labels: overlay, status: verified, version: 7.2.x

#3922 fix(grid): adjust row editing overlay to be properly aligned with row
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: row-editing, status: verified, version: 7.2.x

#3737 Adding configurable border-radius
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-7_2_0/changes/theme-props.json
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/snackbar/_snackbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tooltip/_tooltip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_badge.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button-group.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_calendar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_card.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_carousel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_chip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_dialog.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_drop-down.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_expansion-panel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_input-group.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_list.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_navdrawer.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_snackbar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_toast.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_tooltip.scss
  src/app/chips/chips.sample.scss
  src/app/expansion-panel/expansion-panel-sample.scss
Labels: breaking-change, status: verified, styling, version: 7.2.x

#3928 feat(samples): Add web.config for the samples to fix 404 on IIS #3927
  angular.json
  src/app/autocomplete/autocomplete.sample.html
  src/web.config
Labels: build, samples, status: verified, version: 7.2.x

#3925 fix(IgxSelect): fix select position in navigation #3923
  src/app/app.component.ts
Labels: samples, select, status: verified, version: 7.2.x

#3926 fix(IgxSelect): Remove excess overlaySettings, use ViewChildren.
  src/app/select/select.sample.html
  src/app/select/select.sample.ts
Labels: demos, select, status: verified, version: 7.2.x

#3939 fix(igxGrid): refactoring column init fix #3916
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: status: verified

#3888 refactor(card): apply the content color to any text element
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
Labels: card, status: verified, theme, version: 7.1.x

#3887 refactor(card): apply the content color to any text element
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
Labels: card, status: verified, theme, version: 7.2.x

#3942 style(linear-bar): Fix text aligment
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/progressbar/templates/linear-bar.component.html
  src/app/progressbar/progressbar.sample.html
  src/app/progressbar/progressbar.sample.ts
Labels: progress-bar, styling, version: 7.1.x

#3899 Add attach method to obtain unique id
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/README.md
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: overlay, squash-merge, status: verified, version: 7.2.x

#3913 Refresh search highlights when a row is loaded from the cache
  projects/igniteui-angular/src/lib/directives/template-outlet/template_outlet.directive.ts
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: global-search, grid, hierarchical-grid, status: verified, tree-grid, version: 7.2.x

#3860 fix(Input): #3641 Remove the '' from input value setter.
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: input, status: verified, version: 7.1.x

#3943 Move igxSelect list/item ARIA attributes to base igxDropDown
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.html
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/select/select-item.component.ts
  projects/igniteui-angular/src/lib/select/select.component.html
  projects/igniteui-angular/src/lib/select/select.component.ts
Labels: a11y, autocomplete, dropdown, select, status: verified, version: 7.2.x

#3937 fix(Grid): Removing forEachOperation accumulation since it’s slow and…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
Labels: grid, hierarchical-grid, status: verified, version: 7.2.x

#3861 fix(Input): #3641 Remove the '' from input value setter.
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: input, status: verified, version: 7.2.x

#3912 Hide all modules from typedoc
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
  projects/igniteui-angular/src/lib/badge/badge.component.ts
  projects/igniteui-angular/src/lib/banner/banner.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/calendar/calendar.module.ts
  projects/igniteui-angular/src/lib/card/card.component.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/core/navigation/directives.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/dialog/dialog.component.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
  projects/igniteui-angular/src/lib/directives/dragdrop/dragdrop.directive.ts
  projects/igniteui-angular/src/lib/directives/filter/filter.directive.ts
  projects/igniteui-angular/src/lib/directives/focus/focus.directive.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/directives/layout/layout.directive.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/directives/ripple/ripple.directive.ts
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
  projects/igniteui-angular/src/lib/directives/text-selection/text-selection.directive.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  projects/igniteui-angular/src/lib/drop-down/index.ts
  projects/igniteui-angular/src/lib/grids/column-hiding.component.ts
  projects/igniteui-angular/src/lib/grids/column-pinning.component.ts
  projects/igniteui-angular/src/lib/grids/grid-common.module.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.module.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.module.ts
  projects/igniteui-angular/src/lib/icon/index.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
  projects/igniteui-angular/src/lib/list/list.component.ts
  projects/igniteui-angular/src/lib/month-picker/month-picker.component.ts
  projects/igniteui-angular/src/lib/navbar/navbar.component.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.module.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
  projects/igniteui-angular/src/lib/snackbar/snackbar.component.ts
  projects/igniteui-angular/src/lib/switch/switch.component.ts
  projects/igniteui-angular/src/lib/tabbar/tabbar.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
  projects/igniteui-angular/src/lib/toast/toast.component.ts
Labels: documentation, status: verified, typedoc, version: 7.2.x

#3583 editable date picker
  CHANGELOG.md
  projects/igniteui-angular/src/lib/calendar/calendar.component.html
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.ts
  projects/igniteui-angular/src/lib/calendar/months-view/months-view.component.html
  projects/igniteui-angular/src/lib/calendar/months-view/months-view.component.ts
  projects/igniteui-angular/src/lib/calendar/years-view/years-view.component.html
  projects/igniteui-angular/src/lib/calendar/years-view/years-view.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/date-picker/_date-picker-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/date-picker/_date-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_date-picker.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_date-picker.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/date-picker/README.md
  projects/igniteui-angular/src/lib/date-picker/calendar-container.component.html
  projects/igniteui-angular/src/lib/date-picker/calendar-container.component.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.common.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.directives.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.pipes.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.utils.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/date-picker/date-picker.sample.html
  src/app/date-picker/date-picker.sample.ts
Labels: date-picker, feature, squash-merge, status: verified, version: 7.2.x

#3941 Update horizontal virtualization state for rows re-inserted from cache.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
Labels: grid, hierarchical-grid, status: verified, tree-grid, version: 7.2.x

#3957 fix(Grid): Update horizontal virtualization state for rows re-inserted from cache. - 6.2.x
  projects/igniteui-angular/src/lib/directives/template-outlet/template_outlet.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
Labels: grid, status: verified, version: 6.2.x

#3930 Remove handler, cause overlay exposes excludePositionTarget setting
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
Labels: autocomplete, status: verified, version: 7.2.x

#3961 fix(date-picker): Fixed import and hide function #3034
  projects/igniteui-angular/src/lib/date-picker/calendar-container.component.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: date-picker, status: verified, version: 7.2.x

#3944 fix(HierarchicalGrid): Skip children that have no data when navigating up/down.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
Labels: hierarchical-grid, status: verified, version: 7.2.x

#3955 Position overlay with top left bottom and right
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-theme.scss
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/grids/grid.common.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
  projects/igniteui-angular/src/lib/services/overlay/position/auto-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/base-fit-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/connected-positioning-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/elastic-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/utilities.ts
Labels: overlay, status: verified, version: 7.2.x

#3966 fix(Grid): Hide grouped columns after columns have been generated in ngAfterContentInit.
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
Labels: grid, groupby, status: verified, version: 6.2.x

#3965 fix(Grid): Hide grouped columns after columns have been generated in ngAfterContentInit.
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
Labels: grid, groupby, status: verified, version: 7.1.x

#3964 fix(Grid): Hide grouped columns after columns have been generated in ngAfterContentInit.
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
Labels: grid, groupby, status: verified, version: 7.2.x

#3947 Month Picker refactoring
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.html
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
  projects/igniteui-angular/src/lib/calendar/calendar.directives.ts
  projects/igniteui-angular/src/lib/calendar/calendar.module.ts
  projects/igniteui-angular/src/lib/calendar/calendar.ts
  projects/igniteui-angular/src/lib/calendar/days-view/day-item.component.html
  projects/igniteui-angular/src/lib/calendar/days-view/day-item.component.ts
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.ts
  projects/igniteui-angular/src/lib/calendar/index.ts
  projects/igniteui-angular/src/lib/calendar/month-picker-base.ts
  projects/igniteui-angular/src/lib/calendar/month-picker/README.md
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.html
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.ts
  projects/igniteui-angular/src/lib/calendar/months-view/months-view.component.ts
  projects/igniteui-angular/src/lib/calendar/years-view/years-view.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_calendar.scss
  projects/igniteui-angular/src/public_api.ts
  src/app/calendar-views/calendar-views.sample.html
  src/app/calendar-views/calendar-views.sample.ts
  src/app/shared/shared.module.ts
Labels: calendar, refactoring, status: verified, version: 7.2.x

#3954 fix(Grid): Fix and test for #3938 - When a large templated column gets pinned, height of cells in unpinned area should be correct.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-pinning.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-base-components.spec.ts
Labels: grid, hierarchical-grid, status: verified, version: 7.2.x

#3958 Set igxForSizePropName for the TreeGrid
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
Labels: status: verified, tree-grid, version: 7.1.x

#3973 Open toggle with same id when there is any
  projects/igniteui-angular/src/lib/directives/dragdrop/dragdrop.directive.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
  src/app/overlay/overlay.sample.css
  src/app/overlay/overlay.sample.html
  src/app/overlay/overlay.sample.ts
Labels: status: verified, toggle, version: 7.2.x

#3959 Set igxForSizePropName for the TreeGrid
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
Labels: status: verified, tree-grid, version: 7.2.x

#3962 fix(hgrid): assigning the correct transaction for subscriptions #3960
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
Labels: hierarchical-grid, row-editing, status: verified, version: 7.2.x

#3989 docs(changelog): Adding bug fixes for 6.2.9 and 6.2.10
  CHANGELOG.md
Labels: documentation, version: 6.2.x

#3990 docs(changelog): Adding bug fixes for versions 6.2.6 to 6.2.8
  CHANGELOG.md
Labels: documentation, version: 6.2.x

#3992 docs(changelog): Adding missing version bug fixes from 7.1.x and 6.2.x
  CHANGELOG.md
Labels: documentation, version: 7.1.x

#3987 #3921 igxSelect IE positiong of dropdown with scrolled items
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/select/select-positioning-strategy.ts
Labels: browser: ie-11, select, status: verified, version: 7.2.x

#3953 igxSelect Positioning tests
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
Labels: select, status: verified, tests, version: 7.2.x

#3991 fix(igxOverlay): add NgModuleRef param to attach, #3988
  CHANGELOG.md
  projects/igniteui-angular/src/lib/services/overlay/README.md
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
Labels: overlay, status: verified, version: 7.2.x

#3986 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

#3994 fix(banner): banner margin resets too much
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-theme.scss
Labels: banner, status: verified, theme, version: 7.2.x

#4001 fix(combo): patch keyboard nav down
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
Labels: combo, keyboard-navigation, status: verified, version: 7.2.x

#4002 fix(combo): detect changes when clearing filter on list w/o scroll
  projects/igniteui-angular/src/lib/combo/combo.component.ts
Labels: combo, status: verified, version: 7.2.x

#4003 fix(date-picker): Fix for lazy-loading issue #3988
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: date-picker, status: verified, version: 7.2.x

#3821 Implement Excel style filtering
  CHANGELOG.md
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/directives/filter/filter.directive.ts
  projects/igniteui-angular/src/lib/directives/for-of/virtual.helper.component.ts
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/column-pinning.component.ts
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-column-moving.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-column-moving.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-drop-down.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-sorting.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-sorting.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/filtering/svgIcons.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid-column-resizing.service.ts
  projects/igniteui-angular/src/lib/grids/grid-common.module.ts
  projects/igniteui-angular/src/lib/grids/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/grid-header.component.html
  projects/igniteui-angular/src/lib/grids/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/grid.common.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.crud.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-crud.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-sorting.spec.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  src/app/grid-column-moving/grid-column-moving.sample.html
  src/app/grid-column-moving/grid-column-moving.sample.ts
  src/app/grid-performance/grid-performance.sample.html
Labels: excel-style-filtering, grid, status: verified, version: 7.2.x

#4005 Implement EditorProvider interface - igxSelect
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
Labels: enhancement, select, status: verified, version: 7.2.x

#4008 Calculate width before opening the drop down
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
Labels: autocomplete, status: verified, version: 7.2.x

#4006 Implement EditorProvider interface - igxCombo.
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
Labels: combo, enhancement, status: verified, version: 7.2.x

#4009 chore(npm, ci): include rc-marked versions in the `@next` package stream
  .travis.yml
Labels: npm, travis-ci

#4016 Update API comments for IgxOverlay
  projects/igniteui-angular/src/lib/services/overlay/position/auto-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/base-fit-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/connected-positioning-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/elastic-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/global-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/scroll/NoOpScrollStrategy.ts
  projects/igniteui-angular/src/lib/services/overlay/scroll/absolute-scroll-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/scroll/block-scroll-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/scroll/close-scroll-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/utilities.ts
Labels: documentation, overlay, status: verified, version: 7.2.x

#4040 Show custom filter item only of there are filters
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
Labels: excel-style-filtering, grid, status: verified, version: 7.2.x

#4039 Excel style filtering UI refactorings
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-drop-down.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-sorting.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.html
  projects/igniteui-angular/src/lib/grids/grid-common.module.ts
Labels: excel-style-filtering, status: verified, version: 7.2.x

#4042 Add filter row height only if mode is quickfilter
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: excel-style-filtering, grid, status: verified, version: 7.2.x

#3983 fix(grid): DetectChanges when apply column's formatter via code #3819
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
Labels: grid, status: verified, version: 7.1.x

#4037 fix(select): do not emit onSelection w/o selection change
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
Labels: select, status: verified, version: 7.2.x

#3997 Add clone method to interface and refactor usage #3933
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
  projects/igniteui-angular/src/lib/services/overlay/README.md
  projects/igniteui-angular/src/lib/services/overlay/position/IPositionStrategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/connected-positioning-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/global-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/utilities.ts
  src/app/autocomplete/autocomplete.sample.ts
Labels: autocomplete, overlay, status: verified, toggle, version: 7.2.x

#4022 docs(combo): cleanup combo and drop down API
  projects/igniteui-angular/src/lib/combo/README.md
  projects/igniteui-angular/src/lib/combo/combo-add-item.component.ts
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.component.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
Labels: combo, documentation, dropdown, version: 7.2.x

#4051 fix(combo): introduce proper check for navigation in remote data - 7.1.x
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/combo/combo-item.component.ts
Labels: combo, keyboard-navigation, status: verified, version: 7.1.x

#4013 fix(igxChip): Fix chip select icon not showing when selected and selectable is false.
  projects/igniteui-angular/src/lib/chips/chip.component.html
  projects/igniteui-angular/src/lib/chips/chip.spec.ts
  projects/igniteui-angular/src/lib/chips/chips-area.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
Labels: chips, status: verified, version: 6.2.x

#4012 fix(select): always focus the selected item in igx-select
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
Labels: keyboard-navigation, select, status: verified, version: 7.2.x

#3670 Move dragGhost into grid's outlet
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/directives/dragdrop/README.md
  projects/igniteui-angular/src/lib/directives/dragdrop/dragdrop.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/grid.common.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: column-moving, drag-drop, grid, status: verified, version: 7.2.x

#4064 Bkulov/excel style exceptions
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.html
Labels: excel-style-filtering, status: verified, version: 7.2.x

#4015 fix(igxChip): Fix chip select icon not showing when selected and selectable is false.
  projects/igniteui-angular/src/lib/chips/chip.component.html
  projects/igniteui-angular/src/lib/chips/chip.spec.ts
  projects/igniteui-angular/src/lib/chips/chips-area.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
Labels: chips, status: verified, version: 7.2.x

#4027 fix(date-picker): Fixed spinning only when the editor is focused #3034
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: date-picker, status: verified, version: 7.2.x

#4074 Fix icon service exception
  projects/igniteui-angular/src/lib/icon/icon.service.ts
Labels: icon, status: verified, version: 7.1.x

#4053 Position content relative to wrapper
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/position/connected-positioning-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/utilities.ts
Labels: overlay, status: verified, version: 7.2.x

#4062 fix(toolbar): fixing drop-down flickering #4045
  projects/igniteui-angular/src/lib/grids/grid-toolbar.component.ts
Labels: grid-toolbar, status: verified, version: 7.1.x

#4061 fix(toolbar): fixing drop-down flickering #4045
  projects/igniteui-angular/src/lib/grids/grid-toolbar.component.ts
Labels: grid-toolbar, status: verified, version: 7.2.x

#4050 fix(combo): introduce proper check for navigation in remote data
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/combo/combo-item.component.ts
Labels: combo, keyboard-navigation, status: verified, version: 7.2.x

#4030 Fix grid common module wrong imports
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-column-moving.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.module.ts
  projects/igniteui-angular/src/lib/grids/grid-common.module.ts
  projects/igniteui-angular/src/lib/grids/grid-pipes.module.ts
Labels: grid, status: verified, version: 7.2.x

#4033 fix(grid): Enabling grid prefixes for IE 11 #3716
  src/styles/igniteui-theme.scss
Labels: browser: ie-11, grid, status: verified, version: 7.1.x

#4046 Fix Toolbar not sizing correctly to the hierarchical grid width.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
Labels: grid-toolbar, hierarchical-grid, status: verified, version: 7.2.x

#4032 fix(grid): Enabling grid prefixes for IE 11 #3716
  src/styles/igniteui-theme.scss
Labels: browser: ie-11, grid, status: verified, version: 7.2.x

#4059 Fix scrollbar appearing for a child when data is loaded remotely.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: hierarchical-grid, status: verified, version: 7.2.x

#4069 fix(toolbar): making IgxGridToolbar API visible #3974
  projects/igniteui-angular/src/lib/grids/grid-toolbar.component.ts
Labels: grid-toolbar, status: verified, version: 7.1.x

#4068 fix(toolbar): making IgxGridToolbar API visible #3974
  projects/igniteui-angular/src/lib/grids/grid-toolbar.component.ts
Labels: grid-toolbar, status: verified, version: 7.2.x
