Repository IgniteUI/igniteui-angular, pull requests merged in 2019-08, with the labels that each got.

#5510 Disable 'pin' and 'move left buttons in ESF when max pin area width is reached - 7.3.x
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-component.scss
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-column-moving.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: excel-style-filtering, status: verified, version: 7.3.x

#5511 Disable 'pin' and 'move left buttons in ESF when max pin area width is reached - 8.1.x
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-component.scss
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-column-moving.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: excel-style-filtering, status: verified, version: 8.1.x

#5566 Update evaluating of 'grid-template-rows' style to reflect how chrome 76 sets it now.
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
Labels: multi-row-layout, tests, version: 7.3.x

#5567 Update evaluating of 'grid-template-rows' style to reflect how chrome 76 sets it now.
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
Labels: multi-row-layout, tests, version: 8.1.x

#5575 test(resizing): resolving issues with chrome 76
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
Labels: browser: chrome, multi-row-layout, resizing, tests, version: 8.0.x

#5574 test(resizing): resolving issues with chrome 76
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
Labels: browser: chrome, resizing, tests, version: 7.2.x

#5461 fix(grids): handle double tap to allow editing on iOS #2538
  projects/igniteui-angular/src/lib/core/touch.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-cell.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.ts
Labels: cell-editing, grid, hierarchical-grid, status: verified, tree-grid, version: 7.2.x

#5462 fix(grids): handle double tap to allow editing on iOS #2538
  projects/igniteui-angular/src/lib/core/touch.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-cell.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.ts
Labels: cell-editing, grid, hierarchical-grid, status: verified, tree-grid, version: 7.3.x

#5531 docs(Grid): Fix missing sassdocs @param
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_grid.scss
Labels: grid, sassdoc, status: verified, version: 7.3.x

#5463 fix(grids): handle double tap to allow editing on iOS #2538
  projects/igniteui-angular/src/lib/core/touch.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-cell.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.ts
Labels: cell-editing, grid, hierarchical-grid, status: verified, tree-grid, version: 8.0.x

#5464 fix(grids): handle double tap to allow editing on iOS #2538
  projects/igniteui-angular/src/lib/core/touch.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-cell.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.ts
Labels: cell-editing, grid, hierarchical-grid, status: verified, tree-grid, version: 8.1.x

#5409 fix(igxHierarchicalGrid): Fixing navigation when parent has summary b…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  src/app/virtual-for-directive/virtual-for.sample.ts
Labels: hierarchical-grid, keyboard-navigation, status: verified, version: 8.0.x

#5410 fix(igxHierarchicalGrid): Fixing navigation when parent has summary b…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  src/app/virtual-for-directive/virtual-for.sample.ts
Labels: hierarchical-grid, keyboard-navigation, status: verified, version: 8.1.x

#5507 fix(filtering): Refactor the grid filtering row #4967
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filtering, grid, status: verified, version: 7.3.x

#5526 docs(Grid): Fix missing @param in sassdocs and remove unnecessary properties in the light schema
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_grid.scss
Labels: grid, sassdoc, status: verified, version: 8.1.x

#5537 Add date picker event onValueChanged and use it to update cell value when column type is date
  CHANGELOG.md
  projects/igniteui-angular/src/lib/date-picker/README.md
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
Labels: date-picker, grid, status: verified, tree-grid, version: 7.3.x

#5535 Add date picker event onValueChanged and use it to update cell value when column type is date
  CHANGELOG.md
  projects/igniteui-angular/src/lib/date-picker/README.md
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
Labels: cell-editing, date-picker, grid, status: verified, tree-grid, version: 8.1.x

#5546 Fix IgxButton has incorrect CSS class when setting new type - 7.3.x
  projects/igniteui-angular/src/lib/directives/button/button.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
Labels: button, status: verified, version: 7.3.x

#5539 fix(Tabs): refactoring tabs selection
  projects/igniteui-angular/src/lib/tabs/tab-item.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs-group.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.common.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.ts
  src/app/tabs-routing/tabs-routing.sample.html
  src/app/tabs-routing/tabs-routing.sample.ts
Labels: status: verified, tabs, version: 8.1.x

#5395 fix(igxGrid): Grid should render all columns when grid width is set to null.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: grid, squash-merge, status: verified, version: 7.2.x

#5397 fix(igxGrid): Grid should render all columns when grid width is set to null.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: grid, squash-merge, status: verified, version: 8.0.x

#5515 fix(filtering): Scroll chips before remove #5304
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filtering, grid, status: verified, version: 8.1.x

#5396 fix(igxGrid): Grid should render all columns when grid width is set to null.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: grid, squash-merge, status: verified, version: 7.3.x

#5405 fix(igxGrid): Grid should render all columns when grid width is set to null.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: grid, squash-merge, status: verified, version: 8.1.x

#5524 fix(filtering): Scroll chips before remove #5304
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filtering, grid, status: verified, version: 7.3.x

#5538 fix(filtering): Refactor the grid filtering row #4967
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filtering, grid, status: verified, version: 8.1.x

#5578 Fix IgxButton has incorrect CSS class when setting new type - 8.1.x
  projects/igniteui-angular/src/lib/directives/button/button.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
Labels: button, status: verified, version: 8.1.x

#5542 Merging 8.1.x into master
  CHANGELOG.md
  ROADMAP.md
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_grid.scss
  projects/igniteui-angular/src/lib/core/touch.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/date-picker/README.md
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-column-moving.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.pipe.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-cell.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/tabs/tab-item.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs-group.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.common.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  src/app/date-picker/date-picker.sample.html
  src/app/date-picker/date-picker.sample.ts
  src/app/tabs-routing/tabs-routing.sample.html
  src/app/tabs-routing/tabs-routing.sample.ts
  src/app/virtual-for-directive/virtual-for.sample.ts
Labels: version: 8.2.x

#5518 Disable 'apply' button in ESF when no filter results are present - 7.3.x
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.pipe.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: excel-style-filtering, status: verified, version: 7.3.x

#5519 Disable 'apply' button in ESF when no filter results are present - 8.1.x
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.pipe.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: excel-style-filtering, status: verified, version: 8.1.x

#5565 fix(grid-summary): fix summary theme
  projects/igniteui-angular/src/lib/core/styles/components/grid-summary/_grid-summary-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_grid-summary.scss
Labels: status: verified, summaries, theme, version: 8.1.x

#5579 feat(sass functions): fix --var function
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
Labels: sass functions, status: verified, version: 8.1.x

#5593 chore(*): Updating the contributing.md
  .github/CONTRIBUTING.md
Labels: documentation

#5416 Drag and Drop improvements implementation.
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/chips-area.component.ts
  projects/igniteui-angular/src/lib/chips/chips.module.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/README.md
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.spec.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-handle.directive.ts
  projects/igniteui-angular/src/lib/directives/dragdrop/dragdrop.spec.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid-common.module.ts
  projects/igniteui-angular/src/lib/grids/grid.common.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.directives.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/row-drag.directive.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/app.module.ts
  src/app/drag-drop/drag-drop.sample.css
  src/app/drag-drop/drag-drop.sample.html
  src/app/drag-drop/drag-drop.sample.ts
Labels: drag-drop, enhancement, status: verified, version: 8.2.x

#5601 Disable 'apply' button in ESF when no filter results are present - 8.2.x
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.pipe.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: excel-style-filtering, status: verified, version: 8.2.x

#5608 Column cannot be pinned through ESF if top parent cannot be pinned - 7.3.x
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: excel-style-filtering, grid, hierarchical-grid, status: verified, tree-grid, version: 7.3.x

#5609 Column cannot be pinned through ESF if top parent cannot be pinned - 8.1.x
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: excel-style-filtering, grid, hierarchical-grid, status: verified, tree-grid, version: 8.1.x

#5610 Column cannot be pinned through ESF if top parent cannot be pinned - 8.2.x
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: excel-style-filtering, grid, hierarchical-grid, status: verified, tree-grid, version: 8.2.x

#5616 Change static flag for templates to false - 8.1.x
  .travis.yml
  azure-pipelines.yml
  projects/igniteui-angular/src/lib/banner/banner.component.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/list/list.component.ts
  projects/igniteui-angular/src/lib/navbar/navbar.component.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
  projects/igniteui-angular/src/lib/tabbar/tabbar.component.ts
  projects/igniteui-angular/src/lib/tabs/tab-item.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs-group.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: combo, date-picker, grid, list, nav-drawer, status: verified, tabs, version: 8.1.x

#5547 feat(combo): enhance combo selection event, #5523 - 8.1.x
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/README.md
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
Labels: combo, enhancement, status: verified, version: 8.1.x

#5632 Remove coveralls configs
  .travis.yml
  azure-pipelines.yml
Labels: build, version: 7.3.x

#5636 Fix Coveralls bad response
  .travis.yml
  azure-pipelines.yml
Labels: status: verified, version: 8.1.x

#5592 feat(combo): enhance combo selection event, #5523- 8.2.x
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/README.md
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
Labels: combo, enhancement, selection, status: verified, version: 8.2.x

#5532 Removing expansion classes from the last level child
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
Labels: hierarchical-grid, status: verified, version: 8.1.x

#5628 Removing expansion classes from the last level child
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
Labels: hierarchical-grid, status: verified

#5634 Fix Coveralls bad response
  .travis.yml
  azure-pipelines.yml
Labels: status: verified, version: 7.3.x

#5641 Using of type assertion for failing typedoc build
  projects/igniteui-angular/src/lib/grids/cell.component.ts
Labels: sassdoc, status: verified, typedoc, version: 8.1.x

#5533 Removing expansion classes from the last level child
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
Labels: hierarchical-grid, status: verified, version: 7.3.x

#5624 Move column's parent instead of column itself in ESF - 8.2.x
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-column-moving.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: excel-style-filtering, grid, hierarchical-grid, status: verified, tree-grid, version: 8.2.x

#5623 Move column's parent instead of column itself in ESF - 8.1.x
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-column-moving.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: excel-style-filtering, grid, hierarchical-grid, status: verified, tree-grid, version: 8.1.x

#5588 Excel Style Filtering - load on demand
  CHANGELOG.md
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-8_2_0/changes/selectors.json
  projects/igniteui-angular/migrations/update-8_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-8_2_0/index.ts
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.module.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/grid-esf-load-on-demand/grid-esf-load-on-demand.component.html
  src/app/grid-esf-load-on-demand/grid-esf-load-on-demand.component.scss
  src/app/grid-esf-load-on-demand/grid-esf-load-on-demand.component.ts
  src/app/grid-esf-load-on-demand/grid-esf-load-on-demand.service.ts
  src/app/routing.ts
Labels: excel-style-filtering, grid, hierarchical-grid, status: verified, tree-grid, version: 8.2.x

#5642 Using of type assertion for failing typedoc build - master
  projects/igniteui-angular/src/lib/grids/cell.component.ts
Labels: sassdoc, status: verified, typedoc, version: 8.2.x

#5554 Update row selection if deselectRows is called onRowEdit
  projects/igniteui-angular/src/lib/grids/api.service.ts
Labels: grid, row-selection, status: verified, version: 7.3.x

#5602 Change static flag for templates to false
  projects/igniteui-angular/src/lib/banner/banner.component.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/list/list.component.ts
  projects/igniteui-angular/src/lib/navbar/navbar.component.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
  projects/igniteui-angular/src/lib/tabbar/tabbar.component.ts
  projects/igniteui-angular/src/lib/tabs/tab-item.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs-group.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: combo, date-picker, grid, list, nav-drawer, status: awaiting-test, tabs, version: 8.2.x

#5555 Update row selection if deselectRows is called onRowEdit
  projects/igniteui-angular/src/lib/grids/api.service.ts
Labels: grid, row-selection, status: verified, version: 8.1.x

#5629 Update row selection if deselectRows is called onRowEdit
  projects/igniteui-angular/src/lib/grids/api.service.ts
Labels: grid, row-selection, status: verified, version: 8.2.x

#5594 Null reference error in IE11/Edge
  projects/igniteui-angular/src/lib/directives/dragdrop/dragdrop.directive.ts
Labels: browser: edge, browser: ie-11, drag-drop, status: verified, version: 8.1.x

#5595 Null reference error in IE11/Edge
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
Labels: browser: edge, browser: ie-11, drag-drop, status: verified

#5580 fix(navdrawer): improve the mini variant to center its icons
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.spec.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.ts
Labels: nav-drawer, status: verified, theme, version: 8.1.x

#5622 Move column's parent instead of column itself in ESF - 7.3.x
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-column-moving.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: excel-style-filtering, grid, hierarchical-grid, status: verified, tree-grid, version: 7.3.x

#5596 Null reference error in IE11/Edge
  projects/igniteui-angular/src/lib/directives/dragdrop/dragdrop.directive.ts
Labels: browser: edge, browser: ie-11, drag-drop, status: verified, version: 7.3.x

#5654 fix(navdrawer): improve the mini variant to center its icons
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.spec.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.ts
Labels: nav-drawer, status: verified, theme, version: 8.2.x

#5607 fix(igx-grid): Enable pining and hiding for excel style filering in M…
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
Labels: grid, multi-row-layout, pinning, status: verified, version: 7.3.x

#5606 fix(igx-grid): Enable pining and hiding for excel style filering in M…
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
Labels: grid, multi-row-layout, status: verified, version: 8.1.x

#5605 fix(igx-grid): Enable pining and hiding for excel style filering in M…
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
Labels: column-hiding, grid, multi-row-layout, pinning, status: verified, version: 8.2.x

#5647 fix(igxHierarchicalGrid): Fix for dynamically added parent columns.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.ts
Labels: hierarchical-grid, status: verified, version: 7.3.x

#5648 fix(igxHierarchicalGrid): Fix for dynamically added parent columns.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.ts
Labels: hierarchical-grid, status: verified, version: 8.1.x

#5649 fix(igxHierarchicalGrid): Fix for dynamically added parent columns.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.ts
Labels: hierarchical-grid, status: verified, version: 8.2.x

#5655 test(igxHierarchicalGrid): Splitting tests so that they cover simpler…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
Labels: hierarchical-grid, tests, version: 8.1.x

#5656 test(igxHierarchicalGrid): Splitting tests so that they cover simpler…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
Labels: hierarchical-grid, tests, version: 8.2.x

#5650 fix(IgxDrag/IgxDrop): IE11 and Edge fix #5639
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
Labels: drag-drop, status: verified, version: 8.2.x

#5638 Fixing grid toolbar buttons type - 7.3.x
  projects/igniteui-angular/src/lib/grids/grid-toolbar.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
Labels: grid-toolbar, status: verified, version: 7.3.x

#5635 Fixing grid toolbar buttons type - 8.1.x
  projects/igniteui-angular/src/lib/grids/grid-toolbar.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
Labels: grid-toolbar, status: verified, version: 8.1.x

#5633 Fixing grid toolbar buttons type - 8.2.x
  projects/igniteui-angular/src/lib/grids/grid-toolbar.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
Labels: grid-toolbar, status: verified, version: 8.2.x

#5660 Dialog: Add position settings input
  CHANGELOG.md
  projects/igniteui-angular/src/lib/dialog/README.md
  projects/igniteui-angular/src/lib/dialog/dialog.component.spec.ts
  projects/igniteui-angular/src/lib/dialog/dialog.component.ts
  src/app/dialog/dialog.sample.css
  src/app/dialog/dialog.sample.html
  src/app/dialog/dialog.sample.ts
Labels: dialog, status: verified, version: 7.3.x

#5581 Dialog: Add position settings input
  CHANGELOG.md
  projects/igniteui-angular/src/lib/dialog/README.md
  projects/igniteui-angular/src/lib/dialog/dialog.component.spec.ts
  projects/igniteui-angular/src/lib/dialog/dialog.component.ts
  src/app/dialog/dialog.sample.css
  src/app/dialog/dialog.sample.html
  src/app/dialog/dialog.sample.ts
Labels: dialog, status: verified, version: 8.1.x

#5662 Dialog: Add position settings input
  CHANGELOG.md
  projects/igniteui-angular/src/lib/dialog/README.md
  projects/igniteui-angular/src/lib/dialog/dialog.component.spec.ts
  projects/igniteui-angular/src/lib/dialog/dialog.component.ts
  src/app/dialog/dialog.sample.css
  src/app/dialog/dialog.sample.html
  src/app/dialog/dialog.sample.ts
Labels: dialog, status: verified, version: 8.2.x

#5590 Deleting the last row throws error
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/row-drag.directive.ts
Labels: hierarchical-grid, row-drag, status: verified, tree-grid, version: 7.3.x

#5589 fix(row-drag): Deleting the last row throws error
  projects/igniteui-angular/src/lib/grids/row-drag.directive.ts
Labels: hierarchical-grid, row-drag, status: verified, tree-grid, version: 8.1.x

#5591 Deleting the last row throws error
  projects/igniteui-angular/src/lib/grids/row-drag.directive.ts
Labels: hierarchical-grid, row-drag, status: verified, tree-grid

#5644 Remove preventDefault in tooltip's touchStart event - 7.3.x
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
Labels: status: verified, tooltip, version: 7.3.x

#5645 Remove preventDefault in tooltip's touchStart event - 8.1.x
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
Labels: status: verified, tooltip, version: 8.1.x

#5646 Remove preventDefault in tooltip's touchStart event - 8.2.x
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
Labels: status: verified, tooltip, version: 8.2.x

#5612 [combo] Add required asterisk
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
Labels: combo, squash-merge, status: verified, version: 8.2.x

#5670 fix(grid): set flex shrink to 0 for all display containers
  projects/igniteui-angular/src/lib/core/styles/components/_common/_igx-display-container.scss
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, status: verified, theme, version: 7.3.x

#5669 fix(grid): set flex shrink to 0 for all display containers
  projects/igniteui-angular/src/lib/core/styles/components/_common/_igx-display-container.scss
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, status: verified, theme, version: 8.1.x

#5668 fix(grid): set flex shrink to 0 for all display containers
  projects/igniteui-angular/src/lib/core/styles/components/_common/_igx-display-container.scss
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, status: verified, theme, version: 8.2.x

#5615 refactor(calendar): restyle the range selection
  projects/igniteui-angular/src/lib/calendar/calendar.ts
  projects/igniteui-angular/src/lib/calendar/days-view/day-item.component.html
  projects/igniteui-angular/src/lib/calendar/days-view/day-item.component.ts
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.html
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/date-picker/_date-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_calendar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_calendar.scss
  src/app/calendar/calendar.sample.html
  src/app/calendar/calendar.sample.ts
Labels: calendar, refactoring, status: verified, theme

#5677 fix(tooltip): Fixing compilation error #5671
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
Labels: status: verified, tooltip, version: 7.3.x

#5679 fix(tooltip): Fixing compilation error #5671
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
Labels: status: verified, tooltip, version: 8.1.x

#5569 fix(combo): combo selection w/ [valueKey], #5217
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/README.md
  projects/igniteui-angular/src/lib/combo/combo-item.component.ts
  projects/igniteui-angular/src/lib/combo/combo.api.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/core/selection.ts
Labels: combo, squash-merge, status: verified, version: 8.2.x

#5681 fix(tooltip): Fixing compilation error #5671
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
Labels: status: verified, tooltip, version: 8.2.x

#5663 Re-emitting events from child grid to related Row Island.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/banner/banner.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/core/displayDensity.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/data-operations/filtering-expressions-tree.ts
  projects/igniteui-angular/src/lib/data-operations/sorting-expression.interface.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/dialog/dialog.component.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.ts
  projects/igniteui-angular/src/lib/directives/template-outlet/template_outlet.directive.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.common.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.common.ts
  projects/igniteui-angular/src/lib/grids/column-chooser-item-base.ts
  projects/igniteui-angular/src/lib/grids/column-hiding-item.directive.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.module.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  projects/igniteui-angular/src/lib/grids/row-drag.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.interfaces.ts
  projects/igniteui-angular/src/lib/list/list.component.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/services/overlay/utilities.ts
  projects/igniteui-angular/src/lib/slider/slider.common.ts
  projects/igniteui-angular/src/lib/switch/switch.component.ts
  projects/igniteui-angular/src/lib/tabbar/tabbar.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.ts
Labels: hierarchical-grid, status: verified, version: 8.2.x

#5630 Drag and Drop improvements - drop strategies, animation, API
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-8_2_0/changes/inputs.json
  projects/igniteui-angular/migrations/update-8_2_0/changes/outputs.json
  projects/igniteui-angular/migrations/update-8_2_0/index.spec.ts
  projects/igniteui-angular/src/lib/chips/README.md
  projects/igniteui-angular/src/lib/chips/chip.component.html
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/chip.spec.ts
  projects/igniteui-angular/src/lib/chips/chips-area.component.ts
  projects/igniteui-angular/src/lib/chips/chips-area.spec.ts
  projects/igniteui-angular/src/lib/core/styles/components/_common/_igx-drag.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/directives/drag-drop/README.md
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.spec.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.strategy.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-handle.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/grid.common.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/row-drag.directive.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/chips/chips.sample.html
  src/app/drag-drop/drag-drop.sample.css
  src/app/drag-drop/drag-drop.sample.html
  src/app/drag-drop/drag-drop.sample.ts
  src/app/grid-multi-row-layout-config/grid-mrl-config.sample.html
  src/app/grid-multi-row-layout-config/grid-mrl-config.sample.ts
  src/app/grid-row-draggable/grid-row-draggable.sample.html
  src/app/grid-row-draggable/grid-row-draggable.sample.ts
Labels: drag-drop, squash-merge, status: verified, version: 8.2.x

#5600 fix(--var function): update the -var function to use 'null' as a default value for fallback param.
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
Labels: sass functions, status: verified, version: 8.2.x

#5549 feat(themes): add global elevation and roundess params
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/elevation/_chip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_chip.scss
Labels: status: verified, theme, version: 8.2.x

#5651 Grid Selection --- 8.2.x
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/grid-selection.ts
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-cell.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  projects/igniteui-angular/src/lib/grids/row.component.ts
  projects/igniteui-angular/src/lib/grids/summaries/summary-cell.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-expanding.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-multi-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-base-components.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/helper-utils.spec.ts
  projects/igniteui-angular/src/lib/test-utils/hierarhical-grid-components.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
  projects/igniteui-angular/src/lib/test-utils/template-strings.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
  src/app/grid-groupby/grid-groupby.sample.html
  src/app/grid-groupby/grid-groupby.sample.ts
  src/app/grid-selection/grid-selection.sample.css
  src/app/grid-selection/grid-selection.sample.html
  src/app/grid-selection/grid-selection.sample.ts
Labels: grid, hierarchical-grid, multi-cell-selection, row-selection, selection, status: verified, tree-grid, version: 8.2.x

#5690 Changes Event Handling Function Name in igxGridComponent
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: documentation, grid

#5697 docs(fluent-theme): Update the changelog
  CHANGELOG.md
Labels: documentation, status: verified, version: 8.2.x

#5705 Fixing the separate imports
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.module.ts
Labels: build, grid, status: verified, version: 8.2.x

#5704 fix(grids): set grids z-index to 1, #5674
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: grid, hierarchical-grid, status: verified, tree-grid, version: 7.3.x

#5703 fix(grids): set grids z-index to 1, #5674
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  src/app/grid-column-moving/grid-column-moving.sample.html
  src/app/grid-filter-template/grid-filter-template.sample.html
  src/app/tree-grid/tree-grid.sample.html
Labels: grid, hierarchical-grid, status: verified, tree-grid, version: 8.1.x

#5702 fix(grids): set grids z-index to 1, #5674
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  src/app/grid-auto-size/grid-auto-size.sample.html
  src/app/grid-column-moving/grid-column-moving.sample.html
  src/app/grid-filter-template/grid-filter-template.sample.html
  src/app/tree-grid/tree-grid.sample.html
Labels: grid, hierarchical-grid, status: verified, tree-grid, version: 8.2.x

#5707 Remove style z-index from grid samples
  src/app/grid-column-moving/grid-column-moving.sample.html
  src/app/grid-filter-template/grid-filter-template.sample.html
  src/app/tree-grid/tree-grid.sample.html
Labels: grid, hierarchical-grid, status: verified, tree-grid, version: 7.3.x

#5695 Implement row selection tests for hGrid
  projects/igniteui-angular/src/lib/core/grid-selection.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-cell.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.module.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/selection.ts
  projects/igniteui-angular/src/lib/test-utils/helper-utils.spec.ts
  projects/igniteui-angular/src/lib/test-utils/hierarhical-grid-components.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: hierarchical-grid, row-selection, status: verified, tests, version: 8.2.x

#5717 Move grid cell editing and row editing tests
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-moving.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-expanding.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-multi-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-summaries.spec.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/helper-utils.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: grid, refactoring, status: verified, tests, version: 8.2.x

#5597 [grid] performance tests
  .travis.yml
  package-lock.json
  package.json
  projects/igniteui-angular/karma.azure.conf.js
  projects/igniteui-angular/karma.azure.grid.conf.js
  projects/igniteui-angular/karma.azure.non-grid.conf.js
  projects/igniteui-angular/karma.conf.js
  projects/igniteui-angular/karma.grid.conf.js
  projects/igniteui-angular/karma.non-grid.conf.js
  projects/igniteui-angular/karma.test-perf.conf.js
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, squash-merge, tests, version: 8.2.x

#5716 feat(checkbox): add readonly prop #5675
  CHANGELOG.md
  projects/igniteui-angular/src/lib/checkbox/README.md
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.spec.ts
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  src/app/input/input.sample.html
Labels: checkbox, status: verified, version: 8.2.x
