Repository IgniteUI/igniteui-angular, pull requests merged in 2019-11, with the labels that each got.

#6093 Add migrations for paginator - master
  projects/igniteui-angular/migrations/update-8_2_6/index.spec.ts
  projects/igniteui-angular/migrations/update-8_2_6/index.ts
Labels: status: verified, version: 9.0.x

#6086 Expose NoopFilterStrategy and NoopSortStrategy for the grids
  CHANGELOG.md
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/data-operations/filtering-strategy.ts
  projects/igniteui-angular/src/lib/data-operations/sorting-strategy.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: filtering, grid, hierarchical-grid, sorting, status: verified, tree-grid, version: 9.0.x

#6069 fix(autocomplete): fix autocomplete to compile w/ --aot=true, 8.2.x
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
  src/app/grid/grid.sample.html
Labels: autocomplete, status: verified, version: 8.2.x

#6072 fix(autocomplete): fix autocomplete to compile w/ --aot=true, 8.1.x
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
  src/app/grid/grid.sample.html
Labels: autocomplete, status: verified, version: 8.1.x

#6073 fix(autocomplete): fix autocomplete to compile w/ --aot=true, 9.0.x
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
  src/app/grid/grid.sample.html
Labels: autocomplete, status: verified, version: 9.0.x

#6085 chore(*): Fixing flickering test.
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
Labels: tests

#6101 refactor(circular-bar): use *ngIf instead of ngClass in progress bar template - 8.1.x
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/progressbar/circularbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/templates/circular-bar.component.html
Labels: linear-progress, refactoring, squash-merge, status: verified, version: 8.1.x

#6100 refactor(circular-bar): use *ngIf instead of ngClass in progress bar template - 8.2.x
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/progressbar/circularbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/templates/circular-bar.component.html
Labels: linear-progress, refactoring, squash-merge, status: verified, version: 8.2.x

#6099 refactor(circular-bar): use *ngIf instead of ngClass in progress bar template - 9.0.x
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/progressbar/circularbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/templates/circular-bar.component.html
Labels: linear-progress, refactoring, squash-merge, status: verified, version: 9.0.x

#6055 fix(switch): move the "-" in the correct mixin
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
Labels: Fluent-theme, RTL Support, status: verified, version: 8.2.x

#6054 fix(switch): move the "-" in the correct mixin
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
Labels: Fluent-theme, RTL Support, status: verified, version: 8.3.x

#6139 fix(switch): incorrect thumb position
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
Labels: regression, status: verified, switch, theme, version: 8.2.x

#6138 fix(switch): incorrect thumb position
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
Labels: regression, status: verified, switch, theme, version: 9.0.x

#6117 Fix igxForOf updating heightCache before the views are being updated.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: hierarchical-grid, status: verified, version: 9.0.x, virtualization

#6116 Fix igxForOf updating heightCache before the views are being updated.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: hierarchical-grid, status: verified, version: 8.2.x, virtualization

#6123 Migrate paginator component theme path in import statement
  projects/igniteui-angular/migrations/update-8_2_6/index.spec.ts
  projects/igniteui-angular/migrations/update-8_2_6/index.ts
Labels: migrations, status: verified, version: 8.2.x

#6122 Migrate paginator component theme path in import statement - master
  projects/igniteui-angular/migrations/update-8_2_6/index.spec.ts
  projects/igniteui-angular/migrations/update-8_2_6/index.ts
  projects/igniteui-angular/migrations/update-9_0_0/changes/theme-props.json
Labels: migrations, status: verified, version: 9.0.x

#6150 Register the filtering svg icons when using external Excel style filtering
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
Labels: excel-style-filtering, status: verified, version: 9.0.x

#6098 Chips are being reordered correctly now
  projects/igniteui-angular/src/lib/chips/chips-area.component.ts
Labels: chip, ivy, status: verified, version: 9.0.x

#6118 feat(row-drag): Adding igxDragCustomGhost directive #6081
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
  projects/igniteui-angular/src/lib/grids/row-drag.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.html
  src/app/grid-row-draggable/grid-row-draggable.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.html
Labels: grid, hierarchical-grid, row-drag, status: verified, tree-grid, version: 8.2.x

#6105 Adding igxDragCustomGhost directive
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
  projects/igniteui-angular/src/lib/grids/row-drag.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.html
  src/app/grid-row-draggable/grid-row-draggable.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.html
Labels: drag-drop, grid, hierarchical-grid, row-drag, squash-merge, status: verified, tree-grid, version: 9.0.x

#6107 fix(schematics): check polyfill in default project #6017
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
  projects/igniteui-angular/schematics/ng-add/index.ts
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
Labels: squash-merge, status: verified, version: 8.2.x

#6108 fix(schematics): check polyfill in default project #6017
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
  projects/igniteui-angular/schematics/ng-add/index.ts
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
Labels: squash-merge, status: verified, version: 8.1.x

#6137 fix(progress-bar): revert change to progress-bar styles
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/progressbar/circularbar.component.spec.ts
Labels: circular-progress, status: verified, styling, version: 8.1.x

#6136 fix(progress-bar): revert change to progress-bar styles
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/progressbar/circularbar.component.spec.ts
Labels: circular-progress, status: verified, styling, version: 8.2.2

#6135 fix(progress-bar): revert change to progress-bar styles
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/progressbar/circularbar.component.spec.ts
Labels: circular-progress, status: verified, styling, version: 9.0.x

#6106 fix(schematics): check polyfill in default project #6017
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
  projects/igniteui-angular/schematics/ng-add/index.ts
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
Labels: squash-merge, status: verified, version: 9.0.x

#6131 Remove duplicate call to onChangeCalback in handleSelection
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: date-picker, status: verified, version: 9.0.x

#6128 Remove duplicate call to onChangeCalback in handleSelection
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: date-picker, status: verified, version: 8.2.x

#6115 fix(igxDatePicker): Fix opening dropdown/dialog throws error on Ivy. …
  projects/igniteui-angular/src/lib/calendar/calendar.component.html
Labels: date-picker, ivy, status: verified, version: 9.0.x

#6160 Fix error when delete child column from a column group
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
Labels: grid, multi-column-headers, status: verified, version: 8.2.x

#6165 Fix overlay absolute scroll strategy unnecessary position calls
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/scroll/absolute-scroll-strategy.ts
Labels: overlay, status: verified, version: 9.0.x

#6110 Add carousel indicators template and animations
  CHANGELOG.md
  projects/igniteui-angular/src/lib/carousel/README.md
  projects/igniteui-angular/src/lib/carousel/carousel.component.html
  projects/igniteui-angular/src/lib/carousel/carousel.component.spec.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/carousel/carousel.directives.ts
  projects/igniteui-angular/src/lib/carousel/slide.component.html
  projects/igniteui-angular/src/lib/carousel/slide.component.ts
  projects/igniteui-angular/src/lib/core/i18n/carousel-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_carousel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_carousel.scss
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
  src/app/carousel/carousel.sample.html
  src/app/carousel/carousel.sample.ts
Labels: carousel, status: verified, version: 9.0.x

#6154 Implement setDisableState in select, date-picker & time-picker
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: date-picker, select, status: verified, time-picker, version: 8.2.x

#6163 chore(*): set node.js to version 11; gulp 3 incompatibility
  azure-pipelines.yml
Labels: azure-pipelines, build, status: verified, version: 8.1.x

#6164 Implement setDisableState in select, date-picker & time-picker
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: date-picker, select, status: verified, time-picker, version: 9.0.x

#6156 fix(forOf): Updating heightCache after the view is updated. #6058
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: grid, status: verified, version: 8.3.x, virtualization

#6162 fix(forOf): Updating heightCache after the view is updated. #6058
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: grid, status: verified, version: 8.2.x, virtualization

#6161 Fix error when delete child column from a column group
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
Labels: grid, multi-column-headers, status: verified, version: 8.1.x

#6155 fix(column): Added property decorator for column component to watch for changes in column properties #6004
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island-api.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/grids/watch-changes.ts
Labels: hierarchical-grid, status: verified, version: 9.0.x

#6089 fix(column): Added property decorator for column component to watch for changes in column properties #6004
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island-api.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/grids/watch-changes.ts
Labels: hierarchical-grid, status: verified, version: 8.2.x

#6168 mouseleave should not trigger play when the carousel is paused by code
  projects/igniteui-angular/src/lib/carousel/carousel.component.spec.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  src/app/carousel/carousel.sample.html
  src/app/carousel/carousel.sample.ts
Labels: carousel, status: verified, version: 9.0.x

#6140 fix(igxGrid): Workaround for ivy issue where ContentChildren are re-e…
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: column-moving, ivy, status: verified, version: 9.0.x

#6147 Merge master into 9.0.x
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-8_2_6/index.spec.ts
  projects/igniteui-angular/migrations/update-8_2_6/index.ts
  projects/igniteui-angular/migrations/update-9_0_0/changes/theme-props.json
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
  projects/igniteui-angular/schematics/ng-add/index.ts
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.html
  projects/igniteui-angular/src/lib/carousel/README.md
  projects/igniteui-angular/src/lib/carousel/carousel.component.html
  projects/igniteui-angular/src/lib/carousel/carousel.component.spec.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/carousel/carousel.directives.ts
  projects/igniteui-angular/src/lib/carousel/slide.component.html
  projects/igniteui-angular/src/lib/carousel/slide.component.ts
  projects/igniteui-angular/src/lib/chips/chips-area.component.ts
  projects/igniteui-angular/src/lib/core/i18n/carousel-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_carousel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_carousel.scss
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island-api.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  projects/igniteui-angular/src/lib/grids/row-drag.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/grids/watch-changes.ts
  projects/igniteui-angular/src/lib/progressbar/circularbar.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/scroll/absolute-scroll-strategy.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
  src/app/carousel/carousel.sample.html
  src/app/carousel/carousel.sample.ts
  src/app/grid-row-draggable/grid-row-draggable.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.html
Labels: version: 9.0.x

#6145 Collapsible column groups
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/columns/column-group.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.module.ts
  projects/igniteui-angular/src/lib/grids/columns/templates.directive.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  src/app/grid-column-groups/grid-column-groups.sample.html
  src/app/grid-column-groups/grid-column-groups.sample.ts
Labels: grid, multi-column-headers, status: verified, version: 9.0.x

#6179 Add carousel navigation buttons template
  CHANGELOG.md
  projects/igniteui-angular/src/lib/carousel/README.md
  projects/igniteui-angular/src/lib/carousel/carousel.component.html
  projects/igniteui-angular/src/lib/carousel/carousel.component.spec.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/carousel/carousel.directives.ts
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_carousel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_carousel.scss
  src/app/carousel/carousel.sample.html
Labels: carousel, status: verified, version: 9.0.x

#6192 Fix global elevation and roundness for fluent theme
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
Labels: Fluent-theme, status: verified, version: 8.2.x

#6188 fix(fluent-theme): fix global roundness and elevations
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
Labels: Fluent-theme, status: verified, version: 9.0.x

#6193 build(*): Bump to Angular 9 rc3
  package-lock.json
  package.json
  src/app/app.module.ts
Labels: version: 9.0.x

#6171 Add carousel pan implementation
  CHANGELOG.md
  projects/igniteui-angular/src/lib/carousel/README.md
  projects/igniteui-angular/src/lib/carousel/carousel.component.spec.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  src/app/carousel/carousel.sample.html
Labels: carousel, status: verified, version: 9.0.x

#6184 feat(slider): Fix slider position inside grid cell
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
Labels: slider, status: verified, version: 9.0.x

#6185 feat(slider): Fix slider position inside grid cell
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
Labels: slider, status: verified, version: 8.2.x

#6148 [igx-select] Implement select header & footer.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.component.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.html
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/select/README.md
  projects/igniteui-angular/src/lib/select/select-positioning-strategy.ts
  projects/igniteui-angular/src/lib/select/select.common.ts
  projects/igniteui-angular/src/lib/select/select.component.html
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/select/select.module.ts
  projects/igniteui-angular/src/lib/services/overlay/position/auto-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/base-fit-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/connected-positioning-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/elastic-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/utilities.ts
  src/app/select/select.sample.html
  src/app/select/select.sample.scss
  src/app/select/select.sample.ts
Labels: feature, select, squash-merge, status: verified, version: 9.0.x

#6196 fix(grid): Apply the fix of #6082 for dialog dragging #6111
  projects/igniteui-angular/src/lib/core/styles/components/grid/_advanced-filtering-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.html
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
Labels: advanced-filtering, grid, status: verified, version: 9.0.x

#6194 fix(navdrawer): Style the buttons and anchors to look the same as the other nav items
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
Labels: navigation-drawer, status: verified, version: 9.0.x

#6203 Collapsible column groups tests
  projects/igniteui-angular/src/lib/grids/columns/column-group.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-collapsible-columns.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: grid, multi-column-headers, tests, version: 9.0.x

#6202 select: Remove detectChanges() call
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
Labels: select, status: verified, version: 9.0.x

#6169 Slider ticks
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_slider.scss
  projects/igniteui-angular/src/lib/slider/label/thumb-label.component.ts
  projects/igniteui-angular/src/lib/slider/slider.common.ts
  projects/igniteui-angular/src/lib/slider/slider.component.html
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
  projects/igniteui-angular/src/lib/slider/thumb/thumb-slider.component.ts
  projects/igniteui-angular/src/lib/slider/ticks/tick.pipe.ts
  projects/igniteui-angular/src/lib/slider/ticks/ticks.component.html
  projects/igniteui-angular/src/lib/slider/ticks/ticks.component.ts
  src/app/app.module.ts
  src/app/slider/slider.sample.html
  src/app/slider/slider.sample.scss
  src/app/slider/slider.sample.ts
Labels: slider, status: verified, tests, version: 9.0.x

#6157 feat(grid): Add state persistence directive igxGridState
  CHANGELOG.md
  README.md
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/common/shared.module.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/index.ts
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-expanding.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/grid-state/about.component.html
  src/app/grid-state/about.component.ts
  src/app/grid-state/grid-state.component.html
  src/app/grid-state/grid-state.component.scss
  src/app/grid-state/grid-state.component.ts
  src/app/grid-state/localData.ts
  src/app/routing.ts
Labels: grid, status: verified, version: 9.0.x

#6217 Update and simplify Ivy test
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
Labels: select, status: verified, tests, version: 9.0.x

#6204 chore(*): Re-apply focus after expansion state is changed.
  projects/igniteui-angular/src/lib/directives/template-outlet/template_outlet.directive.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: master-detail, status: verified, version: 9.0.x

#6213 chore(*): Add custom trackChanges function to account for detail data…
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: master-detail, status: verified, version: 9.0.x

#6232 Resolve merge conflict in app.module.ts
  src/app/app.module.ts
Labels: status: verified

#6229 fix(exporter): drop output decorators, revert migration + rename #6227
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.component.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  src/app/grid/grid.sample.ts
Labels: exporters, status: verified, version: 9.0.x
