Repository IgniteUI/igniteui-angular, pull requests merged in 2019-10, with the labels that each got.

#5844 fix(slider): visualizing slider labels values correctly
  projects/igniteui-angular/src/lib/slider/slider.component.html
Labels: slider, status: verified, version: 8.2.x

#5846 Update children collection when add or remove column in column group
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
Labels: grid, multi-column-headers, status: verified, version: 8.2.x

#5860 fix(igxHierarchicalGrid): Init pinning states after columns are creat…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
Labels: hierarchical-grid, pinning, status: verified, version: 7.3.x

#5829 fix(igxGrid): If set data is null/undefined update views accordingly.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  src/app/grid-remote-virtualization/grid-remote-virtualization.sample.html
  src/app/grid-remote-virtualization/grid-remote-virtualization.sample.ts
  src/app/shared/remote.service.ts
Labels: grid, status: verified, version: 7.3.x, virtualization

#5828 fix(igxHierarchicalGrid): stopPropagation on expander click.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.ts
Labels: hierarchical-grid, status: verified, version: 8.2.x

#5861 fix(igxHierarchicalGrid): Init pinning states after columns are creat…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
Labels: hierarchical-grid, pinning, status: verified, version: 8.1.x

#5832 fix(igxHierarchicalGrid): Error is thrown on child grid initializatio…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  src/app/hierarchical-grid-remote/hierarchical-grid-remote.sample.html
Labels: hierarchical-grid, status: verified, version: 7.3.x

#5862 fix(igxHierarchicalGrid): Init pinning states after columns are creat…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
Labels: hierarchical-grid, pinning, status: verified, version: 8.2.x

#5835 fix(igxHierarchicalGrid): Error is thrown on child grid initializatio…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  src/app/hierarchical-grid-remote/hierarchical-grid-remote.sample.html
Labels: hierarchical-grid, status: verified, version: 8.1.x

#5836 fix(igxHierarchicalGrid): Error is thrown on child grid initializatio…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  src/app/hierarchical-grid-remote/hierarchical-grid-remote.sample.html
Labels: hierarchical-grid, status: verified, version: 8.2.x

#5830 fix(igxGrid): If set data is null/undefined update views accordingly.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  src/app/grid-remote-virtualization/grid-remote-virtualization.sample.html
  src/app/grid-remote-virtualization/grid-remote-virtualization.sample.ts
  src/app/shared/remote.service.ts
Labels: grid, status: verified, version: 8.1.x, virtualization

#5893 Fix condition select position strategy
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.html
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
Labels: advanced-filtering, status: verified, version: 8.2.x

#5868 Fix issues around calendar selection API #5859
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
Labels: status: verified, version: 8.2.x

#5881 Select component now respects a passed DisplayDensityToken and not overriding it.
  projects/igniteui-angular/src/lib/select/select.component.ts
  src/app/select/select.sample.html
  src/app/select/select.sample.ts
Labels: select, status: verified, version: 9.0.x

#5831 fix(igxGrid): If set data is null/undefined update views accordingly.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  src/app/grid-remote-virtualization/grid-remote-virtualization.sample.html
  src/app/grid-remote-virtualization/grid-remote-virtualization.sample.ts
  src/app/shared/remote.service.ts
Labels: grid, status: verified, version: 8.2.x, virtualization

#5882 Fix dynamically changing the columns not being detected by the grid.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: grid, status: verified, version: 8.2.x

#5887 Fixes bugs in keyboard navigation for calendar
  projects/igniteui-angular/src/lib/calendar/calendar.component.html
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
  projects/igniteui-angular/src/lib/calendar/days-view/day-item.component.ts
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.ts
  projects/igniteui-angular/src/lib/calendar/month-picker-base.ts
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  src/app/calendar/calendar.sample.html
  src/app/calendar/calendar.sample.ts
Labels: calendar, status: verified, version: 8.2.x

#5901 Select component now respects a passed DisplayDensityToken and not overriding it.
  projects/igniteui-angular/src/lib/select/select.component.ts
  src/app/select/select.sample.html
  src/app/select/select.sample.ts
Labels: select, status: verified, version: 8.2.x

#5858 Enhance the ghostOffsetX and ghostOffsetY so they can be applied regardless of ghost or not.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.spec.ts
Labels: drag-drop, status: verified, version: 8.2.x

#5898 Update row transaction value check #5855
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
Labels: batch-editing, status: verified, version: 8.2.x

#5925 Select component now respects a passed DisplayDensityToken and not overriding it.
  projects/igniteui-angular/src/lib/select/select.component.ts
  src/app/select/select.sample.html
  src/app/select/select.sample.ts
Labels: select, status: verified, version: 8.1.x

#5877 docs(*): validating some comments for typedoc export
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: documentation, status: verified, typedoc, version: 8.1.x

#5876 docs(*): validating some comments for typedoc export
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: documentation, status: verified, typedoc, version: 8.2.x

#5926 Update row transaction value check #5855
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
Labels: batch-editing, status: verified, version: 8.1.x

#5866 fix(igxHiearchicalGrid): Prevent up/down arrow key navigation from fo…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
Labels: hierarchical-grid, keyboard-navigation, status: verified, version: 8.2.x

#5916 fix(combo): correct combo label position when no placeholder is specified
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.ts
Labels: combo, status: verified, version: 8.2.x

#5917 fix(combo): correct combo label position when no placeholder is specified
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.ts
Labels: combo, status: verified, version: 8.1.x

#5865 fix(igxHiearchicalGrid): Prevent up/down arrow key navigation from fo…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
Labels: hierarchical-grid, keyboard-navigation, status: verified, version: 8.1.x

#5919 Fixes issue with grouping by a column with a blank field
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.directives.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
Labels: bug, groupby, status: verified, version: 8.2.x

#5938 Bypass all calls to browsers' object when not on browser platform
  projects/igniteui-angular/src/lib/core/touch.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-cell.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.spec.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.ts
Labels: nav-drawer, status: verified, version: 8.1.x

#5941 chore(*): Moving resizeObserverIgnoreError in configureTestSuite.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-expanding.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-search.spec.ts
  projects/igniteui-angular/src/lib/test-utils/configure-suite.ts
  projects/igniteui-angular/src/lib/test-utils/helper-utils.spec.ts
Labels: tests

#5930 Add resize observers for tabs
  projects/igniteui-angular/src/lib/tabs/tab-item.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs-group.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.common.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.ts
Labels: status: verified, tabs, version: 8.2.x

#5875 fix(igxGrid): Ceil the scrollLeft in case browser is zoomed and retur…
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
Labels: grid, keyboard-navigation, status: verified

#5933 feat(highlight): replace inline styles with theme
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/highlight/highlight-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/highlight/highlight-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_highlight.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_highlight.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/round-light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/square-light/_index.scss
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
  src/styles/igniteui-theme.scss
Labels: status: verified, text-highlight, theme, version: 8.2.x

#5952 Exclude column groups from column select in advanced filtering dialog - 8.2.x
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: advanced-filtering, grid, hierarchical-grid, status: verified, tree-grid, version: 8.2.x

#5908 Bypass all calls to browsers' object when not on browser platform
  projects/igniteui-angular/src/lib/core/touch.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-cell.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.spec.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.ts
Labels: nav-drawer, status: verified, version: 8.2.x

#5781 fix(toolbar): Fix disabled colors for flat and icon buttons in grid toolbar
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
Labels: grid-toolbar, status: verified, theme, version: 8.1.x

#5873 fix(igxGrid): Ceil the scrollLeft in case browser is zoomed and retur…
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
Labels: grid, keyboard-navigation, status: verified, version: 8.2.x

#5900 fix(igHierarchicalGrid): Fix navigating down to partially visible cell with index available in previous expanded grid.
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/row.component.ts
  projects/igniteui-angular/src/lib/grids/summaries/summary-row.component.ts
Labels: keyboard-navigation, status: verified, version: 8.2.x

#5953 fix(igxChip): Fix onSelection.originalEvent not returning correct value.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/chips/chip.component.html
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/chip.spec.ts
  projects/igniteui-angular/src/lib/chips/chips-area.component.ts
  projects/igniteui-angular/src/lib/chips/chips-area.spec.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
Labels: chip, status: verified, version: 8.2.x

#5782 fix(toolbar): Fix disabled colors for flat and icon buttons in grid toolbar
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
Labels: grid-toolbar, status: verified, theme, version: 8.2.x

#5956 Check if data is undefined in the paging pipe
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: grid, paging, status: verified, version: 8.2.x

#5957 Check if data is undefined in the paging pipe
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: grid, paging, status: verified, version: 8.1.x

#5955 fix(chip): Remove CSS "focus-within" since it is NOT supported by IE11 and Edge 18
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
Labels: browser: edge, browser: ie-11, chip, status: verified, version: 8.2.x

#5942 fix(igxGrid): Fix ExpressionChangedAfterItHasBeenCheckedError when gr…
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: grid, status: verified, version: 8.2.x

#5943 fix(grid): edited text in row editing gets cut
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: grid, status: verified, theme, version: 8.2.x

#5961 Exposes verticalScrollContainer.igxForOf in a public method
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid-mrl-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-multi-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-summaries.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: grid, hierarchical-grid, status: verified, tree-grid, version: 8.2.x

#5963 fix(grid): hovering selected row in dark theme is white
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_grid.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_grid.scss
Labels: grid, status: verified, theme, version: 8.2.x

#5966 Access all grid data from each summary
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.service.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-summaries.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
  src/app/grid-groupby/grid-groupby.sample.html
  src/app/grid-summaries/grid-summaries.sample.html
  src/app/grid-summaries/grid-summaries.sample.ts
Labels: grid, status: verified, summaries, version: 8.2.x

#5975 Simplify filter-row chip scroll test - 8.2.x
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filter-ui, status: verified, tests, version: 8.2.x

#5969 fix(carousel): fix carousel buttons shadow
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-8_2_0/changes/theme-props.json
  projects/igniteui-angular/migrations/update-8_2_3/changes/theme-props.json
  projects/igniteui-angular/migrations/update-8_2_3/index.ts
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/elevation/_carousel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_carousel.scss
Labels: carousel, status: verified, theme, version: 8.2.x

#5931 feat(slider): allow continuous behavior when labels view enabled
  projects/igniteui-angular/src/lib/slider/slider.component.html
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
  src/app/slider/slider.sample.html
  src/app/slider/slider.sample.scss
  src/app/slider/slider.sample.ts
Labels: slider, status: verified, version: 8.2.x

#5948 fix(button-group): button selection not visible in disabled mode
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_button-group.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button-group.scss
Labels: button-group, status: verified, theme, version: 8.2.x

#5972 Header row selector should be disabled in single selection mode
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
Labels: grid, row-selection, status: verified, version: 8.2.x

#5945 Calendar animations
  projects/igniteui-angular/src/lib/calendar/calendar.component.html
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
  projects/igniteui-angular/src/lib/calendar/days-view/day-item.component.ts
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.html
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.ts
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.interface.ts
  projects/igniteui-angular/src/lib/calendar/days-view/daysview-navigation.service.ts
Labels: calendar, status: verified, version: 8.2.x

#5970 feat(chip): Improve color changing capability
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_chip.scss
Labels: chip, enhancement, status: verified, theme, version: 8.2.x

#5907 feat(shell-strings): exposing some strings for i18n typedoc
  extras/template/strings/shell-strings.json
Labels: documentation, status: localized, status: verified, typedoc

#5995 Fix Tree Grid search flickering tests - 8.2.x
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-search.spec.ts
Labels: global-search, status: verified, tree-grid, version: 8.2.x

#5982 chore(*): Updating Roadmap with Milestone 10
  ROADMAP.md
Labels: documentation, version: 8.3.x

#5918 Multiview Calendar tests
  projects/igniteui-angular/src/lib/calendar/calendar-multi-view.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
Labels: calendar, tests, version: 8.2.x

#5964 feat(igx-grid): Conditional CSS props on cells
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-common.pipes.ts
  projects/igniteui-angular/src/lib/grids/grid-pipes.module.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.ts
  projects/igniteui-angular/src/lib/grids/row.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.ts
  src/app/drag-drop/drag-drop.sample.html
  src/app/gird-cell-styling/grid-cell-styling.sample.html
  src/app/gird-cell-styling/grid-cell-styling.sample.scss
  src/app/gird-cell-styling/grid-cell-styling.sample.ts
  src/app/shared/sample-data.ts
  src/app/tree-grid/tree-grid.sample.ts
Labels: conditional-cell-styling, grid, status: verified, version: 8.2.x, version: 9.0.x

#5979 Fix navigateTo so that it works when passing both row and column index.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
Labels: grid, status: verified, version: 8.2.x

#5978 Fix navigateTo so that it works when passing both row and column index.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
Labels: grid, status: verified, version: 8.1.x

#5750 fix(filtering): Make unary condition committable #5627
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: filter-ui, grid, status: verified, version: 8.2.x

#5749 fix(filtering): Make unary condition committable #5627
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: filter-ui, grid, status: verified, version: 8.1.x

#6003 docs(*): Add changelog for conditional cell styling
  CHANGELOG.md
Labels: conditional-cell-styling, documentation, grid, version: 8.2.x

#6000 Roadmap update
  ROADMAP.md
Labels: documentation, version: 8.3.x

#5985 fix(grid): alter user colors for odd/even rows to avoid translucency
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: grid, status: verified, theme, version: 8.2.x

#5939 refactor(schematics): use @igniteui/angular-schematics on ng-add
  projects/igniteui-angular/package.json
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
  projects/igniteui-angular/schematics/utils/package-handler.ts
Labels: ng add, status: verified, version: 8.2.x

#6013 fix(calendar): export CalendarView enum
  projects/igniteui-angular/src/lib/calendar/index.ts
Labels: status: verified, version: 8.2.x

#6010 Check if grid data is undefined
  projects/igniteui-angular/src/lib/grids/grid-common.pipes.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
Labels: status: verified, tree-grid, version: 8.1.x

#6009 Check if grid data is undefined
  projects/igniteui-angular/src/lib/grids/grid-common.pipes.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
Labels: status: verified, tree-grid, version: 8.2.x

#6023 Carousel buttons shadow migrations fix
  projects/igniteui-angular/migrations/update-8_2_3/changes/theme-props.json
  projects/igniteui-angular/migrations/update-8_2_3/index.spec.ts
Labels: carousel, migrations, theme, version: 8.2.x

#5909 Improve caching by storing the igxForOf related scroll component
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/base.helper.component.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.sync.service.ts
  projects/igniteui-angular/src/lib/directives/for-of/horizontal.virtual.helper.component.ts
  projects/igniteui-angular/src/lib/directives/for-of/virtual.helper.component.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid-mrl-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid.common.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-moving.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-base-components.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
  src/app/virtual-for-directive/virtual-for.sample.html
  src/app/virtual-for-directive/virtual-for.sample.ts
Labels: status: verified, version: 8.1.x, virtualization

#5910 Improve caching by storing the igxForOf related scroll component
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/base.helper.component.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.sync.service.ts
  projects/igniteui-angular/src/lib/directives/for-of/horizontal.virtual.helper.component.ts
  projects/igniteui-angular/src/lib/directives/for-of/virtual.helper.component.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid-mrl-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid.common.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-moving.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-base-components.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
  src/app/virtual-for-directive/virtual-for.sample.html
  src/app/virtual-for-directive/virtual-for.sample.ts
Labels: status: verified, version: 8.2.x, virtualization

#6021 fix(grid): instantiate observer and tmpOutlets
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: status: verified, version: 8.2.x

#6022 fix(grid): instantiate observer and tmpOutlets
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: status: verified, version: 9.0.x

#6001 Add title attribute to column header - 8.2.x
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/grid-header.component.html
Labels: grid, hierarchical-grid, status: verified, tree-grid, version: 8.2.x

#6014 fix(calendar): fix kb navigation IE #5895
  projects/igniteui-angular/src/lib/calendar/days-view/daysview-navigation.service.ts
  projects/igniteui-angular/src/lib/calendar/months-view/months-view.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
Labels: calendar, status: verified, version: 8.2.x

#6032 Fix calendar kb navigation IE #5895
  projects/igniteui-angular/src/lib/calendar/days-view/daysview-navigation.service.ts
  projects/igniteui-angular/src/lib/calendar/months-view/months-view.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
Labels: calendar, status: verified, version: 9.0.x

#6002 Add title attribute to column header - 8.1.x
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/grid-header.component.html
Labels: grid, hierarchical-grid, status: verified, tree-grid, version: 8.1.x

#6036 fix(calendar): Fix selection with ngModel #6015
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
  projects/igniteui-angular/src/lib/calendar/calendar-multi-view.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
Labels: calendar, status: verified, version: 8.2.x

#6037 fix(calendar): Fix selection with ngModel - master
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
  projects/igniteui-angular/src/lib/calendar/calendar-multi-view.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
Labels: calendar, status: verified, version: 8.3.x

#6044 fix(themes): RTL styling patches
  .browserslistrc
  gulpfile.js
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
Labels: RTL Support, status: verified, theme, version: 8.3.x

#6029 refactor(themes): component themes should accept individual schema
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/bottom-nav/_bottom-nav-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/column-hiding/_column-hiding-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/divider/_divider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-paginator/_grid-paginator-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-summary/_grid-summary-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/highlight/highlight-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon/_icon-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/ripple/_ripple-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/snackbar/_snackbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tooltip/_tooltip-theme.scss
Labels: status: verified, theme, version: 8.2.x

#6034 fix(themes): RTL styling patches
  .browserslistrc
  gulpfile.js
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
Labels: RTL Support, status: verified, theme, version: 8.2.x

#6060 Decouple IgxPaginator from IgxGrid - master
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/paginator-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
  projects/igniteui-angular/src/lib/core/styles/components/grid-paginator/_grid-paginator-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/paginator/_paginator-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/paginator/_paginator-theme.scss
  projects/igniteui-angular/src/lib/core/styles/print/_grid-print.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_grid-pagination.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_pagination.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_pagination.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/round-light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_pagination.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/square-light/_index.scss
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-expanding.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.html
  projects/igniteui-angular/src/lib/paginator/paginator.component.spec.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: status: verified, version: 8.3.x

#6041 Add title attribute to column header - master
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.html
Labels: grid, hierarchical-grid, status: verified, tree-grid, version: 8.3.x

#6059 Decouple IgxPaginator from igxGrid
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/paginator-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
  projects/igniteui-angular/src/lib/core/styles/components/grid-paginator/_grid-paginator-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/paginator/_paginator-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/paginator/_paginator-theme.scss
  projects/igniteui-angular/src/lib/core/styles/print/_grid-print.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_grid-pagination.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_pagination.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_pagination.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/round-light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_pagination.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/square-light/_index.scss
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-expanding.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.html
  projects/igniteui-angular/src/lib/paginator/paginator.component.spec.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: status: verified, version: 8.2.x

#6050 Implement select-item text input
  CHANGELOG.md
  projects/igniteui-angular/src/lib/select/select-item.component.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
Labels: select, status: verified, version: 8.2.x

#6047 Implement select-item text input
  CHANGELOG.md
  projects/igniteui-angular/src/lib/select/select-item.component.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
Labels: select, status: verified, version: 9.0.x

#6026 Grid with transactions should not update grid's data when updateRow is called in onCellEdtt
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
Labels: grid, status: verified, version: 8.1.x

#6028 Grid with transactions should not update grid's data when updateRow is called in onCellEdtt
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
Labels: grid, status: verified, version: 9.0.x

#6024 Grid with transactions should not update grid's data when updateRow is called in onCellEdtt
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
Labels: grid, status: verified, version: 8.2.x

#6018 Call notifyChanges in updateRow instead of detectChanges
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: grid, status: verified, version: 8.2.x

#6083 Access all grid data from each summary
  CHANGELOG.md
Labels: grid, summaries, version: 8.2.x

#6084 Access all grid data from each summary
  CHANGELOG.md
Labels: grid, summaries

#6027 Call notifyChanges in updateRow instead of detectChanges
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: grid, status: verified, version: 9.0.x

#6006 fix(igxHierarchicalGrid): Fix navigation with tab is not correct #4780
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
Labels: hierarchical-grid, keyboard-navigation, status: verified, version: 8.1.x

#6007 fix(igxHierarchicalGrid): Fix navigation with tab is not correct #4780
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/row.component.ts
  projects/igniteui-angular/src/lib/grids/summaries/summary-row.component.ts
Labels: hierarchical-grid, keyboard-navigation, status: verified, version: 8.2.x

#6033 fix(igxHierarchicalGrid): Fix navigation with tab is not correct #4780
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/summaries/summary-row.component.ts
Labels: hierarchical-grid, keyboard-navigation, status: verified, version: 9.0.x

#6087 chore(*): Fixing flickering test.
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
Labels: tests

#6019 Should close filter row when setting filterMode to excelStyleFilter - 8.2.x
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  src/app/grid-filtering/grid-filtering.sample.ts
Labels: filtering, grid, hierarchical-grid, status: verified, tree-grid, version: 8.2.x

#6042 fix(grid toolbar): Change the default buttons in the grid toolbar from flat to outlined
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-8_2_6/changes/theme-props.json
  projects/igniteui-angular/migrations/update-8_2_6/index.spec.ts
  projects/igniteui-angular/migrations/update-8_2_6/index.ts
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_grid-toolbar.scss
  projects/igniteui-angular/src/lib/grids/grid-toolbar.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
Labels: grid-toolbar, status: verified, version: 8.2.x

#6049 export IgxPaginatorModule and IgxPaginatorComponent - master
  projects/igniteui-angular/src/public_api.ts
Labels: status: verified, version: 9.0.x

#6048 Export IgxPaginatorModule and IgxPaginatorComponent
  projects/igniteui-angular/src/public_api.ts
Labels: status: verified, version: 8.2.x

#6045 refactor(themes): component themes should accept individual schema
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/bottom-nav/_bottom-nav-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/column-hiding/_column-hiding-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/divider/_divider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-summary/_grid-summary-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/highlight/highlight-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon/_icon-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/paginator/_paginator-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/ripple/_ripple-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/snackbar/_snackbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tooltip/_tooltip-theme.scss
Labels: status: verified, theme, version: 8.3.x

#6092 Add migration for IgxPaginator
  projects/igniteui-angular/migrations/update-8_2_6/index.spec.ts
  projects/igniteui-angular/migrations/update-8_2_6/index.ts
Labels: status: verified, version: 8.2.x

#6095 Should close filter row when setting filterMode to excelStyleFilter - master
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  src/app/grid-filtering/grid-filtering.sample.ts
Labels: filtering, grid, hierarchical-grid, status: verified, tree-grid, version: 9.0.x
