Repository IgniteUI/igniteui-angular, pull requests merged in 2019-03, with the labels that each got.

#4124 fix(hgrid): Set summary indentation to 0 for leaf childs #4108
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
Labels: hierarchical-grid, status: verified, summaries, version: 7.2.x

#4128 Updating the End date and adding igxSelect Component
  ROADMAP.md
Labels: documentation

#4137 Remove calls to closeOnOutsideClick property
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
Labels: status: verified, toggle, version: 7.1.x

#4140 fix(grid): 'fixed'->'absolute' to hide row editing when scrolling #4139
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/grid.common.ts
Labels: grid, row-editing, status: in-test, version: 7.2.x

#4142 Setting correct size of cache for remote for-of type.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: grid, status: verified, version: 7.2.x, virtualization

#4122 fix(HierarchicalGrid): Handle various overlay scenarios in Hierarchic…
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  src/app/hierarchical-grid-updating/hierarchical-grid-updating.sample.html
  src/app/hierarchical-grid-updating/hierarchical-grid-updating.sample.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
Labels: hierarchical-grid, status: verified, version: 7.2.x

#4115 Update autocomplete sample
  src/app/app.module.ts
  src/app/autocomplete/autocomplete.sample.css
  src/app/autocomplete/autocomplete.sample.html
  src/app/autocomplete/autocomplete.sample.ts
  src/app/autocomplete/data.ts
Labels: autocomplete, demos, status: verified, version: 7.2.x

#4138 Remove calls to closeOnOutsideClick property
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
Labels: status: verified, toggle, version: 7.2.x

#4121 fix(selection): do not clear selection on `add_items` with empty array
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/core/selection.ts
Labels: combo, selection, status: verified, version: 7.2.x

#4150 feat(api-docs): apply SEO optimizations
  extras/docs/themes/config.json
  extras/docs/themes/sassdoc/index.js
  extras/docs/themes/sassdoc/views/index.hbs
  extras/docs/themes/typedoc/src/assets/js/src/theme.ts
  extras/docs/themes/typedoc/src/layouts/default.hbs
Labels: documentation, sassdoc, typedoc, version: 6.2.x

#4149 feat(api-docs): apply SEO optimizations
  extras/docs/themes/config.json
  extras/docs/themes/sassdoc/index.js
  extras/docs/themes/sassdoc/views/index.hbs
  extras/docs/themes/typedoc/src/assets/js/src/theme.ts
  extras/docs/themes/typedoc/src/layouts/default.hbs
Labels: documentation, sassdoc, typedoc, version: 7.1.x

#4148 feat(api-docs): apply SEO optimizations
  extras/docs/themes/config.json
  extras/docs/themes/sassdoc/index.js
  extras/docs/themes/sassdoc/views/index.hbs
  extras/docs/themes/typedoc/src/assets/js/src/theme.ts
  extras/docs/themes/typedoc/src/layouts/default.hbs
Labels: documentation, sassdoc, typedoc, version: 7.2.x

#4175 fix(grid): Removing IgxGridModule.forRoot() from the codebase #4174
  projects/igniteui-angular/migrations/common/UpdateChanges.spec.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.spec.ts
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-moving.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.crud.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.module.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  src/app/app.module.ts
Labels: grid, version: 7.2.x

#4144 fix(date-picker): Renaming of mode values #4143
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/enums.ts
  projects/igniteui-angular/src/lib/date-picker/README.md
  projects/igniteui-angular/src/lib/date-picker/calendar-container.component.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.utils.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/time-picker/README.md
  projects/igniteui-angular/src/lib/time-picker/time-picker.common.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.directives.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/date-picker/date-picker.sample.html
  src/app/time-picker/time-picker.sample.html
  src/app/time-picker/time-picker.sample.ts
Labels: date-picker, status: verified, version: 7.2.x

#4170 chore(*): Fixing imports to not import from public_api
  .vscode/settings.json
  projects/igniteui-angular/src/lib/data-operations/filtering-condition.spec.ts
  projects/igniteui-angular/src/lib/data-operations/filtering-expression.interface.ts
  projects/igniteui-angular/src/lib/data-operations/filtering-expressions-tree.ts
  projects/igniteui-angular/src/lib/data-operations/filtering-strategy.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/test-methods.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/helper-utils.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
  src/app/grid-groupby/grid-groupby.sample.ts
Labels: refactoring, version: 7.2.x

#4173 fix(grid): fix grid cells are not aligned with the column headers
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: grid, status: verified, version: 7.2.x

#4186 chore(docs): Updating changelog.md with missing release notes
  CHANGELOG.md
Labels: documentation, version: 7.2.x

#4184 Export IgxDropDownGroupComponent
  projects/igniteui-angular/src/lib/drop-down/drop-down-group.component.ts
  projects/igniteui-angular/src/lib/select/index.ts
  projects/igniteui-angular/src/lib/select/select-group.component.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/select/select.module.ts
  projects/igniteui-angular/src/public_api.ts
Labels: select, status: verified, version: 7.2.x

#3980 Border box
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
Labels: enhancement, status: verified, styling, version: 7.2.x

#4185 Add icon alignment for expand all button in the groupby grid when the filter row is open
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: grid, status: verified, version: 7.2.x

#4180 fix(GroupBy): Fix error thrown when expanding a groupby row.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: groupby, status: verified, version: 7.2.x

#4163 Clear filter if expressionstree is empty
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
Labels: excel-style-filtering, grid, status: verified, version: 7.2.x

#4191 Add normalize package to 7.2.0 migrations/ng add
  .travis.yml
  projects/igniteui-angular/migrations/common/UpdateChanges.ts
  projects/igniteui-angular/migrations/common/filterSourceDirs.ts
  projects/igniteui-angular/migrations/common/util.ts
  projects/igniteui-angular/migrations/tsconfig.json
  projects/igniteui-angular/migrations/update-7_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-7_2_0/index.ts
  projects/igniteui-angular/package.json
  projects/igniteui-angular/schematics/interfaces/options.ts
  projects/igniteui-angular/schematics/ng-add/add-normalize.ts
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
  projects/igniteui-angular/schematics/ng-add/index.ts
  projects/igniteui-angular/schematics/ng-add/schema.json
  projects/igniteui-angular/schematics/tsconfig.json
Labels: migrations, ng add, status: verified

#4172 chore(IgxSelect): Update API descriptions. #4171
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.base.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
Labels: documentation, dropdown, select

#4210 #4208 Fix build/runtime errors in AoT builds and JIT es2015+
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-sorting.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  src/app/autocomplete/autocomplete.sample.html
Labels: excel-style-filtering, hierarchical-grid, select, status: verified

#4203 igx-grid: `pinned` property doesn't work when `width` property is set together 62x
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
Labels: column-pinning, grid, status: verified, version: 6.2.x

#4141 igx-grid: `pinned` property doesn't work when `width` property is set together. #4125
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
Labels: column-pinning, pinning, status: verified, version: 7.1.x

#4201 Adding 16px to the default typography scale for the body-1 rule
  projects/igniteui-angular/src/lib/core/styles/typography/_base.scss
Labels: status: verified, typography, version: 7.2.x

#4202 igx-grid: `pinned` property doesn't work when `width` property is set together 72x
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
Labels: column-pinning, grid, status: verified, version: 7.2.x

#4225 #4208 update IgxSelect leftover item group barrel import (AoT build)
  projects/igniteui-angular/src/lib/select/select-group.component.ts
Labels: select, status: verified, version: 7.2.x

#4136 Fix for column moving in grouped columns
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-column-moving.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-column-moving.component.ts
  projects/igniteui-angular/src/lib/grids/grid-common.module.ts
Labels: excel-style-filtering, grid, status: verified, version: 7.2.x

#4253 Fix broken links in changelog
  CHANGELOG.md
Labels: documentation, status: verified, version: 7.2.x

#4152 Remove bold fontWeight from the TextHighlight directive
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
Labels: global-search, status: verified, version: 7.1.x

#4151 Remove bold fontWeight from the TextHighlight directive
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
Labels: global-search, status: verified, version: 7.2.x

#4132 Close IgxTooltip when clicking IgxTooltipTarget - 7.1.x
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
Labels: status: verified, tooltip, version: 7.1.x

#4131 Close IgxTooltip when clicking IgxTooltipTarget - 7.2.x
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
Labels: status: verified, tooltip, version: 7.2.x

#4165 fix(grid): Fix DoubleClick while in edit mode #3985
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
Labels: grid, status: verified, version: 7.1.x

#4183 Refactor autocomplete sample
  src/app/autocomplete/autocomplete.sample.ts
Labels: autocomplete, demos, refactoring, status: verified, version: 7.2.x

#4264 fix(progressbar): add classlist polyfill IE11
  package-lock.json
  package.json
  src/polyfills.ts
Labels: circular-progress, status: verified, version: 7.1.x

#4168 fix(drop-down): remove usage of old focus + selected accessors
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/combo/combo-item.component.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.html
Labels: dropdown, status: verified, version: 7.2.x

#4187 Expose rowID
  projects/igniteui-angular/src/lib/grids/row.component.ts
Labels: documentation, grid, row-editing, status: verified, typedoc, version: 7.2.x

#4196 fix(grid): Fix DoubleClick while in edit mode #3985
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
Labels: grid, status: verified, version: 7.2.x

#4216 fix(HierarchicalGrid): Fix and test for scenarios when skipping child…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
Labels: hierarchical-grid, keyboard-navigation, status: verified, version: 7.2.x

#4077 igxSelect - select-positioning-strategy code cleanup
  projects/igniteui-angular/src/lib/select/select-positioning-strategy.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
Labels: enhancement, select, status: verified, version: 7.2.x

#4204 Remove igxToggle directive from ESF menu
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid-header.component.ts
Labels: excel-style-filtering, grid, status: verified, version: 7.2.x

#4270 fix(grids): Fix setting data property manually not being detected as a change.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: grid, status: verified, version: 7.1.x

#4206 fix(date picker): dropdown mode scroll strategy
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: date-picker, grid, status: verified, version: 7.2.x

#4261 fix(grid): Fix error thrown when scrolling with mouse after closing a dialog on IE11.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: grid, status: verified, version: 7.1.x

#4271 fix(grids): Fix setting data property manually not being detected as a change.
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: grid, status: verified, version: 7.2.x

#4262 fix(grid): Fix error thrown when scrolling with mouse after closing a dialog on IE11.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: grid, status: verified, version: 7.2.x

#4199 fix(HierarchicalGrid): Fixing check so that grid does not attempt to …
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
Labels: hierarchical-grid, keyboard-navigation, status: verified, version: 7.2.x

#4258 fix(progressbar): add polyfill for classlist
  package-lock.json
  package.json
  src/polyfills.ts
Labels: circular-progress, status: verified, version: 7.2.x

#4212 fix(ColumnChoosers): #4102 Adding disableFilter input.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/column-chooser-base.ts
  projects/igniteui-angular/src/lib/grids/column-hiding.component.html
  projects/igniteui-angular/src/lib/grids/column-pinning.component.html
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-pinning.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-base-components.spec.ts
Labels: grid, status: verified, version: 7.1.x

#4291 fix(grid): forcing calcwidth on pinning init #4278 - 6.2
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
Labels: column-pinning, multi-column-headers, status: verified, version: 6.2.x

#4289 fix(grid): forcing calcwidth on pinning init #4278 - 7.1
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
Labels: column-pinning, multi-column-headers, status: verified, version: 7.1.x

#4273 fix(HierarchicalGrid): Fix and test for #4239. Update parent grid vir…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
Labels: hierarchical-grid, status: verified, version: 7.2.x

#4221 fix(HierarchicalGrid): Fix and test for #4176.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
Labels: hierarchical-grid, keyboard-navigation, status: verified, version: 7.2.x

#4162 Don't clear sorting if column is grouped
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-sorting.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: excel-style-filtering, grid, groupby, sorting, status: verified, version: 7.2.x

#4233 fix(date-picker): Fixed calendar templates in date-picker #4223
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: date-picker, status: verified, version: 7.2.x

#4256 fix(excelExporter): Set empty column header when exporting #3763
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/services/exporter-common/export-utilities.ts
Labels: excel-exporter, status: verified, version: 7.1.x

#4195 igxMonthPicker: fix months view KB navigation
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.html
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.ts
  projects/igniteui-angular/src/lib/calendar/month-picker-base.ts
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.html
  projects/igniteui-angular/src/lib/calendar/months-view/months-view.component.ts
  projects/igniteui-angular/src/lib/calendar/years-view/years-view.component.ts
  src/app/calendar-views/calendar-views.sample.html
  src/app/calendar-views/calendar-views.sample.ts
Labels: calendar, status: verified, version: 7.2.x

#4231 Refactor grid resize line positioning and display
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid-column-resizer.component.html
  projects/igniteui-angular/src/lib/grids/grid-column-resizer.component.ts
  projects/igniteui-angular/src/lib/grids/grid-column-resizing.service.ts
  projects/igniteui-angular/src/lib/grids/grid-common.module.ts
  projects/igniteui-angular/src/lib/grids/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/grid.common.ts
  projects/igniteui-angular/src/lib/grids/grid/column-moving.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-indentation.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  src/app/grid-performance/grid-performance.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.html
Labels: grid, resizing, status: verified, version: 7.2.x

#4259 fix(excelExporter): Set empty column header when exporting #3763
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/services/exporter-common/export-utilities.ts
Labels: excel-exporter, status: verified, version: 7.2.x

#4260 Emit onFilterDone and add Clear item
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
Labels: excel-style-filtering, grid, status: verified, version: 7.2.x

#4134 chore(grid): Updating editCell events event snippets
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: cell-editing, documentation, grid, status: verified, version: 7.1.x

#4166 Add property that returns if all columns are in view
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-cell.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
Labels: filter-ui, grid, status: verified, version: 7.2.x

#4226 Don't move focus from first cell for ESF
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
Labels: excel-style-filtering, filtering, grid, status: verified, version: 7.2.x

#4306 fix(ColHiding): #4194 Emit onColumnVisibilityChanged for group columns.
  projects/igniteui-angular/src/lib/grids/column-hiding.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-base-components.spec.ts
Labels: grid, status: verified, version: 7.1.x

#4243 Use visible index of the column
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-column-moving.component.ts
Labels: excel-style-filtering, grid, status: verified, version: 7.2.x

#4322 Recalculate summaries when filtering is applied
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.service.ts
Labels: cell-editing, grid, status: verified, summaries, version: 7.1.x

#4275 fix(tabs): Fixed selectedIndex run-time change #4245
  projects/igniteui-angular/src/lib/tabs/tab-item.component.html
  projects/igniteui-angular/src/lib/tabs/tab-item.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs-group.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.directives.ts
  src/app/tabs/tabs.sample.html
Labels: status: verified, tabs, version: 7.2.x

#4323 Recalculate summaries when filtering is applied and perform CRUD operations
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.service.ts
Labels: cell-editing, grid, status: verified, summaries, version: 7.2.x

#4311 Properly enable polyfills for projects generated by Angular CLI v7.3.x
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
  projects/igniteui-angular/schematics/ng-add/index.ts
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
Labels: ng add, status: verified, version: 7.2.x

#4284 fix(column.component): make headerGoupClasses visible for API gen DOC
  projects/igniteui-angular/src/lib/grids/column.component.ts
Labels: documentation, grid, status: verified, typedoc, version: 7.1.x

#4335 docs(changelog): Adding bug fixes for 7.1.10
  CHANGELOG.md
Labels: documentation

#4307 #4194 Emit onColumnVisibilityChanged for group columns.
  projects/igniteui-angular/src/lib/grids/column-hiding.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-base-components.spec.ts
Labels: grid, status: verified, version: 7.2.x

#4281 Adding `disableFilter` property to Column Choosers. #4102
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/column-chooser-base.ts
  projects/igniteui-angular/src/lib/grids/column-hiding.component.html
  projects/igniteui-angular/src/lib/grids/column-pinning.component.html
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-pinning.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-base-components.spec.ts
Labels: column-pinning, status: verified, version: 7.2.x

#4336 Fix flickering schematics tests
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
Labels: ng add, status: verified, tests, version: 7.2.x

#4279 Change content div position to relative in flex wrapper
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-theme.scss
  projects/igniteui-angular/src/lib/services/overlay/position/global-position-strategy.ts
Labels: modal-dialog, overlay, status: verified, version: 7.2.x

#4283 fix(column.component): make headerGoupClasses visible for API gen DOC
  projects/igniteui-angular/src/lib/grids/column.component.ts
Labels: documentation, grid, status: verified, typedoc, version: 7.2.x

#4330 fix(docs): Cell and row editing docs update #4055
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: cell-editing, grid, row-editing, status: verified, version: 7.1.x

#4133 chore(grid): Updating editCell event snippets
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: cell-editing, grid, row-editing, status: verified, version: 7.2.x

#4238 docs(igxLabel): remove hidden tag, #4237
  projects/igniteui-angular/src/lib/directives/label/label.directive.ts
Labels: label, status: verified, version: 7.2.x

#4218 Allow gradient/image values as backgrounds in component themes
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/bottom-nav/_bottom-nav-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/date-picker/_date-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tooltip/_tooltip-theme.scss
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
Labels: status: verified, theme, version: 7.2.x

#4333 Remove ngModel from datepicker
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
Labels: filtering, grid, status: verified, version: 7.2.x

#4325 fix(date-picker): Fix for re-templating dropdown date-picker
  projects/igniteui-angular/src/lib/date-picker/README.md
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  src/app/date-picker/date-picker.sample.css
  src/app/date-picker/date-picker.sample.html
  src/app/date-picker/date-picker.sample.ts
Labels: date-picker, status: verified, version: 7.2.x

#4346 test(igxForOf): Disable sporadic igxForOf test.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
Labels: tests, version: 7.2.x, virtualization

#4345 test(igxForOf): Disable sporadic igxForOf test.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
Labels: tests, version: 7.1.x, virtualization

#4266 Add inheritdoc to position strategies
  projects/igniteui-angular/src/lib/services/overlay/position/connected-positioning-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/global-position-strategy.ts
Labels: overlay, status: verified, version: 7.2.x

#4340 fix(combo): do not run filter + emit if search input value is unchanged
  projects/igniteui-angular/src/lib/combo/combo.component.ts
Labels: combo, status: verified, version: 7.2.x

#4354 docs(changelog): Updating changelog with bug fixes for 7.2.1
  CHANGELOG.md
Labels: documentation

#4109 Surface color
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_banner.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_calendar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_card.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_combo.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_dialog.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_drop-down.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_list.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_navdrawer.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_time-picker.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_banner.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_calendar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_card.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_combo.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_dialog.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_drop-down.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_list.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_navdrawer.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_time-picker.scss
Labels: status: verified, theme, version: 7.2.x

#4177 Close igxSelect on Shift+Tab keys
  projects/igniteui-angular/src/lib/select/README.md
  projects/igniteui-angular/src/lib/select/select-navigation.directive.ts
  projects/igniteui-angular/src/lib/select/select.component.html
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
Labels: select, status: verified, version: 7.2.x

#4343 fix(date-picker): Dropdown is opened above if there is no space below…
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: date-picker, status: verified, version: 7.2.x

#4328 Updating Items as Done
  ROADMAP.md
Labels: documentation

#4310 optimizing post group pipe for 4309 - 7.2.x
  CHANGELOG.md
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: groupby, status: verified, version: 7.2.x

#4349 chore(*): Updating keywords in the package
  projects/igniteui-angular/package.json
Labels: documentation, version: 7.2.x

#4316 Components' display type
  CHANGELOG.md
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/navbar/navbar.component.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.spec.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
  projects/igniteui-angular/src/lib/snackbar/snackbar.component.ts
  projects/igniteui-angular/src/lib/tabbar/tabbar.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
  projects/igniteui-angular/src/lib/toast/toast.component.ts
Labels: enhancement, layout, status: verified, version: 7.2.x

#4344 fix(date-picker): Placeholder flickering fix #4228
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
Labels: date-picker, status: verified, version: 7.2.x

#4092 refactor(button-group): Fix the double borders between the buttons
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button-group.scss
Labels: enhancement, refactoring, status: verified, version: 7.2.x

#4350 Use ngControl for combo validation
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
Labels: combo, status: verified, version: 7.2.x

#4362 Autocomplete validation on item selection with mouse
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
Labels: autocomplete, status: verified, version: 7.2.x

#4365 Updating the Roadmap with Milestone 7
  ROADMAP.md
Labels: documentation

#4364 Public enumerations should not be constants
  projects/igniteui-angular/src/lib/core/displayDensity.ts
  projects/igniteui-angular/src/lib/core/enums.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/public_api.ts
Labels: date-picker, display-density, status: verified, version: 7.2.x

#4252 Toggle does not fire onClosed after first call to close
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
Labels: status: verified, toggle, version: 7.2.x

#4255 Autoscrollstrategy scroll outside NgZone
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
  projects/igniteui-angular/src/lib/services/overlay/scroll/IScrollStrategy.ts
  projects/igniteui-angular/src/lib/services/overlay/scroll/README.md
  projects/igniteui-angular/src/lib/services/overlay/scroll/absolute-scroll-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/utilities.ts
  src/app/overlay/overlay.sample.css
  src/app/overlay/overlay.sample.html
  src/app/overlay/overlay.sample.ts
Labels: overlay, status: verified, version: 7.2.x

#4372 Select sort button only if default template is used
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
Labels: excel-style-filtering, grid, status: verified, version: 7.2.x

#4361 igxInput - add ability to toggle required dynamically
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
  src/app/input-group/input-group.sample.html
  src/app/input-group/input-group.sample.ts
  src/app/time-picker/time-picker.sample.html
  src/app/time-picker/time-picker.sample.ts
Labels: input, input-group, status: verified, version: 7.2.x

#4358 Move filtering logic from grid to filteringService
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-cell.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-indentation.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-search.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-summaries.spec.ts
Labels: filtering, grid, status: verified, version: 7.2.x

#4371 fix(tabs): Fix for applying styles to tabs group #4351
  projects/igniteui-angular/src/lib/tabs/tabs-group.component.ts
Labels: status: verified, tabs, version: 7.2.x

#4293 Including summary row cells in tab sequence for HierarchicalGrid navigation.
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/summaries/summary-cell.component.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
Labels: hierarchical-grid, keyboard-navigation, status: verified, summaries, version: 7.2.x

#4334 fix(hierarchicalGrid): Fix scrollbar not updated when data for children is loaded after initial load.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
Labels: hierarchical-grid, status: verified, version: 7.2.x

#4381 Expose time picker overlay settings as an @Input()
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: status: verified, time-picker, version: 7.2.x

#4370 fix(HierarchicalGrid): Moving onGridCreated to be emitted onInit
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.ts
Labels: hierarchical-grid, status: verified, version: 7.3.x

#4391 fix(grid): resolving misalignment for #4387
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: grid, multi-column-headers, status: verified, version: 7.1.x

#4392 fix(grid): resolving misalignment for #4387
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: grid, multi-column-headers, status: verified, version: 7.2.x

#4385 Add Excel Style Filtering tests
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: excel-style-filtering, grid, status: verified, tests, version: 7.2.x

#4378 Resizing: move resize handle logic in a directive
  projects/igniteui-angular/src/lib/grids/grid-column-resizing.service.ts
  projects/igniteui-angular/src/lib/grids/grid-common.module.ts
  projects/igniteui-angular/src/lib/grids/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/grid.common.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-indentation.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
Labels: grid, resizing, status: verified, version: 7.2.x

#4377 Add igxQuickFilterTemplate directive
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-cell.component.html
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-common.module.ts
  projects/igniteui-angular/src/lib/grids/grid.common.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/grid-filter-template/grid-filter-template.sample.css
  src/app/grid-filter-template/grid-filter-template.sample.html
  src/app/grid-filter-template/grid-filter-template.sample.ts
  src/app/routing.ts
Labels: filtering, grid, status: verified, version: 7.2.x

#4290 fix(grid): forcing calcwidth on pinning init #4278 - 7.2
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
Labels: column-pinning, multi-column-headers, status: verified, version: 7.2.x

#4404 Making sure size cache is not re-calculated each time sum of the heights is retrieved.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: status: verified, version: 7.1.x, virtualization

#4388 fix(HierachicalGrid): fix for #4080 - persist focused cell on KB exp…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-cell.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
Labels: hierarchical-grid, status: verified, version: 7.2.x

#4405 Fixing change detection issues in HierarchicalGrid navigation tests.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/test-utils/helper-utils.spec.ts
Labels: tests

#4400 fix(grid): Fixing grid body height when grid is not in the DOM #4329
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, status: verified, version: 7.1.x

#4360 fix(grid): Fixing grid body height when grid is not in the DOM #4329
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, status: verified, version: 7.2.x

#4398 Grid: fix sorting in chrome 7.1.x
  projects/igniteui-angular/src/lib/grids/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/grid.common.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: grid, sorting, status: verified, version: 7.1.x

#4397 Grid: fix sorting in chrome
  projects/igniteui-angular/src/lib/grids/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/grid-header.component.html
  projects/igniteui-angular/src/lib/grids/grid.common.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: grid, sorting, status: verified, version: 7.2.x

#4413 Time picker - dropdown width calculation
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: status: verified, time-picker, version: 7.2.x

#4409 Update child summaries correctly when CRUD operations are performed --7.1.x
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.service.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-summaries.spec.ts
Labels: batch-editing, cell-editing, grid, status: verified, summaries, version: 7.1.x

#4408 Update child summaries correctly when CRUD operations are performed
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.service.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-summaries.spec.ts
Labels: batch-editing, cell-editing, grid, status: in-test, summaries, version: 7.2.x

#4427 test(date-picker): Fixed date picker failing test #3833
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
Labels: date-picker, status: verified, tests, version: 7.2.x

#4399 Fix auto-generate columns for TreeGrid
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
Labels: status: verified, tree-grid, version: 7.2.x
