Repository IgniteUI/igniteui-angular, pull requests merged in 2019-04, with the labels that each got.

#3833 Emiting event when unpinning column. (7.2.x)
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-pinning.spec.ts
  src/app/grid-column-pinning/grid-column-pinning.sample.html
Labels: column-pinning, grid, status: verified, version: 7.2.x

#4267 Refactoring filter cell navigation so that it is handled in the navigation service. Handling special scenarios for hierarchical grid in the hierarchical navigation service.
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
Labels: filtering, hierarchical-grid, keyboard-navigation, status: verified, version: 7.2.x

#4422 fix(igxGrid): Fix scroll event when changing height of content not be…
  projects/igniteui-angular/src/lib/directives/for-of/virtual.helper.component.ts
Labels: status: verified, version: 7.2.x, virtualization

#4419 Grid: fix date picker editable input group display in IE
  projects/igniteui-angular/src/lib/grids/cell.component.html
Labels: grid, status: verified, version: 7.2.x

#4432 docs(readme): update README.md
  README.md
Labels: documentation, version: 7.2.x

#4374 for-of init optimizations for grids
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.sync.service.ts
  projects/igniteui-angular/src/lib/grids/grid-common.module.ts
  projects/igniteui-angular/src/lib/grids/grid.common.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.ts
  projects/igniteui-angular/src/lib/grids/summaries/summary-row.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  src/app/grid-toolbar/grid-toolbar.sample.html
Labels: grid, squash-merge, status: verified, version: 7.2.x, virtualization

#4301 grid: refactor column moving keydown.escape HostListener
  projects/igniteui-angular/src/lib/grids/grid.common.ts
Labels: column-moving, enhancement, grid, status: verified, version: 7.2.x

#4417 Change checks for moving left/right
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-column-moving.component.ts
Labels: excel-style-filtering, grid, status: verified, version: 7.2.x

#4441 adding distinct check overlay cache add - 7.2.x
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
Labels: filtering, hierarchical-grid, status: verified, version: 7.2.x

#4451 fix(HierarchicalGrid): Making sure correct pinned width is set when child grid width in % and there is expander.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
Labels: hierarchical-grid, status: verified, version: 7.2.x

#4406 fix(igxHierarchicalGrid): Fix columnList for root and children not updated and row islands not having access to children.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.module.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/index.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island-api.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
Labels: hierarchical-grid, status: verified, version: 7.2.x

#4448 Destroying cached child grids to prevent memory leaks.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
Labels: hierarchical-grid, status: verified, version: 7.2.x

#4456 fix(Grid): Fixing navigation in scenarios where there is only 1 visible row in grid.
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
Labels: grid, hierarchical-grid, keyboard-navigation, status: verified, version: 7.2.x

#4461 fix(igxFor): Adding correct index when data is remote.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  src/app/virtual-for-directive/virtual-for.sample.html
Labels: status: verified, version: 7.2.x, virtualization

#4459 fix(Grid): Making sure that if allowFiltering is set before % height …
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: grid, hierarchical-grid, status: verified, version: 7.2.x

#4466 fix(igx-cell): Focus and IME input handlers
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
Labels: browser: ie-11, cell-editing, grid, selection, status: verified, version: 7.2.x

#4421 fix(search): Fix search with grouping #4327
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-summaries.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: grid, status: verified, version: 7.2.x

#4482 Fix color of icon tooltip target sample - 7.2.x
  src/app/tooltip/tooltip.sample.css
  src/app/tooltip/tooltip.sample.html
Labels: samples, status: verified, tooltip, version: 7.3.x

#4481 Fix color of icon tooltip target sample - master
  src/app/tooltip/tooltip.sample.css
  src/app/tooltip/tooltip.sample.html
Labels: samples, status: verified, tooltip, version: 7.2.x

#4487 Update treeGrid cell to use date picked with mode dropdown
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
Labels: cell-editing, row-editing, status: verified, tree-grid, version: 7.2.x

#4438 Fixed scrolling when using ctr + arrowRight.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
Labels: hierarchical-grid, keyboard-navigation, status: verified, version: 7.2.x

#4471 hide Overlays when scroll grid
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
Labels: cell-editing, grid, hierarchical-grid, status: verified, tree-grid, version: 7.2.x

#4499 calculateGridSizes should not get called in ngAfterContentInit - igxHierarchicalGrid
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
Labels: hierarchical-grid, status: verified, version: 7.2.x

#4382 Use parent or null row editing outlet when 1-2 rows in grid
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
Labels: row-editing, status: verified, version: 7.2.x

#4489 Adding density styles for buttons
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  src/app/button/button.sample.css
Labels: button, display-density, status: in-development, version: 7.3.x

#4494 feat(list-item): making index input for igxfor #4465
  CHANGELOG.md
  projects/igniteui-angular/src/lib/list/README.md
  projects/igniteui-angular/src/lib/list/list-item.component.ts
  projects/igniteui-angular/src/lib/list/list.component.spec.ts
  projects/igniteui-angular/src/lib/list/list.component.ts
  projects/igniteui-angular/src/lib/test-utils/list-components.spec.ts
Labels: list, status: verified, version: 7.2.x, virtualization

#4476 fix(forof): sync reset only for vert #4460
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: hiding, not-automated, squash-merge, status: verified, version: 7.2.x, virtualization

#4498 fix(groupby): resolving groupsRecords reset issue #4479
  projects/igniteui-angular/src/lib/data-operations/data-util.spec.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
Labels: groupby, status: verified, version: 7.2.x

#4523 docs(changelog): Adding changelog for 7.2.4
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: documentation

#4507 fix(radio-group): display type gets overridden if specified
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-component.scss
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
Labels: radio-group, status: verified, theme, version: 7.2.x

#4509 fix(Grid filtering row): fix z-index for cbx selection and header indentation
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: filter-ui, status: verified, version: 7.2.x

#4516 fix(tabs): Fixed style applying to tabs
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.ts
Labels: status: verified, tabs, version: 7.2.x

#4518 Add originalEvent and relative offsets to the event arguments for the igxDrop directive.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/dragdrop/dragdrop.directive.ts
  projects/igniteui-angular/src/lib/directives/dragdrop/dragdrop.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: drag-drop, status: verified, version: 7.2.x

#4517 Fix onColumnMovingEnd event API description
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: column-moving, documentation, status: verified, version: 7.2.x

#4442 Card refactoring and new component Divider
  CHANGELOG.md
  README.md
  projects/igniteui-angular/src/lib/banner/banner.component.spec.ts
  projects/igniteui-angular/src/lib/card/README.md
  projects/igniteui-angular/src/lib/card/card-actions.component.html
  projects/igniteui-angular/src/lib/card/card-header.component.html
  projects/igniteui-angular/src/lib/card/card.component.html
  projects/igniteui-angular/src/lib/card/card.component.ts
  projects/igniteui-angular/src/lib/card/card.spec.ts
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/divider/_divider-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/divider/_divider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_divider.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_card.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_divider.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/directives/divider/README.md
  projects/igniteui-angular/src/lib/directives/divider/divider.directive.ts
  projects/igniteui-angular/src/lib/directives/divider/divider.spec.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/card/card.sample.css
  src/app/card/card.sample.html
  src/app/card/card.sample.ts
  src/assets/images/card/avatars/statue_of_liberty.jpg
  src/assets/images/card/icons/breeze.svg
  src/assets/images/card/icons/rain.svg
  src/assets/images/card/media/cofe.jpg
  src/assets/images/card/media/roses.jpg
  src/assets/images/card/media/weather.png
Labels: card, divider, refactoring, status: verified, version: 7.2.x

#4521 fix(Grid filtering row): fix z-index for cbx selection and header indentation
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: filter-ui, status: verified, version: 7.1.x

#4522 Change the datePicker mode to dropdown in the filtering UIs
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.module.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: excel-style-filtering, filter-ui, filtering, grid, status: verified, version: 7.2.x

#4533 Add Multi-row layout sample with configurator for layouts.
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/grid-multi-row-layout-config/grid-mrl-config.sample.css
  src/app/grid-multi-row-layout-config/grid-mrl-config.sample.html
  src/app/grid-multi-row-layout-config/grid-mrl-config.sample.ts
  src/app/routing.ts
Labels: multi-row-layout, samples

#4539 fix(tabs): Selection indicator size fix - 7.3.x
  projects/igniteui-angular/src/lib/tabs/tabs-group.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
Labels: status: verified, tabs, version: 7.3.x

#4485 Fix completing filter in the filtering row
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filter-ui, filtering, grid, status: verified, version: 7.2.x

#4544 Fix completing filter in the filtering row
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filter-ui, filtering, grid, status: verified, version: 7.3.x

#4401 Implement Display Density for List - 7.3.x
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/list/README.md
  projects/igniteui-angular/src/lib/list/list-item.component.ts
  projects/igniteui-angular/src/lib/list/list.common.ts
  projects/igniteui-angular/src/lib/list/list.component.spec.ts
  projects/igniteui-angular/src/lib/list/list.component.ts
  src/app/list/list.sample.css
  src/app/list/list.sample.html
  src/app/list/list.sample.ts
Labels: list, status: verified, version: 7.3.x

#4572 Fix conditions-dropdown flickering for filter-row -- 7.2.x
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filter-ui, grid, hierarchical-grid, status: verified, tree-grid, version: 7.2.x

#4573 Fix conditions-dropdown flickering for filter-row -- 7.3.x
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filter-ui, grid, hierarchical-grid, status: verified, tree-grid, version: 7.3.x

#4454 Update angular versions, enable conditional polyfils in demos
  .travis.yml
  angular.json
  package-lock.json
  package.json
  src/polyfills.ts
Labels: demos, npm, status: verified, version: 7.2.x

#4510 Implement Display Density for Button - 7.3.x
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/directives/button/README.md
  projects/igniteui-angular/src/lib/directives/button/button.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
  src/app/button/button.sample.css
  src/app/button/button.sample.html
  src/app/button/button.sample.ts
Labels: button, status: verified, version: 7.3.x

#4547 Clear filteredData when setting empty filteringExpressionsTree
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
Labels: filtering, grid, status: verified, version: 7.2.x

#4450 Changing the date to 7th of May for the last Milestone
  ROADMAP.md
Labels: documentation

#4529 fix(tabs): Selection indicator size fix
  projects/igniteui-angular/src/lib/tabs/tabs-group.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
Labels: status: verified, tabs, version: 7.2.x

#4549 Clear filteredData when setting empty filteringExpressionsTree
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
Labels: filtering, grid, status: verified, version: 7.3.x

#4554 Add image for drag-drop dev sample.
  src/app/drag-drop/drag-drop.sample.css
  src/app/drag-drop/drag-drop.sample.html
  src/assets/images/drag-drop/jailBars.png
Labels: demos, drag-drop, status: verified, version: 7.2.x

#4380 TreeGrid Load on Demand
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-expanding.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.directives.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.module.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-functions.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/routing.ts
  src/app/tree-grid-load-on-demand/tree-grid-load-on-demand.sample.css
  src/app/tree-grid-load-on-demand/tree-grid-load-on-demand.sample.html
  src/app/tree-grid-load-on-demand/tree-grid-load-on-demand.sample.ts
  src/app/tree-grid-load-on-demand/tree-grid-load-on-demand.service.ts
Labels: status: verified, tree-grid, version: 7.3.x

#4583 refactor(input-group): fix visual glitches in safari and firefox
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: input-group, status: verified, version: 7.3.x

#4579 Update angular packages, enable conditional polyfils in demos
  .travis.yml
  angular.json
  package-lock.json
  package.json
  src/polyfills.ts
Labels: demos, npm, status: verified, version: 7.3.x

#4570 Check if searchValue is zero in the custom filter dialog - master
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: excel-style-filtering, grid, status: verified, version: 7.3.x

#4569 Check if searchValue is zero in the custom filter dialog -- 7.2.x
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: excel-style-filtering, grid, status: verified, version: 7.2.x

#4558 Update auto position strategy to push content - 7.2.x
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/position/auto-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/base-fit-position-strategy.ts
  projects/igniteui-angular/src/lib/test-utils/tooltip-components.spec.ts
  src/app/app.module.ts
  src/app/overlay/overlay.sample.html
  src/app/overlay/overlay.sample.ts
Labels: enhancement, overlay, status: verified, version: 7.2.x

#4550 Update auto position strategy to push content
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/position/auto-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/base-fit-position-strategy.ts
  projects/igniteui-angular/src/lib/test-utils/tooltip-components.spec.ts
  src/app/app.module.ts
  src/app/overlay/overlay.sample.html
  src/app/overlay/overlay.sample.ts
Labels: enhancement, overlay, severity: medium, status: verified, version: 7.3.x

#4553 Fix DropDown Documentation link (7.2.x)
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
Labels: bug, documentation, status: verified, version: 7.2.x

#4552 Fix DropDown Documentation link (master)
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
Labels: bug, documentation, status: verified, version: 7.3.x

#4574 feat(groupby): restoring groupsRecords and fix for #4515 (master)
  CHANGELOG.md
  projects/igniteui-angular/src/lib/data-operations/data-util.spec.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/data-operations/grouping-strategy.ts
  projects/igniteui-angular/src/lib/data-operations/sorting-strategy.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
Labels: groupby, squash-merge, status: verified, version: 7.3.x

#4567 feat(groupby): restoring groupsRecords and fix for #4515
  CHANGELOG.md
  projects/igniteui-angular/src/lib/data-operations/data-util.spec.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/data-operations/grouping-strategy.ts
  projects/igniteui-angular/src/lib/data-operations/sorting-strategy.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
Labels: groupby, squash-merge, status: verified, version: 7.2.x

#4560 fix(tabs): Fixed initial content sizing
  projects/igniteui-angular/src/lib/tabs/tabs.component.ts
  src/app/tabs/tabs.sample.html
Labels: status: verified, tabs, version: 7.3.x

#4584 refactor(input-group): fix visual glitches in safari and firefox
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: input-group, status: verified, version: 7.2.x

#4591 fix(date-picker): Focus issue fixed
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: date-picker, status: verified, version: 7.2.x

#4592 fix(date-picker): Focus issue fixed
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: date-picker, status: verified, version: 7.3.x

#4557 fix(sass-doc): Fix list theme inclusion (71x)
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
Labels: documentation, sassdoc, status: verified, version: 7.1.x

#4555 fix(sass-doc): Fix list theme inclusion (master).
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
Labels: documentation, sassdoc, status: verified, version: 7.3.x

#4556 fix(sass-doc): Fix list theme inclusion (72x)
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
Labels: documentation, sassdoc, status: verified, version: 7.2.x

#4602 fix(circular-bar): Remove id attr and #text template reference variable
  projects/igniteui-angular/src/lib/progressbar/templates/circular-bar.component.html
Labels: circular-progress, status: verified, version: 7.3.x

#4601 fix(circular-bar): Remove id attr and #text template reference variable
  projects/igniteui-angular/src/lib/progressbar/templates/circular-bar.component.html
Labels: circular-progress, status: verified, version: 7.2.x

#4596 Add image for drag-drop dev sample. (master)
  src/app/drag-drop/drag-drop.sample.css
  src/app/drag-drop/drag-drop.sample.html
  src/assets/images/drag-drop/jailBars.png
Labels: demos, drag-drop, status: verified, version: 7.3.x

#4598 Fix colors for drag-drop sample in IE and Edge.
  src/app/drag-drop/drag-drop.sample.css
Labels: demos, drag-drop, status: verified, version: 7.2.x

#4603 fix(circular-bar): Remove id attr and #text template reference variable
  projects/igniteui-angular/src/lib/progressbar/templates/circular-bar.component.html
Labels: circular-progress, status: verified, version: 7.1.x

#4486 feat(grid-mrl): MRL initial implementation #4384
  CHANGELOG.md
  package.json
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid-common.module.ts
  projects/igniteui-angular/src/lib/grids/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/grid-multi-row-layout-config/grid-mrl-config.sample.css
  src/app/grid-multi-row-layout-config/grid-mrl-config.sample.html
  src/app/grid-multi-row-layout-config/grid-mrl-config.sample.ts
  src/app/grid-multi-row-layout/grid-mrl.sample.html
  src/app/grid-multi-row-layout/grid-mrl.sample.ts
  src/app/routing.ts
Labels: grid, multi-row-layout, squash-merge, version: 7.3.x

#4512 Calendar: increment/decrements months continuously
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.html
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
  projects/igniteui-angular/src/lib/calendar/calendar.directives.ts
  projects/igniteui-angular/src/lib/calendar/calendar.module.ts
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.ts
Labels: calendar, feature, status: verified, version: 7.3.x

#4581 Fix generateExpressionsList method of the filtering service
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
Labels: filtering, grid, status: verified, version: 7.2.x

#4582 Fix generateExpressionsList method of the filtering service
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
Labels: filtering, grid, status: verified, version: 7.3.x

#4315 Feat: Drop down with igxForOf data
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/combo/combo-item.component.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/drop-down/README.md
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.component.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.common.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/drop-down/index.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/drop-down/drop-down-virtual/drop-down-virtual.component.html
  src/app/drop-down/drop-down-virtual/drop-down-virtual.component.scss
  src/app/drop-down/drop-down-virtual/drop-down-virtual.component.ts
  src/app/routing.ts
Labels: dropdown, squash-merge, status: in-test, version: 7.3.x

#4630 Grid: hide resize line on single click
  projects/igniteui-angular/src/lib/grids/grid.common.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-indentation.spec.ts
Labels: grid, resizing, status: verified, version: 7.3.x

#4628 Grid: hide resize line on single click
  projects/igniteui-angular/src/lib/grids/grid.common.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-indentation.spec.ts
Labels: grid, resizing, status: verified, version: 7.2.x

#4632 fix(igx-cell): Prevent double selection event
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
Labels: grid, selection, status: verified, version: 7.2.x

#4633 fix(igx-cell): Prevent double selection event
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
Labels: grid, selection, status: verified, version: 7.3.x

#4626 Add default loading template for TreeGrid
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
Labels: status: verified, tree-grid, version: 7.2.x

#4627 Add default loading template for TreeGrid
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
Labels: status: verified, tree-grid, version: 7.3.x

#4513 fix(ColPinning): #4503 Set min-width to dropdown.
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
Labels: grid, pinning, status: verified, version: 7.1.x

#4514 #4503 Set min-width to dropdown.
  projects/igniteui-angular/src/lib/core/styles/components/column-hiding/_column-hiding-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
Labels: grid-toolbar, pinning, status: verified, version: 7.2.x

#4528 fix(ESF): #4525 Beautified condition name in custom dialog.
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: excel-style-filtering, grid, status: verified, version: 7.2.x

#4640 #4525 Fixed condition name in custom dialog.
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: excel-style-filtering, status: verified, version: 7.3.x

#4662 tests(scroll): Fix scroll wheel tests due to creating wheel event with deltaY sets also wheelDeltaY.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: scroll, tests, version: 7.1.x

#4658 tests(scroll): Fix scroll wheel tests due to creating wheel event with deltaY sets also wheelDeltaY.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: scroll, tests, version: 7.3.x

#4659 tests(scroll): Fix scroll wheel tests due to creating wheel event with deltaY sets also wheelDeltaY.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: scroll, tests, version: 7.2.x

#4622 fix(MRL): Fix columns sizings in multi row layout where there are columns without widths.
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
Labels: multi-row-layout, status: verified, version: 7.3.x

#4563 Multi-row layout - Pinning feature integration
  package.json
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/grid-toolbar.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
  projects/igniteui-angular/src/lib/grids/row.component.ts
  projects/igniteui-angular/src/lib/test-utils/helper-utils.spec.ts
  src/app/grid-multi-row-layout/grid-mrl.sample.html
Labels: multi-row-layout, pinning, squash-merge, status: verified

#4616 Update endEdit when sort, filter, search and hide column
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: cell-editing, grid, row-editing, status: verified, version: 7.2.x

#4615 Update endEdit when sort, filter, search and hide column
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: cell-editing, grid, row-editing, status: verified, version: 7.3.x
