Repository IgniteUI/igniteui-angular, pull requests merged in 2019-07, with the labels that each got.

#5242 style(switch): Adding ripple shape for switch component
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_checkbox.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_switch.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_checkbox.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_switch.scss
Labels: bug, status: verified, switch, version: 8.0.x

#5250 Move overlay utilities functions to static class
  projects/igniteui-angular/src/lib/select/select-positioning-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/position/base-fit-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/connected-positioning-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/global-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/utilities.ts
Labels: overlay, status: verified, version: 8.0.x

#5183 fix(grid): headers should respond better to change in height
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid-header.component.ts
Labels: grid, multi-column-headers, status: verified, theme, version: 8.0.x

#5116 fix(grid): default select displays custom perpage as intended #4207
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/core/styles/components/grid-paginator/_grid-paginator-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-paginator/_grid-paginator-theme.scss
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid-common.pipes.ts
  projects/igniteui-angular/src/lib/grids/grid-pipes.module.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.module.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.module.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-expanding.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.module.ts
Labels: grid, hierarchical-grid, status: verified, theme, tree-grid, version: 8.0.x

#5247 fix(Expansion Panel): remove flex 1 0 0% from the title
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
Labels: expansion-panel, status: verified, version: 8.0.x

#5253 fix(Expansion Panel): remove flex 1 0 0% from the title
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
Labels: expansion-panel, status: verified, version: 7.3.x

#5254 fix(Expansion Panel): remove flex 1 0 0% from the title
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
Labels: expansion-panel, status: verified, version: 7.2.x

#5236 Focus button Cancel when press tab key on the last editable cell in the row -- 7.2.x
  projects/igniteui-angular/src/lib/grids/grid.rowEdit.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
Labels: hierarchical-grid, keyboard-navigation, row-editing, status: verified, version: 7.2.x

#5169 Enhance list theme
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_list.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_list.scss
  src/app/list-panning/list-panning.sample.css
  src/app/list-panning/list-panning.sample.html
  src/app/list/list.sample.html
Labels: enhancement, list, status: verified, version: 8.1.x

#5235 Focus button Cancel when press tab key on the last editable cell in the row--7.3.x
  projects/igniteui-angular/src/lib/grids/grid.rowEdit.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
Labels: hierarchical-grid, keyboard-navigation, row-editing, status: verified, version: 7.3.x

#5234 Focus button Cancel when press tab key on the last editable cell in the row
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  src/app/hierarchical-grid-updating/hierarchical-grid-updating.sample.html
Labels: hierarchical-grid, keyboard-navigation, row-editing, status: verified, version: 8.0.x

#5244 fix(filtering): Deselect all filter chips when changing columns
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filter-ui, grid, status: verified, version: 7.3.x

#5271 docs(list): Update the changelog.
  CHANGELOG.md
Labels: documentation, list, status: verified, version: 8.1.x

#5175 fix(forof): preventing reflows on scroll - 7.3
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: squash-merge, status: verified, version: 7.3.x, virtualization

#5245 fix(filtering): Deselect all filter chips when changing columns Astaev/bug5148 8.0.x
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filter-ui, grid, status: verified, version: 8.0.x

#5267 Check owner in column moving onDragOver event
  projects/igniteui-angular/src/lib/grids/grid.common.ts
Labels: column-moving, drag-drop, grid, row-drag, status: verified, version: 8.1.x

#5269 Check owner in column moving onDragOver event
  projects/igniteui-angular/src/lib/grids/grid.common.ts
Labels: column-moving, grid, row-drag, status: verified, version: 7.3.x

#5268 Check owner in column moving onDragOver event
  projects/igniteui-angular/src/lib/grids/grid.common.ts
Labels: column-moving, grid, row-drag, status: verified, version: 8.0.x

#5174 fix(forof): preventing reflows on scroll - 7.2
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: squash-merge, status: verified, version: 7.2.x, virtualization

#5231 Commit pending transactions on addRow - 7.3.x
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: grid, row-editing, status: verified, tree-grid, version: 7.3.x

#5225 Commit pending transactions on addRow - 8.0.x
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: grid, row-editing, status: verified, tree-grid, version: 8.0.x

#5278 Commit pending transactions on addRow - master
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: grid, row-editing, status: verified, tree-grid, version: 8.1.x

#5259 Cleanup static props in 7.3.x igxSelect samples
  src/app/select/select.sample.ts
Labels: samples, select, status: verified, version: 7.3.x

#5176 fix(forof): preventing reflows on scroll - 8.0
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: squash-merge, status: verified, version: 8.0.x, virtualization

#5206 Fixed ESF test for moving columns. #5202
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: excel-style-filtering, status: verified, tests, version: 7.3.x

#5207 Fixed ESF test for moving columns. #5202
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: excel-style-filtering, status: verified, tests, version: 8.0.x

#5275 Fix excluded test in igxExpansionPanel
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.spec.ts
Labels: expansion-panel, tests, version: 8.1.x

#5256 Focus last edited cell on end edit 7.3.x
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  src/app/grid-row-edit/grid-row-edit-sample.component.html
Labels: grid, row-editing, status: verified, version: 7.3.x

#5255 Focus last edited cell on end edit
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, row-editing, status: verified, version: 8.0.x

#5279 Focus last edited cell on end edit, master
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, row-editing, status: verified, version: 8.1.x

#5264 Reset chips area when resizing the window
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filter-ui, filtering, grid, status: verified, version: 8.0.x

#5283 Focus button Cancel when press tab key on the last editable cell in the row --master
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
Labels: keyboard-navigation, row-editing, status: verified, version: 8.1.x

#5295 Fixed ESF test for moving columns. #5202
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: excel-style-filtering, status: awaiting-test, tests

#5287 fix(filtering): Deselect all filter chips when changing columns #5148
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filter-ui, grid, status: verified, version: 8.1.x

#4787 IgxTabs/IgxBottonNav support of tab items definition
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/bottom-nav/_bottom-nav-theme.scss
  projects/igniteui-angular/src/lib/tabbar/routing-view-components.spec.ts
  projects/igniteui-angular/src/lib/tabbar/tab-bar-content.component.html
  projects/igniteui-angular/src/lib/tabbar/tab.component.html
  projects/igniteui-angular/src/lib/tabbar/tabbar.component.spec.ts
  projects/igniteui-angular/src/lib/tabbar/tabbar.component.ts
  projects/igniteui-angular/src/lib/tabs/tab-item.component.html
  projects/igniteui-angular/src/lib/tabs/tab-item.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs-group.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs-routing-view-components.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs.common.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.html
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.directives.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/bottomnav-routing/bottomnav-routing-views.sample.ts
  src/app/bottomnav-routing/bottomnav-routing.sample.css
  src/app/bottomnav-routing/bottomnav-routing.sample.html
  src/app/bottomnav-routing/bottomnav-routing.sample.ts
  src/app/bottomnav/bottomnav.sample.html
  src/app/bottomnav/bottomnav.sample.ts
  src/app/routing.ts
  src/app/tabs-routing/tabs-routing-views.sample.ts
  src/app/tabs-routing/tabs-routing.sample.css
  src/app/tabs-routing/tabs-routing.sample.html
  src/app/tabs-routing/tabs-routing.sample.ts
Labels: bottom-nav, status: verified, tabs, version: 8.1.x

#4921 hideGroupedColumns option should have no effect in MRL grid.
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
Labels: multi-row-layout, status: verified, version: 8.0.x

#5265 Reset chips area when resizing the window
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filter-ui, filtering, grid, status: verified, version: 8.1.x

#5297 Fix excluded test in IgxExpansionPanel
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.spec.ts
Labels: expansion-panel, tests, version: 7.3.x

#5284 fix(forof): preventing reflows on scroll - master
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: status: verified, version: 8.1.x, virtualization

#5292 Should not add child row to deleted parent row
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: severity: medium, status: verified, transaction, tree-grid, version: 7.3.x

#5298 Fix excluded test in IgxExpansionPanel
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.spec.ts
Labels: expansion-panel, tests, version: 8.0.x

#5289 Should not add child row to deleted parent row
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: severity: medium, status: verified, transaction, tree-grid, version: 8.1.x

#5290 Should not add child row to deleted parent row
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: severity: medium, status: verified, transaction, tree-grid, version: 8.0.x

#5296 fix(Grid): hideGroupedColumns option should have no effect in MRL grid.
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
Labels: multi-row-layout, status: verified, version: 8.1.x

#5072 Add column group header template
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  src/app/grid-column-groups/grid-column-groups.sample.css
  src/app/grid-column-groups/grid-column-groups.sample.html
  src/app/grid-column-groups/grid-column-groups.sample.ts
Labels: grid, multi-column-headers, status: verified, version: 8.1.x

#5322 Should exit row edit on display density change 7.3
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, row-editing, status: verified, version: 7.3.x

#5321 Should exit row edit on display density change 8.0
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, row-editing, status: verified, version: 8.0.x

#5320 Should exit row edit on display density change
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, row-editing, status: verified, version: 8.1.x

#5334 test(filtering): Adding changeDetection in tests for grid filtering #5331
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filter-ui, grid, tests, version: 8.0.x

#5199 Adding support for changing row islands in hierarchical grid runtime (as a result of ngIf, ngFor etc.)
  projects/igniteui-angular/src/lib/directives/template-outlet/template_outlet.directive.ts
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.ts
Labels: hierarchical-grid, status: verified, version: 7.2.x

#5197 Adding support for changing row islands in hierarchical grid runtime (as a result of ngIf, ngFor etc.)
  projects/igniteui-angular/src/lib/directives/template-outlet/template_outlet.directive.ts
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.ts
Labels: hierarchical-grid, status: verified, version: 7.3.x

#5198 Adding support for changing row islands in hierarchical grid runtime (as a result of ngIf, ngFor etc.)
  projects/igniteui-angular/src/lib/directives/template-outlet/template_outlet.directive.ts
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.ts
Labels: hierarchical-grid, status: verified, version: 8.0.x

#5293 Adding support for changing row islands in hierarchical grid runtime (as a result of ngIf, ngFor etc.)
  projects/igniteui-angular/src/lib/directives/template-outlet/template_outlet.directive.ts
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.ts
Labels: hierarchical-grid, status: verified, version: 8.1.x

#5276 Make sure that if grid is created in detached state and height is in %, then size is recalculated once it is added back in the DOM.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, status: verified, version: 7.2.x

#5274 Make sure that if grid is created in detached state and height is in %, then size is recalculated once it is added back in the DOM.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, status: verified, version: 7.3.x

#5273 Make sure that if grid is created in detached state and height is in %, then size is recalculated once it is added back in the DOM.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, status: verified, version: 8.0.x

#5277 Make sure that if grid is created in detached state and height is in %, then size is recalculated once it is added back in the DOM.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, status: verified, version: 8.1.x

#5333 End edit on rowEditable change 7.3.x
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
Labels: grid, row-editing, severity: medium, status: verified, version: 7.3.x

#5330 End edit on rowEditable change
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
Labels: grid, row-editing, severity: medium, status: verified, version: 8.1.x

#5332 End edit on rowEditable change 8.0.x
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
Labels: grid, row-editing, severity: medium, status: verified, version: 8.0.x

#5263 fix(grid): headers should respond better to change in height
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid-header.component.ts
Labels: grid, multi-column-headers, status: verified, theme, version: 7.3.x

#5082 refactor(slider): update to match the latest material spec
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_slider.scss
  projects/igniteui-angular/src/lib/slider/slider.component.html
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
  projects/igniteui-angular/src/lib/slider/thumb/thumb-slider.component.ts
  src/app/slider/slider.sample.html
Labels: refactoring, slider, status: verified, theme, version: 8.0.x

#5345 test(filtering): Adding changeDetection in two tests for grid filtering #5331
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filter-ui, grid, tests, version: 8.1.x

#5302 fix(igxGrid): Make sure getSelectedData returns correct selected cell…
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
Labels: multi-cell-selection, multi-row-layout, status: verified, version: 8.0.x

#5350 Slider latest spec master
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_slider.scss
  projects/igniteui-angular/src/lib/slider/slider.component.html
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
  projects/igniteui-angular/src/lib/slider/thumb/thumb-slider.component.ts
  src/app/slider/slider.sample.html
Labels: enhancement, slider, status: verified, version: 8.1.x

#5129 fix(grid): Move properties related to remote grid virtualization.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: grid, status: verified, version: 7.3.x, virtualization

#5325 fix(grid): Move properties related to remote grid virtualization.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: grid, status: verified, version: 7.2.x, virtualization

#5355 fix(igxFor): Resetting scroll position cache in case scrollbar size i…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: grid, status: verified, version: 7.2.x, virtualization

#5354 fix(igxFor): Resetting scroll position cache in case scrollbar size i…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: grid, status: verified, version: 7.3.x, virtualization

#5353 fix(igxFor): Resetting scroll position cache in case scrollbar size i…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: grid, status: verified, version: 8.0.x, virtualization

#5351 fix(igxFor): Resetting scroll position cache in case scrollbar size i…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: grid, status: verified, version: 8.1.x, virtualization

#5130 fix(grid): Move properties related to remote grid virtualization.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: grid, status: verified, version: 8.0.x, virtualization

#5327 fix(igxHierarchicalGrid): Fix parent grid scrolling too much when pressing Ctrl + Up inside a child.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
Labels: hierarchical-grid, keyboard-navigation, status: verified, version: 7.3.x

#5326 fix(igxHierarchicalGrid): Fix parent grid scrolling too much when pressing Ctrl + Up inside a child.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
Labels: hierarchical-grid, keyboard-navigation, status: verified, version: 7.2.x

#5329 fix(igxHierarchicalGrid): Fix parent grid scrolling too much when pressing Ctrl + Up inside a child.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
Labels: hierarchical-grid, keyboard-navigation, status: verified, version: 8.1.x

#5315 fix(igxHierarchicalGrid): Make sure child grid width is recalculated …
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: hierarchical-grid, status: verified, version: 7.3.x

#5328 fix(igxHierarchicalGrid): Fix parent grid scrolling too much when pressing Ctrl + Up inside a child.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
Labels: hierarchical-grid, keyboard-navigation, status: verified, version: 8.0.x

#5318 fix(igxHierarchicalGrid): Make sure child grid width is recalculated …
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: hierarchical-grid, status: verified, version: 7.2.x

#5317 fix(igxHierarchicalGrid): Make sure child grid width is recalculated …
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: hierarchical-grid, status: verified, version: 8.1.x

#5316 fix(igxHierarchicalGrid): Make sure child grid width is recalculated …
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: hierarchical-grid, status: verified, version: 8.0.x

#5324 fix(grid): Move properties related to remote grid virtualization.
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: grid, status: verified, version: 8.1.x, virtualization

#5301 fix(igxGrid): Make sure getSelectedData returns correct selected cell…
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
Labels: multi-cell-selection, multi-row-layout, status: verified, version: 7.3.x

#4511 Focusing on parent grid using keyboard navigation in IE.
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
Labels: browser: ie-11, hierarchical-grid, keyboard-navigation, status: verified, version: 7.2.x

#5252 Fix filtering transparency
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_grid.scss
Labels: filter-ui, status: verified, version: 7.3.x

#5307 Focusing on parent grid using keyboard navigation in IE.
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
Labels: browser: ie-11, hierarchical-grid, keyboard-navigation, status: verified, version: 8.0.x

#5369 Reverting ie fix for MRL because a better one is present #4825
  projects/igniteui-angular/src/lib/grids/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/grid-header-group.component.ts
Labels: browser: ie-11, multi-row-layout, status: verified, version: 7.3.x

#5308 Focusing on parent grid using keyboard navigation in IE.
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
Labels: browser: ie-11, hierarchical-grid, keyboard-navigation, status: verified, version: 8.1.x

#5303 fix(igxGrid): Make sure getSelectedData returns correct selected cell…
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
Labels: multi-cell-selection, multi-row-layout, status: verified, version: 8.1.x

#5157 refactor(igx-grid): Remove rAF calls from dimension setters
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  projects/igniteui-angular/src/lib/grids/watch-changes.ts
Labels: grid, status: verified, version: 8.0.x

#5306 Focusing on parent grid using keyboard navigation in IE.
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
Labels: browser: ie-11, hierarchical-grid, keyboard-navigation, status: verified, version: 7.3.x

#5368 refactor(igx-grid): Remove rAF calls from dimension setters - master
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  projects/igniteui-angular/src/lib/grids/watch-changes.ts
Labels: grid, status: verified, version: 8.1.x

#5382 fix(igxFor): Update cached scroll position in case sizes have changed
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: grid, status: verified, version: 7.2.x, virtualization

#5381 docs(theme): fix documentation errors
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: card, documentation, grid, sassdoc, status: verified, theme, version: 8.1.x

#5383 docs(theme): fix documentation errors
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: card, documentation, grid, sassdoc, status: verified, theme, version: 8.0.x

#5282 feat(igx-grid): Copy into clipboard behavior
  projects/igniteui-angular/src/lib/core/grid-selection.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-clipboard.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/grid-clipboard/grid-clipboard.sample.html
  src/app/grid-clipboard/grid-clipboard.sample.ts
  src/app/grid-column-moving/grid-column-moving.sample.ts
  src/app/routing.ts
  src/app/shared/sample-data.ts
Labels: grid, status: verified, version: 8.0.x

#5248 refactor(combo): expose overlay settings
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/README.md
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
Labels: combo, refactoring, status: verified, version: 8.1.x

#5337 Move 'in' condition to the IgxFilteringOperand class
  projects/igniteui-angular/src/lib/data-operations/filtering-condition.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: excel-style-filtering, filter-ui, filtering, grid, status: verified, version: 7.2.x

#5346 Move 'in' condition to the IgxFilteringOperand class
  projects/igniteui-angular/src/lib/data-operations/filtering-condition.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: excel-style-filtering, filter-ui, filtering, grid, status: verified, version: 7.3.x

#5347 Move 'in' condition to the IgxFilteringOperand class
  projects/igniteui-angular/src/lib/data-operations/filtering-condition.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: excel-style-filtering, filter-ui, filtering, grid, status: verified, version: 8.0.x

#5348 Move 'in' condition to the IgxFilteringOperand class
  projects/igniteui-angular/src/lib/data-operations/filtering-condition.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: excel-style-filtering, filter-ui, filtering, grid, status: verified, version: 8.1.x

#5384 fix(igxFor): Update cached scroll position in case sizes have changed
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: grid, status: verified, version: 8.0.x, virtualization

#5385 fix(igxFor): Update cached scroll position in case sizes have changed
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: grid, status: verified, version: 8.1.x, virtualization

#5388 fix(ixgForOf): Make sure igxForItemSize is parsed to int when calcula…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  src/app/virtual-for-directive/virtual-for.sample.css
  src/app/virtual-for-directive/virtual-for.sample.html
  src/app/virtual-for-directive/virtual-for.sample.ts
Labels: status: verified, version: 7.3.x, virtualization

#5380 fix(igxFor): Update cached scroll position in case sizes have changed…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: grid, status: verified, version: 7.3.x, virtualization

#5387 fix(ixgForOf): Make sure igxForItemSize is parsed to int when calcula…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  src/app/virtual-for-directive/virtual-for.sample.css
  src/app/virtual-for-directive/virtual-for.sample.html
  src/app/virtual-for-directive/virtual-for.sample.ts
Labels: status: verified, version: 7.2.x, virtualization

#5390 fix(ixgForOf): Make sure igxForItemSize is parsed to int when calcula…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  src/app/virtual-for-directive/virtual-for.sample.css
  src/app/virtual-for-directive/virtual-for.sample.html
  src/app/virtual-for-directive/virtual-for.sample.ts
Labels: status: verified, version: 8.1.x, virtualization

#5389 fix(ixgForOf): Make sure igxForItemSize is parsed to int when calcula…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  src/app/virtual-for-directive/virtual-for.sample.css
  src/app/virtual-for-directive/virtual-for.sample.html
  src/app/virtual-for-directive/virtual-for.sample.ts
Labels: status: verified, version: 8.0.x, virtualization

#5365 Calculate column editable depending on rowEditable, 7.3.x
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, status: verified, version: 7.3.x

#5364 Calculate column editable depending on rowEditable, 8.0.x
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, status: verified, version: 8.0.x

#5311 Fix adding child row to a parent with ID=0
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-crud.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: status: verified, tree-grid, version: 7.2.x

#5386 feat(igx-grid): Copy into clipboard behavior
  projects/igniteui-angular/src/lib/core/grid-selection.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-clipboard.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/grid-clipboard/grid-clipboard.sample.html
  src/app/grid-clipboard/grid-clipboard.sample.ts
  src/app/grid-column-moving/grid-column-moving.sample.ts
  src/app/routing.ts
  src/app/shared/sample-data.ts
Labels: grid, hierarchical-grid, status: verified, tree-grid, version: 8.1.x

#5312 Fix adding child row to a parent with ID=0
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-crud.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: status: verified, tree-grid, version: 7.3.x

#5313 Fix adding child row to a parent with ID=0
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-crud.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: status: verified, tree-grid, version: 8.0.x

#5314 Fix adding child row to a parent with ID=0
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-crud.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: status: verified, tree-grid, version: 8.1.x

#5358 Calculate column editable depending on rowEditable
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, status: verified, version: 8.1.x

#5391 refactor(demos): enable theming legacy support in demos
  src/styles/igniteui-theme.scss
Labels: demos, status: verified, theme, version: 8.1.x

#5401 fix(slider): can't mouse move slider thumbs in IE11
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/slider/thumb/thumb-slider.component.html
  projects/igniteui-angular/src/lib/slider/thumb/thumb-slider.component.ts
Labels: slider, status: verified, version: 8.1.x

#5402 fix(slider): can't mouse move slider thumbs in IE11
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/slider/thumb/thumb-slider.component.html
  projects/igniteui-angular/src/lib/slider/thumb/thumb-slider.component.ts
  src/styles/igniteui-theme.scss
Labels: slider, status: verified, version: 8.0.x

#5285 Paginator component and custom grid footer
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/grid-paginator/_grid-paginator-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.spec.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid-common.module.ts
  projects/igniteui-angular/src/lib/grids/grid-footer/grid-footer.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/paginator/paginator.component.html
  projects/igniteui-angular/src/lib/paginator/paginator.component.spec.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
  src/app/virtual-for-directive/virtual-for.sample.ts
Labels: feature, status: verified, version: 8.1.x

#5414 fix(combo): remove second combo ripple, #5412
  projects/igniteui-angular/src/lib/combo/combo.component.html
Labels: combo, status: verified, version: 7.3.x

#5424 docs(forOf): Remove unused imports in igxForOf sample.
  src/app/virtual-for-directive/virtual-for.sample.ts
Labels: samples, version: 8.0.x

#5413 fix(combo): remove second combo ripple, #5412
  projects/igniteui-angular/src/lib/combo/combo.component.html
Labels: combo, status: verified, version: 8.1.x

#5415 fix(combo): remove second combo ripple, #5412
  projects/igniteui-angular/src/lib/combo/combo.component.html
Labels: combo, status: verified, version: 8.0.x

#5266 [groupby] page both group rows and records - master
  CHANGELOG.md
  projects/igniteui-angular/src/lib/data-operations/data-util.spec.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/data-operations/groupby-strategy.spec.ts
  projects/igniteui-angular/src/lib/data-operations/grouping-result.interface.ts
  projects/igniteui-angular/src/lib/data-operations/grouping-strategy.ts
  projects/igniteui-angular/src/lib/data-operations/sorting-strategy.ts
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.module.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.summary.pipe.ts
Labels: breaking-change, grid, groupby, paging, squash-merge, status: verified, version: 8.1.x

#5367 fix(combo): enable combo checkboxes
  projects/igniteui-angular/src/lib/combo/combo-item.component.html
  projects/igniteui-angular/src/lib/combo/combo-item.component.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_drop-down.scss
Labels: combo, status: verified, styling, version: 8.1.x

#5434 fix(tree-grid): update tree-grid template to allow custom row-edit - 7.3.x
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: row-editing, status: verified, tree-grid, version: 7.3.x

#5436 fix(tree-grid): update tree-grid template to allow custom row-edit - master
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: row-editing, status: verified, tree-grid, version: 8.1.x

#5435 fix(tree-grid): update tree-grid template to allow custom row-edit - 8.0.x
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: row-editing, status: verified, tree-grid, version: 8.0.x

#5377 Disallow editing or primary column in grid with transactions, 8.0.x
  projects/igniteui-angular/src/lib/core/grid-selection.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, hierarchical-grid, row-editing, squash-merge, status: verified, tree-grid, version: 8.0.x

#5376 Disallow editing or primary column in grid with transactions
  projects/igniteui-angular/src/lib/core/grid-selection.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, hierarchical-grid, row-editing, squash-merge, status: verified, tree-grid, version: 8.1.x

#5378 Disallow editing or primary column in grid with transactions, 7.3.x
  projects/igniteui-angular/src/lib/core/grid-selection.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, hierarchical-grid, row-editing, squash-merge, status: verified, tree-grid, version: 7.3.x

#5379 feat(IgxForOf): Adds local variables even, odd, first, last #5310
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  src/app/virtual-for-directive/virtual-for.sample.css
  src/app/virtual-for-directive/virtual-for.sample.html
Labels: enhancement, feature, squash-merge, status: verified, version: 8.1.x, virtualization

#5423 refactor(navdrawer): fix default border radius
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_navdrawer.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_navdrawer.scss
Labels: nav-drawer, status: verified, theme, version: 8.1.x

#5425 refactor(navdrawer): fix default border-radius
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_navdrawer.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_navdrawer.scss
Labels: nav-drawer, status: verified, theme, version: 8.0.x

#5226 fix(igxHierarchicalGrid): Hierarchical Grid should update its childre…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: hierarchical-grid, status: verified, version: 7.2.x

#5429 chore(*): Prevent event default only on touchMove, for other events j…
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: grid, status: verified, version: 8.1.x

#5426 chore(*): Prevent event default only on touchMove, for other events j…
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: grid, status: verified, version: 7.2.x

#5227 fix(igxHierarchicalGrid): Hierarchical Grid should update its childre…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: hierarchical-grid, status: verified, version: 7.3.x

#5228 fix(igxHierarchicalGrid): Hierarchical Grid should update its childre…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: hierarchical-grid, status: verified, version: 8.0.x

#5294 fix(igxHierarchicalGrid): Hierarchical Grid should update its childre…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: hierarchical-grid, status: verified, version: 8.1.x

#5427 chore(*): Prevent event default only on touchMove, for other events j…
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: status: verified, version: 7.3.x

#5428 chore(*): Prevent event default only on touchMove, for other events j…
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: grid, status: verified, version: 8.0.x

#5352 (docs) README fixing docs link
  README.md
Labels: documentation, version: 8.1.x

#5392 fix(grid summaries): summaries overlap pinned summaries
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-summary/_grid-summary-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_grid-summary.scss
Labels: grid, status: verified, summaries, theme, version: 8.1.x

#5442 fix(igxHierarchicalGrid): Make sure parent is not scrolled if parent …
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
Labels: hierarchical-grid, keyboard-navigation, status: verified, version: 7.2.x

#5443 fix(igxHierarchicalGrid): Make sure parent is not scrolled if parent …
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
Labels: hierarchical-grid, keyboard-navigation, status: verified, version: 7.3.x

#5444 fix(igxHierarchicalGrid): Make sure parent is not scrolled if parent …
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
Labels: hierarchical-grid, keyboard-navigation, status: verified, version: 8.0.x

#5445 fix(igxHierarchicalGrid): Make sure parent is not scrolled if parent …
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
Labels: hierarchical-grid, keyboard-navigation, status: verified, version: 8.1.x

#5449 fix(igxGrid): Fixing sizing when summaries are enabled. SummariesHeig…
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, status: verified, version: 8.0.x

#5450 fix(igxGrid): Fixing sizing when summaries are enabled. SummariesHeig…
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, status: verified, version: 8.1.x
