Repository IgniteUI/igniteui-angular, pull requests merged in 2020-05, with the labels that each got.

#7256 docs(date-time-editor): fix link to readme
  README.md
Labels: date-time-editor, documentation, version: 9.1.x

#7195 feat(igxChip): Add support for setting tabindex through attribute or input. #7147
  CHANGELOG.md
  projects/igniteui-angular/src/lib/chips/chip.component.html
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/chip.spec.ts
Labels: chip, status: verified, version: 9.1.x

#7268 chore(*): trying the speed of npm ci
  azure-pipelines.yml
Labels: build

#7266 fix currentColor in Edge
  projects/igniteui-angular/src/lib/core/styles/components/icon/_icon-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_action-strip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_chip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_grid-summary.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_icon.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_list.scss
Labels: status: verified, version: 9.2.x

#7262 Fixes errors in setFilteredSortedData when data is undefined
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: row-pinning, status: verified, version: 9.1.x

#7280 Pager: Total pages issue "0 of n" on remote paging
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/grid-remote-paging/grid-remote-paging.sample.html
  src/app/grid-remote-paging/grid-remote-paging.sample.ts
  src/app/routing.ts
  src/app/shared/remote.service.ts
Labels: grid, paginator, status: verified, version: 9.1.x

#7237 Create stale.yml
  .github/workflows/stale.yml
Labels: documentation, version: 9.1.x

#7276 Add placeholder to igxDateRangePicker
  projects/igniteui-angular/src/lib/date-range-picker/README.md
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
Labels: range-date-picker, severity: low, status: in-test, version: 9.1.x

#7192 Fix Search with Row Pinning
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
Labels: grid, hierarchical-grid, row-pinning, status: verified, tree-grid

#7260 set tabIndex for filter cell chips
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-cell.component.html
Labels: filtering, grid, keyboard-navigation, status: verified, version: 9.1.x

#7273 fix(igxHierarchicalGrid): Moving column change logic in separate dete…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
Labels: hierarchical-grid, status: verified, version: 9.1.x

#7281 fix(igxHierarchicalGrid): Moving column change logic in separate dete
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
Labels: hierarchical-grid, status: verified, version: 9.0.x

#7274 Update model when input is filled out
  projects/igniteui-angular/src/lib/date-picker/date-picker.utils.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
  src/app/date-time-editor/date-time-editor.sample.html
  src/app/date-time-editor/date-time-editor.sample.ts
Labels: date-time-editor, status: verified, version: 9.1.x

#7095 test(grid): refactor row editing #6956
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: refactoring, row-editing, tests, version: 9.0.x

#7288 fix(igxGrid): Fix trying to perform horizontal scroll when passed index is not valid.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: grid, status: verified, version: 9.1.x

#7292 Remove selectToday() tests from date-range-picker
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
Labels: range-date-picker, refactoring, tests

#7283 fix(card): spacing for bootstrap theme
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  src/app/card/card.sample.html
Labels: bootstrap-theme, card, status: verified, version: 9.2.x

#7289 fix(dialog): incorrect dialog title size
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  src/app/dialog/dialog.sample.css
  src/app/dialog/dialog.sample.html
Labels: dialog, status: verified, version: 9.2.x

#7297 fix(grid): Export range selection interface
  projects/igniteui-angular/src/lib/grids/common/events.ts
Labels: multi-cell-selection, status: verified, version: 9.0.x

#7298 fix(grid): Export range selection interface
  projects/igniteui-angular/src/lib/grids/common/events.ts
Labels: multi-cell-selection, status: verified, version: 9.1.x

#7269 fix(for-of): Revert change to small scrolls
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-multi-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: grid, hierarchical-grid, status: verified, tree-grid, version: 9.1.x, virtualization

#7270 Keyboard Navigation bug fixes
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-mrl-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: grid, keyboard-navigation, status: verified, version: 9.1.x

#7293 fix(igxGrid): Parse minWidth property so that can be set correctly
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/resizing/resizing.service.ts
Labels: grid, resizing, status: verified, version: 9.0.x

#7294 fix(igxGrid): Parse minWidth property so that can be set correctly #7209
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/resizing/resizing.service.ts
Labels: grid, resizing, status: verified, version: 9.1.x

#7313 chore(HierarchicalGrid): Fix inView condition for scroll in hierarchi…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
Labels: hierarchical-grid, row-pinning, status: verified, version: 9.1.x

#7255 feat(RowPinning): Initial implementation of jump to disabled row grid action.
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-pinning-actions.component.html
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-pinning-actions.component.spec.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-pinning-actions.component.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/filtering/svgIcons.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: row-pinning, squash-merge, status: verified, version: 9.1.x

#7321 Set igxInput disabled based on form settings
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
Labels: input, input-group, status: verified, version: 9.0.x

#7320 Set igxInput disabled based on form settings
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
Labels: input, input-group, status: verified, version: 9.1.x

#7333 chore(daterange): Fix readme typo
  projects/igniteui-angular/src/lib/date-range-picker/README.md
Labels: documentation, range-date-picker, version: 9.1.x

#7302 fix(HierarchicalGrid): Making behavior between base and hierarchical …
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
Labels: hierarchical-grid, status: verified

#7291 refactor(schematics): explicit def of pckgs to be added to app's deps
  projects/igniteui-angular/schematics/ng-add/add-normalize.ts
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
  projects/igniteui-angular/schematics/ng-add/index.ts
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
Labels: ng add, schematics, status: verified, version: 9.1.x

#7326 fix(card): display block for igx-card-content directive
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
Labels: card, status: verified, version: 9.1.x

#7319 fix(virtualization): Use virtual scroll top which takes virtual heig
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: status: verified, version: 8.2.x, virtualization

#7327 Close advanced filter dialog when escape is pressed
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav-headers.spec.ts
Labels: advanced-filtering, grid, status: verified, version: 9.1.x

#7318 fix(virtualization): Use virtual scroll top which takes virtual heig
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: status: verified, version: 9.0.x, virtualization

#7316 fix(virtualization): Use virtual scroll top which takes virtual heig…
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: squash-merge, status: verified, version: 9.1.x, virtualization

#7307 refactor(date-time-editor): fix model binding;
  projects/igniteui-angular/src/lib/date-picker/date-picker.utils.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker-inputs.common.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/date-range/date-range.sample.html
  src/app/date-range/date-range.sample.scss
  src/app/date-range/date-range.sample.ts
Labels: range-date-picker, severity: high, squash-merge, status: verified

#7355 Show correctly calendar in flex container
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.html
Labels: range-date-picker, status: verified, version: 9.1.x

#7346 Set navigation.activeNode when call activate method
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-mrl-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: grid, keyboard-navigation, status: verified, version: 9.1.x

#7356 fix(ripple): reset margin and border to avoid displacement
  projects/igniteui-angular/src/lib/core/styles/components/ripple/_ripple-theme.scss
  projects/igniteui-angular/src/lib/directives/ripple/ripple.directive.ts
  src/app/app.component.html
Labels: bootstrap-theme, fluent-theme, material-theme, ripple, status: verified, version: 9.1.x

#7363 fix(date-range): allow mix and min value as string #7352
  projects/igniteui-angular/src/lib/date-picker/date-picker.utils.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
  src/app/date-range/date-range.sample.html
  src/app/date-range/date-range.sample.ts
Labels: range-date-picker, status: verified, version: 9.1.x

#7372 docs(igx-date-range-picker): fix igxDateRange name
  CHANGELOG.md
  projects/igniteui-angular/src/lib/date-range-picker/README.md
Labels: documentation, range-date-picker, version: 9.1.x

#7340 Migrate deprecated rowSelectable property to rowSelection
  projects/igniteui-angular/migrations/common/UpdateChanges.spec.ts
  projects/igniteui-angular/migrations/common/UpdateChanges.ts
  projects/igniteui-angular/migrations/common/schema/binding.schema.json
  projects/igniteui-angular/migrations/common/schema/index.ts
  projects/igniteui-angular/migrations/update-9_1_0/changes/inputs.json
  projects/igniteui-angular/migrations/update-9_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-9_1_0/index.ts
Labels: migrations, row-selection, status: verified, version: 9.1.x

#7328 fix(igxGrid): Update getNextDataRowIndex so that it can work with pin…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
  src/app/grid-column-pinning/grid-column-pinning.sample.html
Labels: cell-editing, grid, row-pinning, status: verified, version: 9.1.x

#7386 Focus grid body after closing row editing
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: grid, keyboard-navigation, row-editing, status: verified, version: 9.1.x

#7389 fix(igx-date-range-picker): export IgxDateTimeEditorModule #5732
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.module.ts
Labels: range-date-picker, version: 9.1.x

#7364 Implement support for up to 25 levels #7299
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: status: verified, tree-grid, version: 9.0.x

#7368 Implement support for up to 25 levels #7299
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: status: verified, tree-grid, version: 8.2.x

#7365 chore(*): performing some dependency updates
  .browserslistrc
  angular.json
  browserslist
  package-lock.json
  package.json
  projects/igniteui-angular/migrations/update-6_2/index.ts
  projects/igniteui-angular/migrations/update-7_3_4/index.ts
  projects/igniteui-angular/migrations/update-8_2_0/index.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-mrl-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/icon/icon.service.spec.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/transaction/transaction.ts
  projects/igniteui-angular/src/lib/tabbar/tabbar.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/toast/toast.component.ts
  src/app/action-strip/action-strip.sample.ts
  src/app/app.module.ts
  src/app/card/card.sample.ts
  src/app/date-range/date-range.sample.ts
  src/app/gird-cell-styling/grid-cell-styling.sample.ts
  src/app/grid-auto-size/grid-auto-size.sample.ts
  src/app/grid-column-moving/grid-column-moving.sample.ts
  src/app/grid-column-pinning/grid-column-pinning.sample.ts
  src/app/grid-esf-load-on-demand/grid-esf-load-on-demand.service.ts
  src/app/grid-filter-template/grid-filter-template.sample.ts
  src/app/grid-flex-layout/grid-flex.sample.ts
  src/app/grid-percentage-columns/grid-percantge-widths.sample.ts
  src/app/grid-remote-virtualization/grid-remote-virtualization.sample.ts
  src/app/grid-row-pinning/grid-row-pinning.sample.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.ts
  src/app/progressbar/progressbar.sample.ts
  src/app/routing.ts
  src/app/slider/slider.sample.ts
  src/app/splitter/splitter.sample.ts
  src/app/tree-grid-flat-data/tree-grid-flat-data.sample.ts
  src/app/tree-grid-load-on-demand/tree-grid-load-on-demand.sample.ts
  src/app/virtual-for-directive/virtual-for.sample.ts
  tsconfig.json
  tslint.json
Labels: build, status: verified, version: 9.1.x

#7367 Implement support for up to 25 levels #7299
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: status: verified, tree-grid, version: 9.1.x

#7338 fix(igxHierarchicalGrid): Scroll to fist cell in parent and clear sel…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
Labels: hierarchical-grid, status: verified, version: 9.1.x

#7339 chore(*): Fix failing tests
  package-lock.json
  package.json
  projects/igniteui-angular/ng-package.json
  projects/igniteui-angular/ng-package.prod.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
  projects/igniteui-angular/src/lib/core/styles/components/watermark/_watermark-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/watermark/_watermark-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_watermark.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_watermark.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_watermark.scss
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.module.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.module.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.module.ts
Labels: status: verified

#7370 fix(slider): two way bound err
  projects/igniteui-angular/src/lib/slider/slider.component.ts
Labels: slider, status: verified, version: 9.1.x

#7371 fix(slider): two way bound err
  projects/igniteui-angular/src/lib/slider/slider.component.ts
Labels: slider, status: verified, version: 9.0.x

#7391 Update selection when remote data is used
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
Labels: grid, keyboard-navigation, status: verified, version: 9.1.x

#7393 docs(grid): Expose paging event emitters
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
Labels: documentation, grid, paginator, status: verified, version: 9.1.x

#7394 Expose page change per page change emitters
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
Labels: documentation, grid, paginator, status: verified, version: 9.0.x

#7398 sivanova/category chart theme
  projects/igniteui-angular/src/lib/core/styles/components/charts/_category-chart-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_category-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_category-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
Labels: bootstrap-theme, charts, fluent-theme, material-theme, version: 9.2.x

#7409 Do not select column when click filter icon
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
Labels: column-selection, grid, status: verified, version: 9.1.x

#7381 Remove pointer-events setting on disabled input
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: input-group, status: verified, version: 9.0.x

#7399 Fix(igxHierarchicalGrid): Add check for hasChildrenKey when resetting…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: hierarchical-grid, status: verified, version: 9.1.x

#7382 Remove pointer-events setting on disabled input
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: input-group, status: verified, version: 8.2.x

#7402 chore(*): Fix for last visible index when moving from grid with more …
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
Labels: hierarchical-grid, multi-column-headers, status: verified, version: 9.1.x

#7380 Remove pointer-events setting on disabled input
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: input-group, status: verified, version: 9.1.x

#7404 chore(*): update packages & ig schematics
  projects/igniteui-angular/package.json
Labels: schematics, version: 9.1.x

#7407 feat(financial-chart): add financial chart support
  projects/igniteui-angular/src/lib/core/styles/components/charts/_financial-chart-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_financial-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_financial-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
Labels: bootstrap-theme, charts, financial-chart, fluent-theme, material-theme, status: awaiting-test, version: 9.2.x

#7401 Reset carousel animation when it is playing and change slide
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
Labels: carousel, status: verified, version: 9.0.x

#7400 Reset carousel animation when it is playing and change slide
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
Labels: carousel, status: verified, version: 9.1.x

#7378 fix(grid): end grid edit on advanced filtering clear/apply #7343
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
Labels: advanced-filtering, grid, status: verified, version: 9.1.x

#7411 fix(grid-mrl): Fix typo when setting -ms-grid-column-span property #7397
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
Labels: browser: ie-11, multi-row-layout, status: verified, version: 9.0.x

#7424 docs(sassdoc): fix warnings and errors
  projects/igniteui-angular/src/lib/core/styles/components/date-range-picker/_date-range-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_action-strip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_watermark.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_action-strip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_watermark.scss
Labels: refactoring, sassdoc, version: 9.1.x

#7417 feat(gauge-chart): add linear gauge chart theme & schemas
  projects/igniteui-angular/src/lib/core/styles/components/charts/_gauge-chart-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_gauge-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_gauge-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
Labels: bootstrap-theme, charts, fluent-theme, material-theme, status: awaiting-test, version: 9.2.x

#7428 Licensing change
  LICENSE
  README.md
Labels: licensing, version: 9.1.x

#7410 fix(grid-mrl): Fix typo when setting -ms-grid-column-span property #7397
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
Labels: browser: ie-11, multi-row-layout, status: verified, version: 9.1.x
