Repository IgniteUI/igniteui-angular, pull requests merged in 2020-06, with the labels that each got.

#7444 Fix failing filter tests
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav-headers.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
Labels: tests, version: 9.1.x

#7447 Fix failing filter tests - 90
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: tests, version: 9.0.x

#7438 fix(igxGrid): Emit last resize from resize observer as well.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: grid, status: verified, version: 9.1.x

#7430 chore(*): put official @igniteui/angular-schematics@9.1.510
  projects/igniteui-angular/package.json
Labels: schematics, version: 9.1.x

#7454 fix(date-range): Fix barrel import paths
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker-inputs.common.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.module.ts
Labels: range-date-picker, status: verified, version: 9.1.x

#7446 Fix failing filter tests - 82
  projects/igniteui-angular/karma.azure.grid.conf.js
  projects/igniteui-angular/karma.azure.non-grid.conf.js
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-moving.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-clipboard.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.crud.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-crud.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-expanding.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-indentation.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-multi-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-search.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-sorting.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-summaries.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
  projects/igniteui-angular/src/test.ts
Labels: tests, version: 8.2.x

#7433 chore(*): Apply changes so that chip does not use deprecated prop in 9.0.x.
  projects/igniteui-angular/src/lib/chips/chip.component.html
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
Labels: status: verified, version: 9.0.x

#7461 Update karma version
  package-lock.json
  package.json
Labels: tests, version: 9.1.x

#7271 Create nodejs.yml
  .github/workflows/nodejs.yml
Labels: build

#7462 Update karma version 90
  package-lock.json
  package.json
Labels: tests, version: 9.0.x

#7449 fix(igxHierarchicalGrid): Add ID property setter of igxHGrid
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
Labels: hierarchical-grid, status: verified

#7431 fix(igxGrid): Position pinned rows at bottom with absolute position.
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: grid, hierarchical-grid, row-pinning, status: verified, tree-grid, version: 9.1.x

#7440 Reset scroll container
  projects/igniteui-angular/src/lib/select/select-positioning-strategy.ts
Labels: browser: edge, select, status: verified, version: 9.2.x

#7451 IE add unselectable attribute
  projects/igniteui-angular/src/lib/select/select.component.html
Labels: browser: ie-11, select, status: verified, version: 9.2.x

#7467 Update nodejs.yml
  .github/workflows/nodejs.yml
Labels: build, version: 9.1.x

#7395 Don't show default filter on custom filter columns
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: advanced-filtering, grid, status: verified, version: 9.0.x

#7405 fix(icon): Deferred icon loading with OnPush
  projects/igniteui-angular/src/lib/icon/icon.component.ts
  projects/igniteui-angular/src/lib/icon/icon.service.spec.ts
  projects/igniteui-angular/src/lib/icon/icon.service.ts
Labels: icon, status: verified, version: 9.1.x

#7476 Clicking a grid cell should not scrolls the grid to the top
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
Labels: grid, keyboard-navigation, status: verified, version: 9.1.x

#7426 feat(map-chart): add map chart theme and schemas
  projects/igniteui-angular/src/lib/core/styles/components/charts/_map-chart-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_map-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_map-chart.scss
Labels: bootstrap-theme, charts, fluent-theme, material-theme, version: 9.2.x

#7406 fix(icon): Deferred icon loading with OnPush
  projects/igniteui-angular/src/lib/icon/icon.component.ts
  projects/igniteui-angular/src/lib/icon/icon.service.spec.ts
  projects/igniteui-angular/src/lib/icon/icon.service.ts
Labels: icon, status: verified, version: 9.0.x

#7414 fix(grid): end grid edit on advanced filtering clear/apply - 8.2.x
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
Labels: advanced-filtering, grid, status: verified, version: 8.2.x

#7472 Update selected property description
  projects/igniteui-angular/src/lib/grids/columns/column-group.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
Labels: column-selection, status: verified, typedoc, version: 9.1.x

#7413 fix(grid): end grid edit on advanced filtering clear/apply - 9.0.x
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
Labels: advanced-filtering, grid, status: verified, version: 9.0.x

#7459 Dont show default filter on custom filter columns #7350
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: advanced-filtering, grid, status: verified, version: 9.1.x

#7466 fix(action-strip): Add warning when grid is not editable #7245
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.ts
Labels: action-strip, status: verified, version: 9.1.x

#7465 fix(*): Add a check not to update groupingExpansionState when no expansion states are changed
  projects/igniteui-angular/src/lib/grids/grid/grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
Labels: grid, groupby, status: verified, version: 9.1.x

#7463 Merging 9.1.x into master
  .github/workflows/nodejs.yml
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column-group.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/icon/icon.component.ts
  projects/igniteui-angular/src/lib/icon/icon.service.spec.ts
  projects/igniteui-angular/src/lib/icon/icon.service.ts
  projects/igniteui-angular/src/lib/select/select-positioning-strategy.ts
  projects/igniteui-angular/src/lib/select/select.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: do not merge, version: 10.0.x

#7492 fix(progressbar): decrease the progress when pass lower value
  projects/igniteui-angular/src/lib/progressbar/circularbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/linearbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
Labels: progress-bar, status: verified, version: 9.0.x

#7500 Update for failing tests with Ivy false - 9.0
  projects/igniteui-angular/karma.azure.conf.js
  projects/igniteui-angular/karma.azure.grid.conf.js
  projects/igniteui-angular/karma.azure.hierarchical-grid.conf.js
  projects/igniteui-angular/karma.azure.non-grid.conf.js
  projects/igniteui-angular/karma.azure.tree-grid.conf.js
  projects/igniteui-angular/karma.conf.js
  projects/igniteui-angular/karma.grid.conf.js
  projects/igniteui-angular/karma.hierarchical-grid.conf.js
  projects/igniteui-angular/karma.non-grid.conf.js
  projects/igniteui-angular/karma.tree-grid.conf.js
  projects/igniteui-angular/src/lib/directives/text-selection/text-selection.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-moving.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-clipboard.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-crud.spec.ts
  projects/igniteui-angular/src/lib/test-utils/configure-suite.ts
  projects/igniteui-angular/src/test.ts
Labels: tests, version: 9.0.x

#7482 fix(hgrid): Expose onGridInitialized output #6860
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/README.md
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
Labels: hierarchical-grid, status: verified, version: 9.1.x

#7474 Update for failing tests with Ivy false - 9.1
  projects/igniteui-angular/karma.azure.conf.js
  projects/igniteui-angular/karma.azure.grid.conf.js
  projects/igniteui-angular/karma.azure.hierarchical-grid.conf.js
  projects/igniteui-angular/karma.azure.non-grid.conf.js
  projects/igniteui-angular/karma.azure.tree-grid.conf.js
  projects/igniteui-angular/karma.conf.js
  projects/igniteui-angular/karma.grid.conf.js
  projects/igniteui-angular/karma.hierarchical-grid.conf.js
  projects/igniteui-angular/karma.non-grid.conf.js
  projects/igniteui-angular/karma.test-perf.conf.js
  projects/igniteui-angular/karma.tree-grid.conf.js
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.spec.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.spec.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-pinning-actions.component.spec.ts
  projects/igniteui-angular/src/lib/directives/text-selection/text-selection.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-moving.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-clipboard.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.crud.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-crud.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/test-utils/configure-suite.ts
  projects/igniteui-angular/src/test.ts
Labels: status: verified, tests, version: 9.1.x

#7491 fix(progressbar): decrease the progress when pass lower value
  projects/igniteui-angular/src/lib/progressbar/circularbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/linearbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
Labels: progress-bar, status: verified, version: 9.1.x

#7512 Remove cell focus leftovers
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: grid, status: verified, tree-grid, version: 9.1.x

#7516 Calculate insertIndexes based on root level columns only.
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
Labels: grid, status: verified

#7342 Add totalRecords input property
  CHANGELOG.md
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/grids/common/enums.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
Labels: grid, paging, status: verified, version: 9.1.x

#7501 fix(igxGrid): Fix default scrollbars not showing on Mac when visible only on scroll.
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/directives/for-of/base.helper.component.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/directives/for-of/virtual.helper.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: grid, hierarchical-grid, status: verified, tree-grid, version: 9.1.x

#7524 Copy/paste cells in grid with remote virtualization
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/grid-remote-virtualization-with-scroll/grid-remote-virtualization-scroll.sample.html
  src/app/grid-remote-virtualization-with-scroll/grid-remote-virtualization-scroll.sample.ts
  src/app/routing.ts
  src/app/shared/remote.service - Copy.ts
Labels: grid, status: verified, version: 9.1.x

#7514 style(category-chart): improve light & dark category chart schemas
  projects/igniteui-angular/src/lib/core/styles/components/charts/_category-chart-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_category-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_category-chart.scss
Labels: charts, version: 10.0.x

#7526 Copy/paste cells in grid with remote virtualization -- 9.0.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/grid-remote-virtualization-with-scroll/grid-remote-virtualization-scroll.sample.html
  src/app/grid-remote-virtualization-with-scroll/grid-remote-virtualization-scroll.sample.ts
  src/app/routing.ts
  src/app/shared/remote.service - Copy.ts
Labels: grid, status: verified, version: 9.0.x

#7499 fix(igxGrid): Include custom footer, which is rendered next to pager...
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  src/app/grid-column-moving/grid-column-moving.sample.html
Labels: grid, status: verified, version: 9.0.x

#7497 Unsubscribe all subscriptions in IgxSelect, 9.0.x
  projects/igniteui-angular/src/lib/select/select.component.ts
Labels: select, status: verified, version: 9.0.x

#7495 Unsubscribe all subscriptions in IgxSelect
  projects/igniteui-angular/src/lib/select/select.component.ts
Labels: select, status: verified, version: 9.1.x

#7534 update getSelectedData method when grid has details
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
Labels: grid, master-detail, multi-cell-selection, status: verified, version: 9.1.x

#7535 update getSelectedData method when grid has details - 9.0.x
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
Labels: grid, master-detail, multi-cell-selection, status: verified, version: 9.0.x

#7530 Set the internal value of the range picker with present ngModels on its projected inputs
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker-inputs.common.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
Labels: range-date-picker, status: verified, version: 9.1.x

#7527 fix(igxGrid): Update overlay state after scrolling completes and zone…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: grid, status: verified, version: 9.0.x

#7536 feat(igxGrid): Add a dragRowID property to the grid which holds the i…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/row-drag.directive.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
Labels: status: verified, version: 9.1.x

#7572 refactor(theme): allow setting the grays palette to non-grayscale colors
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
Labels: bootstrap-theme, fluent-theme, material-theme, status: verified, version: 10.0.x

#7553 Fix not ending while in generateDateRange method
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
Labels: calendar, status: verified, version: 9.0.x

#7559 Fix not ending while in generateDateRange method
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
Labels: calendar, status: verified, version: 8.2.x

#7552 Fix not ending while in generateDateRange method
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
Labels: calendar, status: verified, version: 9.1.x

#7496 fix(filtering): clearing all column filters if no field is provided - 9.1.x
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filtering, grid, status: verified, version: 9.1.x

#7573 Keep edit mode when tabbing and search is applied
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
Labels: grid, status: verified, version: 9.0.x

#7546 fix(igxGrid): Remove unnecessary code since correct page is already c…
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  src/app/grid-row-edit/grid-row-edit-sample.component.html
Labels: grid, status: verified, version: 9.1.x

#7547 fix(igxGrid): Remove unnecessary code since correct page is already c…
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  src/app/grid-row-edit/grid-row-edit-sample.component.html
Labels: grid, status: verified, version: 9.0.x

#7557 Store last focused input and focus it onClosing
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
Labels: range-date-picker, status: verified, version: 9.1.x

#7565 fix(auto-complete): unsubscribe, before subscribing again #7483
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
Labels: autocomplete, status: verified, version: 9.0.x

#7564 fix(auto-complete): unsubscribe, before subscribing again #7483
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
Labels: autocomplete, status: verified, version: 9.1.x

#7485 Keep edit mode when tabbing and search is applied
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.filtering.pipe.ts
Labels: cell-editing, grid, status: verified, version: 9.1.x

#7571 fix(filtering): clearing all column filters if no field is provided - 9.0.x
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filtering, grid, status: verified, version: 9.0.x

#7357 Add Chart Themes
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_mixins.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_category-chart-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_data-chart-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_doughnut-chart-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_financial-chart-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_funnel-chart-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_gauge-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_geo-map-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_graph-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_pie-chart-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_shape-chart-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_sparkline-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_category-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_data-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_doughnut-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_financial-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_funnel-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_gauge.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_geo-map.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_graph.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_pie-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_shape-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_sparkline.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_category-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_data-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_doughnut-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_financial-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_funnel-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_gauge.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_geo-map.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_graph.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_pie-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_shape-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_sparkline.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_base.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
Labels: bootstrap-theme, charts, fluent-theme, material-theme, status: awaiting-test, version: 10.0.x

#7576 fix(typography): igx-typography doesn't produce selectors correctly
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
Labels: status: verified, typography, version: 9.1.x

#7568 fix(igxDrag): Add descendants support for igxDragIgnore and igxDragHandle.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.spec.ts
Labels: drag-drop, status: verified, version: 9.1.x

#7575 fix(typography): igx-typography doesn't produce selectors correctly
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
Labels: status: verified, typography, version: 10.0.x

#7544 Fixed template visualization #6815
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.html
Labels: excel-style-filtering, status: verified, version: 9.1.x

#7563 fix(grid): scrollbar border gap
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: scrollbar, status: verified, version: 10.0.x

#7520 Fixed template visualization #6815
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.html
Labels: excel-style-filtering, status: verified, version: 9.0.x

#7581 Refactor moveColumn to handle complex column structure correctly and produce same result when called with DropPosition.None
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-collapsible-columns.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/moving/moving.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
Labels: column-moving, grid, multi-column-headers, status: verified

#7590 fix(igxHierarchicalGrid): Add ID setter for igxHGrid #7220
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
Labels: hierarchical-grid, status: verified, version: 9.0.x

#7606 fix(igx-drop-down): fix typo in api docs
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.base.ts
Labels: documentation, dropdown

#7554 fix(datepicker): Change text selection directive place in datepicker template (9.1.x)
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
Labels: date-picker, status: verified, text-selection, version: 9.1.x

#7555 fix(datepicker): Change text selection directive place in datepicker template (9.0.x)
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
Labels: date-picker, status: verified, text-selection

#7567 fix(igxForOf): Fix scrolling too much with trackpad on firefox MacOS.
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.ts
Labels: scroll, status: verified, version: 9.1.x

#7566 fix(igxForOf): Fix scrolling too much with trackpad on Firefox MacOS.
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.ts
Labels: scroll, status: verified, version: 9.0.x

#7610 feat(git-hooks): remove types mondatory issues
  .hooks/scripts/templates/default.js
  .hooks/scripts/utils/issue-validator.js
Labels: git-hooks, status: verified

#7604 Interactive elements that are not cells or rows, should not trigger activation - master
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
  projects/igniteui-angular/src/lib/grids/summaries/summary-row.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: grid, hierarchical-grid, keyboard-navigation, multi-cell-selection, status: verified, tree-grid

#7596 Merging 9.1.x into master
  .hooks/scripts/templates/default.js
  .hooks/scripts/utils/issue-validator.js
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.base.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.html
Labels: version: 10.0.x

#7329 fix(select): items
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/combo-item.component.html
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.component.html
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/select/select-item.component.ts
  src/app/drop-down/drop-down.sample.html
  src/app/drop-down/drop-down.sample.scss
Labels: select, squash-merge, status: verified, version: 10.0.x

#7608 feat(igxGrid): Add an input that enable/disable group area row
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  src/app/grid-groupby/grid-groupby.sample.html
  src/app/grid-groupby/grid-groupby.sample.ts
Labels: grid, groupby, status: verified, version: 10.0.x

#7521 Fix column pinning with MRL wrong order of pinned columns
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-collapsible-columns.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/moving/moving.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  src/app/grid-column-groups/grid-column-groups.sample.html
  src/app/grid-column-groups/grid-column-groups.sample.ts
  src/app/grid-multi-row-layout/grid-mrl.sample.html
  src/app/grid-multi-row-layout/grid-mrl.sample.ts
Labels: column-moving, column-pinning, grid, multi-column-headers, multi-row-layout, status: verified, version: 9.1.x

#7574 Deselect Row on Transaction Redo
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/services/transaction/base-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/transaction.ts
Labels: grid, hierarchical-grid, status: verified, transaction, tree-grid, version: 10.0.x

#7621 Bug fix slider 9.1.x
  projects/igniteui-angular/src/lib/slider/slider.component.ts
Labels: slider, status: verified, version: 9.1.x

#7620 fix(slider): emit onchange callback correctly
  projects/igniteui-angular/src/lib/slider/slider.component.ts
Labels: slider, status: verified, version: 10.0.x

#7532 fix(group-by): Expose the column in IGroupByRecord and use header in group row
  CHANGELOG.md
  projects/igniteui-angular/src/lib/data-operations/groupby-record.interface.ts
  projects/igniteui-angular/src/lib/data-operations/sorting-strategy.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
Labels: groupby, status: verified, version: 10.0.x

#7622 fix(grid): column pinning with MRL wrong order of pinned columns (#7521)
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-collapsible-columns.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/moving/moving.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  src/app/grid-column-groups/grid-column-groups.sample.html
  src/app/grid-column-groups/grid-column-groups.sample.ts
  src/app/grid-multi-row-layout/grid-mrl.sample.html
  src/app/grid-multi-row-layout/grid-mrl.sample.ts
Labels: column-pinning, grid, multi-row-layout, status: verified

#7452 Use IgxSelect instead of IgxDropdown #7072
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.module.ts
Labels: excel-style-filtering, status: verified, version: 9.0.x

#7549 Use IgxSelect instead of IgxDropdown #7072
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.module.ts
Labels: excel-style-filtering, status: verified, version: 9.1.x

#7484 HierarchicalGrid remote virtualization POC
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.pipes.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/hierarchical-grid-remote-virtualization/hierarchical-grid-remote-virtualization.html
  src/app/hierarchical-grid-remote-virtualization/hierarchical-grid-remote-virtualization.scss
  src/app/hierarchical-grid-remote-virtualization/hierarchical-grid-remote-virtualization.ts
  src/app/hierarchical-grid-remote-virtualization/hierarchical-remote.service.ts
  src/app/routing.ts
Labels: hierarchical-grid, status: verified, version: 9.1.x, virtualization

#7598 fix(grid): Expose overlaySettings for paginator #7537
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/paginator/paginator.component.html
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
Labels: grid, paginator, status: verified

#7487 feat(select): Add igxHint support #5584
  CHANGELOG.md
  projects/igniteui-angular/src/lib/select/README.md
  projects/igniteui-angular/src/lib/select/select.component.html
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  src/app/select/select.sample.html
Labels: enhancement, select, squash-merge, status: verified, version: 10.0.x

#7614 Update calendar with two filled in inputs
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
Labels: range-date-picker, status: verified, version: 9.1.x

#7640 Update calendar with two filled in inputs - master
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
Labels: range-date-picker, status: verified, version: 10.0.x

#7632 initial commit
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_action-strip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_banner.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_card.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_combo.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_dialog.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_action-strip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_banner.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_card.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_combo.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_dialog.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_dialog.scss
Labels: indigo-theme

#7619 Use IgxSelect instead of IgxDropdown #7072
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.module.ts
Labels: excel-style-filtering, status: verified, version: 10.0.x

#7637 add avatar schemas for indigo theme
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_avatar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_avatar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
Labels: avatar, indigo-theme

#7646 Set column visible index correctly when hide/show MRL block --master
  projects/igniteui-angular/src/lib/grids/columns/column-layout.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
Labels: grid, keyboard-navigation, multi-row-layout, status: verified, version: 10.0.x

#7648 Set column visible index correctly when hide/show MRL block -9.0.x
  projects/igniteui-angular/src/lib/grids/columns/column-layout.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
Labels: grid, keyboard-navigation, multi-row-layout, status: verified, version: 9.0.x

#7645 Set column visible index correctly when hide/show MRL block
  projects/igniteui-angular/src/lib/grids/columns/column-layout.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
Labels: grid, keyboard-navigation, multi-row-layout, status: verified, version: 9.1.x

#7641 Fixes issue with hierarchical transaction commit emit count
  projects/igniteui-angular/src/lib/services/transaction/igx-hierarchical-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-transaction.spec.ts
Labels: status: verified, transaction, version: 10.0.x

#7642 Fixes issue with hierarchical transaction commit emit count - 9.1
  projects/igniteui-angular/src/lib/services/transaction/igx-hierarchical-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-transaction.spec.ts
Labels: status: verified, transaction, version: 9.1.x

#7643 Fixes issue with hierarchical transaction commit emit count - 9.0.x
  projects/igniteui-angular/src/lib/services/transaction/igx-hierarchical-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-transaction.spec.ts
Labels: status: verified, transaction, version: 9.0.x

#7639 feat(badge): add badge indigo theme support
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_badge.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_badge.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
Labels: badge, indigo-theme, status: awaiting-test

#7650 feat(navbar): indigo theme support for navbar component
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_navbar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/elevation/_navbar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_navbar.scss
Labels: indigo-theme, navbar, status: awaiting-test

#7625 feat(igxGrid): Handle % width for MCH.
  projects/igniteui-angular/src/lib/grids/columns/column-group.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: multi-column-headers, status: verified, version: 10.0.x

#7633 Fix open & clear in disabled state v.9.1
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: date-picker, status: verified, version: 9.1.x

#7636 Fix open & clear in disabled state 9.0.x
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: date-picker, status: verified, version: 9.0.x

#7634 Fix open & clear in disabled state
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: date-picker, status: verified, version: 10.0.x

#7629 fix(mask): set default placeholder properly
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.ts
Labels: mask-editor, status: verified, version: 9.1.x

#7630 fix(mask): set default placeholder properly
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.ts
Labels: mask-editor, status: verified, version: 10.0.x

#7656 Should be able to focus header when grid has no data
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
Labels: grid, keyboard-navigation, status: verified, version: 9.1.x

#7657 Should be able to focus header when grid has no data - master
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
Labels: grid, keyboard-navigation, status: verified, version: 10.0.x

#7525 Extend IGridEditEventArgs
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.crud.spec.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-crud.spec.ts
Labels: cell-editing, grid, hierarchical-grid, row-editing, status: verified, tree-grid, version: 10.0.x

#7616 Add list localization #5280
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/i18n/list-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
  projects/igniteui-angular/src/lib/list/list.common.ts
  projects/igniteui-angular/src/lib/list/list.component.html
  projects/igniteui-angular/src/lib/list/list.component.ts
  projects/igniteui-angular/src/public_api.ts
Labels: enhancement, feature, i18n, list, status: verified, version: 9.1.x

#7618 Add list localization #5280
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/i18n/list-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
  projects/igniteui-angular/src/lib/list/list.common.ts
  projects/igniteui-angular/src/lib/list/list.component.html
  projects/igniteui-angular/src/lib/list/list.component.ts
  projects/igniteui-angular/src/public_api.ts
Labels: enhancement, feature, i18n, list, status: verified, version: 10.0.x

#7660 feat(themes): add initial indigo calendar theme
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_calendar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_calendar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_calendar.scss
Labels: calendar, indigo-theme, status: verified

#7670 Prevent scroll on focus -master
  projects/igniteui-angular/src/lib/directives/focus/focus.directive.ts
Labels: browser: firefox, dialog, status: verified, version: 10.0.x

#7669 Prevent scroll on focus -9.1.x
  projects/igniteui-angular/src/lib/directives/focus/focus.directive.ts
Labels: browser: firefox, dialog, status: verified, version: 9.1.x

#7668 Prevent scroll on focus
  projects/igniteui-angular/src/lib/directives/focus/focus.directive.ts
Labels: browser: firefox, dialog, status: verified, version: 9.0.x

#7539 Fix input placeholder position in safari
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: browser: Safari, input-group, status: cannot-reproduce, version: 10.0.x

#7392 Update to Angular 10
  .browserslistrc
  angular.json
  e2e/tsconfig.e2e.json
  package-lock.json
  package.json
  projects/igniteui-angular/migrations/update-6/index.spec.ts
  projects/igniteui-angular/migrations/update-6_01/index.spec.ts
  projects/igniteui-angular/migrations/update-6_02/index.spec.ts
  projects/igniteui-angular/migrations/update-6_1/index.spec.ts
  projects/igniteui-angular/migrations/update-6_2/index.spec.ts
  projects/igniteui-angular/migrations/update-6_2_1/index.spec.ts
  projects/igniteui-angular/migrations/update-7_0_2/index.spec.ts
  projects/igniteui-angular/migrations/update-7_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-7_3_4/index.spec.ts
  projects/igniteui-angular/migrations/update-8_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-8_2_3/index.spec.ts
  projects/igniteui-angular/migrations/update-8_2_6/index.spec.ts
  projects/igniteui-angular/migrations/update-9_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-9_1_0/index.spec.ts
  projects/igniteui-angular/package.json
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/tsconfig.lib.json
  projects/igniteui-angular/tsconfig.spec.json
  src/app/package.json
  src/tsconfig.app.json
  src/tsconfig.spec.json
  tsconfig.base.json
  tsconfig.json
  tslint.json
Labels: version: 10.0.x

#7665 Refactor column resizing test - 9.1
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: grid, refactoring, tests, version: 9.1.x

#7666 Refactor column resizing test - 9.0
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: grid, refactoring, tests, version: 9.0.x

#7538 Fix input placeholder position in safari
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: browser: Safari, input-group, status: cannot-reproduce, version: 9.1.x

#7663 Add hammerjs import in test.ts for ng add
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
Labels: ng add, schematics, status: verified, tests, version: 10.0.x

#7655 feat(checkbox): add checkbox to indigo theme
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_checkbox.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_checkbox.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_checkbox.scss
Labels: checkbox, indigo-theme, status: verified

#7680 chore(*): update schematics and other packages
  projects/igniteui-angular/package.json
Labels: schematics, status: verified, version: 10.0.x

#7671 fix(multi-cell-selection): multi cell selection safari
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
Labels: multi-cell-selection, status: verified, version: 10.0.x

#7672 fix(multi-cell-selection): multi cell selection safari
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
Labels: multi-cell-selection, status: verified, version: 9.1.x

#7673 Multi cell selection 9.0.x
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
Labels: multi-cell-selection, status: verified, version: 9.0.x

#7647 Date range test coverage improvement
  projects/igniteui-angular/src/lib/date-picker/date-picker.utils.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker-inputs.common.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.html
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
  projects/igniteui-angular/src/lib/test-utils/controls-functions.spec.ts
Labels: range-date-picker, squash-merge, status: verified, version: 9.1.x

#7694 fix(typedoc): pass typedoc options properly
  gulpfile.js
  package-lock.json
  package.json
Labels: status: verified

#7676 feat(themes): add indigo progress theme
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_progress.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_progress.scss
Labels: circular-progress, indigo-theme, linear-progress, status: verified

#7690 test(date-range-picker): improve coverage and refactor #5732 (#7647)
  projects/igniteui-angular/src/lib/date-picker/date-picker.utils.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker-inputs.common.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.html
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
  projects/igniteui-angular/src/lib/test-utils/controls-functions.spec.ts
Labels: date-range-picker, refactoring, status: verified, tests, version: 10.0.x

#7682 feat(radio): add radio to indigo theme
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_radio.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_radio.scss
Labels: indigo-theme, radio-button, radio-group, status: verified

#7687 feat(divider): add divider support for indigo theme
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_divider.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_divider.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
Labels: divider, indigo-theme, status: verified

#7679 feat(list): add list to indigo theme
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_list.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_list.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_list.scss
Labels: indigo-theme, list, status: awaiting-test

#7691 feat(splitter): provide splitter support for indigo theme
  projects/igniteui-angular/src/lib/core/styles/components/splitter/_splitter-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_splitter.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_splitter.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_splitter.scss
Labels: indigo-theme, splitter

#7651 feat(bottom-nav): indigo theme support for bottom navigation
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_bottom-nav.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/elevation/_bottom-nav.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_bottom-nav.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
Labels: bottom-nav, indigo-theme, status: in-test

#7658 feat(carousel): add support for carousel component in indigo theme
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_carousel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/elevation/_carousel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_carousel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_carousel.scss
Labels: carousel, indigo-theme, status: in-test

#7684 feat(snackbar): add snackbar to indigo theme
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_snackbar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_snackbar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_snackbar.scss
Labels: indigo-theme, snackbar, status: awaiting-test

#7644 feat(drop-down): add drop-down indigo theme support
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_drop-down.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/elevation/_drop-down.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_drop-down.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_drop-down.scss
Labels: dropdown, indigo-theme, status: awaiting-test

#7649 feat(button-group): add button-group to indigo theme
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_button-group.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/elevation/_button-group.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button-group.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_button-group.scss
Labels: button-group, indigo-theme, status: verified

#7689 feat(switch): add switch to indigo theme
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_switch.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_switch.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_switch.scss
Labels: indigo-theme, status: in-test, switch

#7688 Adding indigo card
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_card.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/elevation/_card.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_card.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_card.scss
Labels: card, indigo-theme, status: verified

#7692 feat(toast): add toast to indigo theme
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_toast.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_toast.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_toast.scss
Labels: indigo-theme, status: verified, toast

#7695 feat(tooltip): add tooltip to indigo theme
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_tooltip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_tooltip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_tooltip.scss
Labels: indigo-theme, status: verified, tooltip

#7700 feat(icon): add indigo theme icon style
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_icon.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_icon.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
Labels: icon, indigo-theme

#7706 feat(chip): add chip styles for indigo theme
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_chip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/elevation/_chip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_chip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_chip.scss
Labels: chip, indigo-theme, status: verified

#7654 feat(resize): Add byHeader argument to the autosize method.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
Labels: resizing, status: verified, version: 10.1.x

#7710 fix(igxForOf): Cache scroll size on initialize and use cached value when scrolling.
  projects/igniteui-angular/src/lib/directives/for-of/base.helper.component.ts
Labels: status: verified, version: 9.1.x
