Repository IgniteUI/igniteui-angular, pull requests merged in 2020-04, with the labels that each got.

#7022 feat(grid): add support for column title
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  src/app/grid-column-groups/grid-column-groups.sample.html
Labels: grid, status: verified, version: 9.0.x

#7020 feat(grid): add support for column title
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  src/app/grid-column-groups/grid-column-groups.sample.html
Labels: grid, status: verified, version: 9.1.x

#7007 Refactoring grid paging test (9.0.x)
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/test-utils/controls-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: hierarchical-grid, paging, tests, version: 9.0.x

#7030 Fix data in grid-groupby sample #6965
  src/app/grid-groupby/grid-groupby.sample.ts
Labels: demos, status: verified, version: 9.1.x

#7029 Fix data in grid-groupby sample #6965
  src/app/grid-groupby/grid-groupby.sample.ts
Labels: demos, status: verified, version: 9.0.x

#7028 Fix data in grid-groupby sample #6965
  src/app/grid-groupby/grid-groupby.sample.ts
Labels: demos, status: verified, version: 8.2.x

#7031 Refactor IgxGrid sorting test suite (master)
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/test-utils/controls-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: grid, sorting, tests, version: 9.1.x

#7036 feat(IgxSplitter): Adding expand/collapse functionality
  projects/igniteui-angular/src/lib/splitter/splitter-bar/splitter-bar.component.html
  projects/igniteui-angular/src/lib/splitter/splitter-bar/splitter-bar.component.ts
  projects/igniteui-angular/src/lib/splitter/splitter-pane/splitter-pane.component.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.html
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
Labels: splitter, status: verified

#6912 tests(HGrid): Refactor Hierarchical Grid navigation tests. #6812
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
Labels: hierarchical-grid, refactoring, status: verified, tests, version: 9.1.x

#7033 fix(toast): add margin to the toast component
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-theme.scss
  projects/igniteui-angular/src/lib/toast/README.md
  projects/igniteui-angular/src/lib/toast/toast.component.html
  projects/igniteui-angular/src/lib/toast/toast.component.spec.ts
  projects/igniteui-angular/src/lib/toast/toast.component.ts
  src/app/toast/toast.sample.css
  src/app/toast/toast.sample.html
Labels: status: verified, theme, toast, version: 9.1.x

#6993 Tests Refactoring: IgxGrid - search API
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
Labels: grid, refactoring, status: verified, tests, version: 9.1.x

#7038 Add columnSelection input
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  src/app/grid-column-selection/grid-column-selection.sample.html
  src/app/grid-column-selection/grid-column-selection.sample.ts
Labels: column-selection, grid, status: verified, version: 9.1.x

#7045 Additional grid sorting test refactoring (master)
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
Labels: grid, sorting, tests, version: 9.1.x

#7034 Refactoring grid sorting test suite (9.0.x)
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/test-utils/controls-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: grid, sorting, tests, version: 9.0.x

#7046 tests(HGrid): Refactor Hierarchical Grid navigation tests.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
Labels: hierarchical-grid, refactoring, status: verified, tests, version: 9.0.x

#7040 refactor(hierarchicalgrid): test refactoring, typos - master
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-components.spec.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-functions.spec.ts
Labels: hierarchical-grid, refactoring, tests

#7061 Tests Refactoring: IgxGrid - search API - 9.0.x
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
Labels: grid-toolbar, refactoring, status: awaiting-test, tests, version: 9.0.x

#7051 fix(igxForOf): Add check in case scrollComponent is already destroyed.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  src/app/list-performance/list-performance.sample.html
  src/app/list-performance/list-performance.sample.ts
Labels: status: verified, version: 9.1.x, virtualization

#7058 fix(igxForOf): Add check in case scrollComponent is already destroyed.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  src/app/list-performance/list-performance.sample.html
  src/app/list-performance/list-performance.sample.ts
Labels: status: verified, version: 8.2.x, virtualization

#7008 chore(igxDragDrop): Remove deprecated properties. Update chip to not …
  projects/igniteui-angular/src/lib/chips/chip.component.html
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  src/app/drag-drop/drag-drop.sample.html
  src/app/drag-drop/drag-drop.sample.ts
  src/app/grid-multi-row-layout-config/grid-mrl-config.sample.html
Labels: chip, drag-drop, status: verified

#7056 fix(igxForOf): Add check in case scrollComponent is already destroyed.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  src/app/list-performance/list-performance.sample.html
  src/app/list-performance/list-performance.sample.ts
Labels: status: verified, version: 9.0.x, virtualization

#6935 Focusless kb navigation hierarchical-grid
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-cell.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.ts
  src/styles/igniteui-theme.scss
Labels: status: verified

#7042 fix(tabs): fixes on tab related attributes
  projects/igniteui-angular/src/lib/tabs/tab-item.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs-group.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.html
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.ts
Labels: status: verified, tabs, version: 9.1.x

#7063 chore(*): additional fixes based on feedback.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-functions.spec.ts
Labels: hierarchical-grid, refactoring, tests, version: 9.1.x

#7035 fix(kbNav): related bugs
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  src/app/grid-cellEditing/grid-cellEditing.component.ts
Labels: keyboard-navigation, status: in-development

#7065 fix(filter-ui): Fix date filtering and chip commit #6594
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: filter-ui, grid, status: verified, version: 9.0.x

#7067 fix(tabs): fixes on tab related attributes - 8.2.x
  projects/igniteui-angular/src/lib/tabs/tab-item.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs-group.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.html
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.ts
Labels: status: verified, tabs, version: 8.2.x

#7066 fix(filter-ui): Fix date filtering and chip commit #6594
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: filter-ui, grid, status: verified, version: 9.1.x

#7064 fix(tabs): fixes on tab related attributes - 9.0.x
  projects/igniteui-angular/src/lib/tabs/tab-item.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs-group.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.html
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.ts
Labels: status: verified, tabs, version: 9.0.x

#7044 fix(grid): fix date filtering and chip commit #6594
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: filter-ui, grid, status: verified, version: 8.2.x

#7041 refactor(hierarchicalgrid): test refactoring, typos - 9.0
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-components.spec.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-functions.spec.ts
Labels: hierarchical-grid, refactoring, tests, version: 9.0.x

#7080 Update failing filtering test
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: status: resolved, tests, version: 9.1.x

#7075 Add dragDirection input and igxDragIgnore directive to the igxDrag.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.spec.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-handle.directive.ts
  src/app/drag-drop/drag-drop.sample.css
  src/app/drag-drop/drag-drop.sample.html
  src/app/drag-drop/drag-drop.sample.ts
Labels: drag-drop, status: verified, version: 9.1.x

#7068 fix(calendar): selected month doesn't persist color
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
Labels: calendar, status: verified, theme, version: 9.1.x

#7081 Update failing filtering test
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: tests, version: 9.0.x

#7082 refactor(grid): improve column selection theme
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_palettes.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_grid.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_grid.scss
  src/styles/igniteui-theme.scss
Labels: Fluent-theme, bootstrap-theme, grid, status: verified, theme, version: 9.1.x

#7077 fix(igxGrid): List only pinnable columns in pinning toolbar #5640
  projects/igniteui-angular/src/lib/grids/grid/column-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/pinning/column-pinning.component.html
  projects/igniteui-angular/src/lib/grids/pinning/column-pinning.component.ts
  projects/igniteui-angular/src/lib/grids/pinning/pinning.directive.ts
Labels: column-pinning, grid-toolbar, status: verified, version: 9.0.x

#7076 fix(igxGrid): List only pinnable columns in pinning toolbar #5640
  projects/igniteui-angular/src/lib/grids/grid/column-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/pinning/column-pinning.component.html
  projects/igniteui-angular/src/lib/grids/pinning/column-pinning.component.ts
  projects/igniteui-angular/src/lib/grids/pinning/pinning.directive.ts
Labels: column-pinning, grid-toolbar, status: verified, version: 9.1.x

#7052 Splitter keyboard interactions
  projects/igniteui-angular/src/lib/splitter/splitter-bar/splitter-bar.component.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.spec.ts
Labels: splitter, status: verified, version: 9.1.x

#7073 chore(*): roadmap update milestone 11
  ROADMAP.md
Labels: documentation, version: 9.1.x

#6985 Splitter base
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/splitter/_splitter-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/splitter/_splitter-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_scrollbar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_splitter.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_splitter.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_splitter.scss
  projects/igniteui-angular/src/lib/splitter/splitter-bar/splitter-bar.component.html
  projects/igniteui-angular/src/lib/splitter/splitter-bar/splitter-bar.component.ts
  projects/igniteui-angular/src/lib/splitter/splitter-pane/splitter-pane.component.html
  projects/igniteui-angular/src/lib/splitter/splitter-pane/splitter-pane.component.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.html
  projects/igniteui-angular/src/lib/splitter/splitter.component.spec.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
  projects/igniteui-angular/src/lib/splitter/splitter.module.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/routing.ts
  src/app/shared/shared.module.ts
  src/app/splitter/slitter.sample.ts
  src/app/splitter/splitter.sample.html
  src/app/splitter/splitter.sample.scss
  src/styles/igniteui-theme.scss
Labels: splitter, status: in-test

#7085 New localized string prepositionPage
  projects/igniteui-angular/src/lib/core/i18n/paginator-resources.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.html
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
Labels: i18n, paginator, paging, version: 9.1.x

#7084 fix(toolbar): Update pinning icon #7043
  projects/igniteui-angular/src/lib/grids/grid-toolbar.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.component.ts
  src/app/grid-row-pinning/grid-row-pinning.sample.html
  src/app/grid-row-pinning/grid-row-pinning.sample.ts
Labels: column-pinning, grid-toolbar, status: verified, version: 9.1.x

#6927 test(grid-pinning): Add tests for navigation to/from pinned area #6676
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
Labels: column-pinning, grid, tests, version: 9.1.x

#7100 chore(*): Fix issue with cells that no longer exits in DOM returned b…
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.ts
Labels: hierarchical-grid, status: awaiting-test, version: 9.1.x

#7016 fix(grid): Avoid exception on overlay opened #7015
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: grid, overlay, status: verified, tooltip, version: 9.1.x

#6979 Implement Row Pinning for igxHierarchicalGrid.
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_grid.scss
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/common/row.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/row-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-cell.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.module.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-components.spec.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-functions.spec.ts
  src/app/grid-row-pinning/grid-row-pinning.sample.html
  src/app/grid-row-pinning/grid-row-pinning.sample.ts
Labels: hierarchical-grid, row-pinning, status: verified

#7114 fix(bottom-nav): fixes on routing and tab related attributes - 8.2.x
  projects/igniteui-angular/src/lib/tabbar/bottom-nav-routing-test-guard.spec.ts
  projects/igniteui-angular/src/lib/tabbar/routing-view-components.spec.ts
  projects/igniteui-angular/src/lib/tabbar/tab-bar-content.component.html
  projects/igniteui-angular/src/lib/tabbar/tabbar.component.spec.ts
  projects/igniteui-angular/src/lib/tabbar/tabbar.component.ts
Labels: bottom-nav, status: verified, version: 8.2.x

#7113 fix(bottom-nav): fixes on routing and tab related attributes - 9.0.x
  projects/igniteui-angular/src/lib/tabbar/bottom-nav-routing-test-guard.spec.ts
  projects/igniteui-angular/src/lib/tabbar/routing-view-components.spec.ts
  projects/igniteui-angular/src/lib/tabbar/tab-bar-content.component.html
  projects/igniteui-angular/src/lib/tabbar/tabbar.component.spec.ts
  projects/igniteui-angular/src/lib/tabbar/tabbar.component.ts
Labels: bottom-nav, status: verified, version: 9.0.x

#7069 Revert "Row pinning + export to excel"
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/jszip-verification-wrapper.spec.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/services/exporter-common/test-methods.spec.ts
Labels: status: verified

#7094 fix(bottom-nav): fixes on routing and tab related attributes
  projects/igniteui-angular/src/lib/tabbar/bottom-nav-routing-test-guard.spec.ts
  projects/igniteui-angular/src/lib/tabbar/routing-view-components.spec.ts
  projects/igniteui-angular/src/lib/tabbar/tab-bar-content.component.html
  projects/igniteui-angular/src/lib/tabbar/tabbar.component.spec.ts
  projects/igniteui-angular/src/lib/tabbar/tabbar.component.ts
Labels: bottom-nav, status: verified, version: 9.1.x

#7096 fix(filtering): Avoid resetting values for number inputs #6973
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filter-ui, status: verified, version: 9.1.x

#7097 fix(filtering): Avoid resetting values for number inputs #6973
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filter-ui, status: verified, version: 9.0.x

#7098 fix(filtering): Avoid resetting values for number inputs #6973
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filter-ui, status: verified, version: 8.2.x

#7093 fix(input-group): fix typo in `supressInputAutofocus` input - 9.1.x
  CHANGELOG.md
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-9_1_0/changes/inputs.json
  projects/igniteui-angular/migrations/update-9_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-9_1_0/index.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.html
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.html
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
  projects/igniteui-angular/src/lib/input-group/input-group.directive.spec.ts
  src/app/input-group/input-group.sample.html
  src/app/time-picker/time-picker.sample.html
Labels: input-group, status: verified, version: 9.1.x

#7125 fix(splitter): Adding styles on focus for better browser consistency
  projects/igniteui-angular/src/lib/core/styles/components/splitter/_splitter-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/splitter/_splitter-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_splitter.scss
  projects/igniteui-angular/src/lib/splitter/splitter-bar/splitter-bar.component.ts
Labels: splitter, status: verified, version: 9.1.x

#7123 Fix failing test for hierarchical grid navigation.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
Labels: hierarchical-grid, tests, version: 9.1.x

#7057 Input group to retain focus on prefix/suffix click
  CHANGELOG.md
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.html
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.spec.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
Labels: input-group, squash-merge, status: verified, version: 9.1.x

#7127 fix(splitter): Don't change resizable property on expand/collapse and reset sibling size only if resizable
  projects/igniteui-angular/src/lib/splitter/splitter-bar/splitter-bar.component.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.spec.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
Labels: splitter, status: verified

#7137 Change cursor depending on whether bar allows resizing.
  projects/igniteui-angular/src/lib/core/styles/components/splitter/_splitter-theme.scss
  projects/igniteui-angular/src/lib/splitter/splitter-bar/splitter-bar.component.html
  projects/igniteui-angular/src/lib/splitter/splitter-bar/splitter-bar.component.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.spec.ts
Labels: splitter, status: verified, version: 9.1.x

#7126 Apply changes as per the spec changes.
  projects/igniteui-angular/src/lib/splitter/splitter-bar/splitter-bar.component.ts
  projects/igniteui-angular/src/lib/splitter/splitter-pane/splitter-pane.component.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.html
  projects/igniteui-angular/src/lib/splitter/splitter.component.spec.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
  projects/igniteui-angular/src/lib/splitter/splitter.module.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/splitter/slitter.sample.ts
  src/app/splitter/splitter.sample.html
Labels: splitter, status: verified

#7131 fix(ESF): searching text on a date column works properly #6619
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.pipe.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: excel-style-filtering, grid, status: verified, version: 8.2.x

#7130 fix(ESF): searching text on a date column works properly #6619
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.pipe.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: excel-style-filtering, grid, status: verified, version: 9.0.x

#7115 fix(ESF): searching text on a date column works properly #6619
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.pipe.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: excel-style-filtering, grid, status: verified, version: 9.1.x

#7112 fix(excel-exporter): updated jszip to latest version and added typings
  package-lock.json
  package.json
  projects/igniteui-angular/ng-package.json
  projects/igniteui-angular/ng-package.prod.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/excel-interfaces.ts
  projects/igniteui-angular/src/lib/services/excel/jszip-verification-wrapper.spec.ts
Labels: excel-exporter, status: verified, version: 9.1.x

#7104 IgxGrid disabled row implementation.
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/grid/row-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.module.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/jszip-verification-wrapper.spec.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/services/exporter-common/test-methods.spec.ts
  src/app/grid-row-pinning/grid-row-pinning.sample.html
Labels: grid, version: 9.1.x

#7120 fix(excel-exporter): updated jszip version and added typings - 8.2.x
  package-lock.json
  package.json
  projects/igniteui-angular/ng-package.json
  projects/igniteui-angular/ng-package.prod.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/excel-interfaces.ts
  projects/igniteui-angular/src/lib/services/excel/jszip-verification-wrapper.spec.ts
Labels: excel-exporter, status: verified, version: 8.2.x

#7121 fix(excel-exporter): updated jszip version and added typings - 9.0.x
  package-lock.json
  package.json
  projects/igniteui-angular/ng-package.json
  projects/igniteui-angular/ng-package.prod.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/excel-interfaces.ts
  projects/igniteui-angular/src/lib/services/excel/jszip-verification-wrapper.spec.ts
Labels: excel-exporter, status: verified, version: 9.0.x

#7005 Refactor Hgrid Selection test suite (9.0.x)
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
Labels: hierarchical-grid, multi-cell-selection, row-selection, selection, tests, version: 9.0.x

#7145 Tests Refactoring: Column Hiding
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-pinning.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/helper-utils.spec.ts
Labels: grid, refactoring, tests, version: 9.1.x

#7146 Tests Refactoring: Column Hiding
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-pinning.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/helper-utils.spec.ts
Labels: grid, refactoring, tests, version: 9.0.x

#6923 DateTime Editor implementation
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.pipes.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.utils.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.common.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-parsing.spec.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/index.ts
  projects/igniteui-angular/src/lib/directives/mask/mask-parsing.service.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.ts
  projects/igniteui-angular/src/lib/drop-down/index.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/date-time-editor/date-time-editor.sample.css
  src/app/date-time-editor/date-time-editor.sample.html
  src/app/date-time-editor/date-time-editor.sample.ts
  src/app/routing.ts
Labels: date-editor, status: verified, version: 9.1.x

#7150 Refactor tree grid pinning - unify logic between grid and tree grid.
  projects/igniteui-angular/src/lib/grids/grid-common.module.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.module.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.module.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
  src/app/grid-row-pinning/grid-row-pinning.sample.html
Labels: tree-grid

#6936 Row Pinning Tree Grid
  projects/igniteui-angular/src/lib/grids/common/grid-pipes.module.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.module.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.filtering.pipe.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.module.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
  src/app/grid-row-pinning/grid-row-pinning.sample.html
  src/app/grid-row-pinning/grid-row-pinning.sample.ts
  src/app/tree-grid-flat-data/tree-grid-flat-data.sample.html
  src/app/tree-grid-flat-data/tree-grid-flat-data.sample.ts
Labels: row-pinning, status: verified, tree-grid

#7140 Fix leftover shadow when opening custom ESF dialog
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
Labels: excel-style-filtering, grid, status: verified, version: 9.1.x

#7138 Fix leftover shadow when opening custom ESF dialog
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
Labels: excel-style-filtering, grid, status: verified, version: 9.0.x

#7163 Revert "fix(filtering): Avoid resetting values for number inputs #6973"
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: status: verified, version: 9.1.x

#7164 Revert "fix(filtering): Avoid resetting values for number inputs #6973"
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: status: verified, version: 9.0.x

#7165 Revert "fix(filtering): Avoid resetting values for number inputs #6973"
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: status: verified, version: 8.2.x

#7155 Aria grid errors
  CHANGELOG.md
  package-lock.json
  projects/igniteui-angular/src/lib/core/i18n/paginator-resources.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/summaries/summary-row.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/paginator/paginator.component.html
  projects/igniteui-angular/src/lib/paginator/paginator.component.spec.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
Labels: aria-support, grid, hierarchical-grid, paginator, status: verified, summaries, tree-grid, version: 9.1.x

#7168 fix(calendar): add current hover month text color
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_calendar.scss
Labels: calendar, status: verified, theme, version: 9.1.x

#7132 Refactoring IgxGrid pinning test suit (master)
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/template-strings.spec.ts
Labels: column-pinning, grid, tests, version: 9.1.x

#7128 Fix typo in deselectAllRows docblock
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: documentation, grid, row-selection, status: verified, version: 9.1.x

#7166 Update tests helper classes - 90
  projects/igniteui-angular/src/lib/calendar/calendar-multi-view.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/dialog/dialog.component.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-moving.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-crud.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-multi-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/input-group/input-group.directive.spec.ts
  projects/igniteui-angular/src/lib/tabbar/tabbar.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/controls-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/helper-utils.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
Labels: refactoring, tests, version: 9.0.x

#7116 tests(grid): adding paging tests with pinning
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
Labels: column-pinning, paging, row-pinning, status: verified, tests, version: 9.1.x

#7162 Update tests helper clases
  projects/igniteui-angular/src/lib/calendar/calendar-multi-view.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/dialog/dialog.component.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-moving.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-collapsible-columns.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-crud.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-multi-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-summaries.spec.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.spec.ts
  projects/igniteui-angular/src/lib/tabbar/tabbar.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/controls-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/helper-utils.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
Labels: refactoring, status: verified, tests, version: 9.1.x

#7171 Refactor Grid pinning test suite (9.0.x)
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: column-pinning, grid, tests, version: 9.0.x

#7172 Treegrid Pinned Row & Filtering
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: row-pinning, status: verified, tree-grid

#7152 fix(filter-ui): hide filtering row on column hide #6520
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: collapsible-column-groups, filter-ui, grid, status: verified, version: 9.0.x

#7151 fix(filter-ui): hide filtering row on column hide #6520
  projects/igniteui-angular/src/lib/grids/column.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: collapsible-column-groups, filter-ui, grid, status: verified, version: 8.2.x

#7153 fix(filter-ui): hide filtering row on column hide #6520
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: collapsible-column-groups, filter-ui, grid, status: verified, version: 9.1.x

#7189 fix(paginator): Add missing index #7185
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
Labels: grid, paginator, status: verified, version: 9.1.x

#7176 fix(igxGrid): Ensure previous row pin state is cleared before applyin…
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
Labels: row-pinning, status: verified

#7177 fix(igxGrid): Include chip in template for mdv expander cell.
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
  src/app/grid-row-pinning/grid-row-pinning.sample.html
Labels: row-pinning, status: verified

#7178 fix(igxGrid): Fix and test for issue with row pinning + filtering + s…
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
  src/app/grid-row-pinning/grid-row-pinning.sample.html
Labels: row-pinning, status: verified

#7197 fix(igxGrid): Fix issue with empty filter result message rendering wh…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  src/app/grid-row-pinning/grid-row-pinning.sample.html
Labels: row-pinning, status: verified

#7154 Tests Refactoring: IgxGrid - Grid Toolbar
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: grid-toolbar, status: verified, tests, version: 9.1.x

#7194 fix(igxTreeGrid): Overwrite setter as well as the getter.
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.ts
Labels: row-pinning, status: verified

#7144 Grid Keyboard Header Navigation
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.html
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-cell.component.html
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-cell.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-mrl-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid.rowEdit.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav-headers.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/radio/radio.component.html
  projects/igniteui-angular/src/lib/switch/switch.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  src/app/grid-cellEditing/grid-cellEditing.component.html
Labels: keyboard-navigation, status: verified, version: 9.1.x

#7191 fix(igxGrid): Recalculate grid sizes when pinned rows collection chan…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: row-pinning, status: verified

#7181 Tests Refactoring: IgxGrid - Grid Toolbar - 9.0.x
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: grid-toolbar, status: verified, tests, version: 9.0.x

#7205 Keyboard Navigation Changelog update
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
Labels: grid, keyboard-navigation, status: verified, version: 9.1.x

#7201 fix(grid): Adding active styles for summaries, group row and header
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: keyboard-navigation, status: verified, styling, version: 9.1.x

#7105 chore(*): update PR template with links to related wiki pages
  .github/PULL_REQUEST_TEMPLATE.md
Labels: version: 9.1.x

#7213 fix(igxGrid): Allow to select/deselect ghost row with space.
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
Labels: row-pinning, status: verified

#7148 feat(igxGrid): Update navigation to include ghost rows.
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  src/app/grid-row-pinning/grid-row-pinning.sample.html
Labels: keyboard-navigation, row-pinning, status: verified, version: 9.1.x

#7212 fix(for-of): Skip logic on small scrolls
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-multi-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: status: verified, version: 9.1.x, virtualization

#7216 Fixes Wrong Order of Pinned Records in Treegrid
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: status: awaiting-test, tree-grid, version: 9.1.x

#7208 Date time editor misc updates
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.common.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/index.ts
Labels: date-editor, refactoring, version: 9.1.x

#7239 chore(toast): migrate toast message property to text content
  projects/igniteui-angular/migrations/update-9_1_0/changes/inputs.json
  projects/igniteui-angular/migrations/update-9_1_0/index.spec.ts
  projects/igniteui-angular/src/lib/toast/toast.component.html
  projects/igniteui-angular/src/lib/toast/toast.component.ts
Labels: migrations, status: verified, toast, version: 9.1.x

#7187 fix(filtering): filter behavior on number type filter #6973
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
Labels: filter-ui, status: verified, version: 8.2.x

#7236 fix(igxSplitter): Fix public exports.
  projects/igniteui-angular/src/public_api.ts
  src/app/splitter/slitter.sample.ts
Labels: splitter, status: verified

#7186 fix(filtering): filter behavior on number type filter #6973
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
Labels: filter-ui, status: verified, version: 9.0.x

#7188 fix(filtering): filter behavior on number type filter #6973
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
Labels: filter-ui, status: verified, version: 9.1.x

#7235 Add date time readme and update changelog
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/date-time-editor/README.md
Labels: date-editor, documentation, version: 9.1.x

#7238 fix(igxGrid): Fix issues when grid container is scrolled left as a re…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: status: verified

#7240 fix(igxGrid): If edited record is pinned open overlay for pinned row (not the g…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  src/app/grid-row-pinning/grid-row-pinning.sample.html
Labels: grid, row-pinning, status: verified

#7018 IgxDateRangeComponent implementation
  CHANGELOG.md
  README.md
  projects/igniteui-angular/src/lib/core/i18n/date-range-picker-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
  projects/igniteui-angular/src/lib/core/styles/components/date-range-picker/_date-range-picker-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/date-range-picker/_date-range-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_date-range-picker.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_date-range-picker.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
  projects/igniteui-angular/src/lib/date-range-picker/README.md
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker-inputs.common.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.html
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.module.ts
  projects/igniteui-angular/src/lib/date-range-picker/index.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/date-range/date-range.sample.html
  src/app/date-range/date-range.sample.scss
  src/app/date-range/date-range.sample.ts
  src/app/routing.ts
  src/app/shared/shared.module.ts
Labels: range-date-picker, squash-merge, status: verified, version: 9.1.x

#7244 fix(igxGrid): Refactor displayPinnedChip to be an Input set by the ro…
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.html
Labels: row-pinning, status: verified
