Repository IgniteUI/igniteui-angular, pull requests merged in 2020-08, with the labels that each got.

#7901 fix(charts): make chart themes excludable
  projects/igniteui-angular/src/lib/core/styles/components/charts/_category-chart-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_data-chart-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_doughnut-chart-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_financial-chart-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_funnel-chart-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_gauge-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_geo-map-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_graph-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_pie-chart-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_shape-chart-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_sparkline-component.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
Labels: charts, status: awaiting-test, themes, version: 10.1.x

#7902 fix(charts): make chart themes excludable
  projects/igniteui-angular/src/lib/core/styles/components/charts/_category-chart-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_data-chart-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_doughnut-chart-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_financial-chart-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_funnel-chart-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_gauge-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_geo-map-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_graph-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_pie-chart-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_shape-chart-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_sparkline-component.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
Labels: charts, status: awaiting-test, themes, version: 10.0.x

#7794 Expose grid active node evt
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/common/enums.ts
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-mrl-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav-headers.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-cell.component.ts
  projects/igniteui-angular/src/lib/grids/summaries/summary-cell.component.ts
Labels: grid, status: verified

#7904 fix(ESF): misaligned icon
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
Labels: excel-style-filtering, status: verified, version: 10.0.x

#7905 fix(ESF): misaligned icon
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
Labels: excel-style-filtering, status: verified, version: 10.1.x

#7903 fix(ESF): misaligned icon
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
Labels: excel-style-filtering, status: verified, version: 9.1.x

#7922 fix(themes): don't throw error on non-color values
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
Labels: status: verified, themes, version: 10.1.x

#7921 Add class deprecation decorator and apply it for column actions.
  projects/igniteui-angular/src/lib/core/deprecateDecorators.ts
  projects/igniteui-angular/src/lib/grids/hiding/column-hiding.component.ts
  projects/igniteui-angular/src/lib/grids/pinning/column-pinning.component.ts
Labels: documentation, version: 10.1.x

#7923 fix(themes): make dv components excludable
  projects/igniteui-angular/src/lib/core/styles/components/charts/_gauge-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_graph-component.scss
Labels: status: verified, themes, version: 10.1.x

#7856 Expose grid cellEditDone & rowEditDonew events
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.crud.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-crud.spec.ts
  src/app/grid-row-edit/grid-row-edit-sample.component.html
  src/app/grid-row-edit/grid-row-edit-sample.component.ts
Labels: enhancement, grid, status: verified, version: 10.1.x

#7928 Test typedoc theme
  package-lock.json
  package.json
Labels: documentation, status: verified, typedoc

#7854 fix(igxGrid): Export expandable cell component.
  projects/igniteui-angular/src/lib/grids/grid/public_api.ts
Labels: grid, status: verified, version: 10.1.x

#7933 fix(indigo-theme): filter icon invisible
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
Labels: indigo-theme, status: verified, version: 10.1.x

#7906 fix(dialog): wrong sizing in IE11
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
Labels: browser: ie-11, bug, dialog, status: verified, version: 10.1.x

#7908 fix(dialog): wrong sizing in IE11 (9.1.x)
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
Labels: browser: ie-11, bug, dialog, status: awaiting-test, version: 9.1.x

#7909 fix(dialog): wrong sizing in IE11 (10.0.x)
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
Labels: browser: ie-11, bug, dialog, version: 10.0.x

#7900 fix(grid): mark grid's outlet property as input
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: grid, status: verified, version: 9.1.x

#7914 fix(grid): mark grid's outlet property as input
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: grid, status: verified, version: 10.0.x

#7915 fix(grid): mark grid's outlet property as input
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: grid, status: verified, version: 10.1.x

#7726 feat(esf): templating improvements
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-clear-filters.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-clear-filters.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-column-moving.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-column-moving.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-conditional-filter.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-conditional-filter.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-header.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-header.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-hiding.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-hiding.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-moving.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-moving.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-pinning.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-pinning.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-selecting.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-selecting.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-sorting.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-sorting.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.module.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/public_api.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/grid-filtering/grid-filtering.sample.html
  src/app/hierarchical-grid-remote-virtualization/hierarchical-grid-remote-virtualization.html
Labels: excel-style-filtering, status: verified, version: 10.1.x

#7937 chore(*): update typedoc theme version Closes #7927
  package-lock.json
  package.json
Labels: documentation, status: verified, typedoc

#7912 Replace setImmediate and remove core-js-pure
  LICENSE
  package-lock.json
  package.json
  projects/igniteui-angular/ng-package.json
  projects/igniteui-angular/ng-package.prod.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
  projects/igniteui-angular/src/lib/core/setImmediate.ts
  projects/igniteui-angular/src/lib/core/utils.ts
Labels: status: verified, version: 10.1.x

#7910 Replace setImmediate and remove core-js-pure
  LICENSE
  package-lock.json
  package.json
  projects/igniteui-angular/ng-package.json
  projects/igniteui-angular/ng-package.prod.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
  projects/igniteui-angular/src/lib/core/setImmediate.ts
  projects/igniteui-angular/src/lib/core/utils.ts
Labels: status: verified, version: 9.1.x

#7913 Replace setImmediate and remove core-js-pure
  LICENSE
  package-lock.json
  package.json
  projects/igniteui-angular/ng-package.json
  projects/igniteui-angular/ng-package.prod.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
  projects/igniteui-angular/src/lib/core/setImmediate.ts
  projects/igniteui-angular/src/lib/core/utils.ts
Labels: status: verified, version: 10.0.x

#7916 fix(slider): reqression expression change err
  projects/igniteui-angular/src/lib/slider/slider.component.ts
Labels: slider, status: verified

#7918 fix(slider): reqression expression change er
  projects/igniteui-angular/src/lib/slider/slider.component.ts
Labels: slider, status: verified

#7942 chore(*): update igniteui/angular-schematics
  projects/igniteui-angular/package.json
Labels: schematics, version: 10.1.x

#7943 fix(slider): reqression expression change err Closes #7683
  projects/igniteui-angular/src/lib/slider/slider.component.ts
Labels: slider, version: 10.0.x

#7935 docs(sassdoc): update elevation documentation
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_badge.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_bottom-nav.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button-group.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_card.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_carousel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_chip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_dialog.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_drop-down.scss
Labels: documentation, sassdoc, status: verified, version: 10.1.x

#7948 fix(drop-down): revert fix for bottom shadow #7821 #3977
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.html
Labels: autocomplete, dropdown, excel-style-filtering, status: verified, version: 9.1.x

#7949 fix(drop-down): revert fix for bottom shadow #7821 #3977
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.html
Labels: autocomplete, dropdown, excel-style-filtering, status: verified, version: 10.0.x

#7950 fix(drop-down): revert fix for bottom shadow #7821 #3977
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.html
Labels: autocomplete, dropdown, excel-style-filtering, status: verified, version: 10.1.x

#7940 fix(esf): fixed bottom and right extend in auto position strategy - 9.1.x
  projects/igniteui-angular/src/lib/services/overlay/position/auto-position-strategy.ts
Labels: excel-style-filtering, grid, status: verified, version: 9.1.x

#7944 fix(esf): fixed bottom and right extend in auto position strategy
  projects/igniteui-angular/src/lib/services/overlay/position/auto-position-strategy.ts
Labels: excel-style-filtering, grid, status: verified, version: 10.1.x

#7945 fix(esf): fixed bottom and right extend in auto position strategy - 10.0.x
  projects/igniteui-angular/src/lib/services/overlay/position/auto-position-strategy.ts
Labels: excel-style-filtering, grid, status: verified, version: 10.0.x

#7958 Move window references inside method
  projects/igniteui-angular/src/lib/core/setImmediate.ts
Labels: status: verified, version: 10.1.x

#7960 Move window references inside method
  projects/igniteui-angular/src/lib/core/setImmediate.ts
Labels: status: verified, version: 9.1.x

#7959 Move window references inside method
  projects/igniteui-angular/src/lib/core/setImmediate.ts
Labels: status: verified, version: 10.0.x

#7947 chore(*): update schematics with 10.1.610
  projects/igniteui-angular/package.json
Labels: schematics, version: 10.1.x

#7932 fix(navDrawer): Set width on open change #6321
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.ts
Labels: nav-drawer, status: verified, version: 10.1.x

#7934 fix(navDrawer): Set width on open change #6321
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.ts
Labels: nav-drawer, status: verified, version: 9.1.x

#7953 fix(navDrawer): Set width on open change #6321
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.ts
Labels: nav-drawer, status: verified, version: 10.0.x

#7976 Fix issue with height auto-size when page is zoomed.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-summaries.spec.ts
  src/app/grid-column-moving/grid-column-moving.sample.css
  src/app/grid-column-moving/grid-column-moving.sample.html
Labels: grid, status: verified, version: 10.1.x

#7975 Fix issue with height auto-size when page is zoomed.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  src/app/grid-column-moving/grid-column-moving.sample.css
  src/app/grid-column-moving/grid-column-moving.sample.html
Labels: grid, status: verified, version: 10.0.x

#7936 fix(grid): Add columnHiding closing handler #7569
  projects/igniteui-angular/src/lib/core/styles/components/column-hiding/_column-hiding-theme.scss
  projects/igniteui-angular/src/lib/grids/hiding/column-hiding.component.html
  projects/igniteui-angular/src/lib/grids/pinning/column-pinning.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.component.ts
Labels: column-hiding, grid, status: verified, version: 9.1.x

#7970 Add selection service provider to child grid so that it does not use the parent one
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
Labels: hierarchical-grid, row-selection, selection, status: verified, version: 10.0.x

#7988 fix(grid): properly account for custom row edit buttons - 9.1.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: row-editing, status: verified, version: 9.1.x

#7989 fix(grid): properly account for custom row edit buttons - 10.0.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: row-editing, status: verified, version: 10.0.x

#7987 fix(grid): properly account for custom row edit buttons - 10.1.х
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: row-editing, status: verified, version: 10.1.x

#7969 fix(*): Add selection service provider to child grid so that it does not use the parent one
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
Labels: hierarchical-grid, row-selection, selection, status: verified, version: 10.1.x

#7972 Fix issue with height auto-size when page is zoomed.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  src/app/grid-column-moving/grid-column-moving.sample.css
  src/app/grid-column-moving/grid-column-moving.sample.html
Labels: grid, status: awaiting-test, status: verified

#7985 test(slider): add aditional test for slider ticks
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
Labels: slider, status: verified, tests

#7999 Clear required & invalid styles
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
Labels: select, status: verified, version: 9.1.x

#7998 Clear required & invalid styles
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
Labels: select, status: verified, version: 10.0.x

#7968 fix(select): Clear required & invalid styles #6896
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
Labels: select, status: verified, version: 10.1.x

#7978 fix(time-picker): Adding igxTimeSelection to template, #6827
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: status: verified, time-picker, version: 9.1.x

#7977 fix(time-picker): Adding igxTimeSelection to template, #6827
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: status: verified, time-picker, version: 10.0.x

#7967 fix(time-picker): Adding igxTimeSelection to template, #6827
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: status: verified, time-picker, version: 10.1.x

#7956 fix(grid): Handle onClosing hiding/pinning #7569
  projects/igniteui-angular/src/lib/core/styles/components/column-hiding/_column-hiding-theme.scss
  projects/igniteui-angular/src/lib/grids/hiding/column-hiding.component.html
  projects/igniteui-angular/src/lib/grids/pinning/column-pinning.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.component.ts
Labels: column-hiding, grid, status: verified, version: 10.0.x

#7964 fix(grid): Handle onclosing for hiding/pin #7569
  projects/igniteui-angular/src/lib/core/styles/components/column-actions/_column-actions-theme.scss
  projects/igniteui-angular/src/lib/grids/column-actions/column-actions.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.component.ts
Labels: column-hiding, grid, status: verified, version: 10.1.x

#8004 Remove igx-grid column component elementref
  .github/workflows/nodejs.yml
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/summaries/summary-cell.component.html
Labels: grid, refactoring, status: verified, version: 10.1.x

#8005 Remove igx-grid column component elementref 10.0.x
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
Labels: grid, refactoring, status: verified, version: 10.0.x

#8006 Remove igx-grid column component elementref 9.1.x
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
Labels: grid, refactoring, status: verified, version: 9.1.x

#7990 Input Group: Change styling implicitly based on theme, not type
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-10_2_0/changes/inputs.json
  projects/igniteui-angular/migrations/update-10_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-10_2_0/index.ts
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_input-group.scss
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.html
  projects/igniteui-angular/src/lib/input-group/input-group.component.html
  projects/igniteui-angular/src/lib/input-group/input-group.component.spec.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  src/app/input-group/input-group.sample.html
  src/app/input-group/input-group.sample.scss
  src/app/input-group/input-group.sample.ts
Labels: 10.2.x, input-group, refactoring, status: awaiting-test

#7890 fix(input-group): allow runtime changes to type, prefix/suffix
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.html
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
Labels: input-group, status: awaiting-test, version: 9.1.x

#8000 feat(grid): added export progress visualization in toolbar
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.component.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: 10.2.x, excel-exporter, exporters, feature-request, grid, grid-toolbar, status: verified

#8015 feat(excel-export): expose a setter for worksheet name
  CHANGELOG.md
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-options.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/excel-strings.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
Labels: 10.2.x, excel-exporter, feature, status: verified

#8024 Rowisland api service
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/grids/watch-changes.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.ts
Labels: 10.2.x, hierarchical-grid, status: verified

#8035 fix(combo): fix error in searchvalue handling - 9.1.x
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
Labels: combo, status: verified, version: 9.1.x

#8033 fix(combo): fix error in searchvalue handling - 10.0.x
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
Labels: combo, status: verified, version: 10.0.x

#8034 fix(combo): fix error in searchvalue handling - 10.1.x
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
Labels: combo, status: verified, version: 10.1.x

#8020 fix(combo): fix error in searchvalue handling - 10.2.x
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
Labels: 10.2.x, combo, status: verified

#8045 fix(grid): column sorting indicator wrong background color
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: grid, sorting, status: verified, styling, version: 10.1.x

#8044 fix(grid): column sorting indicator wrong background color
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: 10.2.x, grid, sorting, status: verified, styling

#7962 fix(autocomplete): close dropdown when list is empty - 9.1.x
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
Labels: autocomplete, status: verified, version: 9.1.x

#7963 fix(autocomplete): close dropdown when list is empty - 10.0.x
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
Labels: autocomplete, status: verified, version: 10.0.x

#7961 fix(autocomplete): close dropdown when list is empty - 10.1.x
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
Labels: autocomplete, squash-merge, status: verified, version: 10.1.x

#8032 fix(autocomplete): close dropdown when list is empty - 10.2.x
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
Labels: 10.2.x, autocomplete, squash-merge, status: verified

#8047 fix(theme): fluent header and body misalignment
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: fluent-theme, grid, status: awaiting-test, version: 10.2.x

#8046 Fix grid cells misalignment in fluent theme
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: fluent-theme, grid, status: verified, version: 10.1.x

#8050 refactor(input-group): prefix/suffix not rendering correctly
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: bootstrap-theme, fluent-theme, input-group, status: awaiting-test, themes, version: 10.1.x

#8049 fix(input-group): prefix/suffix not rendered correctly
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  src/app/input-group/input-group.sample.html
Labels: bootstrap-theme, fluent-theme, input-group, status: awaiting-test, themes, version: 10.2.x

#8043 Remove active node when the container lose focus -- 9.1.x
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav-headers.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: grid, hierarchical-grid, keyboard-navigation, status: verified, tree-grid, version: 9.1.x

#8037 Remove active node when the container lose focus
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav-headers.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: grid, hierarchical-grid, keyboard-navigation, status: verified, tree-grid, version: 10.1.x

#8042 Remove active node when the container lose focus --master
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav-headers.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: grid, hierarchical-grid, keyboard-navigation, status: verified, tree-grid, version: 10.2.x

#8053 fix(date-picker): IE11 problem with date size.
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/date-picker/_date-picker-theme.scss
Labels: browser: ie-11, calendar, date-picker, status: verified, version: 10.2.x

#8054 fix(date-picker): IE11 problem with date size.
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/date-picker/_date-picker-theme.scss
Labels: browser: ie-11, calendar, date-picker, status: verified, version: 10.1.x

#7997 Add validation when disabledDates in date picker is set v.9.1
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: date-picker, status: in-test, status: verified, version: 9.1.x

#7996 Add validation when disabledDates in date picker is set v.10.0
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: date-picker, status: verified, version: 10.0.x

#7995 Add validation when disabledDates in date picker is set v.10.1
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: date-picker, status: verified, version: 10.1.x

#8036 Add validation when disabledDates in date picker is set v.10.2 #7995
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: date-picker, status: verified, version: 10.2.x

#8025 feat(Chip): Moved focus to main element #7248
  projects/igniteui-angular/src/lib/chips/chip.component.html
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/chip.spec.ts
  projects/igniteui-angular/src/lib/chips/chips-area.component.ts
  projects/igniteui-angular/src/lib/chips/chips-area.spec.ts
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
Labels: chip, status: verified, version: 10.2.x

#8063 fix(input-group): textarea has incorrect line-height
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  src/app/input/input.sample.html
  src/app/input/input.sample.ts
Labels: input-group, status: verified, themes, version: 9.1.x
