Repository IgniteUI/igniteui-angular, pull requests merged in 2020-03, with the labels that each got.

#6455 Mask refactoring
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.pipes.ts
  projects/igniteui-angular/src/lib/directives/mask/mask-parsing.service.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.pipes.ts
  src/app/mask/mask.sample.html
Labels: mask-editor, refactoring, status: verified, version: 9.1.x

#6786 Tests Refactoring: IgxTreeGrid - Key Board Navigation
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-functions.spec.ts
Labels: refactoring, tests, tree-grid, version: 9.1.x

#6853 Slider ivy input order independence
  CHANGELOG.md
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
Labels: slider, status: verified, version: 9.1.x

#6658 fix(autocomplete): allow autocomplete drop-down width to be adjustable
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
  src/app/autocomplete/autocomplete.sample.html
  src/app/autocomplete/autocomplete.sample.ts
Labels: autocomplete, status: verified, version: 9.1.x

#6735 fix(autocomplete): allow autocomplete drop-down width to be adjustable
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
  src/app/autocomplete/autocomplete.sample.html
  src/app/autocomplete/autocomplete.sample.ts
Labels: autocomplete, status: verified, version: 9.0.x

#6662 fix(autocomplete): allow autocomplete drop-down width to be adjustable - 8.2.x
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
  src/app/autocomplete/autocomplete.sample.html
  src/app/autocomplete/autocomplete.sample.ts
Labels: autocomplete, status: verified, version: 8.2.x

#6722 Add visual validity state and required asterisk for date and time pickers
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: date-picker, squash-merge, status: verified, time-picker, version: 9.1.x

#6866 Add visual validity state and required asterisk for date and time pickers 9.0.x
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: date-picker, squash-merge, status: verified, time-picker, version: 9.0.x

#6867 Add visual validity state and required asterisk for date and time pickers 8.2.x
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: date-picker, squash-merge, status: verified, time-picker, version: 8.2.x

#6863 Slider ivy input order independence
  CHANGELOG.md
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
Labels: ivy, slider, status: verified, version: 9.0.x

#6857 Fixes ESF's Column Moving w/ Active Right Side Pinning
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-column-moving.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: column-pinning, excel-style-filtering, status: verified, version: 9.1.x

#6656 feat(combo): add input to suppress input focus on open, #5968
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/README.md
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
Labels: combo, squash-merge, status: verified, version: 9.1.x

#6840 Reset scrollComponent scrollAmount, if scrollbar is hidden
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: grid, status: verified, version: 9.1.x, virtualization

#6841 Reset scrollComponent scrollAmount, if scrollbar is hidden - 82x
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: grid, status: verified, version: 8.2.x, virtualization

#6836 Reset scrollComponent scrollAmount, if scrollbar is hidden
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: grid, status: verified, version: 9.0.x, virtualization

#6877 chore(reactive-form): add dev sample for reactive form
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/reactive-from/reactive-form-sample.component.html
  src/app/reactive-from/reactive-form-sample.component.scss
  src/app/reactive-from/reactive-form-sample.component.ts
  src/app/routing.ts
Labels: date-picker, status: verified, time-picker, version: 9.1.x

#6874 fix(grid): Set onSortingDone to be emitted after pipes trggers (8.2.x).
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
Labels: grid, hierarchical-grid, sorting, status: verified, tree-grid, version: 8.2.x

#6872 fix(grid): Set onSortingDone to be emitted after pipes trggers. (master)
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: grid, hierarchical-grid, sorting, status: verified, tree-grid, version: 9.1.x

#6873 fix(grid): Set onSortingDone to be emitted after pipes trggers. (9.0.x)
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: grid, hierarchical-grid, sorting, status: verified, tree-grid, version: 9.0.x

#6868 fix(mrl): fixing validPosition for mrl and right pinning scenarios #6745 - master
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
Labels: grid, keyboard-navigation, multi-row-layout, status: verified, version: 9.1.x

#6869 fix(mrl): fixing validPosition for mrl and right pinning scenarios #6745 - 9.0
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
Labels: grid, keyboard-navigation, multi-row-layout, status: verified, version: 9.0.x

#6819 fix(igxHierarchicalGrid): Fixing ivy issue with dynamically added sum…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.ts
Labels: hierarchical-grid, status: verified, version: 9.1.x

#6870 fix(mrl): fixing validPosition for mrl and right pinning scenarios #6745 - 8.2
  projects/igniteui-angular/src/lib/grids/grid-base.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
Labels: grid, keyboard-navigation, multi-row-layout, status: awaiting-test, version: 8.2.x

#6820 fix(igxHierarchicalGrid): Fixing ivy issue with dynamically added sum…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.ts
Labels: hierarchical-grid, status: verified, summaries, version: 9.0.x

#6806 refactor(theme): change legacy support default value to false
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
Labels: breaking-change, refactoring, status: verified, theme, version: 9.1.x

#6797 Tests Refactoring: IgxGrid Master Detail
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: master-detail, refactoring, status: verified, tests, version: 9.1.x

#6879 fix(excel-style-filtering): implemented new position strategy for esf only
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-position-strategy.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/services/overlay/position/base-fit-position-strategy.ts
  src/app/grid-filtering/grid-filtering.sample.html
  src/app/grid-filtering/grid-filtering.sample.ts
Labels: excel-style-filtering, status: verified, version: 9.1.x

#6895 fix(excel-style-filtering): implemented new position strategy for esf only
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-position-strategy.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/services/overlay/position/base-fit-position-strategy.ts
  src/app/grid-filtering/grid-filtering.sample.html
  src/app/grid-filtering/grid-filtering.sample.ts
Labels: excel-style-filtering, status: verified, version: 9.0.x

#6796 Tests Refactoring: IgxGrid Master Detail
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: master-detail, refactoring, status: verified, tests, version: 9.0.x

#6902 fix(toast): text not visible in bootstrap dark theme
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_toast.scss
Labels: status: verified, theme, toast, version: 9.1.x

#6903 fix(toast): text not visible in bootstrap dark theme
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_toast.scss
Labels: status: verified, theme, toast, version: 9.0.x

#6800 Tests Refactoring: IgxTreeGrid - Key Board Navigation
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-functions.spec.ts
Labels: refactoring, tests, tree-grid, version: 9.0.x

#6875 Test Refactoring Row-Drag 9.1x
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: refactoring, row-drag, status: verified, tests, version: 9.1.x

#6876 Test Refactoring Row-Drag 9.0x
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: refactoring, row-drag, status: verified, tests, version: 9.0.x

#6779 docs(toggle,overlay): update changelog for 9.0.0
  CHANGELOG.md
Labels: documentation, overlay, toggle, version: 9.1.x

#6778 docs(toggle,overlay): update changelog for 9.0.0
  CHANGELOG.md
Labels: documentation, overlay, toggle, version: 9.0.x

#6906 fix(button-group): Add ellipsis
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup-content.component.html
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  src/app/buttonGroup/buttonGroup.sample.html
Labels: button-group, status: verified, version: 9.0.x

#6914 fix(button-group): Add ellipsis
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup-content.component.html
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  src/app/buttonGroup/buttonGroup.sample.html
Labels: button-group, status: awaiting-test, version: 9.1.x

#6818 feat(scrollbar): add scrollbar theme
  projects/igniteui-angular/src/lib/core/styles/components/_common/_igx-display-container.scss
  projects/igniteui-angular/src/lib/core/styles/components/_common/_igx-vhelper.scss
  projects/igniteui-angular/src/lib/core/styles/components/scrollbar/scrollbar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/scrollbar/scrollbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_palettes.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_scrollbar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_scrollbar.scss
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/directives/for-of/virtual.helper.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  src/index.html
  src/styles/_mixins.scss
  src/styles/igniteui-theme.scss
Labels: scrollbar, status: in-test, theme, version: 9.1.x

#6915 fix(hgrid): Block child expansion based on hasChildrenKey prop
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: hierarchical-grid, status: verified, version: 9.1.x

#6916 fix(hgrid): Block child expansion based on hasChildrenKey prop
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: hierarchical-grid, status: verified, version: 9.0.x

#6900 add column selection tests
  projects/igniteui-angular/src/lib/grids/grid/column-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  src/app/grid-column-selection/grid-column-selection.sample.html
  src/app/grid-column-selection/grid-column-selection.sample.ts
Labels: column-selection, tests

#6831 Column selection
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column-group.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/column.interface.ts
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.module.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-moving.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/moving/moving.drag.directive.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-sorting.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/grid-column-moving/grid-column-moving.sample.html
  src/app/grid-column-selection/grid-column-selection.sample.css
  src/app/grid-column-selection/grid-column-selection.sample.html
  src/app/grid-column-selection/grid-column-selection.sample.ts
  src/app/grid-state/grid-state.component.html
  src/app/grid-state/grid-state.component.ts
  src/app/routing.ts
Labels: column-selection, grid, hierarchical-grid, status: verified, tree-grid, version: 9.1.x

#6929 Tests Refactoring: IgxGrid - Summaries
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: grid, refactoring, summaries, tests, version: 9.1.x

#6930 docs(row-pinning): Update changelog
  CHANGELOG.md
Labels: documentation, row-pinning, version: 9.1.x

#6907 Row Pinning + Editing
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/grid/row-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  src/app/grid-column-pinning/grid-column-pinning.sample.ts
  src/app/grid-row-pinning/grid-row-pinning.sample.html
  src/app/grid-row-pinning/grid-row-pinning.sample.ts
Labels: grid, row-pinning, status: verified

#6878 feat(igxGrid): Row Pinning + Sorting. Adding test.
  projects/igniteui-angular/src/lib/grids/grid/row-pinning.spec.ts
Labels: row-pinning, sorting, tests

#6921 Added a test for GroupBy with Row Pinning
  projects/igniteui-angular/src/lib/grids/grid/row-pinning.spec.ts
Labels: grid, groupby, row-pinning, status: awaiting-test

#6909 feat(igxGrid): Row Pinning + MDV integration
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/row-pinning.spec.ts
Labels: grid, master-detail, row-pinning, status: verified, version: 9.1.x

#6924 feat(igxGrid): Row pinning + MRL integration (Adding tests)
  projects/igniteui-angular/src/lib/grids/grid/row-pinning.spec.ts
Labels: grid, multi-row-layout, row-pinning, status: verified, tests, version: 9.1.x

#6884 Row pinning and filtering intergration
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/grid/row-pinning.spec.ts
Labels: grid, row-pinning, status: verified

#6942 feat(igxGrid): Row pinning + Summaries integration
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/row-pinning.spec.ts
Labels: grid, row-pinning, status: verified, summaries, version: 9.1.x

#6932 Tests Refactoring: IgxGrid - Summaries
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: grid, refactoring, summaries, tests, version: 9.0.x

#6948 fix(igxGrid): Fix and test for pinning row at index.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/row-pinning.spec.ts
Labels: grid, row-pinning, status: verified

#6904 feat(igxGrid): Row Pinning + Paging integration
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/grid/row-pinning.spec.ts
Labels: grid, paging, row-pinning, status: verified, version: 9.1.x

#6964 Move disabled on the Input element
  projects/igniteui-angular/src/lib/select/select.component.html
Labels: select, status: verified, version: 8.2.x

#6963 Move disabled on the Input element
  projects/igniteui-angular/src/lib/select/select.component.html
Labels: select, status: verified, version: 9.0.x

#6957 fix(select): Move disabled on the Input elem #6908
  projects/igniteui-angular/src/lib/select/select.component.html
Labels: select, status: verified, version: 9.1.x

#6919 Row pinning and search integration
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/grid/row-pinning.spec.ts
Labels: grid, row-pinning, status: verified

#6917 fix(filtering): Fix issue when switch conditions #6519
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filtering, grid, status: verified, version: 8.2.x

#6970 fix(filtering): Fix issue when switch conditions #6519
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filtering, grid, status: verified, version: 9.0.x

#6952 fix(navbar): align navbar text in bootstrap theme
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
Labels: navbar, status: verified, theme, version: 9.1.x

#6967 test(row-pinning): Add test for row pinning and hiding #6640
  projects/igniteui-angular/src/lib/grids/grid/row-pinning.spec.ts
  src/app/grid-column-pinning/grid-column-pinning.sample.ts
  src/app/grid-row-pinning/grid-row-pinning.sample.html
Labels: column-hiding, grid, row-pinning, version: 9.1.x

#6968 Adding row pinning persistence via igxGridState directive.
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  src/app/grid-row-pinning/grid-row-pinning.sample.html
  src/app/grid-row-pinning/grid-row-pinning.sample.ts
Labels: grid, row-pinning, status: verified

#6966 Keyboard enhancements in MRL
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-mrl-navigation.service.ts
Labels: grid, keyboard-navigation, multi-row-layout, status: verified, version: 9.1.x

#6971 fix(filtering): Fix issue when switch conditions #6519
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: filtering, grid, status: verified, version: 9.1.x

#6978 fix(igxGrid): Render loading indicator only when needed.
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: browser: firefox, grid, hierarchical-grid, status: awaiting-test, tree-grid, version: 9.0.x

#6977 fix(*): Apply custom css classes to igxGrid and igxToolbar components
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.component.ts
Labels: grid, grid-toolbar, status: verified, version: 9.1.x

#6976 fix(*): Apply custom css classes to igxGrid and igxToolbar components
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.component.ts
Labels: grid, grid-toolbar, status: verified, version: 9.0.x

#6950 fix(igxGrid): Render loading indicator only when needed.
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: browser: firefox, grid, hierarchical-grid, status: verified, tree-grid

#6972 Row pinning + export to excel
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/jszip-verification-wrapper.spec.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/services/exporter-common/test-methods.spec.ts
  src/app/grid-row-pinning/grid-row-pinning.sample.html
  src/app/grid-row-pinning/grid-row-pinning.sample.ts
Labels: grid, status: verified

#6969 Test refactoring for igx-grid row selection (master)
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: grid, row-selection, status: verified, tests, version: 9.1.x

#6975 Test refactoring for igx-grid row selection (9.0.x)
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: grid, row-selection, status: verified, tests, version: 9.0.x

#6954 Change current page to equal last page, after changing perPage
  projects/igniteui-angular/src/lib/paginator/paginator.component.spec.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
Labels: paging, status: verified, version: 8.2.x

#6951 Change current page to equal last page, after changing perPage
  projects/igniteui-angular/src/lib/paginator/paginator.component.spec.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
Labels: grid, paging, status: verified, version: 9.1.x

#6943 fix(tabs): fixes and improvements on kb navigation and routing
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/tabs/tab-item.component.ts
  projects/igniteui-angular/src/lib/tabs/tab-routing-test-guard.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs-routing-view-components.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.html
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
Labels: status: verified, tabs, version: 9.1.x

#6992 fix(time-picker): dart sass fails to build
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_time-picker.scss
Labels: bootstrap-theme, status: awaiting-test, styling, time-picker, version: 9.1.x

#6983 Refactoring Hierarchical grid selection test suit (master)
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
Labels: hierarchical-grid, multi-cell-selection, row-selection, selection, status: verified, tests, version: 9.1.x

#6953 fix(navbar): align navbar text in bootstrap theme
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
Labels: navbar, status: verified, theme, version: 9.0.x

#6955 Change current page to equal last page, after changing perPage
  projects/igniteui-angular/src/lib/paginator/paginator.component.spec.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
Labels: paging, status: verified, version: 9.0.x

#6991 fix(time-picker): dart sass fails to build
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_time-picker.scss
Labels: bootstrap-theme, status: verified, styling, time-picker, version: 9.0.x

#6996 fix(tabs): fixes and improvements on kb navigation and routing
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/tabs/tab-item.component.ts
  projects/igniteui-angular/src/lib/tabs/tab-routing-test-guard.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs-routing-view-components.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.html
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
Labels: status: verified, tabs, version: 8.2.x

#6995 fix(tabs): fixes and improvements on kb navigation and routing
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/tabs/tab-item.component.ts
  projects/igniteui-angular/src/lib/tabs/tab-routing-test-guard.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs-routing-view-components.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.html
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
Labels: status: verified, tabs, version: 9.0.x

#6998 build(*): Update to latest Angular version
  package-lock.json
  package.json
Labels: version: 9.1.x

#6945 Update tests for the new keyboard navigation
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-moving.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-collapsible-columns.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/row-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-crud.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-multi-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-summaries.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: grid, keyboard-navigation, tests

#7014 fix(avatar): Make Avatar.size bindable #7013
  projects/igniteui-angular/src/lib/avatar/avatar.component.spec.ts
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
Labels: avatar, status: verified, version: 9.1.x

#7019 chore(*): update typedoc theme v
  package-lock.json
  package.json
Labels: documentation, status: verified, typedoc

#6988 Refactoring IgxGrid Paging tests (master)
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/test-utils/controls-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: grid, paging, tests, version: 9.1.x

#7027 fix(tooltip): make tooltip visible in fluent theme
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_tooltip.scss
Labels: Fluent-theme, status: verified, theme, tooltip, version: 9.0.x

#7026 fix(tooltip): make tooltip visible in fluent theme
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_tooltip.scss
Labels: Fluent-theme, status: verified, theme, tooltip, version: 9.1.x

#7017 Fix hgrid selection failing test
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
Labels: hierarchical-grid, multi-cell-selection, row-selection, selection, tests, version: 9.1.x

#6981 Fix order of actions in the Excel Style Filter
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.html
Labels: column-selection, excel-style-filtering, grid, status: verified, version: 9.1.x

#7021 Update filter cell style when column is selected
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-selection.spec.ts
Labels: column-selection, grid, status: verified, version: 9.1.x
