Repository IgniteUI/igniteui-angular, pull requests merged in 2020-09, with the labels that each got.

#8069 igx-month-picker should emit onSelection only when the selected month is changed - 9.1.x
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.html
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.ts
Labels: month-picker, status: verified, version: 9.1.x

#8068 igx-month-picker should emit onSelection only when the selected month is changed
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.html
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.ts
Labels: month-picker, status: verified, version: 10.2.x

#8070 igx-month-picker should emit onSelection only when the selected month is changed - 10.1.x
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.html
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.ts
Labels: month-picker, status: verified, version: 10.1.x

#8028 fix(inputs): use full union types on all string @Input properties - 9.1
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
  projects/igniteui-angular/src/lib/badge/badge.component.ts
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
  projects/igniteui-angular/src/lib/card/card.component.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/core/displayDensity.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/directives/divider/divider.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.common.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel-header.component.ts
  projects/igniteui-angular/src/lib/grids/column-chooser-base.ts
  projects/igniteui-angular/src/lib/grids/common/enums.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
  projects/igniteui-angular/src/lib/switch/switch.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.ts
  src/app/grid-groupby/grid-groupby.sample.ts
Labels: status: verified, version: 9.1.x

#8029 fix(inputs): use full union types on all string @Input properties - 10.0.x
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
  projects/igniteui-angular/src/lib/badge/badge.component.ts
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
  projects/igniteui-angular/src/lib/card/card.component.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/core/displayDensity.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/directives/divider/divider.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.common.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel-header.component.ts
  projects/igniteui-angular/src/lib/grids/column-chooser-base.ts
  projects/igniteui-angular/src/lib/grids/common/enums.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
  projects/igniteui-angular/src/lib/switch/switch.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.ts
  src/app/grid-groupby/grid-groupby.sample.ts
Labels: status: verified, version: 10.0.x

#8030 fix(inputs): use full union types on all string @Input properties - 10.1.x
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
  projects/igniteui-angular/src/lib/badge/badge.component.ts
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
  projects/igniteui-angular/src/lib/card/card.component.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/core/displayDensity.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/directives/divider/divider.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.common.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel-header.component.ts
  projects/igniteui-angular/src/lib/grids/column-actions/column-actions.component.ts
  projects/igniteui-angular/src/lib/grids/column-chooser-base.ts
  projects/igniteui-angular/src/lib/grids/common/enums.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
  projects/igniteui-angular/src/lib/switch/switch.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.ts
  src/app/grid-groupby/grid-groupby.sample.ts
Labels: status: verified, version: 10.1.x

#8031 fix(inputs): use full union types on all string @Input properties - master
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
  projects/igniteui-angular/src/lib/badge/badge.component.ts
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
  projects/igniteui-angular/src/lib/card/card.component.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/core/displayDensity.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/directives/divider/divider.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.common.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel-header.component.ts
  projects/igniteui-angular/src/lib/grids/column-actions/column-actions.component.ts
  projects/igniteui-angular/src/lib/grids/column-chooser-base.ts
  projects/igniteui-angular/src/lib/grids/common/enums.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
  projects/igniteui-angular/src/lib/switch/switch.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.ts
  src/app/grid-groupby/grid-groupby.sample.ts
Labels: status: verified, version: 10.2.x

#8061 Implement label for the time picker
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
  src/app/time-picker/time-picker.sample.html
Labels: feature, status: verified, time-picker, version: 10.2.x

#8087 fix(grid-demos): Set DisplayDensity type #6636
  src/app/action-strip/action-strip.sample.ts
  src/app/combo/combo.sample.ts
Labels: status: verified, version: 10.2.x

#8083 Adding string | number type to value on igx-badge
  projects/igniteui-angular/src/lib/badge/badge.component.ts
Labels: badge, version: 9.1.x

#8084 fix(badge): adding type for value #8077
  projects/igniteui-angular/src/lib/badge/badge.component.ts
Labels: badge, version: 10.1.x

#8085 fix(badge): adding type for value #8077
  projects/igniteui-angular/src/lib/badge/badge.component.ts
Labels: badge, version: 10.2.x

#8012 Column moving api master
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/columns/column-group.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-moving.spec.ts
  src/app/grid-column-moving/grid-column-moving.sample.html
  src/app/grid-column-moving/grid-column-moving.sample.ts
Labels: column-moving, grid, status: verified, version: 10.2.x

#8081 fix(input-group): fix textarea width to not overlap the suffix
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: input-group, status: verified, version: 10.2.x

#8082 fix(input-group): fix textarea width to not overlap the suffix
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: input-group, status: verified, version: 10.1.x

#8051 Implement input group type token
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.spec.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
  projects/igniteui-angular/src/lib/input-group/inputGroupType.ts
  projects/igniteui-angular/src/lib/input-group/public_api.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  src/app/input-group/input-group.sample.html
  src/app/input-group/input-group.sample.ts
Labels: feature, input-group, status: verified, version: 10.2.x

#8103 feat(time-picker): Updating the readme and the changelog, #6905
  CHANGELOG.md
  projects/igniteui-angular/src/lib/time-picker/README.md
Labels: feature, time-picker, version: 10.2.x

#8057 Calendar week numbers
  projects/igniteui-angular/src/lib/calendar/calendar-helper-utils.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.html
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
  projects/igniteui-angular/src/lib/calendar/calendar.ts
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.html
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_calendar.scss
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  src/app/calendar-views/calendar-views.sample.html
  src/app/calendar/calendar.sample.html
  src/app/date-picker/date-picker.sample.html
Labels: calendar, status: verified

#8128 fix(grid-demos): Set DisplayDensity type #6636 9.1.x
  src/app/action-strip/action-strip.sample.ts
  src/app/combo/combo.sample.ts
Labels: status: verified, version: 9.1.x

#8106 fix(grid-demos): Set DisplayDensity type #6636 10.1.x
  src/app/action-strip/action-strip.sample.ts
  src/app/combo/combo.sample.ts
Labels: status: verified, version: 10.1.x

#8123 Combo model validation fixes 9.1
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
Labels: combo, status: verified, version: 9.1.x

#8122 Combo model validation fixes 10.1
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
Labels: combo, status: verified, version: 10.1.x

#8121 Combo model validation fixes
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
Labels: combo, status: verified, version: 10.2.x

#8102 fix(grid): fix reordering logic when MCH #8092
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: column-moving, status: verified, version: 10.2.x

#8120 Fix columns reordering logic when MCH #8114
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: column-moving, status: verified, version: 9.1.x

#8114 Fix columns reordering logic when MCH
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: column-moving, status: verified, version: 10.1.x

#8144 Typescript 4 support
  e2e/tsconfig.e2e.json
  gulpfile.js
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/drop-down/public_api.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column-group.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-common.module.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.module.ts
  projects/igniteui-angular/src/lib/grids/moving/moving.drag.directive.ts
  projects/igniteui-angular/src/lib/grids/row-drag.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/select/select-navigation.directive.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs.common.ts
  projects/igniteui-angular/tsconfig.lib.json
  projects/igniteui-angular/tsconfig.spec.json
  src/app/date-range/date-range.sample.ts
  src/tsconfig.app.json
  src/tsconfig.spec.json
  tsconfig.base.json
  tsconfig.json
Labels: status: verified, version: 10.1.x

#8139 Enhance multi-cell selection in hierarchical grid -- master
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-cell.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
Labels: hierarchical-grid, multi-cell-selection, status: verified, version: 10.2.x

#8141 Enhance multi-cell selection in hierarchical grid -- 9.1.x
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-cell.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
Labels: hierarchical-grid, multi-cell-selection, status: verified, version: 9.1.x

#8117 Typescript 4 support
  e2e/tsconfig.e2e.json
  gulpfile.js
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/drop-down/public_api.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column-group.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-common.module.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.module.ts
  projects/igniteui-angular/src/lib/grids/moving/moving.drag.directive.ts
  projects/igniteui-angular/src/lib/grids/row-drag.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/select/select-navigation.directive.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs.common.ts
  projects/igniteui-angular/tsconfig.lib.json
  projects/igniteui-angular/tsconfig.spec.json
  src/app/date-range/date-range.sample.ts
  src/tsconfig.app.json
  src/tsconfig.spec.json
  tsconfig.base.json
  tsconfig.json
Labels: status: verified, version: 10.2.x

#8109 fix(igxGrid): zoom in/out with ctrl + mouse scroll when the mouse lies over the igxGrid body 10.0.x
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.ts
Labels: grid, status: verified, version: 10.0.x

#8105 fix(igxGrid): zoom in/out with ctrl + mouse scroll when the mouse lies over the igxGrid body
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.ts
Labels: grid, scroll, status: verified

#8140 Enhance multi-cell selection in hierarchical grid -- 10.1.x
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-cell.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
Labels: hierarchical-grid, multi-cell-selection, status: verified, version: 10.1.x

#8107 fix(igxGrid): zoom in/out with ctrl + mouse scroll when the mouse lies over the igxGrid body 10.1.x
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.ts
Labels: grid, status: verified, version: 10.1.x

#8142 fix(grid): improve bool cell style templating
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon/_icon-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon/_icon-theme.scss
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
Labels: cell-editing, cell-interaction, grid, status: verified, themes, version: 10.2.x

#8143 fix(grid): improve bool cell style templating
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon/_icon-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon/_icon-theme.scss
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
Labels: cell-editing, grid, status: verified, themes, version: 10.1.x

#8137 fix(theming): retrofit bug fixes from newer versions
  projects/igniteui-angular/src/lib/core/styles/base/elevations/_index.scss
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
Labels: status: verified, themes, version: 7.2.x

#8156 docs(avatar): add missing brackets
  projects/igniteui-angular/src/lib/avatar/README.md
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
Labels: avatar, status: verified, typedoc, version: 10.1.x

#8155 docs(avatar): add missing brackets
  projects/igniteui-angular/src/lib/avatar/README.md
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
Labels: avatar, status: verified, typedoc, version: 10.2.x

#8166 fix(theming): retrofit bug fixes from newer versions
  projects/igniteui-angular/src/lib/core/styles/base/elevations/_index.scss
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
Labels: status: verified, themes, version: 7.3.x

#8130 fix(grid): disable focus styles for min parts of the grid
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: grid, status: verified, version: 10.2.x

#8174 chore(*): Update changelog with `showWeekNumbers`
  CHANGELOG.md
Labels: documentation, version: 10.2.x

#8160 Add aria-labelledby for listbox - 9.1.x
  CHANGELOG.md
  projects/igniteui-angular/src/lib/select/select.component.html
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
Labels: aria-support, select, status: verified, version: 9.1.x

#8157 Add aria-labelledby for listbox - 10.1.x
  CHANGELOG.md
  projects/igniteui-angular/src/lib/select/select.component.html
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
Labels: aria-support, select, status: verified, version: 10.1.x

#8154 fix(select): Add aria-labelledby for listbox - 10.2.x
  CHANGELOG.md
  projects/igniteui-angular/src/lib/select/select.component.html
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
Labels: aria-support, select, status: verified, version: 10.2.x

#8088 feat(date-picker): content project the label, #8086
  CHANGELOG.md
  projects/igniteui-angular/src/lib/date-picker/README.md
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  src/app/date-picker/date-picker.sample.html
Labels: date-picker, status: verified, version: 10.2.x

#8099 feat(overlay): move target to overlaySettings
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-conditional-filter.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid.common.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.component.ts
  projects/igniteui-angular/src/lib/select/select-positioning-strategy.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/services/overlay/README.md
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
  projects/igniteui-angular/src/lib/services/overlay/position/IPositionStrategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/base-fit-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/connected-positioning-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/utilities.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
  src/app/combo/combo.sample.ts
  src/app/drop-down/drop-down.sample.ts
  src/app/grid-column-selection/grid-column-selection.sample.ts
  src/app/overlay/overlay.sample.ts
  src/app/time-picker/time-picker.sample.ts
Labels: overlay, squash-merge, status: verified, version: 10.1.x

#8177 test(grid): add some grid editing evt tests
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
Labels: cell-editing, grid, row-editing, tests

#8163 chore(*): Add function that waits for activeNodeChange/onSelection to complete.
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: tests, version: 10.2.x

#8164 chore(*): Add function that waits for activeNodeChange/onSelection to complete.
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: tests, version: 10.1.x

#8183 Refactor Multi Column Header tests
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-mch-samples.spec.ts
Labels: multi-column-headers, tests, version: 10.1.x

#8153 Refactor Multi Column Header tests
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-mch-sample.spec.ts
Labels: multi-column-headers, tests, version: 10.2.x

#8089 Month picker should not thrown an error when navigating with PgUp and PgDown
  projects/igniteui-angular/src/lib/calendar/calendar-multi-view.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.ts
Labels: month-picker, status: verified, version: 10.2.x

#8090 Month picker should not thrown an error when navigating with PgUp and PgDown - 9.1.x
  projects/igniteui-angular/src/lib/calendar/calendar-multi-view.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.ts
Labels: month-picker, status: verified, version: 9.1.x

#8091 Month picker should not thrown an error when navigating with PgUp and PgDown --10.1.x
  projects/igniteui-angular/src/lib/calendar/calendar-multi-view.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.ts
Labels: month-picker, status: verified, version: 10.1.x

#8093 Add row basic functionality
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-actions-base.directive.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.html
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-pinning-actions-icons.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-pinning-actions.component.html
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-pinning-actions.component.spec.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-pinning-actions.component.ts
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.spec.ts
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/common/column.interface.ts
  projects/igniteui-angular/src/lib/grids/common/grid-pipes.module.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/common/row.interface.ts
  projects/igniteui-angular/src/lib/grids/common/shared.module.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/grid-add-row/grid-add-row.sample.html
  src/app/grid-add-row/grid-add-row.sample.scss
  src/app/grid-add-row/grid-add-row.sample.ts
  src/app/routing.ts
Labels: grid, row-adding, status: verified, version: 10.2.x

#8199 fix(datepcker): Add aria attribute #8080
  CHANGELOG.md
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: aria-support, date-picker, status: verified, version: 9.1.x

#8182 Add aria-labelledby for input field
  CHANGELOG.md
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: aria-support, date-picker, status: verified, version: 10.2.x

#8192 Add aria-labelledby for input field - 10.1.x
  CHANGELOG.md
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: aria-support, date-picker, status: verified, version: 10.1.x

#8198 Valadzhov/date picker projected label fix 8086
  CHANGELOG.md
  projects/igniteui-angular/src/lib/date-picker/README.md
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: date-picker, status: verified, version: 10.2.x

#8203 Expose getRowData public API
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
Labels: grid, hierarchical-grid, status: verified, tree-grid, version: 10.2.x

#8112 Make filtering row respect grid's display density
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-cell.component.html
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-cell.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
Labels: display-density, filter-ui, filtering, grid, status: verified, version: 10.1.x

#8151 Make filtering row respect grid's display density
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-cell.component.html
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-cell.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
Labels: display-density, filter-ui, filtering, grid, status: verified, version: 9.1.x

#8110 Make filtering row respect grid's display density
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-cell.component.html
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-cell.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
Labels: display-density, filter-ui, filtering, grid, status: verified, version: 10.2.x

#8216 fix(input-group): prevent focusing input on hint click
  projects/igniteui-angular/src/lib/input-group/input-group.component.html
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
Labels: input-group, status: verified, version: 9.1.x

#8219 fix(navdrawer): disable flex shrink
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
Labels: nav-drawer, status: verified, version: 10.2.x

#8218 fix(navdrawer): disable flex shrink
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
Labels: nav-drawer, status: verified, version: 10.1.x

#8217 fix(navdrawer): disable flex shrink
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
Labels: nav-drawer, status: verified, version: 9.1.x

#8214 fix(input-group): prevent focusing input on hint click
  projects/igniteui-angular/src/lib/input-group/input-group.component.html
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
Labels: input-group, status: verified, version: 10.2.x

#8215 fix(input-group): prevent focusing input on hint click
  projects/igniteui-angular/src/lib/input-group/input-group.component.html
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
Labels: input-group, status: verified, version: 10.1.x

#8220 Fix parsing of month part of typed dates
  projects/igniteui-angular/src/lib/date-picker/date-picker.utils.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-parsing.spec.ts
Labels: date-picker, date-range-picker, date-time-editor, status: verified, utilities, version: 10.2.x

#8221 Fix parsing of month part of typed dates - 10.1.x
  projects/igniteui-angular/src/lib/date-picker/date-picker.utils.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-parsing.spec.ts
Labels: date-picker, date-range-picker, date-time-editor, status: verified, utilities, version: 10.1.x

#8222 Fix parsing of month part of typed dates - 9.1.x
  projects/igniteui-angular/src/lib/date-picker/date-picker.utils.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-parsing.spec.ts
Labels: date-picker, date-range-picker, date-time-editor, status: verified, utilities, version: 9.1.x

#8209 Disable DateRange if disabled is true - 10.1.x
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
Labels: date-range-picker, status: verified, version: 10.1.x

#8208 Disable DateRange if disabled is true
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
Labels: date-range-picker, status: verified, version: 10.2.x

#8210 Disable DateRange if disabled is true - 9.1.x
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
Labels: date-range-picker, status: verified, version: 9.1.x

#8196 Action strip menu items refactor and add new property for action items.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.html
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.spec.ts
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.ts
  projects/igniteui-angular/src/lib/action-strip/action-strip.module.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-action-button.component.html
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-action-button.component.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-actions-base.directive.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.html
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.spec.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-pinning-actions.component.html
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-pinning-actions.component.spec.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-pinning-actions.component.ts
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-theme.scss
  src/app/action-strip/action-strip.sample.html
  src/app/action-strip/action-strip.sample.ts
Labels: action-strip, grid, status: verified, version: 10.2.x

#8228 themes(grid): add new cell styling when in add row mode
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_grid.scss
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
Labels: grid, row-adding, status: verified, themes

#8234 NavigateTo fails to scroll to targeted row in MRL context scenario - 10.0
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-mrl-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
Labels: grid, multi-row-layout, status: verified, version: 10.0.x

#8233 NavigateTo fails to scroll to targeted row in MRL context scenario - 10.1
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-mrl-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
Labels: grid, multi-row-layout, status: verified, version: 10.1.x

#8212 NavigateTo fails to scroll to targeted row in MRL context scenario
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-mrl-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
Labels: grid, multi-row-layout, status: verified, version: 10.2.x

#8229 fix(datepicker): fix vertical datepicker max-width
  projects/igniteui-angular/src/lib/core/styles/components/date-picker/_date-picker-theme.scss
Labels: date-picker, status: verified, version: 10.2.x

#8197 refactor(toast): utilize Overlay Service to display in DOM
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-theme.scss
  projects/igniteui-angular/src/lib/toast/README.md
  projects/igniteui-angular/src/lib/toast/toast.component.spec.ts
  projects/igniteui-angular/src/lib/toast/toast.component.ts
  src/app/drop-down/drop-down-virtual/drop-down-virtual.component.ts
  src/app/grid/grid.sample.ts
  src/app/toast/toast.sample.html
  src/app/toast/toast.sample.ts
Labels: refactoring, status: awaiting-test, toast, version: 10.2.x

#8230 fix(datepicker): fix vertical datepicker max-width
  projects/igniteui-angular/src/lib/core/styles/components/date-picker/_date-picker-theme.scss
Labels: date-picker, status: verified, version: 10.1.x

#8231 fix(datepicker): fix vertical datepicker max-width
  projects/igniteui-angular/src/lib/core/styles/components/date-picker/_date-picker-theme.scss
Labels: date-picker, status: verified, version: 9.1.x

#8226 style(grid): position the "new row snackbar" in the center
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/snackbar/_snackbar-theme.scss
Labels: grid, row-adding, status: verified, styling, version: 10.2.x

#8191 Assign 'fake' id to the newly added row so that transactions could work
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-add-row.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.crud.spec.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: grid, row-adding, status: verified, transaction
