Repository IgniteUI/igniteui-angular, pull requests merged in 2021-02, with the labels that each got.

#8742 feat(excel-exporter): export grouped grid
  CHANGELOG.md
  projects/igniteui-angular/src/lib/services/csv/csv-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/excel-strings.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/services/exporter-common/exporter-options-base.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
  projects/igniteui-angular/src/lib/test-utils/template-strings.spec.ts
  src/app/grid-groupby/grid-groupby.sample.ts
Labels: excel-exporter, status: verified, version: 11.1.x

#8864 igx-carousel accessibility improvements
  projects/igniteui-angular/src/lib/carousel/carousel.component.html
  projects/igniteui-angular/src/lib/carousel/carousel.component.spec.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/carousel/carousel.directives.ts
  projects/igniteui-angular/src/lib/carousel/slide.component.ts
  projects/igniteui-angular/src/lib/core/i18n/carousel-resources.ts
  src/app/carousel/carousel.sample.html
Labels: a11y, carousel, status: verified, version: 11.1.x

#8873 fix(expansion-panel): Adding markForCheck() - 10.2.x #8501
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.component.ts
Labels: expansion-panel, status: verified, version: 10.2.x

#8872 fix(expansion-panel): Fixing collapsing - 11.0.x #8501
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.component.ts
Labels: expansion-panel, status: verified, version: 11.0.x

#8871 fix(expansion-panel): Fixing collapsing - master #8501
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.component.ts
Labels: expansion-panel, status: verified, version: 11.1.x

#8877 refactor(*): eslint errors, migrations
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-11_1_0/changes/outputs.json
  projects/igniteui-angular/migrations/update-11_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-11_1_0/index.ts
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.spec.ts
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-action-button.component.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-actions-base.directive.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.html
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.spec.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-pinning-actions.component.html
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-pinning-actions.component.spec.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-pinning-actions.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-add-row-ui.spec.ts
  projects/igniteui-angular/src/lib/splitter/splitter-bar/splitter-bar.component.ts
  projects/igniteui-angular/src/lib/splitter/splitter-pane/splitter-pane.component.ts
Labels: action-strip, refactoring, splitter, version: 11.1.x

#8885 docs(themes): fix expansion panel typography
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
Labels: expansion-panel, sassdoc, typography, version: 10.2.x

#8886 docs(themes): fix expansion panel typography
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
Labels: expansion-panel, sassdoc, typography, version: 11.0.x

#8887 lint(radio-group): fix warnings
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
Labels: radio-group, typedoc, version: 11.1.x

#8884 docs(themes): fix expansion panel typography
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
Labels: expansion-panel, sassdoc, typography, version: 11.1.x

#8889 docs(radio-group): hide ngAfterContentInit in typedoc
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
Labels: radio-group, typedoc, version: 10.2.x

#8888 docs(radio-group): hide ngAfterContentInit in typedoc
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
Labels: radio-group, typedoc, version: 11.0.x

#8879 Use new schematics API - 11.0.x
  projects/igniteui-angular/migrations/update-7_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-7_2_0/index.ts
  projects/igniteui-angular/schematics/ng-add/add-normalize.ts
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
  projects/igniteui-angular/schematics/ng-add/index.ts
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
  projects/igniteui-angular/schematics/utils/util.ts
Labels: schematics, status: verified, version: 11.0.x

#8858 Use new schematics API
  projects/igniteui-angular/migrations/update-7_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-7_2_0/index.ts
  projects/igniteui-angular/schematics/ng-add/add-normalize.ts
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
  projects/igniteui-angular/schematics/ng-add/index.ts
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
  projects/igniteui-angular/schematics/utils/util.ts
Labels: schematics, status: verified, version: 11.1.x

#8900 Fix styles for hint position
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: input-group, status: verified, version: 10.2.x

#8897 fix(*): lint warnings
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
  projects/igniteui-angular/src/lib/badge/badge.component.ts
  projects/igniteui-angular/src/lib/card/card.component.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
  projects/igniteui-angular/src/lib/directives/layout/layout.directive.ts
  projects/igniteui-angular/src/lib/directives/ripple/ripple.directive.ts
Labels: avatar, badge, button, card, layout, ripple, status: verified, version: 11.1.x

#8901 Fix styles for hint position
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: input-group, status: verified, version: 11.0.x

#8902 Fix styles for hint position
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: input-group, status: verified, version: 11.1.x

#8876 fix(tests): fixing test function -master #8346
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: version: 11.1.x

#8846 Update the grid theme
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_grid.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_grid.scss
Labels: grid: general, status: verified, themes

#8862 Implement a typescript plugin that preserves the TSLS - 11.0
  projects/igniteui-angular/migrations/common/ServerHost.ts
  projects/igniteui-angular/migrations/common/tsPlugin/TSLanguageService.ts
  projects/igniteui-angular/migrations/common/tsPlugin/index.ts
  projects/igniteui-angular/migrations/common/tsUtils.ts
Labels: migrations, status: verified, version: 11.0.x

#8890 fix(excel-export): use field if header is undefined or empty
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: excel-exporter, status: verified, version: 11.1.x

#8892 fix(excel-export): use field if header is undefined or empty
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: excel-exporter, status: verified, version: 10.2.x

#8891 fix(excel-export): use field if header is undefined or empty
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: excel-exporter, status: verified, version: 11.0.x

#8829 Implement a typescript plugin that preserves the TSLS
  projects/igniteui-angular/migrations/common/ServerHost.ts
  projects/igniteui-angular/migrations/common/tsPlugin/TSLanguageService.ts
  projects/igniteui-angular/migrations/common/tsPlugin/index.ts
  projects/igniteui-angular/migrations/common/tsUtils.ts
Labels: migrations, squash-merge, status: verified, version: 11.1.x

#8895 lint(*): fix warnings and add migrations
  projects/igniteui-angular/migrations/update-11_1_0/changes/members.json
  projects/igniteui-angular/migrations/update-11_1_0/changes/outputs.json
  projects/igniteui-angular/migrations/update-11_1_0/index.spec.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.html
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.html
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/snackbar/snackbar.component.spec.ts
  projects/igniteui-angular/src/lib/snackbar/snackbar.component.ts
  projects/igniteui-angular/src/lib/switch/switch.component.ts
  projects/igniteui-angular/src/lib/toast/toast.component.spec.ts
  projects/igniteui-angular/src/lib/toast/toast.component.ts
Labels: button-group, checkbox, migrations, snackbar, switch, toast, typedoc, version: 11.1.x

#8649 feat(grid): Introduce selectRowOnClick property
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-components.spec.ts
  src/app/hierarchical-grid-add-row/hierarchical-grid-add-row.sample.html
Labels: grid: row-selection, grid: tree-grid, squash-merge, status: verified

#8924 Add GridPagingMode migration
  .vscode/launch.json
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-11_1_0/index.ts
Labels: status: verified, version: 11.1.x

#8928 fix(grid): style select component in cell editing mode
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: grid: cell-editing, status: verified, themes, version: 10.2.x

#8927 fix(grid): style select component in cell editing mode
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: grid: cell-editing, status: verified, themes, version: 11.0.x

#8938 fix(input-group): don't initialize _variant with material theme
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
Labels: input-group, status: verified, version: 11.1.x

#8926 fix(grid): style select component in cell editing mode
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: grid: cell-editing, status: verified, themes, version: 11.1.x

#8796 Add missing "ing" or "ed" events for grid features
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/column-actions/column-actions.component.html
  projects/igniteui-angular/src/lib/grids/column-actions/column-actions.component.ts
  projects/igniteui-angular/src/lib/grids/column-actions/column-hiding.directive.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav-headers.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/public_api.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/grid-events/grid-events.component.html
  src/app/grid-events/grid-events.component.scss
  src/app/grid-events/grid-events.component.ts
  src/app/routing.ts
Labels: grid: general, status: verified, version: 11.1.x

#8883 Calendar lint warnings and on event renaming
  .eslintrc.json
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-11_1_0/changes/members.json
  projects/igniteui-angular/migrations/update-11_1_0/changes/outputs.json
  projects/igniteui-angular/migrations/update-11_1_0/index.spec.ts
  projects/igniteui-angular/src/lib/calendar/README.md
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
  projects/igniteui-angular/src/lib/calendar/calendar-multi-view.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.html
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
  projects/igniteui-angular/src/lib/calendar/calendar.directives.ts
  projects/igniteui-angular/src/lib/calendar/days-view/day-item.component.ts
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.html
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.ts
  projects/igniteui-angular/src/lib/calendar/days-view/daysview-navigation.service.ts
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.html
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.ts
  projects/igniteui-angular/src/lib/calendar/months-view/months-view.component.html
  projects/igniteui-angular/src/lib/calendar/months-view/months-view.component.ts
  projects/igniteui-angular/src/lib/calendar/years-view/years-view.component.html
  projects/igniteui-angular/src/lib/calendar/years-view/years-view.component.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.html
  src/app/calendar-views/calendar-views.sample.html
  src/app/calendar-views/calendar-views.sample.ts
  src/app/calendar/calendar.sample.html
  src/app/calendar/calendar.sample.ts
Labels: calendar, status: verified, version: 11.1.x

#8348 feat(input): initial file type implementation
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/i18n/input-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.html
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  src/app/input-group/input-group.sample.html
Labels: input, input-group, status: verified, version: 11.1.x

#8915 Fixed ESLint warnings for BottomNavigation, Exporters ...
  projects/igniteui-angular/migrations/update-11_1_0/changes/members.json
  projects/igniteui-angular/migrations/update-11_1_0/changes/outputs.json
  projects/igniteui-angular/migrations/update-11_1_0/index.spec.ts
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
  projects/igniteui-angular/src/lib/directives/tooltip/README.md
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-exporter.component.ts
  projects/igniteui-angular/src/lib/list/README.md
  projects/igniteui-angular/src/lib/list/list-item.component.ts
  projects/igniteui-angular/src/lib/list/list.common.ts
  projects/igniteui-angular/src/lib/list/list.component.spec.ts
  projects/igniteui-angular/src/lib/list/list.component.ts
  projects/igniteui-angular/src/lib/navbar/README.md
  projects/igniteui-angular/src/lib/navbar/navbar.component.spec.ts
  projects/igniteui-angular/src/lib/navbar/navbar.component.ts
  projects/igniteui-angular/src/lib/services/csv/char-separated-value-data.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter-options.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter.spec.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter.ts
  projects/igniteui-angular/src/lib/services/csv/csv-verification-wrapper.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/excel-folders.ts
  projects/igniteui-angular/src/lib/services/excel/jszip-verification-wrapper.spec.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/services/exporter-common/components-declarations.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/exporter-options-base.ts
  projects/igniteui-angular/src/lib/tabbar/bottom-nav-routing-test-guard.spec.ts
  projects/igniteui-angular/src/lib/tabbar/tabbar.component.spec.ts
  projects/igniteui-angular/src/lib/tabbar/tabbar.component.ts
  projects/igniteui-angular/src/lib/tabs/tab-item.component.ts
  projects/igniteui-angular/src/lib/tabs/tab-routing-test-guard.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs-group.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.common.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.directives.ts
  projects/igniteui-angular/src/lib/test-utils/tooltip-components.spec.ts
Labels: bottom-nav, exporters, list, navbar, status: verified, tabs, text-highlight, tooltip, version: 11.1.x

#8922 Fixed ESLint warnings in Filtering and TreeGrid
  .eslintrc.json
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.html
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-cell.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-conditional-filter.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-header.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-moving.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-position-strategy.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-sorting.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-add-row-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-crud.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.filtering.pipe.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.interfaces.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.summary.pipe.ts
Labels: filtering, grid: tree-grid, status: verified, version: 11.1.x

#8950 fix(ExcelExport): Create JSZip with .default().
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
Labels: excel-exporter, status: verified, version: 11.1.x

#8903 chore(themes): remove palette from individual component themes
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/bottom-nav/_bottom-nav-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/column-actions/_column-actions-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/date-range-picker/_date-range-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/divider/_divider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dock-manager/_dock-manager-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-summary/_grid-summary-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/highlight/highlight-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon/_icon-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/paginator/_paginator-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/ripple/_ripple-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/scrollbar/scrollbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/snackbar/_snackbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/splitter/_splitter-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tooltip/_tooltip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/watermark/_watermark-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
Labels: status: verified, themes, version: 11.1.x

#8908 chore(*): Roadmap-m15-update
  ROADMAP.md
Labels: documentation, version: 11.1.x

#8955 Expose paging events in paginator, deprecate paging proxy members in grid
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/paginator/interfaces.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.spec.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
  projects/igniteui-angular/src/lib/test-utils/paginator-functions.spec.ts
  src/app/app.module.ts
  src/app/grid-events/grid-events.component.html
  src/app/grid-events/grid-events.component.ts
  src/app/grid-events/pagingPipe.ts
Labels: grid: paging, paginator, status: verified, version: 11.1.x

#8916 Currency type column
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/columns/interfaces.ts
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-conditional-filter.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  src/app/grid-percentage-columns/grid-percantge-widths.sample.html
Labels: grid: column-types, status: verified, version: 11.1.x

#8937 fix(date-picker): Deprecation warning for the label property. #8917
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: date-picker, label, squash-merge, status: verified, version: 10.2.x

#8936 fix(date-picker): Deprecation warning for the label property. #8917
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: date-picker, label, squash-merge, status: verified, version: 11.0.x

#8934 fix(date-picker): Deprecation warning for the label property. #8917
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: date-picker, label, squash-merge, status: verified, version: 11.1.x

#8962 refactor(demos): fix event names after refactoring
  src/app/button/button.sample.html
  src/app/grid-auto-size/grid-auto-size.sample.html
  src/app/grid-cellEditing/grid-cellEditing.component.html
  src/app/grid-column-moving/grid-column-moving.sample.html
  src/app/grid-column-selection/grid-column-selection.sample.html
  src/app/grid-esf-load-on-demand/grid-esf-load-on-demand.component.html
  src/app/grid-external-filtering/grid-external-filtering.sample.html
  src/app/grid-filtering/grid-filtering.sample.html
  src/app/grid-finjs/controllers.component.html
  src/app/grid-groupby/grid-groupby.sample.html
  src/app/grid-mrl-custom-navigation/grid-mrl-custom-navigation.sample.html
  src/app/grid-multi-row-layout/grid-mrl.sample.html
  src/app/grid-row-draggable/grid-row-draggable.sample.html
  src/app/grid-search/grid-search.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.html
  src/app/list/list.sample.html
  src/app/mask/mask.sample.html
  src/app/select/select.sample.html
  src/app/snackbar/snackbar.sample.html
  src/app/tree-grid-flat-data/tree-grid-flat-data.sample.html
  src/app/tree-grid-load-on-demand/tree-grid-load-on-demand.sample.html
  src/app/tree-grid/tree-grid.sample.html
Labels: demos, status: verified

#8909 resolving eslint warnings in chips, splitter deprecation
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-11_1_0/changes/members.json
  projects/igniteui-angular/migrations/update-11_1_0/changes/outputs.json
  projects/igniteui-angular/migrations/update-11_1_0/index.spec.ts
  projects/igniteui-angular/src/lib/chips/README.md
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/chip.spec.ts
  projects/igniteui-angular/src/lib/chips/chips-area.component.ts
  projects/igniteui-angular/src/lib/chips/chips-area.spec.ts
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.html
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-cell.component.html
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/splitter/splitter-pane/splitter-pane.component.ts
  src/app/chips/chips.sample.html
Labels: refactoring, status: verified, version: 11.1.x

#8905 Preserve focus styles while the component is focused.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.html
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.spec.ts
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/radio/radio.component.html
  projects/igniteui-angular/src/lib/radio/radio.component.ts
  projects/igniteui-angular/src/lib/switch/switch.component.html
  projects/igniteui-angular/src/lib/switch/switch.component.spec.ts
  projects/igniteui-angular/src/lib/switch/switch.component.ts
  src/app/input/input.sample.html
Labels: checkbox, radio-button, status: verified, switch, version: 11.1.x

#8918 End edit and discard editing value on interactions
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-moving.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-add-row.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/row-drag.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-api.service.ts
Labels: grid: general, status: verified, version: 11.1.x

#8980 chore(*): dependency updates
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
  projects/igniteui-angular/src/lib/switch/switch.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/controls-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
Labels: ci: build, version: 11.1.x

#8953 fix(grid): Add FormattedFilteringStrategy #8009
  CHANGELOG.md
  projects/igniteui-angular/src/lib/data-operations/filtering-strategy.ts
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/public_api.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.filtering.pipe.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.filtering.strategy.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  src/app/grid-filtering/grid-filtering.sample.html
  src/app/grid-filtering/grid-filtering.sample.ts
Labels: filtering, grid: excel-style-filtering, status: verified, version: 11.1.x

#8957 fix(Exporters): Fixed hidden column's export index
  projects/igniteui-angular/src/lib/services/csv/csv-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: exporters, status: verified, version: 10.2.x

#8958 fix(Exporters): Fixed hidden column's export index
  projects/igniteui-angular/src/lib/services/csv/csv-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: exporters, status: verified, version: 11.0.x

#8959 fix(Exporters): Fixed hidden column's export index
  projects/igniteui-angular/src/lib/services/csv/csv-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: exporters, status: verified, version: 11.1.x

#8942 Add hammerjs to Angular options - 11.0.x
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
  projects/igniteui-angular/schematics/ng-add/index.ts
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
Labels: ng add, schematics, status: verified, version: 11.0.x

#8941 Add hammerjs to Angular options- master
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
  projects/igniteui-angular/schematics/ng-add/index.ts
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
Labels: ng add, schematics, status: verified, version: 11.1.x

#8951 feat(button): icon + label button styling
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  src/app/button/button.sample.css
  src/app/button/button.sample.html
Labels: button, status: verified, version: 11.1.x

#8944 Add hammerjs to Angular options - 10.2.x
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
  projects/igniteui-angular/schematics/ng-add/index.ts
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
Labels: ng add, schematics, status: verified, version: 10.2.x

#8956 fix(hierarchical-grid): fix excel style filtering in row-island
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: grid: excel-style-filtering, grid: hierarchical-grid, status: verified, version: 11.0.x

#8983 fix(hierarchical-grid): fix excel style filtering in row-island
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: grid: excel-style-filtering, grid: hierarchical-grid, status: verified, version: 11.1.x

#8984 fix(hierarchical-grid): fix excel style filtering in row-island
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: grid: excel-style-filtering, grid: hierarchical-grid, status: verified, version: 10.2.x

#8979 refactor(themes): add and use elevations as css vars
  projects/igniteui-angular/src/lib/core/styles/base/elevations/_index.scss
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_mixins.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/bottom-nav/_bottom-nav-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/column-actions/_column-actions-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/date-picker/_date-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_advanced-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/snackbar/_snackbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/splitter/_splitter-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-theme.scss
  projects/igniteui-angular/src/lib/core/styles/spec/_index.scss
  projects/igniteui-angular/src/lib/core/styles/spec/_mixins.spec.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
Labels: themes, version: 12.0.x

#8993 Renamed exporters' onColumnExport and onRowExport events
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-11_1_0/changes/members.json
  projects/igniteui-angular/migrations/update-11_1_0/index.spec.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: exporters, status: verified, version: 11.1.x

#8990 fix(input): remove deprecated property
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
  src/app/date-time-editor/date-time-editor.sample.html
Labels: input, status: verified, version: 11.1.x

#9000 fix(Exporters): Added missing classes in migration
  projects/igniteui-angular/migrations/update-11_1_0/changes/members.json
Labels: exporters, status: verified, version: 11.1.x

#8988 Introducing percent type column
  CHANGELOG.md
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-conditional-filter.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
  src/app/grid-percentage-columns/grid-percantge-widths.sample.html
Labels: grid: column-types, status: verified, version: 11.1.x

#8995 chore(*): update product packages
  projects/igniteui-angular/package.json
Labels: schematics, version: 11.1.x

#8772 feat(tree-grid): add cascading row selection #8040
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/common/enums.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-expanding.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-functions.spec.ts
  src/app/tree-grid/tree-grid.sample.html
  src/app/tree-grid/tree-grid.sample.ts
Labels: grid: row-selection, grid: tree-grid, squash-merge, status: verified, version: 11.1.x

#9010 Fix: deprecate method decorator function
  projects/igniteui-angular/src/lib/core/deprecateDecorators.ts
Labels: status: verified, version: 11.1.x

#8973 fix(hierarchical-grid): emit column events for child grid #8644
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: grid: hierarchical-grid, status: verified, version: 10.2.x

#8963 fix(hierarchical-grid): emit column events for child grid #8644
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: grid: hierarchical-grid, status: verified, version: 11.0.x

#8972 fix(hierarchical-grid): emit column events for child grid #8644
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: grid: hierarchical-grid, status: verified, version: 11.1.x

#8992 refactor(themes): remove unnecessary icon margins
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon/_icon-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-advanced-filtering.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-exporter.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-hiding.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-pinning.component.html
  src/app/buttonGroup/buttonGroup.sample.html
  src/app/grid-column-selection/grid-column-selection.sample.html
  src/app/grid-events/grid-events.component.html
  src/app/grid-toolbar/grid-toolbar-custom.sample.html
Labels: refactoring, status: awaiting-test, themes

#9016 chore(schematics): put schematics beta
  projects/igniteui-angular/package.json
Labels: schematics, version: 11.1.x

#9006 fix(autocomplete): Incorrect toggling of _shouldBeOpen - master - #8899
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
Labels: autocomplete, status: verified, version: 11.1.x

#9007 fix(autocomplete): Incorrect toggling of _shouldBeOpen - 11.0.x #8899
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
Labels: autocomplete, status: verified, version: 11.0.x

#9003 Enable IE support trough the .browserslistrc file - 10.2.x
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
  projects/igniteui-angular/schematics/ng-add/index.ts
Labels: browser: IE, ng add, schematics, status: verified, version: 10.2.x

#9001 Enable IE support trough the .browserslistrc file
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
  projects/igniteui-angular/schematics/ng-add/index.ts
Labels: browser: IE, browser: IE-11, ng add, schematics, status: verified, version: 11.1.x

#9002 Enable IE support trough the .browserslistrc file - 11.0.x
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
  projects/igniteui-angular/schematics/ng-add/index.ts
Labels: browser: IE, browser: IE-11, ng add, schematics, status: verified, version: 11.0.x

#9008 fix(autocomplete): Incorrect toggling of _shouldBeOpen 10.2.x #8899
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
Labels: autocomplete, status: verified, version: 10.2.x

#8989 feat(igxSplitter): Add resizeStart/resizing/resizeEnd events.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/splitter/splitter.component.spec.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
Labels: splitter, status: verified, version: 11.1.x

#9019 fix(migrations): resolve package for checks in seperate process #8254
  projects/igniteui-angular/migrations/common/ServerHost.ts
  projects/igniteui-angular/migrations/common/UpdateChanges.ts
  projects/igniteui-angular/migrations/common/tsUtils.ts
  projects/igniteui-angular/migrations/common/util.ts
  projects/igniteui-angular/migrations/update-11_1_0/index.ts
Labels: migrations, status: verified, version: 11.1.x

#9017 fix(migrations): resolve package for checks in seperate process #8254
  projects/igniteui-angular/migrations/common/UpdateChanges.ts
  projects/igniteui-angular/migrations/common/tsUtils.ts
  projects/igniteui-angular/migrations/common/util.ts
Labels: migrations, status: verified, version: 10.2.x

#9018 fix(migrations): resolve package for checks in seperate process #8254
  projects/igniteui-angular/migrations/common/ServerHost.ts
  projects/igniteui-angular/migrations/common/UpdateChanges.ts
  projects/igniteui-angular/migrations/common/tsUtils.ts
  projects/igniteui-angular/migrations/common/util.ts
Labels: migrations, status: verified, version: 11.0.x

#9026 fix(*): replacing anchor with span elements
  projects/igniteui-angular/src/lib/carousel/carousel.component.html
Labels: carousel, refactoring, status: verified, version: 11.1.x

#9027 Revert paging changes
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/paginator/interfaces.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.spec.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
  projects/igniteui-angular/src/lib/test-utils/paginator-functions.spec.ts
  src/app/app.module.ts
  src/app/grid-events/grid-events.component.html
  src/app/grid-events/grid-events.component.ts
  src/app/grid-events/pagingPipe.ts
Labels: status: verified

#9021 Adding specs for mixins
  .stylelintrc.json
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_mixins.scss
  projects/igniteui-angular/src/lib/core/styles/spec/_elevations.spec.scss
  projects/igniteui-angular/src/lib/core/styles/spec/_index.scss
  projects/igniteui-angular/src/lib/core/styles/spec/_mixins.spec.scss
Labels: sass-spec, status: awaiting-test

#9022 chore(schematics): update with 11.1.710.
  projects/igniteui-angular/package.json
Labels: schematics, version: 11.1.x

#8975 fix(cell selection): Fixed copy-paste behavior #8818
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-multi-cell-selection.spec.ts
Labels: grid: copy-paste, grid: selection, status: verified, version: 11.1.x

#9042 fix(autocomplete): Using _shouldBeOpen for state changes coming from outside the component and adding exportAs - 11.1.x - #8899
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
Labels: autocomplete, status: verified, version: 11.1.x

#9041 fix(autocomplete): Using _shouldBeOpen for state changes coming from outside the component and adding exportAs - 11.0.x - #8899
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
Labels: autocomplete, status: verified, version: 11.0.x

#9044 fix(autocomplete): Using _shouldBeOpen for state changes coming from outside the compoenent and adding exportAs - 10.2.x - #8899
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
Labels: autocomplete, status: verified, version: 10.2.x

#9056 Range picker does not expand on Alt + ArrowDown when in dialog mode - 11.1.x
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
Labels: date-range-picker, status: verified, version: 11.1.x

#9054 Range picker does not expand on Alt + ArrowDown when in dialog mode - 11.0.x
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
Labels: date-range-picker, status: verified, version: 11.0.x

#9053 Range picker keyboard navigation - 10.2.x
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
Labels: date-range-picker, status: verified, version: 10.2.x

#9031 fix(Toolbar): Fixed toolbars in dev demos after the component's refactoring.
  src/app/grid-auto-size/grid-auto-size.sample.html
  src/app/grid-column-actions/grid-column-actions.sample.html
  src/app/grid-column-groups/grid-column-groups.sample.html
  src/app/grid-column-moving/grid-column-moving.sample.html
  src/app/grid-column-selection/grid-column-selection.sample.html
  src/app/grid-esf-load-on-demand/grid-esf-load-on-demand.component.html
  src/app/grid-external-filtering/grid-external-filtering.sample.html
  src/app/grid-filtering/grid-filtering.sample.html
  src/app/grid-flex-layout/grid-flex.sample.html
  src/app/grid-mrl-custom-navigation/grid-mrl-custom-navigation.sample.html
  src/app/grid-multi-row-layout/grid-mrl.sample.html
  src/app/grid-nested-props/grid-nested-props.sample.html
  src/app/grid-performance/grid-performance.sample.html
  src/app/grid-row-pinning/grid-row-pinning.sample.html
  src/app/grid-search-box/grid-search-box.component.html
  src/app/grid-search/grid-search.sample.html
  src/app/grid-state/grid-state.component.html
  src/app/grid-summaries/grid-summaries.sample.html
  src/app/grid-summaries/grid-summaries.sample.ts
  src/app/grid-toolbar/grid-toolbar-custom.sample.html
  src/app/grid-toolbar/grid-toolbar-custom.sample.ts
  src/app/tree-grid-flat-data/tree-grid-flat-data.sample.html
  src/app/tree-grid-load-on-demand/tree-grid-load-on-demand.sample.html
  src/app/tree-grid/tree-grid.sample.html
Labels: grid: toolbar, status: verified, version: 11.1.x

#9015 fix(Toolbar): Fixed toolbars in dev demos after the component's refactoring.
  src/app/grid-auto-size/grid-auto-size.sample.html
  src/app/grid-column-actions/grid-column-actions.sample.html
  src/app/grid-column-groups/grid-column-groups.sample.html
  src/app/grid-column-moving/grid-column-moving.sample.html
  src/app/grid-column-pinning/grid-column-pinning.sample.html
  src/app/grid-column-pinning/grid-column-pinning.sample.ts
  src/app/grid-column-selection/grid-column-selection.sample.html
  src/app/grid-esf-load-on-demand/grid-esf-load-on-demand.component.html
  src/app/grid-external-filtering/grid-external-filtering.sample.html
  src/app/grid-filtering/grid-filtering.sample.html
  src/app/grid-flex-layout/grid-flex.sample.html
  src/app/grid-mrl-custom-navigation/grid-mrl-custom-navigation.sample.html
  src/app/grid-multi-row-layout/grid-mrl.sample.html
  src/app/grid-nested-props/grid-nested-props.sample.html
  src/app/grid-performance/grid-performance.sample.html
  src/app/grid-row-pinning/grid-row-pinning.sample.html
  src/app/grid-search-box/grid-search-box.component.html
  src/app/grid-search/grid-search.sample.html
  src/app/grid-state/grid-state.component.html
  src/app/grid-summaries/grid-summaries.sample.html
  src/app/grid-summaries/grid-summaries.sample.ts
  src/app/grid-toolbar/grid-toolbar-custom.sample.html
  src/app/grid-toolbar/grid-toolbar-custom.sample.ts
  src/app/tree-grid-flat-data/tree-grid-flat-data.sample.html
  src/app/tree-grid-load-on-demand/tree-grid-load-on-demand.sample.html
  src/app/tree-grid/tree-grid.sample.html
Labels: grid: toolbar, status: verified, version: 11.0.x

#9070 Return all resource strings-10.2
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
Labels: localization, status: verified, version: 10.2.x

#9071 Return all resource strings-11.0.x
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
Labels: localization, status: verified, version: 11.0.x

#9072 Return all resource strings-11.1.x
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
Labels: localization, status: verified, version: 11.1.x

#9074 ci(*): use matrix node version
  .github/workflows/nodejs.yml
Labels: ci: github-actions, version: 10.2.x

#9075 ci(*): use matrix node version
  .github/workflows/nodejs.yml
Labels: ci: github-actions, version: 11.0.x

#9076 ci(*): use matrix node version
  .github/workflows/nodejs.yml
Labels: ci: github-actions, version: 11.1.x

#9069 fix(igx-dialog): max width
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/dialog/dialog-content.component.html
  src/app/dialog/dialog.sample.html
Labels: dialog, status: verified, styling, version: 11.1.x

#9030 fix(Grid Navigation): Adding a null check in focusTBody() after filtering out all grid records.
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: grid: general, keyboard-navigation, status: verified, version: 10.2.x

#9033 fix(Grid Navigation): Adding a null check in focusTBody() after filtering out all grid records.
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: grid: filter-ui, grid: general, keyboard-navigation, status: verified, version: 11.1.x

#9032 fix(Navigation): activeNode null check in focusTBody()
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: grid: filter-ui, grid: general, keyboard-navigation, status: verified, version: 11.0.x

#9029 fix column hiding when column is hidden from ESF
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: grid: column-hiding, grid: excel-style-filtering, status: verified, version: 11.0.x

#9034 fix(AdvancedFilter): Initialize lastActiveNode.
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-components.spec.ts
Labels: grid: advanced-filtering, grid: hierarchical-grid, status: verified, version: 10.2.x

#9035 fix(grid): fix column hiding from esf
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: grid: column-hiding, grid: excel-style-filtering, status: verified, version: 11.1.x

#9036 fix(AdvancedFilter): Initialize lastActiveNode.
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-components.spec.ts
Labels: grid: advanced-filtering, status: verified, version: 11.0.x

#9037 fix(AdvancedFilter): Initialize lastActiveNode.
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-components.spec.ts
Labels: grid: advanced-filtering, status: verified, version: 11.1.x

#9077 fix:(igx-navbar) nested elements icon color
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
Labels: navbar, status: verified, styling, version: 11.1.x

#9087 refactor(migrations): do not duplicate theme props
  projects/igniteui-angular/migrations/common/UpdateChanges.ts
Labels: migrations, version: 11.1.x

#9078 fix(migrations): don't skip library projects, don't append prefix
  projects/igniteui-angular/migrations/common/UpdateChanges.spec.ts
  projects/igniteui-angular/migrations/common/util.ts
Labels: migrations, status: verified, version: 11.1.x
