Repository IgniteUI/igniteui-angular, pull requests merged in 2021-12, with the labels that each got.

#10652 Collapse expanded panels when setting singleBranchExpand to true 12.3.x
  projects/igniteui-angular/src/lib/accordion/accordion.component.spec.ts
  projects/igniteui-angular/src/lib/accordion/accordion.component.ts
Labels: :white_check_mark: status: verified, accordion, version: 12.3.x

#10654 Collapse expanded panels when setting singleBranchExpand to true 13.0.x
  projects/igniteui-angular/src/lib/accordion/accordion.component.spec.ts
  projects/igniteui-angular/src/lib/accordion/accordion.component.ts
Labels: :white_check_mark: status: verified, accordion, version: 13.0.x

#10526 feat(pivot): keyboard navigation for pivot grid
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.module.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/public_api.ts
  projects/igniteui-angular/src/lib/test-utils/pivot-grid-samples.spec.ts
  src/app/pivot-grid/pivot-grid.sample.html
  src/app/pivot-grid/pivot-grid.sample.scss
Labels: :white_check_mark: status: verified, grid: pivot

#10508 feat(grid): add new directive for retemplating summaries
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.module.ts
  projects/igniteui-angular/src/lib/grids/columns/templates.directive.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/summaries/summary-cell.component.html
  projects/igniteui-angular/src/lib/grids/summaries/summary-cell.component.ts
  projects/igniteui-angular/src/lib/grids/summaries/summary-row.component.html
  projects/igniteui-angular/src/lib/grids/summaries/summary-row.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/test-utils/template-strings.spec.ts
  src/app/grid-summaries/grid-summaries.sample.html
  src/app/grid-summaries/grid-summaries.sample.ts
Labels: :white_check_mark: status: verified, grid: summaries

#10655 Add additional settable pivot keys: columnDimensionSeparator, rowDimensionSeparator.
  projects/igniteui-angular/src/lib/data-operations/pivot-strategy.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  src/app/pivot-grid-noop/pivot-grid-noop.sample.html
  src/app/pivot-grid-noop/pivot-grid-noop.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10228 refactor(progressbar): improve animations
  CHANGELOG.md
  projects/igniteui-angular/src/lib/progressbar/circularbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/linearbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
  projects/igniteui-angular/src/lib/progressbar/templates/linear-bar.component.html
  src/app/progressbar/progressbar.sample.html
Labels: :white_check_mark: status: verified, circular-progress, progress-bar, awaiting author, linear-progress, version: 13.0.x

#10657 Collect original records so that custom aggregations can be applied b…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10671 chore(*): update-roadmap-m19-03-dec
  ROADMAP.md
Labels: :book: documentation, version: 13.1.x

#10675 fix(combo): Changing selectedItems() to selection in the comments
  projects/igniteui-angular/src/lib/combo/combo.common.ts
Labels: :book: documentation, combo, version: 13.0.x

#10677 fix(combo): Changing selectedItems() to selection in the comments
  projects/igniteui-angular/src/lib/combo/combo.common.ts
Labels: :book: documentation, combo, version: 12.3.x

#10670 [igxPivot] Do not split ESF values by pivot separators
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10669 fix(themes): bootstrap input theme doesn't work
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_input-group.scss
Labels: input-group, bootstrap-theme, version: 13.0.x

#10384 fix(grid): make the igx-grid__tfoot-thumb separator visible
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :white_check_mark: status: verified, grid: summaries, version: 12.3.x

#10385 fix(grid): make the igx-grid__tfoot-thumb separator visible
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :white_check_mark: status: verified, grid: summaries, version: 13.0.x

#10630 perf(grid): Regenerate data view only when applicable
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column-group.component.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: :white_check_mark: status: verified, squash-merge, grid: performance, version: 13.0.x

#10674 Merging 13.0.x into master
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column-group.component.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/progressbar/circularbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/linearbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
  projects/igniteui-angular/src/lib/progressbar/templates/linear-bar.component.html
  src/app/progressbar/progressbar.sample.html
Labels: version: 13.1.x

#10694 perf(grid): Improved data view performance - 12.3.x
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column-group.component.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: :white_check_mark: status: verified, grid: performance, version: 12.3.x

#10668 Group records correctly when ignoreCase is set to true
  projects/igniteui-angular/src/lib/grids/common/strategy.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
Labels: :white_check_mark: status: verified, grid: groupby, version: 13.0.x

#10682 Fix for row header area size.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
Labels: :white_check_mark: status: verified, grid: pivot

#10705 V dyulgerov/fix combo undefined error 12.3.x
  projects/igniteui-angular/src/lib/combo/combo.common.ts
Labels: :white_check_mark: status: verified, combo, version: 12.3.x

#10724 V dyulgerov/fix combo undefined error 12.1.x
  projects/igniteui-angular/src/lib/combo/combo.component.ts
Labels: :white_check_mark: status: verified, combo, version: 12.1.x

#10707 fix(tabs): change detection after animation - 13.0.x
  projects/igniteui-angular/src/lib/carousel/carousel-base.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/stepper/stepper.component.spec.ts
  projects/igniteui-angular/src/lib/stepper/stepper.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.directive.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
Labels: bottom-nav, :carousel_horse: carousel, :white_check_mark: status: verified, tabs, version: 13.0.x

#10710 fix(tabs): change detection after animation - 12.3.x
  projects/igniteui-angular/src/lib/carousel/carousel-base.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.directive.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
Labels: bottom-nav, :carousel_horse: carousel, :white_check_mark: status: verified, tabs, version: 12.3.x

#10653 Emit panelCollapsing event once when a panel starts collapsing
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.component.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.spec.ts
Labels: :white_check_mark: status: verified, accordion, version: 13.0.x

#10727 Emit panelCollapsing event once when a panel starts collapsing 12.3.x
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.component.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.spec.ts
Labels: :white_check_mark: status: resolved, accordion, version: 12.3.x

#10672 chore(*): Add more complex row dimension scenarios for tests.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  projects/igniteui-angular/src/lib/test-utils/pivot-grid-functions.spec.ts
Labels: grid: pivot

#10729 fix(igxPivot): Fix issue with cached data view for pivot grid.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10679 fix(pivot): Fix reordering of value dimension chips
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
Labels: :x: status: awaiting-test, :white_check_mark: status: verified, grid: pivot

#10719 fix(tabs): fix scrolling issue
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/tabs/tabs/tab-header.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
Labels: :white_check_mark: status: verified, tabs, version: 12.3.x

#10718 fix(tabs): fix scrolling issue
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/tabs/tabs/tab-header.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
Labels: :white_check_mark: status: verified, tabs, version: 13.0.x

#10715 fix(themes): theme mixins don't work correctly
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
Labels: :white_check_mark: status: verified, dark-theme, :sparkles: themes, version: 13.0.x

#10696 fix(igxPivot): Remove selection when refocusing the grid
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-navigation.service.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10731 Fix for sorting large data in pivot.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10377 fix(excel-export): sucessfully export hgrid with skipped columns
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/jszip-helper.spec.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: :white_check_mark: status: verified, excel-exporter, grid: hierarchical-grid, version: 13.0.x

#10750 fix(excel-export): sucessfully export hgrid with skipped columns
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/jszip-helper.spec.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: :white_check_mark: status: verified, excel-exporter, version: 12.3.x

#10755 DataCloneStrategy implementation v.12.2
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/data-operations/data-clone-strategy.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.spec.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
  projects/igniteui-angular/src/lib/services/transaction/base-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-hierarchical-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/transaction-factory.service.ts
  projects/igniteui-angular/src/lib/services/transaction/transaction.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/action-strip/action-strip.sample.html
  src/app/action-strip/action-strip.sample.ts
Labels: :white_check_mark: status: verified, squash-merge, grid: row-editing, transaction, version: 12.2.x

#10743 DataCloneStrategy implementation v.12.3
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/data-operations/data-clone-strategy.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.spec.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
  projects/igniteui-angular/src/lib/services/transaction/base-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-hierarchical-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/transaction-factory.service.ts
  projects/igniteui-angular/src/lib/services/transaction/transaction.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/action-strip/action-strip.sample.html
  src/app/action-strip/action-strip.sample.ts
Labels: :white_check_mark: status: verified, squash-merge, grid: row-editing, transaction, version: 12.3.x

#10734 DataCloneStrategy implementation
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/data-operations/data-clone-strategy.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.spec.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
  projects/igniteui-angular/src/lib/services/transaction/base-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-hierarchical-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-transaction.spec.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/transaction-factory.service.ts
  projects/igniteui-angular/src/lib/services/transaction/transaction.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/action-strip/action-strip.sample.html
  src/app/action-strip/action-strip.sample.ts
Labels: :white_check_mark: status: verified, squash-merge, grid: row-editing, transaction, version: 13.0.x

#10716 Merging 13.0.x into master
  CHANGELOG.md
  projects/igniteui-angular/src/lib/carousel/carousel-base.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/data-operations/data-clone-strategy.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.spec.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.component.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.spec.ts
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/common/strategy.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/jszip-helper.spec.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/services/transaction/base-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-hierarchical-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-transaction.spec.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/transaction-factory.service.ts
  projects/igniteui-angular/src/lib/services/transaction/transaction.ts
  projects/igniteui-angular/src/lib/stepper/stepper.component.spec.ts
  projects/igniteui-angular/src/lib/stepper/stepper.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs.directive.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tab-header.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/action-strip/action-strip.sample.html
  src/app/action-strip/action-strip.sample.ts
Labels: version: 13.1.x

#10753 fix(tooltip): remove unnecessary div creation
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
Labels: :bug: bug, :white_check_mark: status: verified, overlay, tooltip
