Repository IgniteUI/igniteui-angular, pull requests merged in 2021-03, with the labels that each got.

#9082 Extend IResourceStrings with all available component interfaces
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
Labels: localization, status: verified, version: 10.2.x

#9083 Extend IResourceStrings with all available component interfaces - 11.0.x
  projects/igniteui-angular/src/lib/core/i18n/calendar-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
Labels: localization, status: verified, version: 11.0.x

#9084 Extend IResourceStrings with all available component interfaces - 11.1.x
  projects/igniteui-angular/src/lib/core/i18n/calendar-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
Labels: localization, status: verified, version: 11.1.x

#9091 Optional support for nested data binding
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/column.interface.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.html
Labels: grid: general, status: verified, version: 11.0.x

#9079 Optional suport for nested data binding
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/column.interface.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.html
Labels: grid: general, status: verified, version: 11.1.x

#9095 refactor(grid, icon): reduce compiled CSS size
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon/_icon-component.scss
Labels: grid: general, icon, refactoring, status: verified, themes

#9096 Conditional support for nested data binding
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/column.interface.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.html
Labels: grid: general, status: verified, version: 10.2.x

#9063 refactor(button): simplify theme and directive
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-12_0_0/changes/theme-props.json
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_button.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/elevation/_button.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_button.scss
  projects/igniteui-angular/src/lib/directives/button/button.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
Labels: button, status: in-test, themes, version: 12.0.x

#9090 refactor(button-group): simplify theme and CSS
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
Labels: button-group, status: verified, themes, version: 12.0.x

#9043 Refactor: (igx-chip) to reduce the length of the outputted CSS selectors.
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/chip.spec.ts
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
Labels: code-style, enhancement, status: verified, version: 12.0.x

#9099 refactor(grid-toolbar): reduce compiled CSS size
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
Labels: grid: toolbar, refactoring, status: verified, themes

#9094 refactor(slider): reduce compiled CSS
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/slider/label/thumb-label.component.html
  projects/igniteui-angular/src/lib/slider/label/thumb-label.component.ts
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/thumb/thumb-slider.component.html
  projects/igniteui-angular/src/lib/slider/thumb/thumb-slider.component.ts
Labels: code-style, slider, status: verified, themes, version: 12.0.x

#9093 refactor(input-group): reduce compiled CSS size
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: input-group, refactoring, status: verified, themes, version: 12.0.x

#9100 refactor(grid-summaries): reduce compiled CSS size
  projects/igniteui-angular/src/lib/core/styles/components/grid-summary/_grid-summary-component.scss
Labels: grid: summaries, refactoring, status: verified, themes

#9102 refactor(list): reduce compiled CSS
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/list/list.component.html
  projects/igniteui-angular/src/lib/list/list.component.spec.ts
  projects/igniteui-angular/src/lib/list/list.component.ts
  src/app/list/list.sample.html
  src/app/list/list.sample.scss
Labels: list, status: verified, themes, version: 12.0.x

#9059 fix(lint): Selection and crud services lint warnings
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
Labels: grid: selection, status: verified, version: 11.1.x

#9067 fix(lint): Summary and sorting lint warnings
  projects/igniteui-angular/src/lib/data-operations/sorting-strategy.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-root-summary.pipe.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.service.ts
  projects/igniteui-angular/src/lib/grids/summaries/summary-cell.component.ts
  projects/igniteui-angular/src/lib/grids/summaries/summary-row.component.ts
Labels: grid: sorting, grid: summaries, status: verified

#9057 fix(lint): Cell, toolbar, paginator lint warnings
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-advanced-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.component.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
Labels: grid: toolbar, paginator, status: verified, version: 11.1.x

#9047 fix(treegrid): Fix treeGrid filtering pipe #9014
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.filtering.pipe.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: filtering, grid: tree-grid, status: verified, version: 11.1.x

#9023 igxTree BiState selection
  projects/igniteui-angular/src/lib/tree/common.ts
  projects/igniteui-angular/src/lib/tree/tree-functions.spec.ts
  projects/igniteui-angular/src/lib/tree/tree-node/tree-node.component.html
  projects/igniteui-angular/src/lib/tree/tree-node/tree-node.component.ts
  projects/igniteui-angular/src/lib/tree/tree-selection.service.spec.ts
  projects/igniteui-angular/src/lib/tree/tree-selection.service.ts
  projects/igniteui-angular/src/lib/tree/tree-selection.spec.ts
  projects/igniteui-angular/src/lib/tree/tree.component.ts
  src/app/tree/tree.sample.html
  src/app/tree/tree.sample.ts
Labels: squash-merge, status: awaiting-test, tree

#9110 Change treeGrid filtering pipe #9014
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.filtering.pipe.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: grid: excel-style-filtering, grid: tree-grid, status: verified, version: 11.1.x

#8987 feat(date-time-editor): add option to set spin delta per part #7169
  CHANGELOG.md
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.common.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/public_api.ts
Labels: date-time-editor, squash-merge

#9009 fix(column-selection): allow to copy column values-master #8819
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-clipboard.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/services/csv/char-separated-value-data.ts
Labels: grid: column-selection, grid: copy-paste, status: verified

#9125 fix(overlay): remove escape keydown listener when outlet is used, #9115
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
Labels: overlay, status: verified, version: 10.2.x

#9124 fix(overlay): remove escape keydown listener when outlet is used, #9115
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
Labels: overlay, status: verified, version: 11.1.x

#9122 fix(overlay): remove escape keydown listener when outlet is used - master
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
Labels: overlay, status: verified, version: 12.0.x

#9128 fix(ESF): Made search component's boolean values localizable.
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: grid: excel-style-filtering, localization, status: verified, version: 11.0.x

#9140 fix(grid): remove redundant button transition
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: grid: filter-ui, status: verified, themes, version: 12.0.x

#9127 fix(ESF): Made search component's boolean values localizable.
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: grid: excel-style-filtering, status: verified, version: 10.2.x

#9129 fix(ESF): Made search component's boolean values localizable.
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: grid: excel-style-filtering, localization, status: verified, version: 11.1.x

#9117 fix(toast): improve accessibility
  projects/igniteui-angular/src/lib/toast/toast.component.ts
Labels: a11y, aria-support, status: verified, toast, version: 12.0.x

#9120 fix(checkbox): improve accessibility
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.html
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
Labels: a11y, aria-support, checkbox, status: verified, version: 12.0.x

#9144 fix(radio): can't select radio on click
  projects/igniteui-angular/src/lib/radio/radio.component.html
  projects/igniteui-angular/src/lib/radio/radio.component.ts
  src/app/input/input.sample.html
  src/app/input/input.sample.ts
Labels: radio-button, status: verified, version: 11.1.x

#9109 fix: (igx-snackbar) Add aria-live attr to the message container.
  projects/igniteui-angular/src/lib/snackbar/snackbar.component.ts
  src/app/snackbar/snackbar.sample.html
Labels: a11y, enhancement, snackbar, status: verified, version: 12.0.x

#9143 fix(radio): can't select radio on click
  projects/igniteui-angular/src/lib/radio/radio.component.html
  projects/igniteui-angular/src/lib/radio/radio.component.ts
  src/app/input/input.sample.html
  src/app/input/input.sample.ts
Labels: radio-button, status: verified, version: 12.0.x

#9157 fix(column-selection): handle mac column copy -master #8819
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: grid: column-selection, grid: copy-paste, status: verified

#9138 fix(column-selection): allow to copy column values-11.1.x #8819
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-clipboard.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/services/csv/char-separated-value-data.ts
Labels: grid: column-selection, grid: copy-paste, status: verified, version: 11.1.x

#9011 IgxDateRangePicker PickersBase implementation and overlay service integration
  projects/igniteui-angular/src/lib/date-common/calendar-container/calendar-container.component.html
  projects/igniteui-angular/src/lib/date-common/calendar-container/calendar-container.component.ts
  projects/igniteui-angular/src/lib/date-common/picker-icons.common.ts
  projects/igniteui-angular/src/lib/date-common/pickers-base.directive.ts
  projects/igniteui-angular/src/lib/date-common/types.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.directives.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.html
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.module.ts
  src/app/date-range/date-range.sample.html
Labels: date-range-picker, squash-merge

#9150 fix(excel-export): workaround an issue in codesandbox
  azure-pipelines.yml
  projects/igniteui-angular/src/lib/core/setImmediate.ts
Labels: excel-exporter, status: verified, version: 12.0.x

#9149 fix(excel-export): workaround an issue in codesandbox
  azure-pipelines.yml
  projects/igniteui-angular/src/lib/core/setImmediate.ts
Labels: excel-exporter, status: verified, version: 11.1.x

#9148 refactor(typography): should be set explicitly by the user
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-angular-dark-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-angular-dark.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-angular-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-angular.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-bootstrap-dark-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-bootstrap-dark.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-bootstrap-light-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-bootstrap-light.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-dark-green-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-dark-green.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-dark-excel-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-dark-excel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-dark-word-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-dark-word.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-light-excel-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-light-excel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-light-word-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-light-word.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-indigo-dark-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-indigo-dark.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-indigo-light-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-indigo-light.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_base.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_variables.scss
  projects/igniteui-angular/src/lib/core/styles/typography/scale-presets/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/scale-presets/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/typography/scale-presets/_indigo.scss
  src/styles/igniteui-theme.scss
Labels: breaking-change, refactoring, status: verified, typography, version: 12.0.x

#9126 fix(action-strip): icon buttons wrong color
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-theme.scss
Labels: action-strip, status: verified, themes, version: 12.0.x

#9161 fix(radio): do not emit event on deselect
  projects/igniteui-angular/src/lib/radio/radio.component.ts
  src/app/input/input.sample.html
  src/app/input/input.sample.ts
Labels: radio-button, status: verified, version: 10.2.x

#9130 fix(ESF): Made search component's boolean values localizable.
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: grid: excel-style-filtering, localization, status: verified, version: 12.0.x

#9088 chore(*): Roadmap Update Milestone 16
  ROADMAP.md
Labels: documentation, version: 12.0.x

#9159 feat(tabs): ARIA support #8912
  projects/igniteui-angular/src/lib/tabs/bottom-nav/bottom-nav.component.html
  projects/igniteui-angular/src/lib/tabs/bottom-nav/bottom-nav.component.ts
  projects/igniteui-angular/src/lib/tabs/tab-header.directive.ts
  projects/igniteui-angular/src/lib/tabs/tab-panel.directive.ts
  projects/igniteui-angular/src/lib/tabs/tabs.directive.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.html
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
Labels: aria-support, status: verified, tabs

#9164 fix(radio): ngModelChange fires multiple times
  projects/igniteui-angular/src/lib/radio/radio.component.ts
Labels: radio-button, status: verified, version: 10.2.x

#9163 fix(radio): ngModelChange fires multiple times
  projects/igniteui-angular/src/lib/radio/radio.component.ts
  src/app/input/input.sample.html
  src/app/input/input.sample.ts
Labels: radio-button, status: verified, version: 11.1.x

#9162 fix(radio): ngModelChange fires multiple times
  projects/igniteui-angular/src/lib/radio/radio.component.ts
  src/app/input/input.sample.html
  src/app/input/input.sample.ts
Labels: radio-button, status: verified, version: 12.0.x

#8999 refactor(avatar): simplify theme and params
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-12_0_0/changes/theme-props.json
  projects/igniteui-angular/migrations/update-12_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-12_0_0/index.ts
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_avatar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_avatar.scss
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/test-utils/template-strings.spec.ts
Labels: avatar, migrations, status: verified, themes, version: 12.0.x

#9166 fix(chip): improve accessibility
  projects/igniteui-angular/src/lib/chips/chip.component.html
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/chips-area.component.ts
  projects/igniteui-angular/src/lib/core/i18n/chip-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
Labels: a11y, aria-support, chip, status: verified, version: 12.0.x

#9147 Implement mouse wheel smoothing.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/for-of/display.container.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: status: verified, version: 12.0.x, virtualization

#9156 fix(lint): cell styling and pipes warnings
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  src/app/grid-events/grid-events.component.ts
Labels: status: verified, version: 12.0.x

#9113 Fixes isLoading on a not yet loaded row island
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  src/app/hierarchical-grid-remote/hierarchical-grid-remote.sample.html
  src/app/hierarchical-grid-remote/hierarchical-grid-remote.sample.ts
Labels: grid: hierarchical-grid, status: verified, version: 12.0.x

#9135 DatePickerUtil refactoring
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/date-common/util/date-time.util.spec.ts
  projects/igniteui-angular/src/lib/date-common/util/date-time.util.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.utils.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker-inputs.common.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-parsing.spec.ts
Labels: date-range-picker, date-time-editor, refactoring, squash-merge

#9178 fix(radio-group): missing setDisabledState
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
Labels: radio-group, status: verified, version: 12.0.x

#9179 fix(radio-group): missing setDisabledState
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
Labels: radio-group, status: verified, version: 11.1.x

#9174 feat(themes): CSS variable palettes use HSL colors
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_mixins.scss
  projects/igniteui-angular/src/lib/core/styles/spec/_mixins.spec.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_palettes.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-angular-dark-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-angular-dark.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-angular-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-angular.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-bootstrap-dark-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-bootstrap-dark.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-bootstrap-light-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-bootstrap-light.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-dark-green-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-dark-green.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-dark-excel-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-dark-excel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-dark-word-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-dark-word.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-light-excel-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-light-excel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-light-word-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-light-word.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-indigo-dark-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-indigo-dark.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-indigo-light-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-indigo-light.scss
  src/app/styleguide/colors/color.sample.html
  src/app/styleguide/colors/color.sample.scss
  src/styles/_demo-theme.scss
  src/styles/_variables.scss
Labels: refactoring, status: verified, themes, version: 12.0.x

#9170 Add igxRowAddText directive for templating add row banner
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-common.module.ts
  projects/igniteui-angular/src/lib/grids/grid.rowEdit.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-add-row.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: grid: row-adding, grid: row-editing, status: verified

#9167 Adding styling for tree component
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
  projects/igniteui-angular/src/lib/core/i18n/tree-resources.ts
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-angular.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_tree.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_tree.scss
  projects/igniteui-angular/src/lib/tree/tree-node/tree-node.component.html
  projects/igniteui-angular/src/lib/tree/tree-node/tree-node.component.scss
  projects/igniteui-angular/src/lib/tree/tree-node/tree-node.component.ts
  projects/igniteui-angular/src/lib/tree/tree.component.html
  projects/igniteui-angular/src/lib/tree/tree.component.scss
  projects/igniteui-angular/src/lib/tree/tree.component.ts
  src/app/tree/tree.sample.html
  src/app/tree/tree.sample.scss
Labels: igx-tree

#9182 refactor(*): refactoring and eslint warning fixes
  projects/igniteui-angular/migrations/update-12_0_0/changes/outputs.json
  projects/igniteui-angular/migrations/update-12_0_0/index.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/directives/template-outlet/template_outlet.directive.ts
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/grids/watch-changes.ts
  projects/igniteui-angular/src/test.ts
  src/app/date-picker/date-picker.sample.ts
  src/app/grid-add-row/grid-add-row.sample.html
  src/app/grid-add-row/grid-add-row.sample.ts
  src/app/grid-cellEditing/grid-cellEditing.component.ts
  src/app/grid-events/grid-events.component.ts
  src/app/grid-formatting/grid-formatting.component.ts
  src/app/grid-percentage-columns/grid-percantge-widths.sample.html
  src/app/grid-percentage-columns/grid-percantge-widths.sample.ts
  src/app/grid-remote-paging/grid-remote-paging.sample.html
  src/app/grid-remote-paging/grid-remote-paging.sample.ts
  src/app/grid-row-edit/data.ts
  src/app/grid-row-edit/grid-row-edit-sample.component.ts
  src/app/shared/data.ts
  src/assets/images/grid/active.png
  src/assets/images/grid/expired.png
  src/main.ts
Labels: ci: tests, grid: general, refactoring, version: 12.0.x

#9183 fix(navbar): prominent navbar for long titles
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_mixins.scss
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
Labels: navbar, status: verified, themes, version: 12.0.x

#9205 feat(bottom-nav): provide styling after component refactoring
  projects/igniteui-angular/src/lib/core/styles/components/bottom-nav/_bottom-nav-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/bottom-nav/_bottom-nav-theme.scss
  projects/igniteui-angular/src/lib/tabs/bottom-nav/bottom-nav-panel.component.ts
  projects/igniteui-angular/src/lib/tabs/bottom-nav/bottom-nav.component.html
  src/app/app.module.ts
  src/app/bottomnav/bottomnav.sample.css
  src/app/bottomnav/bottomnav.sample.html
Labels: bottom-nav, status: verified, themes, version: 12.0.x

#9165 Grid accessibility
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: grid: accessibility, grid: active-node, status: verified

#9195 fix(scrollbar): shows empty space in iOS Safari
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/scrollbar/scrollbar-theme.scss
Labels: scrollbar, status: verified, themes, version: 12.0.x

#9197 fix(scrollbar): shows empty space in iOS Safari
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/scrollbar/scrollbar-theme.scss
Labels: scrollbar, status: verified, themes, version: 11.1.x

#9198 fix(scrollbar): shows empty space in iOS Safari
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/scrollbar/scrollbar-theme.scss
Labels: scrollbar, status: verified, themes, version: 10.2.x

#8827 Apply formatter in summaries
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/grid-pipes.module.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.ts
  projects/igniteui-angular/src/lib/grids/summaries/summary-cell.component.html
  projects/igniteui-angular/src/lib/grids/summaries/summary-cell.component.ts
  projects/igniteui-angular/src/lib/grids/summaries/summary-row.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-summaries.spec.ts
  src/app/grid-formatting/grid-formatting.component.ts
Labels: grid: summaries, status: verified, version: 12.0.x

#9204 Clear current selection when setting new selection state
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
Labels: grid: state-persistence, status: verified, version: 10.2.x

#9202 Clear current selection when setting new selection state
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
Labels: grid: state-persistence, status: verified, version: 11.1.x

#9203 Clear current selection when setting new selection state
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
Labels: grid: state-persistence, status: verified, version: 12.0.x

#9209 fix(tree-grid): added check for grid - 11.1.x
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-api.service.ts
Labels: grid: tree-grid, status: verified, version: 11.1.x

#9210 fix(tree-grid): added check for grid - master
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-api.service.ts
Labels: grid: tree-grid, status: verified, version: 12.0.x

#9212 fix(tree-grid): added check for grid - 10.2.x
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-api.service.ts
Labels: grid: tree-grid, status: verified, version: 10.2.x

#9173 Crud centralization
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.spec.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.ts
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid.rowEdit.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-add-row.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-collapsible-columns.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.nested.props.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-cell.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-add-row.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  projects/igniteui-angular/src/lib/grids/row-drag.directive.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-add-row-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: status: in-development

#9222 test(Filtering): Clear svgContainer in attempt to fix issues with filtering tests.
  projects/igniteui-angular/src/lib/test-utils/configure-suite.ts
Labels: ci: tests, status: verified, version: 12.0.x

#9199 fix(tabs) styling, initial commit
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_mixins.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/tabs/tabs/tab-header.component.html
  projects/igniteui-angular/src/lib/tabs/tabs/tab-header.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tab-panel.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.html
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
  src/app/tabs/tabs.sample.html
  src/app/tabs/tabs.sample.scss
Labels: refactoring, status: awaiting-test, styling, tabs

#9224 fix(grid): invalid checkbox state in edit mode
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
Labels: checkbox, grid: cell-editing, status: verified, version: 12.0.x

#9225 Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: ci: build, ci: tests, version: 12.0.x

#9227 fix(GRID): expose end edit facade Closes #8330
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: grid: general, status: verified

#9226 migrations(themes): update button migration
  projects/igniteui-angular/migrations/update-12_0_0/changes/theme-props.json
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
Labels: migrations, status: verified, themes, version: 12.0.x

#9213 FinJS dev demo changes
  src/app/grid-finjs/controllers.component.html
  src/app/grid-finjs/controllers.component.ts
  src/app/grid-finjs/grid-finjs.component.html
  src/app/grid-finjs/grid-finjs.component.ts
  src/app/grid-finjs/main.component.html
  src/app/grid-finjs/main.component.scss
  src/app/grid-finjs/main.component.ts
  src/app/shared/local.service.ts
Labels: demos

#9233 Dev demos update - add sample to test nested props update
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/grid-finjs/controllers.component.html
  src/app/grid-finjs/controllers.component.ts
  src/app/grid-finjs/grid-finjs.component.html
  src/app/grid-finjs/grid-finjs.component.ts
  src/app/grid-finjs/main.component.html
  src/app/grid-finjs/main.component.scss
  src/app/grid-finjs/main.component.ts
  src/app/grid-updates-test/aminoData.ts
  src/app/grid-updates-test/grid-updates.component.html
  src/app/grid-updates-test/grid-updates.component.scss
  src/app/grid-updates-test/grid-updates.component.ts
  src/app/routing.ts
  src/app/shared/local.service.ts
Labels: demos, version: 11.1.x

#9232 Dev demos update - add sample to test nested props update
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/grid-finjs/grid-finjs.component.html
  src/app/grid-finjs/grid-finjs.component.ts
  src/app/grid-updates-test/aminoData.ts
  src/app/grid-updates-test/grid-updates.component.html
  src/app/grid-updates-test/grid-updates.component.scss
  src/app/grid-updates-test/grid-updates.component.ts
  src/app/routing.ts
Labels: demos, version: 12.0.x

#9219 fix(grid): Consider min/max width when setting defaultWidth property
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: grid: general, status: verified, version: 10.2.x
