Repository IgniteUI/igniteui-angular, pull requests merged in 2021-10, with the labels that each got.

#10127 feat(for-of): allowing margins to properly size the internal v model (#10039)
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: status: verified, virtualization, version: 13.0.x

#10201 Use flex display for navbar title content
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
Labels: status: verified, navbar, version: 11.1.x

#10200 Use flex display for navbar title content
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
Labels: status: verified, navbar, version: 13.0.x

#10199 Use flex display for navbar title content
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
Labels: status: verified, navbar, version: 12.1.x

#10186 fix(row-add): resolve targetting correct unpinned row #10117 - master
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
Labels: status: verified, grid: row-adding, version: 12.2.x

#10185 fix(row-add): resolve targetting correct unpinned row #10117 - 12.1
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
Labels: status: verified, grid: row-adding, version: 12.1.x

#10130 fix(grid): Stop propagation once handleNavigation is called
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
Labels: status: verified, keyboard-navigation, grid: master-detail, version: 12.2.x

#10129 fix(grid): Stop propagation once handleNavigation is called
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
Labels: status: verified, keyboard-navigation, grid: master-detail, version: 12.1.x

#10131 fix(grid): Stop propagation once handleNavigation is called
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
Labels: status: verified, keyboard-navigation, grid: master-detail, version: 11.1.x

#9929 feat(components-schemas): add migrations for sass vars in component schema
  projects/igniteui-angular/migrations/update-13_0_0/changes/theme-props.json
Labels: status: awaiting-test, migrations

#10234 docs(changelog): combining post 12.1 feats into 12.2
  CHANGELOG.md
Labels: version: 12.2.x
