Repository IgniteUI/igniteui-angular, pull requests merged in 2021-11, with the labels that each got.

#10353 V dyulgerov/cancel pinning unpinning row 12.2.x
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
Labels: status: verified, version: 12.2.x

#10354 V dyulgerov/cancel pinning unpinning row 11.1.x
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
Labels: status: verified, version: 11.1.x

#10395 feat(pivot-aggr): adding default aggregates
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-aggregate.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/public_api.ts
  src/app/pivot-grid/pivot-grid.sample.html
  src/app/pivot-grid/pivot-grid.sample.scss
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: grid: pivot

#10397 fix(ESF): Return a numeric value for containerSize
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
Labels: status: verified, grid: excel-style-filtering, version: 13.0.x

#10396 fix(ESF): Return a numeric value for containerSize
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
Labels: status: verified, grid: excel-style-filtering, version: 12.2.x

#10393 chore(pivot): Change childLevels to childLevel
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  src/app/pivot-grid-noop/pivot-grid-noop.sample.ts
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: grid: pivot

#10339 feat(groupby): adding grouping strategy option #10223 - master
  CHANGELOG.md
  projects/igniteui-angular/src/lib/data-operations/data-util.spec.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/data-operations/grouping-strategy.ts
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: status: verified, grid: groupby, version: 13.0.x

#10340 feat(groupby): adding grouping strategy option #10223 - 12.2
  CHANGELOG.md
  projects/igniteui-angular/src/lib/data-operations/data-util.spec.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/data-operations/grouping-strategy.ts
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: status: verified, grid: groupby, version: 12.2.x

#10334 fix(toast): Adding checks for position settings #10305 - master
  CHANGELOG.md
  projects/igniteui-angular/src/lib/toast/toast.component.spec.ts
  projects/igniteui-angular/src/lib/toast/toast.component.ts
Labels: status: verified, toast, version: 13.0.x

#10341 Add more complex sample and implement binding to complex objects
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/pivot-grid-hierarchy/pivot-grid-hierarchy.sample.html
  src/app/pivot-grid-hierarchy/pivot-grid-hierarchy.sample.scss
  src/app/pivot-grid-hierarchy/pivot-grid-hierarchy.sample.ts
  src/app/routing.ts
  src/app/shared/pivot-data.ts
Labels: version: 13.0.x, grid: pivot

#10407 IgxStepper string enums
  projects/igniteui-angular/src/lib/stepper/stepper.common.ts
Labels: status: verified, version: 13.0.x, stepper

#10409 test(pivot): clean the state of the pivot tests
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/test-utils/pivot-grid-samples.spec.ts
Labels: grid: pivot

#10399 Introduce additional memberFunction to pivot dimensions and rename member to memberName
  projects/igniteui-angular/src/lib/data-operations/pivot-strategy.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  projects/igniteui-angular/src/lib/test-utils/pivot-grid-samples.spec.ts
  src/app/pivot-grid-noop/pivot-grid-noop.sample.ts
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: status: awaiting-test, version: 13.0.x, grid: pivot

#10388 Migrations for columns grid property -- 13.0.x
  projects/igniteui-angular/migrations/update-13_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-13_0_0/index.ts
Labels: status: verified, version: 13.0.x

#10404 fix(toast): Adding checks for position settings #10305 - 12.2.x
  CHANGELOG.md
  projects/igniteui-angular/src/lib/toast/toast.component.spec.ts
  projects/igniteui-angular/src/lib/toast/toast.component.ts
Labels: status: verified, toast, version: 12.2.x

#10416 Fix wrong api comment for activeStepChanging event
  projects/igniteui-angular/src/lib/stepper/stepper.component.ts
Labels: status: verified, version: 13.0.x, stepper

#10403 Angular 13 - Bump nodejs, IE additional cleanup
  .browserslistrc
  .github/workflows/nodejs.yml
  .github/workflows/npm-publish.yml
  CHANGELOG.md
  angular.json
  package-lock.json
  package.json
  projects/igniteui-angular/schematics/ng-add/add-normalize.ts
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
  projects/igniteui-angular/schematics/ng-add/index.ts
  projects/igniteui-angular/schematics/ng-add/schema.json
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
  src/polyfills.ts
  src/styles/_demo-theme.scss
  src/tsconfig-es5.app.json
Labels: status: awaiting-test, ci: github-actions, version: 13.0.x

#10401 feat(action-strip): titles and localization for buttons in action strip - 12.2
  projects/igniteui-angular-i18n/src/i18n/BG/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/action-strip-resources.ts
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.html
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-action-button.component.html
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-pinning-actions.component.ts
  projects/igniteui-angular/src/lib/core/i18n/action-strip-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
  projects/igniteui-angular/src/public_api.ts
Labels: status: localized, status: verified, action-strip, version: 12.2.x

#10402 feat(action-strip): titles and localization for buttons in action strip - master
  projects/igniteui-angular-i18n/src/i18n/BG/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/action-strip-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/action-strip-resources.ts
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.html
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-action-button.component.html
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-pinning-actions.component.ts
  projects/igniteui-angular/src/lib/core/i18n/action-strip-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
  projects/igniteui-angular/src/public_api.ts
Labels: status: localized, status: verified, action-strip, version: 13.0.x

#10423 feat(scroll): Remove support for IE11 and old Edge from scroll inertia directive.
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.ts
Labels: status: verified, browser: IE-11, scroll, version: 13.0.x

#10381 feat(IgxGridBaseDirective): Remove newline character when single cell value is copied
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-clipboard.spec.ts
Labels: status: verified, grid: copy-paste

#10430 feat(IgxGridBaseDirective): Remove newline character when single cell value is copied
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-clipboard.spec.ts
Labels: status: verified, grid: copy-paste, version: 12.2.x

#10369 feat(pivot): hide API from base grid
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
Labels: version: 13.0.x, grid: pivot

#10390 chore(*): try fix build, fix typing around CellType and RowType
  projects/igniteui-angular/src/lib/data-operations/groupby-strategy.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-add-row.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav-headers.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-advanced-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-exporter.component.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.base.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-expanding.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: ci: tests, version: 13.0.x

#10420 Apply more complex row dimension key for expand/collapse based on pre…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: status: verified, grid: pivot

#10435 chore(*): roadmap-update-m19-08nov21
  ROADMAP.md
Labels: documentation, version: 13.0.x

#10383 Trap focus inside modal
  CHANGELOG.md
  README.md
  projects/igniteui-angular/src/lib/dialog/dialog-content.component.html
  projects/igniteui-angular/src/lib/dialog/dialog.component.spec.ts
  projects/igniteui-angular/src/lib/dialog/dialog.component.ts
  projects/igniteui-angular/src/lib/directives/focus-trap/README.md
  projects/igniteui-angular/src/lib/directives/focus-trap/focus-trap.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/focus-trap/focus-trap.directive.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.spec.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/shared/shared.module.ts
Labels: :white_check_mark: status: verified, overlay, version: 13.0.x

#10427 Remove deprecateDecorators
  .github/CONTRIBUTING.md
  projects/igniteui-angular/migrations/common/filterSourceDirs.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.ts
  projects/igniteui-angular/src/lib/banner/banner.component.ts
  projects/igniteui-angular/src/lib/core/deprecateDecorators.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.base.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/icon/icon.component.ts
  projects/igniteui-angular/src/lib/services/overlay/utilities.ts
  projects/igniteui-angular/src/lib/toast/toast.component.ts
Labels: :book: documentation, :white_check_mark: status: verified, version: 13.0.x

#10432 fix(grid): remove aria-activedescendant on role="rowgroup"
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.html
Labels: :white_check_mark: status: verified, grid: general, aria-support, version: 13.0.x

#10439 V dyulgerov/fix aria activedescendant 12.2.x
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.html
Labels: :white_check_mark: status: verified, grid: general, aria-support, version: 12.2.x

#10457 Remove deprecateDecorators 12.2.x
  .github/CONTRIBUTING.md
  projects/igniteui-angular/migrations/common/filterSourceDirs.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.ts
  projects/igniteui-angular/src/lib/banner/banner.component.ts
  projects/igniteui-angular/src/lib/core/deprecateDecorators.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.base.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/column-actions/column-actions.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/icon/icon.component.ts
  projects/igniteui-angular/src/lib/services/overlay/utilities.ts
  projects/igniteui-angular/src/lib/toast/toast.component.ts
Labels: :book: documentation, :white_check_mark: status: verified, version: 12.2.x

#10458 Use columnList internally, keep public columns prop
  projects/igniteui-angular/migrations/update-13_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-13_0_0/index.ts
  projects/igniteui-angular/src/lib/grids/column-actions/column-actions.component.html
  projects/igniteui-angular/src/lib/grids/column-actions/column-actions.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column-layout.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-moving.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-add-row.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grids/grouping/group-by-area.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-multi-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-search.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/test-methods.spec.ts
Labels: grid: general

#10472 Clear selection on blur when accessing non-existent item - 12.3
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, version: 12.3.x, simple-combo

#10467 Clear selection on blur when accessing non-existent item
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, version: 13.0.x, simple-combo

#10477 Combo clean up
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, version: 13.0.x, simple-combo

#10479 Combo clean up - 12.3
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, version: 12.3.x, simple-combo

#10443 fix(grid): add check whether the totalRecords property of the paginator is set when the paging mode is remote - 12.2.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-base-components.spec.ts
Labels: :x: status: awaiting-test, grid: paging, paginator, version: 12.3.x

#10441 fix(grid): add check whether the totalRecords property of the paginator is set when the paging mode is remote
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-base-components.spec.ts
Labels: :white_check_mark: status: verified, grid: paging, paginator, version: 13.0.x

#10269 fix(filtering): handle multiple events firing for column of type date #10233 - 12.2.x
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: :white_check_mark: status: verified, filtering, version: 12.3.x

#10268 fix(filtering): handle multiple events firing for column of type date #10233
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: :white_check_mark: status: verified, filtering, version: 13.0.x

#10434 Tree-Grid update cascade selection when filtering is applied
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
Labels: :white_check_mark: status: verified, grid: row-selection, grid: tree-grid, version: 13.0.x

#10491 fix(grid): Groupby stack error on a single group
  projects/igniteui-angular/src/lib/data-operations/sorting-strategy.ts
Labels: :white_check_mark: status: verified, grid: groupby, version: 12.3.x

#10490 fix(grid): Groupby stack error on a single group
  projects/igniteui-angular/src/lib/data-operations/sorting-strategy.ts
Labels: :white_check_mark: status: verified, grid: groupby, version: 13.0.x

#10500 Handle clear w/o valueKey
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, version: 13.0.x, simple-combo

#10501 Handle clear w/o valueKey - 12.3
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, version: 12.3.x, simple-combo

#10493 GroupBy row select emit event once, perf
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-13_0_0/changes/members.json
  projects/igniteui-angular/migrations/update-13_0_0/changes/outputs.json
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-interfaces.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/template-strings.spec.ts
  src/app/grid-groupby/grid-groupby.sample.html
  src/app/grid-groupby/grid-groupby.sample.ts
  src/app/grid-selection/grid-selection.sample.html
  src/app/grid-updates-test/grid-updates.component.html
  src/app/splitter/splitter.sample.html
Labels: :white_check_mark: status: verified, grid: groupby, grid: row-selection, grid: performance, version: 13.0.x

#10411 Show flat excel style filter for pivot chips.
  projects/igniteui-angular/src/lib/data-operations/pivot-strategy.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10429 Make pivot row dimension content in rows simpler. Use ngFor instead o…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.module.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.html
Labels: :white_check_mark: status: verified, grid: pivot

#10444 feat(exporters): added migration comments and test
  projects/igniteui-angular/migrations/update-13_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-13_0_0/index.ts
Labels: :white_check_mark: status: verified, exporters, migrations, version: 13.0.x

#10505 Rename columnSelected Grid event to columnSelectionChanging
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-13_0_0/changes/members.json
  projects/igniteui-angular/migrations/update-13_0_0/changes/outputs.json
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav-headers.spec.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  src/app/grid-column-selection/grid-column-selection.sample.html
  src/app/grid-events/grid-events.component.html
  src/app/grid-events/grid-events.component.ts
Labels: grid: column-selection, version: 13.0.x

#10499 Tree-Grid update cascade selection when filtering is applied 12.3.x
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
Labels: :white_check_mark: status: verified, grid: row-selection, grid: tree-grid, version: 12.3.x

#10465 expand only one panel when SingleBranchExpand is set to true
  projects/igniteui-angular/src/lib/accordion/accordion.component.spec.ts
  projects/igniteui-angular/src/lib/accordion/accordion.component.ts
Labels: :white_check_mark: status: verified, version: 13.0.x, igx-accordion

#10495 expand only one panel when SingleBranchExpand is true - 12.3.x
  projects/igniteui-angular/src/lib/accordion/accordion.component.spec.ts
  projects/igniteui-angular/src/lib/accordion/accordion.component.ts
Labels: :white_check_mark: status: verified, igx-accordion, version: 12.3.x

#10524 Adding migrations for rowData and rowID
  projects/igniteui-angular/migrations/update-13_0_0/changes/members.json
  projects/igniteui-angular/migrations/update-13_0_0/index.spec.ts
  projects/igniteui-angular/package.json
Labels: :white_check_mark: status: verified

#10519 fix(grid): update delete row function
  src/app/grid-column-selection/grid-column-selection.sample.ts
  src/app/grid/grid.sample.ts
Labels: :white_check_mark: status: verified, samples

#10521 fix(navdrawer): add transparency to background color
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
Labels: nav-drawer, :white_check_mark: status: verified, :sparkles: themes, version: 13.0.x

#10431 Allow sorting dimension values via related chips.
  projects/igniteui-angular/src/lib/data-operations/pivot-strategy.ts
  projects/igniteui-angular/src/lib/data-operations/sorting-strategy.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.module.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10502 Clear old columns from view when data has changed.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10410 Add predefined date dimension for the Pivot Grid
  package.json
  projects/igniteui-angular-i18n/src/i18n/BG/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/grid-resources.ts
  projects/igniteui-angular/karma.azure.pivot-grid.conf.js
  projects/igniteui-angular/karma.pivot-grid.conf.js
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/data-operations/pivot-strategy.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-dimensions.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/public_api.ts
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10540 remove toggle from RowType interface, fix FinJsDemo
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-moving.component.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  src/app/shared/financialData.ts
Labels: :white_check_mark: status: verified, grid: general, version: 13.0.x

#10538 chore(schematics): update schematics with new RC
  projects/igniteui-angular/package.json
Labels: schematics, version: 13.0.x

#10541 fix(toolbar): Provide token correctly in DI
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.component.ts
Labels: :white_check_mark: status: verified, grid: toolbar, version: 13.0.x

#10548 Fix ESF displaying extra text in date column - 12.3.x
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.html
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 12.3.x

#10544 Fix ESF displaying extra text in date column
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.html
Labels: :white_check_mark: status: verified, grid: excel-style-filtering

#10555 chore(changelog): add theming section for v13
  CHANGELOG.md
Labels: :sparkles: themes, version: 13.0.x

#10567 chore(hgrid): Avoid circular deps in hgrid remote sample
  src/app/hierarchical-grid-remote-virtualization/hierarchical-remote.service.ts
Labels: :white_check_mark: status: verified

#10561 Change how the default currency code is retrieved
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 13.0.x

#10550 fix(toolbar): align actions on right side by default
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.component.html
Labels: :white_check_mark: status: verified, grid: toolbar

#10559 refactor(chip): update light color schema
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_chip.scss
Labels: :white_check_mark: status: verified, chip, :sparkles: themes, version: 13.0.x

#10574 chore(*): leaving only lcov coverage reporter
  package-lock.json
  package.json
  projects/igniteui-angular/karma.conf.js
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/tree/tree.spec.ts
Labels: :bricks: ci: build, :test_tube: ci: tests, version: 13.0.x

#10436 Add value chip drop-down with default aggregate functions.
  projects/igniteui-angular-i18n/src/i18n/BG/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/grid-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-aggregate.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  projects/igniteui-angular/src/lib/test-utils/pivot-grid-samples.spec.ts
  src/app/pivot-grid-hierarchy/pivot-grid-hierarchy.sample.ts
  src/app/pivot-grid-noop/pivot-grid-noop.sample.ts
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10558 Use typechecker to determine property types
  projects/igniteui-angular/migrations/common/UpdateChanges.ts
  projects/igniteui-angular/migrations/common/tsUtils.ts
Labels: :white_check_mark: status: verified, migrations, squash-merge, version: 13.0.x

#10563 refactor(grid): remove hardcoded colors
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_grid-summary.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_grid-toolbar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_grid-filtering.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_grid-summary.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_grid-toolbar.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 13.0.x

#10575 fix(build): reducing build time for coverage
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  projects/igniteui-angular/karma.conf.js
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/tree/tree.spec.ts
Labels: :bricks: ci: build, :test_tube: ci: tests, version: 12.3.x

#10577 fix(doc-manager): change pane transparent background to solid.
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_dock-manager.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_dock-manager.scss
Labels: :white_check_mark: status: verified, dock manager, dark-theme, version: 13.0.x

#10513 Fix issue with changes not fully reflected when removing row chip.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
Labels: :bug: bug, :white_check_mark: status: verified, grid: pivot

#10586 docs(changelog): move grid groupStrategy to new features section
  CHANGELOG.md
Labels: :book: documentation, version: 13.0.x

#10587 fix(grid): safe guard against grid.addRow(undefined)
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: :boom: status: in-test, :white_check_mark: status: verified, grid: general, version: 13.0.x

#10562 fix(button): remove unused theme prop for outline focus style
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button.scss
Labels: :white_check_mark: status: verified, button-theme, version: 13.0.x

#10588 fix(esf): added role=menu to esf article - 12.3.x
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.html
Labels: :white_check_mark: status: verified, aria-support, version: 12.3.x

#10591 fix(esf): added role=menu to esf article - 11.1.x
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.html
Labels: :white_check_mark: status: verified, aria-support, version: 11.1.x

#10510 fix(pivot): Fix horizontal scrolling overflow issue
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
Labels: :white_check_mark: status: verified, version: 13.0.x, grid: pivot

#10536 chore(docs): Updating changelog.md with missing release note regarding grid toolbar's column hiding UI
  CHANGELOG.md
Labels: :book: documentation, grid: toolbar-hiding

#10581 chore(schematics): official version of schema
  projects/igniteui-angular/package.json
Labels: version: 13.0.x

#10595 fix(grid): set ConnectedPosotionStrategy for toolbar actions
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.base.ts
Labels: :white_check_mark: status: verified, grid: toolbar, grid: toolbar-hiding, grid: toolbar-pinning

#10515 fix(esf): added role=menu to esf article - master
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.html
Labels: :white_check_mark: status: verified, aria-support, version: 13.0.x

#10560 refactor(grid) sorting indicator and dark theme colors
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_grid.scss
Labels: :white_check_mark: status: verified, grid: column-selection, version: 13.0.x

#10517 Pivot grid column sorting.
  projects/igniteui-angular/src/lib/data-operations/pivot-strategy.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.module.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  src/app/pivot-grid-hierarchy/pivot-grid-hierarchy.sample.ts
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10592 chore(*): updating the beta dependencies
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/base-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/toolbar/token.ts
  projects/igniteui-angular/src/lib/services/overlay/scroll/scroll-strategy.ts
Labels: :bricks: ci: build, :capital_abcd: ci: lint, version: 13.0.x, dependencies

#10566 fix(pivot): Assigns `dim` a default value #10565
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-filtering.service.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10554 Adds some comments to exposed pivot configs
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
Labels: :book: documentation, grid: pivot

#10533 Fix issue with 4th dimension missing values.
  projects/igniteui-angular/src/lib/data-operations/pivot-strategy.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10579 Fix simple dimensions merging on same level when there are multiple siblings.
  projects/igniteui-angular/src/lib/data-operations/pivot-strategy.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.spec.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10615 Set default expand state to be collapsed for pivot. Allow changing via prop.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  projects/igniteui-angular/src/lib/test-utils/pivot-grid-samples.spec.ts
  src/app/pivot-grid/pivot-grid.sample.html
Labels: :white_check_mark: status: verified, grid: pivot

#10608 fix(pivot): Extract hierarchy from original leaf records.
  projects/igniteui-angular/src/lib/data-operations/pivot-strategy.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10627 chore(pivot): Add display density to pivot sample
  src/app/pivot-grid/pivot-grid.sample.html
  src/app/pivot-grid/pivot-grid.sample.scss
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, samples, grid: pivot

#10618 fix(pivot): Fix issue with expand/collapse last level of more complex…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10612 feat(pivot): Add some more pivot grid tests and apply a minor fix
  projects/igniteui-angular/src/lib/data-operations/pivot-strategy.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10625 Remove unnecessary leaf records from pivot data.
  projects/igniteui-angular/src/lib/data-operations/pivot-strategy.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10633 Add simple combo to features in 12.3
  CHANGELOG.md
Labels: :book: documentation, version: 12.3.x, simple-combo

#10578 Time picker toggle in dialog mode
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
Labels: :white_check_mark: status: verified, time-picker, version: 13.0.x

#10621 Time picker toggle in dialog mode 12.3.x
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
Labels: :white_check_mark: status: verified, time-picker, version: 12.2.x

#10503 Add indentation based on level and set correct collapsed state icon as per the design
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10466 Pivot grid dimension selection
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/pivot-grid-samples.spec.ts
  src/app/pivot-grid/pivot-grid.sample.html
Labels: :white_check_mark: status: verified, version: 13.0.x, grid: pivot

#10611 fix(icon-service): don't initialize DOMParser in SSR mode
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/icon/icon.service.ts
Labels: :framed_picture: icon, :white_check_mark: status: verified, version: 13.0.x

#10643 Simple combo - increase coverage - 12.3
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
Labels: :test_tube: ci: tests, version: 12.3.x, simple-combo

#10632 Simple combo - increase coverage
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
Labels: :test_tube: ci: tests, version: 13.0.x, simple-combo

#10616 fix(icon-service): don't initialize DOMParser in SSR mode
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/icon/icon.service.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
Labels: :framed_picture: icon, :white_check_mark: status: verified, version: 12.3.x

#10635 Ensure member name is not overriden by original record fields when co…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  src/app/pivot-grid-hierarchy/pivot-grid-hierarchy.sample.html
Labels: :white_check_mark: status: verified, grid: pivot

#10387 fix(hierarchical-grid): add border color to the expander column for pinned rows
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, grid: row-pinning, version: 13.0.x

#10651 Fix condition changing when erasing the value - 12.3.x
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, filtering, version: 12.3.x

#10650 Fix condition changing when erasing the value - 13.0.x
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, filtering, version: 13.0.x

#10647 [igxPivot] Ensure that bottom level dimensions get populated regardless of expansion.
  projects/igniteui-angular/src/lib/data-operations/pivot-strategy.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10649 Add additional summary column for columns with children, that is always visible and shows the parent's aggregates.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, grid: pivot
