Repository IgniteUI/igniteui-angular, pull requests merged in 2021-05, with the labels that each got.

#9469 Fixed deselectChildren() logic so it deselects records not in view
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-summaries.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: grid: tree-grid, status: verified, version: 10.2.x

#9486 Done button test does not verify selection
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
Labels: date-range-picker

#9485 fix(avatar): new themes always apply square border radius
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
Labels: avatar, status: verified, themes, version: 12.0.x

#9475 fix(calendar) range selection colors
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
Labels: calendar, status: verified, version: 12.0.x

#9489 chore(snackbar, toast): removing deprecated properties and outputs
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
  projects/igniteui-angular/src/lib/snackbar/README.md
  projects/igniteui-angular/src/lib/snackbar/snackbar.component.ts
  projects/igniteui-angular/src/lib/toast/toast.component.spec.ts
  projects/igniteui-angular/src/lib/toast/toast.component.ts
  src/app/toast/toast.sample.html
Labels: snackbar, toast, version: 12.0.x

#9491 chore(*): m16final
  ROADMAP.md
Labels: documentation, version: 12.0.x

#9487 fix(hierarchical-grid): expander indicator not inheriting the background from the row.
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: grid: row-adding, status: verified, version: 12.0.x

#9482 fix(grid): Prevent drag selection from outside clicks
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
Labels: grid: multi-cell-selection, status: verified, version: 12.0.x

#9484 fix(grid): Prevent drag selection from outside clicks
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
Labels: grid: multi-cell-selection, status: verified, version: 10.2.x

#9464 Update scroll buttons visibility
  projects/igniteui-angular/src/lib/tabs/tabs.directive.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.html
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.directives.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.module.ts
Labels: status: verified, tabs, version: 12.0.x

#9500 chore(*): update package.json & igniteui/angular-schematics
  projects/igniteui-angular/package.json
Labels: version: 12.0.x

#9492 chore(*): extending one of toast tests and adding migrations
  projects/igniteui-angular/migrations/update-12_0_0/changes/members.json
  projects/igniteui-angular/migrations/update-12_0_0/changes/outputs.json
  projects/igniteui-angular/migrations/update-12_0_0/index.spec.ts
  projects/igniteui-angular/src/lib/toast/toast.component.spec.ts
  projects/igniteui-angular/src/lib/toast/toast.component.ts
Labels: ci: tests, toast, version: 12.0.x

#9493 fix(List): Fixed broken dev demos.
  src/app/list-panning/list-panning.sample.css
  src/app/list-panning/list-panning.sample.html
  src/app/list-panning/list-panning.sample.ts
  src/app/list-performance/list-performance.sample.css
  src/app/list-performance/list-performance.sample.html
  src/app/list/list.sample.html
  src/app/list/list.sample.ts
Labels: demos, list, status: awaiting-test, version: 11.1.x

#9504 chore(*): fix resize observer import
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tab-header.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
Labels: tabs, version: 12.0.x

#9497 fix(grid): reduce space between items in column actions -11.1.x
  projects/igniteui-angular/src/lib/core/styles/components/column-actions/_column-actions-theme.scss
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
Labels: grid: toolbar, status: verified, version: 11.1.x

#9498 fix(input): hide `disabled` property on input-group, #9339
  .vscode/launch.json
  CHANGELOG.md
  projects/igniteui-angular/migrations/common/util.ts
  projects/igniteui-angular/migrations/update-12_0_0/changes/inputs.json
  projects/igniteui-angular/migrations/update-12_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-12_0_0/index.ts
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.html
  projects/igniteui-angular/src/lib/input-group/input-group.component.spec.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
Labels: input-group, migrations, status: verified, version: 12.0.x

#9495 fix(grid): reduce space between items in column actions
  projects/igniteui-angular/src/lib/core/styles/components/column-actions/_column-actions-theme.scss
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
Labels: grid: toolbar, status: verified, version: 12.0.x

#9494 fix(List): Fixed broken dev demos.
  src/app/list-panning/list-panning.sample.css
  src/app/list-panning/list-panning.sample.html
  src/app/list-panning/list-panning.sample.ts
  src/app/list-performance/list-performance.sample.css
  src/app/list-performance/list-performance.sample.html
  src/app/list/list.sample.html
  src/app/list/list.sample.ts
Labels: demos, list, status: verified, version: 12.0.x

#9513 fix(migrations): move disabled property to textarea, #9339
  projects/igniteui-angular/migrations/update-12_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-12_0_0/index.ts
Labels: input-group, migrations, status: verified, version: 12.0.x

#9509 Updating changelog and readme
  CHANGELOG.md
  projects/igniteui-angular/src/lib/date-picker/README.md
  projects/igniteui-angular/src/lib/directives/date-time-editor/README.md
Labels: date-picker, date-range-picker, date-time-editor, documentation, time-picker

#9520 fix(pickers): use any on base property due to strict compile errors
  projects/igniteui-angular/src/lib/date-common/picker-base.directive.ts
Labels: date-picker, date-range-picker, status: awaiting-test, status: verified, time-picker, version: 12.0.x

#9518 Set range picker's default toggle icon to be date_range
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.html
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
Labels: date-range-picker, status: verified

#9517 Treat all year formats that are not "yy" as "yyyy"
  projects/igniteui-angular/src/lib/date-common/util/date-time.util.spec.ts
  projects/igniteui-angular/src/lib/date-common/util/date-time.util.ts
Labels: date-time-utils, status: verified

#9524 chore(*): ng update @angular 12
  package-lock.json
  package.json
Labels: do not merge, version: 12.0.x

#9525 feat(calendar): update calendar min width.
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/date-picker/_date-picker-theme.scss
Labels: calendar, date-picker, status: verified, version: 12.0.x

#9521 fix(grid): use consistent return types to pass checks in strict mode
  projects/igniteui-angular/src/lib/grids/common/row.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  src/app/grid-row-api/grid-row-api.sample.html
  src/app/grid-row-api/grid-row-api.sample.ts
Labels: grid: general, status: verified

#9528 chore(schematics): use rc.0 for cli
  projects/igniteui-angular/package.json
Labels: schematics, version: 12.0.x

#9503 chore(*): updating to Angular 12
  .browserslistrc
  angular.json
  package-lock.json
  package.json
  projects/igniteui-angular/migrations/common/ServerHost.ts
  projects/igniteui-angular/migrations/common/filterSourceDirs.ts
  projects/igniteui-angular/ng-package.json
  projects/igniteui-angular/ng-package.prod.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
  projects/igniteui-angular/src/lib/calendar/calendar.ts
  projects/igniteui-angular/src/lib/calendar/months-view/months-view.component.ts
  projects/igniteui-angular/src/lib/calendar/years-view/years-view.component.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/date-common/picker-base.directive.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.module.ts
  projects/igniteui-angular/src/lib/grids/common/row.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-moving.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tab-header.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
  projects/igniteui-angular/src/test.ts
  src/app/grid-row-api/grid-row-api.sample.html
  src/app/grid-row-api/grid-row-api.sample.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.ts
  src/app/list-panning/list-panning.sample.css
  src/app/list-panning/list-panning.sample.html
  src/app/list-panning/list-panning.sample.ts
  src/app/list-performance/list-performance.sample.css
  src/app/list-performance/list-performance.sample.html
  src/app/list/list.sample.html
  src/app/list/list.sample.ts
  src/environments/environment.ts
  src/polyfills.ts
  src/test.ts
Labels: version: 12.0.x

#9531 chore(schematics): put igniteui/angular-schematics 12
  projects/igniteui-angular/package.json
Labels: schematics, version: 12.0.x

#9505 fix(input-group): theme CSS prop not retreived
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.spec.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
  src/app/dialog/dialog.sample.html
Labels: input-group, status: verified, version: 12.0.x

#9539 Update typedoc plugin
  gulpfile.js
  package-lock.json
  package.json
  tsconfig.json
Labels: documentation, status: verified, typedoc

#9536 refactor(grid-action-buttons): Improve contradicting conditions in template
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-action-button.component.html
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-action-button.component.ts
Labels: action-strip, status: verified, version: 12.0.x

#9541 Add a null check of filteredSortedData in getRowByKey method
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: grid: row-pinning, grid: tree-grid, status: verified, version: 12.0.x

#9551 fix(grid): bind to grid's API in row edit template, #9549
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: grid: hierarchical-grid, grid: row-editing, grid: tree-grid, status: verified, version: 12.0.x

#9506 fix(input-group): theme CSS prop not retreived
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.spec.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  src/app/dialog/dialog.sample.html
Labels: input-group, status: verified, version: 11.1.x

#9550 feat(excel-exporter): add excel limitations
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
Labels: excel-exporter, status: verified, version: 10.2.x

#9460 fix(grid): aria-children-tests#9318-10.2.x
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: aria-support, grid: general, status: verified, version: 10.2.x

#9463 fix(grid): aria-children-tests#9318-11.1.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: aria-support, grid: general, status: verified, version: 11.1.x

#9458 Ttonev/fix 9318 master
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: aria-support, grid: general, status: verified

#9544 Update typedoc plugin
  .vscode/launch.json
  package-lock.json
  package.json
  tsconfig.json
Labels: documentation, status: verified, typedoc, version: 12.0.x

#9545 revert typedoc theme version
  .vscode/launch.json
  package-lock.json
  package.json
  tsconfig.json
Labels: documentation, status: verified, typedoc

#9512 Add excel limitations
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
Labels: excel-exporter, status: verified, version: 12.0.x

#9568 fix(grid): Always end edit mode when expansion indicator is clicked #…
  projects/igniteui-angular/src/lib/grids/api.service.ts
Labels: grid: master-detail, status: verified, version: 11.1.x

#9567 fix(grid): Always end edit mode when expansion indicator is clicked #…
  projects/igniteui-angular/src/lib/grids/api.service.ts
Labels: grid: master-detail, status: verified, version: 12.0.x

#9543 chore(tests): trying single run tests in parallel
  .github/workflows/nodejs.yml
  azure-pipelines.yml
  package-lock.json
  package.json
  projects/igniteui-angular/karma.azure.conf.js
  projects/igniteui-angular/karma.azure.grid.conf.js
  projects/igniteui-angular/karma.conf.js
  projects/igniteui-angular/karma.grid.conf.js
  projects/igniteui-angular/karma.hierarchical-grid.conf.js
  projects/igniteui-angular/karma.non-grid.conf.js
  projects/igniteui-angular/karma.tree-grid.conf.js
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: ci: tests, version: 12.0.x

#9578 chore(*):roadmap-m17-initial-update
  ROADMAP.md
Labels: documentation, version: 12.0.x

#9586 Fix and test for #9510.
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-crud.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: grid: tree-grid, status: verified, version: 11.1.x

#9585 Fix and test for #9510.
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-crud.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: grid: tree-grid, status: verified, version: 12.0.x

#9562 merge 12.0.x into master
  package-lock.json
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-crud.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: version: 12.0.x

#9589 fix(excel-exporter): fix null checks in excel exporter
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
Labels: excel-exporter, status: verified, version: 12.0.x

#9547 feat(excel-exporter): add excel limitations
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
Labels: excel-exporter, status: verified, version: 11.1.x

#9542 refactor(core): Use browser resize observer when available
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tab-header.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
Labels: browser: IE-11, browser: Safari, browser: Safari Mobile, refactoring, status: verified, version: 12.0.x

#9552 Rename overlay's onEvents
  CHANGELOG.md
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-12_1_0/changes/members.json
  projects/igniteui-angular/migrations/update-12_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-12_1_0/index.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/services/overlay/README.md
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
Labels: overlay, status: verified, version: 12.0.x

#9602 chore(banner, panel): update panel and banner API
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-12_1_0/changes/members.json
  projects/igniteui-angular/migrations/update-12_1_0/changes/outputs.json
  projects/igniteui-angular/migrations/update-12_1_0/index.spec.ts
  projects/igniteui-angular/src/lib/banner/README.md
  projects/igniteui-angular/src/lib/banner/banner.component.html
  projects/igniteui-angular/src/lib/banner/banner.component.spec.ts
  projects/igniteui-angular/src/lib/banner/banner.component.ts
  projects/igniteui-angular/src/lib/expansion-panel/README.md
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel-header.component.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.common.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.component.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.spec.ts
  src/app/expansion-panel/expansion-panel-sample.html
Labels: banner, ci: lint, documentation, expansion-panel, version: 12.0.x

#9594 Izhostov/fix excel export ipad master
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
  projects/igniteui-angular/src/lib/services/exporter-common/export-utilities.ts
Labels: excel-exporter

#9564 iPad excel export issue 11.1.x #2649
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
  projects/igniteui-angular/src/lib/services/exporter-common/export-utilities.ts
Labels: excel-exporter, status: verified, version: 11.1.x

#9570 feat(migrations): remove duplicate imports when renaming classes w/ same name
  projects/igniteui-angular/migrations/common/UpdateChanges.spec.ts
  projects/igniteui-angular/migrations/common/UpdateChanges.ts
  projects/igniteui-angular/migrations/update-12_0_0/changes/classes.json
  projects/igniteui-angular/migrations/update-12_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-12_0_0/index.ts
  projects/igniteui-angular/migrations/update-8_2_0/index.spec.ts
Labels: migrations, refactoring, status: verified, version: 12.0.x

#9558 Fix build error in "strictTemplates" mode v.11.1
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: date-picker, status: verified, version: 11.1.x

#9557 Fix build error in "strictTemplates" mode
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: date-picker, status: verified, version: 10.2.x

#9573 Editors properly update their validity state on resetForm
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: combo, date-picker, date-range-picker, select, status: verified, time-picker

#9607 Editors properly update their validity state on resetForm - 11.1.x
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: combo, date-picker, date-range-picker, select, squash-merge, status: verified, time-picker

#9611 Update ng-add schema id to $id
  projects/igniteui-angular/schematics/ng-add/schema.json
Labels: ng add, schematics, status: verified

#9575 Update typedoc plugin 12
  gulpfile.js
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/core/styles/spec/_elevations.spec.scss
  projects/igniteui-angular/src/lib/core/styles/spec/_functions.spec.scss
  projects/igniteui-angular/src/lib/core/styles/spec/_index.scss
  projects/igniteui-angular/src/lib/core/styles/spec/_mixins.spec.scss
Labels: documentation, status: verified, typedoc

#9576 Update typedoc plugin
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/core/styles/spec/_elevations.spec.scss
  projects/igniteui-angular/src/lib/core/styles/spec/_functions.spec.scss
  projects/igniteui-angular/src/lib/core/styles/spec/_index.scss
  projects/igniteui-angular/src/lib/core/styles/spec/_mixins.spec.scss
Labels: documentation, status: verified, typedoc

#9614 Editors properly update their validity state on resetForm - 10.2.x
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: combo, date-picker, date-range-picker, select, status: verified, time-picker

#9618 chore(*): Revert "Merge branch 'master' into 12.0.x"
  CHANGELOG.md
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-12_1_0/changes/members.json
  projects/igniteui-angular/migrations/update-12_1_0/changes/outputs.json
  projects/igniteui-angular/migrations/update-12_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-12_1_0/index.ts
  projects/igniteui-angular/src/lib/banner/README.md
  projects/igniteui-angular/src/lib/banner/banner.component.html
  projects/igniteui-angular/src/lib/banner/banner.component.spec.ts
  projects/igniteui-angular/src/lib/banner/banner.component.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
  projects/igniteui-angular/src/lib/expansion-panel/README.md
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel-header.component.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.common.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.component.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.spec.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/services/overlay/README.md
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
  src/app/expansion-panel/expansion-panel-sample.html
Labels: version: 12.0.x
