Repository IgniteUI/igniteui-angular, pull requests merged in 2021-07, with the labels that each got.

#9799 fix(expansion-panel): handle null animation settings - 12.0.x
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.spec.ts
  projects/igniteui-angular/src/lib/expansion-panel/toggle-animation-component.spec.ts
  projects/igniteui-angular/src/lib/expansion-panel/toggle-animation-component.ts
Labels: expansion-panel, status: verified, version: 12.0.x

#9800 fix(expansion-panel): handle null animation settings - 12.1.x
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.spec.ts
  projects/igniteui-angular/src/lib/expansion-panel/toggle-animation-component.spec.ts
  projects/igniteui-angular/src/lib/expansion-panel/toggle-animation-component.ts
Labels: expansion-panel, status: verified, version: 12.1.x

#9801 fix(expansion-panel): handle null animation settings - 11.1.x
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.component.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.spec.ts
Labels: expansion-panel, status: verified, version: 11.1.x

#9812 fix(expansion-panel): handle null animation settings - 10.2.x
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.component.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.spec.ts
Labels: expansion-panel, status: verified, version: 10.2.x

#9814 fix(list): reset pan state and list item position on pancancel event - 10.2.x
  projects/igniteui-angular/src/lib/list/list-item.component.ts
  projects/igniteui-angular/src/lib/list/list.component.spec.ts
Labels: list, status: verified, version: 10.2.x

#9813 fix(list): reset pan state and list item position on pancancel event - 11.1.x
  projects/igniteui-angular/src/lib/list/list-item.component.ts
  projects/igniteui-angular/src/lib/list/list.component.spec.ts
Labels: list, status: verified, version: 11.1.x

#9811 fix(list): reset pan state and list item position on pancancel event - 12.0.x
  projects/igniteui-angular/src/lib/list/list-item.component.ts
  projects/igniteui-angular/src/lib/list/list.component.spec.ts
Labels: list, status: verified, version: 12.0.x

#9807 fix(list): reset pan state and list item position on pancancel event
  projects/igniteui-angular/src/lib/list/list-item.component.ts
  projects/igniteui-angular/src/lib/list/list.component.spec.ts
Labels: list, status: verified, version: 12.1.x

#9694 feat(grid): expose column input for template context
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/column.interface.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
Labels: grid: general, status: verified, version: 12.1.x

#9797 feat(grid): expose column input for template context
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/column.interface.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
Labels: grid: general, status: verified, version: 10.2.x

#9796 feat(grid): expose column input for template context
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/column.interface.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
Labels: grid: general, status: verified, version: 11.1.x

#9625 tree grid grouping pipe and group area
  projects/igniteui-angular/src/lib/data-operations/sorting-strategy.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-common.module.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.directives.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.module.ts
  projects/igniteui-angular/src/lib/grids/grouping/grid-group-by-area.component.ts
  projects/igniteui-angular/src/lib/grids/grouping/group-by-area.component.html
  projects/igniteui-angular/src/lib/grids/grouping/group-by-area.directive.ts
  projects/igniteui-angular/src/lib/grids/grouping/tree-grid-group-by-area.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/public_api.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-grouping.pipe.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-grouping.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.grouping.pipe.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.module.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/routing.ts
  src/app/tree-grid-groupby/tree-grid-groupby.sample.css
  src/app/tree-grid-groupby/tree-grid-groupby.sample.html
  src/app/tree-grid-groupby/tree-grid-groupby.sample.ts
Labels: grid: groupby, grid: tree-grid, status: verified

#9795 feat(grid): expose column input for template context
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/column.interface.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
Labels: grid: general, status: verified, version: 12.0.x

#9790 Fix scrollbar jump in FireFox when grid needs to autosize (100% height of container that has no size).
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
Labels: browser: firefox, grid: general, status: verified, version: 11.1.x

#9789 Fix scrollbar jump in FireFox when grid needs to autosize (100% height of container that has no size).
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
Labels: browser: firefox, grid: general, status: verified, version: 12.0.x

#9791 Fix scrollbar jump in FireFox when grid needs to autosize (100% height of container that has no size).
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
Labels: browser: firefox, grid: general, status: verified, version: 12.1.x

#9823 Milestone 17 Roadmap Update
  ROADMAP.md
Labels: documentation, version: 12.0.x

#9771 Calculate viewIndex properly for each type of row
  projects/igniteui-angular/src/lib/grids/common/row.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-summaries.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
  src/app/grid-row-api/grid-row-api.sample.html
  src/app/grid-row-api/grid-row-api.sample.ts
Labels: status: verified, version: 12.1.x

#9778 Calculate viewIndex properly for each type of row
  projects/igniteui-angular/src/lib/grids/common/row.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-summaries.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
  src/app/grid-row-api/grid-row-api.sample.html
  src/app/grid-row-api/grid-row-api.sample.ts
Labels: status: verified, version: 12.0.x

#9650 igxAccordion
  CHANGELOG.md
  README.md
  projects/igniteui-angular/src/lib/accordion/README.md
  projects/igniteui-angular/src/lib/accordion/accordion.component.html
  projects/igniteui-angular/src/lib/accordion/accordion.component.spec.ts
  projects/igniteui-angular/src/lib/accordion/accordion.component.ts
  projects/igniteui-angular/src/lib/accordion/accordion.module.ts
  projects/igniteui-angular/src/lib/accordion/public_api.ts
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_expansion-panel.scss
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel-header.component.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.component.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/accordion/accordion.sample.html
  src/app/accordion/accordion.sample.scss
  src/app/accordion/accordion.sample.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/routing.ts
  src/app/shared/shared.module.ts
Labels: feature, igx-accordion, squash-merge, status: verified

#9805 fix(drop-down): Preventing default focus on drop down items #8658
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
Labels: dropdown, status: verified, version: 12.1.x

#9834 Date picker does not throw if double bound to invalid date 12.0
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: date-picker, status: verified, version: 12.0.x

#9833 Date picker does not throw if double bound to invalid date
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: date-picker, status: verified, version: 12.1.x

#9669 fix(tabs): add third div to wrap the tab headers
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.html
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
  src/app/tabs/tabs.sample.html
Labels: status: verified, tabs, version: 12.1.x

#9825 fix(tabs): add third div to wrap the tab headers
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.html
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
  src/app/tabs/tabs.sample.html
Labels: status: verified, tabs, version: 12.0.x

#9828 fix(igx-tabs): check for undefined _resizeObserver in ngOnDestroy (Ig…
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
Labels: status: verified, tabs, version: 12.1.x

#9819 Angular 12.1 update
  gulpfile.js
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/grids/grouping/group-by-area.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.html
  projects/igniteui-angular/src/lib/grids/resizing/resizer.directive.ts
  projects/igniteui-angular/src/lib/list/list-item.component.html
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.html
  projects/igniteui-angular/src/lib/radio/radio.component.ts
  projects/igniteui-angular/src/lib/switch/switch.component.ts
  src/app/grid-search-box/grid-search-box.component.html
  src/app/radio/radio.sample.html
Labels: version: 12.1.x

#9829 Fix 9765 igx tabs patch release
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
Labels: status: verified, tabs, version: 12.0.x

#9816 feat(9740): Add handling for initially collapsed splitter panes with …
  projects/igniteui-angular/src/lib/splitter/splitter-pane/splitter-pane.component.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.spec.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
Labels: splitter, status: verified, version: 12.1.x

#9841 fix(grouparea): regressed connector styling
  projects/igniteui-angular/src/lib/grids/grouping/group-by-area.component.html
Labels: grid: groupby, status: verified, version: 12.1.x

#9729 P miteva/wide chars
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
  projects/igniteui-angular/src/lib/directives/mask/mask-parsing.service.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
Labels: date-picker, date-range-picker, date-time-editor, squash-merge, status: verified, time-picker, version: 12.1.x

#9802 fix(toolbar): Listen to window resize events
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: grid: general, grid: toolbar, status: verified, version: 12.0.x

#9803 fix(toolbar): Listen to window resize events
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: grid: general, grid: toolbar, status: verified, version: 12.1.x

#9845 Reset sync service if column collection has changes.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
Labels: grid: general, status: verified, version: 11.1.x, virtualization

#9843 Reset sync service if column collection has changes.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
Labels: grid: general, status: verified, version: 12.1.x, virtualization

#9840 Update disabled with CD strategy OnPush - 12.0.x
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.html
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
Labels: date-range-picker, status: verified, version: 12.0.x

#9837 Update disabled with CD strategy OnPush
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.html
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
Labels: date-range-picker, status: verified, version: 12.1.x

#9844 Reset sync service if column collection has changes.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
Labels: grid: general, status: verified, version: 12.0.x, virtualization

#9839 chore(ci): updating GH actions with node 16
  .github/workflows/nodejs.yml
  gulpfile.js
  package-lock.json
  package.json
Labels: ci: github-actions, version: 12.1.x

#9864 Add component description to IgxCombo
  projects/igniteui-angular/src/lib/combo/combo.component.ts
Labels: combo, typedoc, version: 12.1.x

#9842 fix(excel-export): fix multi col header export in hgrid
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-components.spec.ts
Labels: excel-exporter, status: verified

#9851 fix(grid): Resolve circular dependencies #9849
  projects/igniteui-angular/src/lib/grids/common/enums.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: grid: general, status: verified, version: 12.0.x

#9850 fix(grid): Resolve circular dependencies #9849
  projects/igniteui-angular/src/lib/grids/common/enums.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: grid: general, status: verified, version: 12.1.x

#9831 feat(list): expose pan start and pan end events #9105 - master
  projects/igniteui-angular/src/lib/list/list-item.component.ts
  projects/igniteui-angular/src/lib/list/list.common.ts
  projects/igniteui-angular/src/lib/list/list.component.spec.ts
  projects/igniteui-angular/src/lib/list/list.component.ts
Labels: list, status: verified, version: 12.1.x

#9865 fix(grid-grouparea): add vertical space between chips
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: grid: groupby, status: verified, themes, version: 12.1.x

#9565 Make onColumnMovingEnd cancelable
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-moving.spec.ts
Labels: grid: column-moving, status: verified

#9878 Add i18n for row edit done and cancel buttons - 10.2.x
  projects/igniteui-angular-i18n/src/i18n/BG/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/grid-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: i18n, status: localized, status: verified, version: 10.2.x

#9879 Add i18n for row edit done and cancel buttons - 11.1.x
  projects/igniteui-angular-i18n/src/i18n/BG/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/grid-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: i18n, status: localized, status: verified, version: 11.1.x

#9880 Add i18n for row edit done and cancel buttons - 12.0.x
  projects/igniteui-angular-i18n/src/i18n/BG/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/grid-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: i18n, status: localized, status: verified, version: 12.0.x

#9871 Add i18n for row edit done and cancel buttons - master
  projects/igniteui-angular-i18n/src/i18n/BG/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/grid-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: i18n, status: localized, status: verified, version: 12.1.x

#9867 Paginator migrations
  projects/igniteui-angular/migrations/common/util.ts
  projects/igniteui-angular/migrations/update-12_1_0/changes/inputs.json
  projects/igniteui-angular/migrations/update-12_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-12_1_0/index.ts
Labels: grid: paging, migrations, paginator, status: verified, version: 12.1.x

#9887 fix(i18n): Fix German resource string - 11.1.x
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
Labels: i18n, version: 11.1.x

#9888 fix(i18n): Fix German resource string - 12.0.x
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
Labels: i18n, version: 12.0.x

#9889 fix(i18n): Fix German resource string - master
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
Labels: i18n, version: 12.1.x

#9876 fix(*): Add a min/max size splitter check when ending movement
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
Labels: splitter, status: verified, version: 11.1.x

#9875 fix(*): Add a min/max size splitter check when ending movement
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
Labels: splitter, status: verified, version: 12.0.x

#9874 fix(*): Add a min/max size splitter check when ending movement
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
Labels: splitter, status: verified, version: 12.1.x

#9860 chore(*): fix some eslint warnings
  CHANGELOG.md
  projects/igniteui-angular/migrations/common/ServerHost.ts
  projects/igniteui-angular/migrations/common/UpdateChanges.spec.ts
  projects/igniteui-angular/migrations/common/UpdateChanges.ts
  projects/igniteui-angular/migrations/common/tsPlugin/index.ts
  projects/igniteui-angular/migrations/update-12_0_0/index.ts
  projects/igniteui-angular/migrations/update-12_1_0/changes/members.json
  projects/igniteui-angular/migrations/update-12_1_0/changes/outputs.json
  projects/igniteui-angular/migrations/update-12_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-9_0_1/index.spec.ts
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
  projects/igniteui-angular/src/lib/accordion/accordion.component.spec.ts
  projects/igniteui-angular/src/lib/banner/banner.component.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
  projects/igniteui-angular/src/lib/directives/focus/focus.directive.ts
  projects/igniteui-angular/src/lib/directives/hint/hint.directive.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/mask/README.md
  projects/igniteui-angular/src/lib/directives/mask/mask-parsing.service.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel-header.component.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.common.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.component.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.spec.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.spec.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.directives.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  src/app/date-time-editor/date-time-editor.sample.html
  src/app/date-time-editor/date-time-editor.sample.ts
  src/app/time-picker/time-picker.sample.ts
Labels: banner, ci: lint, ci: tests, date-time-editor, mask-editor, nav-drawer, squash-merge, time-picker, version: 12.1.x

#9855 fix(tabs): update tabs if selectedIndex = -1
  projects/igniteui-angular/src/lib/tabs/tab-item.directive.ts
  projects/igniteui-angular/src/lib/tabs/tabs.directive.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tabs-components.spec.ts
  src/app/tabs/tabs.sample.html
  src/app/tabs/tabs.sample.ts
Labels: status: verified, tabs, version: 12.1.x

#9856 fix(tabs): update tabs if selectedIndex = -1
  projects/igniteui-angular/src/lib/tabs/tab-item.directive.ts
  projects/igniteui-angular/src/lib/tabs/tabs.directive.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tabs-components.spec.ts
  src/app/tabs/tabs.sample.html
  src/app/tabs/tabs.sample.ts
Labels: status: verified, tabs, version: 12.0.x

#9896 fix(chip-theme): add missing selectors to component $selector list.
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
Labels: chip, status: verified, version: 12.0.x

#9905 refactor(themes): add optional math.div
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
Labels: themes, version: 12.1.x

#9838 chore(toggle, dropdown+): Fixing lint errors #8353
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-12_1_0/changes/members.json
  projects/igniteui-angular/migrations/update-12_1_0/changes/outputs.json
  projects/igniteui-angular/migrations/update-12_1_0/index.spec.ts
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.ts
  projects/igniteui-angular/src/lib/combo/README.md
  projects/igniteui-angular/src/lib/combo/combo-add-item.component.ts
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/dialog/README.md
  projects/igniteui-angular/src/lib/dialog/dialog.component.spec.ts
  projects/igniteui-angular/src/lib/dialog/dialog.component.ts
  projects/igniteui-angular/src/lib/dialog/dialog.directives.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/README.md
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
  projects/igniteui-angular/src/lib/directives/toggle/README.md
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  projects/igniteui-angular/src/lib/drop-down/README.md
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.component.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down-navigation.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.common.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.html
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.html
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-conditional-filter.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-hiding.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-pinning.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.base.ts
  projects/igniteui-angular/src/lib/select/README.md
  projects/igniteui-angular/src/lib/select/select.component.html
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/snackbar/snackbar.component.spec.ts
  projects/igniteui-angular/src/lib/snackbar/snackbar.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
  projects/igniteui-angular/src/lib/toast/toast.component.ts
  src/app/carousel/carousel.sample.html
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
  src/app/drop-down/drop-down.sample.html
  src/app/grid-groupby/grid-groupby.sample.html
  src/app/grid-selection/grid-selection.sample.html
  src/app/select/select.sample.html
  src/app/toast/toast.sample.html
  src/app/tree-grid/tree-grid.sample.html
Labels: autocomplete, combo, dialog, dropdown, select, toggle, version: 12.1.x

#9858 Fix migrations for chained members
  projects/igniteui-angular/migrations/common/tsUtils.ts
Labels: migrations, status: verified, version: 12.1.x

#9906 chore(*): fix some ESLint warnings
  projects/igniteui-angular/migrations/update-12_1_0/index.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
Labels: ci: lint, version: 12.1.x

#9907 Fix toggle components event args
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/README.md
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/date-common/calendar-container/calendar-container.component.html
  projects/igniteui-angular/src/lib/date-common/calendar-container/calendar-container.component.ts
  projects/igniteui-angular/src/lib/date-picker/README.md
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/README.md
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/directives/toggle/README.md
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
  projects/igniteui-angular/src/lib/drop-down/README.md
  projects/igniteui-angular/src/lib/drop-down/drop-down.common.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/select/README.md
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/time-picker/README.md
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: autocomplete, calendar, combo, date-picker, date-range-picker, dialog, dropdown, select, severity: medium, status: verified, time-picker, toggle, version: 12.1.x

#9897 fix(chip-theme): add missing selectors to component $selector list.
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
Labels: chip, status: verified, version: 12.1.x

#9899 fix(*): Use localization strings for snackbar label and action text
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: grid: row-adding, localization, status: verified, version: 11.1.x

#9894 fix(*): Use localization strings for snackbar label and action text
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: grid: row-adding, localization, status: verified, version: 12.0.x

#9893 fix(*): Use localization strings for snackbar label and action text
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: grid: row-adding, localization, status: verified, version: 12.1.x

#9909 chore(*): eslint changes and migrations
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-12_1_0/changes/members.json
  projects/igniteui-angular/migrations/update-12_1_0/changes/outputs.json
  projects/igniteui-angular/migrations/update-12_1_0/index.spec.ts
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.ts
  projects/igniteui-angular/src/lib/combo/README.md
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/dialog/dialog.component.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/README.md
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
  projects/igniteui-angular/src/lib/drop-down/README.md
  projects/igniteui-angular/src/lib/drop-down/drop-down.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.common.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-conditional-filter.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.html
  projects/igniteui-angular/src/lib/select/README.md
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  src/app/autocomplete/autocomplete.sample.html
  src/app/calendar/calendar.sample.html
  src/app/carousel/carousel.sample.html
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
  src/app/dialog/dialog.sample.html
  src/app/drop-down/drop-down.sample.html
  src/app/grid-groupby/grid-groupby.sample.html
  src/app/grid-multi-row-layout-config/grid-mrl-config.sample.html
  src/app/grid-selection/grid-selection.sample.html
  src/app/list/list.sample.html
  src/app/select/select.sample.html
  src/app/styleguide/animations/animations.sample.html
  src/app/tree-grid/tree-grid.sample.html
Labels: version: 12.1.x

#9911 fix(migrations): fix IgxDateRangePickerComponent migrations #9904
  projects/igniteui-angular/migrations/update-12_0_0/changes/members.json
Labels: date-range-picker, migrations, version: 12.1.x

#9910 fix(migrations): fix IgxDateRangePickerComponent migrations #9904
  projects/igniteui-angular/migrations/update-12_0_0/changes/members.json
Labels: date-range-picker, migrations, version: 12.0.x

#9918 chore(migrations): add event renaming for combo and autocomplete
  projects/igniteui-angular/migrations/update-12_1_0/changes/classes.json
  projects/igniteui-angular/migrations/update-12_1_0/index.spec.ts
Labels: autocomplete, combo, migrations, version: 12.1.x

#9919 chore(*): update product packages
  projects/igniteui-angular/package.json
Labels: version: 12.1.x

#9916 feat(grids): add migrations for deprecated IgxGridTransaction token
  projects/igniteui-angular/migrations/update-12_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-12_1_0/index.ts
Labels: migrations, status: verified, transaction, version: 12.1.x

#9935 IgxDateRangePicker exports IgxPickersCommonModule
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.module.ts
Labels: date-range-picker, status: verified, version: 12.1.x

#9936 IgxDateRangePicker exports IgxPickersCommonModule - 12.0.x
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.module.ts
Labels: date-range-picker, status: verified, version: 12.0.x

#9945 Type checkbox click event to MouseEvent | Pointer event
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-public-cell.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
Labels: checkbox, status: verified

#9940 perf(grid): Cell template context
  projects/igniteui-angular/src/lib/grids/cell.component.ts
Labels: grid: performance, status: verified, version: 12.1.x

#9949 Fix failing tests
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
Labels: overlay, status: verified

#9846 fix(*): Make context templateId more complicated object with type and…
  package.json
  projects/igniteui-angular/karma.watch.conf.js
  projects/igniteui-angular/src/lib/directives/template-outlet/template_outlet.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-add-row.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
Labels: grid: hierarchical-grid, grid: row-selection, status: verified, version: 12.1.x

#9951 IgxMask fix failing tests
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.spec.ts
Labels: mask-editor, status: verified

#9938 chore(schematics): update to @igniteui/angular-schematics@12.1.810-rc.0
  projects/igniteui-angular/package.json
Labels: schematics, version: 12.1.x

#9947 fix(excel-exporter): fix exporting of array data
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: excel-exporter, status: verified, version: 12.1.x

#9933 Add z-index to the chip ghost
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
Labels: chip, status: verified, version: 12.1.x

#9942 Use available row data when creating row
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-public-cell.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: status: verified

#9946 fix(button): Make IgxButtonDirective to work with disabled attr
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
  src/app/button/button.sample.html
Labels: button, status: verified, version: 12.1.x

#9955 Fix failing tests - v10.2
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
Labels: overlay, status: verified, version: 10.2.x

#9952 Fix failing tests - v12.0
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
Labels: overlay, status: verified, version: 12.0.x

#9954 Fix failing tests - v11.1
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
Labels: overlay, status: verified, version: 11.1.x
