Repository IgniteUI/igniteui-angular, pull requests merged in 2021-09, with the labels that each got.

#10076 fix(grid): Boolean column filter fix #10048
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
Labels: status: verified, grid: filter-ui, version: 12.0.x

#9998 chore(*): roadmap update m18 12 aug 2021
  ROADMAP.md
Labels: documentation, version: 12.1.x

#10079 fix(grid): Focus input inside rAF #10048
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
Labels: status: verified, grid: filter-ui, version: 12.1.x

#10080 fix(grid): Focus input inside rAF #10048
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
Labels: status: verified, grid: filter-ui, version: 13.0.x

#10090 perf(grid): reduce delay on larger group row selection
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
  src/app/grid-groupby/grid-groupby.sample.html
  src/app/grid-groupby/grid-groupby.sample.ts
Labels: status: verified, grid: general, grid: groupby, grid: row-selection, version: 11.1.x, grid: performance

#10088 perf(grid): reduce delay on larger group row selection
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
  src/app/grid-groupby/grid-groupby.sample.html
  src/app/grid-groupby/grid-groupby.sample.ts
Labels: status: verified, grid: general, grid: groupby, grid: row-selection, grid: performance, version: 12.1.x

#10089 perf(grid): reduce delay on larger group row selection
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
  src/app/grid-groupby/grid-groupby.sample.html
  src/app/grid-groupby/grid-groupby.sample.ts
Labels: status: verified, grid: general, grid: groupby, grid: row-selection, grid: performance, version: 13.0.x

#10087 Expose columnsCollection property --11.1.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: status: verified, grid: general, version: 11.1.x

#10085 Expose columnsCollection property -- master
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: status: verified, grid: general

#10086 Expose columnsCollection property --12.1.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: status: verified, grid: general, version: 12.1.x

#10101 chore(*): Roadmap update M18 10Sep21
  ROADMAP.md
Labels: documentation, version: 12.1.x

#10097 feat(state-persistance): restore column group headers #8516 - master
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  projects/igniteui-angular/src/lib/grids/state.hierarchicalgrid.spec.ts
  projects/igniteui-angular/src/lib/grids/state.treegrid.spec.ts
  src/app/grid-state/grid-state.component.html
  src/app/grid-state/grid-state.component.ts
Labels: status: verified, grid: multi-column-headers, grid: state-persistence, version: 12.1.x

#10111 test(*): Fix failing tests due change in error msg
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
Labels: version: 11.1.x

#10112 test(*): Fix failing tests due change in error msg
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
Labels: version: 10.2.x

#10102 Update grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
Labels: status: verified, i18n, version: 12.1.x

#10082 Update grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
Labels: status: verified, i18n, version: 13.0.x

#10107 fix(grid): Add check for shadowRoot
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
Labels: status: verified, drag-drop, version: 12.1.x

#10070 feat(add-row): implementing context-free beginAddRow method #9675 - master
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-add-row.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  src/app/grid-add-row/grid-add-row.sample.html
  src/app/grid-add-row/grid-add-row.sample.ts
  src/app/tree-grid-add-row/tree-grid-add-row.sample.html
  src/app/tree-grid-add-row/tree-grid-add-row.sample.scss
  src/app/tree-grid-add-row/tree-grid-add-row.sample.ts
Labels: status: verified, grid: row-adding, version: 13.0.x

#10110 perf(grid-rows): Cleaned row style bindings
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: status: verified

#10115 fix(grid): Add check for shadowRoot
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
Labels: status: verified

#10022 Introduce conditional rowClasses and rowStyles
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/common/grid-pipes.module.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-base-components.spec.ts
  src/app/gird-cell-styling/grid-cell-styling.sample.html
  src/app/gird-cell-styling/grid-cell-styling.sample.scss
  src/app/gird-cell-styling/grid-cell-styling.sample.ts
Labels: status: verified, grid: general, grid: tree-grid, grid: hierarchical-grid, version: 13.0.x

#10123 feat(i18n): Adding Norwegian language - 10.2.x
  projects/igniteui-angular-i18n/src/i18n/NB/carousel-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/list-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/paginator-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/time-picker-resources.ts
  projects/igniteui-angular-i18n/src/index.ts
Labels: status: localized, status: verified, i18n, version: 10.2.x

#10132 feat(i18n): Adding Norwegian language - 11.1.x
  projects/igniteui-angular-i18n/src/i18n/NB/calendar-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/carousel-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/list-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/paginator-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/time-picker-resources.ts
  projects/igniteui-angular-i18n/src/index.ts
Labels: status: localized, status: verified, i18n, version: 11.1.x

#10136 feat(i18n): Adding Norwegian language - 12.1.x
  projects/igniteui-angular-i18n/src/i18n/NB/calendar-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/carousel-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/date-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/list-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/paginator-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/time-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/tree-resources.ts
  projects/igniteui-angular-i18n/src/index.ts
Labels: status: localized, status: verified, i18n, version: 12.1.x

#10139 feat(i18n): Adding Norwegian language - master
  projects/igniteui-angular-i18n/src/i18n/NB/calendar-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/carousel-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/date-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/list-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/paginator-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/time-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/tree-resources.ts
  projects/igniteui-angular-i18n/src/index.ts
Labels: status: localized, status: verified, i18n, version: 13.0.x

#10113 fix(dialog): Reset letter-spacing for all nested elements inside the dialog-content
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
Labels: styling, dialog, version: 12.1.x

#10114 fix(dialog): Reset letter-spacing for all nested elements inside the dialog-content
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
Labels: styling, dialog, status: verified, version: 11.1.x

#10124 Pivot grid skeleton
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.module.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/public_api.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/pivot-grid/pivot-grid.sample.css
  src/app/pivot-grid/pivot-grid.sample.html
  src/app/pivot-grid/pivot-grid.sample.ts
  src/app/routing.ts
Labels: grid: pivot

#10142 fix(esf): added missing aria related attributes - 12.1.x
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-clear-filters.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-conditional-filter.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-hiding.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-pinning.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-selecting.component.html
Labels: status: verified, grid: excel-style-filtering, aria-support, version: 12.1.x

#10143 fix(esf): added missing aria related attributes - 11.1.x
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-clear-filters.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-conditional-filter.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-hiding.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-pinning.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-selecting.component.html
Labels: status: verified, grid: excel-style-filtering, aria-support, version: 11.1.x

#10144 fix(esf): added missing aria related attributes - 10.2.x
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-clear-filters.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-conditional-filter.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-hiding.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-pinning.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-selecting.component.html
Labels: status: verified, grid: excel-style-filtering, aria-support, version: 10.2.x

#10105 fix(esf): added missing aria related attributes - master
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-clear-filters.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-conditional-filter.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-hiding.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-pinning.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-selecting.component.html
Labels: status: verified, grid: excel-style-filtering, aria-support, version: 13.0.x

#10133 feat(snackbar): Add input for custom position strategy#10126 - master
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/notification/notifications.directive.ts
  projects/igniteui-angular/src/lib/snackbar/snackbar.component.spec.ts
  projects/igniteui-angular/src/lib/snackbar/snackbar.component.ts
  projects/igniteui-angular/src/lib/toast/toast.component.spec.ts
  projects/igniteui-angular/src/lib/toast/toast.component.ts
  src/app/snackbar/snackbar.sample.html
  src/app/snackbar/snackbar.sample.ts
Labels: status: verified, snackbar, version: 13.0.x

#10141 fix(for-of): inheriting flex-flow for display container #10037
  projects/igniteui-angular/src/lib/core/styles/components/_common/_igx-display-container.scss
Labels: list, status: verified, virtualization, version: 13.0.x

#10149 chore(dev-demos): Add drag and drop sample overlapping shadow dom
  src/app/app.module.ts
  src/app/drag-drop/drag-drop.sample.html
  src/app/drag-drop/drag-drop.sample.ts
  src/app/drag-drop/shadow-dom-grid/shadow-grid-sample.html
  src/app/drag-drop/shadow-dom-grid/shadow-grid-sample.scss
  src/app/drag-drop/shadow-dom-grid/shadow-grid-sample.ts
Labels: samples

#10152 feat(snackbar): Add input for custom position strategy#10126 - 12.1.x
  projects/igniteui-angular/src/lib/directives/notification/notifications.directive.ts
  projects/igniteui-angular/src/lib/snackbar/snackbar.component.spec.ts
  projects/igniteui-angular/src/lib/snackbar/snackbar.component.ts
  projects/igniteui-angular/src/lib/toast/toast.component.spec.ts
  projects/igniteui-angular/src/lib/toast/toast.component.ts
  src/app/snackbar/snackbar.sample.html
  src/app/snackbar/snackbar.sample.ts
Labels: status: verified, toast, snackbar, version: 12.1.x

#10135 Fixes column width not updating when grouping is cleared
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: status: verified, grid: groupby, version: 13.0.x

#10146 Add support for members defined via custom function for rows/columns.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  src/app/pivot-grid/pivot-grid.sample.html
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: grid: pivot

#10153 chore(*): update or roadamap for m18 17-sep-21
  ROADMAP.md
Labels: documentation, version: 12.1.x

#10137 Fixes column width not updating when grouping is cleared - 12.1
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: status: verified, grid: groupby, version: 12.1.x

#10138 Fixes column width not updating when grouping is cleared - 11.1
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: status: verified, grid: groupby, version: 11.1.x

#10163 fix(tabs): remove role with invalid value #10122 - 12.1.x
  projects/igniteui-angular/src/lib/tabs/tabs.directive.ts
Labels: status: verified, tabs, version: 12.1.x

#10099 Add input group accessibility aria labels
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.html
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
Labels: input, status: verified, input-group, squash-merge, version: 12.1.x

#10162 fix(tabs): remove role with invalid value #10122 - master
  projects/igniteui-angular/src/lib/tabs/tabs.directive.ts
Labels: status: verified, tabs, version: 12.2.x

#10116 Add rowAdd and rowDelete events
  CHANGELOG.md
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.ts
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: status: verified, grid: row-editing, grid: row-adding, version: 12.2.x

#10159 Add i18n strings - 11.1.x
  projects/igniteui-angular-i18n/src/i18n/BG/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/BG/resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/resources.ts
  projects/igniteui-angular-i18n/src/index.ts
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
  projects/igniteui-angular/src/public_api.ts
Labels: input, status: localized, status: verified, i18n, input-group, version: 11.1.x

#10191 fix(grid): Check summary reference
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
Labels: status: verified, version: 12.1.x

#10190 fix(grid): Check summary reference
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
Labels: status: verified, version: 13.0.x

#10179 IgxDatePicker - apply asterisk when reactive form required validator is set - v.12.1.x
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: status: verified, date-picker, version: 12.1.x

#10170 IgxDatePicker - apply asterix when reactive form required validator is set
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: status: verified, date-picker, version: 13.0.x

#10189 fix(grid): Check summary reference
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
Labels: status: verified, version: 11.1.x

#10197 chore(*): update-roadmap-m18-27sep21
  ROADMAP.md
Labels: documentation, version: 12.2.x

#10154 fix(grid): use formattter function for boolean columns #8978
  projects/igniteui-angular/src/lib/data-operations/data-util.spec.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
  projects/igniteui-angular/src/lib/test-utils/template-strings.spec.ts
  src/app/grid-formatting/grid-formatting.component.html
Labels: status: verified, grid: general, version: 13.0.x

#10160 fix(grid): use formattter function for boolean columns-12.1.x #8978
  projects/igniteui-angular/src/lib/data-operations/data-util.spec.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
  projects/igniteui-angular/src/lib/test-utils/template-strings.spec.ts
  src/app/grid-formatting/grid-formatting.component.html
Labels: status: verified, grid: general, version: 12.1.x

#10193 fix(grid): Check summary reference #10189
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
Labels: status: verified, version: 10.2.x

#10168 fix(grid): use formattter function for boolean columns-10.2.x #8978
  projects/igniteui-angular/src/lib/data-operations/data-util.spec.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
  projects/igniteui-angular/src/lib/test-utils/template-strings.spec.ts
Labels: status: verified, grid: general, version: 10.2.x, grid: column-types

#10169 fix(grid): use formattter function for boolean columns-11.1.x #8978
  projects/igniteui-angular/src/lib/data-operations/data-util.spec.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
  projects/igniteui-angular/src/lib/test-utils/template-strings.spec.ts
Labels: status: verified, grid: general, version: 11.1.x

#10150 Add handling for levels and expand/collapse indicators.
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  src/app/pivot-grid/pivot-grid.sample.html
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: grid: pivot

#10210 fix(filtering): add row data param to formatter - 12.1.x
  projects/igniteui-angular/src/lib/data-operations/filtering-strategy.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: status: verified, filtering, version: 12.1.x

#10204 fix(filtering): add row data param to formatter - master
  projects/igniteui-angular/src/lib/data-operations/filtering-strategy.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: status: verified, filtering, version: 12.2.x

#10215 chore(schematics): update ignite ui schematics
  projects/igniteui-angular/package.json
Labels: schematics, version: 12.2.x
