Repository IgniteUI/igniteui-angular, pull requests merged in 2021-08, with the labels that each got.

#9913 Fixed columns and data mismatch in exported Excel file #9872
  projects/igniteui-angular/src/lib/services/csv/char-separated-value-data.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: excel-exporter, status: verified, version: 11.1.x

#9960 fix(Exporter): Fixed field-header mapping #9872 #9958
  projects/igniteui-angular/src/lib/services/csv/char-separated-value-data.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter.ts
  projects/igniteui-angular/src/lib/services/csv/csv-verification-wrapper.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: exporters, status: verified, version: 12.1.x

#9868 fix(*): Make context templateID more complicated object with type and id
  package.json
  projects/igniteui-angular/karma.watch.conf.js
  projects/igniteui-angular/src/lib/directives/template-outlet/template_outlet.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-add-row.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
Labels: grid: hierarchical-grid, grid: row-selection, status: verified, version: 12.0.x

#9869 fix(*): Make context templateID more complicated object with type and id
  package.json
  projects/igniteui-angular/karma.watch.conf.js
  projects/igniteui-angular/src/lib/directives/template-outlet/template_outlet.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-add-row.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
Labels: grid: hierarchical-grid, grid: row-selection, status: verified, version: 11.1.x

#9921 Fixed columns and data mismatch in exported Excel file #9872
  projects/igniteui-angular/src/lib/services/csv/char-separated-value-data.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/template-strings.spec.ts
Labels: excel-exporter, status: verified, version: 12.0.x

#9961 fix(migrations): read tsconfig using typescript's parser
  projects/igniteui-angular/migrations/common/UpdateChanges.ts
Labels: migrations, status: verified, version: 12.1.x

#9957 chore(schematics): update with 12.1.810
  projects/igniteui-angular/package.json
Labels: schematics, version: 12.1.x

#9932 chore(*): update of milestone 17
  ROADMAP.md
Labels: documentation, version: 12.0.x

#9963 Use formatted value in cell tooltip
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: grid: cell-interaction, grid: general, status: verified, version: 12.1.x

#9964 Use formatted value in cell tooltip --- 11.1.x
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: grid: cell-interaction, grid: general, status: verified, version: 11.1.x

#9965 Use formatted value in cell tooltip -- 10.2.x
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: grid: cell-interaction, grid: general, status: verified, version: 10.2.x

#9971 Angular 12.2 update
  package-lock.json
  package.json
Labels: version: 12.1.x

#9967 refactor(radio-group): deprecate disabled and labelPosition
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
Labels: refactoring, radio-group, 12.2.0

#9966 fix(hierarchical-grid): copy selected cell properly #9782
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: status: verified, grid: hierarchical-grid, grid: copy-paste, version: 12.1.x

#9968 fix(hierarchical-grid): copy selected cell properly #9782
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: status: verified, grid: hierarchical-grid, version: 11.1.x, grid: copy-paste

#9972 fix(hierarchical-grid): copy selected cell properly #9782
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: status: verified, grid: hierarchical-grid, version: 10.2.x, grid: copy-paste

#9974 fix(migrations): support setup with tsconfig not in project root #9927
  projects/igniteui-angular/migrations/common/UpdateChanges.ts
Labels: status: verified, migrations, version: 12.1.x

#9941 chore(dev-demos): Fixed prod build
  angular.json
  projects/igniteui-angular/src/lib/calendar/years-view/years-view.component.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  src/app/grid-cell-api/grid-cell-api.sample.html
  src/app/snackbar/snackbar.sample.html
Labels: demos, status: awaiting-test, version: 12.1.x

#9977 fix(#9976): Clean context on mouseleave to prevent context change err…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  src/app/tree-grid-add-row/tree-grid-add-row.sample.html
Labels: status: verified, grid: general, version: 12.1.x

#9978 fix(#9976): Clean context on mouseleave to prevent context change err…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  src/app/tree-grid-add-row/tree-grid-add-row.sample.html
Labels: status: verified, grid: general, version: 11.1.x

#9992 Fix row jumping in edit mode
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: status: verified, grid: cell-editing, version: 12.1.x

#9984 fix(migrations): migrate GridPagingMode via members.json
  projects/igniteui-angular/migrations/common/UpdateChanges.ts
  projects/igniteui-angular/migrations/common/tsUtils.ts
  projects/igniteui-angular/migrations/update-11_1_0/changes/members.json
  projects/igniteui-angular/migrations/update-11_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-11_1_0/index.ts
Labels: status: verified, migrations, version: 12.1.x

#9999 feat(grid): Provide row data as argument to column formatter
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: status: verified, grid: general, squash-merge, version: 12.1.x

#10001 feat(grid): Provide row data as argument to column formatter
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.html
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: status: verified, grid: general, squash-merge, version: 11.1.x

#10004 Update range picker's calendar when its value has changed
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
Labels: status: verified, date-range-picker

#9930 Support column header freezing on export
  CHANGELOG.md
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/exporter-options-base.ts
Labels: status: verified, excel-exporter, version: 12.1.x

#9973 fix(time-picker): fix time picker pan event #9717
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.directives.ts
Labels: status: verified, time-picker, squash-merge, version: 12.1.x

#10013 Ibarakov/fix 9985 12.0.x
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: status: verified, excel-exporter, grid: hierarchical-grid, version: 12.0.x

#10012 fix(excel-exporter): correctly export hGrid with auto generated islands
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: status: verified, excel-exporter, grid: hierarchical-grid, version: 13.0.x

#10011 fix(excel-exporter): correctly export hGrid with auto generated islands
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: status: verified, excel-exporter, grid: hierarchical-grid, version: 12.1.x

#10032 Fix time picker pan event
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.directives.ts
Labels: status: verified, time-picker

#10021 fix(checkbox, switch): implement setDisabledState
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/switch/switch.component.ts
Labels: switch, checkbox, status: verified, version: 11.1.x

#10020 fix(checkbox, switch): implement setDisabledState
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/switch/switch.component.ts
Labels: switch, checkbox, status: verified, version: 12.1.x

#9877 Add row refactor and integration with transaction service.
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.ts
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-add-row.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.nested.props.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-add-row.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-add-row-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.module.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
  projects/igniteui-angular/src/lib/services/transaction/base-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-transaction.ts
Labels: status: verified, grid: row-adding, version: 12.1.x

#10025 fix(checkbox, switch): implement setDisabledState
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/switch/switch.component.ts
Labels: switch, checkbox, status: verified, version: 10.2.x

#10008 Add row refactor and integration with transaction service
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.ts
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-add-row.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.nested.props.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-add-row.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-add-row-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.module.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
  projects/igniteui-angular/src/lib/services/transaction/base-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-transaction.ts
Labels: status: verified, grid: row-adding, version: 13.0.x

#10027 Update styles and asterisk on dynamically added/removed validator - 10.2.x
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.spec.ts
Labels: input, status: verified, input-group

#10026 Update styles and asterisk on dynamically added/removed validator - 11.1.x
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
Labels: input, status: verified, input-group

#9987 Prevents child overlay from disappearing when scrolling in hierarchical grid - 12.1
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: status: verified, overlay, grid: row-editing, grid: hierarchical-grid, version: 12.1.x

#9982 Prevents child overlay from disappearing when scrolling in hierarchical grid
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: status: verified, overlay, grid: row-editing, grid: hierarchical-grid, version: 13.0.x

#10044 fix(checkbox, switch): implement setDisabledState
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/switch/switch.component.ts
Labels: switch, checkbox, status: verified, version: 12.1.x

#10031 Setting input disabled state in reactive form
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
Labels: input, status: verified, input-group, version: 13.0.x

#10038 Setting input disabled state in reactive form 12.1.x
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
Labels: input, status: verified, input-group, version: 12.1.x

#10041 Setting input disabled state in reactive form 11.1.x
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.html
Labels: input, status: verified, input-group, version: 11.1.x

#10036 fix(highlight): skip active highlight if index is -1
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
Labels: status: verified, text-highlight, version: 10.2.x

#10033 fix(radio-group): modify selection logic
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
Labels: status: verified, radio-group, version: 13.0.x

#10007 Enable row editing overlay customization for child-level records - 11.1
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: status: verified, overlay, grid: row-editing, grid: hierarchical-grid, version: 11.1.x

#10034 fix(highlight): skip active highlight if index is -1
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
Labels: status: verified, text-highlight, version: 12.1.x

#10051 chore(*): refactoring the splitter for partial ivy
  projects/igniteui-angular/src/lib/splitter/splitter-bar.component.html
  projects/igniteui-angular/src/lib/splitter/splitter-bar/splitter-bar.component.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
  projects/igniteui-angular/src/lib/splitter/splitter.module.ts
Labels: splitter, version: 13.0.x

#10052 Update input validator-test-10.2.x
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
Labels: ci: tests, input, input-group

#10053 Update input validator-test-11.1.x
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
Labels: ci: tests, input, input-group

#10054 Update input validator-test-12.1.x
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
Labels: ci: tests, input, input-group

#9995 Enable row editing overlay customization for child-level records
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: status: verified, overlay, grid: row-editing, grid: hierarchical-grid, version: 13.0.x

#10006 Enable row editing overlay customization for child-level records - 12.1
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: status: verified, overlay, grid: row-editing, grid: hierarchical-grid, version: 12.1.x

#10023 Update styles and asterisk on dynamically added/removed validator - master
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
Labels: input, status: verified, input-group

#10030 fix(highlight): skip active highlight if index is -1
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
Labels: status: verified, text-highlight, version: 13.0.x

#10035 fix(highlight): skip active highlight if index is -1
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
Labels: status: verified, text-highlight, version: 11.1.x

#10045 fix(radio-group): modify selection logic
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
Labels: status: verified, radio-group, version: 12.1.x

#10046 fix(radio-group): modify selection logic
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
Labels: status: verified, radio-group, version: 11.1.x

#10047 fix(radio-group): modify selection logic
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
Labels: status: verified, radio-group, version: 10.2.x

#10069 chore(*): fixing lint with accs modifiers
  .eslintrc.json
  projects/igniteui-angular/src/lib/data-operations/filtering-expressions-tree.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/divider/divider.directive.ts
  projects/igniteui-angular/src/lib/directives/divider/divider.spec.ts
  projects/igniteui-angular/src/lib/directives/filter/filter.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/focus/focus.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/text-selection/text-selection.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-mrl-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid.common.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/sorting-index.pipe.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  src/app/grid-cell-api/grid-cell-api.sample.ts
  src/app/grid-row-api/grid-row-api.sample.html
  src/app/grid-row-api/grid-row-api.sample.ts
  src/app/tree-grid-groupby/tree-grid-groupby.sample.html
  src/app/tree-grid-groupby/tree-grid-groupby.sample.ts
  src/app/tree/tree.sample.html
  src/app/tree/tree.sample.ts
Labels: ci: lint, version: 13.0.x

#10066 feat(*): removing IE11 support
  .eslintrc.json
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/data-operations/filtering-expressions-tree.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/divider/divider.directive.ts
  projects/igniteui-angular/src/lib/directives/divider/divider.spec.ts
  projects/igniteui-angular/src/lib/directives/filter/filter.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/focus/focus.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/base.helper.component.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.ts
  projects/igniteui-angular/src/lib/directives/text-selection/text-selection.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/column.interface.ts
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-mrl-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid.common.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/headers/sorting-index.pipe.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
  src/app/grid-cell-api/grid-cell-api.sample.ts
  src/app/grid-row-api/grid-row-api.sample.html
  src/app/grid-row-api/grid-row-api.sample.ts
  src/app/tree-grid-groupby/tree-grid-groupby.sample.html
  src/app/tree-grid-groupby/tree-grid-groupby.sample.ts
  src/app/tree/tree.sample.html
  src/app/tree/tree.sample.ts
Labels: browser: IE-11, version: 13.0.x

#10072 Update picker's input value after content is checked
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: status: verified, date-picker, version: 11.1.x
