Repository IgniteUI/igniteui-angular, pull requests merged in 2022-12, with the labels that each got.

#12397 fix(grid-filtering): prevent form submit on filter buttons click - 15.0.x
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.html
Labels: :white_check_mark: status: verified, filtering, version: 15.0.x

#12398 fix(grid-filtering): prevent form submit on filter buttons click - 14.2.x
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.html
Labels: :white_check_mark: status: verified, filtering, version: 14.2.x

#12383 chore(*): update changelog
  CHANGELOG.md
Labels: :book: documentation, :white_check_mark: status: verified

#12409 Migrate css custom properties
  projects/igniteui-angular/migrations/update-15_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-15_0_0/index.ts
Labels: :white_check_mark: status: verified, migrations, version: 15.0.x

#12382 fix(themes): missing colors in theme presets
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_indigo.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 15.0.x

#12381 fix(simple-combo): preserve selection when bound to remote data - 14.2.x
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 14.2.x

#12411 feat(button): fix material raised button height when there is an icon inside.
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
Labels: material-theme, :white_check_mark: status: verified, button, version: 15.0.x

#12388 fix(radio): wrong label margin in fluent theme
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
Labels: radio-button, :white_check_mark: status: verified, fluent-theme, design: verified, version: 15.0.x

#12390 fix(tab): wrong button color in fluent theme
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_tabs.scss
Labels: :white_check_mark: status: verified, tabs, fluent-theme, design: verified, version: 15.0.x

#12432 feat(calendar): Add content-text-color to all views that can be decoupled from the calendar.
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
Labels: :white_check_mark: status: verified, month-picker, version: 14.2.x

#12433 feat(calendar): Add content-text-color to all views that can be decoupled from the calendar
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
Labels: :white_check_mark: status: verified, month-picker, version: 13.2.x

#12434 refactor(toolbar): to use absolute position so the buttons are allaysin the view
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
Labels: :white_check_mark: status: verified, grid: toolbar, version: 14.2.x

#12356 style(dialog): Change message color in fluent light and dark themes.
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_dialog.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_dialog.scss
Labels: dialog, :white_check_mark: status: verified, fluent-theme, design: verified, version: 15.0.x

#12431 feat(calendar): Add content-text-color to all views that can be decoupled from the calendar.
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
Labels: :white_check_mark: status: verified, month-picker, version: 15.0.x

#12444 fix(themes): prefix dock manager CSS variables
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/dock-manager/_dock-manager-theme.scss
Labels: :white_check_mark: status: verified, dock manager, :sparkles: themes, version: 15.0.x

#12425 Don't allow entering edit mode if PrimaryKey is not set - 15.0
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.ts
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
Labels: :white_check_mark: status: verified, grid: row-editing, grid, version: 15.0.x

#12423 Don't allow entering edit mode if PrimaryKey is not set - 14.2
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.ts
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
Labels: :white_check_mark: status: verified, grid: row-editing, grid, version: 14.2.x

#12428 fix(grid): Add check whether the row editing has already started - 14.2.x
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-add-row.spec.ts
Labels: :white_check_mark: status: verified, grid: row-editing, grid: row-adding, grid, version: 14.2.x

#12220 style(dialog): change igx-calendar width to min-width in the context of igx-dialog.
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
Labels: dialog, :white_check_mark: status: verified, :calendar: calendar, version: 14.2.x

#12442 fix(pivotDate): Cache month formatter for pivot date dimension.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-dimensions.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 15.0.x

#12443 fix(pivotDate): Cache month formatter for pivot date dimension.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-dimensions.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 15.1.x

#12424 fix(i18n): Updating Grid localization for Korean - 14.2.x
  projects/igniteui-angular-i18n/src/i18n/KO/grid-resources.ts
Labels: localization, grid, version: 14.2.x

#12427 fix(grid): Add check whether the row editing has already started - 15.0.x
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-add-row.spec.ts
Labels: :white_check_mark: status: verified, grid: row-editing, grid: row-adding, grid, version: 15.0.x

#12436 fix(tree-grid): Enable displaying flat data when foreignKey is not set - 14.2.x
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
Labels: :white_check_mark: status: verified, grid: tree-grid, version: 14.2.x

#12435 fix(tree-grid): Enable displaying flat data when foreignKey is not set - 15.0.x
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
Labels: :white_check_mark: status: verified, grid: tree-grid, version: 15.0.x

#12449 refactor(typography): remove font size and line height
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
Labels: :white_check_mark: status: verified, :abcd: typography, :sparkles: themes, version: 15.0.x

#12460 Fix demos type checks and warnings, some cleanup
  src/app/grid-cellEditing/grid-cellEditing.component.html
  src/app/grid-cellEditing/grid-cellEditing.component.ts
  src/app/grid-export/grid-export.sample.ts
  src/app/grid-filter-template/grid-filter-template.sample.ts
  src/app/grid-remote-virtualization-with-scroll/grid-remote-virtualization-scroll.sample.html
  src/app/grid-summaries/grid-summaries.sample.html
  src/app/grid-summaries/grid-summaries.sample.ts
  src/app/grid-validation/grid-validation.sample.component.html
  src/app/grid-validation/grid-validation.sample.component.ts
  src/app/grid/grid.sample.html
  src/app/hierarchical-grid-remote/hierarchical-grid-remote.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.html
  src/app/pivot-grid-noop/pivot-grid-noop.sample.html
  src/app/pivot-grid-state/pivot-grid-state.sample.html
  src/app/pivot-grid/pivot-grid.sample.html
  src/app/pivot-grid/pivot-grid.sample.ts
  src/app/radio/radio.sample.html
  src/app/radio/radio.sample.ts
  src/app/tree-grid/tree-grid.sample.html
  src/app/tree-grid/tree-grid.sample.ts
Labels: demos

#12462 npm(igniteui-theming): move from peer to production deps
  package-lock.json
  package.json
  projects/igniteui-angular/ng-package.json
  projects/igniteui-angular/ng-package.prod.json
  projects/igniteui-angular/package.json
Labels: :bricks: ci: build, npm, version: 15.0.x

#12465 fix(button-group): remove margin from boostrap button
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
Labels: :white_check_mark: status: verified, button-group, bootstrap-theme, version: 14.2.x

#12466 fix(button-group): remove margin from boostrap button
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
Labels: :white_check_mark: status: verified, button-group, bootstrap-theme, version: 13.2.x

#12464 fix(button-group): remove margin from bootsrap button
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
Labels: :white_check_mark: status: verified, button-group, bootstrap-theme, version: 15.0.x

#12459 feat(migration): add stylePreprocessorOptions migration #12439
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-15_0_4/index.spec.ts
  projects/igniteui-angular/migrations/update-15_0_4/index.ts
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
Labels: :white_check_mark: status: verified, migrations, :sparkles: themes, version: 15.0.x

#12455 fix(grid): Emit groupingExpressionChange when sorting through the gro…
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grouping/group-by-area.directive.ts
Labels: :white_check_mark: status: verified, grid: groupby, grid: tree-grid, grid, version: 15.1.x

#12457 fix(grid): Emit groupingExpressionChange when sorting through the gro…
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grouping/group-by-area.directive.ts
Labels: :white_check_mark: status: verified, grid: groupby, grid: tree-grid, grid, version: 15.0.x

#12458 fix(grid): Emit groupingExpressionChange when sorting through the gro…
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grouping/group-by-area.directive.ts
Labels: :white_check_mark: status: verified, grid: groupby, grid: tree-grid, grid, version: 14.2.x
