Repository IgniteUI/igniteui-angular, pull requests merged in 2022-03, with the labels that each got.

#11073 refactor(hgrid): introducing correct types
  projects/igniteui-angular/migrations/update-12_0_0/index.spec.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.spec.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-cell.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  projects/igniteui-angular/src/lib/grids/state.hierarchicalgrid.spec.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.base.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/helper-utils.spec.ts
  src/app/hierarchical-grid-add-row/hierarchical-grid-add-row.sample.ts
  src/app/hierarchical-grid-updating/hierarchical-grid-updating.sample.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.ts
Labels: :x: status: awaiting-test, refactoring, squash-merge, grid: hierarchical-grid, version: 13.1.x

#11106 Replaces all dim concats with allDimensions
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
Labels: :white_check_mark: status: verified, grid: pivot

#11126 fix(pivot): Set correct default strategy for pivot.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: pivot

#11122 fix(tree-filter): indeterminate when empty input
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-filtering.spec.ts
Labels: :white_check_mark: status: verified, grid: tree-grid, grid: excel-style-filtering, version: 13.1.x

#11125 fix(lint): plenty of lint fixes
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-add-row.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.module.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-dimensions.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  projects/igniteui-angular/src/lib/grids/resizing/pivot-grid/pivot-resize-handle.directive.ts
  projects/igniteui-angular/src/lib/grids/resizing/resize-handle.directive.ts
  projects/igniteui-angular/src/lib/grids/resizing/resizer.component.ts
  projects/igniteui-angular/src/lib/grids/resizing/resizing.service.ts
  projects/igniteui-angular/src/lib/grids/state.hierarchicalgrid.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/pivot-grid-functions.spec.ts
  src/app/pivot-grid/pivot-grid.sample.html
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :capital_abcd: ci: lint, version: 13.1.x

#11133 Revert typedoc version
  gulpfile.js
  package-lock.json
  package.json
  tsconfig.typedoc.json
Labels: :white_check_mark: status: verified, typedoc

#11044 fix(grid-filtering): misaligned ESF buttons
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-moving.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 13.1.x

#11123 feat(hgrid): expand/collase shouldn't end edit #10634
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-expanding.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
  src/app/hierarchical-grid-add-row/hierarchical-grid-add-row.sample.html
Labels: :white_check_mark: status: verified, grid: tree-grid, grid: row-editing, grid: hierarchical-grid, grid: master-detail, version: 13.1.x

#11075 chore(schematics): update with official @igniteui/angular-schematics
  projects/igniteui-angular/package.json
Labels: migrations, :x: do not merge, version: 13.1.x

#11162 fix(typedoc): adding to excluded paths
  .github/workflows/nodejs.yml
  gulpfile.js
  tsconfig.json
  tsconfig.typedoc.json
Labels: :bricks: ci: build, :book: documentation, typedoc, version: 13.1.x

#11137 fix(pivot): Allow virtualization to handle floating number sizes. Set…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
Labels: :white_check_mark: status: verified, grid: pivot

#11152 fix(filtering): fix empty expr error
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, filtering, grid: excel-style-filtering, version: 13.1.x

#11164 chore(*): update Roadmap Milestone 21
  ROADMAP.md
Labels: :book: documentation, version: 13.1.x

#11174 Roadmap update m21 04 mar 22v2
  ROADMAP.md
Labels: :book: documentation, version: 13.1.x

#11160 fix(filtering): fix empty expr error
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, filtering, grid: excel-style-filtering, version: 12.3.x

#11161 fix(filtering): fix empty expr error
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, filtering, grid: excel-style-filtering, version: 11.1.x

#11135 chore(*): Set max height to prevent headers from expanding unneccesar…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
Labels: :white_check_mark: status: verified, grid: pivot

#11132 refactor(radio): refactor radio button bootstrap styles
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_radio.scss
Labels: radio-button, :white_check_mark: status: verified, bootstrap-theme

#11166 Mass merge from 13.1.x to master
  .github/workflows/nodejs.yml
  gulpfile.js
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_radio.scss
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
  tsconfig.json
  tsconfig.typedoc.json
Labels: 13.2.x

#11181 style(list): fix border styles in bootstrap
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  src/app/list/list.sample.html
Labels: list, :white_check_mark: status: verified, bootstrap-theme

#11167 fix:(button) disabled colors in bootstrap theme.
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button.scss
Labels: :white_check_mark: status: verified, button, bootstrap-theme, 13.2.x

#11176 style(chip): update chips styles for selected/hover/focus states
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_chip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_chip.scss
Labels: :white_check_mark: status: verified, chip, fluent-theme

#11108 fix(drag-drop): Fix ghost template not cleared when used with ngFor directive to switch elements.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.component.html
Labels: :white_check_mark: status: verified, drag-drop, grid: pivot, version: 13.1.x

#11190 fix:(button) bootstrap theme disabled colors.
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button.scss
Labels: button, bootstrap-theme, version: 13.1.x

#11189 fix:(input-group) fluent theme styles
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_input-group.scss
Labels: input, input-group, version: 13.1.x

#11150 fix:(input-group) fluent theme styles
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_input-group.scss
Labels: input, :x: status: awaiting-test, input-group, version: 13.1.x

#11136 fix(input-group): fluent input height.
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/input-group/input-group.component.html
Labels: :white_check_mark: status: verified, input-group, fluent-theme, version: 13.1.x

#11151 theme(checkbox): change tick stroke width
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
Labels: checkbox, bootstrap-theme

#11148 refactor(switch): update component to match latest boostrap spec
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_switch.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/shape/_switch.scss
Labels: switch, :white_check_mark: status: verified, bootstrap-theme, version: 13.1.x

#11188 Fix overlay modal wrapper without animations - 12.3.x
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
  src/app/overlay/overlay.sample.html
  src/app/overlay/overlay.sample.ts
Labels: :white_check_mark: status: verified, overlay, version: 12.3.x

#11115 chore(palettes): update bootstrap colors
  projects/igniteui-angular/src/lib/core/styles/themes/_palettes.scss
  src/app/card/card.sample.scss
Labels: :x: status: awaiting-test, bootstrap-theme, version: 13.1.x

#11113 Simple combo retains selection on blur
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, version: 13.1.x, simple-combo

#11205 Simple combo retains selection on blur - 12.3.x
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, version: 12.3.x, simple-combo

#10990 fix(grid): fix row indexes in remote virtualization scenario
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
Labels: :white_check_mark: status: verified, grid: general

#11211 fix(grid): fix row indexes in remote virtualization scenario 13.0.x
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
Labels: :x: status: awaiting-test, grid: general, version: 13.0.x

#11212 fix(grid): fix row indexes in remote virtualization scenario - master
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
Labels: :white_check_mark: status: verified, grid: general

#11213 fix(grid): fix row indexes in remote virtualization scenario 12.3.x
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
Labels: :white_check_mark: status: verified, grid: general, version: 12.3.x

#11207 Update Switch Styles
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_switch.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_switch.scss
Labels: switch, :white_check_mark: status: verified, fluent-theme

#10640 fix(gridToolbarHiding): columnsAreaMaxHeight input property
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.base.ts
Labels: :white_check_mark: status: verified, grid: toolbar, grid: toolbar-hiding, grid: toolbar-pinning, version: 13.0.x

#11143 refactor(checkbox): refactor checkbox bootstrap styles
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_checkbox.scss
Labels: checkbox, :white_check_mark: status: verified, bootstrap-theme

#11142 fix(grid): put actions as parameter
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.base.ts
Labels: :bug: bug, :white_check_mark: status: verified

#11214 fix(grid): put actions as parameter
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.base.ts
Labels: :bug: bug, :white_check_mark: status: verified

#11215 fix(grid): put actions as parameter
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.base.ts
Labels: :bug: bug, :white_check_mark: status: verified

#11222 Add support for falsy display values to simple combo - 12.3.x
  projects/igniteui-angular/src/lib/combo/combo.api.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/combo/combo.pipes.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, version: 12.3.x, simple-combo

#11153 Implement excel-style tree view in pivot grid.
  projects/igniteui-angular/src/lib/data-operations/pivot-strategy.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: pivot

#11223 fix(textarea): position correctly resizer for cosy and compact for 13.0.x
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: input, :white_check_mark: status: verified

#11210 fix(gridToolbarHiding): fix columnsAreaMaxHeight input property
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.base.ts
Labels: :white_check_mark: status: verified, grid: toolbar, grid: toolbar-hiding, grid: toolbar-pinning

#11012 fix(textarea): position correctly resizer for cosy and compact
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: input, :white_check_mark: status: verified

#11178 fix(grid): add case for dateTime
  projects/igniteui-angular/src/lib/grids/state.directive.ts
Labels: :bug: bug, :white_check_mark: status: verified, grid: state-persistence

#11209 fix(gridToolbarHiding): fix columnsAreaMaxHeight input property
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.base.ts
Labels: :white_check_mark: status: verified, grid: toolbar, grid: toolbar-hiding, grid: toolbar-pinning, version: 13.1.x

#11195 fix(grid): add case for dateTime
  projects/igniteui-angular/src/lib/grids/state.directive.ts
Labels: :bug: bug, :white_check_mark: status: verified

#11194 fix(grid): add case for dateTime
  projects/igniteui-angular/src/lib/grids/state.directive.ts
Labels: :white_check_mark: status: verified

#11224 fix(textarea): style misplacement of resizer 12.3.x
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: input, :white_check_mark: status: verified

#11193 fix(grid): add addtional check for cellID
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
Labels: :bug: bug, :white_check_mark: status: verified

#11208 fix(grid): add addtional check for cellID
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
Labels: :bug: bug, :white_check_mark: status: verified

#11229 V dyulgerov/fix cell edit exit is calling twice 13.1
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
Labels: :bug: bug, :white_check_mark: status: verified

#11179 fix(igxGrid): Execute column notifyOnChanges after move on next detec…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-moving.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-add-row.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-collapsible-columns.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-crud.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-indentation.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: column-moving

#11242 style(switch/radio): update switch/radio in fluent theme
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_radio.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_radio.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_switch.scss
Labels: radio-button, switch, fluent-theme

#11244 style(material): change indeterminate disabled checkbox color
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_checkbox.scss
Labels: material-theme, checkbox, :x: status: awaiting-test

#11238 theme(bootstrap): change bootstrap surface color in dark theme
  projects/igniteui-angular/src/lib/core/styles/themes/_palettes.scss
Labels: :x: status: awaiting-test, bootstrap-theme

#11183 chore(*): Add gitattributes to repo
  .gitattributes
  README.md
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-header.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-header.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/public_api.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.filtering.strategy.ts
  src/app/grid-events/grid-events.component.html
  src/app/grid-events/grid-events.component.scss
  src/app/grid-events/grid-events.component.ts
  src/app/grid-finjs/controllers.component.html
  src/app/grid-finjs/controllers.component.scss
  src/app/grid-finjs/controllers.component.ts
  src/app/grid-finjs/main.component.html
  src/app/grid-finjs/main.component.scss
  src/app/grid-finjs/main.component.ts
  src/app/grid-updates-test/aminoData.ts
  src/app/grid-updates-test/grid-updates.component.html
  src/app/grid-updates-test/grid-updates.component.ts
  src/app/input/input.sample.html
  src/web.config
Labels: code-style

#11182 chore(*): Add gitattributes to repo
  .gitattributes
  README.md
  projects/igniteui-angular/migrations/update-12_1_0/changes/classes.json
  projects/igniteui-angular/src/lib/carousel/carousel-base.ts
  projects/igniteui-angular/src/lib/carousel/public_api.ts
  projects/igniteui-angular/src/lib/grids/common/cell.interface.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-header.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-header.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/public_api.ts
  projects/igniteui-angular/src/lib/grids/grid-public-cell.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grouping/group-by-area.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.filtering.strategy.ts
  projects/igniteui-angular/src/lib/tabs/bottom-nav/bottom-nav-content.component.html
  projects/igniteui-angular/src/lib/tabs/bottom-nav/bottom-nav-content.component.ts
  projects/igniteui-angular/src/lib/tabs/bottom-nav/bottom-nav-header.component.html
  projects/igniteui-angular/src/lib/tabs/bottom-nav/bottom-nav-header.component.ts
  projects/igniteui-angular/src/lib/tabs/bottom-nav/bottom-nav-item.component.html
  projects/igniteui-angular/src/lib/tabs/bottom-nav/bottom-nav-item.component.ts
  projects/igniteui-angular/src/lib/tabs/bottom-nav/bottom-nav.component.html
  projects/igniteui-angular/src/lib/tabs/bottom-nav/bottom-nav.component.ts
  projects/igniteui-angular/src/lib/tabs/bottom-nav/bottom-nav.directives.ts
  projects/igniteui-angular/src/lib/tabs/bottom-nav/bottom-nav.module.ts
  projects/igniteui-angular/src/lib/tabs/bottom-nav/public_api.ts
  projects/igniteui-angular/src/lib/tabs/public_api.ts
  projects/igniteui-angular/src/lib/tabs/tab-content.directive.ts
  projects/igniteui-angular/src/lib/tabs/tab-header.directive.ts
  projects/igniteui-angular/src/lib/tabs/tab-item.directive.ts
  projects/igniteui-angular/src/lib/tabs/tabs.base.ts
  projects/igniteui-angular/src/lib/tabs/tabs.directive.ts
  projects/igniteui-angular/src/lib/tabs/tabs/public_api.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tab-content.component.html
  projects/igniteui-angular/src/lib/tabs/tabs/tab-content.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tab-header.component.html
  projects/igniteui-angular/src/lib/tabs/tabs/tab-header.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tab-item.component.html
  projects/igniteui-angular/src/lib/tabs/tabs/tab-item.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.html
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.directives.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.module.ts
  src/app/grid-cell-api/grid-cell-api.sample.css
  src/app/grid-cell-api/grid-cell-api.sample.html
  src/app/grid-cell-api/grid-cell-api.sample.ts
  src/app/grid-events/grid-events.component.html
  src/app/grid-events/grid-events.component.scss
  src/app/grid-events/grid-events.component.ts
  src/app/grid-finjs/controllers.component.html
  src/app/grid-finjs/controllers.component.scss
  src/app/grid-finjs/controllers.component.ts
  src/app/grid-finjs/main.component.html
  src/app/grid-finjs/main.component.scss
  src/app/grid-finjs/main.component.ts
  src/app/grid-row-api/grid-row-api.sample.css
  src/app/grid-row-api/grid-row-api.sample.html
  src/app/grid-row-api/grid-row-api.sample.ts
  src/app/grid-updates-test/aminoData.ts
  src/app/grid-updates-test/grid-updates.component.html
  src/app/grid-updates-test/grid-updates.component.ts
  src/web.config
Labels: code-style

#11254 fix(card): actions don't render vertically
  projects/igniteui-angular/src/lib/card/card.component.ts
  projects/igniteui-angular/src/lib/core/styles/themes/_palettes.scss
Labels: :white_check_mark: status: verified, card, version: 13.1.x

#11261 Fix toolbar & advanced-filtering buttons types
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-advanced-filtering.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-exporter.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-hiding.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-pinning.component.html
Labels: :white_check_mark: status: verified, grid: toolbar, grid: advanced-filtering

#11262 Fix toolbar & advanced-filtering buttons types
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-advanced-filtering.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-exporter.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-hiding.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-pinning.component.html
Labels: :white_check_mark: status: verified, grid: toolbar, grid: advanced-filtering, version: 13.0.x

#11180 test(igxPivot): Add more test to increase test coverage
  projects/igniteui-angular/src/lib/data-operations/pivot-strategy.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header-group.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
Labels: :test_tube: ci: tests, grid: pivot, :notebook_with_decorative_cover: ci: coverage

#11243 PivotGrid Minor performance improvements
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
Labels: :white_check_mark: status: verified, grid: pivot

#11257 Fix toolbar & advanced-filtering buttons types
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-advanced-filtering.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-exporter.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-hiding.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-pinning.component.html
Labels: :white_check_mark: status: verified, grid: toolbar, grid: advanced-filtering, version: 12.3.x

#11234 fix(grid): Fix row edit dev sample
  src/app/grid-row-edit/grid-row-edit-sample.component.html
Labels: :white_check_mark: status: verified, grid: general, samples

#11253 feat(checkbox): change indeterminate fluent checkbox look
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_checkbox.scss
Labels: checkbox, :white_check_mark: status: verified, fluent-theme

#11255 fix(card): actions don't render vertically
  projects/igniteui-angular/src/lib/card/card.component.ts
Labels: :white_check_mark: status: verified, card, version: 13.0.x

#11241 chore(*): Add coverage for different pivot aggregates.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-aggregate.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.spec.ts
Labels: :test_tube: ci: tests, :white_check_mark: status: verified, grid: pivot, version: 13.1.x, :notebook_with_decorative_cover: ci: coverage

#11272 Fix color inconsistency between wc and angular bootstrap themes
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button.scss
Labels: :white_check_mark: status: verified, button, bootstrap-theme, version: 13.2.x

#11265 Update fluent theme to match the MS fluent
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_palettes.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_button.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button.scss
  projects/igniteui-angular/src/lib/core/styles/typography/scale-presets/_fluent.scss
  src/app/button/button.sample.css
  src/app/button/button.sample.html
  src/app/pageHeading/pageHeading.styles.scss
Labels: :white_check_mark: status: verified, button-theme, button, fluent-theme, :sparkles: themes, version: 13.1.x, icon-button

#11273 refactor(input): use border instead of box-shadow
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_input-group.scss
Labels: :white_check_mark: status: verified, refactoring, input-group, fluent-theme, version: 13.1.x

#11220 Fixes `aria-activedescendants` incorrect attribute in hierarchical grid
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, aria-support, version: 13.1.x

#11237 Fixes `aria-activedescendants` incorrect attribute in hierarchical grid
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, aria-support, version: 12.3.x

#11260 fix(grids): Fix rowStyles pipe to pass correct data
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: :white_check_mark: status: verified, grid: tree-grid, grid: hierarchical-grid

#11279 fix(igxGrid): Minor fix and refactor for row adding APIs.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: :white_check_mark: status: verified, grid: row-adding

#11297 build(*): fix warnings
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
Labels: :bricks: ci: build, :white_check_mark: status: verified, :abcd: typography, :sparkles: themes

#11305 feat(elevations): add elevation factor css variable
  projects/igniteui-angular/src/lib/core/styles/base/elevations/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
Labels: feature, :white_check_mark: status: verified, :sparkles: themes, version: 13.1.x

#11268 fix(grid): Fix errors thrown when grid is grouped by a column that isn't defined - 13.1.x
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grouping/group-by-area.directive.ts
  projects/igniteui-angular/src/lib/test-utils/grid-mch-sample.spec.ts
Labels: :white_check_mark: status: verified, grid: groupby, version: 13.1.x

#11263 fix(grid): Fix errors thrown when grid is grouped by a column that isn't defined - 12.3.x
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grouping/group-by-area.directive.ts
  projects/igniteui-angular/src/lib/test-utils/grid-mch-sample.spec.ts
Labels: :white_check_mark: status: verified, grid: groupby, version: 12.3.x
