Repository IgniteUI/igniteui-angular, pull requests merged in 2022-04, with the labels that each got.

#11309 style(grid): fix sort icon opacity so it shows
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: styling, :white_check_mark: status: verified, grid: sorting, :sparkles: themes

#11289 fix(add-row): Do not emit rowAdded event when switching between rows in edit mode
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
Labels: :white_check_mark: status: verified, grid: row-adding, version: 13.1.x

#11290 fix(add-row): Do not emit rowAdded event when switching between rows
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
Labels: :white_check_mark: status: verified, grid: row-adding, version: 12.3.x

#11310 fix(igxGrid): Add rowData to pipe triggers so that when data for exis…
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  src/app/hierarchical-grid/hierarchical-grid.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.scss
  src/app/hierarchical-grid/hierarchical-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: general, version: 12.3.x

#11312 Fix issue with flex containers and zoom in grid.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  src/app/grid-master-detail/grid-master-detail.sample.css
  src/app/grid-master-detail/grid-master-detail.sample.html
  src/app/grid-master-detail/grid-master-detail.sample.ts
Labels: :white_check_mark: status: verified, grid: general, version: 12.3.x

#11330 refactor(themes): measure surface luminance when generating gray shades
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_mixins.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 13.1.x

#11315 Update the combo filter when focusing - 13.1.x
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, version: 13.1.x, simple-combo

#11286 fix(grid): fixed dateTime filtering - 13.1.x
  projects/igniteui-angular/src/lib/data-operations/filtering-condition.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
Labels: :white_check_mark: status: verified, filtering, grid: excel-style-filtering, grid: column-types, version: 13.1.x

#11296 fix(grid): fixed dateTime filtering - 12.3.x
  projects/igniteui-angular/src/lib/data-operations/filtering-condition.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
Labels: :white_check_mark: status: verified, filtering, grid: excel-style-filtering, grid: column-types, version: 12.3.x

#11303 feat:(dialog) adding z-index to the content holder
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
Labels: dialog, :white_check_mark: status: verified, version: 13.1.x

#11329 fix(Pivot): Do not generate columns when there is no data
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 13.1.x

#11280 Merging 13.1.x into master
  projects/igniteui-angular/src/lib/core/styles/base/elevations/_index.scss
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_mixins.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_input-group.scss
  projects/igniteui-angular/src/lib/data-operations/filtering-condition.ts
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grouping/group-by-area.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-mch-sample.spec.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.scss
  src/app/hierarchical-grid/hierarchical-grid.sample.ts
Labels: version: 13.2.x

#11343 fix:(typography) Remove hardcoded type-scale from the public typography mixin.
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
Labels: :white_check_mark: status: verified, :abcd: typography, version: 13.1.x

#11325 fix(igxGrid): Fix virtualization index for remote virtualization scen…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: :white_check_mark: status: verified, grid: row-editing, version: 13.1.x

#11326 fix(igxGrid): Fix virtualization index for remote virtualization scen…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: :white_check_mark: status: verified, grid: row-editing, version: 12.3.x

#11328 fix(igxHierarhicalGrid): In case child collection original object is …
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-add-row.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.pipes.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 13.1.x

#11332 fix(igxHierarhicalGrid): In case child collection original object is …
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-add-row.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.pipes.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 12.3.x

#11287 fix(button): height discrepancy
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
Labels: :white_check_mark: status: verified, button, version: 13.1.x

#11349 fix(grid): add check for dateTime too
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
Labels: :bug: bug, :white_check_mark: status: verified

#11301 Workaround for grid features that directly modify the columnsList ContentChildren collection.
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  src/app/grid-master-detail/grid-master-detail.sample.html
  src/app/grid-master-detail/grid-master-detail.sample.ts
Labels: :white_check_mark: status: verified, grid: general, version: 13.1.x

#11306 Workaround for grid features that directly modify the columnsList ContentChildren collection.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  src/app/grid-master-detail/grid-master-detail.sample.css
  src/app/grid-master-detail/grid-master-detail.sample.html
  src/app/grid-master-detail/grid-master-detail.sample.ts
Labels: :white_check_mark: status: verified, grid: general, version: 12.3.x

#11351 Fix issues with runtime `pivotConfiguration` changes.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 13.1.x

#11322 igxForOf RTL support.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  src/app/virtual-for-directive/virtual-for.sample.css
Labels: :white_check_mark: status: verified, virtualization, version: 12.3.x

#11314 igxForOf RTL support.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  src/app/virtual-for-directive/virtual-for.sample.css
  src/styles/_variables.scss
Labels: :white_check_mark: status: verified, virtualization, version: 13.1.x

#11358 fix(button): wrong icon button size
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
Labels: :white_check_mark: status: verified, button, bootstrap-theme, version: 13.1.x, icon-button

#11359 New Fluent theme, fix Fluent Word colors and change Bootstrap gray color.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/themes/_palettes.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-dark-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-dark.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-light-rtl.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-light.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_button.scss
Labels: :x: status: awaiting-test, fluent-theme, bootstrap-theme

#11299 fix(tree-grid): dont generate child key column #10925
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
  src/app/grid/grid.sample.ts
  src/app/tree-grid/tree-grid.sample.css
  src/app/tree-grid/tree-grid.sample.html
Labels: :white_check_mark: status: verified, grid: tree-grid, squash-merge, version: 13.1.x

#11283 Update bootstrap input styles to match wc/bootstrap
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_input-group.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_input-group.scss
Labels: :white_check_mark: status: verified, input-group, bootstrap-theme, version: 13.1.x

#11338 Printing styles refactor
  projects/igniteui-angular/src/lib/core/styles/print/_grid-print.scss
  projects/igniteui-angular/src/lib/core/styles/print/_index.scss
Labels: :white_check_mark: status: verified, print-styles, version: 13.2.x

#11336 fix(input-group): theme not set with OnPush
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
Labels: input-group, version: 13.1.x

#11356 Update button themes and add new props for border and shadow for all states
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_button.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/elevation/_button.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button.scss
Labels: :white_check_mark: status: verified, refactoring, button-theme, button, version: 13.1.x

#11363 Group records correctly via keyboard navigation when ignoreCase is set to true 12.3.x
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav-headers.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grouping/group-by-area.directive.ts
Labels: :white_check_mark: status: verified, grid: groupby, keyboard-navigation, version: 12.3.x

#11361 Group records correctly via keyboard navigation when ignoreCase is set to true 13.1.x
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav-headers.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grouping/group-by-area.directive.ts
Labels: :white_check_mark: status: verified, grid: groupby, keyboard-navigation, version: 13.1.x

#11374 fix(Button): border-radius for the after element on the FAB button
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
Labels: :white_check_mark: status: verified, button, fluent-theme, version: 13.1.x

#11375 fix(Button): border-radius for the after element on the FAB button
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
Labels: :white_check_mark: status: verified, button, fluent-theme, version: 13.2.x

#11385 refactor(date-range/dialog/dropdown): use logical properties
  projects/igniteui-angular/src/lib/core/styles/components/date-range-picker/_date-range-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
Labels: dialog, dropdown, RTL Support, date-range-picker, :sparkles: themes

#11398 Revert "refactor(date-range/dialog/dropdown/tabs): use logical properties"
  projects/igniteui-angular/src/lib/core/styles/components/date-range-picker/_date-range-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
Labels: expansion-panel, RTL Support, version: 13.2.x

#11401 refactor(tabs): use logical properties
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
Labels: :white_check_mark: status: verified, tabs, RTL Support, :sparkles: themes

#11397 refactor(expansion-panel): use logical css props
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
Labels: expansion-panel, RTL Support, version: 13.2.x

#11389 refactor(grid): use logical CSS properties
  projects/igniteui-angular/src/lib/core/styles/components/grid-summary/_grid-summary-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_advanced-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_pivot-data-selector-theme.scss
Labels: RTL Support, version: 13.2.x, grid

#11390 refactor(component themes): use logical CSS properties
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/snackbar/_snackbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/splitter/_splitter-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/splitter/_splitter-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/watermark/_watermark-theme.scss
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
Labels: :white_check_mark: status: verified, RTL Support, :sparkles: themes, version: 13.2.x

#11393 refactor(navbar, navdrawer, progress, paginator, overlay): use logical css props for RTL
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/paginator/_paginator-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
Labels: nav-drawer, :white_check_mark: status: verified, refactoring, circular-progress, overlay, navbar, linear-progress, RTL Support, paginator, version: 13.2.x

#11372 fix(esf): define all properties of "(Blanks)" items when no records meet specified filter criteria - 12.3.x
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 12.3.x

#11388 refactor(themes): use logical properties
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
Labels: list, :white_check_mark: status: verified, time-picker, RTL Support, :sparkles: themes, tree

#11399 refactor(date-range/dialog/dropdown): use logical properties
  projects/igniteui-angular/src/lib/core/styles/components/date-range-picker/_date-range-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
Labels: dialog, :white_check_mark: status: verified, dropdown, RTL Support, date-range-picker, :sparkles: themes

#11391 refactor(input): use logical css properties
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :x: status: awaiting-test, refactoring, input-group, RTL Support, version: 13.2.x

#11402 fix(grid): fix cell navigation and column selection
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/cell.component.ts
Labels: :hammer_and_wrench: status: in-development, :white_check_mark: status: verified, keyboard-navigation, :fire: :fox_face: browser: firefox, grid: selection, grid: multi-cell-selection, grid: column-selection, version: 13.2.x

#11376 fix(esf): define all properties of "(Blanks)" items when no records meet specified filter criteria - 11.1.x
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 11.1.x

#11406 fix(pivot): Regenerate columns when changing data in pivot
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 13.1.x

#11405 fix(pivot): Regenerate columns when changing data in pivot
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 13.2.x

#11413 fix(grid): fix cell navigation and column selection on 12.3.x
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/cell.component.ts
Labels: :white_check_mark: status: verified, keyboard-navigation, :fire: :fox_face: browser: firefox, grid: multi-cell-selection, grid: column-selection, version: 12.3.x

#11411 fix(grid): fix cell navigation and column selection on 11.1.x
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/cell.component.ts
Labels: :white_check_mark: status: verified, keyboard-navigation, :fire: :fox_face: browser: firefox, grid: multi-cell-selection, grid: column-selection, version: 11.1.x

#11414 fix(grid): fix cell navigation and column selection on 13.1.x
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/cell.component.ts
Labels: :white_check_mark: status: verified, keyboard-navigation, :fire: :fox_face: browser: firefox, grid: multi-cell-selection, grid: column-selection, version: 13.1.x

#11420 fix(grid): changing moving drop icon #10313 #10690
  projects/igniteui-angular/src/lib/grids/moving/moving.drop.directive.ts
  src/app/grid-column-moving/grid-column-moving.sample.html
Labels: :white_check_mark: status: verified, grid: column-moving, version: 13.2.x

#11422 fix(grid): changing moving drop icon #10313 #10690
  projects/igniteui-angular/src/lib/grids/moving/moving.drop.directive.ts
  src/app/grid-column-moving/grid-column-moving.sample.html
Labels: :white_check_mark: status: verified, grid: column-moving, version: 13.1.x

#11379 fix(cd): resolving an issue with typedoc erros being swallowed - master
  gulpfile.js
Labels: :bricks: ci: build, version: 13.2.x

#11381 fix(cd): resolving an issue with typedoc erros being swallowed - 12.3
  gulpfile.js
Labels: :bricks: ci: build, version: 12.3.x

#11380 fix(cd): resolving an issue with typedoc erros being swallowed - 13.1
  gulpfile.js
Labels: :bricks: ci: build, typedoc, squash-merge, version: 13.1.x

#11448 fix(themes): pass roundness to custom mixins
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 13.1.x

#11447 fix(themes): pass roundness to custom mixins
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 13.2.x

#11342 Prevent tab navigation when cellEdit is canceled - 13.1.x
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
Labels: :white_check_mark: status: verified, keyboard-navigation, version: 13.1.x, grid

#11384 Prevent tab navigation when cellEdit is canceled - master
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
Labels: :white_check_mark: status: verified, keyboard-navigation, version: 13.2.x, grid

#11425 fix(Pivot): Remove a check if scrollComponent is already in the dom
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 13.2.x

#11426 fix(Pivot): Remove a check if scrollComponent is already in the dom
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 13.1.x

#11386 Prevent tab navigation when cellEdit is canceled - 12.3.x
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
Labels: :white_check_mark: status: verified, keyboard-navigation, version: 12.3.x, grid

#11444 refactor(components): use spacing for margin and padding
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/bottom-nav/_bottom-nav-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/paginator/_paginator-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
Labels: nav-drawer, :x: status: awaiting-test, progress-bar, button-group, navbar, banner, action-strip, paginator, :sparkles: themes, version: 13.2.x

#11429 refactor(date-picker/dialog/dropdown): use css spacing vars
  projects/igniteui-angular/src/lib/core/styles/components/date-picker/_date-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
Labels: dialog, :white_check_mark: status: verified, :date: date-picker, dropdown, :sparkles: themes

#11430 refactor(list/tabs/time-picker): use css spacing vars
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-theme.scss
Labels: list, :white_check_mark: status: verified, time-picker, tabs, :sparkles: themes

#11427 refactor(date-range): use spacing vars
  projects/igniteui-angular/src/lib/core/styles/components/date-range-picker/_date-range-picker-theme.scss
Labels: :white_check_mark: status: verified, date-range-picker, :sparkles: themes

#11431 refactor(toast/tooltip/tree): use css spacing vars
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tooltip/_tooltip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
Labels: :x: status: awaiting-test, toast, tooltip, :sparkles: themes, tree

#11418 fix(esf): assigning the correct overlay id for custom dialog #11404 - 12.3
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 12.3.x

#11417 fix(esf): assigning the correct overlay id for custom dialog #11404 - 13.1
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 13.1.x

#11407 fix(esf): assigning the correct overlay id for custom dialog #11404
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 13.2.x

#11434 fix(igxGrid): Ensure columnInit is called for all columns when new co…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  src/app/grid-state/grid-state.component.html
  src/app/grid-state/grid-state.component.ts
Labels: :white_check_mark: status: verified, grid: general, grid: state-persistence, version: 12.3.x

#11435 fix(igxGrid): Ensure columnInit is called for all columns when new co…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  src/app/grid-state/grid-state.component.html
  src/app/grid-state/grid-state.component.ts
Labels: :white_check_mark: status: verified, grid: general, grid: state-persistence, version: 13.1.x

#11450 refactor(expansion-panel): use spacing
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
Labels: expansion-panel, :sparkles: themes, version: 13.2.x

#11449 refactor(input-group): use spacing for padding and margin
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: input-group, :sparkles: themes

#11439 feat(rating): adding theming for the rating component
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_mixins.scss
  projects/igniteui-angular/src/lib/core/styles/components/_index.scss
  projects/igniteui-angular/src/lib/core/styles/components/rating/_rating-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/rating/_rating-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_rating.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_rating.scss
Labels: :x: status: awaiting-test, :sparkles: themes, version: 13.2.x, rating

#11451 refactor(calendar): use spacing for margin and padding
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
Labels: :x: status: awaiting-test, :calendar: calendar, :sparkles: themes, version: 13.2.x

#11453 feat(deps): Update typedoc plugin versions
  package-lock.json
  package.json
  tsconfig.typedoc.json
Labels: :white_check_mark: status: verified, typedoc

#11454 feat(deps): Update typedoc plugin versions - 13.1.x
  package-lock.json
  package.json
  tsconfig.typedoc.json
Labels: :white_check_mark: status: verified, typedoc, version: 13.1.x

#11455 feat(deps): Update typedoc plugin versions - 12.3.x
  package-lock.json
  package.json
  tsconfig.json
Labels: :white_check_mark: status: verified, typedoc, version: 12.3.x

#11436 fix(igxGrid): Ensure columnInit is called for all columns when new co…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  src/app/grid-state/grid-state.component.html
  src/app/grid-state/grid-state.component.ts
Labels: :white_check_mark: status: verified, grid: general, grid: state-persistence, version: 13.2.x

#11441 fix(igxGrid): Add handling for remote virtualization navigation.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  src/app/grid-remote-virtualization-with-scroll/grid-remote-virtualization-scroll.sample.html
  src/app/grid-remote-virtualization-with-scroll/grid-remote-virtualization-scroll.sample.ts
Labels: :white_check_mark: status: verified, grid: general, virtualization, keyboard-navigation, version: 13.2.x

#11440 fix(igxGrid): Add handling for remote virtualization navigation.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  src/app/grid-remote-virtualization-with-scroll/grid-remote-virtualization-scroll.sample.html
  src/app/grid-remote-virtualization-with-scroll/grid-remote-virtualization-scroll.sample.ts
Labels: :white_check_mark: status: verified, grid: general, virtualization, keyboard-navigation, version: 13.1.x

#11442 fix(igxGrid): Add handling for remote virtualization navigation.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  src/app/grid-remote-virtualization-with-scroll/grid-remote-virtualization-scroll.sample.html
  src/app/grid-remote-virtualization-with-scroll/grid-remote-virtualization-scroll.sample.ts
Labels: :white_check_mark: status: verified, grid: general, virtualization, keyboard-navigation, version: 12.3.x

#10336 feat(IgxGridBaseDirective): Add Single and Multiple sorting options
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/columns/interfaces.ts
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/grids/grouping/group-by-area.directive.ts
  projects/igniteui-angular/src/lib/grids/grouping/tree-grid-group-by-area.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-grouping.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  src/app/grid-groupby/grid-groupby.sample.html
  src/app/grid-groupby/grid-groupby.sample.ts
  src/app/tree-grid-groupby/tree-grid-groupby.sample.html
  src/app/tree-grid-groupby/tree-grid-groupby.sample.ts
Labels: :white_check_mark: status: verified, grid: sorting

#11459 fix(themes): roundness and elevation scoping
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 13.1.x

#11469 fix(dragDrop): Improve safety check for when shadrowRoot is not available.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 12.3.x

#11470 fix(dragDrop): Improve safety check for when shadrowRoot is not available.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 13.1.x

#11471 fix(dragDrop): Improve safety check for when shadrowRoot is not available.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 13.2.x
