Repository IgniteUI/igniteui-angular, pull requests merged in 2022-01, with the labels that each got.

#10761 fix(tooltip): set newly created div to display none
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
Labels: :bug: bug, :white_check_mark: status: verified, overlay, tooltip, version: 13.0.x

#10762 V dyulgerov/fix tooltip is moving 12.2.x
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
Labels: :bug: bug, :white_check_mark: status: verified, overlay, tooltip, version: 12.2.x

#10756 feat(tooltip): add tooltip input for showing plain string #10100
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/tooltip/index.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip-target.directive.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.component.html
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.component.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.module.ts
  projects/igniteui-angular/src/lib/test-utils/tooltip-components.spec.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/tooltip/tooltip.sample.css
  src/app/tooltip/tooltip.sample.html
Labels: :white_check_mark: status: verified, :toolbox: feature-request, tooltip, version: 13.1.x

#10760 Tree Grid Selection Optimization 13.0.x
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.service.ts
Labels: :white_check_mark: status: verified, grid: row-selection, grid: selection, grid: tree-grid, version: 13.0.x

#10778 Tree Grid Selection Optimization 12.3.x
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.service.ts
Labels: :white_check_mark: status: verified, grid: row-selection, grid: selection, grid: tree-grid, version: 12.3.x

#10777 Tree Grid Selection Optimization master
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.service.ts
Labels: :white_check_mark: status: verified, grid: row-selection, grid: selection, grid: tree-grid

#10714 Group records correctly when ignoreCase is set to true 12.3.x
  projects/igniteui-angular/src/lib/data-operations/sorting-strategy.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-grouping.pipe.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.grouping.pipe.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: :white_check_mark: status: verified, grid: groupby, grid: tree-grid, version: 12.3.x

#10779 Tree Grid Selection Optimization 11.1.x
  azure-pipelines.yml
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.service.ts
Labels: :white_check_mark: status: verified, grid: row-selection, grid: selection, grid: tree-grid, version: 11.1.x

#10783 chore(combo): refactor conditional check in findMatch
  projects/igniteui-angular/src/lib/combo/combo.common.ts
Labels: :white_check_mark: status: verified, combo, version: 12.3.x

#10744 Implement drop area for the chips UI in the pivot dimensions
  projects/igniteui-angular-i18n/src/i18n/BG/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/grid-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  src/styles/_variables.scss
Labels: :white_check_mark: status: verified, grid: pivot

#10754 fix(pivot): Ensure nested sibling dimensions are also processed.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10725 fix(combo): findMatch to return false when no item
  projects/igniteui-angular/src/lib/combo/combo.common.ts
Labels: :white_check_mark: status: verified, combo, version: 13.0.x

#10684 feat(tabs): add full rtl support
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/tabs/tabs.directive.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tab-header.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.html
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
  projects/igniteui-angular/src/lib/test-utils/tabs-components.spec.ts
Labels: :white_check_mark: status: verified, tabs, RTL Support, version: 13.1.x

#10752 IgxTreeGrid: group records correctly when ignoreCase is set to true 13.0.x
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-grouping.pipe.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.grouping.pipe.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: :white_check_mark: status: verified, grid: groupby, grid: tree-grid, version: 13.0.x

#10786 IgxTreeGrid: group records correctly when ignoreCase is set to true
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-grouping.pipe.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.grouping.pipe.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: :white_check_mark: status: verified, grid: groupby, grid: tree-grid, version: 13.1.x

#10708 fix(pivot): Fix wrongly selected column when selecting rows
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/headers/headers.module.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.module.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header-group.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/public_api.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10741 fix(grid): In case grid causes the container to extend (flex contain…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid: general, version: 13.1.x

#10776 fix(exporter): correctly export hgrid with multi col headers only in island
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-components.spec.ts
  src/app/shared/sample-data.ts
Labels: :white_check_mark: status: verified, excel-exporter, grid: multi-column-headers, grid: hierarchical-grid, version: 13.1.x

#10798 fix(exporter): correctly export hgrid with multi col headers only in island
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-components.spec.ts
  src/app/shared/sample-data.ts
Labels: :white_check_mark: status: verified, excel-exporter, grid: multi-column-headers, grid: hierarchical-grid, version: 12.3.x

#10799 fix(exporter): correctly export hgrid with multi col headers only in island
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-components.spec.ts
  src/app/shared/sample-data.ts
Labels: :white_check_mark: status: verified, excel-exporter, grid: multi-column-headers, grid: hierarchical-grid, version: 13.0.x

#10788 feat(rowtype): add implementation for addRowUI #10771 - 13.0
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
Labels: :white_check_mark: status: verified, grid: row-adding, version: 13.0.x

#10790 feat(rowtype): add implementation for addRowUI #10771 - master
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
Labels: :white_check_mark: status: verified, grid: row-adding, version: 13.1.x

#10789 feat(rowtype): add implementation for addRowUI #10771 - 12.3
  projects/igniteui-angular/src/lib/grids/common/row.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
Labels: :white_check_mark: status: verified, grid: row-adding, version: 12.3.x

#10747 Fix - Toggling the summaries of all columns does not resize the grid correctly - 11.1
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.service.ts
Labels: :white_check_mark: status: resolved, grid: summaries, version: 11.1.x

#10746 Fix - Toggling the summaries of all columns does not resize the grid correctly
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/state.hierarchicalgrid.spec.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.service.ts
Labels: :white_check_mark: status: resolved, grid: summaries, version: 12.3.x

#10791 Fix - Toggling the summaries of all columns does not resize the grid correctly
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/state.hierarchicalgrid.spec.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.service.ts
Labels: :white_check_mark: status: resolved, grid: summaries, version: 13.1.x

#10775 Update fluent typography
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
  projects/igniteui-angular/src/lib/core/styles/typography/scale-presets/_fluent.scss
Labels: :x: status: awaiting-test, :abcd: typography, fluent-theme, version: 13.0.x, version: 13.1.x

#10683 fix(pivot): Fix issue with key value being overriden with original re…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10739 fix(pivot): Ensure that when columns are created for row dimensions w…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/watch-changes.ts
  src/app/pivot-grid-hierarchy/pivot-grid-hierarchy.sample.html
Labels: :white_check_mark: status: verified, grid: pivot

#10745 fix(pivot): Fix specifying filter in dimensions
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10379 fix(grid-toolbar-exporter): move the button outside the dropdown container
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-exporter.component.html
Labels: :white_check_mark: status: verified, grid: toolbar, version: 12.3.x

#10386 fix(hierarchical-grid): add border color to the expander column for pinned rows.
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, grid: row-pinning, version: 12.3.x

#10831 test(overlay): fix block strategy tests
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
Labels: :test_tube: ci: tests, overlay, version: 13.1.x

#10795 chore(icon): set color properly #10571 - 13.0.x
  src/app/list-panning/list-panning.sample.html
  src/app/list-performance/list-performance.sample.html
  src/app/list/list.sample.html
  src/app/tooltip/tooltip.sample.html
Labels: :framed_picture: icon, :white_check_mark: status: verified, version: 13.0.x

#10796 chore(icon): set color properly #10571 - master
  src/app/list-panning/list-panning.sample.html
  src/app/list-performance/list-performance.sample.html
  src/app/list/list.sample.html
Labels: :framed_picture: icon, :white_check_mark: status: verified, version: 13.1.x

#10792 chore(icon): set color properly #10571 - 12.3.x
  src/app/list-panning/list-panning.sample.html
  src/app/list-performance/list-performance.sample.html
  src/app/list/list.sample.html
  src/app/tooltip/tooltip.sample.html
Labels: :framed_picture: icon, :white_check_mark: status: verified, version: 12.3.x

#10781 fix(scroll): allow inner elements to scroll during inertia wheel #10749
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.ts
Labels: :white_check_mark: status: verified, virtualization, scroll, version: 13.0.x

#10793 fix(scroll): allow inner elements to scroll during inertia wheel #10749 - master
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.ts
Labels: :white_check_mark: status: verified, virtualization, scroll, version: 13.1.x

#10814 feat(igxPivot): Add API to auto-size the row dimension header cells b…
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header.component.ts
  src/app/pivot-grid/pivot-grid.sample.html
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10794 Pivot cell merging
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.module.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  src/app/pivot-grid/pivot-grid.sample.html
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10833 fix(igxPivot): Move dimension instance between dimension collections …
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10853 fix(grid): allow copy cell selection in remote paging
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  src/app/grid-remote-paging/grid-remote-paging.sample.html
  src/app/grid-remote-paging/grid-remote-paging.sample.ts
  src/app/grid-row-edit/grid-row-edit-sample.component.html
Labels: :bug: bug, :white_check_mark: status: verified, grid: selection, paginator

#10858 fix(grid): allow copy cell selection in remote paging
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  src/app/grid-remote-paging/grid-remote-paging.sample.html
  src/app/grid-remote-paging/grid-remote-paging.sample.ts
  src/app/grid-row-edit/grid-row-edit-sample.component.html
Labels: :bug: bug, :white_check_mark: status: verified, paginator, version: 13.0.x

#10850 fix(combo): disable UI click for checkbox in combo #10838
  projects/igniteui-angular/src/lib/combo/combo-item.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: :white_check_mark: status: verified, combo, version: 11.1.x

#10851 fix(combo): disable UI click for checkbox in combo #10838
  projects/igniteui-angular/src/lib/combo/combo-item.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: :white_check_mark: status: verified, combo, version: 12.2.x

#10849 fix(combo): disable UI click for checkbox in combo #10838
  projects/igniteui-angular/src/lib/combo/combo-item.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: :white_check_mark: status: verified, combo, version: 12.3.x

#10848 fix(combo): disable UI click for checkbox in combo #10838
  projects/igniteui-angular/src/lib/combo/combo-item.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: :white_check_mark: status: verified, combo, version: 13.0.x

#10845 fix(combo): disable UI click for checkbox in combo #10838
  projects/igniteui-angular/src/lib/combo/combo-item.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: :white_check_mark: status: verified, combo, version: 13.1.x

#10802 feat(excel-exporter): add an option to export headers when there's no data
  CHANGELOG.md
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/excel-folders.ts
  projects/igniteui-angular/src/lib/services/excel/excel-strings.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data.ts
  projects/igniteui-angular/src/lib/services/exporter-common/exporter-options-base.ts
Labels: :white_check_mark: status: verified, excel-exporter, version: 13.1.x

#10804 [igxPivot]Add headers virtualization per column dimension level
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_header-row-component.scss
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10787 feat(igxAutocomplete): expose empty template
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
Labels: :white_check_mark: status: verified, toggle, dropdown, autocomplete, version: 13.1.x

#10816 Implementation of Pivot Grid row header resizing
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header-group.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  projects/igniteui-angular/src/lib/grids/resizing/pivot-grid/pivot-resize-handle.directive.ts
  projects/igniteui-angular/src/lib/grids/resizing/pivot-grid/pivot-resizer.component.ts
  projects/igniteui-angular/src/lib/grids/resizing/pivot-grid/pivot-resizing.service.ts
  projects/igniteui-angular/src/lib/grids/resizing/resize-handle.directive.ts
  projects/igniteui-angular/src/lib/grids/resizing/resize.module.ts
  projects/igniteui-angular/src/lib/grids/resizing/resizer.component.html
  projects/igniteui-angular/src/lib/grids/resizing/resizer.component.ts
  projects/igniteui-angular/src/lib/grids/resizing/resizer.directive.ts
  projects/igniteui-angular/src/lib/grids/resizing/resizing.service.ts
  src/app/pivot-grid/pivot-grid.sample.html
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: resizing, grid: pivot

#10735 tests(e2e): adding cypress and removing protractor
  angular.json
  cypress.json
  cypress/integration/spec.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  e2e/cypress.json
  e2e/cypress/integration/spec.ts
  e2e/cypress/plugins/index.ts
  e2e/cypress/support/commands.ts
  e2e/cypress/support/index.ts
  e2e/cypress/tsconfig.json
  package-lock.json
  package.json
  projects/igniteui-angular-i18n/tsconfig.build.json
  projects/igniteui-angular/cypress.json
  projects/igniteui-angular/cypress/integration/spec.ts
  projects/igniteui-angular/cypress/plugins/index.ts
  projects/igniteui-angular/cypress/support/commands.ts
  projects/igniteui-angular/cypress/support/index.ts
  projects/igniteui-angular/cypress/tsconfig.json
  projects/igniteui-angular/karma.conf.js
  projects/igniteui-angular/karma.grid.conf.js
  projects/igniteui-angular/karma.hierarchical-grid.conf.js
  projects/igniteui-angular/karma.non-grid.conf.js
  projects/igniteui-angular/karma.test-perf.conf.js
  projects/igniteui-angular/karma.tree-grid.conf.js
  projects/igniteui-angular/karma.watch.conf.js
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/i18n/tests/tests.ts
  projects/igniteui-angular/src/lib/core/styles/spec/tests.ts
  projects/igniteui-angular/src/lib/date-common/calendar-container/calendar-container.component.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/columns/column.module.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.module.ts
  projects/igniteui-angular/src/lib/grids/grid-common.module.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.module.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
Labels: :test_tube: ci: tests, squash-merge

#10847 fix(grid): pinned-containers-issue
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :bug: bug, :white_check_mark: status: verified, grid: general, version: 13.0.x

#10843 fix(icon-button): font awesome icons not centered
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
Labels: :bug: bug, :framed_picture: icon, :white_check_mark: status: verified

#10844 fix(icon-button): font awesome icons not centered
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
Labels: :bug: bug, :framed_picture: icon, :white_check_mark: status: verified, version: 13.0.x

#10861 feat(grid): reemiting changing/ed events #10780 - 12.3
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: :white_check_mark: status: verified, grid: general, version: 12.3.x

#10862 feat(grid): reemiting changing/ed events #10780 - 11.1
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: :white_check_mark: status: verified, grid: general, version: 11.1.x

#10817 fix(grid-toolbar-exporter): move the button outside the dropdown container
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-exporter.component.html
Labels: grid: toolbar, version: 13.1.x

#10846 feat(grid): reemiting changing/ed events #10780 - master
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: :white_check_mark: status: verified, grid: general, version: 13.1.x

#10860 feat(grid): reemiting changing/ed events #10780 - 13.0
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: :white_check_mark: status: verified, grid: general, version: 13.0.x

#10815 fix(grid-toolbar-exporter): move the button outside the dropdown container
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-exporter.component.html
Labels: grid: toolbar, version: 13.0.x

#10867 chore(*): Fix issue with widths mismatch in row dimension content.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.html
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10785 feat(pivot): Implement filters area dropdown
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10757 fix(textarea): style misplacement of resizer
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: input, :white_check_mark: status: verified

#10700 Update theme colors
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_advanced-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_action-strip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_avatar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_badge.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_banner.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_card.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_expansion-panel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_grid-summary.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_grid-toolbar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_grid.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_input-group.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_list.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_navdrawer.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_pagination.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_scrollbar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_tree.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_action-strip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_avatar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_badge.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_banner.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_card.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_expansion-panel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_grid.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_list.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_pagination.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_scrollbar.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
  projects/igniteui-angular/src/lib/core/styles/typography/scale-presets/_fluent.scss
  src/app/hierarchical-grid/hierarchical-grid.sample.css
  src/app/hierarchical-grid/hierarchical-grid.sample.html
Labels: :white_check_mark: status: verified, refactoring, :sparkles: themes, version: 13.0.x

#10900 Update theme colors
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_advanced-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_action-strip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_avatar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_badge.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_banner.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_card.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_expansion-panel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_grid-summary.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_grid-toolbar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_grid.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_input-group.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_list.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_navdrawer.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_pagination.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_scrollbar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_tree.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_action-strip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_avatar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_badge.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_banner.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_card.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_expansion-panel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_grid.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_list.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_pagination.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_scrollbar.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
  projects/igniteui-angular/src/lib/core/styles/typography/scale-presets/_fluent.scss
  src/app/hierarchical-grid/hierarchical-grid.sample.css
  src/app/hierarchical-grid/hierarchical-grid.sample.html
Labels: :white_check_mark: status: verified, refactoring, :sparkles: themes, version: 13.1.x

#10893 feat(typography): Update indigo typography to match the UI kit
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
  projects/igniteui-angular/src/lib/core/styles/typography/scale-presets/_indigo.scss
Labels: :x: status: awaiting-test, :abcd: typography, version: 13.0.x

#10888 fix(grid): pinned-containers-issue
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :bug: bug, :x: status: awaiting-test, grid: general, version: 13.1.x

#10906 Update bootstrap typography
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
  projects/igniteui-angular/src/lib/core/styles/typography/scale-presets/_bootstrap.scss
Labels: :x: status: awaiting-test, :abcd: typography, bootstrap-theme, version: 13.0.x

#10908 Update Bootstrap typography
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
  projects/igniteui-angular/src/lib/core/styles/typography/scale-presets/_bootstrap.scss
Labels: :x: status: awaiting-test, :abcd: typography, bootstrap-theme, version: 13.1.x

#10894 feat(typography): Update indigo typography to match the UI kit
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
  projects/igniteui-angular/src/lib/core/styles/typography/scale-presets/_indigo.scss
Labels: :x: status: awaiting-test, :abcd: typography, version: 13.1.x

#10917 fix(textarea): style misplacement of resizer
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :white_check_mark: status: verified
