Repository IgniteUI/igniteui-angular, pull requests merged in 2022-08, with the labels that each got.

#11904 refactor(rating): update rating theme and schema
  projects/igniteui-angular/src/lib/core/styles/components/rating/_rating-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_rating.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, rating, version: 14.1.x

#11910 theme(slider): update slider steps color
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_slider.scss
Labels: :white_check_mark: status: verified, slider, :sparkles: themes

#11534 Add Feedback and Contributing sections as part of the readme.md
  README.md
Labels: :book: documentation, version: 13.2.x

#11428 feat(wc): adding wc valueAccessor directive (for Rating and others) #11354
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/directives/form-control/README.md
  projects/igniteui-angular/src/lib/directives/form-control/form-control.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/form-control/form-control.directive.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/rating/rating.sample.css
  src/app/rating/rating.sample.html
  src/app/rating/rating.sample.ts
  src/app/routing.ts
Labels: :white_check_mark: status: verified, squash-merge, rating, version: 14.1.x

#11267 Аuto-size of all columns on init.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.html
  projects/igniteui-angular/src/lib/grids/headers/pipes.ts
  projects/igniteui-angular/src/lib/test-utils/template-strings.spec.ts
  src/app/grid-column-groups/grid-column-groups.sample.html
  src/app/grid-column-moving/grid-column-moving.sample.html
  src/app/grid-column-moving/grid-column-moving.sample.ts
  src/app/grid-performance/grid-performance.sample.html
Labels: :white_check_mark: status: verified, grid: general, version: 14.1.x

#11925 fix(drag): Filter out parent dom elements from shadow elements when gеtting elements from point.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 12.3.x

#11926 fix(drag): Filter out parent dom elements from shadow elements when gеtting elements from point
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 13.2.x

#11927 fix(drag): Filter out parent dom elements from shadow elements when gеtting elements from point
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 14.0.x

#11928 fix(drag): Filter out parent dom elements from shadow elements when getting elements from point.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 14.1.x

#11939 fix(tree): expand/collapse methods 13.2.x
  projects/igniteui-angular/src/lib/tree/tree-node/tree-node.component.ts
  projects/igniteui-angular/src/lib/tree/tree.spec.ts
Labels: :white_check_mark: status: verified, tree

#11929 fix(tree): expand/collapse methods
  projects/igniteui-angular/src/lib/tree/tree-node/tree-node.component.ts
  projects/igniteui-angular/src/lib/tree/tree.spec.ts
Labels: :white_check_mark: status: verified, tree

#11937 fix(tree): expand/collapse methods 14.0.x
  projects/igniteui-angular/src/lib/tree/tree-node/tree-node.component.ts
  projects/igniteui-angular/src/lib/tree/tree.spec.ts
Labels: :white_check_mark: status: verified, tree

#11934 fix(utils): check for empty string in formatDate
  projects/igniteui-angular/src/lib/core/utils.ts
Labels: :white_check_mark: status: verified, grid, version: 14.1.x

#11936 fix(utils): check for empty string in formatDate
  projects/igniteui-angular/src/lib/core/utils.ts
Labels: :white_check_mark: status: verified, version: 13.2.x, grid

#11951 Add type to paginator's navigation buttons - 13.2.x
  projects/igniteui-angular/src/lib/paginator/pager.component.html
Labels: :white_check_mark: status: verified, paginator, version: 13.2.x

#11952 Add type to paginator's navigation buttons - 12.3.x
  projects/igniteui-angular/src/lib/paginator/pager.component.html
Labels: :white_check_mark: status: verified, paginator, version: 12.3.x

#11948 Add type to paginator's navigation buttons - 14.0.x
  projects/igniteui-angular/src/lib/paginator/pager.component.html
Labels: :white_check_mark: status: verified, paginator, version: 14.0.x

#11946 Fix(grid): Set a track changes function on Init instead of setting it…
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: :white_check_mark: status: verified, grid: master-detail, version: 14.1.x

#11947 Fix(grid): Set a track changes function on Init instead of setting it…
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: :white_check_mark: status: verified, grid: master-detail, version: 14.0.x

#11949 Fix(grid): Set a track changes function on Init instead of setting it…
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: :white_check_mark: status: verified, grid: master-detail, version: 13.2.x

#11945 Add type to paginator's navigation buttons
  projects/igniteui-angular/src/lib/paginator/pager.component.html
Labels: :white_check_mark: status: verified, paginator, version: 14.1.x

#11914 fix(grid): Emit the rangeSelected event when pointerup is fired outside the Grid's cells
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
Labels: :white_check_mark: status: verified, grid: selection, version: 14.1.x

#11916 fix(grid): Emit the rangeSelected event when pointerup is fired outside the Grid's cells - 14.0.x
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
Labels: :white_check_mark: status: verified, grid: selection, version: 14.0.x

#11931 Fix linear progress indeterminant animation in safari
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/progressbar/templates/linear-bar.component.html
Labels: :white_check_mark: status: verified, linear-progress, version: 14.1.x

#11921 fix(grid): Emit the rangeSelected event when pointerup is fired outside the Grid's cells - 12.3.x
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
Labels: :white_check_mark: status: verified, grid: selection, version: 12.3.x

#11919 fix(grid): Emit the rangeSelected event when pointerup is fired outside the Grid's cells - 13.2.x
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
Labels: :white_check_mark: status: verified, grid: selection, version: 13.2.x

#11962 fix(grid): Prevent drag selection when is initiated outside the grid - 14.0.x
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
Labels: :white_check_mark: status: verified, grid: selection, version: 14.0.x

#11963 fix(grid): Prevent drag selection when is initiated outside the grid
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
Labels: :white_check_mark: status: verified, grid: selection, version: 14.1.x

#11705 Grid should correctly activate node when loses focus and regain it again
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
Labels: :white_check_mark: status: verified, keyboard-navigation, grid: active-node, version: 14.0.x

#11706 Grid should correctly activate node when loses focus and regain it again 13.2
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
Labels: :x: status: awaiting-test, keyboard-navigation, grid: active-node, version: 13.2.x

#11708 Grid should correctly activate node when loses focus and regain it again 12.3
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
Labels: :white_check_mark: status: verified, keyboard-navigation, grid: active-node, version: 12.3.x

#11957 fix(radio): allowing radio group to pick dynamically added radios - 13.2
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
Labels: :white_check_mark: status: verified, radio-group, version: 13.1.x

#11958 fix(radio): allowing radio group to pick dynamically added radios - 14.0
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
Labels: :white_check_mark: status: verified, radio-group, version: 14.0.x

#11956 fix(radio): allowing radio group to pick dynamically added radios - 12.3
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
Labels: :white_check_mark: status: verified, radio-group, version: 12.3.x

#11959 fix(radio): allowing radio group to pick dynamically added radios - master
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
Labels: :white_check_mark: status: verified, radio-group, version: 14.1.x

#11953 chore(*): updating dependencies
  package-lock.json
  package.json
Labels: dependencies, version: 14.1.x

#11976 chore(rating): adding cards in the demo
  src/app/rating/rating.sample.css
  src/app/rating/rating.sample.html
  src/app/rating/rating.sample.scss
  src/app/rating/rating.sample.ts
Labels: demos, rating, version: 14.1.x

#11981 refactor(components): use igniteui-theming package typography
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/snackbar/_snackbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tooltip/_tooltip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_navbar.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
Labels: :abcd: typography

#11982 feat(typography): use igniteui-theming package
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/bottom-nav/_bottom-nav-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/column-actions/_column-actions-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/date-range-picker/_date-range-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dock-manager/_dock-manager-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_banner.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
Labels: :x: status: awaiting-test, :abcd: typography, :sparkles: themes

#11853 [igxPivot] Integration with igxGridState directive to store config.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  projects/igniteui-angular/src/lib/grids/state.pivotgrid.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/pivot-grid-samples.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/pivot-grid-noop/pivot-grid-noop.sample.html
  src/app/pivot-grid-noop/pivot-grid-noop.sample.ts
  src/app/pivot-grid-state/pivot-grid-state.sample.html
  src/app/pivot-grid-state/pivot-grid-state.sample.scss
  src/app/pivot-grid-state/pivot-grid-state.sample.ts
  src/app/pivot-grid/pivot-grid.sample.ts
  src/app/routing.ts
Labels: :white_check_mark: status: verified, grid: state-persistence, grid: pivot, version: 14.1.x

#11969 fix(pickers): Set correct valid state when the form group is disabled - 12.3.x
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: :white_check_mark: status: verified, :date: date-picker, time-picker, squash-merge, date-range-picker, version: 12.3.x

#11968 fix(pickers): Set correct valid state when the form group is disabled - 13.2.x
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: :white_check_mark: status: verified, :date: date-picker, time-picker, squash-merge, date-range-picker, version: 13.2.x

#11967 fix(pickers): Set correct valid state when the form group is disabled - 14.0.x
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: :white_check_mark: status: verified, :date: date-picker, time-picker, squash-merge, date-range-picker, version: 14.0.x

#11966 fix(pickers): Set correct valid state when the form group is disabled
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: :white_check_mark: status: verified, :date: date-picker, time-picker, squash-merge, date-range-picker, version: 14.1.x

#11983 feat(themes): use digest-schema function
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/bottom-nav/_bottom-nav-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/column-actions/_column-actions-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/date-range-picker/_date-range-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/divider/_divider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dock-manager/_dock-manager-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_advanced-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_action-strip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_badge.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_banner.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_bottom-nav.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_button-group.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_button.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_calendar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_card.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_carousel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_checkbox.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_chip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_dialog.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_divider.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_dock-manager.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_drop-down.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_expansion-panel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_action-strip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_badge.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_banner.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_bottom-nav.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button-group.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_calendar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_card.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_carousel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_checkbox.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_chip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_combo.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_date-range-picker.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_dialog.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_divider.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_dock-manager.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_drop-down.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_expansion-panel.scss
Labels: :white_check_mark: status: verified, :sparkles: themes

#11977 feat(grid): show formatted summary in cell tooltip
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/summaries/summary-cell.component.html
  projects/igniteui-angular/src/lib/grids/summaries/summary-cell.component.ts
Labels: :white_check_mark: status: verified, grid: summaries, version: 14.1.x

#12003 fix(hgrid):fix autosize err with header calc
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/watch-changes.ts
Labels: :white_check_mark: status: verified, grid: resizing, grid: hierarchical-grid, version: 14.1.x

#11997 fix(igxDrag): Fix initial top ghost position when the ghost host has position altered.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.spec.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 12.3.x

#11998 fix(igxDrag): Fix initial top ghost position when the ghost host has position altered.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.spec.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 13.2.x

#11999 fix(igxDrag): Fix initial top ghost position when the ghost host has position altered.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.spec.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 14.0.x

#12000 fix(igxDrag): Fix initial top ghost position when the ghost host has position altered.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.spec.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 14.1.x

#12008 Combo filtering enhancements 12.3
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
  src/app/combo/remote-nwind.service.ts
Labels: :white_check_mark: status: verified, combo, version: 12.3.x, simple-combo

#12009 Combo filtering enhancements 13.2
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
  src/app/combo/remote-nwind.service.ts
Labels: :white_check_mark: status: verified, combo, simple-combo, version: 13.2.x

#12017 Combo filtering enhancements 14.0
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
  src/app/combo/remote-nwind.service.ts
Labels: :white_check_mark: status: verified, combo, simple-combo, version: 14.0.x

#11995 Combo filtering enhancements
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
  src/app/combo/remote-nwind.service.ts
Labels: :white_check_mark: status: verified, combo, simple-combo, version: 14.1.x

#12007 Same row should be draggable multiple times - 13.2.x
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/grid-row-reorder/grid-row-reorder.sample.css
  src/app/grid-row-reorder/grid-row-reorder.sample.html
  src/app/grid-row-reorder/grid-row-reorder.sample.ts
  src/app/grid-row-reorder/nwindData.ts
  src/app/routing.ts
Labels: :boom: status: in-test, drag-drop, grid: row-drag

#12005 Same row should be draggable multiple times
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/grid-row-reorder/grid-row-reorder.sample.css
  src/app/grid-row-reorder/grid-row-reorder.sample.html
  src/app/grid-row-reorder/grid-row-reorder.sample.ts
  src/app/grid-row-reorder/nwindData.ts
  src/app/routing.ts
Labels: :white_check_mark: status: verified, drag-drop, grid: row-drag

#12006 Same row should be draggable multiple times - 14.0.x
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/grid-row-reorder/grid-row-reorder.sample.css
  src/app/grid-row-reorder/grid-row-reorder.sample.html
  src/app/grid-row-reorder/grid-row-reorder.sample.ts
  src/app/grid-row-reorder/nwindData.ts
  src/app/routing.ts
Labels: :white_check_mark: status: verified, drag-drop, grid: row-drag

#12021 fix(combo): expose IComboFilteringOptions
  projects/igniteui-angular/src/lib/combo/public_api.ts
Labels: combo, version: 14.0.x

#12020 fix(combo): expose IComboFilteringOptions
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/public_api.ts
Labels: combo, version: 14.1.x

#11972 feat(navbar): update navbar icons and icon buttons
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_navbar.scss
  src/app/navbar/navbar.sample.html
Labels: :white_check_mark: status: verified, navbar, fluent-theme, design: verified

#12001 Refactor validation in separate service.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.module.ts
  projects/igniteui-angular/src/lib/grids/columns/validators.directive.ts
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-public-cell.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-validation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.nested.props.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/public_api.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/services/transaction/base-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/transaction.ts
  src/app/grid-cellEditing/grid-cellEditing.component.ts
  src/app/grid-validation/grid-validation.sample.component.html
  src/app/grid-validation/grid-validation.sample.component.ts
Labels: :x: status: awaiting-test

#12010 test(validator): Add all tests from the validator spec
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-validation.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-validation-samples.spec.ts
Labels: grid
