Repository IgniteUI/igniteui-angular, pull requests merged in 2022-07, with the labels that each got.

#11785 fix(igxHierarchicalGrid): Add hgrid getter to consider parent row island defined template.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 14.1.x

#11783 fix(igxHierarchicalGrid): Add hgrid getter to consider parent row island defined template.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 13.2.x

#11784 fix(igxHierarchicalGrid): Add hgrid getter to consider parent row island defined template.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 14.0.x

#11807 Fix cleared selection when combo loses focus - v.12.3.x
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, version: 12.3.x, simple-combo

#11795 fix(banner): remove the padding from the expansion panel only in context of banner
  projects/igniteui-angular/src/lib/banner/banner.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-theme.scss
  src/app/banner/banner.sample.css
  src/app/banner/banner.sample.html
Labels: :white_check_mark: status: verified, expansion-panel, banner, version: 14.1.x

#11794 fix(banner): remove the padding from the expansion panel only in context of banner
  projects/igniteui-angular/src/lib/banner/banner.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-theme.scss
  src/app/banner/banner.sample.css
  src/app/banner/banner.sample.html
Labels: :white_check_mark: status: verified, expansion-panel, banner, version: 14.0.x

#11805 Fix cleared selection when combo loses focus - v.14.0x
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 14.0.x

#11776 fix(igxPivot): Fix issue with dimensionsSortingExpressionsChange not …
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 14.0.x

#11815 fix(toolbar): reverse side padding
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
Labels: :white_check_mark: status: verified, grid: toolbar, version: 14.1.x

#11814 fix(toolbar): reverse side padding
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
Labels: :white_check_mark: status: verified, grid: toolbar, version: 14.0.x

#11767 fix(charts-typography): missing font-weight
  projects/igniteui-angular/src/lib/core/styles/typography/_base.scss
Labels: :white_check_mark: status: verified, :abcd: typography, :bar_chart: charts, version: 14.1.x

#11812 V dyulgerov/feature locale 14.0
  CHANGELOG.md
  projects/igniteui-angular/src/lib/calendar/README.md
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.ts
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.ts
  projects/igniteui-angular/src/lib/date-common/picker-base.directive.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/columns/interfaces.ts
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.html
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.ts
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
  src/app/calendar/calendar.sample.html
  src/app/calendar/calendar.sample.ts
  src/app/date-picker/date-picker.sample.html
  src/app/date-picker/date-picker.sample.scss
  src/app/date-picker/date-picker.sample.ts
  src/app/date-range/date-range.sample.html
  src/app/date-range/date-range.sample.ts
Labels: :white_check_mark: status: verified, :calendar: calendar, :toolbox: feature-request, version: 14.0.x

#11714 Improve combo accessibility
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/combo/combo-item.component.ts
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.html
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, combo, simple-combo

#11763 Add pivot value chip content template.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.directives.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.module.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/public_api.ts
  projects/igniteui-angular/src/lib/test-utils/pivot-grid-samples.spec.ts
  src/app/pivot-grid/pivot-grid.sample.html
Labels: :white_check_mark: status: verified, grid: pivot, version: 14.1.x

#11838 fix(igxHierarchicalGrid): Add explicit type and import for excelStyle…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 13.2.x

#11839 fix(igxHierarchicalGrid): Add explicit type and import for excelStyle…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 14.0.x

#11840 fix(igxHierarchicalGrid): Add explicit type and import for excelStyle…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 14.1.x

#11844 Expose combo filtering strategy 14.0.x
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/README.md
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.pipes.ts
  projects/igniteui-angular/src/lib/simple-combo/README.md
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
Labels: :white_check_mark: status: verified, combo, squash-merge, filtering, simple-combo, version: 14.0.x

#11847 Extend combos' filtering options - 14.0
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/README.md
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/combo/combo.pipes.ts
  projects/igniteui-angular/src/lib/simple-combo/README.md
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
Labels: :white_check_mark: status: verified, combo, filtering, simple-combo, version: 14.0.x

#11841 Expose combo filtering strategy
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/README.md
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/combo/combo.pipes.ts
  projects/igniteui-angular/src/lib/simple-combo/README.md
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
Labels: :white_check_mark: status: verified, combo, squash-merge, filtering, simple-combo, version: 14.1.x

#11856 refactor(expansion-panel): improve animations
  projects/igniteui-angular/src/lib/animations/grow/index.ts
  projects/igniteui-angular/src/lib/animations/interface.ts
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.component.ts
  src/app/accordion/accordion.sample.scss
Labels: :white_check_mark: status: verified, expansion-panel, :sparkles: themes, accordion, version: 14.0.x

#11799 fix(pivot): Set correct data type when creating custom IgxPivotDateDi…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-dimensions.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: sorting, grid: pivot, version: 14.1.x

#11801 fix(pivot): Set correct data type when creating custom IgxPivotDateDi…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-dimensions.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: sorting, grid: pivot, version: 13.2.x

#11819 feat(igxPivot): Add a filterDimension method.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  src/app/pivot-grid/pivot-grid.sample.html
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 13.2.x

#11816 feat(igxPivot): Add a filterDimension method.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  src/app/pivot-grid/pivot-grid.sample.html
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 14.1.x

#11845 Display both scroll buttons when needed
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_tabs.scss
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
Labels: :white_check_mark: status: verified, tabs, version: 14.1.x

#11833 fix(state): Improve the state directive to restore the columns state of child grids - 13.2.x
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  projects/igniteui-angular/src/lib/grids/state.hierarchicalgrid.spec.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, grid: state-persistence, version: 13.2.x

#11834 fix(state): Improve the state directive to restore the columns state of child grids - 14.0.x
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  projects/igniteui-angular/src/lib/grids/state.hierarchicalgrid.spec.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, grid: state-persistence, version: 14.0.x

#11835 fix(state): Improve the state directive to restore the columns state of child grids
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  projects/igniteui-angular/src/lib/grids/state.hierarchicalgrid.spec.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, grid: state-persistence, version: 14.1.x

#11820 fix(Pivot): Sort column dimensions recursively and pass correct dimen…
  projects/igniteui-angular/src/lib/data-operations/pivot-sort-strategy.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: sorting, grid: pivot, version: 14.1.x

#11821 fix(Pivot): Sort column dimensions recursively and pass correct dimen…
  projects/igniteui-angular/src/lib/data-operations/pivot-sort-strategy.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: sorting, grid: pivot, version: 14.0.x

#11854 refactor(expansion-panel): improve animations
  projects/igniteui-angular/src/lib/animations/grow/index.ts
  projects/igniteui-angular/src/lib/animations/interface.ts
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.component.ts
  src/app/accordion/accordion.sample.scss
Labels: :white_check_mark: status: verified, expansion-panel, :sparkles: themes, accordion, version: 14.1.x

#11780 fix(schematics): ng add for all projects #11761
  .vscode/launch.json
  projects/igniteui-angular/schematics/ng-add/add-normalize.ts
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
  projects/igniteui-angular/schematics/utils/util.ts
Labels: :white_check_mark: status: verified, squash-merge, schematics, version: 14.1.x

#11868 fix(combo): selectable unique falsy values #11610
  projects/igniteui-angular/src/lib/combo/combo.api.ts
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/combo/combo.pipes.ts
  projects/igniteui-angular/src/lib/core/selection.spec.ts
  projects/igniteui-angular/src/lib/core/selection.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
Labels: :white_check_mark: status: verified, combo, version: 12.3.x, simple-combo

#11860 fix(combo): selectable unique falsy values #11610
  projects/igniteui-angular/src/lib/combo/combo.api.ts
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/combo/combo.pipes.ts
  projects/igniteui-angular/src/lib/core/selection.spec.ts
  projects/igniteui-angular/src/lib/core/selection.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
Labels: :white_check_mark: status: verified, combo, simple-combo, version: 13.2.x

#11859 fix(combo): selectable unique falsy values #11610
  projects/igniteui-angular/src/lib/combo/combo.api.ts
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/combo/combo.pipes.ts
  projects/igniteui-angular/src/lib/core/selection.spec.ts
  projects/igniteui-angular/src/lib/core/selection.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
Labels: :white_check_mark: status: verified, combo, simple-combo, version: 14.0.x

#11828 fix(date-picker): hover and focus styles
  projects/igniteui-angular/src/lib/core/styles/components/date-picker/_date-picker-theme.scss
Labels: :white_check_mark: status: verified, :date: date-picker, date-range-picker, version: 14.1.x

#11827 fix(date-picker): hover and focus styles
  projects/igniteui-angular/src/lib/core/styles/components/date-picker/_date-picker-theme.scss
Labels: :white_check_mark: status: verified, :date: date-picker, date-range-picker, version: 14.0.x

#11831 fix(calendar): Adding additional theme props for hover and focus state on the selected dates.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_calendar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_calendar.scss
Labels: :white_check_mark: status: verified, :date: date-picker, :calendar: calendar, date-range-picker, :sparkles: themes, version: 14.1.x

#11830 fix(calendar): Adding additional theme props for hover and focus state on the selected dates.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_calendar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_calendar.scss
Labels: :white_check_mark: status: verified, :date: date-picker, :calendar: calendar, date-range-picker, :sparkles: themes

#11887 refactor(slider): update theme to match WC
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_slider.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_slider.scss
  projects/igniteui-angular/src/lib/slider/slider.component.html
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
Labels: :white_check_mark: status: verified, slider, :sparkles: themes, version: 14.1.x

#11907 fix(input): firefox shows number spinners
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :white_check_mark: status: verified, input-group, :fire: :fox_face: browser: firefox, :sparkles: themes, version: 13.2.x

#11906 fix(input): firefox shows number spinners
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :white_check_mark: status: verified, input-group, :fire: :fox_face: browser: firefox, :sparkles: themes, version: 14.0.x

#11890 fix(grid): Allow copiyng from quick filtering input
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-clipboard.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, grid: filter-ui, grid: copy-paste, version: 14.1.x

#11891 fix(grid): Allow copiyng from quick filtering input - 14.0.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-clipboard.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, grid: filter-ui, grid: copy-paste, version: 14.0.x

#11892 fix(grid): Allow copiyng from quick filtering input - 13.2.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-clipboard.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, grid: filter-ui, grid: copy-paste, version: 13.2.x

#11912 fix(tree): Make the tree scroll automatically when it reaches its parent height.
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
  src/app/tree/tree.sample.scss
Labels: :white_check_mark: status: verified, tree, version: 14.0.x

#11894 fix(tree): Make the tree scroll automatically when it reaches its parent height.
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
  src/app/tree/tree.sample.scss
Labels: :white_check_mark: status: verified, tree, version: 14.1.x

#11897 FIX - In Chrome on mac, when I enter double-byte characters in a cell, it becomes empty --13.2
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
Labels: :white_check_mark: status: verified, grid: cell-editing, env: MacOS, version: 13.2.x

#11893 fix(grid): Allow copiyng from quick filtering input - 12.3.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-clipboard.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, grid: filter-ui, grid: copy-paste, version: 12.3.x

#11918 fix(tree): remove the height
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
Labels: tree, version: 14.1.x

#11920 fix(tree): remove the height
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
Labels: tree, version: 14.0.x

#11915 chore(*): roadmap-update-28-jul-2022
  ROADMAP.md
Labels: :book: documentation, version: 14.1.x

#11896 FIX - In Chrome on mac, when I enter double-byte characters in a cell, it becomes empty -14.0.x
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
Labels: :white_check_mark: status: verified, grid: cell-editing, env: MacOS, version: 14.0.x

#11895 FIX - In Chrome on mac, when I enter double-byte characters in a cell, it becomes empty
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
Labels: :white_check_mark: status: verified, grid: cell-editing, env: MacOS, version: 14.1.x

#11909 feat(state-dir): restore filter expression with custom operand
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
Labels: :white_check_mark: status: verified, grid: state-persistence, version: 14.1.x

#11905 fix(input): firefox shows number spinners
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :white_check_mark: status: verified, input-group, :fire: :fox_face: browser: firefox, :sparkles: themes, version: 14.1.x
