Repository IgniteUI/igniteui-angular, pull requests merged in 2022-05, with the labels that each got.

#11460 fix(themes): roundess and elevation scoping
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
Labels: :sparkles: themes, version: 13.2.x

#11473 fix(chip): Safe check chip event handlers.
  projects/igniteui-angular/src/lib/chips/chip.component.ts
Labels: :white_check_mark: status: verified, chip, version: 13.2.x

#11472 fix(chip): Safe check chip event handlers.
  projects/igniteui-angular/src/lib/chips/chip.component.ts
Labels: :white_check_mark: status: verified, chip, version: 13.1.x

#11462 fix(editing): Update active element before updating crud status
  projects/igniteui-angular/src/lib/grids/cell.component.ts
Labels: :white_check_mark: status: verified, virtualization, grid: row-editing, version: 13.1.x

#11461 fix(editing): Update active element before updating crud status
  projects/igniteui-angular/src/lib/grids/cell.component.ts
Labels: :white_check_mark: status: verified, virtualization, grid: row-editing, version: 13.2.x

#11482 Allow changing the icon size through CSS custom propertie.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_advanced-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_pivot-data-selector-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
  src/app/grid-finjs/grid-finjs.component.scss
Labels: :framed_picture: icon, :white_check_mark: status: verified, version: 13.2.x

#11487 Allow changing the icon size through CSS custom properties
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_advanced-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_pivot-data-selector-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
  src/app/grid-finjs/grid-finjs.component.scss
Labels: :framed_picture: icon, :white_check_mark: status: verified, version: 13.1.x

#11491 fix(radio.component): preventing native event from emmiting for 13.1.…
  projects/igniteui-angular/src/lib/radio/radio.component.ts
Labels: radio-button, :white_check_mark: status: verified, radio-group, version: 13.1.x

#11502 fix(tree-grid): make the tree indentation work with an infinite amount of levels
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
Labels: :white_check_mark: status: verified, grid: tree-grid, version: 13.2.x

#11486 fix(tabs): unable to scroll content
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
Labels: :white_check_mark: status: verified, tabs, :sparkles: themes, version: 13.1.x

#11514 fix(combo): findMatch to return false when no item - 13.1.x
  projects/igniteui-angular/src/lib/combo/combo.common.ts
Labels: :white_check_mark: status: verified, combo

#11489 fix(radio.component): preventing native event from emmiting for 12.3.…
  projects/igniteui-angular/src/lib/radio/radio.component.ts
Labels: radio-button, :white_check_mark: status: verified, radio-group, version: 12.3.x

#11501 fix(tree-grid): make the tree indentation work with an infinite amount of levels
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
Labels: :white_check_mark: status: verified, grid: tree-grid, version: 13.1.x

#11507 fix(gridToolbarHiding): fix columnsAreaMaxHeight input property
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.base.ts
Labels: :white_check_mark: status: verified, grid: toolbar, grid: toolbar-hiding, grid: toolbar-pinning, version: 12.3.x

#11518 refactor(list): allow the list to scroll
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
Labels: list, :x: status: awaiting-test, :sparkles: themes, version: 13.1.x

#11517 refactor(list): allow the list to scroll
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
Labels: list, :white_check_mark: status: resolved, version: 13.2.x

#11516 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: :book: documentation, :wheelchair: a11y, version: 13.2.x

#11523 fix(grid): add an if-else check to avoid error throw
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
Labels: :bug: bug, :white_check_mark: status: verified, grid: state-persistence, version: 12.3.x

#11510 fix(time-picker): fix host binding with input group
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: :white_check_mark: status: verified, time-picker, input-group, version: 11.1.x

#11484 feat(slider): exposing upper and lower value bind
  CHANGELOG.md
  projects/igniteui-angular/src/lib/slider/README.md
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/routing.ts
  src/app/slider/range-slider/range-slider.component.html
  src/app/slider/range-slider/range-slider.component.scss
  src/app/slider/range-slider/range-slider.component.ts
  src/app/slider/slider.sample.html
  src/app/slider/slider.sample.ts
Labels: :white_check_mark: status: verified, slider, version: 13.2.x

#11499 fix(time-picker): fix host binding with input group
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: :white_check_mark: status: verified, time-picker, input-group, version: 12.3.x

#11498 fix(time-picker): fix host binding with input group
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: :white_check_mark: status: verified, time-picker, input-group, version: 13.1.x

#11497 fix(time-picker): fix host binding with input group
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: :white_check_mark: status: verified, time-picker, input-group, version: 13.2.x

#11527 fix(grid): add an if-else check to avoid error throw
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
Labels: :bug: bug, :white_check_mark: status: verified, grid: state-persistence, version: 11.1.x

#11452 refactor(chip): use spacing for margin and padding
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
Labels: :white_check_mark: status: verified, chip, :sparkles: themes, version: 13.2.x

#11541 docs(readme): adding supported browsers
  README.md
Labels: :book: documentation

#11506 fix(igxGrid): Add a bit more complex check for groupby records.
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  src/app/grid-column-moving/grid-column-moving.sample.ts
Labels: :white_check_mark: status: verified, version: 12.3.x, grid

#11533 fix(grid): check fix(grid): check if advancedFilteringExpressionsTree…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
Labels: :bug: bug, :boom: status: in-test, grid: summaries, version: 13.1.x

#11505 fix(igxGrid): Add a bit more complex check for groupby records.
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  src/app/grid-column-moving/grid-column-moving.sample.ts
Labels: :white_check_mark: status: verified, version: 13.1.x, grid

#11504 fix(igxGrid): Add a bit more complex check for groupby records.
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  src/app/grid-column-moving/grid-column-moving.sample.ts
Labels: :white_check_mark: status: verified, version: 13.2.x, grid

#11538 fix(grid): add empty check for advancedFilteringExpressionsTree
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
Labels: :white_check_mark: status: verified, grid: summaries, grid: advanced-filtering, version: 11.1.x

#11537 fix(grid): add empty check for advancedFilteringExpressionsTree
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
Labels: :white_check_mark: status: verified, grid: summaries, grid: advanced-filtering, version: 12.3.x

#11522 fix(grid): add empty check for advancedFilteringExpressionsTree
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
Labels: :bug: bug, :white_check_mark: status: verified, grid: summaries, grid: advanced-filtering, version: 13.2.x

#11521 Implement all interface methods in the ServerHost - 13.1.x
  projects/igniteui-angular/migrations/common/ServerHost.ts
Labels: :white_check_mark: status: verified, migrations, version: 13.1.x

#11520 Implement all interface methods in the ServerHost
  projects/igniteui-angular/migrations/common/ServerHost.ts
Labels: :white_check_mark: status: verified, migrations, version: 13.2.x

#11552 Simple typo fix
  README.md
Labels: :book: documentation, version: 13.2.x

#11567 fix(pie-chart): label color in dark themes
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_pie-chart.scss
Labels: :white_check_mark: status: verified, :bar_chart: charts, version: 13.2.x

#11570 fix(pie-chart): label color in dark themes
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_pie-chart.scss
Labels: :white_check_mark: status: verified, :bar_chart: charts, version: 13.1.x

#11530 Aligning IGX Button of type icon with WC icon-button
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/elevation/_button.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button.scss
Labels: :white_check_mark: status: verified, button-theme, button, icon-button, version: 13.2.x

#11571 fix(pie-chart): label color in dark themes
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_pie-chart.scss
Labels: :white_check_mark: status: verified, :bar_chart: charts, version: 12.3.x

#11577 Update migrating of theme imports
  projects/igniteui-angular/migrations/common/UpdateChanges.ts
  projects/igniteui-angular/migrations/update-13_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-13_1_0/index.ts
Labels: :white_check_mark: status: verified, migrations, version: 13.2.x

#11584 Change import rule to use rule 13.1
  projects/igniteui-angular/migrations/update-13_1_0/index.ts
Labels: migrations, version: 13.1.x

#11583 Change import rule to use rule
  projects/igniteui-angular/migrations/update-13_1_0/index.ts
Labels: migrations, version: 13.2.x

#11503 fix(grid): Do not recalculate grid sizes when scrolling and vertical …
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid: general, virtualization, version: 13.2.x

#11508 fix(grid): Do detect changes when content in the display container changes but d…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid: general, virtualization, version: 13.1.x

#11509 fix(grid): Do detect changes when content in the display container changes but do not
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: :white_check_mark: status: verified, grid: general, virtualization, version: 12.3.x

#11580 feat(palette): update handmade-palette sample
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_category-chart.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_gauge.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_graph.scss
  src/styles/_variables.scss
Labels: :white_check_mark: status: verified, sass functions, :sparkles: themes

#11576 feat(igxDrag): Add support for window scroll or custom container element.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  src/app/drag-drop/drag-drop.sample.css
  src/app/drag-drop/drag-drop.sample.html
  src/app/drag-drop/drag-drop.sample.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 13.2.x

#11540 feat(igxPivot): Update IPivotValue methods for formattter and styles …
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.module.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  projects/igniteui-angular/src/lib/test-utils/pivot-grid-samples.spec.ts
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 13.2.x

#11553 IgxCombo: fix asterisk not removed when removing required validator dynamically in reactive form - v.12.3
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: :bug: bug, :white_check_mark: status: verified, combo, squash-merge, version: 12.3.x

#11551 IgxCombo: fix asterisk not removed when removing required validator dynamically in reactive form - v.13.1
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: :bug: bug, :white_check_mark: status: verified, combo, squash-merge, version: 13.1.x

#11559 fix(date-time-editor): increment/decrement date portions with arrow up/down keys in shadow DOM - 11.1.x
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
Labels: :white_check_mark: status: verified, squash-merge, date-time-editor, version: 11.1.x

#11547 IgxCombo: fix asterisk not removed when removing required validator dynamically in reactive form
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: :white_check_mark: status: verified, combo, squash-merge, version: 13.2.x

#11557 fix(date-time-editor): increment/decrement date portions with arrow up/down keys in shadow DOM - 12.3.x
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
Labels: :white_check_mark: status: verified, squash-merge, date-time-editor, version: 12.3.x

#11554 fix(date-time-editor): increment/decrement date portions with arrow up/down keys in shadow DOM
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
Labels: :white_check_mark: status: verified, squash-merge, date-time-editor, version: 13.2.x

#11591 fix(expansion-panel): margin transitions
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
Labels: :white_check_mark: status: verified, expansion-panel, accordion, version: 13.2.x

#11602 docs(combo): Fix igxComboItem api template
  projects/igniteui-angular/src/lib/combo/combo.common.ts
Labels: :white_check_mark: status: verified, combo

#11589 [HierarchicalGrid] Remove some redundant code and add some possible performanc…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-summaries.spec.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 13.1.x

#11590 [HierarchicalGrid] Remove some redundant code and add some possible performanc…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-summaries.spec.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid

#11535 [HierarchicalGrid] Remove some redundant code and add some possible performanc…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-summaries.spec.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 13.2.x

#11524 fix(Spliter): Clear dragSize of siblings when expanding/collapsing a …
  projects/igniteui-angular/src/lib/splitter/splitter-pane/splitter-pane.component.ts
Labels: :white_check_mark: status: verified, splitter, version: 13.2.x

#11525 fix(Spliter): Clear dragSize of siblings when expanding/collapsing a …
  projects/igniteui-angular/src/lib/splitter/splitter-pane/splitter-pane.component.ts
Labels: :white_check_mark: status: verified, splitter, version: 13.1.x

#11526 fix(Spliter): Clear dragSize of siblings when expanding/collapsing a …
  projects/igniteui-angular/src/lib/splitter/splitter-pane/splitter-pane.component.ts
Labels: :white_check_mark: status: verified, splitter, version: 12.3.x

#11586 feat(expansion-panel): update expansion panel paddings
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_pivot-data-selector-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_pivot-data-selector-theme.scss
  src/app/expansion-panel/expansion-panel-sample.html
Labels: :white_check_mark: status: verified, expansion-panel, :sparkles: themes, design: verified

#11614 fix(radio-group): propritize some radio props
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
  src/app/radio/radio.sample.html
  src/app/radio/radio.sample.ts
Labels: radio-button, :white_check_mark: status: verified, radio-group, version: 13.2.x

#11623 chore(schematics): update with latest
  projects/igniteui-angular/package.json
Labels: schematics, version: 13.2.x

#11618 fix(border-radius): move the use of border-radius function to theme scope
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/snackbar/_snackbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/splitter/_splitter-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tooltip/_tooltip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/watermark/_watermark-theme.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 13.1.x

#11622 fix(expansion-panel): update typography
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_expansion-panel.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
Labels: :x: status: awaiting-test, :abcd: typography, expansion-panel, design: verified

#11592 fix(input-group): properly clear file input model
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
Labels: input, :white_check_mark: status: verified, input-group, squash-merge, version: 13.1.x

#11595 fix(input-group): properly clear file input model
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
Labels: input, :white_check_mark: status: verified, input-group, squash-merge, version: 12.3.x

#11627 fix(input-group): Properly clear file input model
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
Labels: input, :white_check_mark: status: verified, input-group, version: 13.2.x

#11633 feat(navbar): remove block padding
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
Labels: :white_check_mark: status: verified, :toolbox: feature-request, navbar, version: 14.0.x

#11634 feat(navbar): remove block padding
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
Labels: :white_check_mark: status: verified, navbar, version: 13.2.x

#11635 feat(navbar): remove block padding
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
Labels: :white_check_mark: status: verified, navbar, version: 12.3.x

#11640 fix(themes): border radius for FAB and round avatar
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
Labels: avatar, :white_check_mark: status: verified, button, :sparkles: themes, version: 14.0.x

#11641 fix(themes): border-radius for FAB and round avatar
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
Labels: avatar, :white_check_mark: status: verified, button, :sparkles: themes

#11608 fix(esf): solving a date juggling error - 13.2
  projects/igniteui-angular/src/lib/data-operations/filtering-strategy.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 13.2.x

#11607 fix(esf): solving a date juggling error - 13.1
  projects/igniteui-angular/src/lib/data-operations/filtering-strategy.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 13.1.x

#11606 fix(esf): solving a date juggling error - 12.3
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 12.3.x
