Repository IgniteUI/igniteui-angular, pull requests merged in 2022-02, with the labels that each got.

#10896 fix(Pivot): Filtering strategy does not work for complex objects in P…
  projects/igniteui-angular/src/lib/data-operations/filtering-strategy.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10915 Add more APIs to manipulate dimensions/values more easily.
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  src/app/pivot-grid/pivot-grid.sample.html
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10883 fix(pivotGrid): Fix pivot row select event not triggering due to being run outside of ngZone.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header-group.component.ts
Labels: :white_check_mark: status: verified, grid: row-selection, grid: pivot

#10932 fix(grid): column headers background has transparency on drag.
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :white_check_mark: status: verified, grid: sorting, grid: column-selection, version: 13.0.x

#10907 fix(Pivot): Fix pivot sample aggregate functions
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10901 chore(*): Adjust scroll position after sizes change.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10903 chore(*): Apply explicit width in header that matches row dimension w…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
Labels: :white_check_mark: status: verified, grid: pivot

#10898 fix(igxPivot): Apply rowHeight explicitly to rows so that they render…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
Labels: :white_check_mark: status: verified, grid: pivot

#10935 chore(*): Fix check to search for dimension in all available dimensio…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10936 chore(pivot): Remove wrong @Input pivotRowWidths of igx-pivot-row
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
Labels: grid: pivot

#10937 Nalipiev/add eslint types
  package-lock.json
  package.json
Labels: schematics, version: 13.1.x

#10928 fix(ESF): Update items on 1st filter column
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, :x: do not merge, grid: excel-style-filtering, version: 11.1.x

#10941 chore(*): remove @types/eslint, leave only @types/estree
  package-lock.json
  package.json
Labels: schematics, version: 13.1.x

#10943 fix(pivotGrid): Stop propagation when clicking on expansion icon for row dimension to not trigger selection events.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
Labels: :white_check_mark: status: verified, grid: row-selection, grid: pivot

#10951 Revert "fix(ESF): Update items on 1st filter column"
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: grid: excel-style-filtering, version: 11.1.x

#10916 Expose GridSelectionRange interface to public api
  projects/igniteui-angular/src/public_api.ts
Labels: :white_check_mark: status: verified, grid: selection

#10950 V dyulgerov/fix cell selection for remote paging 12.3.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :bug: bug, :white_check_mark: status: verified, grid: selection, paginator

#10926 feat(hgrid): allow to prevent exiting of edit mode when row is toggled through the UI
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 13.1.x

#10924 Number Support for TextSelectionDirective
  projects/igniteui-angular/src/lib/directives/text-selection/text-selection.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/text-selection/text-selection.directive.ts
Labels: :white_check_mark: status: verified, text-selection, version: 13.0.x

#10912 fix10806 12.3 - added number selection
  projects/igniteui-angular/src/lib/directives/text-selection/text-selection.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/text-selection/text-selection.directive.ts
Labels: :white_check_mark: status: verified, text-selection, version: 12.3.x

#10863 fix(selectionDirective): added number selection
  projects/igniteui-angular/src/lib/directives/text-selection/text-selection.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/text-selection/text-selection.directive.ts
Labels: :white_check_mark: status: verified, text-selection, version: 13.0.x

#10958 [Pivot] Apply DataUtil sorting when sorting column dimensions and add value field to fieldsHierarchy when column strategy is noop
  projects/igniteui-angular/src/lib/data-operations/pivot-strategy.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10874 Render values even if no dimensions specified
  projects/igniteui-angular/src/lib/data-operations/pivot-strategy.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  projects/igniteui-angular/src/lib/grids/resizing/pivot-grid/pivot-resizing.service.ts
  src/app/pivot-grid/pivot-grid.sample.html
Labels: :white_check_mark: status: verified, grid: pivot

#10839 Fix close scroll strategy
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/scroll/close-scroll-strategy.ts
Labels: :white_check_mark: status: verified, overlay, version: 13.1.x

#10899 fix(igxPivot): Ensure grid reflows after columns are reset when remov…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10979 Fix the grid's column movable migration
  projects/igniteui-angular/migrations/update-13_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-13_1_0/index.ts
Labels: :white_check_mark: status: verified, grid: general, migrations

#10919 Simple combo clears partial custom values - 12.3
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, version: 12.3.x, simple-combo

#10914 Simple combo clears partial custom values
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, version: 13.1.x, simple-combo

#10946 fix(igxPivot): Fix content and dimension content height mismatch.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  src/app/pivot-grid/pivot-grid.sample.html
Labels: :white_check_mark: status: verified, grid: pivot

#10872 feat(igxPivot): Add superCompactMode Input for the grid that applies …
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
  src/app/pivot-grid/pivot-grid.sample.html
Labels: :white_check_mark: status: verified, grid: pivot

#10983 fix(toast): missing property migration
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-13_1_0/changes/inputs.json
  projects/igniteui-angular/migrations/update-13_1_0/index.ts
Labels: :bug: bug, :white_check_mark: status: verified, toast, migrations, version: 13.1.x

#10973 fix(pivotGrid): Fix default header row for of not rendered for empty column dimensions or data.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 13.1.x

#10986 npm(styling): update to latest stylelint
  .stylelintrc.json
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :bricks: ci: build, npm, :capital_abcd: ci: lint, version: 13.1.x

#10985 fix(pivot): Do not clean state of data when using noop strategies
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10981 fix(igxPivot): Reset expansion states when column collection is re-ge…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10999 [igxPivot] Fix Quarters from the predefined IgxPivotDateDimension
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-dimensions.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.spec.ts
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10910 fix(pivotGrid): Preserve row dimension sizes in percents when resizing a column.
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
  projects/igniteui-angular/src/lib/grids/resizing/pivot-grid/pivot-resizing.service.ts
Labels: :white_check_mark: status: verified, grid: resizing, grid: pivot

#10971 Introduce PivotGridRecord interface for strongly typed record data related to pivot operations.
  projects/igniteui-angular/src/lib/data-operations/pivot-strategy.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.module.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  projects/igniteui-angular/src/lib/grids/resizing/pivot-grid/pivot-resize-handle.directive.ts
  projects/igniteui-angular/src/lib/grids/resizing/pivot-grid/pivot-resizing.service.ts
  projects/igniteui-angular/src/lib/test-utils/pivot-grid-functions.spec.ts
  src/app/pivot-grid-noop/pivot-grid-noop.sample.html
  src/app/pivot-grid-noop/pivot-grid-noop.sample.ts
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot

#11017 fix(igxPivot): Retain column group expansion states when parent state…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10993 fix(ESF): Fixed cascading filtering
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 11.1.x

#10995 Fixed cascading Excel-style filtering
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 12.3.x

#10997 Fixed cascading ESF.
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 13.0.x

#10996 [igxPivot] Add empty dimension and values template.
  projects/igniteui-angular-i18n/src/i18n/BG/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/grid-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/data-operations/pivot-strategy.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  projects/igniteui-angular/src/lib/test-utils/pivot-grid-samples.spec.ts
Labels: status: pending-localization, :white_check_mark: status: verified, grid: pivot

#11018 fix(pivot): Fix issue with ExpressionChangedAfterItHasBeenChecked wh…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, grid: pivot

#10998 Fixed cascading ESF
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 13.1.x

#11010 fix(scroll): adding overflow check for inner scorlls #10949 - 13.0
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.ts
Labels: :white_check_mark: status: verified, grid: general, scroll, version: 13.0.x

#11032 fix(pivot): Add checks in case column dimensions change and previous …
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, grid: pivot

#11046 fix(igxPivotSelector): Show display name if one is set for values.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.component.ts
Labels: :white_check_mark: status: verified, grid: pivot

#11027 fix(input-group): broken layout in fluent theme
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_input-group.scss
Labels: :white_check_mark: status: verified, input-group, fluent-theme, version: 13.0.x

#11026 fix(input-group): broken layout in fluent theme
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_input-group.scss
Labels: :white_check_mark: status: verified, input-group, fluent-theme, version: 13.1.x

#11053 fix(migrations): fix hGrid errors in migration-23
  projects/igniteui-angular/migrations/update-13_1_0/index.ts
Labels: :white_check_mark: status: verified, migrations, version: 13.1.x

#11034 fix(pivot): Reflow when filter is added or toggled.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot

#11033 feat(themes): map igx grays to igc gray colors
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_mixins.scss
  projects/igniteui-angular/src/lib/core/styles/spec/_mixins.spec.scss
Labels: :x: status: awaiting-test, :sparkles: themes

#11006 chore(migrations): write migrations for 13.1.0
  projects/igniteui-angular/migrations/update-13_1_0/changes/theme-changes.json
Labels: :x: status: awaiting-test, migrations, version: 13.1.x

#11035 fix(pivot): Extract dataType, formatter and styles from enabled value…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
Labels: :white_check_mark: status: verified, grid: pivot

#11041 chore(*): Minor refactor. Move common code to util and re-use in sel…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
Labels: :white_check_mark: status: verified, grid: pivot

#11058 fix(igxPivot): Do just one detection cycle for all for-ofs.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  src/app/pivot-grid-hierarchy/pivot-grid-hierarchy.sample.html
Labels: :white_check_mark: status: verified, grid: pivot

#11045 fix(pivot): Ensure drop-down children are updated with the new collec…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
Labels: :white_check_mark: status: verified, grid: pivot

#11052 fix(pivot): Fix errors thrown when dragging chips or elements between pivot data selector and grid. Fix sample
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  src/app/pivot-grid/pivot-grid.sample.html
  src/app/pivot-grid/pivot-grid.sample.scss
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 13.1.x

#11019 fix(pivot): Reset columns after moving is done and collection is full…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, grid: pivot

#11069 Fixing migration logic master #11066
  projects/igniteui-angular/migrations/common/UpdateChanges.ts
  projects/igniteui-angular/migrations/update-13_1_0/changes/theme-changes.json
Labels: :white_check_mark: status: verified, migrations, version: 13.1.x

#11074 chore(schematics): update schematics
  projects/igniteui-angular/package.json
Labels: migrations, version: 13.1.x

#11063 Add expand inputs for Pivot Data Selector panels and various related fixes.
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.spec.ts
  projects/igniteui-angular/src/lib/test-utils/pivot-grid-samples.spec.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 13.1.x

#11068 Revert "feat(hgrid): allow to prevent exiting of edit mode when row is toggled through the UI"
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 13.1.x

#11059 Add dimension's sort event that can be used for remote sorting.
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
Labels: :white_check_mark: status: verified, grid: pivot

#11055 fix(pivot): Scroll just the parent container in case 'drop here' chip…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
Labels: :white_check_mark: status: verified, grid: pivot

#11072 Update pivot grid api docs.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
Labels: :book: documentation, grid: pivot

#11067 Makes filter value nullable when setting grid in data selector
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.spec.ts
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: pivot

#11080 Fix minor styling issue with list height in pivot selector.
  projects/igniteui-angular/src/lib/core/styles/components/grid/_pivot-data-selector-theme.scss
Labels: :white_check_mark: status: verified, grid: pivot

#11087 chore(*): Fix hidden property value.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, grid: pivot

#11088 style(data-selector): Remove the margin between panels
  projects/igniteui-angular/src/lib/core/styles/components/grid/_pivot-data-selector-theme.scss
Labels: :white_check_mark: status: verified

#11022 fix(grid): Add type to Cancel/Done buttons
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
Labels: :white_check_mark: status: verified, grid: row-editing

#11107 fix(lazy-icon-sample): httpClient-response-error
  src/app/icon/LazyModule/LazyComponent/lazyIcon.sample.ts
Labels: :framed_picture: icon, :x: status: awaiting-test, version: 13.1.x

#11110 chore(schematics): update with schematics rc.1
  projects/igniteui-angular/package.json
Labels: schematics, version: 13.1.x

#10871 feat(treegrid-esf): tree filter view
  CHANGELOG.md
  projects/igniteui-angular-i18n/src/i18n/BG/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/grid-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/data-operations/data-util.spec.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/data-operations/filtering-strategy.ts
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/base-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/common.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.module.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.filtering.strategy.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.grouping.pipe.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.module.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
  src/app/tree-grid-groupby/tree-grid-groupby.sample.html
  src/app/tree-grid-groupby/tree-grid-groupby.sample.ts
  src/app/tree-grid/tree-grid.sample.html
  src/app/tree-grid/tree-grid.sample.ts
Labels: :white_check_mark: status: verified, filtering, grid: excel-style-filtering, version: 13.1.x

#11102 feat(pivot): Set diffrerent default min/max size for excel style filt…
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
Labels: :white_check_mark: status: verified, grid: pivot

#11104 Checks whether filters is present when getting dim type
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, grid: pivot

#11091 fix(igxGrid): Prevent multiple size recalculations when grid is in sh…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: :white_check_mark: status: verified, grid: general, grid: pivot

#11094 chore(pivot): fix circular reference warning
  projects/igniteui-angular/src/lib/data-operations/pivot-sort-strategy.ts
  projects/igniteui-angular/src/lib/data-operations/pivot-strategy.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-sort-util.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  projects/igniteui-angular/src/public_api.ts
Labels: :white_check_mark: status: verified, grid: pivot

#11098 fix(grid): Add type to Cancel/Done buttons on 13.0.x version
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
Labels: :white_check_mark: status: verified, grid: row-editing
