Repository IgniteUI/igniteui-angular, pull requests merged in 2022-09, with the labels that each got.

#12026 fix(tabs): remove shadow property
  CHANGELOG.md
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-14_1_0/changes/theme-changes.json
  projects/igniteui-angular/migrations/update-14_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-14_1_0/index.ts
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
Labels: :white_check_mark: status: verified, tabs, :sparkles: themes, version: 14.1.x

#11954 refactor(slider): update fluent theme colors and focus styles
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_slider.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_slider.scss
  projects/igniteui-angular/src/lib/slider/slider.component.ts
  projects/igniteui-angular/src/lib/slider/thumb/thumb-slider.component.ts
Labels: :white_check_mark: status: verified, slider, fluent-theme, version: 14.1.x

#12033 FIX- when column groups are hidden the grid layout is broken --master
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: :white_check_mark: status: verified

#12030 fix(combo): adding localization for igxcombo - 13.2
  projects/igniteui-angular-i18n/src/i18n/BG/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/BG/resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/resources.ts
  projects/igniteui-angular-i18n/src/index.ts
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/core/i18n/combo-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/public_api.ts
Labels: :x: status: awaiting-test, status: localized, :symbols: i18n, combo, version: 13.2.x

#12029 fix(combo): adding localization for igxcombo - 14.0
  projects/igniteui-angular-i18n/src/i18n/BG/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/BG/resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/resources.ts
  projects/igniteui-angular-i18n/src/index.ts
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/core/i18n/combo-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/public_api.ts
Labels: :x: status: awaiting-test, status: localized, :symbols: i18n, combo, version: 14.0.x

#12028 fix(combo): adding localization for igxcombo - master
  projects/igniteui-angular-i18n/src/i18n/BG/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/BG/resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/resources.ts
  projects/igniteui-angular-i18n/src/index.ts
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/core/i18n/combo-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/public_api.ts
Labels: status: localized, :white_check_mark: status: verified, :symbols: i18n, combo, version: 14.1.x

#12049 refactor(grids): row,cell - move errors to validation object, add status
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-public-cell.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-validation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-validation.spec.ts
  projects/igniteui-angular/src/lib/grids/public_api.ts
  projects/igniteui-angular/src/lib/test-utils/grid-validation-samples.spec.ts
  src/app/grid-cellEditing/grid-cellEditing.component.ts
  src/app/grid-validation/grid-validation.sample.component.html
  src/app/grid-validation/grid-validation.sample.component.ts
Labels: :white_check_mark: status: verified, grid, version: 14.1.x

#12050 refactor(navbar): update icons and icon buttons
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_navbar.scss
  src/app/navbar/navbar.sample.html
Labels: :white_check_mark: status: verified, navbar, fluent-theme, :sparkles: themes, version: 14.0.x

#12037 Preserve selection on blur when having a match and a partial match
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 14.1.x

#12040 Preserve selection on blur when having a match and a partial match - 13.2
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 13.2.x

#12039 Preserve selection on blur when having a match and a partial match - 12.3
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, version: 12.3.x, simple-combo

#12065 fix(avatar): image background color
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
Labels: avatar, :white_check_mark: status: verified, :sparkles: themes, version: 14.1.x

#12070 fix(toolbar-hiding): properly emit columnToggle - 12.3.x
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.base.ts
Labels: :white_check_mark: status: verified, grid: toolbar-hiding, version: 12.3.x

#12069 fix(toolbar-hiding): properly emit columnToggle - 13.2.x
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.base.ts
Labels: :white_check_mark: status: verified, grid: toolbar-hiding, version: 13.2.x

#12075 fix(navbar): fix igx-icon selector to be direct child only
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
Labels: :white_check_mark: status: verified, button, navbar, bug, version: 14.1.x

#12054 refactor(calendar): update weekend days color
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_calendar.scss
Labels: :white_check_mark: status: verified, :calendar: calendar, :sparkles: themes, design: verified

#12067 fix(toolbar-hiding): properly emit columnToggle
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.base.ts
Labels: :white_check_mark: status: verified, grid: toolbar, version: 14.1.x

#12079 style(grid): position invalid icon on right
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: styling, :white_check_mark: status: verified, grid, version: 14.1.x

#12073 fix(igxGrid): Reuse grid outlet for error tooltip.
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
Labels: :white_check_mark: status: verified, grid: general, tooltip

#12059 chore(*): Fix issue with incorrect tree grid record data passed to ne…
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  src/app/grid-validation/grid-validation.sample.component.html
  src/app/grid-validation/grid-validation.sample.component.ts
Labels: :white_check_mark: status: verified, grid: tree-grid

#12083 chore(*): roadmap-update-16-sep-22
  ROADMAP.md
Labels: :book: documentation, version: 14.2.x

#12014 fix(combos): Add predefined selection to the input when the data is bound after the initialization - 12.3.x
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
Labels: :white_check_mark: status: verified, combo, squash-merge, version: 12.3.x, simple-combo

#12013 fix(combos): Add predefined selection to the input when the data is bound after the initialization - 13.2.x
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
Labels: :white_check_mark: status: verified, combo, simple-combo, version: 13.2.x

#12011 fix(combos): Add predefined selection to the input when the data is bound after the initialization
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
Labels: :white_check_mark: status: verified, combo, squash-merge, simple-combo, version: 14.1.x

#12051 chore(*): Add aria-describedby reference to error message element as …
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.html
  projects/igniteui-angular/src/lib/grids/summaries/summary-row.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.html
Labels: :white_check_mark: status: verified, grid: tree-grid, grid: hierarchical-grid, aria-support, grid

#12064 fix(igxPivot): Get selection from service so that it is consistent be…
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  projects/igniteui-angular/src/lib/grids/state.pivotgrid.spec.ts
Labels: :white_check_mark: status: verified, grid: state-persistence, grid: pivot

#12084 Add some more template guard types.
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid.rowEdit.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.directives.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
  projects/igniteui-angular/src/lib/grids/row-drag.directive.ts
Labels: :white_check_mark: status: verified

#12085 chore(toolbar): add ngTemplateContextGuard for the toolbar
  projects/igniteui-angular/src/lib/grids/toolbar/common.ts
Labels: :white_check_mark: status: verified

#12081 Add template context guards for some directives
  projects/igniteui-angular/src/lib/grids/columns/column-group.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/columns/templates.directive.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid.rowEdit.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.directives.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.directives.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
  projects/igniteui-angular/src/lib/grids/row-drag.directive.ts
  projects/igniteui-angular/src/lib/grids/selection/row-selectors.ts
Labels: :x: status: awaiting-test

#12120 fix(excel-exporter): export correct number of rows#12086
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: :white_check_mark: status: verified, excel-exporter, grid: multi-column-headers, version: 13.2.x

#12121 fix(excel-exporter): export correct number of rows#12086
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: :white_check_mark: status: verified, excel-exporter, grid: multi-column-headers, version: 14.1.x

#12124 fix(excel-exporter): export correct number of rows#12086
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: :white_check_mark: status: verified, excel-exporter, grid: multi-column-headers, version: 14.2.x

#12134 Add handling for column groups in elements grids.
  projects/igniteui-angular-elements/src/analyzer/elements.config.ts
  projects/igniteui-angular-elements/src/app/app.module.ts
  projects/igniteui-angular-elements/src/app/custom-strategy.ts
  projects/igniteui-angular-elements/src/index.html
  projects/igniteui-angular/src/lib/grids/columns/column-group.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: :x: status: awaiting-test

#12118 fix(igxGrid): Fix end edit with Enter when trigger is blur by moving …
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
Labels: :white_check_mark: status: verified, grid: general, version: 14.2.x

#12146 Accordion: add vertical overflow
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
Labels: :white_check_mark: status: verified, accordion, version: 14.2.x

#12144 fix(i18n): Updating Grid localization for all languages - 14.1.x
  projects/igniteui-angular-i18n/src/i18n/BG/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/grid-resources.ts
Labels: status: localized, localization, version: 14.1.x

#12145 fix(i18n): Updating Grid localization for all languages - master
  projects/igniteui-angular-i18n/src/i18n/BG/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/grid-resources.ts
Labels: status: localized, localization, version: 14.2.x

#12131 feat(drop-down-item): add aria-label setter
  CHANGELOG.md
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.base.ts
Labels: :white_check_mark: status: verified, dropdown, select, version: 14.2.x

#12149 fix(radio): focus nativeElement
  projects/igniteui-angular/src/lib/radio/radio.component.ts
Labels: radio-button, :white_check_mark: status: verified, version: 14.2.x

#12151 fix(radio): focus nativeElement
  projects/igniteui-angular/src/lib/radio/radio.component.ts
Labels: radio-button, :white_check_mark: status: verified, version: 14.1.x
