Repository IgniteUI/igniteui-angular, pull requests merged in 2022-11, with the labels that each got.

#12256 fix(query-builder): add time-picker margin
  projects/igniteui-angular/src/lib/core/styles/components/query-builder/_query-builder-theme.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, query-builder, version: 14.2.x

#12266 refactor(radio-group): remove deprecated properties
  projects/igniteui-angular/migrations/update-15_0_0/changes/inputs.json
  projects/igniteui-angular/migrations/update-15_0_0/index.spec.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
Labels: :white_check_mark: status: verified, radio-group, version: 15.0.x

#12260 fix(simple-combo): preserve selection on blur/tab when filtering the items - 12.3.x
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, version: 12.3.x, simple-combo

#12259 fix(simple-combo): preserve selection on blur/tab when filtering the items - 13.2.x
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 13.2.x

#12258 fix(simple-combo): preserve selection on blur/tab when filtering the items - 14.2.x
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 14.2.x

#12257 fix(simple-combo): preserve selection on blur/tab when filtering the items - master
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 15.0.x

#12203 themes(*): improve compatibility with WC
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/core/styles/base/_variables.scss
  projects/igniteui-angular/src/lib/core/styles/components/scrollbar/scrollbar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/scrollbar/scrollbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
  src/index.html
  src/styles/_variables.scss
Labels: npm, :white_check_mark: status: verified, dependencies, version: 15.0.x

#12271 fix(select): Fix oldSelection when the value is undefined on 13.2.x
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
Labels: :white_check_mark: status: verified, version: 13.2.x

#12273 fix(select): Fix oldSelection when the value is undefined on 14.2.x
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
Labels: :white_check_mark: status: verified, version: 14.2.x

#12250 style(paginator): Remove grid-row from paginator theme.
  projects/igniteui-angular/src/lib/core/styles/components/paginator/_paginator-theme.scss
Labels: :white_check_mark: status: verified, paginator, version: 15.0.x

#12272 fix(select): Fix oldSelection when the value is undefined on 12.3.x
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
Labels: :white_check_mark: status: verified, version: 12.3.x

#12284 feat(charts): use themes and typography from theming package
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/core/styles/components/_index.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_category-chart-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_data-chart-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_doughnut-chart-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_financial-chart-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_funnel-chart-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_gauge-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_geo-map-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_graph-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_index.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_pie-chart-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_shape-chart-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/charts/_sparkline-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_base.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_charts.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_index.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
Labels: :white_check_mark: status: verified, :abcd: typography, :bar_chart: charts, :sparkles: themes, version: 15.0.x

#12283 Create display text only if there is bound data 12.3x
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, version: 12.3.x, simple-combo

#12282 Create display text only if there is bound data 13.2x
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 13.2.x

#12281 Create display text only if there is bound data 14.2x
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 14.2.x

#12279 Create display text only if there is bound data
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 15.0.x

#12280 fix(advanced-filtering): commit changes on applying - 14.2.x
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
Labels: :white_check_mark: status: verified, grid: advanced-filtering, version: 14.2.x

#12277 fix(advanced-filtering): commit changes on applying
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
Labels: :white_check_mark: status: verified, grid: advanced-filtering, version: 15.0.x

#12292 chore(deps): update typedoc, typescript and plugin deps
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/combo/combo-add-item.component.ts
  projects/igniteui-angular/src/lib/combo/combo-item.component.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.component.ts
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/select/select-positioning-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/auto-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/base-fit-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/connected-positioning-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/container-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/elastic-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/global-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/scroll/NoOpScrollStrategy.ts
  projects/igniteui-angular/src/lib/services/overlay/scroll/absolute-scroll-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/scroll/block-scroll-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/scroll/close-scroll-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/scroll/scroll-strategy.ts
  projects/igniteui-angular/src/lib/services/transaction/base-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-transaction.ts
  src/app/pivot-grid-state/pivot-grid-state.sample.ts
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: :book: documentation, :boom: status: in-test, typedoc, version: 15.0.x

#12264 Show count of hidden columns when editing a row
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: :white_check_mark: status: verified, grid: row-editing, version: 15.0.x

#12234 Show number of defined columns as rowChangesCount for new row with batch editing
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-add-row.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, grid: row-adding, version: 15.0.x

#12293 fix(scrollbar): thumb not visible in dark bootstrap theme
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_scrollbar.scss
Labels: :x: status: awaiting-test, bootstrap-theme, scrollbar, :sparkles: themes, design: verified, version: 15.0.x

#12297 fix(scrollbar): thumb not visible in dark bootstrap theme
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_scrollbar.scss
Labels: :x: status: awaiting-test, bootstrap-theme, scrollbar, :sparkles: themes, version: 14.2.x

#12207 feat(calendar): multi/range selection with shift click
  CHANGELOG.md
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
  projects/igniteui-angular/src/lib/calendar/calendar-multi-view.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
Labels: :white_check_mark: status: verified, :calendar: calendar, version: 15.0.x

#12167 Fix dynamic column-group child column
  projects/igniteui-angular/src/lib/grids/columns/column-group.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-mch-sample.spec.ts
Labels: :white_check_mark: status: verified, grid: multi-column-headers, grid: collapsible-column-groups, version: 15.0.x

#12317 Fix error when deleting a pinned row - 12.3
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.ts
Labels: :x: status: awaiting-test, grid: tree-grid, grid: row-pinning, action-strip, version: 12.3.x

#12314 Fix error when deleting a pinned row - 14.2
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.ts
Labels: :white_check_mark: status: verified, grid: tree-grid, grid: row-pinning, action-strip, version: 14.2.x

#12323 chore(*): roadmap-update-16-nov-2022
  ROADMAP.md
Labels: :book: documentation, version: 15.0.x

#12308 fix(grid): filtering row buttons outline problem
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.html
Labels: :white_check_mark: status: verified, button, bootstrap-theme, :sparkles: themes, grid, design: awaiting-validation, version: 15.0.x

#12228 chore(*): updating to angular 15
  .browserslistrc
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  projects/igniteui-angular/migrations/update-10_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-10_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-11_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-11_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-12_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-12_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-13_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-13_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-13_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-14_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-15_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-6/index.spec.ts
  projects/igniteui-angular/migrations/update-6_01/index.spec.ts
  projects/igniteui-angular/migrations/update-6_02/index.spec.ts
  projects/igniteui-angular/migrations/update-6_1/index.spec.ts
  projects/igniteui-angular/migrations/update-6_2/index.spec.ts
  projects/igniteui-angular/migrations/update-6_2_1/index.spec.ts
  projects/igniteui-angular/migrations/update-7_0_2/index.spec.ts
  projects/igniteui-angular/migrations/update-7_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-7_3_4/index.spec.ts
  projects/igniteui-angular/migrations/update-8_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-8_2_3/index.spec.ts
  projects/igniteui-angular/migrations/update-8_2_6/index.spec.ts
  projects/igniteui-angular/migrations/update-9_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-9_0_1/index.spec.ts
  projects/igniteui-angular/migrations/update-9_1_0/index.spec.ts
  projects/igniteui-angular/package.json
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.spec.ts
  projects/igniteui-angular/src/lib/radio/radio.component.spec.ts
  projects/igniteui-angular/src/lib/switch/switch.component.spec.ts
  projects/igniteui-angular/src/test.ts
  projects/igniteui-angular/tsconfig.lib.json
  projects/igniteui-angular/tsconfig.spec.json
  src/app/routing.ts
  src/test.ts
  tsconfig.json
Labels: triage: blocking, dependencies, version: 15.0.x

#12275 chore(grid): expose interfaces for the context of template guards
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/public_api.ts
Labels: :white_check_mark: status: verified, triage: blocking, version: 15.0.x

#12027 Export Grid with summaries
  CHANGELOG.md
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/excel-strings.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data.ts
  projects/igniteui-angular/src/lib/services/excel/zip-helper.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/services/exporter-common/exporter-options-base.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-components.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
  projects/igniteui-angular/src/lib/test-utils/template-strings.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/grid-export/grid-export.sample.html
  src/app/grid-export/grid-export.sample.ts
  src/app/grid-export/gridData.ts
  src/app/grid-export/hGridData.ts
  src/app/grid-export/tGridData.ts
  src/app/routing.ts
  src/main.ts
Labels: :white_check_mark: status: verified, grid: summaries, excel-exporter, triage: blocking, version: 15.0.x

#12338 refactor(themes): replace em with rem
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, design: verified, version: 15.0.x

#12332 test(*): trying more stabilizations
  .github/workflows/nodejs.yml
  .github/workflows/npm-publish.yml
  azure-pipelines.yml
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
Labels: :test_tube: ci: tests, squash-merge, :x: do not merge

#12326 fix(grid): filtering row buttons outline problem
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.html
Labels: :white_check_mark: status: verified, button, bootstrap-theme, :sparkles: themes, grid, version: 14.2.x

#12230 refactor(grid-toolbar): convert title and actions directives to components
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-15_0_0/changes/classes.json
  projects/igniteui-angular/migrations/update-15_0_0/index.spec.ts
  projects/igniteui-angular/src/lib/grids/toolbar/common.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.component.ts
  projects/igniteui-angular/src/lib/grids/toolbar/toolbar.module.ts
Labels: triage: blocking, grid: toolbar, breaking-change, version: 15.0.x

#12253 Grids - drop condition for hiding paginator
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/grid/column-hiding.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
Labels: grid: general, triage: blocking, grid: paging, grid, version: 15.0.x

#12346 chore(*): updating @angular-eslint and npm ci
  .github/workflows/nodejs.yml
  angular.json
  azure-pipelines.yml
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
Labels: :test_tube: ci: tests, ci: azure-pipelines, ci: github-actions, version: 15.0.x

#12094 feat(igx-grid): add isSelectedAllClicked to rowSelectionChanging event
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  src/app/grid-remote-paging/grid-remote-paging.sample.html
  src/app/grid-remote-paging/grid-remote-paging.sample.ts
  src/app/grid-remote-virtualization-with-scroll/grid-remote-virtualization-scroll.sample.html
  src/app/grid-remote-virtualization-with-scroll/grid-remote-virtualization-scroll.sample.ts
Labels: grid: selection, grid

#12327 fix(grid): filtering row buttons outline problem
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.html
Labels: :white_check_mark: status: verified, button, bootstrap-theme, :sparkles: themes, version: 13.2.x, grid

#12306 test(checkbox): revert checkbox tests
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/radio/radio.component.spec.ts
  projects/igniteui-angular/src/lib/switch/switch.component.spec.ts
  src/app/input/input.sample.html
Labels: :test_tube: ci: tests, checkbox, squash-merge, version: 15.0.x

#12290 fix(action-strip): Hide action strip on mouse leave event of row 14.2.x
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.spec.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
Labels: :white_check_mark: status: verified, action-strip, grid, version: 14.2.x

#12311 Fix error when deleting a pinned row
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.ts
Labels: :white_check_mark: status: verified, grid: tree-grid, grid: row-pinning, action-strip, version: 15.0.x

#12340 Autocomplete Japanese input support for Chrome on Mac - 13.2
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
Labels: :white_check_mark: status: verified, autocomplete, version: 13.2.x

#12341 Autocomplete Japanese input support for Chrome on Mac - 12.3
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
Labels: :white_check_mark: status: verified, autocomplete, version: 12.3.x

#12339 Autocomplete Japanese input support for Chrome on Mac - 14.2
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
Labels: :white_check_mark: status: verified, autocomplete, version: 14.2.x

#12328 Autocomplete Japanese input support for Chrome on Mac
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.ts
Labels: :white_check_mark: status: verified, autocomplete, version: 15.0.x

#12204 fix(action-strip): Hide action strip on mouse leave event of row
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.spec.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
Labels: :white_check_mark: status: verified, action-strip, grid, version: 15.0.x

#12291 fix(action-strip): Hide action strip on mouse leave event of row 13.2.x
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.spec.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
Labels: :white_check_mark: status: verified, action-strip, version: 13.2.x, grid

#12333 build(sassdoc): merge theming and local sass
  gulpfile.js
  package-lock.json
  package.json
Labels: sassdoc, version: 15.0.x

#12303 Deleting items with the igxMask works as expected - 14.2
  projects/igniteui-angular/src/lib/directives/mask/mask-parsing.service.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.ts
Labels: :white_check_mark: status: verified, mask-editor, version: 14.2.x

#12304 Deleting items with the igxMask works as expected - 13.2
  projects/igniteui-angular/src/lib/directives/mask/mask-parsing.service.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.ts
Labels: :white_check_mark: status: verified, mask-editor, version: 13.2.x

#12305 Deleting items with the igxMask works as expected - 12.3
  projects/igniteui-angular/src/lib/directives/mask/mask-parsing.service.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.ts
Labels: :white_check_mark: status: verified, mask-editor, version: 12.3.x

#12302 Deleting items with the igxMask works as expected
  projects/igniteui-angular/src/lib/directives/mask/mask-parsing.service.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.ts
Labels: :white_check_mark: status: verified, mask-editor, version: 15.0.x

#12353 chore(*): updating dependencies
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/state.hierarchicalgrid.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
Labels: dependencies, version: 15.0.x

#12363 chore(schematics): adapt schematics to 15.0.0 updates
  projects/igniteui-angular/package.json
  projects/igniteui-angular/schematics/ng-add/add-normalize.ts
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
Labels: schematics, version: 15.0.x

#12345 chore(schematics): update official schematics
  projects/igniteui-angular/package.json
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
Labels: :white_check_mark: status: verified, triage: blocking, schematics, version: 15.0.x

#12350 fix(simple-combo): Toggle combo on templated icon click - 14.2.x
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 14.2.x

#12351 fix(simple-combo): Toggle combo on templated icon click - 13.2.x
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 13.2.x

#12359 fix(igxGrid): Include scale in calculations for column autosize api.
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  src/app/grid-column-resizing/grid-column-resizing.sample.css
  src/app/grid-column-resizing/grid-column-resizing.sample.html
  src/app/grid-column-resizing/grid-column-resizing.sample.ts
Labels: :white_check_mark: status: verified, grid: resizing, version: 14.2.x

#12360 fix(igxGrid): Include scale in calculations for column autosize api.
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  src/app/grid-column-resizing/grid-column-resizing.sample.css
  src/app/grid-column-resizing/grid-column-resizing.sample.html
  src/app/grid-column-resizing/grid-column-resizing.sample.ts
Labels: :white_check_mark: status: verified, grid: resizing, version: 15.0.x

#12362 fix(igxGrid): Include scale in calculations for column autosize api.
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  src/app/grid-column-resizing/grid-column-resizing.sample.css
  src/app/grid-column-resizing/grid-column-resizing.sample.html
  src/app/grid-column-resizing/grid-column-resizing.sample.ts
Labels: :white_check_mark: status: verified, grid: resizing, version: 13.2.x

#12352 Round top and bot differences when inside a child grid when a page is…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
Labels: :white_check_mark: status: verified, keyboard-navigation, version: 15.0.x

#12354 Round top and bot differences when inside a child grid when a page is…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
Labels: :white_check_mark: status: verified, keyboard-navigation, version: 14.2.x

#12330 [igxPivot] Add aggregatorName property to values.
  CHANGELOG.md
  projects/igniteui-angular-i18n/src/i18n/BG/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/grid-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-aggregate.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  src/app/pivot-grid/pivot-grid.sample.ts
Labels: status: pending-localization, :white_check_mark: status: verified, grid: pivot

#12369 fix(igxHierarchicalGrid): Fix issue when dynamically adding row islan…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 15.0.x

#12370 fix(igxHierarchicalGrid): Fix issue when dynamically adding row islan…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.html
  src/app/hierarchical-grid/hierarchical-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 14.2.x

#12365 fix(igxForOf): Do not set scrollbar size in case container size is st…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: :white_check_mark: status: verified, virtualization, version: 14.2.x

#12355 fix(simple-combo): Toggle combo on templated icon click
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 15.0.x

#12364 fix(igxForOf): Do not set scrollbar size in case container size is st…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: :white_check_mark: status: verified, virtualization, version: 15.0.x

#12374 fix(igxForOf): Do not update sizes and states while container is deta…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  src/app/tabs/tabs.sample.html
  src/app/tabs/tabs.sample.ts
Labels: :white_check_mark: status: verified, virtualization, version: 14.2.x

#12375 fix(igxForOf): Do not update sizes and states while container is deta…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  src/app/tabs/tabs.sample.html
  src/app/tabs/tabs.sample.ts
Labels: :white_check_mark: status: verified, virtualization, version: 15.0.x

#12324 fix(igxGrid): Re-calculate column auto-sizes on data change.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  src/app/grid-auto-size/grid-auto-size.sample.ts
  src/app/grid-finjs/grid-finjs.component.html
Labels: :white_check_mark: status: verified, grid

#12395 chore(*): updating angular-eslint
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.spec.ts
Labels: dependencies, version: 15.0.x
