Repository IgniteUI/igniteui-angular, pull requests merged in 2023-04, with the labels that each got.

#12836 fix(filtering): set correct expected result for selected unary condition test - 14.2.x
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :x: status: awaiting-test, grid: filter-ui, version: 14.2.x

#12835 fix(filtering-ui): set correct expected result for selected unary condition test - 15.1.x
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :x: status: awaiting-test, grid: filter-ui, version: 15.1.x

#12840 Remove selectionService from Grid Column Sample on 15.1.x
  src/app/grid-column-moving/grid-column-moving.sample.html
Labels: :x: status: awaiting-test, version: 15.1.x

#12838 Remove selectionService from Grid Column Sample
  src/app/grid-column-moving/grid-column-moving.sample.html
Labels: :x: status: awaiting-test

#12855 Generate child igx-hierarchical-grids dynamically.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/child-grid-row.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 16.0.x

#12864 Update expression tree after new group is added - 14.2.x
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.ts
Labels: :white_check_mark: status: verified, query-builder, version: 14.2.x

#12863 Update expr tree after new group is added - 15.1.x
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.ts
Labels: :white_check_mark: status: verified, query-builder, version: 15.1.x

#12877 chore(*): update-schems-link
  projects/igniteui-angular/src/lib/core/styles/README.md
Labels: :book: documentation, :white_check_mark: status: verified, version: 15.1.x

#12841 fix(chip): add and use destroy subject - 14.2.x
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/chips-area.component.ts
Labels: :white_check_mark: status: verified, grid: filter-ui, chip, grid: performance, version: 14.2.x

#12839 fix(chip): add and use destroy subject - 15.1.x
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/chips-area.component.ts
Labels: :white_check_mark: status: verified, grid: filter-ui, chip, grid: performance, version: 15.1.x

#12886 fix(grid): count badge doesn't respect colors
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, grid, version: 15.1.x

#12860 refactor(grids): Remove ComponentFactory and ComponentFactoryResolver
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: :white_check_mark: status: verified, squash-merge, grid: hierarchical-grid, grid: pivot, grid, version: 15.1.x

#12843 15.1.x to master mass merge
  CHANGELOG.md
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/chips-area.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.ts
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
Labels: :x: do not merge

#12881 fix(input-group): add type for upload file button - 14.2.x
  projects/igniteui-angular/src/lib/input-group/input-group.component.html
  projects/igniteui-angular/src/lib/input-group/input-group.component.spec.ts
Labels: :white_check_mark: status: verified, input-group, version: 14.2.x

#12880 fix(input-group): add type for upload file button - 15.1.x
  projects/igniteui-angular/src/lib/input-group/input-group.component.html
  projects/igniteui-angular/src/lib/input-group/input-group.component.spec.ts
Labels: :white_check_mark: status: verified, input-group, version: 15.1.x

#12814 refactor(hgrid): Use columns collection to determine if it should recalculate grid sizes.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: :white_check_mark: status: verified, squash-merge, grid: hierarchical-grid, :diamond_shape_with_a_dot_inside: grid: elements

#12783 refactor(pivot-data-selector): allow init without initially set grid
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.spec.ts
Labels: refactoring, squash-merge, grid: pivot, :diamond_shape_with_a_dot_inside: grid: elements, version: 15.1.x

#12867 export improvements for dateTime, time and percent cols
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/excel-strings.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/excel/zip-helper.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
  projects/igniteui-angular/src/lib/test-utils/template-strings.spec.ts
  src/app/grid-export/grid-export.sample.html
  src/app/grid-export/grid-export.sample.ts
  src/app/grid-export/gridData.ts
Labels: :white_check_mark: status: verified, excel-exporter, version: 15.1.x

#12870 fix(groupby): adding proper comparison function to determine expansion state 14.2
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/data-operations/operations.ts
  projects/igniteui-angular/src/lib/grids/common/strategy.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: :white_check_mark: status: verified, grid: groupby, version: 14.2.x

#12869 fix(groupby): adding proper comparison function to determine expansion state 15.1
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/data-operations/operations.ts
  projects/igniteui-angular/src/lib/grids/common/strategy.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: :white_check_mark: status: verified, grid: groupby, version: 15.1.x

#12921 fix(toolbar): showProgress doesn't show progressbar
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  src/app/grid-export/grid-export.sample.scss
Labels: :white_check_mark: status: verified, grid: toolbar, version: 15.1.x

#12927 Update IgxDateRangePicker's directives' comments - 14.2.x
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker-inputs.common.ts
Labels: typedoc, date-range-picker, version: 14.2.x

#12926 Update IgxDateRangePicker's directives' comments - 15.1.x
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker-inputs.common.ts
Labels: typedoc, date-range-picker, version: 15.1.x

#12911 fix(banner): Making the banner localizable #12891
  projects/igniteui-angular-i18n/src/i18n/BG/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/BG/resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/resources.ts
  projects/igniteui-angular-i18n/src/index.ts
  projects/igniteui-angular/src/lib/banner/banner.component.html
  projects/igniteui-angular/src/lib/banner/banner.component.ts
  projects/igniteui-angular/src/lib/core/i18n/banner-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
  projects/igniteui-angular/src/public_api.ts
Labels: status: localized, :white_check_mark: status: verified, banner, version: 14.2.x

#12910 fix(banner): Making the banner localizable #12891
  projects/igniteui-angular-i18n/src/i18n/BG/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/BG/resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/banner-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/resources.ts
  projects/igniteui-angular-i18n/src/index.ts
  projects/igniteui-angular/src/lib/banner/banner.component.html
  projects/igniteui-angular/src/lib/banner/banner.component.ts
  projects/igniteui-angular/src/lib/core/i18n/banner-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/resources.ts
  projects/igniteui-angular/src/public_api.ts
Labels: status: localized, :white_check_mark: status: verified, banner, version: 15.1.x

#12906 fix(IgxInputDirective): Calculate required value when input is bound via formControl
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
Labels: :white_check_mark: status: verified, input-group, version: 15.1.x

#12932 Update combo directives' public api - 14.2.x
  projects/igniteui-angular/src/lib/combo/combo.directives.ts
Labels: :book: documentation, combo, typedoc, version: 14.2.x

#12931 Update combo directives' public api - 15.1.x
  projects/igniteui-angular/src/lib/combo/combo.directives.ts
Labels: :book: documentation, combo, typedoc, version: 15.1.x

#12909 fix(IgxInputDirective): Calculate required value when input is bound via formControl
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
Labels: :white_check_mark: status: verified, input-group, version: 14.2.x

#12937 fix(input-group): Remove the string from the clear icon.
  projects/igniteui-angular/src/lib/input-group/input-group.component.html
Labels: :white_check_mark: status: verified, input-group, version: 14.2.x

#12934 Export IgxInputGroupModule in the IgxDatePickerModule - 14.2.x
  projects/igniteui-angular/src/lib/date-picker/date-picker.module.ts
Labels: :white_check_mark: status: verified, :date: date-picker, version: 14.2.x

#12929 Fix(stepper): Calculate disabled steps when linear mode is set initially
  projects/igniteui-angular/src/lib/stepper/stepper.component.spec.ts
  projects/igniteui-angular/src/lib/stepper/stepper.component.ts
Labels: :white_check_mark: status: verified, squash-merge, stepper, version: 15.1.x

#12930 Fix(stepper): Calculate disabled steps when linear mode is set initially
  projects/igniteui-angular/src/lib/stepper/stepper.component.spec.ts
  projects/igniteui-angular/src/lib/stepper/stepper.component.ts
Labels: :white_check_mark: status: verified, squash-merge, stepper, version: 14.2.x

#12907 refactor(grids): convert groupsRecords to getter, remove filteredData setter
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: :book: documentation, grid: general, refactoring, squash-merge, grid

#12939 chore(iput-group): Remove the unsed igx_input_clear_button string #12882
  projects/igniteui-angular-i18n/src/i18n/BG/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/input-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/input-resources.ts
Labels: :x: status: awaiting-test, input-group, version: 14.2.x

#12938 chore(iput-group): Remove the unsed igx_input_clear_button string #12882
  projects/igniteui-angular-i18n/src/i18n/BG/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/input-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/input-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/input-resources.ts
Labels: input-group, version: 15.1.x

#12403 feat(DateRangePicker): Add showWeekNumbers
  projects/igniteui-angular/src/lib/date-range-picker/README.md
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
Labels: :white_check_mark: status: verified, :calendar: calendar, date-range-picker, version: 15.1.x

#12943 Add entry for range-picker's showWeekNumbers
  CHANGELOG.md
Labels: :book: documentation, date-range-picker, version: 16.0.x

#12902 fix(stepper): make the stepper stretch to its parent size.
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
Labels: :white_check_mark: status: verified, stepper, version: 15.1.x

#12923 fix(dropdown,select): owner in selectionChanging event args
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
Labels: :white_check_mark: status: verified, dropdown, squash-merge, select, version: 14.2.x

#12920 fix(dropdown,select): owner in selectionChanging event args
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
Labels: :white_check_mark: status: verified, dropdown, squash-merge, select, version: 15.1.x

#12901 fix(stepper): make the stepper stretch to its parent size.
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
Labels: :white_check_mark: status: verified, stepper, version: 14.2.x

#12946 fix(combo): trim selected text - 14.2 #12782
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
Labels: :white_check_mark: status: verified, combo, simple-combo, version: 14.2.x

#12791 fix(combo): trim selected text #12782
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  src/app/combo/combo.sample.ts
Labels: :white_check_mark: status: verified, combo, simple-combo, version: 15.1.x
