Repository IgniteUI/igniteui-angular, pull requests merged in 2023-07, with the labels that each got.

#13059 fix(editors): update validity state sequence - 15.1.x
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: input, :white_check_mark: status: verified, :date: date-picker, time-picker, combo, select, date-range-picker, simple-combo, version: 15.1.x

#13058 fix(editors): update validity state sequence - 14.2.x
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: input, :white_check_mark: status: verified, :date: date-picker, time-picker, combo, select, date-range-picker, simple-combo, version: 14.2.x

#13060 fix(editors): update validity state sequence - 16.0.x
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: input, :white_check_mark: status: verified, :date: date-picker, time-picker, combo, select, date-range-picker, simple-combo, version: 16.0.x

#13194 fix(button-group): border radius not working correctly.
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
Labels: :white_check_mark: status: verified, button-group, version: 16.0.x

#13195 fix(button-group): border radius not working correctly.
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
Labels: :white_check_mark: status: verified, button-group, version: 15.1.x

#13196 fix(button-group): border radius not working correctly.
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
Labels: :white_check_mark: status: verified, button-group, version: 14.2.x

#13137 fix(igxGrid): Fix issue with groupby UI not updating on column/column…
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grouping/group-by-area.component.html
  projects/igniteui-angular/src/lib/grids/grouping/group-by-area.directive.ts
Labels: :white_check_mark: status: verified, grid: groupby, version: 14.2.x

#13189 fix(input-group): jumping input inside grid filtering row.
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :white_check_mark: status: verified, input-group, version: 16.0.x

#13190 feat(forOf): Add data types for igxForOf and igxGridForOf.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.sync.service.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/moving/moving.drop.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/summaries/summary-row.component.ts
Labels: :white_check_mark: status: verified, virtualization, version: 16.0.x

#13198 fix(igxForOf): Fix issue with active element blur when inside shadow …
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: :white_check_mark: status: verified, virtualization, version: 16.0.x

#13203 Fix flickering test in simple combo
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
Labels: :test_tube: ci: tests, simple-combo, version: 16.0.x

#13199 fix(igxForOf): Fix issue with active element blur when inside shadow …
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: :white_check_mark: status: verified, virtualization, version: 15.1.x

#13200 fix(igxForOf): Fix issue with active element blur when inside shadow …
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: :white_check_mark: status: verified, virtualization, version: 14.2.x

#13193 fix(grid): Non-destructive datetime sort operation
  projects/igniteui-angular/src/lib/grids/common/strategy.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
Labels: :white_check_mark: status: verified, grid: sorting, version: 16.0.x

#13192 fix(grid): Non-destructive datetime sort operation
  projects/igniteui-angular/src/lib/grids/common/strategy.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
Labels: :white_check_mark: status: verified, grid: sorting, version: 15.1.x

#13191 fix(grid): Non-destructive datetime sort operation
  projects/igniteui-angular/src/lib/grids/common/strategy.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
Labels: :white_check_mark: status: verified, grid: sorting, version: 14.2.x

#13098 fix(drag): Fix ghost positioning when host is applied and window is s…
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  src/app/drag-drop/drag-drop.sample.html
  src/app/drag-drop/drag-drop.sample.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 14.2.x

#13099 fix(drag): Fix ghost positioning when host is applied and window is scrolled.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  src/app/drag-drop/drag-drop.sample.html
  src/app/drag-drop/drag-drop.sample.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 15.1.x

#13100 fix(drag): Fix ghost positioning when host is applied and window is scrolled.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  src/app/drag-drop/drag-drop.sample.html
  src/app/drag-drop/drag-drop.sample.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 16.0.x

#13209 fix(input-group): fluent theme textarea styling in safari.
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :white_check_mark: status: verified, input-group, version: 16.0.x

#13057 Rename igxStepSubTitle to igxStepSubtitle and update directives public api
  CHANGELOG.md
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-16_1_0/changes/classes.json
  projects/igniteui-angular/migrations/update-16_1_0/changes/selectors.json
  projects/igniteui-angular/migrations/update-16_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-16_1_0/index.ts
  projects/igniteui-angular/src/lib/stepper/public_api.ts
  projects/igniteui-angular/src/lib/stepper/step/step.component.html
  projects/igniteui-angular/src/lib/stepper/stepper.component.spec.ts
  projects/igniteui-angular/src/lib/stepper/stepper.directive.ts
  src/app/stepper/stepper.sample.html
  src/app/stepper/stepper.sample.ts
Labels: :white_check_mark: status: verified, stepper, version: 16.1.x

#13216 fix(grid,kb-nav): prevent error on arrow key in filter UI row - 14.2.x
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, grid: filter-ui, keyboard-navigation, grid, version: 14.2.x

#13214 fix(grid,kb-nav): prevent error on arrow key in filter UI row - 15.1.x
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, grid: filter-ui, keyboard-navigation, grid, version: 15.1.x

#13164 fix(grid,kb-nav): prevent error on arrow key in filter UI row
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, grid: filter-ui, keyboard-navigation, squash-merge, grid, version: 16.0.x

#12857 fix(chip): Fix nested IgxDragHandles causing parent IgxDrag elements to move.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.spec.ts
  src/app/drag-drop/drag-drop.sample.css
  src/app/drag-drop/drag-drop.sample.html
  src/app/drag-drop/drag-drop.sample.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 14.2.x

#12858 fix(chip): Fix nested IgxDragHandles causing parent IgxDrag elements to move.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.spec.ts
  src/app/drag-drop/drag-drop.sample.html
  src/app/drag-drop/drag-drop.sample.scss
  src/app/drag-drop/drag-drop.sample.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 15.1.x

#12965 fix(chip): Fix nested IgxDragHandles causing parent IgxDrag elements to move.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.spec.ts
  src/app/drag-drop/drag-drop.sample.html
  src/app/drag-drop/drag-drop.sample.scss
  src/app/drag-drop/drag-drop.sample.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 16.0.x

#13222 feat(igxForOf): Add support for template referencing of bound data.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: :white_check_mark: status: verified, virtualization, version: 16.0.x

#13183 fix(button-group): boolean variable to check if there is initial selected button
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
Labels: :white_check_mark: status: verified, button-group, version: 16.0.x

#13227 fix(themes): date-range picker doesn't get theme
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  src/app/date-range/date-range.sample.ts
Labels: :x: status: awaiting-test, input-group, :date: date-range-picker, :sparkles: themes, version: 16.0.x

#13229 fix(button-group): firing the selected event only on user interaction
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
Labels: :white_check_mark: status: verified, button-group, version: 15.1.x

#13230 fix(button-group): firing the selected event only on user interaction
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
Labels: :white_check_mark: status: verified, button-group, version: 14.2.x

#12740 fix(resizing): Set resize cursor initially and not on mouse hover, for not all columns get the inline style on width auto.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/resizing/resize-handle.directive.ts
  projects/igniteui-angular/src/lib/grids/resizing/resizing.service.ts
Labels: :white_check_mark: status: verified, grid: column-resizing, version: 14.2.x

#12964 fix(resizing): Set resize cursor initially and not on mouse hover, for not all columns get the inline style on width auto.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/resizing/resize-handle.directive.ts
  projects/igniteui-angular/src/lib/grids/resizing/resizing.service.ts
Labels: :white_check_mark: status: verified, grid: column-resizing, version: 16.0.x

#13237 fix(resizing): Set resize cursor initially and not on mouse hover, for not all columns get the inline style on width auto.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/resizing/resize-handle.directive.ts
  projects/igniteui-angular/src/lib/grids/resizing/resizing.service.ts
Labels: :white_check_mark: status: verified, grid: column-resizing, version: 16.1.x

#13215 fix(combo): add selected items to the input when data is loaded - 16.0.x
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, combo, version: 16.0.x

#13217 fix(combo): add selected items to the input when data is loaded - 15.1.x
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, combo, version: 15.1.x

#13235 fix(combo): add selected items to the input when data is loaded - master
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, combo, version: 16.1.x

#13247 fix(radio): unexpected margin when the radio buttons wrap on a second line
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
Labels: :white_check_mark: status: verified, radio-group, version: 15.1.x

#13246 fix(radio): unexpected margin when the radio buttons wrap on a second line
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
Labels: :white_check_mark: status: verified, radio-group, version: 16.0.x

#13248 fix(radio): unexpected margin when the radio buttons wrap on a second line
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
Labels: :white_check_mark: status: verified, radio-group, version: 16.1.x

#12966 enhancement(moving): Move pointerDown and pointerMove logic to avoid needing additional custom attributes.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-moving.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/moving/moving.drag.directive.ts
  projects/igniteui-angular/src/lib/grids/moving/moving.drop.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header-group.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  src/app/grid-column-groups/grid-column-groups.sample.html
  src/app/grid-column-moving/grid-column-moving.sample.html
Labels: :white_check_mark: status: verified, grid: column-moving, drag-drop, version: 16.1.x

#13257 fix(button-group): fix nth-child() usage.
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
Labels: :white_check_mark: status: verified, button-group, version: 15.1.x

#13259 fix(button-group): fix nth-child() usage.
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
Labels: :white_check_mark: status: verified, button-group, version: 16.1.x

#13258 fix(button-group): fix nth-child() usage.
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
Labels: :white_check_mark: status: verified, button-group, version: 16.0.x

#13261 fix(radio-group): wrong dirty state
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
Labels: :white_check_mark: status: verified, radio-group, version: 16.1.x

#13264 fix(radio-group): wrong dirty state
  projects/igniteui-angular/src/lib/radio/radio.component.ts
Labels: :white_check_mark: status: verified, radio-group, version: 15.1.x

#13263 fix(radio-group): wrong dirty state
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
Labels: :white_check_mark: status: verified, radio-group, version: 16.0.x

#13223 fix(input-group): fluent textarea jumping on focus
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :white_check_mark: status: verified, input-group, fluent-theme, version: 16.0.x

#13271 fix(pivot-selector): cropped box shadow of bootstrap input
  projects/igniteui-angular/src/lib/core/styles/components/grid/_pivot-data-selector-theme.scss
Labels: styling, :white_check_mark: status: verified, bootstrap-theme, grid: pivot, version: 16.0.x

#13231 fix(themes): generators set roundness to 1
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_indigo.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 15.1.x

#13245 fix(themes): icon sizing discrepancies
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_pivot-data-selector-theme.scss
Labels: styling, :white_check_mark: status: verified, :sparkles: themes, version: 16.1.x

#13276 fix(radio-group): FormControl disabled doesn't work
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
Labels: :white_check_mark: status: verified, radio-group, version: 16.0.x

#13256 Select: Adding support for items suffix and prefix
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/select/select-item.component.html
  projects/igniteui-angular/src/lib/select/select-item.component.ts
  src/app/drop-down/drop-down.sample.html
  src/app/drop-down/drop-down.sample.ts
  src/app/select/select.sample.html
Labels: :white_check_mark: status: verified, dropdown, select, version: 16.1.x

#13272 fix(pivot-selector): cropped box shadow of bootstrap input
  projects/igniteui-angular/src/lib/core/styles/components/grid/_pivot-data-selector-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_pivot-data-selector.scss
Labels: styling, :white_check_mark: status: verified, bootstrap-theme, grid: pivot, version: 15.1.x

#13275 fix(radio-group): FormControl disabled doesn't work
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
Labels: :white_check_mark: status: verified, radio-group, version: 16.1.x

#13278 fix(button-group): deselected event fired on programmatic deselection
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
Labels: :white_check_mark: status: verified, button-group, version: 16.1.x

#13280 fix(button-group): deselected event fired on programmatic deselection
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
Labels: :white_check_mark: status: verified, button-group, version: 15.1.x

#13285 fix(themes): icon sizing discrepancies
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_pivot-data-selector-theme.scss
Labels: styling, :white_check_mark: status: verified, :sparkles: themes, version: 16.0.x

#13284 feat(badge): support material icons extended
  CHANGELOG.md
  projects/igniteui-angular/src/lib/badge/badge.component.html
  projects/igniteui-angular/src/lib/badge/badge.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  src/app/badge/badge.sample.html
  src/app/badge/badge.sample.scss
  src/app/badge/badge.sample.ts
Labels: badge, :white_check_mark: status: verified, version: 16.1.x

#13071 feat(combo): Exported filter strategy for non-diacritic filter
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.pipes.ts
  projects/igniteui-angular/src/lib/combo/public_api.ts
Labels: :white_check_mark: status: verified, combo, squash-merge, simple-combo, version: 16.0.x

#13294 fix(avatar, badge): shape not working
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  src/app/avatar/avatar.sample.html
Labels: avatar, badge, :white_check_mark: status: verified, :sparkles: themes, version: 16.1.x

#13297 fix(avatar, badge): shape not working
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  src/app/avatar/avatar.sample.html
Labels: avatar, badge, :white_check_mark: status: verified, :sparkles: themes, version: 14.2.x

#13295 fix(avatar, badge): shape not working
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  src/app/avatar/avatar.sample.html
Labels: avatar, badge, :white_check_mark: status: verified, :sparkles: themes, version: 16.0.x

#13293 Export picker toggle component - 16.0.x
  projects/igniteui-angular/src/lib/date-range-picker/public_api.ts
Labels: :white_check_mark: status: verified, :date: date-range-picker, version: 16.0.x

#13291 Export picker toggle component
  projects/igniteui-angular/src/lib/date-range-picker/public_api.ts
Labels: :white_check_mark: status: verified, :date: date-range-picker, version: 16.1.x

#13298 feat(combo): Exported filter strategy for non-diacritic filter (#13071)
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.pipes.ts
  projects/igniteui-angular/src/lib/combo/public_api.ts
Labels: :white_check_mark: status: verified, combo, simple-combo, version: 16.1.x

#13221 feat(themes): add standalone label theme
  CHANGELOG.md
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/_index.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/label/_label-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/label/_label-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
Labels: label, :white_check_mark: status: verified, :sparkles: themes, version: 16.1.x

#13286 Add lastSearchInfo docs and unify interfaces with highlight directive- master
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  src/app/grid-search-box/grid-search-box.component.html
Labels: :white_check_mark: status: verified, text-highlight, version: 16.1.x

#13207 Add displayValue and change selection and value
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-16_1_0/changes/members.json
  projects/igniteui-angular/migrations/update-16_1_0/index.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, combo, simple-combo, version: 16.1.x

#13305 Grid: remove inline styles
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: :white_check_mark: status: verified, grid, version: 16.1.x

#13202 Add lastSearchInfo docs and unify interfaces with highlight directive - 16.0.x
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  src/app/grid-search-box/grid-search-box.component.html
Labels: :white_check_mark: status: verified, text-highlight, version: 16.0.x

#13315 feat(badge): support icon projection
  projects/igniteui-angular/src/lib/badge/badge.component.html
  src/app/badge/badge.sample.html
  src/app/badge/badge.sample.ts
Labels: badge, :white_check_mark: status: verified, version: 16.1.x

#13267 fix(mask): move the cursor to the next character if the same character is typed - master
  projects/igniteui-angular/src/lib/directives/mask/mask-parsing.service.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.spec.ts
Labels: :white_check_mark: status: verified, mask-editor, version: 16.1.x

#13268 fix(mask): move the cursor to the next character if the same character is typed - 16.0.x
  projects/igniteui-angular/src/lib/directives/mask/mask-parsing.service.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.spec.ts
Labels: :white_check_mark: status: verified, mask-editor, version: 16.0.x

#13269 fix(mask): move the cursor to the next character if the same character is typed - 15.1.x
  projects/igniteui-angular/src/lib/directives/mask/mask-parsing.service.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.spec.ts
Labels: :white_check_mark: status: verified, mask-editor, version: 15.1.x

#13313 Change this.valueKey check to not throw error
  projects/igniteui-angular/src/lib/combo/combo.common.ts
Labels: :white_check_mark: status: verified, combo, version: 16.0.x

#13304 fix(drag): Fix drag directive eating up event for children elements.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 16.0.x

#13316 Make IMatchInfoCache internal - master
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid, version: 16.1.x

#13308 refactor(*): consume sizing from schemas
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon/_icon-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/paginator/_paginator-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
  projects/igniteui-angular/src/lib/tree/tree-node/tree-node.component.ts
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 16.1.x

#13303 fix(drag): Fix drag directive eating up event for children elements.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 15.1.x
