Repository IgniteUI/igniteui-angular, pull requests merged in 2023-08, with the labels that each got.

#13318 fix(input): styling inconsistencies
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  src/app/input-group/input-group.sample.scss
Labels: styling, :white_check_mark: status: verified, input-group, version: 15.1.x

#13314 fix(input): styling inconsistencies
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  src/app/input-group/input-group.sample.scss
Labels: styling, :white_check_mark: status: verified, input-group, version: 16.1.x

#13317 fix(input): styling inconsistencies
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  src/app/input-group/input-group.sample.scss
Labels: styling, :white_check_mark: status: verified, input-group, version: 16.0.x

#13328 fix(igxGrid): Update column visibility based on hideGroupedColumns wh…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
Labels: :white_check_mark: status: verified, grid: groupby, version: 15.1.x

#13326 fix(igxGrid): Update column visibility based on hideGroupedColumns wh…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
Labels: :white_check_mark: status: verified, grid: groupby, version: 16.1.x

#13327 fix(igxGrid): Update column visibility based on hideGroupedColumns wh…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
Labels: :white_check_mark: status: verified, grid: groupby, version: 16.0.x

#13341 fix(input-group): remove box shadow from bootstrap bundle on focus
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :white_check_mark: status: verified, input-group, bootstrap-theme, version: 16.1.x

#13340 fix(input-group): remove box shadow from bootstrap bundle on focus
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :white_check_mark: status: verified, input-group, bootstrap-theme, version: 16.0.x

#13311 fix(excel-exporter): do not set summary cell type - master
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
Labels: :white_check_mark: status: verified, excel-exporter, version: 16.1.x

#13343 fix(excel-exporter): do not set summary cell type - 15.1.x
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
Labels: :white_check_mark: status: verified, excel-exporter, version: 15.1.x

#13342 fix(excel-exporter): do not set summary cell type - 16.0.x
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
Labels: :white_check_mark: status: verified, excel-exporter, version: 16.0.x

#13324 fix(pivot-strategy): set properties of undefined - 15.1.x
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, grid: pivot, version: 15.1.x

#13323 fix(pivot-strategy): set properties of undefined - 16.0.x
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, grid: pivot, version: 16.0.x

#13320 fix(pivot-strategy): set properties of undefined - master
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, grid: pivot, version: 16.1.x

#13339 refactor(avatar): remove hardcoded values for rounded avatar.
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
Labels: avatar, :x: status: awaiting-test

#13360 fix(radio-group): checkbox matching initial value not selected
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
Labels: :white_check_mark: status: verified, radio-group, version: 16.1.x

#13362 fix(date-picker): fix variables scope
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/date-picker/_date-picker-theme.scss
Labels: :white_check_mark: status: verified, :date: date-picker, :calendar: calendar, version: 16.1.x

#13364 fix(date-picker): fix variables scope
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/date-picker/_date-picker-theme.scss
Labels: :white_check_mark: status: verified, :date: date-picker, :calendar: calendar, version: 15.1.x

#13352 fix(standalone): directives spread imports #13310
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/accordion/public_api.ts
  projects/igniteui-angular/src/lib/grids/column-actions/public_api.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid.directives.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/public_api.ts
  projects/igniteui-angular/src/lib/grids/grouping/grid-group-by-area.component.ts
  projects/igniteui-angular/src/lib/grids/grouping/tree-grid-group-by-area.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/public_api.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/public_api.ts
  projects/igniteui-angular/src/lib/grids/public_api.ts
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/public_api.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-components.spec.ts
  projects/igniteui-angular/src/public_api.ts
Labels: :white_check_mark: status: verified, squash-merge, general: standalone, version: 16.0.x

#13350 fix(drag): Fix ghost template not detecting changes automatically.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  src/app/drag-drop/drag-drop.sample.html
  src/app/drag-drop/drag-drop.sample.scss
  src/app/drag-drop/drag-drop.sample.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 16.0.x

#13349 fix(drag): Fix ghost template not detecting changes automatically.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  src/app/drag-drop/drag-drop.sample.html
  src/app/drag-drop/drag-drop.sample.scss
  src/app/drag-drop/drag-drop.sample.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 15.1.x

#13351 fix(drag): Fix ghost template not detecting changes automatically.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  src/app/drag-drop/drag-drop.sample.html
  src/app/drag-drop/drag-drop.sample.scss
  src/app/drag-drop/drag-drop.sample.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 16.1.x

#13288 Remove createComponentInstance method & fix overlay positioning
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: :white_check_mark: status: verified, overlay, grid: excel-style-filtering, version: 16.1.x

#13322 fix(drag): Improve dom check to support ShadowDom as well.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 16.1.x

#13365 fix(grid): revert certain lastSearchInfo changes - 16.0.x
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid, version: 16.0.x

#13357 fix(splitter): improving sizing calculations in percent splitter #13252 - 16.0
  projects/igniteui-angular/src/lib/splitter/splitter-pane/splitter-pane.component.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
Labels: :white_check_mark: status: verified, splitter, version: 16.0.x

#13356 fix(splitter): improving sizing calculations in percent splitter #13252 - 15.1
  projects/igniteui-angular/src/lib/splitter/splitter-pane/splitter-pane.component.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
Labels: :white_check_mark: status: verified, splitter, version: 15.1.x

#13358 fix(splitter): improving sizing calculations in percent splitter #13252 - master
  projects/igniteui-angular/src/lib/splitter/splitter-pane/splitter-pane.component.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
Labels: :white_check_mark: status: verified, splitter, version: 16.1.x

#13347 chore(*): roadmap-update-23-aug
  ROADMAP.md
Labels: :book: documentation, version: 16.1.x

#13367 feat(button-group): add owner to IButtonGroupEventArgs
  CHANGELOG.md
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
Labels: :chart_with_upwards_trend: enhancement, :white_check_mark: status: verified, button-group, version: 16.1.x

#13329 fix(calendar): displaying the correct week numbers - master
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.ts
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.ts
Labels: :white_check_mark: status: verified, :calendar: calendar, version: 16.1.x

#13330 fix(calendar): displaying the correct week numbers - 16.0.x
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.ts
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.ts
Labels: :white_check_mark: status: verified, :calendar: calendar, version: 16.0.x

#13331 fix(calendar): displaying the correct week numbers - 15.1.x
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.ts
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.ts
Labels: :white_check_mark: status: verified, :calendar: calendar, version: 15.1.x

#13370 fix(excel-export): fix pivotGrid column preparing - 15.1.x
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: :white_check_mark: status: verified, excel-exporter, version: 15.1.x

#13369 fix(excel-export): fix pivotGrid column preparing - 16.0.x
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: :white_check_mark: status: verified, excel-exporter, version: 16.0.x

#13368 fix(excel-export): fix pivotGrid column preparing - master
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: :white_check_mark: status: verified, excel-exporter, version: 16.1.x

#13377 fix(grid): updated z-index of row ghost to be above all grid elements
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, grid, version: 16.1.x

#13379 fix(grid): updated z-i of ghost to be above all
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :white_check_mark: status: verified

#13378 fix(grid): updated z-index of ghost to be above all other elements
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, grid, version: 16.0.x

#13388 fix(row-island): columnInit not emitting if autoGenerate=false - 15.1.x
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 15.1.x

#13387 fix(row-island): columnInit not emitting if autoGenerate=false - 16.0.x
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 16.0.x

#13374 fix(row-island): columnInit not emitting if autoGenerate=false
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid

#13306 docs(grid): Enchancing API documentation #13197
  projects/igniteui-angular/src/lib/grids/common/enums.ts
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/common/strategy.ts
  projects/igniteui-angular/src/lib/grids/common/types.ts
Labels: :book: documentation, grid

#13287 fix(grid): no property updateCell master
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
Labels: :bug: bug, :white_check_mark: status: verified, grid, version: 16.1.x

#13335 fix(grid): no property updateCell 16.0.x
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
Labels: :bug: bug, :white_check_mark: status: verified, grid, version: 16.0.x

#13419 test(*): cleaning up some warnings from tests
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
  projects/igniteui-angular/src/lib/test-utils/routing-view-components.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tabs-components.spec.ts
Labels: :test_tube: ci: tests, refactoring, version: 16.0.x

#13400 test(*): cleaning up some warnings from tests
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
  projects/igniteui-angular/src/lib/test-utils/routing-view-components.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tabs-components.spec.ts
Labels: :test_tube: ci: tests, refactoring, version: 16.1.x

#13414 test(tree-shaking): bundle test project setup
  .github/workflows/nodejs.yml
  angular.json
  package.json
  projects/bundle-test/src/app/app.component.html
  projects/bundle-test/src/app/app.component.scss
  projects/bundle-test/src/app/app.component.spec.ts
  projects/bundle-test/src/app/app.component.ts
  projects/bundle-test/src/app/app.module.ts
  projects/bundle-test/src/index.html
  projects/bundle-test/src/main.ts
  projects/bundle-test/src/polyfills.ts
  projects/bundle-test/src/styles.scss
  projects/bundle-test/tsconfig.app.json
  projects/bundle-test/tsconfig.spec.json
  projects/igniteui-angular/src/public_api.ts
Labels: :test_tube: ci: tests, version: 16.0.x

#13418 test(tree-shaking): bundle test project setup
  .github/workflows/nodejs.yml
  angular.json
  package.json
  projects/bundle-test/src/app/app.component.html
  projects/bundle-test/src/app/app.component.scss
  projects/bundle-test/src/app/app.component.spec.ts
  projects/bundle-test/src/app/app.component.ts
  projects/bundle-test/src/app/app.module.ts
  projects/bundle-test/src/index.html
  projects/bundle-test/src/main.ts
  projects/bundle-test/src/polyfills.ts
  projects/bundle-test/src/styles.scss
  projects/bundle-test/tsconfig.app.json
  projects/bundle-test/tsconfig.spec.json
  projects/igniteui-angular/src/public_api.ts
Labels: :test_tube: ci: tests, version: 16.1.x

#13413 fix(*): multiple level directive spreads break tree-shaking
  projects/bundle-test/tsconfig.app.json
  projects/igniteui-angular/src/lib/grids/column-actions/public_api.ts
  projects/igniteui-angular/src/lib/grids/columns/public_api.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/public_api.ts
  projects/igniteui-angular/src/lib/grids/headers/public_api.ts
  projects/igniteui-angular/src/lib/grids/public_api.ts
  projects/igniteui-angular/src/lib/grids/selection/public_api.ts
  projects/igniteui-angular/src/lib/grids/toolbar/public_api.ts
Labels: grid: general, version: 16.1.x

#13412 fix(*): multiple level directive spreads break tree-shaking
  projects/bundle-test/tsconfig.app.json
  projects/igniteui-angular/src/lib/grids/column-actions/public_api.ts
  projects/igniteui-angular/src/lib/grids/columns/public_api.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/public_api.ts
  projects/igniteui-angular/src/lib/grids/headers/public_api.ts
  projects/igniteui-angular/src/lib/grids/public_api.ts
  projects/igniteui-angular/src/lib/grids/selection/public_api.ts
  projects/igniteui-angular/src/lib/grids/toolbar/public_api.ts
Labels: grid: general, version: 16.0.x

#13415 fix(i18n): sideEffects flag for tree-shaking
  projects/igniteui-angular-i18n/package.json
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
Labels: :symbols: i18n, version: 15.1.x

#13416 fix(i18n): sideEffects flag for tree-shaking
  projects/igniteui-angular-i18n/package.json
Labels: :white_check_mark: status: verified, :symbols: i18n, version: 16.0.x

#13417 fix(i18n): sideEffects flag for tree-shaking
  projects/igniteui-angular-i18n/package.json
Labels: :white_check_mark: status: verified, :symbols: i18n, version: 16.1.x

#13386 refactor(navdrawer): remove indigo condition from the aside element border
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
Labels: nav-drawer, :white_check_mark: status: verified, indigo-theme, :sparkles: themes, version: 16.1.x

#13423 feat(*): bumping material-icons-extended version
  projects/igniteui-angular/package.json
Labels: :framed_picture: icon, dependencies, version: 16.1.x

#13424 feat(*): bumping material-icons-extended version
  projects/igniteui-angular/package.json
Labels: :framed_picture: icon, dependencies, version: 16.0.x

#13426 chore(*): bumping material-icons-extended version
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
Labels: :framed_picture: icon, dependencies, version: 15.1.x

#13395 fix(grid: column-pinning): working pinColumn with indexes for the last position
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
Labels: :white_check_mark: status: verified, grid: column-pinning, version: 16.1.x

#13396 fix(grid: column-pinning): working pinColumn with indexes for the last position
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
Labels: :white_check_mark: status: verified, grid: column-pinning, version: 16.0.x

#13397 fix(grid: column-pinning): working pinColumn with indexes for the last position
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
Labels: :white_check_mark: status: verified, grid: column-pinning, version: 15.1.x
