Repository IgniteUI/igniteui-angular, pull requests merged in 2023-05, with the labels that each got.

#12878 feat(expansion-panel): show tooltip for title and description
  CHANGELOG.md
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.common.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.directives.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.spec.ts
Labels: :white_check_mark: status: verified, expansion-panel, version: 16.0.x

#12963 fix(input): file name(s) not cleared on form reset
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
Labels: input, :white_check_mark: status: verified, version: 16.0.x

#12975 fix(form-controls): unchecked & indeterminate invalid state
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.spec.ts
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/radio/radio.component.spec.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
  projects/igniteui-angular/src/lib/switch/switch.component.spec.ts
  projects/igniteui-angular/src/lib/switch/switch.component.ts
Labels: radio-button, switch, checkbox, :white_check_mark: status: verified, radio-group, version: 15.1.x

#12887 fix(form-controls): unchecked & indeterminate invalid state
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.spec.ts
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/radio/radio.component.spec.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
  projects/igniteui-angular/src/lib/switch/switch.component.spec.ts
  projects/igniteui-angular/src/lib/switch/switch.component.ts
Labels: radio-button, switch, checkbox, :white_check_mark: status: verified, radio-group, version: 16.0.x

#12770 Chip - fix discrepancy between WebC and Angular
  CHANGELOG.md
  projects/igniteui-angular/src/lib/chips/chip.component.html
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/chip.spec.ts
  projects/igniteui-angular/src/lib/chips/chips-area.spec.ts
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_chip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_chip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  src/app/chips/chips.sample.html
  src/app/chips/chips.sample.scss
  src/app/chips/chips.sample.ts
Labels: triage: blocking, chip, design: verified, version: 16.0.x, :exclamation: behavior-change, :grey_exclamation: visual-change

#12968 fix(simple-combo): set value to empty string when the remote data is not present - 15.1.x
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 15.1.x

#12969 fix(simple-combo): set value to empty string when the remote data is not present - 14.2.x
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 14.2.x

#12967 fix(simple-combo): set value to empty string when the remote data is not present - master
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 16.0.x

#12978 fix(grid): In case of external data change sync cell's formControl wi…
  projects/igniteui-angular/src/lib/grids/grid/grid-validation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-validation.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: :white_check_mark: status: verified, grid: tree-grid, grid: hierarchical-grid, grid, version: 15.1.x

#12977 feat(grid,h-grid): mark totalItemCount as Input
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
Labels: :white_check_mark: status: verified, virtualization, triage: blocking, grid: hierarchical-grid, grid, version: 16.0.x

#12987 fix(grid): In case of external data change sync cell's formControl wi…
  projects/igniteui-angular/src/lib/grids/grid/grid-validation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-validation.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: :white_check_mark: status: verified, grid: tree-grid, squash-merge, grid: hierarchical-grid, grid, version: 14.2.x

#12471 feat(sizing): Use the sizable mixins and functions to size components.
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-summary/_grid-summary-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_header-row-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_pivot-data-selector-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/paginator/_paginator-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/paginator/_paginator-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_avatar.scss
  src/app/badge/badge.sample.scss
  src/app/grid-column-moving/grid-column-moving.sample.html
  src/app/grid-column-moving/grid-column-moving.sample.scss
  src/app/grid-filtering/grid-filtering.sample.html
  src/app/grid-filtering/grid-filtering.sample.scss
Labels: :white_check_mark: status: verified, triage: blocking, :sparkles: themes, version: 16.0.x

#12875 Grids public API cleanup initial pass
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: grid: general, refactoring, triage: blocking, version: 16.0.x

#12949 fix(grid): In case of external data change sync cell's formControl wi…
  projects/igniteui-angular/src/lib/grids/grid/grid-validation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-validation.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: :white_check_mark: status: verified, grid: tree-grid, squash-merge, grid: hierarchical-grid, grid, version: 16.0.x

#12970 fix(grid): sizing overrides when input is used inside a grid cell
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: styling, input, :white_check_mark: status: verified, triage: blocking, grid, version: 16.0.x

#12954 Refactor access modifiers
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.ts
Labels: triage: blocking, query-builder, version: 16.0.x

#12993 refactor(grids): drop unused column module
  projects/igniteui-angular/src/lib/grids/columns/column.module.ts
Labels: grid: general, refactoring, version: 16.0.x

#13003 feat(grid,h-grid): expand/collapse indicator template inputs
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-16_0_0/changes/classes.json
  projects/igniteui-angular/migrations/update-16_0_0/changes/members.json
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.directives.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/public_api.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/public_api.ts
  src/app/hierarchical-grid/hierarchical-grid.sample.ts
Labels: grid: groupby, :bangbang: breaking-change, grid: hierarchical-grid, version: 16.0.x

#12991 feat(sorting): Sort expression accepts type model for type narrowing
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/types.ts
  projects/igniteui-angular/src/lib/data-operations/sorting-strategy.ts
Labels: grid: sorting, squash-merge, version: 16.0.x

#13002 chore(schematics): update with release candidate
  projects/igniteui-angular/migrations/update-10_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-10_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-11_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-11_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-12_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-12_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-13_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-13_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-13_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-14_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-15_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-15_0_11/index.spec.ts
  projects/igniteui-angular/migrations/update-15_0_4/index.spec.ts
  projects/igniteui-angular/migrations/update-15_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-16_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-6/index.spec.ts
  projects/igniteui-angular/migrations/update-6_01/index.spec.ts
  projects/igniteui-angular/migrations/update-6_02/index.spec.ts
  projects/igniteui-angular/migrations/update-6_1/index.spec.ts
  projects/igniteui-angular/migrations/update-6_2/index.spec.ts
  projects/igniteui-angular/migrations/update-6_2_1/index.spec.ts
  projects/igniteui-angular/migrations/update-7_0_2/index.spec.ts
  projects/igniteui-angular/migrations/update-7_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-7_3_4/index.spec.ts
  projects/igniteui-angular/migrations/update-8_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-8_2_3/index.spec.ts
  projects/igniteui-angular/migrations/update-8_2_6/index.spec.ts
  projects/igniteui-angular/migrations/update-9_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-9_0_1/index.spec.ts
  projects/igniteui-angular/migrations/update-9_1_0/index.spec.ts
  projects/igniteui-angular/package.json
  projects/igniteui-angular/schematics/ng-add/index.spec.ts
Labels: triage: blocking, squash-merge, schematics, version: 16.0.x

#12998 refactor(grids): initial cleanup of ctor props left as public
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
Labels: :book: documentation, grid: general, refactoring, version: 16.0.x

#13004 chore(*): remove deprecated props, fix tests and samples
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-moving.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pagination.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-search.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  src/app/grid-cell-api/grid-cell-api.sample.html
  src/app/grid-cell-api/grid-cell-api.sample.ts
Labels: :white_check_mark: status: verified, triage: blocking, grid: paging, squash-merge, :bangbang: breaking-change, paginator, grid, version: 16.0.x

#13005 chore(changelog): move sections, formatting, typo
  CHANGELOG.md
Labels: :book: documentation, version: 16.0.x

#13009 fix(migrations): duplicate card actions migrations
  projects/igniteui-angular/migrations/update-15_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-15_1_0/index.ts
Labels: :white_check_mark: status: verified, triage: blocking, migrations, version: 16.0.x

#12982 fix(tree-grid): correct foreignKey value in rowAdd event args - 14.2.x
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-add-row-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: :white_check_mark: status: verified, grid: tree-grid, grid: row-adding, version: 14.2.x

#12979 fix(tree-grid): correct foreignKey value in rowAdd event args
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-add-row-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: :white_check_mark: status: verified, grid: tree-grid, grid: row-adding, version: 16.0.x

#12959 fix(grid): Fix filtering row not included correctly into header row size calculation.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  src/app/grid-column-groups/grid-column-groups.sample.css
  src/app/grid-column-groups/grid-column-groups.sample.html
  src/app/grid-column-groups/grid-column-groups.sample.ts
Labels: :white_check_mark: status: verified, grid, version: 14.2.x

#13010 fix(migrations): duplicate card actions migrations
  projects/igniteui-angular/migrations/update-15_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-15_1_0/index.ts
Labels: :white_check_mark: status: verified, migrations, version: 15.1.x

#12961 fix(grid): Fix filtering row not included correctly into header row size calculation.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  src/app/grid-column-groups/grid-column-groups.sample.css
  src/app/grid-column-groups/grid-column-groups.sample.html
  src/app/grid-column-groups/grid-column-groups.sample.ts
Labels: :white_check_mark: status: verified, grid, version: 16.0.x

#12960 fix(grid): Fix filtering row not included correctly into header row size calculation.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  src/app/grid-column-groups/grid-column-groups.sample.css
  src/app/grid-column-groups/grid-column-groups.sample.html
  src/app/grid-column-groups/grid-column-groups.sample.ts
Labels: :white_check_mark: status: verified, grid, version: 15.1.x

#13015 chore(schematics): put official release version
  projects/igniteui-angular/package.json
Labels: triage: blocking, schematics, version: 16.0.x

#13014 fix(date-picker): move the colors for special dates on the proper element
  projects/igniteui-angular/src/lib/core/styles/components/date-picker/_date-picker-theme.scss
Labels: :white_check_mark: status: verified, :date: date-picker, version: 14.2.x

#13019 fix(date-picker): Remove color overrides
  projects/igniteui-angular/src/lib/core/styles/components/date-picker/_date-picker-theme.scss
Labels: :white_check_mark: status: verified, :date: date-picker, version: 15.1.x

#13021 Bringing back deleted avatar size property.
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_avatar.scss
Labels: avatar, :white_check_mark: status: verified, :sparkles: themes, version: 16.0.x

#13027 chore(*): document clearCellSelection 15.1.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :book: documentation, version: 15.1.x

#13026 Document clear cell selection 16.0.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :book: documentation, grid: multi-cell-selection, version: 16.0.x

#13030 fix(validation): add form control for dynamically added columns - 15.1.x
  projects/igniteui-angular/src/lib/grids/grid/grid-validation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-validation.spec.ts
Labels: :white_check_mark: status: verified, grid: cell-editing, grid: row-editing, grid, version: 15.1.x

#13037 chore(*): Update typedoc plugin and theme
  package-lock.json
  package.json
Labels: :white_check_mark: status: verified

#13043 fix(stepper) stretch the step content to take it's parent size.
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
Labels: :white_check_mark: status: verified, stepper, version: 15.1.x

#13042 fix(stepper): stretch the step content to take it's parent size.
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
Labels: :white_check_mark: status: verified, stepper, version: 14.2.x

#13041 fix(stepper): stretch the step content to take it's parent size.
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
Labels: :white_check_mark: status: verified, stepper, version: 16.0.x

#13044 fix(switch): wrong colors in invalid state
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_switch.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_switch.scss
Labels: switch, :white_check_mark: status: verified, :sparkles: themes, version: 15.1.x

#13040 fix(chip): adding the full set of variables in order to fix scoped theme scenario
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :white_check_mark: status: verified, chip, version: 16.0.x

#13049 refactor(themes): add an internal handler option to transform theme maps
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
Labels: :white_check_mark: status: verified, refactoring, :sparkles: themes, :diamond_shape_with_a_dot_inside: grid: elements, version: 16.0.x

#13048 refactor(themes): add an internal handler option to transform theme maps
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
Labels: :white_check_mark: status: verified, refactoring, :sparkles: themes, :diamond_shape_with_a_dot_inside: grid: elements, version: 15.1.x

#13046 Add data null check in the treeGridNormalizeRecord pipe - 15.1
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
Labels: :white_check_mark: status: verified, grid: tree-grid, version: 15.1.x

#13047 Add data null check in the treeGridNormalizeRecord pipe - 14.2
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
Labels: :white_check_mark: status: verified, grid: tree-grid, version: 14.2.x

#13062 Download a single file when exporting an empty grid to csv - 15.1.x
  projects/igniteui-angular/src/lib/services/csv/char-separated-value-data.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, exporters, version: 15.1.x

#13063 Download a single file when exporting an empty grid to csv - 16.0.x
  projects/igniteui-angular/src/lib/services/csv/char-separated-value-data.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, exporters, version: 16.0.x
