Repository IgniteUI/igniteui-angular, pull requests merged in 2023-11, with the labels that each got.

#13604 fix(IgxForOf): Add check in case node is not found in DOM.
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: :white_check_mark: status: verified, virtualization, grid, version: 16.1.x

#13599 Adjust header scroll position when focused element I scrolled in the view
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.ts
Labels: :white_check_mark: status: verified, grid: filter-ui, grid, version: 16.1.x

#13601 Adjust header scroll position when focused element I scrolled in the view
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.ts
Labels: :boom: status: in-test, :white_check_mark: status: verified, grid: filter-ui, scroll, grid, version: 17.0.x

#13602 Adjust header scroll position when focused element I scrolled in the view --15.1
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.ts
Labels: :white_check_mark: status: verified, grid: filter-ui, scroll, grid, version: 15.1.x

#13637 fix(migrations): get full ts, containing comments
  projects/igniteui-angular/migrations/common/tsUtils.ts
Labels: :white_check_mark: status: verified, migrations, version: 15.1.x

#13638 fix(migrations): get full ts, containing comments
  projects/igniteui-angular/migrations/common/tsUtils.ts
Labels: :white_check_mark: status: verified, migrations, version: 16.1.x

#13639 fix(migrations): get full ts, containing comments
  projects/igniteui-angular/migrations/common/tsUtils.ts
Labels: :white_check_mark: status: verified, migrations, version: 17.0.x

#13643 feat(migrations): move animations to igniteui-angular/animations
  projects/igniteui-angular/migrations/common/tsUtils.ts
  projects/igniteui-angular/migrations/update-17_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-17_0_0/index.ts
Labels: :white_check_mark: status: verified, migrations, version: 17.0.x, animations

#13625 docs(typedoc): bump typedoc theme and rework build
  .gitignore
  gulpfile.js
  package-lock.json
  package.json
  scripts/build-typedoc.mjs
  scripts/get-args.mjs
  tsconfig.typedoc.json
Labels: :book: documentation, :white_check_mark: status: verified, triage: blocking, typedoc, localization, dependencies

#13626 fix(overlay): using injected document for show - 15.1
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
Labels: :white_check_mark: status: verified, overlay, version: 15.1.x

#13630 fix(button-group): reverted cancellable on selected and deselected events - 15.1
  CHANGELOG.md
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
Labels: button-group, version: 15.1.x

#13619 Update selection changing events
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-17_0_0/changes/members.json
  projects/igniteui-angular/migrations/update-17_0_0/index.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, combo, :bangbang: breaking-change, simple-combo, version: 17.0.x

#13610 fix(igxGrid): Make sure sortingExpressions don't get cleared if sorti…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, grid: sorting, version: 17.0.x

#13611 fix(igxGrid): Make sure sortingExpressions don't get cleared if sorti…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, grid: sorting, version: 16.1.x

#13615 fix(igxPivotGrid): Add check in case data is empty due to removing al…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 15.1.x

#13649 fix(lint): speeding up lint a bit
  .eslintignore
  angular.json
  e2e/cypress.json
  e2e/cypress/integration/spec.ts
  e2e/cypress/plugins/index.ts
  e2e/cypress/support/commands.ts
  e2e/cypress/support/index.ts
  e2e/cypress/tsconfig.json
  projects/igniteui-angular/src/lib/calendar/calendar.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  tsconfig.json
Labels: :bricks: ci: build, :capital_abcd: ci: lint, version: 16.1.x

#13646 fix(combos): change valid property type to exposed IgxInputState
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
Labels: :white_check_mark: status: verified, triage: blocking, combo, :bangbang: breaking-change, simple-combo, version: 17.0.x

#13623 fix(igxGrid): autosize hidden empty column headers correctly - master
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: :white_check_mark: status: verified, grid: column-resizing, version: 17.0.x

#13624 fix(igxGrid): autosize hidden empty column headers correctly - 15.1.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: :white_check_mark: status: verified, grid: column-resizing, version: 15.1.x

#13628 fix(igxGrid): autosize hidden empty column headers correctly - 16.1.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: :white_check_mark: status: verified, grid: column-resizing, version: 16.1.x

#13647 fix(simple-combo): value & selection correct single type instead array
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/simple-combo/README.md
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, triage: blocking, :bangbang: breaking-change, simple-combo, version: 17.0.x

#13648 fix(combos): displayValue as actual string
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/README.md
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
Labels: :white_check_mark: status: verified, triage: blocking, combo, :bangbang: breaking-change, simple-combo, version: 17.0.x

#13613 fix(igxPivotGrid): Add check in case data is empty due to removing al…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 17.0.x

#13614 fix(igxPivotGrid): Add check in case data is empty due to removing al…
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 16.1.x

#13645 feat(esf): add matches count string for accessibility
  projects/igniteui-angular-i18n/src/i18n/BG/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/grid-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
Labels: status: pending-localization, :white_check_mark: status: verified, grid: excel-style-filtering, aria-support, version: 17.0.x

#13558 feat(esf): improve search results accessibility - 16.1.x
  projects/igniteui-angular-i18n/src/i18n/BG/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/grid-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
Labels: status: pending-localization, :white_check_mark: status: verified, grid: excel-style-filtering, aria-support, version: 16.1.x

#13644 feat(esf): improve search results accessibility - 15.1.x
  projects/igniteui-angular-i18n/src/i18n/BG/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/grid-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
Labels: status: pending-localization, :white_check_mark: status: verified, grid: excel-style-filtering, aria-support, version: 15.1.x

#13652 chore(*): ng update official 17
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
Labels: version: 17.0.x

#13658 docs(i18n): updating docs and exports for i18n
  CHANGELOG.md
  package-lock.json
  package.json
  projects/igniteui-angular/src/public_api.ts
  src/app/grid-localization/grid-localization.sample.html
  src/app/grid-localization/grid-localization.sample.scss
  src/app/grid-localization/grid-localization.sample.ts
Labels: :book: documentation, :symbols: i18n, version: 17.0.x

#13635 fix(ESF): Add support for navigation in the ESF search list
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/common.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/list/list-item.component.ts
  projects/igniteui-angular/src/lib/list/list.component.ts
Labels: :white_check_mark: status: verified, grid: filter-ui, filtering, grid: excel-style-filtering, grid, version: 17.0.x

#13612 fix(igxGrid): Make sure sortingExpressions don't get cleared if sorti…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, grid: sorting, version: 15.1.x

#13661 chore(*): roadmap-readme-update-17-release
  README.md
  ROADMAP.md
Labels: :book: documentation, version: 17.0.x

#13662 chore(schematics): update schematics
  projects/igniteui-angular/package.json
Labels: migrations, version: 17.0.x

#13663 ci(publish): NODE_OPTIONS emit to GITHUB_ENV is deprecated & not needed
  .github/workflows/npm-publish.yml
Labels: npm, ci: github-actions, version: 17.0.x

#13665 ci(publish): NODE_OPTIONS emit to GITHUB_ENV is deprecated & not needed
  .github/workflows/npm-publish.yml
Labels: npm, ci: github-actions, version: 16.1.x

#13664 ci(publish): NODE_OPTIONS emit to GITHUB_ENV is deprecated & not needed
  .github/workflows/npm-publish.yml
Labels: npm, ci: github-actions, version: 15.1.x

#13669 Add support for navigation in the ESF search list [15.1.x]
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/common.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/list/list-item.component.ts
  projects/igniteui-angular/src/lib/list/list.component.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 15.1.x

#13620 Igc-grid-state component
  projects/igniteui-angular-elements/src/analyzer/config.template.ts
  projects/igniteui-angular-elements/src/analyzer/elements.config.ts
  projects/igniteui-angular-elements/src/app/app.module.ts
  projects/igniteui-angular-elements/src/index.html
  projects/igniteui-angular-elements/src/lib/state.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  src/app/grid-state/grid-state.component.html
  src/app/grid-state/grid-state.component.ts
Labels: :white_check_mark: status: verified

#13609 fix(simple-combo): only select with enter when dropdown is open - 16.1
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 16.1.x

#13618 fix(simple-combo): only select with enter when dropdown is open - 17.0
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 17.0.x

#13690 feat(*): adding back puppeteer
  package-lock.json
  package.json
  projects/igniteui-angular/karma.azure.conf.js
  projects/igniteui-angular/karma.conf.js
Labels: :test_tube: ci: tests, version: 17.0.x

#13651 Fix(grids): save disablePinning property
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  projects/igniteui-angular/src/lib/grids/state.hierarchicalgrid.spec.ts
  projects/igniteui-angular/src/lib/grids/state.pivotgrid.spec.ts
  projects/igniteui-angular/src/lib/grids/state.treegrid.spec.ts
Labels: :white_check_mark: status: verified, grid: state-persistence, version: 17.0.x

#13653 Fix(grids): save disablePinning property
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  projects/igniteui-angular/src/lib/grids/state.hierarchicalgrid.spec.ts
  projects/igniteui-angular/src/lib/grids/state.pivotgrid.spec.ts
  projects/igniteui-angular/src/lib/grids/state.treegrid.spec.ts
Labels: :white_check_mark: status: verified, grid: state-persistence, version: 16.1.x

#13678 fix(dropdown,select): add igxFor DI alias for tree-shaking
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/public_api.ts
Labels: :boom: status: in-test, dropdown, select, version: 17.0.x

#13683 fix(grid): Add missing interface for clipboardOptions.
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid, version: 16.1.x

#13682 fix(grid): Add missing interface for clipboardOptions.
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid, version: 17.0.x

#13695 fix(chip): fix avatar inside igx-suffix and igx-prefix directive
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
Labels: :x: status: awaiting-test, chip, version: 16.1.x

#13696 fix(chip): fix avatar inside igx-suffix and igx-prefix directive
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
Labels: :x: status: awaiting-test, chip, version: 17.0.x

#13704 fix(chip): fix avatar and circular bar inside igx-suffix and igx-prefix directive
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
Labels: :x: status: awaiting-test, chip, version: 16.0.x

#13694 fix(density): use globalThis to resolve SSR issues
  angular.json
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/core/density.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.spec.ts
  src/app/app.component.ts
  src/app/app.config.server.ts
  src/app/app.config.ts
  src/app/app.module.ts
  src/app/app.routes.ts
  src/main.server.ts
  src/main.ts
  src/server.ts
  src/tsconfig.app.json
Labels: :white_check_mark: status: verified, display-density, angular: ssr, version: 17.0.x

#13593 refactor(*): use default size from component schemas
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon/_icon-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 17.0.x

#13698 fix(density): inject DOCUMENT token
  projects/igniteui-angular/src/lib/core/density.ts
  projects/igniteui-angular/src/lib/core/utils.ts
Labels: :white_check_mark: status: verified, display-density, angular: ssr, version: 16.1.x

#13686 Do not change focus when ESF keyboard navigation active element is fi…
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 17.0.x

#13684 fix(grid): rem throtttime lead of event
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
  projects/igniteui-angular/src/lib/list/list.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/configure-suite.ts
  projects/igniteui-angular/src/lib/test-utils/helper-utils.spec.ts
  projects/igniteui-angular/src/lib/test-utils/list-components.spec.ts
Labels: :white_check_mark: status: verified

#13699 fix(tree): Consume new hover-selected-color form schema, expose missing hover-colors to the user.
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
Labels: :x: status: awaiting-test, tree, design: verified, version: 16.1.x

#13700 fix(tree): Consume new hover-selected-color form schema, expose missing hover-colors to the user.
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
Labels: :x: status: awaiting-test, tree, design: verified, version: 17.0.x

#13482 fix(grid): slightly different attr for formatters
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
Labels: status: inactive
