Repository IgniteUI/igniteui-angular, pull requests merged in 2023-06, with the labels that each got.

#13070 chore(CellType): revert unintentionally exposed defaultErrorTemplate
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/test-utils/grid-validation-samples.spec.ts
Labels: :book: documentation, :white_check_mark: status: verified, grid: general, version: 16.0.x

#13076 docs(grid): fix sortingOptions getter description
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :book: documentation, grid: sorting, version: 15.1.x

#13077 docs(grid): fix sortingOptions getter description
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :book: documentation, grid: sorting, version: 16.0.x

#13079 docs(col-group): fix body/edit template docs; selectable setter
  projects/igniteui-angular/src/lib/grids/columns/column-group.component.ts
Labels: :book: documentation, grid: column-types, version: 16.0.x

#13078 docs(col-group): fix body/edit template docs; selectable setter
  projects/igniteui-angular/src/lib/grids/columns/column-group.component.ts
Labels: :book: documentation, grid: column-types, version: 15.1.x

#13086 refactor(grid): remove redundant virtualizationState setter
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :book: documentation, refactoring, grid, version: 15.1.x

#13087 refactor(grid): remove redundant virtualizationState setter
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :book: documentation, refactoring, grid, version: 16.0.x

#13081 refactor(grid): establish rowHeight type, keep string set option
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :book: documentation, refactoring, grid, version: 15.1.x

#13082 refactor(grid): establish rowHeight type, keep string set option
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :book: documentation, refactoring, grid, version: 16.0.x

#13068 fix(date-picker): set calendar view date properly - 14.2.x
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: :white_check_mark: status: verified, :date: date-picker, version: 14.2.x

#13066 fix(date-picker): set calendar view date properly - 15.1.x
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: :white_check_mark: status: verified, :date: date-picker, version: 15.1.x

#13064 fix(date-picker): set calendar view date properly - 16.0.x
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: :white_check_mark: status: verified, :date: date-picker, version: 16.0.x

#13092 docs(grid): mark GridType perPage and page as hidden internal
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
Labels: :book: documentation, grid, version: 16.0.x

#13105 fix(grid): advanced-filtering-styling-issues
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
Labels: :white_check_mark: status: verified, grid: advanced-filtering, :sparkles: themes, version: 15.1.x

#13104 fix(grid): advanced-filtering-styling-issues
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
Labels: :white_check_mark: status: verified, grid: advanced-filtering, :sparkles: themes, version: 14.2.x

#13109 fix(radio): buttons with falsy values are initially selected
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
Labels: radio-button, :white_check_mark: status: verified, radio-group, version: 15.1.x

#13110 fix(radio): buttons with falsy values are initially selected
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
Labels: radio-button, :white_check_mark: status: verified, radio-group, version: 14.2.x

#13107 fix(radio): buttons with falsy values are initially selected
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
Labels: radio-button, :white_check_mark: status: verified, radio-group, version: 16.0.x

#13118 Revert "fix - Excel style filtering is not shown on top or clipped -- master"
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, grid, version: 16.0.x

#13119 Revert "fix - Excel style filtering is not shown on top or clipped --15.1"
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, grid, version: 15.1.x

#13120 Revert "fix - Excel style filtering is not shown on top or clipped -- 14.2"
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: grid: excel-style-filtering, grid, version: 14.2.x

#13130 fix(banner): styling doesn't apply in cosy and compact modes
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-theme.scss
Labels: :white_check_mark: status: verified, grid: row-editing, banner, :sparkles: themes, version: 16.0.x

#13113 fix(grid): cell editing missing property
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :white_check_mark: status: verified, grid: cell-editing

#13101 feat(demos): adding static tree demo
  src/app/tree/tree.sample.html
Labels: demos, :white_check_mark: status: verified, version: 16.0.x

#13128 fix(input-group): label position for material border textarea.
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :white_check_mark: status: verified, input-group, version: 16.0.x

#13148 fix(button): remove icon color override.
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
Labels: :white_check_mark: status: verified, button, version: 15.1.x

#13149 fix(button): remove icon color override.
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
Labels: :white_check_mark: status: verified, button, version: 14.2.x

#12974 refactor(elements): component theme cb to update name/prefix and selector
  projects/igniteui-angular-elements/src/index.html
  projects/igniteui-angular-elements/src/themes/_util.scss
  projects/igniteui-angular-elements/src/themes/_variables.scss
  projects/igniteui-angular-elements/src/themes/dark/bootstrap.scss
  projects/igniteui-angular-elements/src/themes/dark/fluent.scss
  projects/igniteui-angular-elements/src/themes/dark/indigo.scss
  projects/igniteui-angular-elements/src/themes/dark/material.scss
  projects/igniteui-angular-elements/src/themes/light/bootstrap.scss
  projects/igniteui-angular-elements/src/themes/light/fluent.scss
  projects/igniteui-angular-elements/src/themes/light/indigo.scss
  projects/igniteui-angular-elements/src/themes/light/material.scss
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: enhancement, refactoring, :sparkles: themes, :diamond_shape_with_a_dot_inside: grid: elements

#13093 fix(drag): Add handling for ghostTemplates that have display contents.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.spec.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 14.2.x

#13094 fix(drag): Add handling for ghostTemplates that have display contents.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.spec.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 15.1.x

#13095 fix(drag): Add handling for ghostTemplates that have display contents.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.spec.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 16.0.x

#13153 fix(grids): unsafe access of content query from other public accessors
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: grid, :diamond_shape_with_a_dot_inside: grid: elements, version: 16.0.x

#13124 fix(combo, select): incorrect toggle button colors
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/select/_select-theme.scss
  src/app/combo/combo.sample.html
Labels: :white_check_mark: status: verified, combo, select, version: 16.0.x

#13152 fix(combo, select): incorrect toggle button colors
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/select/_select-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_combo.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_select.scss
Labels: :white_check_mark: status: verified, combo, select, version: 15.1.x

#13145 fix(themes): border-radius doesn't work with radius factor
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_functions.scss
  projects/igniteui-angular/src/lib/core/styles/base/utilities/_mixins.scss
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/date-picker/_date-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/snackbar/_snackbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/splitter/_splitter-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tooltip/_tooltip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/watermark/_watermark-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_action-strip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_avatar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_badge.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button-group.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_calendar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_card.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_carousel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_checkbox.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_chip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_dialog.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_drop-down.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_expansion-panel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_grid.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_input-group.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_list.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_navdrawer.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_progress.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_snackbar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_splitter.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_switch.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_tabs.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_time-picker.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_toast.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_tooltip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_watermark.scss
  src/styles/_variables.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 14.2.x

#13144 fix(themes): border-radius doesn't work with radius factor
  projects/igniteui-angular/src/lib/core/styles/base/_functions.scss
  projects/igniteui-angular/src/lib/core/styles/base/_index.scss
  projects/igniteui-angular/src/lib/core/styles/base/_mixins.scss
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/date-picker/_date-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/snackbar/_snackbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/splitter/_splitter-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tooltip/_tooltip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/watermark/_watermark-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_action-strip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_avatar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_badge.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button-group.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_button.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_calendar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_card.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_carousel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_checkbox.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_chip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_dialog.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_drop-down.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_expansion-panel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_grid.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_input-group.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_list.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_navdrawer.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_progress.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_snackbar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_splitter.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_stepper.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_switch.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_tabs.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_time-picker.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_toast.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_tooltip.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_watermark.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 15.1.x

#13131 fix(themes): border-radius doesn't work with radius factor
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/date-picker/_date-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/snackbar/_snackbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/splitter/_splitter-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tooltip/_tooltip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/watermark/_watermark-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 16.0.x

#13151 fix(button-group): selected item border color
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
Labels: :white_check_mark: status: verified, button, version: 14.2.x

#13150 fix(button-group): selected item border color
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
Labels: :white_check_mark: status: verified, button-group, version: 15.1.x

#13158 test(mrl): Add debounce time on arrow navigation.
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
Labels: :test_tube: ci: tests, grid: multi-row-layout, version: 16.0.x

#13159 test(mrl): Add debounce time on arrow navigation.
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
Labels: :test_tube: ci: tests, grid: multi-row-layout, version: 15.1.x

#13160 test(mrl): Add debounce time on arrow navigation.
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
Labels: :test_tube: ci: tests, grid: multi-row-layout, version: 14.2.x

#13142 fix(button-group): selected item border color
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
Labels: :white_check_mark: status: verified, button-group, version: 16.0.x

#12972 fix(input): file name(s) not cleared on form reset
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
Labels: input, :white_check_mark: status: verified, version: 15.1.x

#12973 fix(input): file name(s) not cleared on form reset
  projects/igniteui-angular/src/lib/directives/input/input.directive.ts
Labels: input, :white_check_mark: status: verified, version: 14.2.x

#13129 Fix error when pressing backspace in an empty dateTime filter
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, grid: filter-ui, filtering, version: 16.0.x

#13117 Fix list item medium and small size
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
Labels: list, :white_check_mark: status: verified, version: 16.0.x

#13134 chore(*): updating dependencies
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
Labels: dependencies, version: 16.0.x

#13171 fix(themes): dropdown doesn't work with --ig-size
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
Labels: :white_check_mark: status: verified, dropdown, :sparkles: themes, version: 16.0.x

#13173 Update ROADMAP.md
  ROADMAP.md
Labels: :book: documentation, version: 16.0.x

#13179 fix(themes): set roundness to null for non-material presets
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_indigo.scss
Labels: :white_check_mark: status: verified, fluent-theme, bootstrap-theme, indigo-theme, :sparkles: themes, version: 16.0.x

#13176 fix(label-directive): label position
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: label, :white_check_mark: status: verified, input-group, version: 16.0.x

#13187 fix(input): icons don't respond to size changes
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :white_check_mark: status: verified, input-group, :sparkles: themes, version: 16.0.x
