Repository IgniteUI/igniteui-angular, pull requests merged in 2023-09, with the labels that each got.

#13408 fix(button-group): making selected and deselected events cancellable
  CHANGELOG.md
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
Labels: :white_check_mark: status: verified, button-group, version: 16.1.x

#13409 fix(button-group): making selected and deselected events cancellable
  CHANGELOG.md
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
Labels: :white_check_mark: status: verified, button-group, version: 16.0.x

#13410 fix(button-group): making selected and deselected events cancellable
  CHANGELOG.md
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
Labels: :white_check_mark: status: verified, button-group, version: 15.1.x

#13430 refactor(icon): Use em for the width and the height of the igx-icon.
  projects/igniteui-angular/src/lib/core/styles/components/icon/_icon-theme.scss
Labels: :framed_picture: icon, :white_check_mark: status: verified, version: 16.0.x

#13429 refactor(icon): Use em for the width and the height of the igx-icon.
  projects/igniteui-angular/src/lib/core/styles/components/icon/_icon-theme.scss
Labels: :framed_picture: icon, :white_check_mark: status: verified, version: 16.1.x

#13384 fix(cellEditing): isCellInEditMode changed master
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-public-cell.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: :white_check_mark: status: verified, grid: cell-editing, grid: row-editing

#13431 fix(cellEditing): isCellInEditMode changed 16.0.x
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-public-cell.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: :white_check_mark: status: verified, grid: cell-editing, grid: row-editing

#13432 fix(cellEditing): isCellInEditMode changed 15.1.x
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-public-cell.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: :white_check_mark: status: verified, grid: cell-editing, grid: row-editing

#13448 test(*): rolling back to a working 20.x version
  .github/workflows/nodejs.yml
Labels: :test_tube: ci: tests

#13436 fix(grid): add return type and return value to endEdit method
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, grid: cell-editing, grid, version: 16.1.x

#13438 fix(grid): add return type and return value to endEdit method
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, grid, version: 15.1.x

#13405 fix(grid): round column width when set in percentages - master
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
Labels: :white_check_mark: status: verified, grid: multi-column-headers, version: 16.1.x

#13406 fix(grid): round column width when set in percentages - 16.0.x
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
Labels: :white_check_mark: status: verified, grid: multi-column-headers, version: 16.0.x

#13407 fix(grid): round column width when set in percentages - 15.1.x
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
Labels: :white_check_mark: status: verified, grid: multi-column-headers, version: 15.1.x

#13437 fix(grid): add return type and return value to endEdit method
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, grid: cell-editing, grid, version: 16.0.x

#13461 fix(migrations): member lookup error when constructor is present
  projects/igniteui-angular/migrations/common/tsUtils.ts
Labels: migrations, version: 16.1.x

#13454 Fix: IgxGrid: Horizontal scrollbar is displayed when row selection is enabled --16.0.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  src/app/grid-selection/grid-selection.sample.html
  src/app/grid-selection/grid-selection.sample.ts
Labels: :white_check_mark: status: verified, grid: resizing, grid: column-resizing, grid, version: 16.0.x

#13453 Fix: IgxGrid: Horizontal scrollbar is displayed when row selection is enabled
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  src/app/grid-selection/grid-selection.sample.html
  src/app/grid-selection/grid-selection.sample.ts
Labels: :white_check_mark: status: verified, grid: resizing, grid: column-resizing, grid, version: 16.1.x

#13449 feat(grid): provide styling properties for ESF
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 16.1.x

#13464 fix(checkbox): CSS theming vars issues
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
Labels: checkbox, :white_check_mark: status: verified, version: 16.1.x

#13470 feat(migrations): add i18n and schematics as automatic updates
  projects/igniteui-angular-i18n/package.json
  projects/igniteui-angular/package.json
Labels: :white_check_mark: status: verified, migrations, version: 16.1.x

#13477 fix(checkbox): fix sub pixel rendering for checkbox border
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
Labels: checkbox, :white_check_mark: status: verified, version: 16.1.x

#13473 fix(slider): properly adjusting bounds #13403
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
Labels: :white_check_mark: status: verified, slider, version: 15.1.x

#13472 fix(slider): properly adjusting bounds #13403
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
Labels: :white_check_mark: status: verified, slider, version: 16.0.x

#13485 chore(list): add missing export
  projects/igniteui-angular/src/lib/list/public_api.ts
Labels: list, :white_check_mark: status: verified, version: 16.1.x

#13471 fix(slider): properly adjusting bounds #13403
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
Labels: :white_check_mark: status: verified, slider, version: 16.1.x

#13489 chore(list): add missing export
  projects/igniteui-angular/src/lib/list/public_api.ts
Labels: list, :white_check_mark: status: verified, version: 16.0.x

#13474 feat(button-group): adding selectionMode property
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-16_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-16_1_0/index.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-default-expression.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-moving.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-sorting.component.html
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.html
  src/app/buttonGroup/buttonGroup.sample.html
  src/app/buttonGroup/buttonGroup.sample.ts
  src/app/drop-down/drop-down.sample.html
  src/app/grid-column-selection/grid-column-selection.sample.html
  src/app/grid-external-filtering/grid-external-filtering.sample.html
  src/app/grid-filtering/grid-filtering.sample.html
  src/app/grid-finjs/controllers.component.html
Labels: :white_check_mark: status: verified, button-group, version: 16.1.x

#13483 refactor(themes): use already ingested border-radius
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/snackbar/_snackbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/splitter/_splitter-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tooltip/_tooltip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/watermark/_watermark-theme.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 16.1.x

#13503 fix(tree): expand indicator directive #13502
  projects/igniteui-angular/src/lib/tree/public_api.ts
  projects/igniteui-angular/src/lib/tree/tree-navigation.spec.ts
  projects/igniteui-angular/src/lib/tree/tree-node/tree-node.component.ts
  projects/igniteui-angular/src/lib/tree/tree-samples.spec.ts
  src/app/tree/tree.sample.html
  src/app/tree/tree.sample.ts
Labels: :white_check_mark: status: verified, tree, version: 16.1.x

#13504 fix(tree): expand indicator directive #13502
  projects/igniteui-angular/src/lib/tree/public_api.ts
  projects/igniteui-angular/src/lib/tree/tree-navigation.spec.ts
  projects/igniteui-angular/src/lib/tree/tree-node/tree-node.component.ts
  projects/igniteui-angular/src/lib/tree/tree-samples.spec.ts
  src/app/tree/tree.sample.html
  src/app/tree/tree.sample.ts
Labels: :white_check_mark: status: verified, tree, version: 16.0.x

#13499 fix(hierarchical-grid): add setter for child grid row data - 15.1.x
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 15.1.x

#13497 fix(hierarchical-grid): add setter for child grid row data - master
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 16.1.x

#13498 fix(hierarchical-grid): add setter for child grid row data - 16.0.x
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 16.0.x

#13492 refactor(divider): fix the component in flex context and add dev sample
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/divider/_divider-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/divider/_divider-theme.scss
  projects/igniteui-angular/src/lib/directives/divider/divider.directive.ts
  projects/igniteui-angular/src/lib/directives/divider/divider.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/divider/divider.component.html
  src/app/divider/divider.component.scss
  src/app/divider/divider.component.ts
Labels: :white_check_mark: status: verified, divider, version: 16.1.x
