Repository IgniteUI/igniteui-angular, pull requests merged in 2023-12, with the labels that each got.

#13701 refactor(*): tree-shaking for application builder
  angular.json
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/accordion/public_api.ts
  projects/igniteui-angular/src/lib/action-strip/public_api.ts
  projects/igniteui-angular/src/lib/grids/grid/public_api.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/public_api.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/public_api.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/public_api.ts
Labels: :bricks: ci: build, squash-merge, version: 17.0.x

#13718 fix(igxForOf): do not reset state.startIndex with scroll position
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: :white_check_mark: status: verified, virtualization, version: 17.1.x

#13709 FIX: setState() throws error when column and columnGroup have same header
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
Labels: :white_check_mark: status: verified, grid: multi-column-headers, grid: state-persistence, grid, version: 17.0.x

#13710 FIX: setState() throws error when column and columnGroup have same header
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
Labels: :white_check_mark: status: verified, grid: multi-column-headers, grid: state-persistence, version: 16.1.x

#13708 chore(*): Add simplified api for getting the state due to insufficien…
  projects/igniteui-angular-elements/src/analyzer/elements.config.ts
  projects/igniteui-angular-elements/src/index.html
  projects/igniteui-angular-elements/src/lib/state.component.ts
  projects/igniteui-angular/src/lib/data-operations/paging-state.interface.ts
  projects/igniteui-angular/src/lib/grids/public_api.ts
  projects/igniteui-angular/src/lib/grids/state-base.directive.ts
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  projects/igniteui-angular/src/lib/grids/state.hierarchicalgrid.spec.ts
  projects/igniteui-angular/src/lib/grids/state.treegrid.spec.ts
  src/app/grid-state/grid-state.component.ts
Labels: :white_check_mark: status: verified, squash-merge, grid: state-persistence, :diamond_shape_with_a_dot_inside: grid: elements

#13712 fix(migrations,ng-add): turn on encapsulation for devkit/schematics deps
  projects/igniteui-angular/migrations/common/ServerHost.ts
  projects/igniteui-angular/migrations/common/UpdateChanges.ts
  projects/igniteui-angular/migrations/common/filterSourceDirs.ts
  projects/igniteui-angular/migrations/common/tsUtils.ts
  projects/igniteui-angular/migrations/common/util.ts
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/tsconfig.json
  projects/igniteui-angular/migrations/update-10_1_0/index.ts
  projects/igniteui-angular/migrations/update-10_2_0/index.ts
  projects/igniteui-angular/migrations/update-11_0_0/index.ts
  projects/igniteui-angular/migrations/update-11_1_0/index.ts
  projects/igniteui-angular/migrations/update-12_0_0/index.ts
  projects/igniteui-angular/migrations/update-12_1_0/index.ts
  projects/igniteui-angular/migrations/update-13_0_0/index.ts
  projects/igniteui-angular/migrations/update-13_1_0/index.ts
  projects/igniteui-angular/migrations/update-13_2_0/index.ts
  projects/igniteui-angular/migrations/update-14_1_0/index.ts
  projects/igniteui-angular/migrations/update-15_0_0/index.ts
  projects/igniteui-angular/migrations/update-15_0_11/index.ts
  projects/igniteui-angular/migrations/update-15_0_4/index.ts
  projects/igniteui-angular/migrations/update-15_1_0/index.ts
  projects/igniteui-angular/migrations/update-16_0_0/index.ts
  projects/igniteui-angular/migrations/update-16_1_0/index.ts
  projects/igniteui-angular/migrations/update-17_0_0/index.ts
  projects/igniteui-angular/migrations/update-6/index.ts
  projects/igniteui-angular/migrations/update-6_01/index.ts
  projects/igniteui-angular/migrations/update-6_02/index.ts
  projects/igniteui-angular/migrations/update-6_1/index.ts
  projects/igniteui-angular/migrations/update-6_2/index.ts
  projects/igniteui-angular/migrations/update-6_2_1/index.ts
  projects/igniteui-angular/migrations/update-7_0_2/index.ts
  projects/igniteui-angular/migrations/update-7_2_0/index.ts
  projects/igniteui-angular/migrations/update-7_3_4/index.ts
  projects/igniteui-angular/migrations/update-8_2_0/index.ts
  projects/igniteui-angular/migrations/update-8_2_3/index.ts
  projects/igniteui-angular/migrations/update-8_2_6/index.ts
  projects/igniteui-angular/migrations/update-9_0_0/index.ts
  projects/igniteui-angular/migrations/update-9_0_1/index.ts
  projects/igniteui-angular/migrations/update-9_1_0/index.ts
  projects/igniteui-angular/schematics/collection.json
  projects/igniteui-angular/schematics/ng-add/add-normalize.ts
  projects/igniteui-angular/schematics/ng-add/index.ts
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
  projects/igniteui-angular/schematics/utils/package-handler.ts
  projects/igniteui-angular/schematics/utils/util.ts
Labels: :white_check_mark: status: verified, migrations, ng add, version: 17.0.x

#13732 fix(migrations,ng-add): turn on encapsulation for devkit/schematics deps
  projects/igniteui-angular/migrations/common/ServerHost.ts
  projects/igniteui-angular/migrations/common/UpdateChanges.ts
  projects/igniteui-angular/migrations/common/filterSourceDirs.ts
  projects/igniteui-angular/migrations/common/tsUtils.ts
  projects/igniteui-angular/migrations/common/util.ts
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/tsconfig.json
  projects/igniteui-angular/migrations/update-10_1_0/index.ts
  projects/igniteui-angular/migrations/update-10_2_0/index.ts
  projects/igniteui-angular/migrations/update-11_0_0/index.ts
  projects/igniteui-angular/migrations/update-11_1_0/index.ts
  projects/igniteui-angular/migrations/update-12_0_0/index.ts
  projects/igniteui-angular/migrations/update-12_1_0/index.ts
  projects/igniteui-angular/migrations/update-13_0_0/index.ts
  projects/igniteui-angular/migrations/update-13_1_0/index.ts
  projects/igniteui-angular/migrations/update-13_2_0/index.ts
  projects/igniteui-angular/migrations/update-14_1_0/index.ts
  projects/igniteui-angular/migrations/update-15_0_0/index.ts
  projects/igniteui-angular/migrations/update-15_0_11/index.ts
  projects/igniteui-angular/migrations/update-15_0_4/index.ts
  projects/igniteui-angular/migrations/update-15_1_0/index.ts
  projects/igniteui-angular/migrations/update-16_0_0/index.ts
  projects/igniteui-angular/migrations/update-16_1_0/index.ts
  projects/igniteui-angular/migrations/update-17_0_0/index.ts
  projects/igniteui-angular/migrations/update-6/index.ts
  projects/igniteui-angular/migrations/update-6_01/index.ts
  projects/igniteui-angular/migrations/update-6_02/index.ts
  projects/igniteui-angular/migrations/update-6_1/index.ts
  projects/igniteui-angular/migrations/update-6_2/index.ts
  projects/igniteui-angular/migrations/update-6_2_1/index.ts
  projects/igniteui-angular/migrations/update-7_0_2/index.ts
  projects/igniteui-angular/migrations/update-7_2_0/index.ts
  projects/igniteui-angular/migrations/update-7_3_4/index.ts
  projects/igniteui-angular/migrations/update-8_2_0/index.ts
  projects/igniteui-angular/migrations/update-8_2_3/index.ts
  projects/igniteui-angular/migrations/update-8_2_6/index.ts
  projects/igniteui-angular/migrations/update-9_0_0/index.ts
  projects/igniteui-angular/migrations/update-9_0_1/index.ts
  projects/igniteui-angular/migrations/update-9_1_0/index.ts
  projects/igniteui-angular/schematics/collection.json
  projects/igniteui-angular/schematics/ng-add/add-normalize.ts
  projects/igniteui-angular/schematics/ng-add/index.ts
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
  projects/igniteui-angular/schematics/utils/package-handler.ts
  projects/igniteui-angular/schematics/utils/util.ts
Labels: :white_check_mark: status: verified, migrations, ng add, version: 17.1.x

#13739 chore: fix demos and sassdoc build scripts
  angular.json
  package.json
Labels: demos, sassdoc, version: 17.1.x

#13738 build(demo-app): use builder browser and built-in hmr
  angular.json
  package.json
Labels: demos, :white_check_mark: status: verified, version: 17.0.x

#13689 fix(igxForOf): Unify vertical and horizontal scroll handling, such as…
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  src/app/virtual-for-directive/virtual-for.sample.ts
Labels: :white_check_mark: status: verified, version: 17.1.x

#13729 Recalculate summary sizes when reset caches is called --16.1.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid: summaries, grid: resizing, version: 16.1.x

#13743 fix(excel search): error onFocus when no matches
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
Labels: :bug: bug, :white_check_mark: status: verified, grid: excel-style-filtering

#13740 fix(dropdown): active items in fluent theme
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
Labels: :white_check_mark: status: verified, dropdown, fluent-theme, design: verified, version: 17.1.x

#13727 Recalculate summary sizes when reset caches is called
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid: summaries, grid: resizing, version: 17.1.x

#13728 Recalculate summary sizes when reset caches is called --17.0.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid: summaries, grid: resizing, version: 17.0.x

#13749 deps(sassdoc-theme): bump to latest version
  package-lock.json
  package.json
Labels: npm, :white_check_mark: status: verified, sassdoc, version: 17.1.x

#13733 fix(hGrid): emit events for child grids with mch
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: column-pinning, grid: multi-column-headers, grid: hierarchical-grid, grid: column-hiding, grid: collapsible-column-groups, version: 17.1.x

#13753 chore(migrations): update using standalone schematics
  projects/igniteui-angular/package.json
Labels: schematics, version: 17.1.x

#13735 fix(hGrid): emit events for child grids with mch - 16.1.x
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: column-pinning, grid: multi-column-headers, grid: hierarchical-grid, grid: column-hiding, grid: collapsible-column-groups, version: 16.1.x

#13734 fix(hGrid): emit events for child grids with mch - 17.0.x
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: column-pinning, grid: multi-column-headers, grid: hierarchical-grid, grid: column-hiding, grid: collapsible-column-groups, version: 17.0.x

#13713 chore(*): Updating 'fflate' to v0.8.1. #13676
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
Labels: :white_check_mark: status: verified, excel-exporter, version: 16.1.x

#13714 chore(*): Updating 'fflate' to v0.8.1. #13676
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
Labels: :white_check_mark: status: verified, excel-exporter, version: 17.0.x
