Repository IgniteUI/igniteui-angular, pull requests merged in 2023-01, with the labels that each got.

#12373 Expose groupRecord property in grid summaries on master
  projects/igniteui-angular/src/lib/grids/grid/grid.summary.pipe.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.service.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.ts
Labels: :white_check_mark: status: verified, grid: summaries, version: 15.0.x

#12372 Expose groupRecord property in grid summaries on 14.2.x
  projects/igniteui-angular/src/lib/grids/grid/grid.summary.pipe.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.service.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.ts
Labels: :white_check_mark: status: verified, version: 14.2.x

#12478 chore(changelog): Add short description for groupRecord in changelog
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.ts
Labels: :book: documentation

#12474 fix(hgrid-copy): correctly calculate expanded rows
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, grid: copy-paste, version: 15.1.x

#12475 fix(hgrid-copy): correctly calculate expanded rows - 15.0.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, grid: copy-paste, version: 15.0.x

#12476 fix(hgrid-copy): correctly calculate expanded rows - 14.2.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, grid: copy-paste, version: 14.2.x

#12494 refactor(*): replace px with rem for bound styles
  projects/igniteui-angular/src/lib/chips/chips-area.component.ts
  projects/igniteui-angular/src/lib/combo/combo-item.component.ts
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/list/list-item.component.html
  projects/igniteui-angular/src/lib/list/list-item.component.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 15.1.x

#12491 fix(toolbar): Reflect group by area styles when toolbar is enabled.
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
Labels: :white_check_mark: status: verified, grid: toolbar, version: 15.0.x

#12492 fix(toolbar): Reflect group by area styles when toolbar is enabled.
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
Labels: :white_check_mark: status: verified, grid: toolbar, version: 15.1.x

#12497 Do not close the dropdown menu if the Grid is scrolled horizontally and a column is being hidden through the UI --14.2
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid: toolbar-hiding, grid, version: 14.2.x

#12496 Do not close the dropdown menu if the Grid is scrolled horizontally and a column is being hidden through the UI --15.0
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid: toolbar-hiding, grid, version: 15.0.x

#12495 Do not close the dropdown menu if the Grid is scrolled horizontally and a column is being hidden through the UI
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid: toolbar-hiding, grid, version: 15.1.x

#12468 chore(*): update-roadmap-15-dec-2022
  ROADMAP.md
Labels: :book: documentation, version: 15.1.x

#12517 fix(chip): icons alignment in prefix/suffix containers
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
Labels: :white_check_mark: status: verified, chip, version: 15.1.x

#12525 fix(paginator): Display '1 of 1' when there are no records to show - 14.2.x
  projects/igniteui-angular/src/lib/paginator/pager.component.html
  projects/igniteui-angular/src/lib/paginator/paginator.component.spec.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
Labels: enhancement, :white_check_mark: status: verified, grid: paging, paginator, version: 14.2.x

#12528 fix(paginator): Display '1 of 1' when there are no records to show
  projects/igniteui-angular/src/lib/paginator/pager.component.html
  projects/igniteui-angular/src/lib/paginator/paginator.component.spec.ts
Labels: :x: status: awaiting-test, grid: paging, paginator, version: 15.1.x

#12524 fix(paginator): Display '1 of 1' when there are no records to show - 15.0.x
  projects/igniteui-angular/src/lib/paginator/pager.component.html
  projects/igniteui-angular/src/lib/paginator/paginator.component.spec.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
Labels: enhancement, :white_check_mark: status: verified, grid: paging, paginator, version: 15.0.x

#12520 fix(migrations): do not migrate for libs & migrate for server #12508
  projects/igniteui-angular/migrations/update-15_0_4/index.spec.ts
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
Labels: :white_check_mark: status: verified, migrations, version: 15.0.x

#12527 fix(grid): add explicit date comparison in crud service
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
Labels: :white_check_mark: status: verified, grid: row-editing, version: 15.1.x

#12530 fix(chip): icons alignment in prefix/suffix containers - 15.0.x
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
Labels: :white_check_mark: status: verified, chip, version: 15.0.x

#12531 fix(chip): icons alignment in prefix/suffix containers - 14.2.x
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
Labels: :white_check_mark: status: verified, chip, version: 14.2.x

#12506 chore(lint): making unused vars and args error
  .eslintrc.json
  e2e/cypress/plugins/index.ts
  package-lock.json
  package.json
  projects/igniteui-angular/cypress/plugins/index.ts
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.spec.ts
  projects/igniteui-angular/src/lib/core/selection.ts
  projects/igniteui-angular/src/lib/core/touch.ts
  projects/igniteui-angular/src/lib/data-operations/filtering-condition.ts
  projects/igniteui-angular/src/lib/data-operations/pivot-sort-strategy.ts
  projects/igniteui-angular/src/lib/data-operations/pivot-strategy.ts
  projects/igniteui-angular/src/lib/directives/filter/filter.directive.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-api.service.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  projects/igniteui-angular/src/lib/grids/resizing/pivot-grid/pivot-resizing.service.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.ts
  projects/igniteui-angular/src/test.ts
  src/app/pivot-grid-hierarchy/pivot-grid-hierarchy.sample.ts
Labels: :capital_abcd: ci: lint, version: 15.1.x

#12533 fix(grid): add explicit date comparison in crud service - 15.0.x
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
Labels: :white_check_mark: status: verified, grid: row-editing, version: 15.0.x

#12534 fix(grid): add explicit date comparison in crud service - 14.2.x
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
Labels: :white_check_mark: status: verified, grid: row-editing, version: 14.2.x

#12540 fix(grid-toolbar): toolbar doesn't fit content
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :white_check_mark: status: verified, grid: toolbar, version: 15.0.x

#12542 fix(card): actions typography overrides p styles
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
Labels: :white_check_mark: status: verified, card, :abcd: typography, :sparkles: themes, version: 15.1.x

#12571 test(tab): Fix timing issue related to tabs test.
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: :test_tube: ci: tests, grid, version: 15.0.x

#12448 fix(pivotGrid): Apply dimension width to pivot calcWidth.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 15.1.x

#12560 Running grid (selected) event in the angular zone
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: :white_check_mark: status: verified, grid: selection, version: 15.1.x

#12561 Running grid (selected) event in the angular zone 14.2
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: :white_check_mark: status: verified, grid: selection, grid: multi-cell-selection, version: 14.2.x

#12565 Running grid (selected) event in the angular zone 15.0
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: :white_check_mark: status: verified, grid: selection, grid: multi-cell-selection, version: 15.0.x

#12532 fix(grid-toolbar): toolbar doesn't fit content
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :white_check_mark: status: verified, grid: toolbar, version: 15.1.x

#12470 fix input prefix/suffix overlying the grid cell focus styles
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :white_check_mark: status: verified, input-group, grid, version: 15.1.x

#12564 fix(themes): passing css variables breaks build
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
Labels: list, :white_check_mark: status: verified, button, :sparkles: themes, grid, version: 15.0.x

#12553 Fix(grid): Do not clear neither transactions nor newData when canceli…
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
Labels: :white_check_mark: status: verified, grid: cell-editing, grid: row-editing, batch-editing, grid, version: 15.0.x

#12599 fix(banner): actions not alligned vertically
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-theme.scss
Labels: :x: status: awaiting-test, banner, :sparkles: themes, version: 15.0.x

#12598 fix(banner): actions not alligned vertically
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-theme.scss
Labels: :x: status: awaiting-test, banner, :sparkles: themes, version: 15.1.x

#12600 fix(banner): actions not alligned vertically
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-theme.scss
Labels: :white_check_mark: status: verified, banner, :sparkles: themes, version: 14.2.x

#12498 Fix(grid): Do not clear neither transactions nor newData when canceling rowEdit …
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-validation.spec.ts
Labels: :white_check_mark: status: verified, grid: cell-editing, grid: row-editing, batch-editing, grid, version: 15.1.x
