Repository IgniteUI/igniteui-angular, pull requests merged in 2023-03, with the labels that each got.

#12673 fix(grid): update group summaries when new row is added via UI
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
Labels: :white_check_mark: status: verified, grid: summaries, grid: groupby, grid: row-adding, grid, version: 15.1.x

#12674 fix(grid): update group summaries when new row is added via UI - 15.0.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
Labels: :white_check_mark: status: verified, grid: summaries, grid: groupby, grid: row-adding, grid, version: 15.0.x

#12675 fix(grid): update group summaries when new row is added via UI - 14.2.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
Labels: :white_check_mark: status: verified, grid: summaries, grid: groupby, grid: row-adding, grid, version: 14.2.x

#12681 feat(badge): implement square shape
  projects/igniteui-angular/src/lib/badge/badge.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  src/app/badge/badge.sample.html
Labels: badge, :white_check_mark: status: verified

#12670 fix(radio-group): focus checked radio
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
Labels: :white_check_mark: status: verified, radio-group, version: 15.1.x

#12714 fix(radio-group): focus checked radio
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
Labels: :white_check_mark: status: verified, radio-group, version: 15.0.x

#12682 fix(grid): Allow using custom sorting strategy when sorting mode is multiple
  CHANGELOG.md
  projects/igniteui-angular/src/lib/data-operations/grouping-expression.interface.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/strategy.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, grid: sorting, grid

#12730 fix(grid): Allow using custom sorting strategy when sorting mode is multiple
  projects/igniteui-angular/src/lib/data-operations/grouping-expression.interface.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/strategy.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, grid: sorting, grid, version: 15.0.x

#12728 fix(grid): Allow using custom sorting strategy when sorting mode is multiple - 14.2.x
  projects/igniteui-angular/src/lib/data-operations/grouping-expression.interface.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/strategy.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, grid: sorting, grid, version: 14.2.x

#12726 feat(avatar): implement shape attribute
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-15_1_0/changes/inputs.json
  projects/igniteui-angular/migrations/update-15_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-15_1_0/index.ts
  projects/igniteui-angular/src/lib/avatar/README.md
  projects/igniteui-angular/src/lib/avatar/avatar.component.spec.ts
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
  projects/igniteui-angular/src/lib/badge/README.md
  projects/igniteui-angular/src/lib/banner/banner.component.spec.ts
  projects/igniteui-angular/src/lib/card/README.md
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  src/app/avatar/avatar.sample.html
  src/app/badge/badge.sample.html
  src/app/bottomnav-routing/bottomnav-routing-views.sample.ts
  src/app/bottomnav/bottomnav.sample.html
  src/app/card/card.sample.html
  src/app/chips/chips.sample.html
  src/app/list-panning/list-panning.sample.html
  src/app/list-performance/list-performance.sample.html
  src/app/list/list.sample.html
  src/app/stepper/stepper.sample.html
  src/app/tabs-routing/tabs-routing-views.sample.ts
  src/app/tabs/tabs.sample.html
  src/app/tooltip/tooltip.sample.html
Labels: avatar, :white_check_mark: status: verified, :sparkles: themes, version: 15.1.x

#12733 feat(avatar): add rounded shape
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-15_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-15_1_0/index.ts
  projects/igniteui-angular/src/lib/avatar/avatar.component.spec.ts
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  src/app/avatar/avatar.sample.html
Labels: avatar, :white_check_mark: status: verified, version: 15.1.x

#12727 fix(badge): wrong shape in bootstrap theme
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_badge.scss
Labels: badge, :white_check_mark: status: verified, :sparkles: themes, version: 15.1.x

#12686 feat(simple-combo): navigate to next filtered item on ArrowDown
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, keyboard-navigation, squash-merge, simple-combo, version: 15.1.x

#12690 [readme]: browser support section cleanup
  README.md
Labels: :book: documentation, :wheelchair: a11y

#12672 chore(*): Export DropPosition api
  projects/igniteui-angular/src/lib/grids/public_api.ts
Labels: :book: documentation, :white_check_mark: status: verified, grid: column-moving, drag-drop, version: 15.1.x

#12678 Chore(*): Export DropPosition api
  projects/igniteui-angular/src/lib/grids/public_api.ts
Labels: :book: documentation, :white_check_mark: status: verified, grid: column-moving, drag-drop, version: 14.2.x

#12679 Chore(*): Export DropPosition api
  projects/igniteui-angular/src/lib/grids/public_api.ts
Labels: :white_check_mark: status: verified, grid: column-moving, drag-drop, version: 15.0.x

#12693 fix(simple-combo): display all list items when clearing the input by Space - 15.0.x
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 15.0.x

#12694 fix(simple-combo): display all list items when clearing the input by Space - 14.2.x
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 14.2.x

#12394 Expose `key` argument in the edit,add,delete event
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.spec.ts
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.nested.props.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-crud.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  src/app/action-strip/action-strip.sample.html
  src/app/action-strip/action-strip.sample.ts
  src/app/grid-row-edit/grid-row-edit-sample.component.html
  src/app/grid-row-edit/grid-row-edit-sample.component.ts
Labels: :x: status: awaiting-test, version: 15.1.x

#12658 feat(mask): Escape mask pattern literals
  CHANGELOG.md
  projects/igniteui-angular/src/lib/directives/mask/mask-parsing.service.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.ts
  src/app/mask/mask.sample.html
Labels: :white_check_mark: status: verified, mask-editor, version: 15.1.x

#12710 refactor(themes): change how the dependency tree is built and checked
  projects/igniteui-angular/src/lib/core/styles/base/_functions.scss
  projects/igniteui-angular/src/lib/core/styles/base/_mixins.scss
  projects/igniteui-angular/src/lib/core/styles/spec/_functions.spec.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 15.0.x

#12734 feat(grid): sort groups by values count
  CHANGELOG.md
  projects/igniteui-angular/src/lib/data-operations/sorting-strategy.ts
  src/app/grid-groupby/grid-groupby.sample.html
  src/app/grid-groupby/grid-groupby.sample.ts
Labels: :white_check_mark: status: verified, grid: groupby

#12709 refactor(themes): change how the dependency tree is built and checked
  projects/igniteui-angular/src/lib/core/styles/base/_functions.scss
  projects/igniteui-angular/src/lib/core/styles/base/_mixins.scss
  projects/igniteui-angular/src/lib/core/styles/spec/_functions.spec.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 15.1.x

#12697 feat(checkbox): implement validation
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.html
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.spec.ts
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/core/edit-provider.ts
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_checkbox.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_checkbox.scss
  projects/igniteui-angular/src/lib/directives/focus/focus.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/focus/focus.directive.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
Labels: enhancement, checkbox, :white_check_mark: status: verified, version: 15.1.x

#12754 fix(rating): size doesn't work
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 15.0.x

#12753 fix(rating): size doesn't work
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 15.1.x

#12723 fix(advanced-filtering): Commit operand edits made via the context menu - 14.2.x
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.ts
Labels: :white_check_mark: status: verified, grid: advanced-filtering, query-builder, version: 14.2.x

#12722 fix(advanced-filtering): Commit operand edits made via the context menu - 15.0.x
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.ts
Labels: :white_check_mark: status: verified, grid: advanced-filtering, query-builder, version: 15.0.x

#12721 fix(advanced-filtering): Commit operand edits made via the context menu
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.ts
Labels: :white_check_mark: status: verified, grid: advanced-filtering, query-builder, version: 15.1.x

#12700 fix(IgxComboBase,IgxSimpleCombo): open the simple combo dropdown in the correct vertical direction - 14.2.x
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 14.2.x

#12701 fix(IgxComboBase,IgxSimpleCombo): open the simple combo dropdown in the correct vertical direction - 15.0.x
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 15.0.x

#12656 fix(row-pinning): preserve pinned state when editing the primary key
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid: row-pinning, version: 15.1.x

#12755 chore(changelog): Update changelog with primaryKey exposed argument
  CHANGELOG.md
Labels: :x: status: awaiting-test

#12759 fix(tree-grid-cell): igxTextSelection directive on target cell editors - 15.0.x
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
Labels: :white_check_mark: status: verified, grid: cell-editing, grid: tree-grid, version: 15.0.x

#12758 fix(tree-grid-cell): igxTextSelection directive on target cell editors
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-integration.spec.ts
Labels: :white_check_mark: status: verified, grid: cell-editing, grid: tree-grid, version: 15.1.x

#12453 refactor(input): use the same design as web components.
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-15_1_0/changes/theme-changes.json
  projects/igniteui-angular/migrations/update-15_1_0/index.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/_index.scss
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/date-range-picker/_date-range-picker-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/date-range-picker/_date-range-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/scrollbar/scrollbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/select/_select-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/select/_select-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_combo.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_input-group.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_select.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_combo.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_input-group.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_scrollbar.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_select.scss
  projects/igniteui-angular/src/lib/date-common/picker-base.directive.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.html
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
  projects/igniteui-angular/src/lib/paginator/page-size-selector.component.html
  projects/igniteui-angular/src/lib/select/select-positioning-strategy.ts
  projects/igniteui-angular/src/lib/select/select.component.html
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.scss
  src/app/combo/combo.sample.ts
  src/app/input-group/input-group.sample.html
  src/app/input-group/input-group.sample.scss
  src/app/input-group/input-group.sample.ts
  src/app/select/select.sample.html
  src/app/select/select.sample.scss
  src/app/select/select.sample.ts
  src/app/tabs/tabs.sample.html
  src/styles/_variables.scss
Labels: input, :white_check_mark: status: verified, refactoring, version: 15.1.x

#12761 feat(switch): implement component validation
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_switch.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_switch.scss
  projects/igniteui-angular/src/lib/directives/focus/focus.directive.spec.ts
  projects/igniteui-angular/src/lib/switch/switch.component.html
  projects/igniteui-angular/src/lib/switch/switch.component.spec.ts
  projects/igniteui-angular/src/lib/switch/switch.component.ts
Labels: enhancement, switch, :white_check_mark: status: verified, version: 15.1.x

#12702 fix(IgxComboBase,IgxSimpleCombo): open the simple combo dropdown in the correct vertical direction - master
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 15.1.x

#12692 fix(simple-combo): display all list items when clearing the input by Space - master
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 15.1.x

#12657 chore(*): dependency updates, minor refactor and actions update
  .github/workflows/codeql-analysis.yml
  .github/workflows/npm-publish.yml
  .github/workflows/stale.yml
  package-lock.json
  package.json
  projects/igniteui-angular/karma.conf.js
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
Labels: :test_tube: ci: tests, ci: github-actions, version: 15.1.x

#12539 refactor(grid): unhide grid selection range methods
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: grid: general, grid: selection, typedoc, grid: multi-cell-selection, grid

#12779 docs(sass): update sassdoc theme and theming package
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_input-group.scss
Labels: sassdoc, :sparkles: themes, version: 15.1.x

#12743 fix -Pivot grid does not report value of cell in selectedData 15.0
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid: copy-paste, grid: pivot, version: 15.0.x

#12749 Host class binding refactor
  projects/igniteui-angular/.eslintrc.json
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.spec.ts
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.ts
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/chip.spec.ts
  projects/igniteui-angular/src/lib/chips/chips-area.component.ts
  projects/igniteui-angular/src/lib/chips/chips-area.spec.ts
  projects/igniteui-angular/src/lib/grids/column-actions/column-actions.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: general, refactoring, chip, action-strip, :capital_abcd: ci: lint, :diamond_shape_with_a_dot_inside: grid: elements

#12785 Escape special chars in column headers - 14.2.x
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data-dictionary.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/services/exporter-common/export-utilities.ts
Labels: :white_check_mark: status: verified, excel-exporter, version: 14.2.x

#12784 Escape special chars in column headers - 15.0.x
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data-dictionary.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/services/exporter-common/export-utilities.ts
Labels: :white_check_mark: status: verified, excel-exporter, version: 15.0.x

#12769 Escape special chars in column headers
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data-dictionary.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/services/exporter-common/export-utilities.ts
Labels: :white_check_mark: status: verified, excel-exporter

#12745 Display empty grid message when data is set and then cleared - 15.0
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
Labels: :white_check_mark: status: verified, grid: tree-grid, version: 15.0.x

#12746 Display empty grid message when the data is set and then cleared - master
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
Labels: :white_check_mark: status: verified, grid: tree-grid, version: 15.1.x

#12795 fix(card): removing card header role #12792
  projects/igniteui-angular/src/lib/card/README.md
  projects/igniteui-angular/src/lib/card/card.component.ts
  projects/igniteui-angular/src/lib/card/card.spec.ts
Labels: :white_check_mark: status: verified, card, version: 14.2.x

#12748 feat(grid): add a property to filter out columns from autogen
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, grid: general, :diamond_shape_with_a_dot_inside: grid: elements, version: 15.1.x

#12798 fix(migrations): temporary remove members migrations for 15.1
  projects/igniteui-angular/migrations/update-15_1_0/changes/members.json
Labels: migrations, version: 15.1.x

#12768 feat(groupby): adding cell-like formatting for group values #12752
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
Labels: :white_check_mark: status: verified, grid: groupby, triage: blocking, squash-merge, version: 15.1.x

#12777 feat(card): implement start & end directives
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-15_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-15_1_0/index.ts
  projects/igniteui-angular/src/lib/card/card-actions.component.html
  projects/igniteui-angular/src/lib/card/card.component.ts
  projects/igniteui-angular/src/lib/card/card.spec.ts
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/directives/prefix/prefix.directive.ts
  projects/igniteui-angular/src/lib/directives/suffix/suffix.directive.ts
  src/app/card/card.sample.html
Labels: enhancement, :white_check_mark: status: verified, card

#12762 fix(row-pinning): emit rowType from internal pin methods
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.spec.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-pinning-actions.component.ts
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
Labels: :white_check_mark: status: verified, grid: row-pinning

#12647 refactor(grid,paging): internal paginator API use
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/column-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-add-row.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-clipboard.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-indentation.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, refactoring, grid: paging, squash-merge, grid

#12440 Upgrade localization plugin to 3.3.0
  gulpfile.js
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/combo/combo-add-item.component.ts
  projects/igniteui-angular/src/lib/combo/combo-item.component.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/select/select-positioning-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/auto-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/base-fit-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/connected-positioning-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/container-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/elastic-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/global-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/scroll/NoOpScrollStrategy.ts
  projects/igniteui-angular/src/lib/services/overlay/scroll/absolute-scroll-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/scroll/block-scroll-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/scroll/close-scroll-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/scroll/scroll-strategy.ts
  projects/igniteui-angular/src/lib/services/transaction/base-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-transaction.ts
Labels: typedoc, localization

#12811 fix(input-group) filtering icon is not showing if it's not from the original material icon set.
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :white_check_mark: status: verified, input-group, version: 15.1.x

#12812 fix(select) Update the select size inside the context of the paginator.
  projects/igniteui-angular/src/lib/core/styles/components/paginator/_paginator-theme.scss
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
Labels: :white_check_mark: status: verified, select, paginator, version: 15.1.x

#12772 Grids' template context cleanup
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/public_api.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: grid: general, refactoring, grid, :diamond_shape_with_a_dot_inside: grid: elements, version: 15.1.x

#12818 fix(input-group) label cut off and broken ellipsis.
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: input, :white_check_mark: status: verified, version: 15.1.x

#12813 fix(input-group) remove color inherit from the borrder type input
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :white_check_mark: status: verified, input-group, version: 15.1.x

#12817 fix(row-pinning): preserve pinned state on editing primary key -14.2.x
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.spec.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-pinning-actions.component.ts
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
Labels: :white_check_mark: status: verified, grid: row-pinning, version: 14.2.x

#12816 fix(row-pinning): preserve pinned state when editing the primary key …
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.spec.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-pinning-actions.component.ts
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
Labels: :white_check_mark: status: verified, grid: row-pinning, version: 15.0.x

#12815 fix(radio-group): keyboard navigation issues in dialog
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
Labels: :white_check_mark: status: verified, radio-group

#12820 chore(schematics): official ingiteui schematics
  projects/igniteui-angular/package.json
Labels: migrations, version: 15.1.x

#12809 fix(filtering): reset expression to selected unary condition - 14.2.x
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, grid: filter-ui, version: 14.2.x

#12807 fix(filtering): reset expression to selected unary condition
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, grid: filter-ui, version: 15.1.x

#12802 fix(excel-exporter): fix grouped record display - 14.2.x
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: :white_check_mark: status: verified, excel-exporter, version: 14.2.x

#12800 fix(excel-exporter): fix grouped record display
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: :white_check_mark: status: verified, excel-exporter, version: 15.1.x

#12790 feat(IgxSimpleCombo): not open the drop-down on clear
  CHANGELOG.md
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
Labels: :white_check_mark: status: verified, squash-merge, simple-combo, version: 15.1.x

#12826 fix(input-group): font-size issue in fluent
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :white_check_mark: status: verified, input-group, fluent-theme, version: 14.2.x
