Repository IgniteUI/igniteui-angular, pull requests merged in 2023-02, with the labels that each got.

#12574 feat(card): correctly size when height changes
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
Labels: :x: status: awaiting-test, card, :sparkles: themes, version: 15.1.x

#12601 refactor(list): spec file refactoring
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/list/list-item.component.html
  projects/igniteui-angular/src/lib/list/list.component.spec.ts
Labels: list, :test_tube: ci: tests, :white_check_mark: status: verified, version: 15.1.x

#12549 fix(grid): make the cell required in cell template context
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
Labels: :white_check_mark: status: verified, grid, version: 15.0.x

#12548 fix(grid): make the cell required in cell template context
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
Labels: :white_check_mark: status: verified, grid, version: 15.1.x

#12513 fix(igxMask): Correct cursor position when typing - 14.2.x
  projects/igniteui-angular/src/lib/directives/mask/mask-parsing.service.ts
Labels: :white_check_mark: status: verified, mask-editor, version: 14.2.x

#12515 fix(igxMask): Correct cursor position when typing - master
  projects/igniteui-angular/src/lib/directives/mask/mask-parsing.service.ts
Labels: :white_check_mark: status: verified, mask-editor, version: 15.1.x

#12589 feat(simple-combo): ArrowUp does not immediately close dropdown
  CHANGELOG.md
  projects/igniteui-angular/src/lib/simple-combo/README.md
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, squash-merge, simple-combo, version: 15.1.x

#12430 refactor(pivotDate): Add getter/setters for pivot date dimension and make constructor props private.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-dimensions.ts
  projects/igniteui-angular/src/lib/grids/state.directive.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 15.1.x

#12624 docs(themes): add missing docs around theme mixins
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_indigo.scss
Labels: :white_check_mark: status: verified, sassdoc, :sparkles: themes, version: 15.1.x

#12625 docs(themes): add missing docs around theme mixins
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_indigo.scss
Labels: :white_check_mark: status: verified, sassdoc, :sparkles: themes, version: 15.0.x

#12618 Simple-combo: Opening the combo on input click - master
  CHANGELOG.md
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, squash-merge, simple-combo, version: 15.1.x

#12632 fix(grid): Grouping for columns of dataType date, time and dateTime - 14.2.x
  projects/igniteui-angular/src/lib/grids/common/strategy.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.html
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: :white_check_mark: status: verified, grid: groupby, version: 14.2.x

#12631 fix(grid): Grouping for columns of dataType date, time and dateTime - 15.0.x
  projects/igniteui-angular/src/lib/grids/common/strategy.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.html
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: :white_check_mark: status: verified, grid: groupby, version: 15.0.x

#12628 fix(theme): igx-overlay not registered as theme dependency
  projects/igniteui-angular/src/lib/core/styles/base/_variables.scss
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/snackbar/_snackbar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-component.scss
Labels: :x: status: awaiting-test, :sparkles: themes, version: 15.1.x

#12633 Update typography, scrollbar & grays
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-15_0_11/index.spec.ts
  projects/igniteui-angular/migrations/update-15_0_11/index.ts
Labels: :white_check_mark: status: verified, migrations, squash-merge, version: 15.1.x

#12635 fix(themes): scoped typography doesn't update component type categories
  gulpfile.js
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
  projects/igniteui-angular/tsconfig.lib.json
Labels: :white_check_mark: status: verified, :abcd: typography, :sparkles: themes, version: 15.1.x

#12636 fix(themes): scoped typography doesn't update component type categories
  gulpfile.js
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/tsconfig.lib.json
Labels: :white_check_mark: status: verified, :abcd: typography, :sparkles: themes, version: 15.0.x

#12642 fix(cell-selection): add default selection in edit mode - 15.0.x
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  src/app/grid-cellEditing/grid-cellEditing.component.ts
Labels: grid: cell-editing, version: 15.0.x

#12639 refactor(filtering): remove redundant defaults object export
  projects/igniteui-angular/src/lib/data-operations/filtering-state.interface.ts
Labels: :white_check_mark: status: verified, grid: general, refactoring, filtering, version: 15.1.x

#12650 refactor(filtering): remove redundant defaults object export
  projects/igniteui-angular/src/lib/data-operations/filtering-state.interface.ts
Labels: grid: general, refactoring, filtering, version: 15.0.x

#12649 refactor(filtering): remove redundant defaults object export
  projects/igniteui-angular/src/lib/data-operations/filtering-state.interface.ts
Labels: grid: general, refactoring, filtering, version: 14.2.x

#12604 refactor(*): removing unnecessary and bumping up necessary dependencies
  package-lock.json
  package.json
  projects/igniteui-angular/karma.conf.js
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.spec.ts
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/date-common/calendar-container/calendar-container.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.navigation.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
  projects/igniteui-angular/src/test.ts
Labels: :test_tube: ci: tests, dependencies, version: 15.1.x

#12645 Wrap nativeElement.select in a raf call - 14.2.x
  projects/igniteui-angular/src/lib/directives/text-selection/text-selection.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/text-selection/text-selection.directive.ts
Labels: :white_check_mark: status: verified, :date: date-picker, squash-merge, date-range-picker, text-selection, version: 14.2.x

#12558 fix(i18n): Fixing French translation - 15.0.x
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
Labels: status: localized, :white_check_mark: status: verified, grid: filter-ui, version: 15.0.x

#12644 Wrap nativeElement.select in a raf call - 15.0.x
  projects/igniteui-angular/src/lib/directives/text-selection/text-selection.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/text-selection/text-selection.directive.ts
Labels: :white_check_mark: status: verified, :date: date-picker, squash-merge, date-range-picker, text-selection, version: 15.0.x

#12646 Wrap nativeElement.select in a raf call - 15.1.x
  projects/igniteui-angular/src/lib/directives/text-selection/text-selection.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/text-selection/text-selection.directive.ts
Labels: :white_check_mark: status: verified, :date: date-picker, squash-merge, date-range-picker, text-selection, version: 15.1.x

#12597 feat(radio): implement invalid state
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/dark/_radio.scss
  projects/igniteui-angular/src/lib/core/styles/themes/schemas/light/_radio.scss
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/radio/radio.component.html
  projects/igniteui-angular/src/lib/radio/radio.component.spec.ts
  projects/igniteui-angular/src/lib/radio/radio.component.ts
  src/app/radio/radio.sample.css
  src/app/radio/radio.sample.html
  src/app/radio/radio.sample.ts
Labels: enhancement, radio-button, :x: status: awaiting-test, radio-group, design: awaiting-validation

#12654 fix(filtering): tree in filtering menu displays scrollbar
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, :sparkles: themes, version: 15.0.x

#12653 fix(filtering): tree in filtering menu displays scrollbar
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, :sparkles: themes, version: 15.1.x

#12651 refactor(lint): removing leftover on-prefixed outputs
  CHANGELOG.md
  projects/igniteui-angular/.eslintrc.json
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-11_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-15_1_0/changes/members.json
  projects/igniteui-angular/migrations/update-15_1_0/changes/outputs.json
  projects/igniteui-angular/migrations/update-15_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-15_1_0/index.ts
  projects/igniteui-angular/src/lib/carousel/README.md
  projects/igniteui-angular/src/lib/carousel/carousel.component.spec.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/core/displayDensity.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/grid.excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav-headers.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/row-drag.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/list/list.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/tree/README.md
  projects/igniteui-angular/src/lib/tree/tree.component.ts
  src/app/grid-groupby/grid-groupby.sample.ts
Labels: squash-merge, breaking-change, :capital_abcd: ci: lint, version: 15.1.x

#12559 fix(i18n): Fixing French translation - master
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
Labels: status: localized, :white_check_mark: status: verified, grid: filter-ui, version: 15.1.x

#12557 fix(i18n): Fixing French translation - 14.2.x
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
Labels: status: localized, :white_check_mark: status: verified, grid: filter-ui, version: 14.2.x

#12660 feat(tabs scrolling): Add min-width to parent container
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
Labels: :white_check_mark: status: verified, tabs, :sparkles: themes, design: verified, version: 15.1.x

#12616 fix(esf): aria-disabled on clear filters item - 14.2.x
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-clear-filters.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, :wheelchair: a11y, grid: excel-style-filtering, version: 14.2.x

#12614 fix(esf): aria-disabled on clear filters item - master
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-clear-filters.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, :wheelchair: a11y, grid: excel-style-filtering, version: 15.1.x

#12666 fix(button styling): add style properties to toggle button
  src/app/action-strip/action-strip.sample.html
  src/app/action-strip/action-strip.sample.scss
  src/app/action-strip/action-strip.sample.ts
Labels: :white_check_mark: status: verified

#12662 feat(tabs scrolling): Add min-width to parent container on 15.0.x
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
Labels: :white_check_mark: status: verified, version: 15.0.x

#12661 feat(tabs scrolling): Add min-width to parent container on 14.2.x
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
Labels: :x: status: awaiting-test, version: 14.2.x

#12659 chore(changelog): list radio validation feature
  CHANGELOG.md
Labels: :book: documentation, :white_check_mark: status: verified, version: 15.1.x

#12668 fix(title change): section title changed to reactive forms
  src/app/date-range/date-range.sample.html
  src/app/date-range/date-range.sample.scss
Labels: :white_check_mark: status: verified

#12400 fix(grid): update response from emitRowSelectionEvent to have whole record
  CHANGELOG.md
  projects/igniteui-angular/src/lib/date-common/util/date-time.util.spec.ts
  projects/igniteui-angular/src/lib/grids/api.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.selection.spec.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: :white_check_mark: status: verified, grid: row-selection

#12684 test(date-util): make format check w/ space more flexible
  projects/igniteui-angular/src/lib/date-common/util/date-time.util.spec.ts
Labels: :test_tube: ci: tests, date-time-utils, version: 14.2.x

#12685 test(date-util): make format check w/ space more flexible
  projects/igniteui-angular/src/lib/date-common/util/date-time.util.spec.ts
Labels: :test_tube: ci: tests, date-time-utils, version: 15.0.x

#12683 test(date-util): make format check w/ space more flexible
  projects/igniteui-angular/src/lib/date-common/util/date-time.util.spec.ts
Labels: :test_tube: ci: tests, text-selection, date-time-utils, version: 15.1.x

#12626 feat(transactions): clean pending state changes resulting in initial
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/services/transaction/base-transaction.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-transaction.spec.ts
  projects/igniteui-angular/src/lib/services/transaction/igx-transaction.ts
Labels: :white_check_mark: status: verified, squash-merge, grid: row-editing, batch-editing, transaction, version: 15.1.x
