Repository IgniteUI/igniteui-angular, pull requests merged in 2024-11, with the labels that each got.

#14996 fix(ExcelExporter): Remove the null char from cell value
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.spec.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/export-utilities.ts
Labels: :white_check_mark: status: verified, excel-exporter, version: 17.2.x

#14995 fix(ExcelExporter): Remove the null char from cell value
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.spec.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/export-utilities.ts
Labels: :white_check_mark: status: verified, excel-exporter, version: 18.2.x

#14980 fix(ExcelExport): Remove the not supported null char. #14944
  projects/igniteui-angular/src/lib/services/excel/excel-exporter.spec.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/export-utilities.ts
Labels: :white_check_mark: status: verified, excel-exporter, 19.0.x

#14994 test(combo): fixing combo test with new puppeteer (cherrypick from master)
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: :test_tube: ci: tests

#14976 fix(navigation-drawer): fix ARIA role issue warning.
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.html
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.spec.ts
  src/app/app.component.html
Labels: :white_check_mark: status: verified, :wheelchair: a11y, navdrawer, version: 19.0.x

#14977 fix(navigation-drawer): fix ARIA role issue warning
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.html
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.spec.ts
  src/app/app.component.html
Labels: nav-drawer, :white_check_mark: status: verified, :wheelchair: a11y, version: 18.2.x

#14978 fix(navigation-drawer): fix ARIA role issue warning
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.html
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.spec.ts
  src/app/app.component.html
Labels: nav-drawer, :white_check_mark: status: verified, :wheelchair: a11y, version: 17.2.x

#14687 Ignore time portions when filtering 'date' type columns - 18.1.0
  projects/igniteui-angular/src/lib/data-operations/filtering-condition.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: :white_check_mark: status: verified

#14964 refactor(combo): only handle selection set in id setter - 18.2.x
  projects/igniteui-angular/src/lib/combo/combo.common.ts
Labels: :white_check_mark: status: verified, combo, version: 18.2.x

#14966 refactor(combo): only handle selection set in id setter - 17.2.x
  projects/igniteui-angular/src/lib/combo/combo.common.ts
Labels: :white_check_mark: status: verified, combo, version: 17.2.x

#14959 refactor(combo): only handle selection set in id setter - master
  projects/igniteui-angular/src/lib/combo/combo.common.ts
Labels: :white_check_mark: status: verified, combo, version: 19.0.x

#14788 Fixed header height issue for grouped headers
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, grid, version: 19.0.x

#15001 Fixed header height issue for grouped headers
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, grid: header-template, version: 18.2.x

#14968 fix(combo): update touched property and apply invalid color on blur when required - follow-up - 17.2.x
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: :white_check_mark: status: verified, combo, version: 17.2.x, forms: validation

#14963 fix(combo): update touched property and apply invalid color on blur when required - follow-up - master
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: :white_check_mark: status: verified, combo, forms: validation, version: 19.0.x

#14967 fix(combo): update touched property and apply invalid color on blur when required - follow-up - 18.2.x
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: :white_check_mark: status: verified, combo, version: 18.2.x, forms: validation

#15014 fix(query-builder): delete empty groups - 17.2.x
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.ts
Labels: :x: status: awaiting-test, grid: advanced-filtering, query-builder, version: 17.2.x

#15018 fix(grid,filtering): expression tree interface optional find methods
  projects/igniteui-angular/src/lib/data-operations/filtering-expressions-tree.ts
Labels: :white_check_mark: status: verified, filtering, grid, version: 18.2.x

#15017 fix(grid,filtering): expression tree interface optional find methods
  projects/igniteui-angular/src/lib/data-operations/filtering-expressions-tree.ts
Labels: :white_check_mark: status: verified, filtering, grid, version: 19.0.x

#14969 Filter grid correctly with case insensitive duplicate records - master
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 19.0.x

#14946 Filter grid correctly with case insensitive duplicate records - 18.2.x
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 18.2.x

#14948 Filter grid correctly with case insensitive duplicate records - 17.2
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 17.2.x

#14960 chore(demos): update use of filterGlobal to clear with empty input
  src/app/grid-events/grid-events.component.ts
Labels: demos, :white_check_mark: status: verified

#14914 fix(for-of): removing warnings about passive listeners
  projects/igniteui-angular/src/lib/directives/scroll-inertia/scroll_inertia.directive.ts
Labels: :white_check_mark: status: verified, virtualization, version: 19.0.x

#15028 refactor(tabs): remove unnecessary styles
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
Labels: styling, :white_check_mark: status: verified, tabs, indigo-theme, version: 19.0.x

#15010 test(hgrid): fix flicker for scrolling inside hierarchical grid
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
Labels: :test_tube: ci: tests, virtualization, grid: hierarchical-grid

#15031 test(hgrid): fix flicker for scrolling inside hierarchical grid
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
Labels: :test_tube: ci: tests, virtualization, grid: hierarchical-grid, version: 18.2.x

#14927 refactor(time-picker): remove redundant styles
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-18_2_3/changes/theme-changes.json
  projects/igniteui-angular/migrations/update-18_2_3/index.spec.ts
  projects/igniteui-angular/migrations/update-18_2_3/index.ts
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
Labels: :white_check_mark: status: verified, :clock1: time-picker, design: verified, version: 18.2.x

#15041 test(combo): fix flickering scroll test
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: :test_tube: ci: tests, combo, version: 18.2.x

#15039 test(combo): fix flickering scroll test
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: :test_tube: ci: tests, combo, version: 19.0.x

#15036 fix(dropdown): fix typography for boostrap and fluent themes
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
Labels: :white_check_mark: status: verified, dropdown, version: 19.0.x

#15037 fix(dropdown): fix typography for boostrap and fluent themes
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
Labels: :white_check_mark: status: verified, dropdown, version: 18.2.x

#15038 fix(dropdown): fix typography for boostrap and fluent themes
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
Labels: :white_check_mark: status: verified, dropdown, version: 17.2.x

#15042 deps(theming): bump theming package to version 14.2.0
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
Labels: :sparkles: themes, dependencies, version: 18.2.x

#14950 refactor(time-picker): remove redundant styles
  package-lock.json
  package.json
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-18_2_3/changes/theme-changes.json
  projects/igniteui-angular/migrations/update-18_2_3/index.spec.ts
  projects/igniteui-angular/migrations/update-18_2_3/index.ts
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
Labels: :white_check_mark: status: verified, :clock1: time-picker, design: verified, version: 19.0.x

#15034 fix(dialog): fix dialog discrepancies whit the UI kit
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
Labels: dialog, :white_check_mark: status: verified, version: 17.2.x

#15024 fix(slider): ensure upper thumb reaches maxValue with decimal steps - 17.2.x
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
Labels: :white_check_mark: status: verified, slider, version: 17.2.x

#15023 fix(slider): ensure upper thumb reaches maxValue with decimal steps - 18.2.x
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
Labels: :white_check_mark: status: verified, slider, version: 18.2.x

#15032 fix(dialog): fix dialog discrepancies whit the UI kit
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
Labels: dialog, :white_check_mark: status: resolved, version: 19.0.x

#15022 fix(slider): ensure upper thumb reaches maxValue with decimal steps - master
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
Labels: :white_check_mark: status: verified, slider, version: 19.0.x

#15033 fix(dialog): fix dialog discrepancies whit the UI kit
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
Labels: dialog, :white_check_mark: status: verified, version: 18.2.x

#15029 refactor(tabs): Match design to the latest Web Components repo changes
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  src/app/tabs/tabs.sample.html
  src/app/tabs/tabs.sample.scss
Labels: :x: status: awaiting-test, tabs, version: 19.0.x

#15030 refactor(tabs): Match design to the latest Web Components repo changes
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  src/app/tabs/tabs.sample.html
  src/app/tabs/tabs.sample.scss
Labels: :white_check_mark: status: verified, tabs, version: 18.2.x

#15006 feat(grid-summary): summary disabling with disabledSummaries property
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.service.ts
Labels: :white_check_mark: status: verified, grid: summaries, grid, version: 19.0.x

#15035 fix(query-builder): delete empty groups - 17.2.x
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.ts
Labels: :white_check_mark: status: verified, grid: advanced-filtering, query-builder, version: 17.2.x

#15012 fix(query-builder): delete empty groups - master
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.ts
Labels: :white_check_mark: status: verified, grid: advanced-filtering, query-builder, version: 19.0.x

#15044 fix(datepicker): fix header title templating
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: :white_check_mark: status: verified, :date: date-picker, version: 19.0.x

#15045 fix(datepicker): fix header title templating
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: :white_check_mark: status: verified, :date: date-picker, version: 18.2.x

#15046 fix(datepicker): fix header title templating
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
Labels: :white_check_mark: status: verified, :date: date-picker, version: 17.2.x

#15056 feat(themes): add theme property to components
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/bottom-nav/_bottom-nav-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/column-actions/_column-actions-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/divider/_divider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-summary/_grid-summary-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_pivot-data-selector-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/highlight/highlight-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon-button/_icon-button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon/_icon-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/label/_label-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/paginator/_paginator-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/query-builder/_query-builder-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/ripple/_ripple-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/scrollbar/scrollbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/select/_select-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/snackbar/_snackbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/splitter/_splitter-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tooltip/_tooltip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/watermark/_watermark-theme.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 19.0.x

#15061 feat(themes): add theme property to components
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/bottom-nav/_bottom-nav-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/column-actions/_column-actions-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/divider/_divider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-summary/_grid-summary-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_pivot-data-selector-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/highlight/highlight-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon-button/_icon-button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon/_icon-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/label/_label-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/paginator/_paginator-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/query-builder/_query-builder-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/ripple/_ripple-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/scrollbar/scrollbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/select/_select-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/snackbar/_snackbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/splitter/_splitter-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tooltip/_tooltip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/watermark/_watermark-theme.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 18.2.x

#14956 fix(date-range): projected input focus restore on consecutive close
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
Labels: :white_check_mark: status: verified, keyboard-navigation, :date: date-range-picker, version: 17.2.x

#14951 fix(date-range): projected input focus restore on consecutive close
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
Labels: :white_check_mark: status: verified, keyboard-navigation, :date: date-range-picker, version: 18.2.x

#14955 fix(date-range): projected input focus restore on consecutive close
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
Labels: :white_check_mark: status: verified, keyboard-navigation, :date: date-range-picker, version: 19.0.x

#15052 refactor(grids): check if primaryKey exists as a field in the data instead of in the columns
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: :white_check_mark: status: verified, grid: tree-grid, grid: hierarchical-grid, grid, version: 19.0.x

#15063 refactor(list): item gaps and margins
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
Labels: list, styling, :white_check_mark: status: verified, version: 19.0.x

#15066 refactor(list): item gaps and margins
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
Labels: list, :white_check_mark: status: verified, version: 18.2.x

#15068 fix(avatar): src is not encoded as URI
  projects/igniteui-angular/src/lib/avatar/avatar.component.spec.ts
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  src/app/avatar/avatar.sample.html
  src/assets/images/avatar/17 - Test.jpg
Labels: avatar, :white_check_mark: status: verified, version: 19.0.x

#15069 fix(avatar): src is not encoded as URI
  projects/igniteui-angular/src/lib/avatar/avatar.component.spec.ts
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  src/app/avatar/avatar.sample.html
  src/assets/images/avatar/17 - Test.jpg
Labels: avatar, :white_check_mark: status: verified, version: 18.2.x

#15070 fix(avatar): src is not encoded as URI
  projects/igniteui-angular/src/lib/avatar/avatar.component.spec.ts
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  src/app/avatar/avatar.sample.html
  src/assets/images/avatar/17 - Test.jpg
Labels: avatar, :white_check_mark: status: verified, version: 17.2.x

#15067 fix(checkbox): tickmark not rendered correctly in indigo theme
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
Labels: checkbox, :white_check_mark: status: verified, :sparkles: themes, version: 18.2.x

#15080 fix(checkbox): tickmark not rendered correctly in indigo theme
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
Labels: checkbox, :white_check_mark: status: verified, indigo-theme, :sparkles: themes, version: 19.0.x

#15076 fix(themes): add missing igx-icon-button deps
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/paginator/_paginator-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/query-builder/_query-builder-component.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, icon-button, version: 19.0.x

#15078 fix(themes): add missing igx-icon-button deps
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/paginator/_paginator-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/query-builder/_query-builder-component.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, icon-button, version: 17.2.x

#15072 fix(calendar): make isDate work with objects from different realms
  projects/igniteui-angular/src/lib/calendar/common/calendar-view.directive.ts
  projects/igniteui-angular/src/lib/calendar/common/model.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  src/app/avatar/avatar.sample.html
  src/app/input/input.sample.html
  src/assets/images/avatar/17.jpg
Labels: :x: status: awaiting-test, :date: date-picker, :calendar: calendar, squash-merge, :date: date-range-picker, :date: date-time-editor, date-time-utils, version: 19.0.x

#15082 fix(calendar): make isDate work with objects from different realms
  projects/igniteui-angular/src/lib/calendar/common/calendar-view.directive.ts
  projects/igniteui-angular/src/lib/calendar/common/model.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  src/app/avatar/avatar.sample.html
  src/app/input/input.sample.html
  src/assets/images/avatar/17.jpg
Labels: :date: date-picker, :calendar: calendar, squash-merge, :date: date-range-picker, :date: date-time-editor, date-time-utils, version: 18.2.x

#15064 chore(filtering): Deprecated filterGlobal (#15016)
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  src/app/grid-events/grid-events.component.html
  src/app/grid-events/grid-events.component.ts
Labels: grid: global-filtering, filtering

#15049 refactor(grids): replace uuid dep with native crypto method
  package-lock.json
  package.json
  projects/igniteui-angular-elements/src/app/wrapper/template-ref-wrapper.ts
  projects/igniteui-angular/ng-package.json
  projects/igniteui-angular/ng-package.prod.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/schematics/utils/dependency-handler.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, refactoring, grid: row-adding, dependencies, :diamond_shape_with_a_dot_inside: grid: elements, optimization, version: 19.0.x

#14941 fix(moving): Remove some evt listeners and detach subscribers.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/moving/moving.drag.directive.ts
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/grid-re-create/grid-re-create.sample.html
  src/app/grid-re-create/grid-re-create.sample.scss
  src/app/grid-re-create/grid-re-create.sample.ts
Labels: :white_check_mark: status: verified, grid, version: 19.0.x

#15048 fix(moving): Remove some evt listeners and detach subscribers.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/moving/moving.drag.directive.ts
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/grid-re-create/grid-re-create.sample.html
  src/app/grid-re-create/grid-re-create.sample.scss
  src/app/grid-re-create/grid-re-create.sample.ts
Labels: :white_check_mark: status: verified, grid, version: 17.2.x

#15047 fix(moving): Remove some evt listeners and detach subscribers.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/moving/moving.drag.directive.ts
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/grid-re-create/grid-re-create.sample.html
  src/app/grid-re-create/grid-re-create.sample.scss
  src/app/grid-re-create/grid-re-create.sample.ts
Labels: :white_check_mark: status: verified, grid, version: 18.2.x

#15095 fix(ssr): resize observe and animation player errors
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/services/animation/angular-animation-player.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tab-header.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
Labels: squash-merge, angular: ssr, version: 19.0.x

#15098 fix(ssr): resize observe and animation player errors 17.2.x
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/services/animation/angular-animation-player.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tab-header.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
Labels: squash-merge, angular: ssr, version: 17.2.x

#15097 fix(ssr): resize observe and animation player errors 18.2.x
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/services/animation/angular-animation-player.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tab-header.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
Labels: squash-merge, angular: ssr, version: 18.2.x

#15091 fix(themes): update indigo theme colors
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_indigo.scss
Labels: :sparkles: themes, version: 18.2.x

#15101 refactor(themes): update theme preset mixins
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_indigo.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 19.0.x

#15099 refactor(themes): resolve Sass deprecation warnings
  projects/igniteui-angular/src/lib/core/styles/components/dock-manager/_dock-manager-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/rating/_rating-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/scrollbar/scrollbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  src/app/pageHeading/pageHeading.styles.scss
  src/app/pagination/pagination.styles.scss
  src/app/slider/slider.sample.scss
  src/styles/_demo-theme.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 19.0.x

#15058 fix(igxPivot): Fix width calculations when inside flex container with…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/test-utils/pivot-grid-samples.spec.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 18.2.x

#15057 fix(igxPivot): Fix width calculations when inside flex container with…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/test-utils/pivot-grid-samples.spec.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 19.0.x

#15103 chore(schematics): put official version
  projects/igniteui-angular/package.json
Labels: schematics, version: 19.0.x

#15088 fix(combo): move ngIf to search wrapper, not on input group
  projects/igniteui-angular/src/lib/combo/combo.component.html
Labels: :x: status: awaiting-test, combo, version: 17.2.x

#15087 fix(combo): move ngIf to search wrapper, not on input group
  projects/igniteui-angular/src/lib/combo/combo.component.html
Labels: :x: status: awaiting-test, combo, version: 18.2.x

#15104 chore(*): update-roadmap-angular-19
  ROADMAP.md
Labels: :book: documentation, version: 19.0.x

#15107 fix(themes): wrapping theme mixins don't work with custom palettes
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_indigo.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 19.0.x

#15110 chore(*): readme-update-26-nov-24
  README.md
Labels: :book: documentation, version: 19.0.x

#15111 fix(excel-style-filtering): reset filter value - 18.2.x
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-conditional-filter.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 18.2.x

#15090 fix(excel-style-filtering): reset filter value
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-conditional-filter.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 19.0.x

#15124 Update ROADMAP.md
  ROADMAP.md
Labels: :book: documentation, version: 19.0.x

#15115 fix(tree): update checkbox spacing in tree
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
Labels: material-theme, checkbox, :white_check_mark: status: verified, tree, version: 19.0.x
