Repository IgniteUI/igniteui-angular, pull requests merged in 2024-04, with the labels that each got.

#14026 fix(grid): Blur the editing template before ending edit so that the e…
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, grid: cell-editing, grid: row-editing, version: 17.1.x

#14027 fix(grid): Blur the editing template before ending edit so that the e…
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, grid: cell-editing, grid: row-editing, version: 16.1.x

#13998 Temporary disable RowIsland templates for Blazor/React.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
Labels: :diamond_shape_with_a_dot_inside: grid: elements

#14060 fix(radio): fix radio label type style in bootstrap
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
Labels: radio-button, :white_check_mark: status: verified, bootstrap-theme, :sparkles: themes

#14004 feat(splitter): implement indigo splitter changes
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/splitter/_splitter-theme.scss
  projects/igniteui-angular/src/lib/splitter/splitter-bar.component.html
  projects/igniteui-angular/src/lib/splitter/splitter.component.html
  projects/igniteui-angular/src/lib/splitter/splitter.component.spec.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
  src/app/splitter/splitter.sample.html
  src/app/splitter/splitter.sample.scss
  src/app/splitter/splitter.sample.ts
  src/styles/_variables.scss
Labels: :x: status: awaiting-test, splitter, indigo-theme, design: awaiting-validation

#14029 feat(slider): implement indigo slider
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
Labels: :x: status: awaiting-test, slider, design: awaiting-validation

#14051 refactor(themes): update indigo time picker
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
  src/app/time-picker/time-picker.sample.scss
Labels: :x: status: awaiting-test, :clock1: time-picker, indigo-theme

#14050 feat(tree): implement indigo tree changes
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
Labels: :x: status: awaiting-test, indigo-theme, tree, design: awaiting-validation

#14062 fix(textarea): indigo theme styles
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :x: status: awaiting-test, input-group, indigo-theme

#14008 docs(*): update deprecated comments, contributing guide; fix tags
  .github/CONTRIBUTING.md
  .vscode/extensions.json
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.ts
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/card/card.component.ts
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/chips-area.component.ts
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/core/density.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/dialog/dialog.component.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
  projects/igniteui-angular/src/lib/directives/divider/divider.directive.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-dimensions.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/icon/icon.component.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
  projects/igniteui-angular/src/lib/navbar/navbar.component.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder-header.component.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.ts
  projects/igniteui-angular/src/lib/select/select-item.component.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/services/overlay/utilities.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
  projects/igniteui-angular/src/lib/tabs/tab-item.directive.ts
  projects/igniteui-angular/src/lib/tabs/tabs.directive.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: :book: documentation, typedoc, squash-merge

#14056 fix(slider): correct behavior of igx-slider in synchronized two-way binding - master
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
Labels: :white_check_mark: status: verified, slider, version: 17.1.x

#14024 fix(buttonGroup): Resolve issue with MutationObserver wrongly deselecting buttons
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-sorting.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-sorting.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, button-group, grid: sorting

#14052 fix(slider): add pointer move handling; clear old HammerJS pan event.
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
Labels: :white_check_mark: status: verified, slider, squash-merge, version: 17.1.x

#14070 fix(slider): add pointer move handling; clear old HammerJS pan event.
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
Labels: :white_check_mark: status: verified, slider, version: 17.2.x

#14072 fix(buttonGroup): issue with MutationObserver wrongly deselecting but…
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-sorting.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-sorting.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: version: 17.1.x

#14066 chore(*): update-roadmap-5-apr-2024
  ROADMAP.md
Labels: :book: documentation, version: 17.2.x

#14074 fix(btn-group): fluent theme sizing issue
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
Labels: :white_check_mark: status: verified, button-group, fluent-theme, version: 17.2.x

#14069 fix(calendar): add colors for active month/ year states
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
Labels: :white_check_mark: status: verified, :calendar: calendar, version: 17.2.x

#14075 fix(btn-group): fluent theme sizing issue
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
Labels: :white_check_mark: status: verified, button-group, fluent-theme, version: 17.1.x

#14032 fix(date-time-editor): handle iso date string for mask value
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
Labels: :x: status: awaiting-test, :date: date-time-editor, version: 17.1.x

#14033 fix(date-time-editor): handle iso date string for mask value 16.1.x
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
Labels: :white_check_mark: status: verified, :date: date-time-editor, version: 16.1.x

#14083 fix(chip/query-builder): fix chip in advanced filtering context
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/query-builder/_query-builder-theme.scss
Labels: :white_check_mark: status: verified, chip, grid: advanced-filtering, version: 17.1.x

#14082 fix(chip/query-builder): fix chip in advanced filtering context
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/query-builder/_query-builder-theme.scss
Labels: :white_check_mark: status: verified, chip, grid: advanced-filtering, grid

#14090 Update release Table with 17.1.0
  README.md
Labels: :book: documentation, version: 17.2.x

#14099 fix(typography): bootstrap type styles
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
Labels: :abcd: typography, bootstrap-theme, :heavy_check_mark: status: approved, version: 17.2.x

#14095 chore: remove deprecated properties
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-17_2_0/changes/inputs.json
  projects/igniteui-angular/src/lib/avatar/avatar.component.spec.ts
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup-content.component.html
  projects/igniteui-angular/src/lib/card/card.component.ts
  projects/igniteui-angular/src/lib/card/card.spec.ts
  projects/igniteui-angular/src/lib/dialog/dialog-content.component.html
  projects/igniteui-angular/src/lib/dialog/dialog.component.spec.ts
  projects/igniteui-angular/src/lib/dialog/dialog.component.ts
  projects/igniteui-angular/src/lib/directives/button/README.md
  projects/igniteui-angular/src/lib/directives/button/button.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
  src/app/avatar/avatar.sample.html
  src/app/card/card.sample.html
  src/app/grid-selection/grid-selection.sample.html
  src/app/grid-state/about.component.html
  src/app/grid/grid.sample.html
  src/app/input/input.sample.html
  src/app/list/list.sample.html
  src/app/overlay/overlay-animation.sample.html
Labels: avatar, dialog, :white_check_mark: status: verified, button-group, card, button, version: 17.2.x

#14100 refactor(chip): remove custom icon sizes
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/test-utils/pivot-grid-samples.spec.ts
Labels: :white_check_mark: status: verified, refactoring, chip, :sparkles: themes, design: verified, version: 17.2.x

#14071 fix(date-time-editor): handle iso date string for mask value -17.1.x
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
Labels: :white_check_mark: status: verified, :date: date-time-editor, version: 17.1.x

#14091 fix(caledar): enable setting ISO format dates
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
Labels: :white_check_mark: status: verified, :calendar: calendar, version: 17.2.x

#14105 refactor(input-group): update drag handle position inside textarea
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  src/app/input-group/input-group.sample.html
Labels: material-theme, :white_check_mark: status: verified, input-group, indigo-theme

#14064 Themes: Add updated Indigo component themes
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/slider/_slider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/splitter/_splitter-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  projects/igniteui-angular/src/lib/splitter/splitter-bar.component.html
  projects/igniteui-angular/src/lib/splitter/splitter.component.html
  projects/igniteui-angular/src/lib/splitter/splitter.component.spec.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
  projects/igniteui-angular/src/lib/tree/tree-node/tree-node.component.html
  src/app/splitter/splitter.sample.html
  src/app/splitter/splitter.sample.scss
  src/app/splitter/splitter.sample.ts
  src/app/time-picker/time-picker.sample.scss
Labels: :white_check_mark: status: verified, slider, :clock1: time-picker, :abcd: typography, splitter, indigo-theme, tree, design: verified, version: 17.2.x

#14098 refactor(bottom-nav): update indigo theme
  projects/igniteui-angular/migrations/update-17_2_0/changes/theme-changes.json
  projects/igniteui-angular/migrations/update-17_2_0/index.spec.ts
  projects/igniteui-angular/src/lib/core/styles/components/bottom-nav/_bottom-nav-theme.scss
  src/app/bottomnav/bottomnav.sample.html
Labels: bottom-nav, :x: status: awaiting-test, indigo-theme, design: awaiting-validation

#14092 feat(navdrawer): update indigo navdrawer
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.spec.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.ts
Labels: nav-drawer, :white_check_mark: status: verified, indigo-theme, navdrawer, design: awaiting-validation

#14089 feat(switch): implement indigo theme updates
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
Labels: switch, :x: status: awaiting-test, indigo-theme

#14115 fix(caledar): enable setting ISO format dates 17.1.x
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
Labels: :white_check_mark: status: verified, :calendar: calendar, version: 17.1.x

#14078 feat(advance-filtering): Emit filtering event when use advanced filtering
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
Labels: :white_check_mark: status: verified, grid: advanced-filtering, version: 17.2.x

#14106 refactor(input-group): update drag handle position inside textarea
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  src/app/input-group/input-group.sample.html
Labels: material-theme, :white_check_mark: status: verified, input-group, indigo-theme, version: 17.1.x

#14137 fix(date-picker): update toggle icon
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
Labels: :white_check_mark: status: verified, :date: date-picker, design: verified, version: 17.2.x

#14123 fix(esf): reset forOf startIndex on esf columnChange
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 17.2.x

#14124 fix(esf): reset forOf startIndex on esf columnChange
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 16.1.x

#14125 fix(esf): reset forOf startIndex on esf columnChange
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 17.1.x

#14162 fix(migrations): button migrations
  projects/igniteui-angular/migrations/update-17_2_0/changes/inputs.json
Labels: migrations, button, version: 17.0.x

#14166 fix(calendar): bad type imports
  projects/igniteui-angular/src/lib/calendar/months-view/months-view.component.ts
  projects/igniteui-angular/src/lib/calendar/years-view/years-view.component.ts
Labels: :white_check_mark: status: verified, :calendar: calendar, version: 17.2.x

#14156 Use mask's CVA callbacks - 16.1
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.ts
Labels: :white_check_mark: status: verified, mask-editor, :date: date-time-editor, version: 16.1.x

#14157 Use mask's CVA callbacks - 17.1
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.ts
Labels: :white_check_mark: status: verified, mask-editor, :date: date-time-editor, version: 17.1.x

#14152 Use mask's CVA callbacks
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
  projects/igniteui-angular/src/lib/directives/mask/mask.directive.ts
Labels: :white_check_mark: status: verified, mask-editor, :date: date-time-editor

#14154 chore(toggle): Adjust event handling examples to utilize the actual events - 17.1.x
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
Labels: :book: documentation, :white_check_mark: status: verified, toggle, version: 17.1.x

#14169 Allow nullables in date editor value - 16.1
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
Labels: :white_check_mark: status: verified, severity: low, :date: date-time-editor, version: 16.1.x

#14170 Allow nullables in date editor value - 17.1
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
Labels: :white_check_mark: status: verified, severity: low, :date: date-time-editor, version: 17.1.x

#14164 Allow nullables in date editor value
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
Labels: :white_check_mark: status: verified, severity: low, :date: date-time-editor, version: 17.2.x

#14155 chore(toggle): Adjust event handling examples to utilize the actual events - 16.1.x
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
Labels: :book: documentation, :white_check_mark: status: verified, toggle, version: 16.1.x

#14153 chore(toggle): Adjust event handling examples to utilize the actual events - master
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
Labels: :book: documentation, :white_check_mark: status: verified, toggle, version: 17.2.x

#14172 fix(calendar): ngModel doesn't update with updateOn: 'blur' set
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.ts
  src/app/calendar/calendar.sample.html
  src/app/calendar/calendar.sample.scss
  src/app/calendar/calendar.sample.ts
Labels: :white_check_mark: status: verified, :calendar: calendar, version: 17.2.x, forms

#14171 fix(overlay): change how containers are hidden
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-theme.scss
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
Labels: :white_check_mark: status: verified, overlay, :sparkles: themes, version: 17.1.x

#14006 refactor(button/icon-button/button-group): style updates
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon-button/_icon-button-theme.scss
  projects/igniteui-angular/src/lib/directives/button/button-base.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
Labels: :white_check_mark: status: verified, button-group, button, icon-button, design: verified

#14181 refactor(button, button-group): update themes and behavior
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon-button/_icon-button-theme.scss
  projects/igniteui-angular/src/lib/directives/button/button-base.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
Labels: :x: status: awaiting-test, button-group, button, version: 18.0.x

#14182 fix(overlay): change how containers are hidden
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-theme.scss
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
Labels: :x: status: awaiting-test, overlay, version: 18.0.x

#14167 fix(overlay): change how containers are hidden
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-theme.scss
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/directives/toggle/toggle.directive.ts
Labels: :white_check_mark: status: verified, overlay, :sparkles: themes, version: 17.2.x

#14178 refactor(month-picker): rework keyboard nav
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.html
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.ts
Labels: :white_check_mark: status: verified, keyboard-navigation, month-picker, version: 17.2.x
