Repository IgniteUI/igniteui-angular, pull requests merged in 2024-12, with the labels that each got.

#15119 fix(ssr): Change all occurrences of pure document call with injected …
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-cell.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  projects/igniteui-angular/src/lib/grids/moving/moving.drag.directive.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data-dictionary.ts
  projects/igniteui-angular/src/lib/services/exporter-common/export-utilities.ts
Labels: :white_check_mark: status: verified, angular: ssr, version: 18.2.x

#15118 fix(ssr): Change all occurrences of pure document call with injected …
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-cell.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
  projects/igniteui-angular/src/lib/grids/moving/moving.drag.directive.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  projects/igniteui-angular/src/lib/services/excel/worksheet-data-dictionary.ts
  projects/igniteui-angular/src/lib/services/exporter-common/export-utilities.ts
Labels: :white_check_mark: status: verified, angular: ssr, version: 19.0.x

#15131 fix(avatar): src with null value throws error
  projects/igniteui-angular/src/lib/avatar/avatar.component.spec.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  src/app/avatar/avatar.sample.html
Labels: avatar, :white_check_mark: status: verified, version: 18.2.x

#15130 fix(avatar): src with null value throws error
  README.md
  ROADMAP.md
  SECURITY.md
  projects/igniteui-angular/src/lib/avatar/avatar.component.spec.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  src/app/avatar/avatar.sample.html
Labels: avatar, :white_check_mark: status: verified, version: 19.0.x

#15133 test(card): create test for icon font-family in card content
  projects/igniteui-angular/src/lib/card/card.spec.ts
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
Labels: :white_check_mark: status: verified, card, :abcd: typography, version: 19.0.x

#15134 test(card): add test for icon font-family in card content
  projects/igniteui-angular/src/lib/card/card.spec.ts
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
Labels: :x: status: awaiting-test, card, :abcd: typography, version: 18.2.x

#15138 chore(*): official angular-eslint libs
  package-lock.json
  package.json
Labels: version: 19.0.x

#15153 refactor(avatar): remove unused code
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
Labels: avatar, :x: status: awaiting-test, version: 18.2.x

#15040 feat(carousel): align with WC carousel
  CHANGELOG.md
  projects/igniteui-angular/src/lib/carousel/README.md
  projects/igniteui-angular/src/lib/carousel/carousel.component.spec.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/carousel/enums.ts
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  src/app/carousel/carousel.sample.ts
Labels: :carousel_horse: carousel, :white_check_mark: status: verified, version: 19.0.x

#15151 fix(combo): search input paddings
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
Labels: :white_check_mark: status: verified, combo, :sparkles: themes, version: 19.0.x

#15152 fix(combo): search input paddings
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
Labels: :x: status: awaiting-test, :white_check_mark: status: verified, combo, :sparkles: themes, version: 18.2.x

#15149 refactor(avatar): remove unused code
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
Labels: avatar, :x: status: awaiting-test, version: 19.0.x

#15108 fix(combo): use min-width for search input start and end/update icon size
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :white_check_mark: status: verified, combo, version: 19.0.x

#15109 fix(combo): use min-width for search input start and end/update icon …
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :white_check_mark: status: verified, combo, version: 18.2.x

#15150 fix(*): icon service doesn't work with scoped themes
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/icon/icon.component.ts
  projects/igniteui-angular/src/lib/icon/icon.service.spec.ts
  projects/igniteui-angular/src/lib/icon/icon.service.ts
  projects/igniteui-angular/src/lib/icon/types.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
  projects/igniteui-angular/src/lib/services/public_api.ts
  projects/igniteui-angular/src/lib/services/theme/theme.service.ts
  projects/igniteui-angular/src/lib/services/theme/theme.token.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  src/app/icon/ThemedComponent/themed-icon.component.html
  src/app/icon/ThemedComponent/themed-icon.component.ts
  src/app/icon/icon.sample.html
  src/app/icon/icon.sample.ts
Labels: input, checkbox, :framed_picture: icon, :white_check_mark: status: verified, :sparkles: themes, icon-service, version: 18.2.x

#15140 fix(*): icon service doesn't work with scoped themes
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/icon/icon.component.ts
  projects/igniteui-angular/src/lib/icon/icon.service.spec.ts
  projects/igniteui-angular/src/lib/icon/icon.service.ts
  projects/igniteui-angular/src/lib/icon/types.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
  projects/igniteui-angular/src/lib/services/public_api.ts
  projects/igniteui-angular/src/lib/services/theme/theme.service.ts
  projects/igniteui-angular/src/lib/services/theme/theme.token.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  src/app/icon/ThemedComponent/themed-icon.component.html
  src/app/icon/ThemedComponent/themed-icon.component.ts
  src/app/icon/icon.sample.html
  src/app/icon/icon.sample.ts
Labels: :white_check_mark: status: verified, icon-service, version: 19.0.x

#15161 refactor(icon): remove ariaHidden member
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.html
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel-header.component.html
  projects/igniteui-angular/src/lib/icon/icon.component.spec.ts
  projects/igniteui-angular/src/lib/icon/icon.component.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.html
  projects/igniteui-angular/src/lib/select/select.component.html
Labels: :framed_picture: icon, :white_check_mark: status: verified, version: 19.0.x

#15142 refactor(query-builder): remove QB chip selection
  projects/igniteui-angular-i18n/src/i18n/BG/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/query-builder-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/query-builder-resources.ts
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.html
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.ts
Labels: query-builder

#15164 refactor(themes): update theme preset mixins
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-angular-dark.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-angular.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-bootstrap-dark.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-bootstrap-light.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-dark-green.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-dark-excel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-dark-word.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-dark.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-light-excel.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-light-word.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-fluent-light.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-indigo-dark.scss
  projects/igniteui-angular/src/lib/core/styles/themes/presets/igniteui-indigo-light.scss
Labels: :white_check_mark: status: verified, refactoring, :sparkles: themes, version: 18.2.x

#15174 fix(avatar): background url broken when scr string contains ( or )
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
Labels: avatar, :white_check_mark: status: verified, version: 19.1.x

#15175 fix(avatar): background url broken when scr string contains ( or )
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
Labels: avatar, :white_check_mark: status: verified, version: 19.0.x

#15176 fix(avatar): background url broken when scr string contains ( or )
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
Labels: avatar, :white_check_mark: status: verified, version: 18.2.x
