Repository IgniteUI/igniteui-angular, pull requests merged in 2024-01, with the labels that each got.

#13730 fix(navbar): icon colors in AppBuilder
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
Labels: :x: status: awaiting-test, navbar, :crown: app-builder, version: 16.1.x

#13758 fix(navbar): icons color in AppBuilder
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
Labels: :x: status: awaiting-test, navbar, :crown: app-builder, version: 17.0.x

#13759 fix(navbar): icons color in AppBuilder
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
Labels: :x: status: awaiting-test, navbar, :crown: app-builder, version: 17.1.x

#13763 feat(grid): implementing rowClick event
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/common/events.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/groupby-row.component.ts
  projects/igniteui-angular/src/lib/grids/row.directive.ts
Labels: :white_check_mark: status: verified, grid: general, version: 17.1.x

#13777 fix(igxHierarchicalGrid): Ensure root hierarchical grid takes only di…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 16.1.x

#13776 fix(igxHierarchicalGrid): Ensure root hierarchical grid takes only di…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 17.0.x

#13775 fix(igxHierarchicalGrid): Ensure root hierarchical grid takes only di…
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 17.1.x

#13780 fix(*): focus input on label click - 16.1.x
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.html
Labels: :white_check_mark: status: verified, :date: date-picker, :clock1: time-picker, simple-combo, version: 16.1.x

#13779 fix(*): focus input on label click - 17.0.x
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.html
Labels: :white_check_mark: status: verified, :date: date-picker, :clock1: time-picker, simple-combo, version: 17.0.x

#13778 fix(*): focus input on label click - master
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.html
Labels: :white_check_mark: status: verified, :date: date-picker, :clock1: time-picker, simple-combo, version: 17.1.x

#13788 fix(simple-combo): handle paste event - master
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 17.1.x

#13787 fix(simple-combo): handle paste event - 16.1.x
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 16.1.x

#13789 fix(simple-combo): handle paste event - 17.0.x
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 17.0.x

#13794 fix(stepper): Prevent throwing an error when an active step is clicked - 16.1.x
  projects/igniteui-angular/src/lib/stepper/step/step.component.ts
Labels: :white_check_mark: status: verified, stepper, version: 16.1.x

#13795 fix(stepper): Prevent throwing an error when an active step is clicked - 17.0.x
  projects/igniteui-angular/src/lib/stepper/step/step.component.ts
Labels: :white_check_mark: status: verified, stepper, version: 17.0.x

#13793 fix(stepper): Prevent throwing an error when an active step is clicked
  projects/igniteui-angular/src/lib/stepper/step/step.component.ts
Labels: :white_check_mark: status: verified, stepper, version: 17.1.x

#13799 fix(combo): Change the way the groups in combo are created. Add suppo…
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.pipes.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
Labels: :white_check_mark: status: verified, combo, simple-combo, version: 17.1.x

#13809 fix(igxDrag): Restore ghost template when moving drag elements around.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 17.1.x

#13808 fix(igxDrag): Restore ghost template when moving drag elements around.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 17.0.x

#13807 fix(igxDrag): Restore ghost template when moving drag elements around.
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
Labels: :white_check_mark: status: verified, drag-drop, version: 16.1.x

#13804 fix(igxGrid): Retain float value when measuring grid width so that th…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid, version: 17.0.x

#13805 fix(igxGrid): Retain float value when measuring grid width so that th…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid, version: 16.1.x

#13817 fix(buttonGroup): Deselect a button when the value of the selected pr…
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
Labels: :white_check_mark: status: verified, button-group, button

#13818 fix(buttonGroup): Deselect a button when the value of the selected pr…
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
Labels: :white_check_mark: status: verified, button-group, button

#13813 fix(button): Trigger changes to the buttongroup when a button is deselected
  CHANGELOG.md
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
Labels: :white_check_mark: status: verified, button-group, button

#13826 fix(grid): Correct shift-click selection in grouped IgxGrid #13757
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
Labels: :white_check_mark: status: verified

#13823 fix(grid): Correct shift-click selection in grouped IgxGrid #13757
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
Labels: :white_check_mark: status: verified

#13785 fix(grid): Correct shift-click selection in grouped IgxGrid #13757
  projects/igniteui-angular/src/lib/grids/grid/grid-row-selection.spec.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
Labels: :white_check_mark: status: verified

#13830 fix(i18n): Updating localization - Excel matches count - 16.1.x
  projects/igniteui-angular-i18n/src/i18n/BG/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/grid-resources.ts
Labels: :symbols: i18n, grid: excel-style-filtering, version: 16.1.x

#13803 fix(igxGrid): Retain float value when measuring grid width so that th…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid, version: 17.1.x

#13832 fix(i18n): Updating localization - Excel matches count - 17.1.x
  projects/igniteui-angular-i18n/src/i18n/BG/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/grid-resources.ts
Labels: :symbols: i18n, grid: excel-style-filtering, version: 17.1.x

#13831 fix(i18n): Updating localization - Excel matches count - 17.0.x
  projects/igniteui-angular-i18n/src/i18n/BG/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/grid-resources.ts
Labels: :symbols: i18n, grid: excel-style-filtering, version: 17.0.x

#13822 fix(tree-grid): get newSelection from all data
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
Labels: :white_check_mark: status: verified, grid: row-selection, grid: tree-grid, version: 17.1.x

#13824 fix(tree-grid): get newSelection from all data - 17.0.x
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
Labels: :white_check_mark: status: verified, grid: row-selection, grid: tree-grid, version: 17.0.x

#13836 refactor(btn-group): update fluent theme styles
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
Labels: :chart_with_upwards_trend: enhancement, :white_check_mark: status: verified, button-group, fluent-theme, design: verified

#13825 fix(tree-grid): get newSelection from all data - 16.1.x
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.spec.ts
Labels: :white_check_mark: status: verified, grid: row-selection, grid: tree-grid, version: 16.1.x
