Repository IgniteUI/igniteui-angular, pull requests merged in 2024-10, with the labels that each got.

#14850 fix(navdrawer): border and transitions
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.spec.ts
Labels: :white_check_mark: status: verified, :sparkles: themes, navdrawer, version: 18.2.x

#14829 refactor(icon-references): update icons in dropdown menus
  projects/igniteui-angular/src/lib/icon/icon.references.ts
Labels: combo, grid: column-moving, grid: toolbar, select, :sparkles: themes, grid: pivot, design: verified, icon-service, version: 18.2.x

#14848 feat(badge): implement outlined variant
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-18_2_0/changes/theme-changes.json
  projects/igniteui-angular/migrations/update-18_2_0/index.spec.ts
  projects/igniteui-angular/src/lib/badge/badge.component.spec.ts
  projects/igniteui-angular/src/lib/badge/badge.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  src/app/badge/badge.sample.html
Labels: badge, :white_check_mark: status: verified, migrations, :bangbang: breaking-change, :sparkles: themes, version: 18.2.x

#14837 fix(dropdown): fix icons size in material, bootstrap and fluent themes
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
Labels: :white_check_mark: status: verified, dropdown, design: verified

#14846 fix(banner): update default size of illustraion icon
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-theme.scss
Labels: :white_check_mark: status: verified, banner, design: verified

#14845 fix(card): update card-content-padding to match UI kits
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
Labels: :white_check_mark: status: verified, card, :sparkles: themes, design: verified, version: 18.2.x

#14862 fix(tree): icon sizes
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
Labels: :white_check_mark: status: verified, tree, version: 18.2.x

#14865 Edit and Close buttons now tab indexed properly so that Space/Enter works on them
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: :white_check_mark: status: verified, grid: advanced-filtering, query-builder, version: 17.2.x

#14866 Edit and Close buttons now tab indexed properly so that Space/Enter works on them
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: :white_check_mark: status: verified, grid: advanced-filtering, query-builder, version: 18.1.x

#14868 fix(query-builder): fix edit/add button event handlers shifted up on parent span
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: :new: status: new, :white_check_mark: status: verified, grid: advanced-filtering, query-builder, version: 17.2.x

#14874 refactor(elements): Close icon service broadcast channel on pagehide
  projects/igniteui-angular-elements/src/lib/icon.broadcast.service.ts
Labels: :diamond_shape_with_a_dot_inside: grid: elements, icon-service, version: 18.2.x

#14867 refactor(chip): fix the selected transition
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
Labels: :white_check_mark: status: verified, chip, :sparkles: themes, version: 18.2.x

#14812 test(migrations): enable lang service migrations
  projects/igniteui-angular/migrations/common/ServerHost.ts
  projects/igniteui-angular/migrations/common/UpdateChanges.spec.ts
  projects/igniteui-angular/migrations/common/UpdateChanges.ts
  projects/igniteui-angular/migrations/common/project-service-container.ts
  projects/igniteui-angular/migrations/common/setup.spec.ts
  projects/igniteui-angular/migrations/update-10_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-10_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-11_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-11_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-12_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-12_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-13_0_0/changes/members.json
  projects/igniteui-angular/migrations/update-13_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-13_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-13_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-14_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-15_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-15_0_11/index.spec.ts
  projects/igniteui-angular/migrations/update-15_0_4/index.spec.ts
  projects/igniteui-angular/migrations/update-15_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-16_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-16_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-17_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-17_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-17_1_4/index.spec.ts
  projects/igniteui-angular/migrations/update-17_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-17_2_2/index.spec.ts
  projects/igniteui-angular/migrations/update-17_2_3/index.spec.ts
  projects/igniteui-angular/migrations/update-18_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-18_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-18_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-6/index.spec.ts
  projects/igniteui-angular/migrations/update-6_01/index.spec.ts
  projects/igniteui-angular/migrations/update-6_02/index.spec.ts
  projects/igniteui-angular/migrations/update-6_1/index.spec.ts
  projects/igniteui-angular/migrations/update-6_2/index.spec.ts
  projects/igniteui-angular/migrations/update-6_2_1/index.spec.ts
  projects/igniteui-angular/migrations/update-7_0_2/index.spec.ts
  projects/igniteui-angular/migrations/update-7_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-7_3_4/index.spec.ts
  projects/igniteui-angular/migrations/update-8_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-8_2_3/index.spec.ts
  projects/igniteui-angular/migrations/update-8_2_6/index.spec.ts
  projects/igniteui-angular/migrations/update-9_0_0/index.spec.ts
  projects/igniteui-angular/migrations/update-9_0_1/index.spec.ts
  projects/igniteui-angular/migrations/update-9_1_0/index.spec.ts
Labels: :test_tube: ci: tests, :white_check_mark: status: verified, migrations, squash-merge

#14875 fix(groupby): using pipetrigger for chip titles too
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grouping/group-by-area.component.html
Labels: :white_check_mark: status: verified, version: 18.1.x

#14876 fix(groupby): using pipetrigger for chip titles too
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grouping/group-by-area.component.html
Labels: :white_check_mark: status: verified, version: 17.2.x

#14877 fix(groupby): using pipetrigger for chip titles too
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grouping/group-by-area.component.html
Labels: :white_check_mark: status: verified, version: 18.2.x

#14889 refactor(tabs): align component with UI kits
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
  src/app/tabs/tabs.sample.html
Labels: :white_check_mark: status: verified, tabs, :sparkles: themes, version: 18.2.x

#14885 Fix query builder expression actions
  projects/igniteui-angular/src/lib/core/styles/components/query-builder/_query-builder-theme.scss
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.html
Labels: :white_check_mark: status: verified, query-builder, version: 18.2.x

#14883 Fix query builder expression actions
  projects/igniteui-angular/src/lib/core/styles/components/query-builder/_query-builder-theme.scss
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.html
Labels: :white_check_mark: status: verified, query-builder, version: 17.2.x

#14884 Fix query builder expression actions
  projects/igniteui-angular/src/lib/core/styles/components/query-builder/_query-builder-theme.scss
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.html
Labels: :white_check_mark: status: verified, query-builder, version: 18.1.x

#14860 fix(checkbox): size and transitions
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/column-actions/_column-actions-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_pivot-data-selector-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
Labels: checkbox, :boom: status: in-test, :sparkles: themes, version: 18.2.x

#14869 refactor(icons): add more indigo-specific icons
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
  projects/igniteui-angular/src/lib/icon/icon.references.ts
  projects/igniteui-angular/src/lib/icon/icons.indigo.ts
  src/app/grid-column-groups/grid-column-groups.sample.html
  src/app/grid-filter-template/grid-filter-template.sample.html
  src/app/grid-row-pinning/grid-row-pinning.sample.html
  src/app/grid-search-box/grid-search-box.component.html
  src/app/hierarchical-grid/hierarchical-grid.sample.html
  src/app/input-group/input-group.sample.html
  src/app/list-performance/list-performance.sample.html
  src/app/list/list.sample.html
  src/app/navbar/navbar.sample.html
  src/app/pageHeading/pageHeading.template.html
Labels: :x: status: awaiting-test, indigo-theme, design: verified, icon-service, version: 18.2.x

#14899 Chip - fix grid gap
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
Labels: :x: status: awaiting-test, :white_check_mark: status: resolved, design: verified

#14465 feat(grid): expose editorOptions for the default editors and improve built-in editing for date/time cols (input formats)
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/date-common/picker-base.directive.ts
  projects/igniteui-angular/src/lib/date-common/util/date-time.util.spec.ts
  projects/igniteui-angular/src/lib/date-common/util/date-time.util.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.ts
  projects/igniteui-angular/src/lib/grids/README.md
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/columns/interfaces.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-date-expression.component.html
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-cell.component.html
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.html
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.common.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.html
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.directives.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.pipes.ts
Labels: :white_check_mark: status: verified, triage: blocking, squash-merge, date-time-utils, grid, version: 18.2.x

#14815 Depricated find and findIndex from IFilteringExpressionsTree, added FilteringUtil
  CHANGELOG.md
  projects/igniteui-angular/src/lib/data-operations/expressions-tree-util.ts
  projects/igniteui-angular/src/lib/data-operations/filtering-expressions-tree.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/grid-filtering.service.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/public_api.ts
Labels: :white_check_mark: status: verified, filtering

#14735 fix(grid): nav service cdr & event emit while row edit
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-navigation.service.ts
Labels: :white_check_mark: status: verified, keyboard-navigation, squash-merge, grid: row-editing, :diamond_shape_with_a_dot_inside: grid: elements, version: 18.2.x

#14408 Change searchPlaceholder depending on the filterable property
  CHANGELOG.md
  projects/igniteui-angular-i18n/src/i18n/BG/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/combo-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/combo-resources.ts
  projects/igniteui-angular/migrations/update-18_2_0/changes/inputs.json
  projects/igniteui-angular/migrations/update-18_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-18_2_0/index.ts
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/combo/combo.pipes.ts
  projects/igniteui-angular/src/lib/core/i18n/combo-resources.ts
  src/app/combo/combo.sample.html
  src/app/combo/combo.sample.ts
Labels: :white_check_mark: status: verified, combo, simple-combo, version: 18.2.x

#14919 Migrations test fixes
  projects/igniteui-angular/migrations/common/UpdateChanges.spec.ts
  projects/igniteui-angular/migrations/common/setup.spec.ts
Labels: :test_tube: ci: tests, migrations, version: 18.2.x

#14886 Make scroll buttons visual-only elements
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.html
Labels: :white_check_mark: status: verified, tabs, keyboard-navigation, version: 18.2.x

#14858 feat(tabs): implement manual and auto activation modes for keyboard navigation - master
  CHANGELOG.md
  projects/igniteui-angular/src/lib/tabs/tabs/tab-header.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
Labels: :white_check_mark: status: verified, tabs, keyboard-navigation, version: 18.2.x

#14920 test(migrations): fix leftover test workspace configs
  projects/igniteui-angular/migrations/common/UpdateChanges.spec.ts
Labels: :test_tube: ci: tests, refactoring, migrations, version: 18.2.x

#14915 refactor(combo): cleanup unused filtering-related internal props
  projects/igniteui-angular/src/lib/combo/combo.component.ts
Labels: refactoring, combo, version: 18.2.x

#14904 fix(pivot): Fix regresion setting horizontal scrollbar position wrong
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 18.2.x

#14873 fix(pivot): fixed row height to scale with headers
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 18.1.x

#14756 feat(IgxState): Re-use matching columns for state.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/state-base.directive.ts
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/state.hierarchicalgrid.spec.ts
  projects/igniteui-angular/src/lib/grids/state.pivotgrid.spec.ts
  projects/igniteui-angular/src/lib/grids/state.treegrid.spec.ts
  src/app/grid-state/grid-state.component.html
  src/app/grid-state/grid-state.component.ts
Labels: :white_check_mark: status: verified, grid: state-persistence, version: 18.2.x

#14931 chore(schematics): update with @igniteui/angular-schematics beta
  projects/igniteui-angular/package.json
Labels: schematics

#14926 feat(igxGridState): Add support for persisting MRL columns.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/state-base.directive.ts
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  src/app/grid-state/grid-state.component.html
  src/app/grid-state/grid-state.component.ts
Labels: :white_check_mark: status: verified, grid: state-persistence, version: 18.2.x

#14744 fix(igxGrid): Use SelectedRowsChange for two-way bind for Blazor.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.service.ts
Labels: version: 18.1.x

#14745 fix(igxGrid): Use SelectedRowsChange for two-way bind for Blazor.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-selection.service.ts
Labels: version: 18.2.x

#14793 fix(slider): improve accessibility by correcting ARIA attributes and tab index - master
  projects/igniteui-angular/src/lib/slider/slider.component.html
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
  projects/igniteui-angular/src/lib/slider/thumb/thumb-slider.component.ts
Labels: :white_check_mark: status: verified, slider, :wheelchair: a11y, version: 18.2.x

#14795 fix(slider): improve accessibility by correcting ARIA attributes and tab index - 17.2.x
  projects/igniteui-angular/src/lib/slider/slider.component.html
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
  projects/igniteui-angular/src/lib/slider/thumb/thumb-slider.component.ts
Labels: :white_check_mark: status: verified, slider, :wheelchair: a11y, version: 17.2.x

#14940 deps(theming): bump to latest version with bug fixes
  package-lock.json
  package.json
  tsconfig.json
Labels: :white_check_mark: status: verified, triage: blocking, :sparkles: themes, dependencies, version: 18.2.x

#14930 feat(query-builder): add field formatter & support object search values
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.html
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.spec.ts
  src/app/query-builder/query-builder.sample.html
  src/app/query-builder/query-builder.sample.ts
Labels: :white_check_mark: status: verified

#14942 chore(changelog): fix wording and typos regarding theming in 18.2.0
  CHANGELOG.md
Labels: version: 18.2.x

#14937 fix(date-picker): KB nav and calendar focus handling
  projects/igniteui-angular/src/lib/calendar/calendar-multi-view.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/calendar.component.ts
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.html
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.spec.ts
  projects/igniteui-angular/src/lib/date-common/picker-base.directive.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/base/grid-filtering-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: :white_check_mark: status: verified, :date: date-picker, :calendar: calendar, grid: filter-ui, :date: date-range-picker, version: 17.2.x

#14932 chore(schematics): official @igniteui/angular-schematics
  projects/igniteui-angular/package.json
Labels: schematics, version: 18.2.x

#14952 fix(textarea): disabled state cursor
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :x: status: awaiting-test, :sparkles: themes, textarea, version: 19.0.x

#14953 fix(textarea): disabled state cursor
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :x: status: awaiting-test, :sparkles: themes, textarea, version: 18.2.x

#14855 fix(expansion-panel): bootstrap typography
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
Labels: :x: status: awaiting-test, :abcd: typography, expansion-panel, bootstrap-theme, version: 18.2.x

#14961 fix(expansion-panel): bootstrap typography
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
Labels: :x: status: awaiting-test, :abcd: typography, expansion-panel, version: 19.0.x

#14910 feat(query-builder): add public api for commit and discard current state
  CHANGELOG.md
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.html
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.ts
  src/app/query-builder/query-builder.sample.html
  src/app/query-builder/query-builder.sample.scss
  src/app/query-builder/query-builder.sample.ts
Labels: :white_check_mark: status: verified, query-builder

#14916 feat(query-builder): save and restore inner query state on commit/discard
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.html
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.spec.ts
Labels: :boom: status: in-test, query-builder

#14981 chore(*): roadmap-update-18.2
  README.md
  ROADMAP.md
Labels: :book: documentation, version: 18.2.x

#14901 docs: update readme references
  README.md
  projects/igniteui-angular/animations/README.md
Labels: :book: documentation, version: 18.2.x

#14983 ci(*): update puppeteer to latest
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-keyBoardNav.spec.ts
Labels: :test_tube: ci: tests, version: 18.2.x

#14971 ci(*): update puppeteer to latest
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.search.spec.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-keyBoardNav.spec.ts
Labels: :test_tube: ci: tests

#14945 feat(grid): console.warn if primaryKey column does not exist
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: tree-grid, grid: hierarchical-grid, grid, version: 18.2.x

#14984 fix(editing): re-trigger activation clear on endedit #14842
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-cell-editing.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
  src/app/grid-cellEditing/grid-cellEditing.component.html
  src/app/grid-cellEditing/grid-cellEditing.component.scss
  src/app/grid-cellEditing/grid-cellEditing.component.ts
  src/app/grid-row-edit/grid-row-edit-sample.component.html
Labels: version: 19.0.x

#14985 Query builder simple select from
  projects/igniteui-angular/src/lib/query-builder/query-builder-functions.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.html
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.spec.ts
Labels: :new: status: new, query-builder
