Repository IgniteUI/igniteui-angular, pull requests merged in 2024-03, with the labels that each got.

#13954 ci(schematics): build schematics & migrations in the CI
  .github/workflows/nodejs.yml
  .github/workflows/npm-publish.yml
  azure-pipelines.yml
  package.json
Labels: migrations, ci: travis-ci, schematics, version: 15.1.x

#13946 fix(igxForOf): Remove unnecessary scroll position re-render for horizontal scr...
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: :white_check_mark: status: verified, grid: general, virtualization, version: 16.1.x

#13951 fix(rowIsland): Do no calcualte row island widths, since it does not render element anyway.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 16.1.x

#13953 fix(rowIsland): Do no calcualte row island widths, since it does not render element anyway.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 17.1.x

#13944 feat(carousel): implement indigo design changes
  projects/igniteui-angular/src/lib/carousel/carousel.component.html
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
Labels: :carousel_horse: carousel, indigo-theme

#13969 fix(filtering): pass overlay settings in GridType
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-advanced-filtering.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, overlay, grid: advanced-filtering, version: 17.1.x

#13975 fix(filtering): pass overlay settings in GridType
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-advanced-filtering.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, overlay, grid: advanced-filtering, version: 17.0.x

#13971 feat(expansion-panel): update expansion panel for indigo
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
Labels: :x: status: awaiting-test, expansion-panel, indigo-theme, design: awaiting-validation

#13981 fix(stepper): add clamp function to values to prevent indicator background being cut
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
Labels: :bug: bug, :x: status: awaiting-test, stepper, version: 17.1.x

#13979 fix(stepper): add clamp function to values to prevent indicator background being cut
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
Labels: :bug: bug, :x: status: awaiting-test, stepper, version: 17.0.x

#13948 feat(themes): implement updated Indigo UI theme
  package-lock.json
  package.json
  projects/igniteui-angular/migrations/update-17_1_0/changes/theme-changes.json
  projects/igniteui-angular/migrations/update-17_1_0/index.spec.ts
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/banner/banner.component.spec.ts
  projects/igniteui-angular/src/lib/card/card-header.component.html
  projects/igniteui-angular/src/lib/carousel/carousel.component.html
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/core/styles/base/_mixins.scss
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/banner/_banner-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/checkbox/_checkbox-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/divider/_divider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon-button/_icon-button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/radio/_radio-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/snackbar/_snackbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_indigo.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_material.scss
  projects/igniteui-angular/src/lib/services/theme/theme.service.ts
  src/app/button/button.sample.scss
  src/app/card/card.sample.html
  src/app/carousel/carousel.sample.html
  src/app/carousel/carousel.sample.ts
  src/styles/_demo-theme.scss
  src/styles/_mixins.scss
  src/styles/_variables.scss
Labels: :white_check_mark: status: verified, indigo-theme, design: verified, version: 17.1.x

#13985 fix(migrations): changes version
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-17_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-17_1_4/changes/theme-changes.json
  projects/igniteui-angular/migrations/update-17_1_4/index.spec.ts
  projects/igniteui-angular/migrations/update-17_1_4/index.ts
Labels: :white_check_mark: status: verified, migrations, version: 17.1.x

#13982 Add more tags for blazor state persistence classes.
  projects/igniteui-angular-elements/src/lib/state.component.ts
  projects/igniteui-angular/src/lib/data-operations/filtering-expressions-tree.ts
  projects/igniteui-angular/src/lib/data-operations/groupby-state.interface.ts
  projects/igniteui-angular/src/lib/data-operations/paging-state.interface.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/common/types.ts
  projects/igniteui-angular/src/lib/grids/state-base.directive.ts
Labels: :white_check_mark: status: verified, squash-merge

#13990 fix(igxGrid): Emit new data for the rowAdd event args.
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
Labels: :white_check_mark: status: verified, grid: row-editing, version: 17.1.x

#13991 fix(igxGrid): Emit new data for the rowAdd event args.
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-editing.spec.ts
Labels: :white_check_mark: status: verified, grid: row-editing, version: 16.1.x

#13972 Resolve buttons not selected if initialized after the group
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
Labels: :white_check_mark: status: verified, button-group, version: 17.1.x

#13973 Resolve buttons not selected if initialized after the group
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
Labels: :white_check_mark: status: verified, button-group, version: 16.1.x

#13988 fix(igxGrid): When calculating the default body height, measure actua…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
Labels: :white_check_mark: status: verified, grid, :diamond_shape_with_a_dot_inside: grid: elements

#13950 fix(igxGrid): When autosizing something with template that may need t…
  projects/igniteui-angular-elements/src/index.html
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid

#13996 fix(hgrid): expose grid instance in template context
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 17.1.x

#14001 feat(badge): implement typography
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_material.scss
Labels: badge, :white_check_mark: status: verified, :abcd: typography, design: verified

#13997 fix(hgrid): expose grid instance in template context -16.1.x
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 16.1.x
