Repository IgniteUI/igniteui-angular, pull requests merged in 2024-07, with the labels that each got.

#14328 ESF on igx-grid does not reflect current filters in esf dialog
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/data-operations/filtering-expressions-tree.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.common.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-conditional-filter.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-conditional-filter.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-advanced-filtering.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-advanced-filtering.component.ts
Labels: :white_check_mark: status: verified, grid: filter-ui, grid: excel-style-filtering, grid: advanced-filtering, design: verified

#14437 ESF on igx-grid does not reflect current filters in esf dialog --17.2
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/data-operations/filtering-expressions-tree.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.common.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-conditional-filter.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-conditional-filter.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-advanced-filtering.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-advanced-filtering.component.ts
Labels: :x: status: awaiting-test, grid: filter-ui, grid: excel-style-filtering, grid: advanced-filtering, version: 17.2.x

#14436 ESF on igx-grid does not reflect current filters in esf dialog --18.0.x
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/data-operations/filtering-expressions-tree.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down-item.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.common.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-conditional-filter.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-conditional-filter.component.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-advanced-filtering.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-advanced-filtering.component.ts
Labels: :white_check_mark: status: verified, grid: filter-ui, grid: excel-style-filtering, grid: advanced-filtering, version: 18.0.x

#14456 fix(input-group): incorrect indigo layout
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/input-group/input-group.component.html
Labels: :white_check_mark: status: verified, layout, input-group, :sparkles: themes, design: verified, version: 18.1.x

#14457 Adding default overlay settings - 18.0.x
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
Labels: :white_check_mark: status: verified, dropdown, version: 18.0.x

#14452 build(deps, lint): bump stylelint and typedoc deps
  .prettierignore
  .prettierrc.json
  .stylelintignore
  .stylelintrc.json
  package-lock.json
  package.json
  projects/igniteui-angular/migrations/common/util.ts
  projects/igniteui-angular/src/lib/core/styles/base/_mixins.scss
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/date-range-picker/_date-range-picker-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon-button/_icon-button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/_progress-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tooltip/_tooltip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
  scripts/build-styles.mjs
Labels: code-style, :white_check_mark: status: verified, migrations, :sparkles: themes, :capital_abcd: ci: lint, version: 18.1.x

#14443 feat(calendar): localize week number header
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.html
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
Labels: :white_check_mark: status: verified, :calendar: calendar, :symbols: i18n, :sparkles: themes, version: 18.1.x

#14455 fix(button-group): prevent selected event from emitting twice on click - 17.2.x
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
Labels: :white_check_mark: status: verified, button-group, version: 17.2.x

#14454 fix(button-group): prevent selected event from emitting twice on click - 18.0.x
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
Labels: :white_check_mark: status: verified, button-group, version: 18.0.x

#14459 Adding default overlay settings
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
Labels: :white_check_mark: status: verified, dropdown, version: 18.1.x

#14458 Adding default overlay settings - 17.2.x
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
Labels: :white_check_mark: status: verified, dropdown, version: 17.2.x

#14380 Indigo Themes: Updates to Toast, Tooltip, Stepper, Rating
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tooltip/_tooltip-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/tooltip/_tooltip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  src/app/stepper/stepper.sample.html
  src/app/stepper/stepper.sample.scss
Labels: :white_check_mark: status: verified, toast, tooltip, indigo-theme, stepper, rating, design: verified, version: 18.1.x

#14412 fix(pivotGrid): row dimension kb nav
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-navigation.service.ts
Labels: keyboard-navigation, grid: pivot

#14463 fix(grid): Fix filtering UI mousedown event handling
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
Labels: :white_check_mark: status: verified, grid: filter-ui, version: 18.1.x

#14467 fix(grid): Fix filtering UI mousedown event handling - 17.2.x
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
Labels: :white_check_mark: status: verified, grid: filter-ui, version: 17.2.x

#14464 refactor(grid-toolbar-exporter): mark internal state, cleanup method …
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-exporter.component.html
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-exporter.component.ts
Labels: :book: documentation, refactoring, exporters, grid: toolbar, :diamond_shape_with_a_dot_inside: grid: elements, version: 18.1.x

#14483 Minor cleanup of console logs, add lint rule
  projects/igniteui-angular/.eslintrc.json
  projects/igniteui-angular/src/lib/calendar/common/model.spec.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
Labels: :test_tube: ci: tests, :sparkles: themes, :capital_abcd: ci: lint, version: 18.1.x

#14379 feat(pivotGrid): row dimension header sort with kb interaction
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header-group.component.html
Labels: feature, :white_check_mark: status: verified, grid: sorting, keyboard-navigation, grid: pivot

#14474 docs(grid,toolbar): mark adv. filtering comp ngAfterViewInit hidden
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-advanced-filtering.component.ts
Labels: :book: documentation, grid: toolbar, grid: advanced-filtering, :diamond_shape_with_a_dot_inside: grid: elements, version: 17.2.x

#14485 Hierarchy grid headers now themed like Tree grid when exported to excel
  projects/igniteui-angular/src/lib/services/excel/excel-strings.ts
  projects/igniteui-angular/src/lib/services/excel/zip-helper.spec.ts
Labels: :white_check_mark: status: verified, excel-exporter, version: 17.2.x

#14488 Hierarchy grid headers now themed like Tree grid when exported to excel
  projects/igniteui-angular/src/lib/services/excel/excel-strings.ts
  projects/igniteui-angular/src/lib/services/excel/zip-helper.spec.ts
Labels: :white_check_mark: status: verified, excel-exporter, version: 18.1.x

#14487 doc(tree-grid): type key inputs
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
Labels: :book: documentation, grid: tree-grid, :diamond_shape_with_a_dot_inside: grid: elements, version: 18.1.x

#14347 feat(igxPivotGrid): Implement horizontal row layout for Pivot Grid.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/data-operations/pivot-strategy.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header-group.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-mrl-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-mrl-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  src/app/pivot-grid-noop/pivot-grid-noop.sample.html
  src/app/pivot-grid-noop/pivot-grid-noop.sample.ts
  src/app/pivot-grid-state/pivot-grid-state.sample.html
  src/app/pivot-grid-state/pivot-grid-state.sample.ts
Labels: :white_check_mark: status: verified, squash-merge, grid: pivot, version: 18.1.x

#14425 Adjust tags for better generation for pivot in react.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
Labels: :white_check_mark: status: verified, :diamond_shape_with_a_dot_inside: grid: elements

#14476 Pivot horizontal excel export
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  src/app/pivot-grid-hierarchy/pivot-grid-hierarchy.sample.html
Labels: :white_check_mark: status: verified, squash-merge, grid: pivot, version: 18.1.x

#14489 refactor(columns): deprecate children and replace with childColumns
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-18_1_0/changes/members.json
  projects/igniteui-angular/migrations/update-18_1_0/index.spec.ts
  projects/igniteui-angular/src/lib/grids/columns/column-group.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  src/app/grid-column-groups/grid-column-groups.sample.ts
Labels: refactoring, grid: column-types, :diamond_shape_with_a_dot_inside: grid: elements, version: 18.1.x

#14484 Hierarchy grid headers now themed like Tree grid when exported to excel
  projects/igniteui-angular/src/lib/services/excel/excel-strings.ts
  projects/igniteui-angular/src/lib/services/excel/zip-helper.spec.ts
Labels: :white_check_mark: status: verified, excel-exporter, version: 18.0.x

#14497 refactor(paginator): deprecate isFirstPageDisabled and isLastPageDisabled
  CHANGELOG.md
  projects/igniteui-angular/migrations/update-18_1_0/changes/members.json
  projects/igniteui-angular/migrations/update-18_1_0/index.spec.ts
  projects/igniteui-angular/src/lib/paginator/pager.component.html
  projects/igniteui-angular/src/lib/paginator/paginator.component.spec.ts
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
  src/app/pagination/pagination.template.html
Labels: :book: documentation, :white_check_mark: status: verified, refactoring, paginator, :diamond_shape_with_a_dot_inside: grid: elements, version: 18.1.x

#14507 refactor(row-island): disable getters of no use and hide from api docs
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
Labels: :book: documentation, refactoring, grid: hierarchical-grid, :diamond_shape_with_a_dot_inside: grid: elements, version: 18.1.x

#14508 refactor(themes): include `--ig-theme` in the generated CSS themes
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  src/app/input-group/input-group.sample.html
  src/styles/_variables.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 18.1.x

#14447 docs(pivot): correct dimension internal prop jsdoc tags
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
Labels: :book: documentation, grid: pivot, version: 18.1.x

#14446 docs(pivot): correct dimension internal prop jsdoc tags
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
Labels: :book: documentation, grid: pivot, version: 18.0.x

#14514 feat(pivotGrid): Add horizontal summary top/bottom option. Fixes to related logic.
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-navigation.service.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
  src/app/pivot-grid-state/pivot-grid-state.sample.html
  src/app/pivot-grid-state/pivot-grid-state.sample.ts
Labels: :white_check_mark: status: verified, squash-merge, grid: pivot, version: 18.1.x

#14513 docs(column): mark mistakenly left exposed getters as hidden
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/columns/column-group.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column-moving.spec.ts
Labels: :book: documentation, refactoring, squash-merge, grid: column-types, :diamond_shape_with_a_dot_inside: grid: elements, version: 18.1.x

#14461 fix(for-of): correct content area recalculation - 18.0.x
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-components.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: :white_check_mark: status: verified, virtualization, version: 18.0.x

#14462 fix(for-of): correct content area recalculation - 17.2.x
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-components.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: :white_check_mark: status: verified, virtualization, version: 17.2.x

#14466 fix(grid): Fix filtering UI mousedown event handling - 18.0.x
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
Labels: :white_check_mark: status: verified, grid: filter-ui, version: 18.0.x

#14460 fix(for-of): correct content area recalculation - master
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.virtualization.spec.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-components.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: :white_check_mark: status: verified, virtualization, version: 18.1.x

#14503 fix(drag-drop): clear transform style for default position - master
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.spec.ts
Labels: :white_check_mark: status: verified, drag-drop, splitter, version: 18.1.x

#14504 fix(drag-drop): clear transform style for default position - 18.0.x
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.spec.ts
Labels: :white_check_mark: status: verified, drag-drop, splitter, version: 18.0.x

#14505 fix(drag-drop): clear transform style for default position - 17.2.x
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.spec.ts
Labels: :white_check_mark: status: verified, drag-drop, splitter, version: 17.2.x

#14506 Improve row selection performance when primaryKey is set
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  src/app/grid-performance/grid-performance.sample.html
  src/app/grid-performance/grid-performance.sample.ts
Labels: :white_check_mark: status: verified, grid: row-selection, grid, version: 18.1.x

#14522 Improve row selection performance when primaryKey is set --18
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  src/app/grid-performance/grid-performance.sample.html
  src/app/grid-performance/grid-performance.sample.ts
Labels: :x: status: awaiting-test, grid: row-selection, grid, version: 18.0.x

#14523 Improve row selection performance when primaryKey is set --17.2
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  src/app/grid-performance/grid-performance.sample.html
  src/app/grid-performance/grid-performance.sample.ts
Labels: :x: status: awaiting-test, grid: row-selection, grid, version: 17.2.x

#14530 fix(overlay-demo): use owner property - master
  src/app/overlay/overlay.sample.ts
Labels: demos, :x: status: awaiting-test, overlay, version: 18.1.x

#14532 fix(overlay-demo): use owner property - 17.2.x
  src/app/overlay/overlay.sample.ts
Labels: demos, :x: status: awaiting-test, overlay, version: 17.2.x

#14531 fix(overlay-demo): use owner property - 18.0.x
  src/app/overlay/overlay.sample.ts
Labels: demos, :x: status: awaiting-test, overlay, version: 18.0.x

#14524 refactor(grids): clean up internal types handling
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/enums.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/row-drag.directive.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/grids/watch-changes.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: grid: general, refactoring, squash-merge, :diamond_shape_with_a_dot_inside: grid: elements, version: 18.1.x

#14516 Update ROADMAP prior 18.1 7 Jul 24
  ROADMAP.md
Labels: :book: documentation, version: 18.1.x

#14534 feat(stepper): align title and content
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
Labels: :white_check_mark: status: verified, stepper, version: 18.1.x

#14540 build(*): Change pivot row takeUntil import
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header.component.ts
Labels: :bricks: ci: build, :x: status: awaiting-test

#14528 build(*): drop browserslist override for the built-in default
  .browserslistrc
Labels: version: 18.1.x

#14535 feat(overlay): add element injector in attach overload settings
  CHANGELOG.md
  projects/igniteui-angular/src/lib/services/overlay/README.md
  projects/igniteui-angular/src/lib/services/overlay/overlay.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/overlay.ts
  projects/igniteui-angular/src/lib/services/overlay/utilities.ts
  projects/igniteui-angular/src/lib/services/public_api.ts
Labels: :white_check_mark: status: verified, overlay, squash-merge, version: 18.1.x

#14478 chore(schematics): put official schamatics for 18.1
  projects/igniteui-angular/package.json
Labels: schematics, version: 18.1.x

#14542 docs(nav-drawer): show hidden properties
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.directives.ts
Labels: nav-drawer, :book: documentation, :white_check_mark: status: verified, version: 18.0.x

#14541 docs(nav-drawer): show hidden properties
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.directives.ts
Labels: nav-drawer, :book: documentation, :white_check_mark: status: verified, version: 18.1.x

#14499 fix(Grid): Fixed duplicate ghosts in MRL
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
Labels: :white_check_mark: status: verified, grid: column-moving, grid: multi-row-layout, version: 17.2.x

#14500 fix(Grid): Fixed duplicate ghosts in MRL
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
Labels: :white_check_mark: status: verified, grid: column-moving, grid: multi-row-layout, version: 18.0.x

#14510 fix(igxGrid): Fix issue with group expanding container.
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
Labels: :white_check_mark: status: verified, grid, version: 18.1.x

#14511 fix(igxGrid): Fix issue with group expanding container.
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
Labels: :white_check_mark: status: verified, grid, version: 18.0.x

#14512 fix(igxGrid): Fix issue with group expanding container.
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
Labels: :white_check_mark: status: verified, grid, version: 17.2.x

#14557 Update README miletone numbering
  ROADMAP.md
Labels: :book: documentation, version: 18.1.x

#14547 fix(combo): resolve error in dropdown component by setting id - 18.0.x
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: :white_check_mark: status: verified, combo, version: 18.0.x

#14548 fix(combo): resolve error in dropdown component by setting id - 17.2.x
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: :white_check_mark: status: verified, combo, version: 17.2.x

#14546 fix(combo): resolve error in dropdown component by setting id - master
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.spec.ts
Labels: :white_check_mark: status: verified, combo, version: 18.1.x

#14559 fix(icon-service): icon not being rendered on addSvgIconFromText
  projects/igniteui-angular/src/lib/icon/icon.service.ts
  projects/igniteui-angular/src/lib/icon/reference_table.md
Labels: :white_check_mark: status: verified, icon-service, version: 18.1.x

#14556 chore(changelog): add entry related to icon service changes
  CHANGELOG.md
  projects/igniteui-angular/src/lib/icon/icon.service.ts
Labels: :book: documentation, version: 18.1.x

#14561 refactor(*): update icon reference names for tree, combo and select
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-filtering.spec.ts
  projects/igniteui-angular/src/lib/icon/reference_table.md
  projects/igniteui-angular/src/lib/select/select.component.html
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
  projects/igniteui-angular/src/lib/tree/tree-node/tree-node.component.html
  projects/igniteui-angular/src/lib/tree/tree.component.ts
Labels: :white_check_mark: status: verified, icon-service, version: 18.1.x

#14432 fix(simple-combo): prevent group header selection on Enter key press - 17.2.x
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 17.2.x

#14431 fix(simple-combo): prevent group header selection on Enter key press - 18.0.x
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 18.0.x

#14430 fix(simple-combo): prevent group header selection on Enter key press - master
  CHANGELOG.md
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :white_check_mark: status: verified, simple-combo, version: 18.1.x

#14563 refactor(icon-references): update icon ref names for combo and select
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/icon/reference_table.md
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.html
Labels: :white_check_mark: status: verified, combo, select, icon-service, version: 18.1.x

#14567 chore(*): roadmap-update-18.1-release
  ROADMAP.md
Labels: :book: documentation, version: 18.1.x

#14560 Update README 22 July 24
  README.md
Labels: :book: documentation, version: 18.1.x

#14571 chore(igxPivot): Remove tsPlain due to enum values tranforms.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
Labels: :diamond_shape_with_a_dot_inside: grid: elements

#14573 chore(igxPivot): Remove tsPlain due to enum values tranforms.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.interface.ts
Labels: :diamond_shape_with_a_dot_inside: grid: elements, version: 18.1.x

#14578 docs(h-grid): mark the internal child row class as such
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
Labels: :book: documentation, :diamond_shape_with_a_dot_inside: grid: elements, version: 18.1.x

#14586 fix(divider): correct inset input target
  projects/igniteui-angular/src/lib/directives/divider/divider.directive.ts
Labels: divider, version: 18.1.x

#14527 fix(advance-filtering): handle error when columns are dynamically changed - 17.2.x
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, grid: advanced-filtering, grid, version: 17.2.x

#14577 fix(advance-filtering): handle error when columns are dynamically changed - 18.1.x
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, grid: advanced-filtering, grid, version: 18.1.x

#14596 chore(*): Update tags to match model.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :diamond_shape_with_a_dot_inside: grid: elements, version: 18.1.x

#14584 fix(drop-down): ensure id attribute is set correctly when using bracket syntax - 18.1.x
  projects/igniteui-angular/src/lib/drop-down/drop-down.base.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
Labels: :white_check_mark: status: verified, dropdown, select, version: 18.1.x

#14585 fix(drop-down): ensure id attribute is set correctly when using bracket syntax - 17.2.x
  projects/igniteui-angular/src/lib/drop-down/drop-down.base.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
Labels: :white_check_mark: status: verified, dropdown, select, version: 17.2.x

#14594 fix(elements): inject grid instead of grid api in state component
  projects/igniteui-angular-elements/src/app/app.module.ts
  projects/igniteui-angular-elements/src/app/custom-strategy.spec.ts
  projects/igniteui-angular-elements/src/lib/state.component.ts
Labels: :white_check_mark: status: verified, squash-merge, grid: state-persistence, :diamond_shape_with_a_dot_inside: grid: elements, version: 18.1.x

#14574 Nav drawer - fixing navdrawer item in material theme to work with ripple directive
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
  src/app/app.component.ts
Labels: nav-drawer, material-theme, :white_check_mark: status: verified, version: 18.1.x

#14496 Calendar - update the indigo theme to match the latest design from the UI kits
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
Labels: :white_check_mark: status: verified, :calendar: calendar, refactoring, indigo-theme, design: awaiting-validation, version: 18.1.x

#14398 refactor(paginator): implement indigo design changes
  projects/igniteui-angular/src/lib/core/styles/components/paginator/_paginator-theme.scss
Labels: :x: status: awaiting-test, paginator, indigo-theme, version: 18.1.x
