Repository IgniteUI/igniteui-angular, pull requests merged in 2025-06, with the labels that each got.

#15862 fix(month-picker): correct date format for year
  projects/igniteui-angular/src/lib/calendar/calendar-base.ts
  projects/igniteui-angular/src/lib/calendar/month-picker/month-picker.component.html
Labels: :calendar: calendar, :calendar: month-picker, version: 19.2.x

#15882 refactor(*): replace mkenum with const assertion
  CHANGELOG.md
  projects/igniteui-angular/src/lib/avatar/avatar.component.ts
  projects/igniteui-angular/src/lib/badge/badge.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/calendar/calendar.ts
  projects/igniteui-angular/src/lib/card/card.component.ts
  projects/igniteui-angular/src/lib/carousel/enums.ts
  projects/igniteui-angular/src/lib/checkbox/checkbox-base.directive.ts
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/date-common/types.ts
  projects/igniteui-angular/src/lib/directives/button/button-base.ts
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
  projects/igniteui-angular/src/lib/directives/divider/divider.directive.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.common.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel-header.component.ts
  projects/igniteui-angular/src/lib/grids/common/enums.ts
  projects/igniteui-angular/src/lib/input-group/inputGroupType.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
  projects/igniteui-angular/src/lib/services/theme/theme.token.ts
  projects/igniteui-angular/src/lib/slider/slider.common.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
  projects/igniteui-angular/src/lib/tree/common.ts
Labels: refactoring, triage: blocking, squash-merge, :exclamation: behavior-change, optimization, version: 20.0.x

#15897 chore(schematics): update @igniteui/angular-schematics
  projects/igniteui-angular/package.json
Labels: triage: blocking, schematics, version: 20.0.x

#15901 refactor(elements): externalize lit instead of just lit-html
  angular.json
  package-lock.json
  package.json
  projects/igniteui-angular-elements/esbuild.mjs
  projects/igniteui-angular-elements/src/app/custom-strategy.spec.ts
  projects/igniteui-angular-elements/src/app/wrapper/wrapper.component.spec.ts
  projects/igniteui-angular-elements/src/app/wrapper/wrapper.component.ts
  projects/igniteui-angular/package.json
Labels: refactoring, triage: blocking, :diamond_shape_with_a_dot_inside: grid: elements, version: 20.0.x

#15905 chore(schematics): update official ignite schematics
  projects/igniteui-angular/package.json
Labels: schematics, version: 20.0.x

#15917 fix(Toolbar): Cancel export should hide the progress indicator.
  projects/igniteui-angular/src/lib/grids/grid/grid-toolbar.spec.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-exporter.component.ts
Labels: :white_check_mark: status: verified, exporters, grid: toolbar, version: 19.2.x

#15863 feat(igx-vhelper): create and use css var for scrollbar size
  projects/igniteui-angular/src/lib/core/styles/components/_common/_igx-vhelper.scss
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/directives/for-of/virtual.helper.component.ts
Labels: :white_check_mark: status: verified, virtualization, scrollbar, version: 19.2.x

#15937 refactor(input-group): label position when placeholder is removed
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: material-theme, :white_check_mark: status: verified, input-group, textarea, version: 19.2.x

#15931 fix(h-grid): add null checks for child data - 19.2.x
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, grid: advanced-filtering, version: 19.2.x

#15949 fix(grid): remove column actions input field negative margin
  projects/igniteui-angular/src/lib/core/styles/components/column-actions/_column-actions-theme.scss
Labels: styling, :white_check_mark: status: verified, grid: column-actions, version: 20.0.x

#15950 fix(grid): remove column actions input field negative margin
  projects/igniteui-angular/src/lib/core/styles/components/column-actions/_column-actions-theme.scss
Labels: styling, :white_check_mark: status: verified, version: 19.2.x, grid: column-actions

#15956 fix(combo/select): remove suffix dynamically
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  src/app/input-group-showcase/input-group-showcase.sample.html
Labels: :white_check_mark: status: verified, combo, select, version: 20.0.x

#15957 fix(combo/select): remove suffix dynamically
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  src/app/input-group-showcase/input-group-showcase.sample.html
Labels: :white_check_mark: status: verified, combo, select, version: 19.2.x

#15961 fix(combo/select): remove suffix dynamically
  projects/igniteui-angular/src/lib/combo/combo.common.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  src/app/input-group-showcase/input-group-showcase.sample.ts
Labels: :white_check_mark: status: verified, combo, select

#15959 fix(input-group): bootstrap invalid and success state shadows
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :white_check_mark: status: verified, input-group, bootstrap-theme, version: 20.0.x

#15960 fix(input-group): bootstrap invalid and success state shadows
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :white_check_mark: status: verified, input-group, bootstrap-theme, version: 19.2.x

#15958 fix(esf): use requestAnimationFrame only when in browser environment
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 19.2.x

#15955 fix(esf): use requestAnimationFrame only when in browser environment
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 20.0.x

#15951 fix(tooltip): use inject document for ssr - 20.0.x
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
Labels: :white_check_mark: status: verified, tooltip, angular: ssr, version: 20.0.x

#15971 fix(calendar): adhere to ISO 8601 when calculating week number if the week starts on Monday
  projects/igniteui-angular/src/lib/calendar/calendar.component.spec.ts
  projects/igniteui-angular/src/lib/calendar/common/model.spec.ts
  projects/igniteui-angular/src/lib/calendar/common/model.ts
  projects/igniteui-angular/src/lib/calendar/days-view/days-view.component.ts
  src/app/calendar/calendar.sample.ts
  src/app/properties-panel/properties-panel.component.html
  src/app/properties-panel/properties-panel.component.ts
  src/app/properties-panel/property-change.service.ts
Labels: :calendar: calendar, version: 19.2.x

#15915 fix(IgxGrid): Don't use spread operator for large collections.
  projects/igniteui-angular/src/lib/grids/common/strategy.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
Labels: :white_check_mark: status: verified, grid: groupby, version: 20.0.x

#15916 fix(IgxGrid): Don't use spread operator for large collections.
  projects/igniteui-angular/src/lib/grids/common/strategy.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
Labels: :white_check_mark: status: verified, grid: groupby, version: 19.2.x

#15935 fix(igxHierarchicalGrid): Update existing child grids for RI on change.
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/row-island.component.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 19.2.x

#15688 fix(igxGrid): Use default scheduler when throttling.
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid, version: 19.2.x

#15979 fix(carousel-base): set animation players to null on destroy - 19.2.x
  projects/igniteui-angular/src/lib/carousel/carousel-base.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.spec.ts
Labels: :carousel_horse: carousel, :white_check_mark: status: verified, tabs, stepper, version: 19.2.x

#15642 chore(*): Recalc and apply new min widths based on paddings.
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :white_check_mark: status: verified, refactoring, grid, version: 20.0.x

#15990 fix(grid): fix grid shadows
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: styling, :white_check_mark: status: verified, grid, version: 20.0.x

#15861 fix(igxGrid): Adjust expandable cell styles.
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
Labels: :white_check_mark: status: verified, grid: master-detail, version: 19.2.x

#15890 fix(igxGrid): Adjust expandable cell styles.
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/grid/expandable-cell.component.html
Labels: :white_check_mark: status: verified, grid, version: 20.0.x

#15968 refactor(drop-down): items icon size
  projects/igniteui-angular/src/lib/drop-down/themes/shared/_fluent.scss
Labels: :white_check_mark: status: verified, dropdown

#15855 fix(igxGrid): Make sure track changes resolves to string and tracks s…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid: multi-column-headers, version: 19.2.x

#15889 fix(igxGrid): Make sure track changes resolves to string and tracks s…
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid, version: 20.0.x

#15800 fix(igxSplitter): Assign pane props after zone is stable.
  projects/igniteui-angular/src/lib/splitter/splitter-pane/splitter-pane.component.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.spec.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
Labels: :white_check_mark: status: verified, splitter, version: 19.2.x

#15894 fix(pivot-grid): Handle currency pivot values with count aggregator - master
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-util.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 20.0.x

#15980 fix(carousel-base): set animation players to null on destroy - 20.0.x
  projects/igniteui-angular/src/lib/carousel/carousel-base.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.spec.ts
Labels: :carousel_horse: carousel, :white_check_mark: status: verified, tabs, stepper, version: 20.0.x

#15974 refactoring(query-builder): expose the outer padding as a css variable
  projects/igniteui-angular/src/lib/core/styles/components/query-builder/_query-builder-theme.scss
Labels: styling, :x: status: awaiting-test, query-builder, version: 19.2.x

#15975 refactoring(query-builder): expose the outer padding as a css variable
  projects/igniteui-angular/src/lib/core/styles/components/query-builder/_query-builder-theme.scss
Labels: styling, :x: status: awaiting-test, query-builder, version: 20.0.x

#15972 fix(vhelper): fix padding only when vhelper scrollbar is visible
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/directives/for-of/base.helper.component.ts
  projects/igniteui-angular/src/lib/directives/for-of/horizontal.virtual.helper.component.ts
  projects/igniteui-angular/src/lib/directives/for-of/virtual.helper.component.ts
Labels: :white_check_mark: status: verified, virtualization, dropdown, version: 20.0.x
