Repository IgniteUI/igniteui-angular, pull requests merged in 2025-08, with the labels that each got.

#16019 fix(grid-column-groups, pivot): render a hidden row with headers for accessibility purposes - 20.0.x
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
Labels: :white_check_mark: status: verified, :wheelchair: a11y, grid: multi-column-headers, grid: pivot, grid, version: 20.0.x

#16097 fix(grid-column-groups, pivot): render a hidden row with headers for accessibility purposes - master
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
Labels: :white_check_mark: status: verified, :wheelchair: a11y, grid: multi-column-headers, grid: pivot, grid, version: 20.1.x

#16099 fix(grid-column-groups, pivot): render a hidden row with headers for accessibility purposes - 19.2.x
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid/column-group.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
Labels: :white_check_mark: status: verified, :wheelchair: a11y, grid: multi-column-headers, grid: pivot, version: 19.2.x

#16104 fix(tooltip): prevent adding multiple document touch event listeners - 20.0.x
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  projects/igniteui-angular/src/lib/test-utils/tooltip-components.spec.ts
Labels: :white_check_mark: status: verified, tooltip, version: 20.0.x

#16107 Fix cell merge styling issues.
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: :white_check_mark: status: verified, grid: tree-grid, grid: hierarchical-grid, grid

#16127 refactor(themes): consume spacing variables from theming
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, spacing, version: 20.0.x

#16111 fix(switch): update switch using the new thumb hover property
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
Labels: switch, :white_check_mark: status: verified, :sparkles: themes

#16128 Address grids column headers accessibility issues - active descendant, what is announced by SRs - 19.2.x
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav-headers.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header-group.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-mrl-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-mrl-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-sorting.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-functions.spec.ts
Labels: :white_check_mark: status: verified, :wheelchair: a11y, grid: tree-grid, grid: hierarchical-grid, aria-support, grid: pivot, grid, version: 19.2.x

#15982 Address grids column headers accessibility issues - active descendant, what is announced by SRs - 20.0.x
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav-headers.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-keyBoardNav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.sorting.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-content.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header-group.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-mrl-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-dimension-mrl-row.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row-header-group.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-sorting.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tree-grid-functions.spec.ts
Labels: :white_check_mark: status: verified, :wheelchair: a11y, grid: tree-grid, grid: hierarchical-grid, aria-support, grid: pivot, grid, version: 20.0.x

#16124 Fix column resizer position - 19.2.x
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/resizing/resize-handle.directive.ts
  projects/igniteui-angular/src/lib/grids/resizing/resizer.directive.ts
Labels: :white_check_mark: status: verified, grid: column-resizing, version: 19.2.x

#16123 Fix column resizer position - 20.0.x
  projects/igniteui-angular/src/lib/grids/grid/column-resizing.spec.ts
  projects/igniteui-angular/src/lib/grids/resizing/resize-handle.directive.ts
  projects/igniteui-angular/src/lib/grids/resizing/resizer.directive.ts
Labels: :white_check_mark: status: verified, grid: column-resizing, version: 20.0.x

#15791 feat(tooltip): align with WC tooltip
  CHANGELOG.md
  projects/igniteui-angular/src/lib/core/styles/components/tooltip/_tooltip-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/tooltip/_tooltip-theme.scss
  projects/igniteui-angular/src/lib/directives/tooltip/README.md
  projects/igniteui-angular/src/lib/directives/tooltip/public_api.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip-close-button.component.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip-target.directive.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.common.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-validation.spec.ts
  projects/igniteui-angular/src/lib/services/overlay/position/base-fit-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/connected-positioning-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/position/global-position-strategy.ts
  projects/igniteui-angular/src/lib/services/overlay/utilities.ts
  projects/igniteui-angular/src/lib/test-utils/tooltip-components.spec.ts
  src/app/tooltip/tooltip.sample.css
  src/app/tooltip/tooltip.sample.html
  src/app/tooltip/tooltip.sample.ts
Labels: :white_check_mark: status: verified, tooltip, squash-merge

#16010 feat(icon): add aria-hidden="true" attribute by default + test - 20.0.x
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.html
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel-header.component.html
  projects/igniteui-angular/src/lib/icon/icon.component.spec.ts
  projects/igniteui-angular/src/lib/icon/icon.component.ts
  projects/igniteui-angular/src/lib/select/select.component.html
Labels: :framed_picture: icon, :white_check_mark: status: verified, version: 20.0.x

#16129 feat(icon): add aria-hidden="true" attribute by default + test - 19.2.x
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.html
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel-header.component.html
  projects/igniteui-angular/src/lib/icon/icon.component.spec.ts
  projects/igniteui-angular/src/lib/icon/icon.component.ts
  projects/igniteui-angular/src/lib/select/select.component.html
Labels: :framed_picture: icon, :white_check_mark: status: verified, version: 19.2.x

#16098 feat(icon): add aria-hidden="true" attribute by default + test - master
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.html
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel-header.component.html
  projects/igniteui-angular/src/lib/icon/icon.component.spec.ts
  projects/igniteui-angular/src/lib/icon/icon.component.ts
  projects/igniteui-angular/src/lib/select/select.component.html
Labels: :framed_picture: icon, :white_check_mark: status: verified, version: 20.1.x

#16121 Adding PredefinedRangesArea
  CHANGELOG.md
  projects/igniteui-angular-i18n/src/i18n/BG/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/date-range-picker-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/date-range-picker-resources.ts
  projects/igniteui-angular/src/lib/date-common/calendar-container/calendar-container.component.html
  projects/igniteui-angular/src/lib/date-common/calendar-container/calendar-container.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker-inputs.common.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/predefined-ranges/predefined-ranges-area-component.html
  projects/igniteui-angular/src/lib/date-range-picker/predefined-ranges/predefined-ranges-area-component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/predefined-ranges/predefined-ranges-area.component.ts
  src/app/date-range/date-range.sample.html
  src/app/date-range/date-range.sample.ts
Labels: :chart_with_upwards_trend: enhancement, :white_check_mark: status: verified, :date: date-range-picker

#16164 chore(schematics): use node version that works for ts-node (#16147)
  .github/workflows/nodejs.yml
Labels: schematics, version: 19.2.x

#16148 fix(input-group): prefix & suffix borders in bootstrap
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/select/_select-theme.scss
Labels: :white_check_mark: status: verified, input-group, bootstrap-theme

#16167 fix(QB): Updated entities JSDoc. Removed @hidden decorator
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.ts
Labels: :book: documentation, query-builder, version: 20.0.x

#16166 fix(QB): Updated entities JSDoc. Removed @hidden decorator
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.ts
Labels: :book: documentation, query-builder, version: 19.2.x

#16132 Column pinning - both sides.
  CHANGELOG.md
  projects/igniteui-angular-elements/src/analyzer/elements.config.ts
  projects/igniteui-angular/src/lib/grids/columns/column-layout.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-moving.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.html
  projects/igniteui-angular/src/lib/grids/headers/grid-header-row.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/summaries/summary-row.component.html
  projects/igniteui-angular/src/lib/grids/summaries/summary-row.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  src/app/grid-column-moving/grid-column-moving.sample.html
  src/app/grid-column-moving/grid-column-moving.sample.ts
  src/app/grid-column-pinning/grid-column-pinning.sample.html
  src/app/grid-column-pinning/grid-column-pinning.sample.ts
  src/app/grid-multi-row-layout/grid-mrl.sample.html
  src/app/grid-multi-row-layout/grid-mrl.sample.ts
  src/app/hierarchical-grid-add-row/hierarchical-grid-add-row.sample.html
  src/app/hierarchical-grid-add-row/hierarchical-grid-add-row.sample.ts
  src/app/tree-grid/tree-grid.sample.html
  src/app/tree-grid/tree-grid.sample.ts
Labels: :white_check_mark: status: verified, grid: column-pinning, version: 20.1.x

#16109 DateRangePicker - Add cancel button in dialog mode
  CHANGELOG.md
  projects/igniteui-angular-i18n/src/i18n/BG/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/date-range-picker-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/date-range-picker-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/date-range-picker-resources.ts
  projects/igniteui-angular/src/lib/date-common/calendar-container/calendar-container.component.html
  projects/igniteui-angular/src/lib/date-common/calendar-container/calendar-container.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
Labels: :chart_with_upwards_trend: enhancement, :white_check_mark: status: verified, :date: date-range-picker

#16155 fix(tooltip): not show tooltip when target is clicked - 19.2.x
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip-target.directive.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.spec.ts
Labels: :white_check_mark: status: verified, tooltip, version: 19.2.x

#16180 fix(*): prod build fails internally
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: ci: azure-pipelines, version: 19.2.x

#16115 Clear icon enhancements for IgxDateRangePicker
  projects/igniteui-angular/src/lib/date-common/picker-base.directive.ts
  projects/igniteui-angular/src/lib/date-picker/date-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.html
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.spec.ts
  projects/igniteui-angular/src/lib/date-range-picker/date-range-picker.component.ts
  projects/igniteui-angular/src/lib/date-range-picker/public_api.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
  src/app/date-range/date-range.sample.html
  src/app/date-range/date-range.sample.ts
Labels: :chart_with_upwards_trend: enhancement, :white_check_mark: status: verified, squash-merge, :date: date-range-picker, version: 20.1.x

#16175 Export IDatePickerValidationFailedEventArgs - 19.2.x
  projects/igniteui-angular/src/lib/date-picker/public_api.ts
Labels: :x: status: awaiting-test, :white_check_mark: status: verified, :date: date-picker, version: 19.2.x

#16174 Export IDatePickerValidationFailedEventArgs - 20.0.x
  projects/igniteui-angular/src/lib/date-picker/public_api.ts
Labels: :x: status: awaiting-test, :white_check_mark: status: verified, :date: date-picker, version: 20.0.x

#16024 Grid Cell merging
  CHANGELOG.md
  projects/igniteui-angular-elements/src/analyzer/elements.config.ts
  projects/igniteui-angular-elements/src/public_api.ts
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/utils.ts
  projects/igniteui-angular/src/lib/data-operations/data-util.ts
  projects/igniteui-angular/src/lib/data-operations/merge-strategy.ts
  projects/igniteui-angular/src/lib/grids/cell.component.html
  projects/igniteui-angular/src/lib/grids/cell.component.ts
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/common/enums.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/cell-merge.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-row.component.html
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/selection/selection.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-row.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  projects/igniteui-angular/src/lib/test-utils/ui-interactions.spec.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/grid-cellMerging/grid-cellMerging.component.html
  src/app/grid-cellMerging/grid-cellMerging.component.scss
  src/app/grid-cellMerging/grid-cellMerging.component.ts
  src/app/shared/invoiceData.ts
Labels: :white_check_mark: status: verified, triage: blocking, grid: tree-grid, squash-merge, grid: hierarchical-grid, grid, design: verified, version: 20.1.x
