Repository IgniteUI/igniteui-angular, pull requests merged in 2025-04, with the labels that each got.

#15629 [tree] - fix igx-circular-bar in context of tree component
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
Labels: styling, circular-progress, tree, version: 19.2.x

#15618 refactor(action-strip): bundle styles with component
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.scss
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.ts
  projects/igniteui-angular/src/lib/action-strip/themes/_base.scss
  projects/igniteui-angular/src/lib/action-strip/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/action-strip/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/action-strip/themes/light/_index.scss
  projects/igniteui-angular/src/lib/action-strip/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/action-strip/themes/shared/_fluent.scss
  projects/igniteui-angular/src/lib/action-strip/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
Labels: :white_check_mark: status: verified, refactoring, action-strip, :sparkles: themes

#15641 refactor(rating): bundle styles with component
  projects/igniteui-angular/src/lib/core/styles/components/rating/_rating-theme.scss
Labels: :white_check_mark: status: verified, refactoring, :sparkles: themes, rating

#15652 refactor(switch): remove invalid state properties
  package-lock.json
  package.json
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-19_1_6/changes/theme-changes.json
  projects/igniteui-angular/migrations/update-19_1_6/index.spec.ts
  projects/igniteui-angular/migrations/update-19_1_6/index.ts
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
Labels: switch, :white_check_mark: status: verified, :bangbang: breaking-change, version: 19.1.x

#15653 deps(theming): bump to latest version
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
Labels: :sparkles: themes, dependencies, version: 19.2.x

#15549 fix(for-of): If there is no sizeCache when updating, assign default i…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: :white_check_mark: status: verified, virtualization, :diamond_shape_with_a_dot_inside: grid: elements, version: 19.1.x

#15550 fix(for-of): If there is no sizeCache when updating, assign default i…
  projects/igniteui-angular/src/lib/directives/for-of/for_of.directive.ts
Labels: :white_check_mark: status: verified, virtualization, :diamond_shape_with_a_dot_inside: grid: elements, version: 19.2.x

#15635 Additional fix for enabling filtering expressions to generate as classes in React.
  projects/igniteui-angular/src/lib/data-operations/filtering-expressions-tree.ts
Labels: :white_check_mark: status: verified, grid: global-filtering, :diamond_shape_with_a_dot_inside: grid: elements, version: 19.1.x

#15636 Additional fix for enabling filtering expressions to generate as classes in React.
  projects/igniteui-angular/src/lib/data-operations/filtering-expressions-tree.ts
Labels: :white_check_mark: status: verified, grid: global-filtering, :diamond_shape_with_a_dot_inside: grid: elements, version: 19.2.x

#15658 feat(hierarchical-grid): add parentRowData to IGridCreatedEventArgs
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/events.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 19.2.x

#15657 feat(hierarchical-grid): add parentRowData to IGridCreatedEventArgs
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/events.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.pipes.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, version: 19.1.x

#15596 fix(*): adding random function for unsecure context #15461
  projects/igniteui-angular/src/lib/grids/common/random.spec.ts
  projects/igniteui-angular/src/lib/grids/common/random.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/common.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :x: status: awaiting-test, grid, version: 19.2.x

#15659 refactor(tabs): scope styles to component
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_material.scss
  projects/igniteui-angular/src/lib/tabs/tabs/content/tab-content.component.html
  projects/igniteui-angular/src/lib/tabs/tabs/content/tab-content.component.scss
  projects/igniteui-angular/src/lib/tabs/tabs/content/tab-content.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/header/tab-header.component.html
  projects/igniteui-angular/src/lib/tabs/tabs/header/tab-header.component.scss
  projects/igniteui-angular/src/lib/tabs/tabs/header/tab-header.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/header/themes/_base.scss
  projects/igniteui-angular/src/lib/tabs/tabs/header/themes/shared/_bootstrap.scss
  projects/igniteui-angular/src/lib/tabs/tabs/header/themes/shared/_fluent.scss
  projects/igniteui-angular/src/lib/tabs/tabs/header/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/tabs/tabs/header/themes/shared/_indigo.scss
  projects/igniteui-angular/src/lib/tabs/tabs/header/themes/shared/_material.scss
  projects/igniteui-angular/src/lib/tabs/tabs/item/tab-item.component.html
  projects/igniteui-angular/src/lib/tabs/tabs/item/tab-item.component.scss
  projects/igniteui-angular/src/lib/tabs/tabs/item/tab-item.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/item/themes/_base.scss
  projects/igniteui-angular/src/lib/tabs/tabs/item/themes/shared/_bootstrap.scss
  projects/igniteui-angular/src/lib/tabs/tabs/item/themes/shared/_fluent.scss
  projects/igniteui-angular/src/lib/tabs/tabs/item/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/tabs/tabs/item/themes/shared/_indigo.scss
  projects/igniteui-angular/src/lib/tabs/tabs/item/themes/shared/_material.scss
  projects/igniteui-angular/src/lib/tabs/tabs/public_api.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tab-content.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.html
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.scss
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.ts
  projects/igniteui-angular/src/lib/tabs/tabs/themes/_base.scss
  projects/igniteui-angular/src/lib/tabs/tabs/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/tabs/tabs/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/tabs/tabs/themes/light/_index.scss
  projects/igniteui-angular/src/lib/tabs/tabs/themes/light/_tokens.scss
  src/app/tabs-showcase/tabs-showcase.sample.html
  src/app/tabs-showcase/tabs-showcase.sample.scss
  src/app/tabs-showcase/tabs-showcase.sample.ts
  src/styles/hound/components/tabs/_overwrites.scss
Labels: styling, :x: status: awaiting-test, refactoring, tabs

#15655 refactor(paginator): bundle styles with component
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/paginator/paginator.component.scss
  projects/igniteui-angular/src/lib/paginator/paginator.component.ts
  projects/igniteui-angular/src/lib/paginator/themes/_base.scss
  projects/igniteui-angular/src/lib/paginator/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/paginator/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/paginator/themes/light/_index.scss
  projects/igniteui-angular/src/lib/paginator/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/paginator/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/paginator/themes/shared/_indigo.scss
Labels: :white_check_mark: status: verified, refactoring, paginator, :sparkles: themes

#15630 refactor(drop-down): bundle styles with component
  projects/igniteui-angular/src/lib/action-strip/action-strip.component.spec.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/combo/combo-dropdown.component.ts
  projects/igniteui-angular/src/lib/combo/combo.component.ts
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_material.scss
  projects/igniteui-angular/src/lib/directives/autocomplete/autocomplete.directive.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.base.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.html
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.scss
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.ts
  projects/igniteui-angular/src/lib/drop-down/themes/_base.scss
  projects/igniteui-angular/src/lib/drop-down/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/drop-down/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/drop-down/themes/light/_index.scss
  projects/igniteui-angular/src/lib/drop-down/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/drop-down/themes/shared/_fluent.scss
  projects/igniteui-angular/src/lib/drop-down/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/drop-down/themes/shared/_indigo.scss
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-ui.spec.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.html
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-functions.spec.ts
  src/styles/hound/components/dropdown/_overwrites.scss
Labels: :white_check_mark: status: verified, refactoring, dropdown, :sparkles: themes

#15670 [calendar]: fix range preview inactive dates text color
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
Labels: styling, :white_check_mark: status: verified, :calendar: calendar, version: 19.2.x

#15671 [calendar]: fix range preview inactive dates text color
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
Labels: styling, :white_check_mark: status: verified, :calendar: calendar, version: 19.1.x

#15677 refactor(chip): apply latest bootstrap changes
  projects/igniteui-angular/src/lib/chips/themes/shared/_bootstrap.scss
Labels: :white_check_mark: status: verified, refactoring, chip, bootstrap-theme

#15685 fix(navbar): nested components sizes
  projects/igniteui-angular/src/lib/core/styles/components/icon-button/_icon-button-theme.scss
  projects/igniteui-angular/src/lib/navbar/navbar.component.html
  projects/igniteui-angular/src/lib/navbar/navbar.component.ts
  projects/igniteui-angular/src/lib/navbar/themes/_base.scss
  projects/igniteui-angular/src/lib/navbar/themes/shared/_bootstrap.scss
  projects/igniteui-angular/src/lib/navbar/themes/shared/_indigo.scss
Labels: :white_check_mark: status: verified, refactoring, navbar, :sparkles: themes

#15556 feat(GridBase): Apply spec for server-side rendering for relative gri…
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
Labels: :white_check_mark: status: verified, grid: general, version: 19.2.x

#15705 fix(hgrid): provide HierarchicalRemoteService to the Remote Virtualization demo
  src/app/hierarchical-grid-remote-virtualization/hierarchical-grid-remote-virtualization.ts
Labels: demos, :white_check_mark: status: verified, grid: hierarchical-grid

#15487 feat(badge): improve badge theme
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/badge/_badge-theme.scss
Labels: badge, :white_check_mark: status: verified, :sparkles: themes

#15690 fix(calendar): range radius
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
Labels: :white_check_mark: status: verified, :calendar: calendar, fluent-theme, version: 19.2.x

#15669 refactor(grid-summaries): bundle styles with component
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/grids/summaries/grid-summary.component.scss
  projects/igniteui-angular/src/lib/grids/summaries/summary-cell.component.ts
  projects/igniteui-angular/src/lib/grids/summaries/summary-row.component.ts
  projects/igniteui-angular/src/lib/grids/summaries/themes/_base.scss
  projects/igniteui-angular/src/lib/grids/summaries/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/grids/summaries/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/grids/summaries/themes/light/_index.scss
  projects/igniteui-angular/src/lib/grids/summaries/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/grids/summaries/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/grids/summaries/themes/shared/_indigo.scss
Labels: :white_check_mark: status: verified, refactoring, grid: summaries, :sparkles: themes

#15698 fix(card): action-color not working
  projects/igniteui-angular/src/lib/action-strip/themes/_base.scss
  projects/igniteui-angular/src/lib/card/themes/_base.scss
  src/app/grid/grid.sample.html
  src/app/tooltip/tooltip.sample.html
Labels: :white_check_mark: status: verified, card, action-strip, :sparkles: themes

#15701 fix(card/action-strip): not working properties
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
Labels: :white_check_mark: status: verified, card, action-strip, version: 19.2.x

#15697 fix(calendar): range radius
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
Labels: :white_check_mark: status: verified, :calendar: calendar, fluent-theme, version: 19.1.x

#15422 Sizing panes corectly with minSize and the browser is shrinked - 18.2.x
  projects/igniteui-angular/src/lib/splitter/splitter.component.spec.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
Labels: :white_check_mark: status: verified, splitter, version: 18.2.x

#15517 Sizing panes correctly with minSize is used when the browser is shrinked
  projects/igniteui-angular/src/lib/splitter/splitter.component.spec.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
Labels: :white_check_mark: status: verified, splitter, version: 19.1.x

#15700 fix(input-group): fluent theme discrepancies
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :white_check_mark: status: verified, input-group, fluent-theme, design: in-validation, version: 19.2.x

#15711 fix(15674): ESF to show unique time values
  projects/igniteui-angular/src/lib/data-operations/filtering-strategy.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 19.1.x

#15716 fix(15674): ESF to show unique time values
  projects/igniteui-angular/src/lib/data-operations/filtering-strategy.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 18.2.x

#15651 feat(expansion-panel): improve expansion-panel theme
  projects/igniteui-angular/src/lib/core/styles/components/expansion-panel/_expansion-panel-theme.scss
Labels: :white_check_mark: status: verified, expansion-panel, :sparkles: themes

#15643 feat(dialog): update dialog theme to use adaptive-contrast function
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
Labels: dialog, :white_check_mark: status: verified, :sparkles: themes

#15620 feat(action-strip): update text contrast function
  projects/igniteui-angular/src/lib/core/styles/components/action-strip/_action-strip-theme.scss
Labels: :white_check_mark: status: verified, action-strip, :sparkles: themes

#15516 feat(card): improve card theme
  projects/igniteui-angular/src/lib/core/styles/components/card/_card-theme.scss
Labels: :white_check_mark: status: verified, card, :sparkles: themes

#15489 feat(bottom-nav): improve bottom-nav theme
  projects/igniteui-angular/src/lib/core/styles/components/bottom-nav/_bottom-nav-theme.scss
Labels: bottom-nav, :white_check_mark: status: verified, :sparkles: themes

#15660 feat(navbar): improve navbar theme
  projects/igniteui-angular/src/lib/core/styles/components/navbar/_navbar-theme.scss
Labels: nav-bar, :white_check_mark: status: verified, navbar, :sparkles: themes

#15662 feat(navdrawer): improve navdrawer theme
  projects/igniteui-angular/src/lib/core/styles/components/navdrawer/_navdrawer-theme.scss
Labels: nav-drawer, :white_check_mark: status: verified, :sparkles: themes, navdrawer

#15562 feat(h-grid): add support for advanced filtering
  CHANGELOG.md
  projects/igniteui-angular-elements/src/analyzer/elements.config.ts
  projects/igniteui-angular/src/lib/data-operations/expressions-tree-util.ts
  projects/igniteui-angular/src/lib/data-operations/filtering-strategy.ts
  projects/igniteui-angular/src/lib/grids/common/grid.interface.ts
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder-functions.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.html
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-components.spec.ts
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/hierarchical-grid-advanced-filtering/data.ts
  src/app/hierarchical-grid-advanced-filtering/hierarchical-grid-advanced-filtering.sample.html
  src/app/hierarchical-grid-advanced-filtering/hierarchical-grid-advanced-filtering.sample.scss
  src/app/hierarchical-grid-advanced-filtering/hierarchical-grid-advanced-filtering.sample.ts
  src/app/hierarchical-grid-remote/hierarchical-grid-remote.sample.html
  src/app/hierarchical-grid-remote/hierarchical-grid-remote.sample.ts
Labels: :white_check_mark: status: verified, grid: hierarchical-grid, grid: advanced-filtering, query-builder

#15717 feat(tree): improve tree theme
  projects/igniteui-angular/src/lib/core/styles/components/tree/_tree-theme.scss
Labels: :white_check_mark: status: resolved, :sparkles: themes, tree

#15712 feat(time-picker): improve time-picker theme
  projects/igniteui-angular/src/lib/core/styles/components/time-picker/_time-picker-theme.scss
Labels: :white_check_mark: status: verified, :clock1: time-picker, :sparkles: themes

#15683 feat(snackbar): improve snackbar theme
  projects/igniteui-angular/src/lib/core/styles/components/snackbar/_snackbar-theme.scss
Labels: :white_check_mark: status: verified, snackbar, :sparkles: themes

#15684 feat(splitter): improve splitter theme
  projects/igniteui-angular/src/lib/core/styles/components/splitter/_splitter-theme.scss
Labels: :white_check_mark: status: verified, splitter, :sparkles: themes

#15713 feat(toast): improve toast theme
  projects/igniteui-angular/src/lib/core/styles/components/toast/_toast-theme.scss
Labels: :white_check_mark: status: verified, toast, :sparkles: themes

#15421 Sizing panes corectly with minSize and when the browser is shrinked
  projects/igniteui-angular/src/lib/date-common/util/date-time.util.spec.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.spec.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
Labels: :white_check_mark: status: verified, splitter, version: 19.2.x

#15715 fix(15674): ESF to show unique time values
  projects/igniteui-angular/src/lib/data-operations/filtering-strategy.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 19.2.x

#15725 fix(input): fluent theme updates
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: :white_check_mark: status: verified, input-group, fluent-theme, design: verified, version: 19.2.x

#15699 feat(switch): improve switch theme
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
Labels: switch, :white_check_mark: status: verified, :sparkles: themes

#15619 feat(chip): improve chip custom theme functions
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
Labels: :white_check_mark: status: verified, chip, :sparkles: themes

#15676 refactor(grid-toolbar): bundle styles with component
  projects/igniteui-angular/src/lib/core/styles/themes/_standalone.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.component.scss
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar.component.ts
  projects/igniteui-angular/src/lib/grids/toolbar/themes/_base.scss
  projects/igniteui-angular/src/lib/grids/toolbar/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/grids/toolbar/themes/dark/list/_index.scss
  projects/igniteui-angular/src/lib/grids/toolbar/themes/dark/list/_tokens.scss
  projects/igniteui-angular/src/lib/grids/toolbar/themes/dark/toolbar/_index.scss
  projects/igniteui-angular/src/lib/grids/toolbar/themes/dark/toolbar/_tokens.scss
  projects/igniteui-angular/src/lib/grids/toolbar/themes/light/_index.scss
  projects/igniteui-angular/src/lib/grids/toolbar/themes/light/list/_index.scss
  projects/igniteui-angular/src/lib/grids/toolbar/themes/light/list/_tokens.scss
  projects/igniteui-angular/src/lib/grids/toolbar/themes/light/toolbar/_index.scss
  projects/igniteui-angular/src/lib/grids/toolbar/themes/light/toolbar/_tokens.scss
  projects/igniteui-angular/src/lib/grids/toolbar/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/grids/toolbar/themes/shared/_indigo.scss
Labels: :white_check_mark: status: verified, refactoring, grid: toolbar, :sparkles: themes

#15738 feat(icon-button): fix focus styles not showing
  projects/igniteui-angular/src/lib/core/styles/components/icon-button/_icon-button-theme.scss
Labels: :white_check_mark: status: verified, icon-button, version: 19.2.x

#15746 feat(icon-button): fix focus styles not showing
  projects/igniteui-angular/src/lib/core/styles/components/icon-button/_icon-button-theme.scss
Labels: :white_check_mark: status: verified, icon-button, version: 18.2.x

#15678 fix(elements): Do not destroy elements inside tmpl wrapper on detach.
  projects/igniteui-angular-elements/src/app/custom-strategy.spec.ts
  projects/igniteui-angular-elements/src/app/custom-strategy.ts
  projects/igniteui-angular-elements/src/app/wrapper/wrapper.component.ts
  projects/igniteui-angular-elements/src/index.html
Labels: :white_check_mark: status: verified, squash-merge, :diamond_shape_with_a_dot_inside: grid: elements, version: 19.2.x

#15501 feat(button-group): improve button group theme
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
Labels: :white_check_mark: status: verified, button-group, :sparkles: themes

#15525 feat(carousel): improve carousel theme and add missed properties
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
Labels: :carousel_horse: carousel, :white_check_mark: status: verified, :sparkles: themes

#15647 feat(dropdown): improve dropdown theme
  projects/igniteui-angular/src/lib/core/styles/components/drop-down/_drop-down-theme.scss
Labels: :white_check_mark: status: verified, dropdown, :sparkles: themes

#15722 feat(grid): improve grid theme
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, grid

#15723 feat(grid-summary): improve grid-summary theme
  projects/igniteui-angular/src/lib/core/styles/components/grid-summary/_grid-summary-theme.scss
Labels: :white_check_mark: status: verified, grid: summaries, :sparkles: themes

#15724 feat(grid-toolbar): improve grid-toolbar-theme
  projects/igniteui-angular/src/lib/core/styles/components/grid-toolbar/_grid-toolbar-theme.scss
Labels: :white_check_mark: status: verified, grid: toolbar, :sparkles: themes

#15654 feat(list): improve list theme
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
Labels: list, :white_check_mark: status: verified, :sparkles: themes

#15687 feat(stepper): improve stepper theme
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, stepper

#15737 feat(icon-button): improve icon-button themes
  projects/igniteui-angular/src/lib/core/styles/components/icon-button/_contained-icon-button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon-button/_flat-icon-button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon-button/_icon-button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon-button/_outlined-icon-button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, icon-button

#15682 feat(select): improve select theme
  projects/igniteui-angular/src/lib/core/styles/components/select/_select-theme.scss
Labels: :white_check_mark: status: verified, select, :sparkles: themes

#15745 fix(input): label color issue
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: material-theme, :white_check_mark: status: verified, input-group, version: 18.2.x

#15728 feat(input-group): improve input-group theme
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: input, :white_check_mark: status: verified, input-group, :sparkles: themes

#15601 feat(button): improve button themes and separate theme functions
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_contained-button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_fab-button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_flat-button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_outlined-button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
Labels: :white_check_mark: status: verified, button, :sparkles: themes

#15752 chore(*)-update-readme-19.2
  README.md
Labels: :book: documentation, version: 19.2.x

#15751 Print row dimensions to CSV properly.
  projects/igniteui-angular/src/lib/services/csv/char-separated-value-data.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter.ts
  projects/igniteui-angular/src/lib/services/csv/csv-verification-wrapper.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: :white_check_mark: status: verified, exporters, grid: pivot, version: 19.2.x

#15747 Print row dimensions to CSV properly.
  projects/igniteui-angular/src/lib/services/csv/char-separated-value-data.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter.ts
  projects/igniteui-angular/src/lib/services/csv/csv-verification-wrapper.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: :white_check_mark: status: verified, exporters, grid: pivot

#15750 Print row dimensions to CSV properly.
  projects/igniteui-angular/src/lib/services/csv/char-separated-value-data.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/csv/csv-exporter.ts
  projects/igniteui-angular/src/lib/services/csv/csv-verification-wrapper.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
Labels: :white_check_mark: status: verified, exporters, grid: pivot, version: 18.2.x

#15739 chore(*): update-roadmap-22-apr-2025
  ROADMAP.md
Labels: :book: documentation, version: 19.2.x

#15649 fix(elements): Handle template setting of components passed as event args through proxy.
  projects/igniteui-angular-elements/src/app/custom-strategy.spec.ts
  projects/igniteui-angular-elements/src/app/custom-strategy.ts
  projects/igniteui-angular-elements/src/index.html
Labels: :x: status: awaiting-test, squash-merge, :diamond_shape_with_a_dot_inside: grid: elements, version: 19.2.x

#15767 fix(chips-sample): unwrap prefix and suffix icons in wc so they're centered
  src/app/chips/chips.sample.html
Labels: :white_check_mark: status: verified, chip, samples

#15510 feat(calendar): improve calendar custom theme functions
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
Labels: :white_check_mark: status: verified, :calendar: calendar, :sparkles: themes

#15740 feat(components): remove meta from themes and use adaptive-contrast
  projects/igniteui-angular/src/lib/core/styles/components/column-actions/_column-actions-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/divider/_divider-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_pivot-data-selector-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/highlight/highlight-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon/_icon-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/label/_label-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/overlay/_overlay-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/paginator/_paginator-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/circular/_circular-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/linear/_linear-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/ripple/_ripple-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/scrollbar/scrollbar-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tooltip/_tooltip-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/watermark/_watermark-theme.scss
Labels: label, :framed_picture: icon, :white_check_mark: status: verified, circular-progress, ripple, overlay, tooltip, linear-progress, divider, text-highlight, scrollbar, paginator, watermark, grid: pivot
