Repository IgniteUI/igniteui-angular, pull requests merged in 2025-03, with the labels that each got.

#15420 fix(days-view): Update day-item selection logic to include preview range
  projects/igniteui-angular/src/lib/calendar/days-view/day-item.component.ts
Labels: :white_check_mark: status: verified, :calendar: calendar, version: 18.2.x

#15419 fix(days-view): Update day-item selection logic to include preview range
  projects/igniteui-angular/src/lib/calendar/days-view/day-item.component.ts
Labels: :white_check_mark: status: verified, :calendar: calendar, version: 19.0.x

#15418 fix(days-view): Update day-item selection logic to include preview range
  projects/igniteui-angular/src/lib/calendar/days-view/day-item.component.ts
Labels: :white_check_mark: status: verified, :calendar: calendar, version: 19.1.x

#15385 feat(progress): update linear progres props and add variants for circular
  package-lock.json
  package.json
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-19_1_1/changes/theme-changes.json
  projects/igniteui-angular/migrations/update-19_1_1/index.spec.ts
  projects/igniteui-angular/migrations/update-19_1_1/index.ts
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/progress/circular/_circular-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/circular/_circular-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/progress/linear/_linear-theme.scss
  projects/igniteui-angular/src/lib/progressbar/circularbar.component.spec.ts
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
  src/app/circular-progress-showcase/circular-progress-showcase.sample.html
  src/app/circular-progress-showcase/circular-progress-showcase.sample.ts
Labels: :white_check_mark: status: verified, circular-progress, linear-progress, :sparkles: themes, version: 19.1.x

#15447 chore(schematics): update @igniteui/angular-schematics
  projects/igniteui-angular/package.json
Labels: schematics, version: 19.1.x

#15450 refactor(card): bundle styles with component
  projects/igniteui-angular/src/lib/banner/banner.component.spec.ts
  projects/igniteui-angular/src/lib/card/card.component.scss
  projects/igniteui-angular/src/lib/card/card.component.ts
  projects/igniteui-angular/src/lib/card/themes/_base.scss
  projects/igniteui-angular/src/lib/card/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/card/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/card/themes/light/_index.scss
  projects/igniteui-angular/src/lib/card/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/card/themes/shared/_bootstrap.scss
  projects/igniteui-angular/src/lib/card/themes/shared/_fluent.scss
  projects/igniteui-angular/src/lib/card/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/card/themes/shared/_indigo.scss
  projects/igniteui-angular/src/lib/card/themes/shared/_material.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_material.scss
  src/app/card/card.sample.html
  src/app/card/card.sample.ts
  src/app/tooltip/tooltip.sample.html
Labels: :white_check_mark: status: verified, refactoring, card, :sparkles: themes

#15457 fix(esf): prevent error for untyped non-string columns when filtering grid
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-filtering.spec.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 19.1.x

#15453 fix(esf): prevent error for untyped non-string columns when filtering grid
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-filtering.spec.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, grid

#15454 fix(esf): prevent error for untyped non-string columns when filtering grid
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-filtering.spec.ts
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, version: 18.2.x

#15452 Fixing tab navigation in simple combo - 19.1
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :bug: bug, :white_check_mark: status: verified, combo

#15468 Fixing tab navigation in simple combo - 19.1
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.spec.ts
  projects/igniteui-angular/src/lib/simple-combo/simple-combo.component.ts
Labels: :bug: bug, :white_check_mark: status: verified, combo

#15463 fix(calendar): resolve layout issues caused by browser zoom
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
Labels: styling, :white_check_mark: status: verified, :calendar: calendar, version: 19.1.x

#15464 fix(calendar): resolve layout issues caused by browser zoom
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
Labels: styling, :white_check_mark: status: verified, :calendar: calendar, version: 18.2.x

#15462 fix(calendar): resolve layout issues caused by browser zoom
  projects/igniteui-angular/src/lib/core/styles/components/calendar/_calendar-theme.scss
Labels: styling, :white_check_mark: status: verified, :calendar: calendar, version: 19.2.x

#15480 feat(avatar): improve avatar theme
  projects/igniteui-angular/src/lib/core/styles/components/avatar/_avatar-theme.scss
Labels: avatar, :x: status: awaiting-test, :sparkles: themes

#15451 API analyzer adjustments 19.1
  projects/igniteui-angular-elements/src/public_api.ts
  projects/igniteui-angular/src/lib/data-operations/filtering-condition.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :book: documentation, refactoring, filtering, :diamond_shape_with_a_dot_inside: grid: elements, version: 19.1.x

#15474 API analyzer adjustments
  projects/igniteui-angular-elements/src/public_api.ts
  projects/igniteui-angular/src/lib/data-operations/filtering-condition.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
Labels: :book: documentation, refactoring, filtering, :diamond_shape_with_a_dot_inside: grid: elements, version: 19.2.x

#15376 feat(pivotGrid): Improve PivotGrid visually when there's no data or has empty area at the bottom.
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-grid.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.html
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
  src/app/pivot-grid-state/pivot-grid-state.sample.html
  src/app/pivot-grid-state/pivot-grid-state.sample.scss
Labels: :white_check_mark: status: verified, squash-merge, grid: pivot, version: 19.2.x

#15467 refactor(banner): bundle styles with component
  projects/igniteui-angular/src/lib/banner/banner.component.scss
  projects/igniteui-angular/src/lib/banner/banner.component.ts
  projects/igniteui-angular/src/lib/banner/themes/_base.scss
  projects/igniteui-angular/src/lib/banner/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/banner/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/banner/themes/light/_index.scss
  projects/igniteui-angular/src/lib/banner/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/banner/themes/shared/_fluent.scss
  projects/igniteui-angular/src/lib/banner/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/banner/themes/shared/_indigo.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_material.scss
Labels: :white_check_mark: status: verified, refactoring, banner, :sparkles: themes

#15445 fix(query-builder): returnFields should be '*' on entity change / all fileds are selected
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.spec.ts
Labels: :white_check_mark: status: verified, query-builder

#15236 refactor(carousel): remove deprecated keyboardSupport prop
  CHANGELOG.md
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-19_2_0/changes/inputs.json
  projects/igniteui-angular/migrations/update-19_2_0/index.spec.ts
  projects/igniteui-angular/migrations/update-19_2_0/index.ts
  projects/igniteui-angular/src/lib/carousel/README.md
  projects/igniteui-angular/src/lib/carousel/carousel-base.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.spec.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/carousel/slide.component.ts
Labels: :carousel_horse: carousel, :white_check_mark: status: verified, version: 19.2.x

#15455 fix(column): Update row island summaries when disabledSummaries changes - master
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: summaries

#15456 fix(column): Update row island summaries when disabledSummaries changes - 19.1.x
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.spec.ts
Labels: :white_check_mark: status: verified, grid: summaries

#15504 Update ROADMAP.md
  ROADMAP.md
Labels: :book: documentation, version: 19.2.x

#15430 test(*): leftover control flow for track adjustments
  projects/igniteui-angular/src/lib/carousel/carousel.component.spec.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/tabs/tabs/tabs.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tabs-components.spec.ts
Labels: :test_tube: ci: tests

#15295 Fixed advanced filtering count issue
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-advanced-filtering.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, squash-merge, grid: advanced-filtering, grid, version: 18.2.x

#15297 Fixed advanced filtering count issue
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-advanced-filtering.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: :white_check_mark: status: verified, grid: advanced-filtering, grid, version: 19.2.x

#15470 fix(carousel): mark for check when active slide change - master
  projects/igniteui-angular/src/lib/carousel/carousel.component.spec.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
Labels: :carousel_horse: carousel, :white_check_mark: status: verified, version: 19.2.x

#15471 fix(carousel): mark for check when active slide change - 19.1.x
  projects/igniteui-angular/src/lib/carousel/carousel.component.spec.ts
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
Labels: :carousel_horse: carousel, :white_check_mark: status: verified, version: 19.1.x

#15514 refactor(splitter): bundle styles with component
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/splitter/splitter-bar.component.html
  projects/igniteui-angular/src/lib/splitter/splitter.component.scss
  projects/igniteui-angular/src/lib/splitter/splitter.component.spec.ts
  projects/igniteui-angular/src/lib/splitter/splitter.component.ts
  projects/igniteui-angular/src/lib/splitter/themes/_base.scss
  projects/igniteui-angular/src/lib/splitter/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/splitter/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/splitter/themes/light/_index.scss
  projects/igniteui-angular/src/lib/splitter/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/splitter/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/splitter/themes/shared/indigo.scss
Labels: :white_check_mark: status: verified, splitter, :sparkles: themes

#15512 fix(input-group): empty prefix/suffix is padded
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.html
Labels: :white_check_mark: status: verified, input-group, grid: excel-style-filtering, :sparkles: themes, version: 19.2.x

#15476 refactor(expansion-panel): bundle styles with component
  projects/igniteui-angular/src/lib/core/styles/components/grid/_pivot-data-selector-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon-button/_icon-button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_material.scss
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel-header.component.html
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.component.scss
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.component.ts
  projects/igniteui-angular/src/lib/expansion-panel/expansion-panel.spec.ts
  projects/igniteui-angular/src/lib/expansion-panel/themes/_base.scss
  projects/igniteui-angular/src/lib/expansion-panel/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/expansion-panel/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/expansion-panel/themes/light/_index.scss
  projects/igniteui-angular/src/lib/expansion-panel/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/expansion-panel/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/expansion-panel/themes/shared/bootstrap.scss
  projects/igniteui-angular/src/lib/expansion-panel/themes/shared/fluent.scss
  projects/igniteui-angular/src/lib/expansion-panel/themes/shared/indigo.scss
  projects/igniteui-angular/src/lib/expansion-panel/themes/shared/material.scss
  src/app/accordion/accordion.sample.scss
Labels: :white_check_mark: status: verified, expansion-panel, :sparkles: themes, accordion

#15531 fix(grid-summaries): themes params not fully working
  package-lock.json
  package.json
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-19_1_4/changes/theme-changes.json
  projects/igniteui-angular/migrations/update-19_1_4/index.spec.ts
  projects/igniteui-angular/migrations/update-19_1_4/index.ts
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :white_check_mark: status: verified, grid: summaries, migrations, :sparkles: themes, grid, version: 19.1.x

#15508 fix(grid-summaries): themes params not fully working
  package-lock.json
  package.json
  projects/igniteui-angular/migrations/migration-collection.json
  projects/igniteui-angular/migrations/update-19_1_4/changes/theme-changes.json
  projects/igniteui-angular/migrations/update-19_1_4/index.spec.ts
  projects/igniteui-angular/migrations/update-19_1_4/index.ts
  projects/igniteui-angular/migrations/update-19_2_0/index.spec.ts
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: :white_check_mark: status: verified, grid: summaries, migrations, :sparkles: themes, grid, version: 19.2.x

#15521 refactor(query builder): provide drag service to the IgxQueryBuilderTreeComponent - 19.1.x
  projects/igniteui-angular/src/lib/query-builder/query-builder-drag.service.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.ts
Labels: query-builder, version: 19.1.x

#15524 refactor(query builder): provide drag service to the IgxQueryBuilderTreeComponent
  projects/igniteui-angular/src/lib/query-builder/query-builder-drag.service.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.ts
Labels: query-builder, version: 19.2.x

#15566 fix(grid): call condition logic only if exists
  projects/igniteui-angular/src/lib/data-operations/filtering-strategy.spec.ts
  projects/igniteui-angular/src/lib/data-operations/filtering-strategy.ts
Labels: :white_check_mark: status: verified

#15555 Fix filtering expression throwing error with no columns. Related fixes for elements Blazor grid.
  projects/igniteui-angular/src/lib/data-operations/filtering-expression.interface.ts
  projects/igniteui-angular/src/lib/data-operations/filtering-expressions-tree.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid: global-filtering, :diamond_shape_with_a_dot_inside: grid: elements, version: 19.1.x

#15523 Fix filtering expression throwing error with no columns. Related fixes for elements Blazor grid.
  projects/igniteui-angular/src/lib/data-operations/filtering-expression.interface.ts
  projects/igniteui-angular/src/lib/data-operations/filtering-expressions-tree.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :white_check_mark: status: verified, grid: global-filtering, :diamond_shape_with_a_dot_inside: grid: elements, version: 19.2.x

#15541 chore(*): updating node versions in workflows
  .github/workflows/nodejs.yml
  .github/workflows/npm-publish.yml
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
Labels: :bricks: ci: build, ci: github-actions

#15449 feat(igxGrid): Apply min/max width constraints on user-set and auto-w…
  CHANGELOG.md
  projects/igniteui-angular/src/lib/grids/columns/column.component.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
Labels: :white_check_mark: status: verified, grid, version: 19.2.x

#15503 refactor(stepper): scope styles to component
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_material.scss
  projects/igniteui-angular/src/lib/stepper/step/step.component.html
  projects/igniteui-angular/src/lib/stepper/step/step.component.scss
  projects/igniteui-angular/src/lib/stepper/step/step.component.ts
  projects/igniteui-angular/src/lib/stepper/step/themes/_base.scss
  projects/igniteui-angular/src/lib/stepper/step/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/stepper/step/themes/shared/bootstrap.scss
  projects/igniteui-angular/src/lib/stepper/step/themes/shared/fluent.scss
  projects/igniteui-angular/src/lib/stepper/step/themes/shared/indigo.scss
  projects/igniteui-angular/src/lib/stepper/step/themes/shared/material.scss
  projects/igniteui-angular/src/lib/stepper/stepper.common.ts
  projects/igniteui-angular/src/lib/stepper/stepper.component.scss
  projects/igniteui-angular/src/lib/stepper/stepper.component.spec.ts
  projects/igniteui-angular/src/lib/stepper/stepper.component.ts
  projects/igniteui-angular/src/lib/stepper/stepper.directive.ts
  projects/igniteui-angular/src/lib/stepper/themes/_base.scss
  projects/igniteui-angular/src/lib/stepper/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/stepper/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/stepper/themes/light/_index.scss
  projects/igniteui-angular/src/lib/stepper/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/stepper/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/stepper/themes/shared/bootstrap.scss
  projects/igniteui-angular/src/lib/stepper/themes/shared/fluent.scss
  projects/igniteui-angular/src/lib/stepper/themes/shared/indigo.scss
  projects/igniteui-angular/src/lib/stepper/themes/shared/material.scss
Labels: :x: status: awaiting-test, refactoring, stepper

#15473 refactor(carousel): bundle styles with component
  projects/igniteui-angular/src/lib/carousel/carousel.component.html
  projects/igniteui-angular/src/lib/carousel/carousel.component.scss
  projects/igniteui-angular/src/lib/carousel/carousel.component.ts
  projects/igniteui-angular/src/lib/carousel/themes/_base.scss
  projects/igniteui-angular/src/lib/carousel/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/carousel/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/carousel/themes/light/_index.scss
  projects/igniteui-angular/src/lib/carousel/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/carousel/themes/shared/_bootstrap.scss
  projects/igniteui-angular/src/lib/carousel/themes/shared/_fluent.scss
  projects/igniteui-angular/src/lib/carousel/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/carousel/themes/shared/_indigo.scss
  projects/igniteui-angular/src/lib/core/styles/components/button/_button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/carousel/_carousel-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/icon-button/_icon-button-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
Labels: :carousel_horse: carousel, :white_check_mark: status: verified, refactoring, button, :sparkles: themes, icon-button

#15558 refactor(slider): bundle styles with component
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_material.scss
  projects/igniteui-angular/src/lib/slider/slider.component.scss
  projects/igniteui-angular/src/lib/slider/slider.component.spec.ts
  projects/igniteui-angular/src/lib/slider/slider.component.ts
  projects/igniteui-angular/src/lib/slider/themes/_base.scss
  projects/igniteui-angular/src/lib/slider/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/slider/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/slider/themes/light/_index.scss
  projects/igniteui-angular/src/lib/slider/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/slider/themes/shared/_bootstrap.scss
  projects/igniteui-angular/src/lib/slider/themes/shared/_fluent.scss
  projects/igniteui-angular/src/lib/slider/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/slider/themes/shared/_indigo.scss
  projects/igniteui-angular/src/lib/slider/themes/shared/_material.scss
  projects/igniteui-angular/src/lib/slider/ticks/ticks.component.html
  projects/igniteui-angular/src/lib/slider/ticks/ticks.component.ts
Labels: :white_check_mark: status: verified, slider, refactoring, :sparkles: themes

#15606 refactor(switch): remove invalid state related props
  projects/igniteui-angular/migrations/update-19_2_0/changes/theme-changes.json
  projects/igniteui-angular/migrations/update-19_2_0/index.spec.ts
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/switch/_switch-theme.scss
Labels: switch, :white_check_mark: status: verified, :bangbang: breaking-change, version: 19.2.x

#15560 circular-progress - fix gradient direction and expose fill-color-default variable
  projects/igniteui-angular/src/lib/core/styles/components/progress/circular/_circular-theme.scss
Labels: :white_check_mark: status: verified, circular-progress, version: 19.2.x

#15570 [Grid]: fix sorting icon color
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: styling, :framed_picture: icon, :x: status: awaiting-test, grid, version: 19.2.x

#15572 [Grid]: fix sorting icon color
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: styling, :framed_picture: icon, :x: status: awaiting-test, grid, version: 18.2.x

#15613 fix(query-builder): refactor drag and drop test - master
  projects/igniteui-angular/src/lib/query-builder/query-builder-functions.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.spec.ts
Labels: :x: status: awaiting-test, query-builder, version: 19.2.x

#15614 fix(query-builder): refactor drag and drop test - 19.1.x
  projects/igniteui-angular/src/lib/query-builder/query-builder-functions.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.spec.ts
Labels: :new: status: new, query-builder, version: 19.1.x

#15552 Query Builder - fix keyboard ghost text color
  projects/igniteui-angular/src/lib/core/styles/components/query-builder/_query-builder-theme.scss
Labels: :white_check_mark: status: verified, query-builder, version: 19.2.x

#15553 Query Builder - fix keyboard ghost text color
  projects/igniteui-angular/src/lib/core/styles/components/query-builder/_query-builder-theme.scss
Labels: :white_check_mark: status: verified, query-builder, version: 19.1.x

#15569 refactor(btn-group): bundle styles with component
  projects/igniteui-angular/src/lib/buttonGroup/buttonGroup.component.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup-content.component.html
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup-content.component.scss
  projects/igniteui-angular/src/lib/buttonGroup/themes/_base.scss
  projects/igniteui-angular/src/lib/buttonGroup/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/buttonGroup/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/buttonGroup/themes/light/_index.scss
  projects/igniteui-angular/src/lib/buttonGroup/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/buttonGroup/themes/shared/_bootstrap.scss
  projects/igniteui-angular/src/lib/buttonGroup/themes/shared/_fluent.scss
  projects/igniteui-angular/src/lib/buttonGroup/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/buttonGroup/themes/shared/_indigo.scss
  projects/igniteui-angular/src/lib/buttonGroup/themes/shared/_material.scss
  projects/igniteui-angular/src/lib/core/styles/components/button-group/_button-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_material.scss
Labels: :white_check_mark: status: verified, refactoring, button-group, :sparkles: themes

#15602 fix(query-builder): prevent fields collection change - 19.1.x
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.spec.ts
Labels: :x: status: awaiting-test, query-builder, version: 19.1.x
