Repository IgniteUI/igniteui-angular, pull requests merged in 2025-02, with the labels that each got.

#15310 fix(icon-button): remove z-index to material outlined button
  projects/igniteui-angular/src/lib/core/styles/components/icon-button/_icon-button-theme.scss
Labels: material-theme, :white_check_mark: status: verified, icon-button, version: 19.1.x

#15312 fix(icon-button): remove z-index to material outlined button
  projects/igniteui-angular/src/lib/core/styles/components/icon-button/_icon-button-theme.scss
Labels: material-theme, :x: status: awaiting-test, icon-button, version: 18.2.x

#15311 fix(icon-button): remove z-index to material outlined button
  projects/igniteui-angular/src/lib/core/styles/components/icon-button/_icon-button-theme.scss
Labels: material-theme, :white_check_mark: status: verified, icon-button, version: 19.0.x

#15122 Query-builder conditions Drag&Drop functionality (take 2 - no chip gaps)
  .vscode/settings.json
  package-lock.json
  package.json
  projects/igniteui-angular-i18n/src/i18n/BG/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/query-builder-resources.ts
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/i18n/query-builder-resources.ts
  projects/igniteui-angular/src/lib/core/styles/components/dialog/_dialog-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/query-builder/_query-builder-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/query-builder/_query-builder-theme.scss
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.html
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/query-builder/README.md
  projects/igniteui-angular/src/lib/query-builder/query-builder-drag.service.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder-functions.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder-header.component.html
  projects/igniteui-angular/src/lib/query-builder/query-builder-header.component.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.html
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.html
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.ts
  src/app/query-builder/query-builder.sample.html
  src/app/query-builder/query-builder.sample.scss
  src/app/query-builder/query-builder.sample.ts
Labels: :new: status: new, :white_check_mark: status: verified, design: awaiting-validation, query-builder

#15338 refactor(divider): convert to component and bundle styles
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/date-common/calendar-container/calendar-container.component.ts
  projects/igniteui-angular/src/lib/directives/divider/divider.component.scss
  projects/igniteui-angular/src/lib/directives/divider/divider.component.ts
  projects/igniteui-angular/src/lib/directives/divider/divider.module.ts
  projects/igniteui-angular/src/lib/directives/divider/divider.spec.ts
  projects/igniteui-angular/src/lib/directives/divider/themes/_base.scss
  projects/igniteui-angular/src/lib/directives/divider/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/directives/divider/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/directives/divider/themes/light/_index.scss
  projects/igniteui-angular/src/lib/directives/divider/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/directives/divider/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/directives/divider/themes/shared/_indigo.scss
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
  projects/igniteui-angular/src/public_api.ts
  src/app/divider/divider.component.ts
Labels: :white_check_mark: status: verified, divider, :sparkles: themes

#15339 fix(checkbox): add back LabelPosition to exported members
  projects/igniteui-angular/src/lib/checkbox/checkbox.component.ts
  projects/igniteui-angular/src/lib/checkbox/public_api.ts
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.ts
  projects/igniteui-angular/src/public_api.ts
Labels: checkbox, :white_check_mark: status: verified, version: 19.1.x

#15329 fix(igxTreeGrid): Re-eval correct row after collapsing. Add test.
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-add-row-ui.spec.ts
Labels: :white_check_mark: status: verified, grid: tree-grid, version: 18.2.x

#15328 fix(igxTreeGrid): Re-eval correct row after collapsing. Add test.
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid-add-row-ui.spec.ts
Labels: :white_check_mark: status: verified, grid: tree-grid, version: 19.0.x

#15341 refactor(dialog): bundle styles with component
  projects/igniteui-angular/src/lib/badge/badge.component.ts
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/dialog/dialog.component.scss
  projects/igniteui-angular/src/lib/dialog/dialog.component.ts
  projects/igniteui-angular/src/lib/dialog/themes/_base.scss
  projects/igniteui-angular/src/lib/dialog/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/dialog/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/dialog/themes/light/_index.scss
  projects/igniteui-angular/src/lib/dialog/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/dialog/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/dialog/themes/shared/bootstrap.scss
  projects/igniteui-angular/src/lib/dialog/themes/shared/fluent.scss
  projects/igniteui-angular/src/lib/dialog/themes/shared/indigo.scss
  projects/igniteui-angular/src/lib/dialog/themes/shared/material.scss
Labels: dialog, :white_check_mark: status: verified, refactoring, :sparkles: themes

#15344 refactor(toast): bundle styles with component
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_material.scss
  projects/igniteui-angular/src/lib/toast/themes/_base.scss
  projects/igniteui-angular/src/lib/toast/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/toast/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/toast/themes/light/_index.scss
  projects/igniteui-angular/src/lib/toast/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/toast/themes/shared/_bootstrap.scss
  projects/igniteui-angular/src/lib/toast/themes/shared/_fluent.scss
  projects/igniteui-angular/src/lib/toast/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/toast/toast.component.scss
  projects/igniteui-angular/src/lib/toast/toast.component.ts
Labels: :white_check_mark: status: verified, toast, :sparkles: themes

#15294 refactor(radio): bundle styles with component
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/radio/radio.component.scss
  projects/igniteui-angular/src/lib/radio/radio.component.ts
  projects/igniteui-angular/src/lib/radio/themes/_base.scss
  projects/igniteui-angular/src/lib/radio/themes/dark/_bootstrap.scss
  projects/igniteui-angular/src/lib/radio/themes/dark/_fluent.scss
  projects/igniteui-angular/src/lib/radio/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/radio/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/radio/themes/light/_index.scss
  projects/igniteui-angular/src/lib/radio/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/radio/themes/shared/_bootstrap.scss
  projects/igniteui-angular/src/lib/radio/themes/shared/_fluent.scss
  projects/igniteui-angular/src/lib/radio/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/radio/themes/shared/_indigo.scss
  projects/igniteui-angular/src/lib/radio/themes/shared/_material.scss
Labels: radio-button, :white_check_mark: status: verified, refactoring, radio-group, :sparkles: themes

#15307 fix(mem-leak): Fix potential memory leaks.
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
Labels: :white_check_mark: status: verified, paginator, version: 19.1.x

#15308 fix(mem-leak): Fix potential memory leaks.
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
Labels: :white_check_mark: status: verified, paginator, version: 19.0.x

#15309 fix(mem-leak): Fix potential memory leaks.
  projects/igniteui-angular/src/lib/directives/button/button.directive.ts
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
Labels: :white_check_mark: status: verified, paginator, version: 18.2.x

#15343 Query-Builder Focus on dropped chip after Drag&Drop
  projects/igniteui-angular/src/lib/query-builder/query-builder-drag.service.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.spec.ts
Labels: :white_check_mark: status: verified, query-builder

#15349 fix(hound): handmade palette not working
  src/styles/hound/_palette.scss
Labels: :white_check_mark: status: verified, :sparkles: themes, version: 19.1.x

#15345 refactor(navbar): bundle styles with component
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/navbar/navbar.component.scss
  projects/igniteui-angular/src/lib/navbar/navbar.component.ts
  projects/igniteui-angular/src/lib/navbar/themes/_base.scss
  projects/igniteui-angular/src/lib/navbar/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/navbar/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/navbar/themes/light/_index.scss
  projects/igniteui-angular/src/lib/navbar/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/navbar/themes/shared/_bootstrap.scss
  projects/igniteui-angular/src/lib/navbar/themes/shared/_fluent.scss
  projects/igniteui-angular/src/lib/navbar/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/navbar/themes/shared/_indigo.scss
  projects/igniteui-angular/src/lib/navbar/themes/shared/_material.scss
Labels: :white_check_mark: status: verified, refactoring, navbar, :sparkles: themes

#15323 fix(combo): fix combo search input to always be line and fix componen…
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
Labels: :white_check_mark: status: verified, input-group, combo, version: 19.1.x

#15351 fix(combo): fix combo search input theme and type
  projects/igniteui-angular/src/lib/combo/combo.component.html
  projects/igniteui-angular/src/lib/input-group/input-group.component.ts
Labels: :white_check_mark: status: verified, input-group, combo, version: 19.0.x

#15346 refactor(snackbar): bundle styles with component
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_material.scss
  projects/igniteui-angular/src/lib/snackbar/snackbar.component.scss
  projects/igniteui-angular/src/lib/snackbar/snackbar.component.ts
  projects/igniteui-angular/src/lib/snackbar/themes/_base.scss
  projects/igniteui-angular/src/lib/snackbar/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/snackbar/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/snackbar/themes/light/_index.scss
  projects/igniteui-angular/src/lib/snackbar/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/snackbar/themes/shared/_fluent.scss
  projects/igniteui-angular/src/lib/snackbar/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/snackbar/themes/shared/_indigo.scss
Labels: :white_check_mark: status: verified, snackbar, :sparkles: themes

#15356 fix(elements): fluent light theme duplication
  projects/igniteui-angular-elements/src/themes/light/fluent.scss
Labels: :diamond_shape_with_a_dot_inside: grid: elements, version: 19.1.x

#15355 fix(elements): fluent light theme duplication
  projects/igniteui-angular-elements/src/themes/light/fluent.scss
Labels: :diamond_shape_with_a_dot_inside: grid: elements, version: 19.0.x

#15269 refactor(switch): bundle styles with component
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/switch/switch.component.scss
  projects/igniteui-angular/src/lib/switch/switch.component.ts
  projects/igniteui-angular/src/lib/switch/themes/_base.scss
  projects/igniteui-angular/src/lib/switch/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/switch/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/switch/themes/light/_index.scss
  projects/igniteui-angular/src/lib/switch/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/switch/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/switch/themes/shared/bootstrap.scss
  projects/igniteui-angular/src/lib/switch/themes/shared/fluent.scss
  projects/igniteui-angular/src/lib/switch/themes/shared/indigo.scss
  projects/igniteui-angular/src/lib/switch/themes/shared/material.scss
Labels: switch, :white_check_mark: status: verified, refactoring, :sparkles: themes

#15340 Resolve control flow warnings in grid and tree grid.
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/common.ts
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-custom-dialog.component.html
  projects/igniteui-angular/src/lib/grids/filtering/excel-style/excel-style-search.component.html
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.html
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
Labels: grid: tree-grid, grid, optimization

#15361 refactor(list): bundle styles with component
  projects/igniteui-angular/src/lib/checkbox/themes/shared/_material.scss
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_core.scss
  projects/igniteui-angular/src/lib/core/styles/themes/_standalone.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_material.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_typography.scss
  projects/igniteui-angular/src/lib/list/list-item.component.html
  projects/igniteui-angular/src/lib/list/list-item.component.ts
  projects/igniteui-angular/src/lib/list/list.component.scss
  projects/igniteui-angular/src/lib/list/list.component.spec.ts
  projects/igniteui-angular/src/lib/list/list.component.ts
  projects/igniteui-angular/src/lib/list/themes/_base.scss
  projects/igniteui-angular/src/lib/list/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/list/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/list/themes/light/_index.scss
  projects/igniteui-angular/src/lib/list/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/list/themes/shared/_bootstrap.scss
  projects/igniteui-angular/src/lib/list/themes/shared/_fluent.scss
  projects/igniteui-angular/src/lib/list/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/list/themes/shared/_indigo.scss
  projects/igniteui-angular/src/lib/list/themes/shared/_material.scss
  src/app/list/list.sample.html
  src/app/list/list.sample.scss
  src/app/list/list.sample.ts
  src/styles/_demo-theme.scss
Labels: :chart_with_upwards_trend: enhancement, list, :white_check_mark: status: verified, :sparkles: themes

#15358 fix(chip): wrong colors
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
Labels: :white_check_mark: status: verified, chip, version: 19.1.x

#15360 fix(time-picker): exclude from SSR toggle events #15135
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: :white_check_mark: status: verified, :clock1: time-picker, angular: ssr, version: 18.2.x

#15359 fix(time-picker): exclude from SSR toggle events #15135
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: :white_check_mark: status: verified, :clock1: time-picker, angular: ssr, version: 19.0.x

#15357 fix(time-picker): exclude from SSR toggle events #15135
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: :white_check_mark: status: verified, :clock1: time-picker, angular: ssr, version: 19.1.x

#15369 Ensure hours stay clamped within 0-23 when interacting with AM/PM - 18.2.x
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: :white_check_mark: status: verified, :clock1: time-picker, version: 18.2.x

#15368 Ensure hours stay clamped within 0-23 when interacting with AM/PM - 19.0.x
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: :white_check_mark: status: verified, :clock1: time-picker, version: 19.0.x

#15367 Ensure hours stay clamped within 0-23 when interacting with AM/PM
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.spec.ts
  projects/igniteui-angular/src/lib/time-picker/time-picker.component.ts
Labels: :x: status: awaiting-test, :white_check_mark: status: verified, :clock1: time-picker, version: 19.1.x

#15371 refactor(chip): bundle styles with component
  projects/igniteui-angular/src/lib/chips/chip.component.html
  projects/igniteui-angular/src/lib/chips/chip.component.scss
  projects/igniteui-angular/src/lib/chips/chip.component.ts
  projects/igniteui-angular/src/lib/chips/themes/_base.scss
  projects/igniteui-angular/src/lib/chips/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/chips/themes/dark/_indigo.scss
  projects/igniteui-angular/src/lib/chips/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/chips/themes/light/_index.scss
  projects/igniteui-angular/src/lib/chips/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/chips/themes/shared/_bootstrap.scss
  projects/igniteui-angular/src/lib/chips/themes/shared/_fluent.scss
  projects/igniteui-angular/src/lib/chips/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/chips/themes/shared/_indigo.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_material.scss
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.directive.ts
  projects/igniteui-angular/src/lib/directives/drag-drop/drag-drop.spec.ts
  src/app/chips/chips.sample.html
  src/app/chips/chips.sample.ts
Labels: :white_check_mark: status: verified, chip

#15365 refactor(navdrawer): bundle styles with component
  projects/igniteui-angular/src/lib/badge/themes/_base.scss
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_material.scss
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.scss
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.spec.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.component.ts
  projects/igniteui-angular/src/lib/navigation-drawer/navigation-drawer.directives.ts
  projects/igniteui-angular/src/lib/navigation-drawer/themes/_base.scss
  projects/igniteui-angular/src/lib/navigation-drawer/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/navigation-drawer/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/navigation-drawer/themes/light/_index.scss
  projects/igniteui-angular/src/lib/navigation-drawer/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/navigation-drawer/themes/shared/_bootstrap.scss
  projects/igniteui-angular/src/lib/navigation-drawer/themes/shared/_fluent.scss
  projects/igniteui-angular/src/lib/navigation-drawer/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/navigation-drawer/themes/shared/_indigo.scss
  projects/igniteui-angular/src/lib/navigation-drawer/themes/shared/_material.scss
  src/app/app.component.html
Labels: nav-drawer, :x: status: awaiting-test, refactoring, :sparkles: themes

#15380 Update ROADMAP.md
  ROADMAP.md
Labels: :book: documentation, version: 19.1.x

#15393 fix(moving-dir): takeUntil import compatible with rxjs 6
  projects/igniteui-angular/src/lib/grids/moving/moving.drag.directive.ts
Labels: version: 18.2.x

#15392 fix(moving-dir): takeUntil import compatible with rxjs 6 - 19.0.x
  projects/igniteui-angular/src/lib/grids/moving/moving.drag.directive.ts
Labels: version: 19.0.x

#15391 fix(moving-dir): takeUntil import compatible with rxjs 6
  projects/igniteui-angular/src/lib/grids/moving/moving.drag.directive.ts
Labels: version: 19.1.x

#15246 fix(excel-export): Get correct grid column collection from row island…
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-components.spec.ts
Labels: :white_check_mark: status: verified, excel-exporter, grid: multi-column-headers, version: 19.1.x

#15247 fix(excel-export): Get correct grid column collection from row island…
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-components.spec.ts
Labels: :white_check_mark: status: verified, excel-exporter, grid: multi-column-headers, version: 19.0.x

#15248 fix(excel-export): Get correct grid column collection from row island…
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/test-utils/hierarchical-grid-components.spec.ts
Labels: :white_check_mark: status: verified, excel-exporter, grid: multi-column-headers, version: 18.2.x

#15401 fix(*): Renamed nested query condtions
  projects/igniteui-angular/src/lib/data-operations/expressions-tree-util.spec.ts
  projects/igniteui-angular/src/lib/data-operations/filtering-condition.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder-functions.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.html
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.spec.ts
  src/app/query-builder/query-builder.sample.ts
Labels: :white_check_mark: status: verified, query-builder

#15381 IgxQueryBuilderComponent: expose disableReturnFieldsChange & empty header title
  CHANGELOG.md
  projects/igniteui-angular-i18n/src/i18n/BG/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/query-builder-resources.ts
  projects/igniteui-angular/migrations/update-19_1_0/changes/inputs.json
  projects/igniteui-angular/migrations/update-19_1_0/index.spec.ts
  projects/igniteui-angular/migrations/update-19_1_0/index.ts
  projects/igniteui-angular/src/lib/core/i18n/query-builder-resources.ts
  projects/igniteui-angular/src/lib/core/styles/components/query-builder/_query-builder-theme.scss
  projects/igniteui-angular/src/lib/query-builder/README.md
  projects/igniteui-angular/src/lib/query-builder/query-builder-functions.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder-header.component.html
  projects/igniteui-angular/src/lib/query-builder/query-builder-header.component.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.html
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.html
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder.component.ts
  src/app/query-builder/query-builder.sample.html
  src/app/query-builder/query-builder.sample.ts
Labels: :white_check_mark: status: verified, query-builder

#15394 fix(chip): Make sure that the suffix and prefix have ellipsis if they had longer text.
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
Labels: :white_check_mark: status: verified, chip, version: 19.1.x

#15395 fix(chip): Make sure that the suffix and prefix have ellipsis if they had longer text.
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
Labels: :white_check_mark: status: verified, chip, version: 19.0.x

#15396 fix(chip): Make sure that the suffix and prefix have ellipsis if they had longer text.
  projects/igniteui-angular/src/lib/core/styles/components/chip/_chip-theme.scss
Labels: :white_check_mark: status: verified, chip, version: 18.2.x

#15402 fix(grid): Update grid cell active state selector specificity
  projects/igniteui-angular/src/lib/core/styles/components/grid/_grid-theme.scss
Labels: styling, :x: status: awaiting-test, grid, version: 19.1.x

#15405 fix(combo): fix hover state for clear icon in disabled combo
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
Labels: styling, :white_check_mark: status: verified, combo, version: 19.1.x

#15406 fix(combo): fix hover state for clear icon in disabled combo
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
Labels: styling, :white_check_mark: status: verified, combo, version: 19.0.x

#15407 fix(combo): fix hover state for clear icon in disabled combo
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
Labels: styling, :x: status: awaiting-test, combo, version: 18.2.x

#15410 fix(checkbox): export the LabelPosition as constant
  projects/igniteui-angular/src/lib/checkbox/public_api.ts
Labels: checkbox, :white_check_mark: status: verified, triage: blocking, version: 19.1.x

#15417 test(*): apply control flow suggestions
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-editing-actions.component.spec.ts
  projects/igniteui-angular/src/lib/action-strip/grid-actions/grid-pinning-actions.component.spec.ts
  projects/igniteui-angular/src/lib/buttonGroup/buttongroup.component.spec.ts
  projects/igniteui-angular/src/lib/chips/chip.spec.ts
  projects/igniteui-angular/src/lib/chips/chips-area.spec.ts
  projects/igniteui-angular/src/lib/directives/filter/filter.directive.spec.ts
  projects/igniteui-angular/src/lib/drop-down/drop-down.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/cell.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-mrl-keyboard-nav.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-row-pinning.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.master-detail.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.integration.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.multi-row-layout.spec.ts
  projects/igniteui-angular/src/lib/grids/state.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/state.hierarchicalgrid.spec.ts
  projects/igniteui-angular/src/lib/grids/state.treegrid.spec.ts
  projects/igniteui-angular/src/lib/radio/radio.component.spec.ts
  projects/igniteui-angular/src/lib/select/select.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-mch-sample.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/grid-validation-samples.spec.ts
  projects/igniteui-angular/src/lib/test-utils/template-strings.spec.ts
  projects/igniteui-angular/src/lib/tree/tree-samples.spec.ts
  projects/igniteui-angular/src/lib/tree/tree.spec.ts
Labels: :test_tube: ci: tests

#15414 feat(list): add selected property to the list-item component
  CHANGELOG.md
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/list/_list-theme.scss
  projects/igniteui-angular/src/lib/list/list-item.component.ts
  projects/igniteui-angular/src/lib/list/list.component.spec.ts
  projects/igniteui-angular/src/lib/test-utils/list-components.spec.ts
  src/app/list/list.sample.html
  src/app/list/list.sample.ts
Labels: list, :white_check_mark: status: verified, version: 19.1.x

#15375 fix(combo/select): toggle button styles
  projects/igniteui-angular/src/lib/core/styles/components/combo/_combo-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/select/_select-theme.scss
Labels: material-theme, input, :white_check_mark: status: verified, combo, select, design: verified, version: 19.1.x

#15387 Make tests pass in western hemisphere
  .github/workflows/nodejs.yml
  projects/igniteui-angular/src/lib/calendar/calendar-multi-view.component.spec.ts
  projects/igniteui-angular/src/lib/directives/date-time-editor/date-time-editor.directive.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/column.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-summary.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.spec.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.groupby.spec.ts
  projects/igniteui-angular/src/lib/test-utils/calendar-helper-utils.ts
  projects/igniteui-angular/src/lib/test-utils/helper-utils.spec.ts
  projects/igniteui-angular/src/lib/test-utils/sample-test-data.spec.ts
Labels: :test_tube: ci: tests
