Repository IgniteUI/igniteui-angular, pull requests merged in 2025-05, with the labels that each got.

#15762 fix(Highlight): Check if the highlight group exists before activation.
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
Labels: text-highlight

#15764 fix(Highlight): Check if the highlight group exists before activation.
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/text-highlight/text-highlight.directive.ts
Labels: text-highlight

#15779 fix(elements): toolbar actions correct parents meta
  projects/igniteui-angular-elements/src/analyzer/elements.config.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-advanced-filtering.component.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-exporter.component.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-hiding.component.ts
  projects/igniteui-angular/src/lib/grids/toolbar/grid-toolbar-pinning.component.ts
Labels: :book: documentation, :white_check_mark: status: verified, grid: toolbar, :diamond_shape_with_a_dot_inside: grid: elements, version: 19.2.x

#15784 fix(elements): template render part connectivity on embedded view des…
  projects/igniteui-angular-elements/src/app/wrapper/template-ref-wrapper.ts
  projects/igniteui-angular-elements/src/app/wrapper/wrapper.component.spec.ts
  projects/igniteui-angular-elements/src/app/wrapper/wrapper.component.ts
Labels: :diamond_shape_with_a_dot_inside: grid: elements, version: 19.2.x

#15786 Hide the tooltip on destroying its target.
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip-target.directive.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tooltip-components.spec.ts
Labels: :white_check_mark: status: verified, tooltip, version: 18.2.x

#15785 Hide the tooltip on destroying its target.
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip-target.directive.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.spec.ts
  projects/igniteui-angular/src/lib/test-utils/tooltip-components.spec.ts
Labels: :white_check_mark: status: verified, tooltip, version: 19.2.x

#15720 [Progress bars]: Bundle theme styles with component
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/progressbar/circular/circular-bar.component.html
  projects/igniteui-angular/src/lib/progressbar/circular/circular-bar.component.scss
  projects/igniteui-angular/src/lib/progressbar/circular/themes/_animations.scss
  projects/igniteui-angular/src/lib/progressbar/circular/themes/_base.scss
  projects/igniteui-angular/src/lib/progressbar/circular/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/progressbar/circular/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/progressbar/circular/themes/light/_index.scss
  projects/igniteui-angular/src/lib/progressbar/circular/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/progressbar/circular/themes/shared/_bootstrap.scss
  projects/igniteui-angular/src/lib/progressbar/circular/themes/shared/_fluent.scss
  projects/igniteui-angular/src/lib/progressbar/circular/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/progressbar/circular/themes/shared/_indigo.scss
  projects/igniteui-angular/src/lib/progressbar/circular/themes/shared/_material.scss
  projects/igniteui-angular/src/lib/progressbar/linear/linear-bar.component.html
  projects/igniteui-angular/src/lib/progressbar/linear/linear-bar.component.scss
  projects/igniteui-angular/src/lib/progressbar/linear/themes/_animations.scss
  projects/igniteui-angular/src/lib/progressbar/linear/themes/_base.scss
  projects/igniteui-angular/src/lib/progressbar/linear/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/progressbar/linear/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/progressbar/linear/themes/light/_index.scss
  projects/igniteui-angular/src/lib/progressbar/linear/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/progressbar/linear/themes/shared/_bootstrap.scss
  projects/igniteui-angular/src/lib/progressbar/linear/themes/shared/_fluent.scss
  projects/igniteui-angular/src/lib/progressbar/linear/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/progressbar/linear/themes/shared/_indigo.scss
  projects/igniteui-angular/src/lib/progressbar/linear/themes/shared/_material.scss
  projects/igniteui-angular/src/lib/progressbar/progressbar.component.ts
  projects/igniteui-angular/src/lib/progressbar/templates/linear-bar.component.html
Labels: styling, :white_check_mark: status: verified, circular-progress, progress-bar, linear-progress, :sparkles: themes

#15772 refactor(pivot-grid): bundle styles with component
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.component.scss
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-data-selector.component.ts
  projects/igniteui-angular/src/lib/grids/pivot-grid/themes/_base.scss
  projects/igniteui-angular/src/lib/grids/pivot-grid/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/grids/pivot-grid/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/grids/pivot-grid/themes/light/_index.scss
  projects/igniteui-angular/src/lib/grids/pivot-grid/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/grids/pivot-grid/themes/shared/_bootstrap.scss
  projects/igniteui-angular/src/lib/grids/pivot-grid/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/grids/pivot-grid/themes/shared/_material.scss
Labels: :white_check_mark: status: verified, refactoring, :sparkles: themes, grid: pivot

#15760 fix(stepper): use text hover properties for the header
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
Labels: :white_check_mark: status: verified, stepper, version: 19.2.x

#15759 refactor(directives): wrap styles in base layer
  projects/igniteui-angular/src/lib/core/styles/components/highlight/highlight-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/label/_label-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/ripple/_ripple-theme.scss
  projects/igniteui-angular/src/lib/core/styles/components/tooltip/_tooltip-theme.scss
Labels: :white_check_mark: status: verified, refactoring, ripple, tooltip, text-highlight, :sparkles: themes

#15765 refactor(column-actions): bundle styles with component
  projects/igniteui-angular/src/lib/core/styles/themes/generators/_base.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_bootstrap.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_fluent.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_indigo.scss
  projects/igniteui-angular/src/lib/core/styles/typography/_material.scss
  projects/igniteui-angular/src/lib/grids/column-actions/column-actions.component.scss
  projects/igniteui-angular/src/lib/grids/column-actions/column-actions.component.ts
  projects/igniteui-angular/src/lib/grids/column-actions/themes/_base.scss
  projects/igniteui-angular/src/lib/grids/column-actions/themes/dark/_index.scss
  projects/igniteui-angular/src/lib/grids/column-actions/themes/dark/_tokens.scss
  projects/igniteui-angular/src/lib/grids/column-actions/themes/light/_index.scss
  projects/igniteui-angular/src/lib/grids/column-actions/themes/light/_tokens.scss
  projects/igniteui-angular/src/lib/grids/column-actions/themes/shared/_index.scss
  projects/igniteui-angular/src/lib/grids/column-actions/themes/shared/material.scss
Labels: :white_check_mark: status: verified, refactoring, :sparkles: themes, grid: column-actions

#15761 fix(stepper): use text hover properties for the header
  projects/igniteui-angular/src/lib/core/styles/components/stepper/_stepper-theme.scss
Labels: :white_check_mark: status: verified, stepper, version: 18.2.x

#15805 fix(tabs): in indigo theme use focus-within instead of :focus-visible
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
Labels: styling, :white_check_mark: status: verified, tabs, indigo-theme, version: 19.2.x

#15803 fix(tabs): fix border in bootstrap theme
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
Labels: :white_check_mark: status: verified, tabs, bootstrap-theme, version: 19.2.x

#15804 fix(tabs): fix border in bootstrap theme
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
Labels: :white_check_mark: status: verified, tabs, bootstrap-theme, version: 18.2.x

#15807 fix(tabs): border-color--hover not working when creating a custom theme
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
Labels: styling, :white_check_mark: status: verified, tabs, version: 18.2.x

#15806 Fixed Pivot grid export to excel with hierarchical row dimensions.
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/excel/zip-verification-wrapper.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/test-utils/pivot-grid-samples.spec.ts
Labels: :white_check_mark: status: verified, excel-exporter, grid: pivot, version: 18.2.x

#15812 fix(tabs): border-color--hover not working when creating a custom theme
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/tabs/_tabs-theme.scss
Labels: styling, :white_check_mark: status: verified, tabs, version: 19.2.x

#15802 Fixed Pivot grid export to excel with hierarchical row dimensions.
  projects/igniteui-angular/src/lib/services/excel/excel-exporter-grid.spec.ts
  projects/igniteui-angular/src/lib/services/excel/excel-files.ts
  projects/igniteui-angular/src/lib/services/excel/test-data.service.spec.ts
  projects/igniteui-angular/src/lib/services/exporter-common/base-export-service.ts
  projects/igniteui-angular/src/lib/test-utils/pivot-grid-samples.spec.ts
Labels: :white_check_mark: status: verified, excel-exporter, grid: pivot, version: 19.2.x

#15822 Fixed AFD to show column headers (when available) instead of the actual field names.
  projects/igniteui-angular/src/lib/grids/filtering/advanced-filtering/advanced-filtering-dialog.component.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
Labels: :white_check_mark: status: verified, grid: advanced-filtering, version: 19.2.x

#15817 fix(AdvancedFiltering): Adding missing resource strings in AFD from the redesigned QB
  projects/igniteui-angular-i18n/src/i18n/BG/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/grid-resources.ts
  projects/igniteui-angular/src/lib/core/i18n/grid-resources.ts
  projects/igniteui-angular/src/lib/grids/grid/grid-filtering-advanced.spec.ts
  projects/igniteui-angular/src/lib/query-builder/query-builder-tree.component.html
Labels: status: pending-localization, :white_check_mark: status: verified, grid: advanced-filtering, localization, query-builder

#15830 fix(pivot): add null check in case there's no initial data.
  projects/igniteui-angular/src/lib/grids/pivot-grid/pivot-header-row.component.ts
Labels: :white_check_mark: status: verified, grid: pivot, version: 19.2.x

#15814 fix(crud): Change how we differentiate between add and edit row
  projects/igniteui-angular/src/lib/grids/common/crud.service.ts
  projects/igniteui-angular/src/lib/grids/common/pipes.ts
  projects/igniteui-angular/src/lib/grids/grid-base.directive.ts
  projects/igniteui-angular/src/lib/grids/grid-public-row.ts
  projects/igniteui-angular/src/lib/grids/grid/grid.component.html
  projects/igniteui-angular/src/lib/grids/hierarchical-grid/hierarchical-grid.component.html
  projects/igniteui-angular/src/lib/grids/row.directive.ts
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.component.html
  projects/igniteui-angular/src/lib/grids/tree-grid/tree-grid.pipes.ts
Labels: :white_check_mark: status: verified, grid: row-adding, grid, version: 19.2.x

#15821 fix(input-group): fix browser autofill issue
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-component.scss
  projects/igniteui-angular/src/lib/core/styles/components/input/_input-group-theme.scss
Labels: input, :white_check_mark: status: verified, input-group, version: 18.2.x

#15793 feat(radio-group): label styles
  package-lock.json
  package.json
  projects/igniteui-angular/package.json
  projects/igniteui-angular/src/lib/core/styles/components/label/_label-theme.scss
  projects/igniteui-angular/src/lib/directives/radio/radio-group.directive.ts
  projects/igniteui-angular/src/lib/radio/themes/_base.scss
  projects/igniteui-angular/src/lib/radio/themes/shared/_bootstrap.scss
  projects/igniteui-angular/src/lib/radio/themes/shared/_fluent.scss
  projects/igniteui-angular/src/lib/radio/themes/shared/_indigo.scss
  projects/igniteui-angular/src/lib/radio/themes/shared/_material.scss
  src/app/input-controls/input-controls.sample.html
Labels: label, :white_check_mark: status: verified, radio-group

#15829 refactor(ESF): update move and sort icon sizes
  projects/igniteui-angular/src/lib/core/styles/components/grid/_excel-filtering-theme.scss
Labels: :white_check_mark: status: verified, grid: excel-style-filtering, design: verified, version: 19.2.x

#15828 refactor(grid-summary): remove redundant code and colors
  package-lock.json
  package.json
  projects/igniteui-angular/src/lib/core/styles/components/grid-summary/_grid-summary-theme.scss
  projects/igniteui-angular/src/lib/grids/summaries/themes/_base.scss
Labels: :white_check_mark: status: verified, grid: summaries

#15815 fix(tooltip): make touch events passive - 18.2.x
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip-target.directive.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  projects/igniteui-angular/src/lib/test-utils/tooltip-components.spec.ts
Labels: :white_check_mark: status: verified, tooltip, version: 18.2.x

#15813 fix(tooltip): make touch events passive - 19.2.x
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip-target.directive.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.spec.ts
  projects/igniteui-angular/src/lib/directives/tooltip/tooltip.directive.ts
  projects/igniteui-angular/src/lib/test-utils/tooltip-components.spec.ts
Labels: :white_check_mark: status: verified, tooltip, version: 19.2.x

#15860 fix(AdvancedFiltering): resource strings localization and fixes
  projects/igniteui-angular-i18n/src/i18n/BG/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/CS/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DA/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/DE/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ES/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/FR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/HU/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/IT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/JA/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/KO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NB/query-builder-resources.ts
  projects/igniteui-angular-i18n/src/i18n/NL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PL/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/PT/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/RO/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/SV/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/TR/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANS/grid-resources.ts
  projects/igniteui-angular-i18n/src/i18n/ZH-HANT/grid-resources.ts
Labels: grid: advanced-filtering, localization, version: 19.2.x
